/** Font styles - testing ***/
@font-face {    
	font-family: 'prototyperegular';    
	
/**	src: url('_fonts/prototype-webfont.eot?#iefix') format('embedded-opentype'),          **/
	src: url('_fonts/prototype-webfont.woff2') format('woff2'),         
	     url('_fonts/prototype-webfont.woff') format('woff'),         
 	     url('_fonts/prototype-webfont.ttf') format('truetype'),    
	     url('_fonts/prototype-webfont.eot');         
	font-weight: normal;    
	font-style: normal;  }


/*** HEADER STYLES ***/
header { display:block; width: 100%; background-color: #212121; color: White; padding: 0; margin: 0; font-family: 'prototyperegular'; height: 98px; }
#headercontainer { margin-left: auto; margin-right: auto; width: 850px; padding-left:5px; height: 166px; }
#headercontainer h1 { padding: 14px 0 27px 0; margin: 0; color: #e02e30; font-size: 26px;text-align: right; background-color: #212121;border: none; }
#headercontainer_item { width: 100%; height: 146px;  }
#headercontainer_item h1 { padding: 5px 0 8px 0; margin: 0; color: #e02e30; font-size: 22px;background-color: #212121;border: none; }
#headerlogo { float: left; padding: 10px 0 10px 0;} 
#headercompany { float: right; color: #b3b2b3; font-size: 12px;text-align: right; }
#headercompany a:hover { text-decoration:none; }
#headertable_item { width: 100%;padding-left: 40px;padding-right: 40px; }
#headerlinkstable { width: 600px;font-family: 'Lato', sans-serif; color:#aaaaaa; font-size: 12px; }
#headerlinkstable a:link { color: #aaaaaa; }
#headerlinkstable a:visited { color: #aaaaaa; }
#headerlinkstable a:hover { color: #cf332d;text-decoration: underline; }
#headerlinks_item { font-family: 'Lato', sans-serif; color:#aaaaaa; font-size: 12px; }
#headerlinks_item a:link { color: #aaaaaa; }
#headerlinks_item a:visited { color: #aaaaaa; }
#headerlinks_item a:hover { color: #cf332d;text-decoration: underline; }
#headertitles_item a:hover { text-decoration: none; }
#menucontainer { margin-left: auto; margin-right: auto; width: 950px; margin-bottom: 0; padding-bottom: 0; }



/*** FOOTER STYLES ***/
footer { display:block; width: 100%; background-color: #212121; color: #888888; padding: 0; margin: 0;font-size: 0.95em;height: 215px; }
#footercontainer { margin-left: auto; margin-right: auto; max-width: 900px; min-width: 570px; font-size: 0.85em; padding: 5px 0 5px 5px; }
#footercontainer_item { margin-left: auto; margin-right: auto; width: 1100px; font-size: 0.85em; padding: 15px 0 0px 5px; }
.footerindex { display: inline-block; float: left; height: 180px; width: 216px; }
.footerindex h2 { font-weight: bold;padding: 0;margin: 0;font-size: 1.0em; }
.footerindex a:link { color: #888888; }
.footerindex a:visited { color: #888888; }
.footerindex a:hover { color: #cf332d;text-decoration: underline; }
.footerindex ul { list-style-type: none; padding: 0;margin: 7px 0 0 17px; }
.footerindex li { padding-top: 2px;  }
#footerlogos { display: inline-block; float: right; height: 200px; width: 240px;text-align: right; }
#footerlogos_item { display: inline-block; float: right; width: 240px;text-align: right; }
#footerlogos h2 { font-weight: bold;padding: 0;margin: 0;font-size: 1.0em; }
#footersocial { padding-bottom: 50px;padding-right: 20px;}
#footersocial_item { display: inline-block; padding-bottom: 22px; }
#footersocial img { padding-left: 10px; }
.footerlogo { padding-right: 20px; }
#copyright { display: block; min-width: 600px; }
#copyright a:link { color: #888888; }
#copyright a:visited { color: #888888; }
#copyright a:hover { color: #cf332d;text-decoration: underline; }


#email2 { width: 30px; height: 30px; background: url(_images/email2.png) no-repeat; display:inline-block; }
#email2:hover { background-position: 0 -32px; }
#facebook2 { width: 30px; height: 30px; background: url(_images/facebook2.png) no-repeat; display:inline-block; }
#facebook2:hover { background-position: 0 -30px; }
#linkedin2 { width: 30px; height: 30px; background: url(_images/linkedin2.png) no-repeat; display:inline-block; }
#linkedin2:hover { background-position: 0 -30px; }
#googleplus2 { width: 30px; height: 30px; background: url(_images/google_plus2.png) no-repeat; display:inline-block; }
#googleplus2:hover { background-position: 0 -30px; }
#twitter2 { width: 30px; height: 30px; background: url(_images/twitter2.png) no-repeat; display:inline-block; }
#twitter2:hover { background-position: 0 -31px; }





body
{
	background-image: none;
	background-color: #808080;
    font-family: 'Lato', sans-serif;
}

#sbkIsw_BottomPadding { background-color: #808080; }

.SobekText { font-size: 1.1em; }
.SobekSearchPanel { font-size: 1.1em; }
.sbkAghsw_CollectionButtonTxt  { font-size: 1.0em; }
#sbk_QuickTips { font-size: 1.0em; }
#sbkBsav_SearchPrompt { font-weight: 500;font-size: 1.05em; }
#container-facets { text-align: left; FONT-SIZE: medium; }
#menu-right-actions {font-weight: 500; }
#sbkCiv_Citation { font-size: 1.0em; }
.sbkMySobek_HomeText { font-size: 1.1em; }
.sbkHav_MainText { font-size: 1.3em; }



#dloc_duke_embedded_info { padding: 5px; line-height:1.5em; width: 800px; }

#dloc_duke_embedded_info a:link { color:cornflowerblue; }
#dloc_duke_embedded_info a:visited { color:cornflowerblue; }
#dloc_duke_embedded_info a:hover { color:cornflowerblue; }


.tableRowNormal
{
	background-color: White; border-collapse:collapse; border-spacing: 0; 
}

.tableRowNormal:hover
{
	background-color: #efefef; cursor: pointer; border-collapse:collapse; border-spacing: 0; 
}

#darkItemSuppressCitationMsg { text-align:center; width: 100%; font-weight:bold; font-size: 1.3em; padding: 40px 40px 40px 20px; }


.sbkTeiAv_TabPage { text-align: left; }
.sbkTeiAv_UploadButton { display: block; padding-left: 80px; padding-bottom: 20px; }
#sbkTeiAv_Table {  width: 980px; margin-left: 50px;  }
#sbkTeiAv_Table td { padding-top: 10px; padding-bottom: 10px; }
#sbkTeiAv_TableFileColumn { width: 200px; }
.sbkTeiAv_CheckboxDiv { display: inline-block; width: 250px; padding-top: 3px; padding-bottom: 3px; }

.sbkAdm_TableRule {  padding-top: 1px !important; padding-bottom: 1px !important; }

.admin_user_checkbox_tei { margin-top: 5px; margin-left:75px; }


#container-tiles { margin: 0 auto; position:relative; width:auto; max-width: 1280px; min-width:800px; border: 0px; background-color: #e5e5e5;  }
#sbkThav_TileContainer { width: 100%; padding-top: 20px; margin-top: 10px; margin-left: auto; margin-right: auto; max-width: 1100px;
    min-width: 900px; text-align: center; padding-bottom: 30px; }
.sbkThav_Tile { margin: 0; padding:0; display: inline-block; margin-left: -5px; margin-top: -6px; }
.sbkThav_Tile img { height: 214px; }