<?xml version="1.0" encoding="utf-8" ?>
<SobekCM_Config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://sobekrepository.org/schemas/sobekcm_config"
	xsi:schemaLocation="http://sobekrepository.org/schemas/sobekcm_config
		http://sobekrepository.org/schemas/sobekcm_config.xsd">

  <!-- This code describes the actual extension and sets some top level inforation -->
  <Extension code="Dutch" name="Dutch Language Plugin" version="1.0" >

    <!-- Administrative information about this plugin -->
    <AdminInfo>
      <Description>
        This plug-in adds Dutch translations to the SobekCM v5 system
      </Description>
      <Authors>
        <Author name="Sullivan, Mark" email="Mark.V.Sullivan@sobekdigital.com" />
      </Authors>
      <Permissions>Open domain</Permissions>
    </AdminInfo>
  </Extension>

  <Languages>
	<Language name="Dutch">nl</Language>	
  </Languages>

</SobekCM_Config>