<?xml version="1.0" encoding="utf-8" ?>
<SobekCM_Config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://sobekrepository.org/schemas/sobekcm_config"
	xsi:schemaLocation="http://sobekrepository.org/schemas/sobekcm_config
		http://sobekrepository.org/schemas/sobekcm_config.xsd">
  <Localization Language="en">

    <Section Name="HeaderFooter">
      <Phrase Key="Home_Suffix_Format">{0} Home</Phrase>
      <Phrase Key="Staff_Login">staff login</Phrase>
      <Phrase Key="Log_Out">Log Out</Phrase>
      <Phrase Key="My_Account_Possessive_Format">{0}'s {1}</Phrase>
    </Section>

    <Section Name="MainMenus">
      <Phrase Key="Aggregation_Menu_Aria">Aggregation menu</Phrase>
      <Phrase Key="Search_Results_Menu_Aria">Search results menu</Phrase>
      <Phrase Key="User_Menu_Aria">User menu</Phrase>
      <Phrase Key="Home">Home</Phrase>
      <Phrase Key="Collection_Home_Format">{0} Home</Phrase>
      <Phrase Key="Sobek_Home_Format">{0} Home</Phrase>
      <Phrase Key="My_Sobek_Home_Format"><![CDATA[<span style="text-transform:lowercase">my</span>{0} Home]]></Phrase>
      <Phrase Key="View_Items">View Items</Phrase>
      <Phrase Key="View_All_Items">View All Items</Phrase>
      <Phrase Key="View_New_Items">View Recently Added Items</Phrase>
      <Phrase Key="My_Collections">My Collections</Phrase>
      <Phrase Key="Browse_Partners">Browse Partners</Phrase>
      <Phrase Key="Browse_By">Browse By</Phrase>
      <Phrase Key="Map_Browse">Map Browse</Phrase>
      <Phrase Key="List_View">List View</Phrase>
      <Phrase Key="Brief_View">Brief View</Phrase>
      <Phrase Key="Tree_View">Tree View</Phrase>
      <Phrase Key="Other_Searches">Search Options</Phrase>
      <Phrase Key="Print_Action">Print</Phrase>
      <Phrase Key="Send_Action">Send</Phrase>
      <Phrase Key="Save_Action">Save</Phrase>
      <Phrase Key="Share_Action">Share</Phrase>
      <Phrase Key="Add_Action">Add</Phrase>
      <Phrase Key="Remove_Action">Remove</Phrase>
      <Phrase Key="Revise_Action">Revise</Phrase>
      <Phrase Key="My_Library">My Library</Phrase>
      <Phrase Key="My_Account">My Account</Phrase>
      <Phrase Key="Internal">Internal</Phrase>
      <Phrase Key="System_Admin">System Admin</Phrase>
      <Phrase Key="Portal_Admin">Portal Admin</Phrase>
      <Phrase Key="User_Admin">User Admin</Phrase>
      <Phrase Key="Advanced_Search">Advanced Search</Phrase>
      <Phrase Key="Collection_List">Collection List</Phrase>
      <Phrase Key="Collection_Hierarchy">Collection Hierarchy</Phrase>
      <Phrase Key="New_Items">New Items</Phrase>
      <Phrase Key="Memory_Management">Memory Management</Phrase>
      <Phrase Key="Wordmarks">Wordmarks</Phrase>
      <Phrase Key="Build_Failures">Build Failures</Phrase>
      <Phrase Key="Start_New_Item">Start a new item</Phrase>
      <Phrase Key="View_Submitted_Items">View my submitted items</Phrase>
      <Phrase Key="View_Item_Usage">View usage for my items</Phrase>
      <Phrase Key="View_Descriptive_Tags">View my descriptive tags</Phrase>
      <Phrase Key="View_Bookshelves">View my bookshelves</Phrase>
      <Phrase Key="View_Saved_Searches">View my saved searches</Phrase>
      <Phrase Key="Account_Preferences">Account preferences</Phrase>
      <Phrase Key="Log_Out">Log Out</Phrase>
      <Phrase Key="Common_Tasks">Common Tasks</Phrase>
      <Phrase Key="Add_Collection_Wizard">Add Collection Wizard</Phrase>
      <Phrase Key="Edit_Current_Web_Skin">Edit Current Web Skin</Phrase>
      <Phrase Key="Users_And_Groups">Users and Groups</Phrase>
      <Phrase Key="Appearance">Appearance</Phrase>
      <Phrase Key="Url_Portals">URL Portals</Phrase>
      <Phrase Key="Web_Skins">Web Skins</Phrase>
      <Phrase Key="Collections">Collections</Phrase>
      <Phrase Key="Aggregation_Aliases">Aggregation Aliases</Phrase>
      <Phrase Key="Aggregation_Management">Aggregation Management</Phrase>
      <Phrase Key="Thematic_Headings">Thematic Headings</Phrase>
      <Phrase Key="Items">Items</Phrase>
      <Phrase Key="Default_Metadata">Default Metadata</Phrase>
      <Phrase Key="Wordmarks_Icons">Wordmarks / Icons</Phrase>
      <Phrase Key="Builder_Status">Builder Status</Phrase>
      <Phrase Key="Settings">Settings</Phrase>
      <Phrase Key="Ip_Restriction_Ranges">IP Restriction Ranges</Phrase>
      <Phrase Key="System_Wide_Settings">System-Wide Settings</Phrase>
      <Phrase Key="Reset_Cache">Reset Cache</Phrase>
      <Phrase Key="Users_And_Permissions">Users &amp; Permissions</Phrase>
      <Phrase Key="User_Permissions_Reports">User Permissions Reports</Phrase>
      <Phrase Key="Users_Requests">Users Requests</Phrase>
      <Phrase Key="Web_Content_Pages">Web Content Pages</Phrase>
      <Phrase Key="Manage_Web_Content_Pages">Manage Web Content Pages</Phrase>
      <Phrase Key="Web_Content_Recent_Updates">Web Content Recent Updates</Phrase>
      <Phrase Key="Web_Content_Usage_Reports">Web Content Usage Reports</Phrase>
      <Phrase Key="Extensions">Extensions</Phrase>
      <Phrase Key="Manage_Tei_Plugin">Manage TEI plug-in</Phrase>
    </Section>

  </Localization>
</SobekCM_Config>
