<?xml version="1.0" encoding="utf-8" ?>
<SobekCM_Config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://sobekrepository.org/schemas/sobekcm_config"
	xsi:schemaLocation="http://sobekrepository.org/schemas/sobekcm_config
		http://sobekrepository.org/schemas/sobekcm_config.xsd">
  <Localization Language="en">

    <Section Name="Common">
      <Phrase Key="Go_To">Go To:</Phrase>
      <Phrase Key="First_Page">First Page</Phrase>
      <Phrase Key="Previous_Page">Previous Page</Phrase>
      <Phrase Key="Next_Page">Next Page</Phrase>
      <Phrase Key="Last_Page">Last Page</Phrase>
      <Phrase Key="First">First</Phrase>
      <Phrase Key="Previous">Previous</Phrase>
      <Phrase Key="Next">Next</Phrase>
      <Phrase Key="Last">Last</Phrase>
    </Section>

    <Section Name="Text_Search">
      <Phrase Key="Search_This_Document">Search this document</Phrase>
      <Phrase Key="Go">GO</Phrase>
      <Phrase Key="Quick_Tips_Html"><![CDATA[<h2>Quick Tips</h2>
<div id="sbkTsv_QuickTips">
  <ul>
    <li><h3>Document Searching</h3>
      <p> This option searches the full-text of the document and returns any pages which match<br />
      the conditions of your search.</p>
    </li>
    <li><h3>Boolean Searches</h3>
      <p> Use <span class="sbkTsv_Bold">+</span> or <span class="sbkTsv_BoldItalic">and</span> between terms to find records with <span class="sbkTsv_Bold">all</span> the terms.<br />
      Use <span class="sbkTsv_Bold">-</span> or <span class="sbkTsv_BoldItalic">or</span> between terms to find records with <span class="sbkTsv_Bold">any</span> of the terms.<br />
      Use <span class="sbkTsv_Bold">!</span> or <span class="sbkTsv_BoldItalic">and not</span> between terms to exclude records with terms.<br />
      If nothing is indicated, <span class="sbkTsv_BoldItalic">and</span> is the default.<br />
      EXAMPLE: natural and not history
      </p>
    </li>
    <li><h3>Phrase Searching</h3>
      <p> Placing quotes around a phrase will search for the exact phrase.<br />
      EXAMPLE: &quot;natural history&quot;</p>
    </li>
    <li><h3>Capitalization</h3>
      <p> Searches are not capitalization sensitive.<br />
      EXAMPLE: Searching for <span class="sbkTsv_Italic">NATURAL</span> will return the same results as searching for <span class="sbkTsv_Italic">natural</span></p>
    </li>
    <li><h3>Diacritics</h3>
      <p> To search for words with diacritics, the character must be entered into the search box.<br />
      EXAMPLE: Searching <span class="sbkTsv_Italic">Précédent</span> is a different search than <span class="sbkTsv_Italic">Precedent</span></p>
    </li>
  </ul>
</div>]]></Phrase>
      <Phrase Key="Your_Search_For">Your search within this document for </Phrase>
      <Phrase Key="And_Not"> AND NOT </Phrase>
      <Phrase Key="And"> AND </Phrase>
      <Phrase Key="Or"> OR </Phrase>
      <Phrase Key="Not">not </Phrase>
      <Phrase Key="Resulted_In"> resulted in </Phrase>
      <Phrase Key="Matching_Pages"> matching pages</Phrase>
      <Phrase Key="No_Matching_Pages">no matching pages</Phrase>
      <Phrase Key="Expand_Results">You can expand your results by searching for</Phrase>
      <Phrase Key="Restrict_Results">You can restrict your results by searching for</Phrase>
    </Section>

    <Section Name="JPEG2000">
      <Phrase Key="Thumbnail">THUMBNAIL</Phrase>
    </Section>

    <Section Name="Citation_Common">
      <Phrase Key="Standard_View">STANDARD VIEW</Phrase>
      <Phrase Key="Marc_View">MARC VIEW</Phrase>
      <Phrase Key="Metadata_View">METADATA</Phrase>
      <Phrase Key="Usage_Statistics_View">USAGE STATISTICS</Phrase>
      <Phrase Key="Dark_Item_Message">This item is DARK and cannot be viewed at this time</Phrase>
      <Phrase Key="Menu_Standard_View">Standard View</Phrase>
      <Phrase Key="Menu_Marc_View">MARC View</Phrase>
      <Phrase Key="Menu_Metadata">Metadata</Phrase>
      <Phrase Key="Menu_Usage_Statistics">Usage Statistics</Phrase>
    </Section>

    <Section Name="Citation_Standard">
      <Phrase Key="Please_Log_On_Suffix">  Please log on to access.</Phrase>
      <Phrase Key="Please_Request_Access_Suffix">  Please request access.</Phrase>
      <Phrase Key="Restricted_Item_Alt">Restricted Item</Phrase>
    </Section>

    <Section Name="Citation_MARC">
      <Phrase Key="Auto_Generated_Notice">The record above was auto-generated from the METS file.</Phrase>
    </Section>

    <Section Name="Metadata_Links">
      <Phrase Key="Intro_Html"><![CDATA[The data (or metadata) about this digital resource is available in a variety of metadata formats. For more information about these formats, see the <a href="http://ufdc.ufl.edu/sobekcm/metadata">Metadata Section</a> of the <a href="http://ufdc.ufl.edu/sobekcm/">Technical Aspects</a> information.]]></Phrase>
      <Phrase Key="Ead_View_Link">View Finding Aid (EAD)</Phrase>
      <Phrase Key="Ead_Description"><![CDATA[This archival collection is described with an electronic finding aid.   This metadata file contains all of the archival description and container list for this archival material.  This file follows the established <a href="http://www.loc.gov/ead/">Encoded Archival Description</a> (EAD) standard.]]></Phrase>
      <Phrase Key="Mets_View_Link">View Complete METS/MODS</Phrase>
      <Phrase Key="Mets_Description"><![CDATA[This metadata file is the source metadata file submitted along with all the digital resource files. This contains all of the citation and processing information used to build this resource. This file follows the established <a href="http://www.loc.gov/standards/mets/">Metadata Encoding and Transmission Standard</a> (METS) and <a href="http://www.loc.gov/standards/mods/">Metadata Object Description Schema</a> (MODS). This METS/MODS file was just read when this item was loaded into memory and used to display all the information in the standard view and marc view within the citation.]]></Phrase>
      <Phrase Key="Marc_Xml_View_Link">View MARC XML File</Phrase>
      <Phrase Key="Marc_Xml_Description"><![CDATA[The entered metadata is also converted to MARC XML format, for interoperability with other library catalog systems.  This represents the same data available in the <a href="{0}">MARC VIEW</a> except this is a static XML file.  This file follows the <a href="http://www.loc.gov/standards/marcxml/">MarcXML Schema</a>.]]></Phrase>
      <Phrase Key="Tei_View_Link">View TEI/Text File</Phrase>
      <Phrase Key="Tei_Description"><![CDATA[The full-text of this item is also available in the established standard <a href="http://www.tei-c.org/index.xml">Text Encoding Initiative</a> (TEI) downloadable file.]]></Phrase>
    </Section>

    <Section Name="Item_Usage_Stats">
      <Phrase Key="Compiled_Monthly_Notice">Usage statistics for items are compiled once a month from the previous month's usage logs and does not contain any personal information.</Phrase>
      <Phrase Key="Viewed_Times_Sentence"><![CDATA[This item was has been viewed <%HITS%> times within <%SESSIONS%> visits.  Below are the details for overall usage for this item within this library.<br /><br />For definitions of these terms, see the <a href="{0}" target="_BLANK">definitions on the main statistics page</a>.]]></Phrase>
      <Phrase Key="Date">Date</Phrase>
      <Phrase Key="Views">Views</Phrase>
      <Phrase Key="Visits">Visits</Phrase>
      <Phrase Key="Year_Statistics_Suffix"> STATISTICS</Phrase>
      <Phrase Key="Total">TOTAL</Phrase>
      <Phrase Key="No_Stats_Yet_Message">Usage statistics are accumulated monthly and have not yet been recorded for this item.</Phrase>
      <Phrase Key="Month_1">January</Phrase>
      <Phrase Key="Month_2">February</Phrase>
      <Phrase Key="Month_3">March</Phrase>
      <Phrase Key="Month_4">April</Phrase>
      <Phrase Key="Month_5">May</Phrase>
      <Phrase Key="Month_6">June</Phrase>
      <Phrase Key="Month_7">July</Phrase>
      <Phrase Key="Month_8">August</Phrase>
      <Phrase Key="Month_9">September</Phrase>
      <Phrase Key="Month_10">October</Phrase>
      <Phrase Key="Month_11">November</Phrase>
      <Phrase Key="Month_12">December</Phrase>
    </Section>

    <Section Name="SearchEngineIndexing">
      <Phrase Key="Citation_Label">Citation</Phrase>
      <Phrase Key="Downloads_Label">Downloads</Phrase>
      <Phrase Key="Full_Text_Label">Full Text</Phrase>
      <Phrase Key="Unable_To_Read_File">Unable to read file: {0}</Phrase>
    </Section>

    <Section Name="JPEG">
      <Phrase Key="Menu_Standard">Standard</Phrase>
      <Phrase Key="Zoomable_Switch_Prompt">Click on image below to switch to zoomable version</Phrase>
      <Phrase Key="Zoomable_Switch_Title">Click on image to switch to zoomable version</Phrase>
    </Section>

    <Section Name="PDF">
      <Phrase Key="Menu_Label_Default">PDF</Phrase>
      <Phrase Key="Error_No_Pdf_Found">ERROR: UNABLE TO FIND A PDF FILE IN THIS ITEM TO DISPLAY!</Phrase>
      <Phrase Key="Download_This_Pdf">Download this PDF</Phrase>
      <Phrase Key="Download_Adobe_Reader_Alt">Download Adobe Reader</Phrase>
    </Section>

    <Section Name="Text_Viewer">
      <Phrase Key="Menu_Text">Text</Phrase>
      <Phrase Key="Unknown_Error">Unknown error while retrieving text</Phrase>
      <Phrase Key="No_Text_File">No text file exists for this page</Phrase>
      <Phrase Key="No_Text_Recorded">No text is recorded for this page</Phrase>
    </Section>

    <Section Name="TEI">
      <Phrase Key="Menu_Default_Label">TEI</Phrase>
      <Phrase Key="Transform_Error_Html"><![CDATA[Error during XSLT transform of TEI<br /><br />{0}]]></Phrase>
    </Section>

    <Section Name="HTML_Viewer">
      <Phrase Key="Menu_Default_Label">HTML</Phrase>
      <Phrase Key="Unable_To_Pull_Html_Sentence"><![CDATA[Unable to pull html view for item ( <a href="{0}">source</a> )]]></Phrase>
      <Phrase Key="Apologize_Sentence">We apologize for the inconvenience.</Phrase>
      <Phrase Key="Report_Problem_Sentence"><![CDATA[Click <a href="{0}">here</a> to report the problem.]]></Phrase>
    </Section>

    <Section Name="Embedded_Web_Content">
      <Phrase Key="Menu_Content_Label">Content</Phrase>
      <Phrase Key="Viewer_Title">Content</Phrase>
    </Section>

    <Section Name="EmbeddedVideo">
      <Phrase Key="Menu_Video_Label">Video</Phrase>
      <Phrase Key="Viewer_Title">Streaming Video</Phrase>
    </Section>

    <Section Name="Video">
      <Phrase Key="Menu_Video_Label">Video</Phrase>
    </Section>

    <Section Name="Google_Map">
      <Phrase Key="Menu_Default_Label">Map It!</Phrase>
      <Phrase Key="Menu_Map_Search">Map Search</Phrase>
      <Phrase Key="Menu_Search_Results">Search Results</Phrase>
      <Phrase Key="Menu_Map_Coverage">Map Coverage</Phrase>
      <Phrase Key="Search_Button">Search</Phrase>
      <Phrase Key="Find_Address_Button">Find Address</Phrase>
      <Phrase Key="Instructions_Step1_Html"><![CDATA[Use the <i>Select Area</i> button below to draw a search box on the map or enter an address and press <i>Find Address</i>.]]></Phrase>
      <Phrase Key="Instructions_Step2_Html"><![CDATA[Press the <i>Search</i> button to see results]]></Phrase>
      <Phrase Key="Address_Label">Address:</Phrase>
      <Phrase Key="Address_Placeholder">Enter address ( i.e., 12 Main Street, Gainesville Florida )</Phrase>
      <Phrase Key="No_Matches_Message"><![CDATA[There were no matches within this item for your geographic search. &nbsp; ]]></Phrase>
      <Phrase Key="Modify_Item_Search">Modify item search</Phrase>
      <Phrase Key="Modify_Search_Within_Flight">Modify search within flight</Phrase>
      <Phrase Key="Search_Other_Items_Link">Click here to search other items in the current collection</Phrase>
      <Phrase Key="Matching_Results_Intro">The following results match your geographic search:</Phrase>
      <Phrase Key="Zoom_To_Extent">Zoom to extent</Phrase>
      <Phrase Key="Zoom_To_Matches">Zoom to matches</Phrase>
      <Phrase Key="Search_All_Flights">Search all flights</Phrase>
      <Phrase Key="Search_Entire_Collection">Search entire collection</Phrase>
      <Phrase Key="Google_Maps_Not_Enabled_Html"><![CDATA[<p style="font-weight:bold; text-size:1.1em">ERROR: Google Maps are not enabled on this instance of SobekCM!</p>
              <p>To enable them, please create a Google Map API key and enter it in the system-wide settings.</p>
              <p>Information on this process can be found here: <a href="http://sobekrepository.org/software/config/googlemaps" style="color:white;">http://sobekrepository.org/software/config/googlemaps</a>.</p>]]></Phrase>
    </Section>

    <Section Name="GnuBooks_PageTurner">
      <Phrase Key="Menu_Default_Label">Page Turner</Phrase>
      <Phrase Key="No_Javascript_Message">Book Turner presentations require a Javascript-enabled browser.</Phrase>
    </Section>

    <Section Name="MultiVolumes">
      <Phrase Key="Menu_All_Volumes">All Volumes</Phrase>
      <Phrase Key="Menu_All_Issues">All Issues</Phrase>
      <Phrase Key="Menu_Related_Maps">Related Maps</Phrase>
      <Phrase Key="Menu_Related_Flights">Related Flights</Phrase>
      <Phrase Key="All_Volumes">All Volumes</Phrase>
      <Phrase Key="All_Issues">All Issues</Phrase>
      <Phrase Key="Related_Map_Sets">Related Map Sets</Phrase>
      <Phrase Key="Related_Flights">Related Flights</Phrase>
      <Phrase Key="Related_Titles_Heading">Related Titles</Phrase>
      <Phrase Key="Vid_Header">VID</Phrase>
      <Phrase Key="Level_1_Header">LEVEL 1</Phrase>
      <Phrase Key="Level_2_Header">LEVEL 2</Phrase>
      <Phrase Key="Level_3_Header">LEVEL 3</Phrase>
      <Phrase Key="Access_Header">ACCESS</Phrase>
      <Phrase Key="Access_Dark">dark</Phrase>
      <Phrase Key="Access_Private">private</Phrase>
      <Phrase Key="Access_Public">public</Phrase>
      <Phrase Key="Access_Restricted">restricted</Phrase>
      <Phrase Key="Missing_Thumbnail_Alt">MISSING THUMBNAIL</Phrase>
      <Phrase Key="Dark_Suffix"> ( dark )</Phrase>
      <Phrase Key="Private_Suffix"> ( private )</Phrase>
      <Phrase Key="Restricted_Suffix"> ( some restrictions apply )</Phrase>
      <Phrase Key="All_Private_Or_Dark_Suffix"> ( all private or dark )</Phrase>
    </Section>

    <Section Name="OpenTextbook_Common">
      <Phrase Key="Search_Label">Search: </Phrase>
      <Phrase Key="Zoom_Label">Zoom: </Phrase>
      <Phrase Key="Unnumbered_Page_Prefix">Unnumbered </Phrase>
      <Phrase Key="Page_Prefix">Page </Phrase>
      <Phrase Key="Previous_Section_Alt">Go to previous section</Phrase>
      <Phrase Key="Next_Section_Alt">Go to next section</Phrase>
    </Section>

    <Section Name="OpenTextbook">
      <Phrase Key="Menu_Default_Label">Open Textbook</Phrase>
      <Phrase Key="Welcome_Heading">Welcome to OpenPublishing</Phrase>
      <Phrase Key="Welcome_Edit_Instructions"><![CDATA[You may edit your item here, by selecting <i>Edit Content</i> in the upper right corner of this page.]]></Phrase>
      <Phrase Key="Welcome_Toc_Instructions"><![CDATA[To update your table of contents and create chapters, use the OpenPublishing tool, available in the internal header or through the <i>MANAGE</i> option in the item menu.]]></Phrase>
      <Phrase Key="Chapter_Edit_Instructions"><![CDATA[You may edit this chapter here, by selecting <i>Edit Content</i> in the upper right corner of this page.]]></Phrase>
    </Section>

    <Section Name="OpenTextbook_Divisions">
      <Phrase Key="Menu_Default_Label">Open Publisher</Phrase>
    </Section>

    <Section Name="Related_Images">
      <Phrase Key="Menu_Default_Label">Thumbnails</Phrase>
      <Phrase Key="Thumbnails_Per_Page_Suffix">thumbnails per page</Phrase>
      <Phrase Key="Go_To_Thumbnail_Label">Go to thumbnail</Phrase>
      <Phrase Key="Switch_To_Small">Switch to small thumbnails</Phrase>
      <Phrase Key="Switch_To_Medium">Switch to medium thumbnails</Phrase>
      <Phrase Key="Switch_To_Large">Switch to large thumbnails</Phrase>
      <Phrase Key="All_Thumbnails">All thumbnails</Phrase>
      <Phrase Key="Small_Alt">Small</Phrase>
      <Phrase Key="Medium_Alt">Medium</Phrase>
      <Phrase Key="Large_Alt">Large</Phrase>
      <Phrase Key="Missing_Thumbnail_Alt">MISSING THUMBNAIL</Phrase>
      <Phrase Key="Page_Number_Placeholder">(page {0})</Phrase>
    </Section>

    <Section Name="Downloads">
      <Phrase Key="Menu_Default_Label">Downloads</Phrase>
      <Phrase Key="Explanation_Has_Downloads">This item has the following downloads:</Phrase>
      <Phrase Key="Explanation_Only_Downloads">This item is only available as the following downloads:</Phrase>
      <Phrase Key="Tiles_Available_Heading">The following tiles are available for download:</Phrase>
      <Phrase Key="Jpeg2000_Available_Heading">The following JPEG2000 files are available for download:</Phrase>
      <Phrase Key="Save_Link_As_Instructions">To download, right click on the tile name below, select 'Save Link As...' and save the JPEG2000 to your local computer.</Phrase>
      <Phrase Key="Save_Target_As_Instructions">To download, right click on the tile name below, select 'Save Target As...' and save the JPEG2000 to your local computer. </Phrase>
    </Section>

  </Localization>
</SobekCM_Config>
