<?xml version="1.0" encoding="utf-8" ?>
<SobekCM_Config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://sobekrepository.org/schemas/sobekcm_config"
	xsi:schemaLocation="http://sobekrepository.org/schemas/sobekcm_config
		http://sobekrepository.org/schemas/sobekcm_config.xsd">
  <Localization Language="en">

    <Section Name="Home">
      <Phrase Key="Welcome_New_User_Format">Welcome to my{0}, {1}</Phrase>
      <Phrase Key="Welcome_Back_Format">Welcome Back, {0}</Phrase>
      <Phrase Key="Welcome_Intro_Format">Welcome to {0}.  This feature allows you to add items to your bookshelves, organize your bookshelves, and email your bookshelves to friends.</Phrase>
      <Phrase Key="What_Would_You_Like">What would you like to do today?</Phrase>
      <Phrase Key="Upload_Existing_Oer">Upload an existing OER</Phrase>
      <Phrase Key="Create_New_Oer_Online">Create new OER online (using Open Publishing)</Phrase>
      <Phrase Key="Upload_New_Item">Upload a new item</Phrase>
      <Phrase Key="Add_New_Tei_Item">Add a new TEI item</Phrase>
      <Phrase Key="Submittals_Disabled">Online submittals are temporarily disabled</Phrase>
      <Phrase Key="View_All_Submitted_Items">View all my submitted items</Phrase>
      <Phrase Key="View_Usage_For_My_Items">View usage for my items</Phrase>
      <Phrase Key="View_My_Descriptive_Tags">View my descriptive tags</Phrase>
      <Phrase Key="View_And_Organize_Bookshelves">View and organize my bookshelves</Phrase>
      <Phrase Key="View_My_Saved_Searches">View my saved searches</Phrase>
      <Phrase Key="Edit_My_Preferences">Edit my account preferences</Phrase>
      <Phrase Key="Track_Item_Scanning">Track Item Scanning/Processing</Phrase>
      <Phrase Key="Return_To_Previous_Page_Format">Return to previous {0} page</Phrase>
      <Phrase Key="Log_Out">Log Out</Phrase>
      <Phrase Key="Contact_Us_Link_Text">contact us</Phrase>
      <Phrase Key="Comments_Recommendations_Format">Comments or recommendations?  Please {0}.</Phrase>
      <Phrase Key="Contribute_Materials_Format">If you would like to contribute materials through the online system, please {0} as well.</Phrase>
    </Section>

    <Section Name="Saved_Searches">
      <Phrase Key="Page_Title">My Saved Searches</Phrase>
      <Phrase Key="Actions_Header">ACTIONS</Phrase>
      <Phrase Key="Saved_Search_Header">SAVED SEARCH</Phrase>
      <Phrase Key="Delete_Link_Title">Click to delete this saved search</Phrase>
      <Phrase Key="Delete_Link_Text">delete</Phrase>
      <Phrase Key="View_Link_Title">Click to view this search</Phrase>
      <Phrase Key="View_Link_Text">view</Phrase>
      <Phrase Key="No_Saved_Searches_Html">You do not have any saved searches or browses.&lt;br /&gt;&lt;br /&gt;To add a search or browse, use the ADD button while viewing the results of your search or browse.</Phrase>
    </Section>

    <Section Name="Logon">
      <Phrase Key="Default_Disabled_Message">General logon to this system is temporarily disabled.</Phrase>
      <Phrase Key="Invalid_Credentials">Invalid user/password entered</Phrase>
      <Phrase Key="Page_Title_Format">Logon to My{0}</Phrase>
      <Phrase Key="Heading_Format">Logon to {0}</Phrase>
      <Phrase Key="Feature_Requires_Logon">The feature you are trying to access requires a valid logon.</Phrase>
      <Phrase Key="Choose_Logon_Below">Please choose the appropriate logon directly below.</Phrase>
      <Phrase Key="Dloc_Valid_Logon_Text">If you have a valid myDLOC logon</Phrase>
      <Phrase Key="Dloc_Sign_On_Text">Sign on with myDLOC authentication</Phrase>
      <Phrase Key="Shibboleth_Valid_Id_Format">If you have a valid {0} ID</Phrase>
      <Phrase Key="Shibboleth_Sign_On_Format">Sign on with your {0} here</Phrase>
      <Phrase Key="Instance_Valid_Logon_Format">If you have a valid my{0} logon</Phrase>
      <Phrase Key="Instance_Sign_On_Format">Sign on with my{0} authentication here</Phrase>
      <Phrase Key="Federated_Valid_Account_Format">If you have a valid {0} account</Phrase>
      <Phrase Key="Federated_Sign_In_Format">Sign in with {0}</Phrase>
      <Phrase Key="Not_Registered_Yet">Not registered yet?</Phrase>
      <Phrase Key="Register_Now">Register now</Phrase>
      <Phrase Key="Contact_Us">Contact Us</Phrase>
      <Phrase Key="Popup_Title_Log_In">LOG IN</Phrase>
      <Phrase Key="Username_Or_Email_Label">Username or email:</Phrase>
      <Phrase Key="Password_Label">Password:</Phrase>
      <Phrase Key="Remember_Me">Remember me</Phrase>
      <Phrase Key="Close_Button_Title">Close</Phrase>
      <Phrase Key="Cancel_Button_Text">CANCEL</Phrase>
      <Phrase Key="Login_Button_Title">Login</Phrase>
      <Phrase Key="Login_Button_Text">LOGIN</Phrase>
      <Phrase Key="Popup_Not_Registered_Format">Not registered yet?  {0}.</Phrase>
      <Phrase Key="Popup_Forgot_Password_Format">Forgot your username or password?  Please {0}.</Phrase>
      <Phrase Key="Popup_Contact_Us_Link_Text">contact us</Phrase>
    </Section>

    <Section Name="OpenNJ_Register">
      <Phrase Key="Account_Info">Account Information</Phrase>
      <Phrase Key="Username_Label">UserName</Phrase>
      <Phrase Key="Personal_Info">Personal Information</Phrase>
      <Phrase Key="Family_Names_Label">Last/Family Name(s)</Phrase>
      <Phrase Key="Given_Names_Label">First/Given Name(s)</Phrase>
      <Phrase Key="Nickname_Label">Nickname</Phrase>
      <Phrase Key="Email_Label">Email</Phrase>
      <Phrase Key="Email_Stats_Label">Send me monthly usage statistics for my items</Phrase>
      <Phrase Key="Affiliation_Info">Current Affiliation Information</Phrase>
      <Phrase Key="Organization_Label">Institution</Phrase>
      <Phrase Key="Password_Label">Password</Phrase>
      <Phrase Key="Confirm_Password_Label">Confirm Password</Phrase>
      <Phrase Key="Username_Required">Username is a required field</Phrase>
      <Phrase Key="Username_Min_Length">Username must be at least eight digits</Phrase>
      <Phrase Key="Select_Confirm_Password">Select and confirm a password</Phrase>
      <Phrase Key="Passwords_Do_Not_Match">Passwords do not match</Phrase>
      <Phrase Key="Password_Min_Length">Password must be at least eight digits</Phrase>
      <Phrase Key="Select_Instructor_Status">Select whether you are an instructor or not</Phrase>
      <Phrase Key="Instructor_Institution_Required">As an instructor, institution is a required field</Phrase>
      <Phrase Key="Ufid_Length">UFIDs are always eight digits</Phrase>
      <Phrase Key="Ufid_Numeric">UFIDs are always numeric</Phrase>
      <Phrase Key="Family_Name_Required">Family name is a required field</Phrase>
      <Phrase Key="Given_Name_Required">Given name is a required field</Phrase>
      <Phrase Key="Valid_Email_Required">A valid email is required</Phrase>
      <Phrase Key="Rights_Truncated">Rights statement truncated to 1000 characters.</Phrase>
      <Phrase Key="Email_Already_Exists">An account for that email address already exists.</Phrase>
      <Phrase Key="Username_Taken">That username is taken.  Please choose another.</Phrase>
      <Phrase Key="Register_Page_Title_Format">Register for My{0}</Phrase>
      <Phrase Key="Edit_Preferences_Page_Title">Edit Your Account Preferences</Phrase>
      <Phrase Key="Registration_Intro_Format">Registration for {0} is free and open to the public.  Enter your information below to be instantly registered.</Phrase>
      <Phrase Key="Account_Required_Note">Account information, name, and email are required for each new account.</Phrase>
      <Phrase Key="Already_Registered_Format">Already registered?  {0}.</Phrase>
      <Phrase Key="Log_On_Link_Text">Log on</Phrase>
      <Phrase Key="Errors_Detected_Header">The following errors were detected:</Phrase>
      <Phrase Key="Account_Type_Header">Account Type</Phrase>
      <Phrase Key="Instructor_Question">Are you an instructor?  Let us know below to get access to restricted course materials.</Phrase>
      <Phrase Key="I_Am_Instructor">I am an instructor</Phrase>
      <Phrase Key="I_Am_Not_Instructor">I am NOT an instructor</Phrase>
      <Phrase Key="Submit_Materials_Instructions">Click the option below to submit materials.  To use the online open publishing tools in Open-NJ, you will need to be approved as an instructor and approved to submit materials.</Phrase>
      <Phrase Key="Allow_Submit_Label">I would like to be able to submit materials online.</Phrase>
      <Phrase Key="Application_Reviewed_Notice">Once your application has been reviewed and approved, you will receive email notification.</Phrase>
      <Phrase Key="Username_Hint">(minimum of eight digits)</Phrase>
      <Phrase Key="Password_Hint">(minimum of eight digits, different than username)</Phrase>
      <Phrase Key="Institutional_Email_Hint">(please enter institutional email address)</Phrase>
      <Phrase Key="Cancel_Button">CANCEL</Phrase>
      <Phrase Key="Submit_Button">SUBMIT</Phrase>
    </Section>

    <Section Name="Preferences">
      <Phrase Key="Account_Info">Account Information</Phrase>
      <Phrase Key="Username_Label">UserName</Phrase>
      <Phrase Key="Personal_Info">Personal Information</Phrase>
      <Phrase Key="Family_Names_Label">Last/Family Name(s)</Phrase>
      <Phrase Key="Given_Names_Label">First/Given Name(s)</Phrase>
      <Phrase Key="Nickname_Label">Nickname</Phrase>
      <Phrase Key="Email_Label">Email</Phrase>
      <Phrase Key="Email_Stats_Label">Send me monthly usage statistics for my items</Phrase>
      <Phrase Key="Affiliation_Info">Current Affiliation Information</Phrase>
      <Phrase Key="Organization_Label">Organization/University</Phrase>
      <Phrase Key="College_Label">College</Phrase>
      <Phrase Key="Department_Label">Department</Phrase>
      <Phrase Key="Unit_Label">Unit</Phrase>
      <Phrase Key="Self_Submittal_Pref_Label">Self-Submittal Preferences</Phrase>
      <Phrase Key="Send_Email_Label">Send me an email when I submit new items</Phrase>
      <Phrase Key="Template_Label">Template</Phrase>
      <Phrase Key="Project_Label">Default Metadata</Phrase>
      <Phrase Key="Default_Rights_Label">Default Rights</Phrase>
      <Phrase Key="Rights_Explanation_Label">(These are the default rights you give for sharing, repurposing, or remixing your item to other users. You can set this with each new item you submit, but this will be the default that appears.)</Phrase>
      <Phrase Key="Rights_Instruction_Label"><![CDATA[You may also select a <a title="Explanation of different creative commons licenses." href="http://creativecommons.org/about/licenses/">Creative Commons License</a> option below.]]></Phrase>
      <Phrase Key="Other_Preferences_Label">Other Preferences</Phrase>
      <Phrase Key="Language_Label">Language</Phrase>
      <Phrase Key="Password_Label">Password</Phrase>
      <Phrase Key="Confirm_Password_Label">Confirm Password</Phrase>
      <Phrase Key="Username_Required">Username is a required field</Phrase>
      <Phrase Key="Username_Min_Length">Username must be at least eight digits</Phrase>
      <Phrase Key="Select_Confirm_Password">Select and confirm a password</Phrase>
      <Phrase Key="Passwords_Do_Not_Match">Passwords do not match</Phrase>
      <Phrase Key="Password_Min_Length">Password must be at least eight digits</Phrase>
      <Phrase Key="Ufid_Length">UFIDs are always eight digits</Phrase>
      <Phrase Key="Ufid_Numeric">UFIDs are always numeric</Phrase>
      <Phrase Key="Family_Name_Required">Family name is a required field</Phrase>
      <Phrase Key="Given_Name_Required">Given name is a required field</Phrase>
      <Phrase Key="Valid_Email_Required">A valid email is required</Phrase>
      <Phrase Key="Rights_Truncated">Rights statement truncated to 1000 characters.</Phrase>
      <Phrase Key="Email_Already_Exists">An account for that email address already exists.</Phrase>
      <Phrase Key="Username_Taken">That username is taken.  Please choose another.</Phrase>
      <Phrase Key="Register_Page_Title_Format">Register for My{0}</Phrase>
      <Phrase Key="Edit_Preferences_Page_Title">Edit Your Account Preferences</Phrase>
      <Phrase Key="Registration_Intro_Format">Registration for {0} is free and open to the public.  Enter your information below to be instantly registered.</Phrase>
      <Phrase Key="Account_Required_Note">Account information, name, and email are required for each new account.</Phrase>
      <Phrase Key="Already_Registered_Format">Already registered?  {0}.</Phrase>
      <Phrase Key="Log_On_Link_Text">Log on</Phrase>
      <Phrase Key="Errors_Detected_Header">The following errors were detected:</Phrase>
      <Phrase Key="Username_Hint">(minimum of eight digits)</Phrase>
      <Phrase Key="Password_Hint">(minimum of eight digits, different than username)</Phrase>
      <Phrase Key="Gatorlink_Hint">(optionally provides access through Gatorlink)</Phrase>
      <Phrase Key="Allow_Submit_With_Notice_Label">I would like to be able to submit materials online. (Once your application to submit has been approved, you will receive email notification)</Phrase>
      <Phrase Key="Cancel_Button">CANCEL</Phrase>
      <Phrase Key="Submit_Button">SUBMIT</Phrase>
    </Section>

    <Section Name="Folder_Mgmt">
      <Phrase Key="Page_Title">My Library</Phrase>
      <Phrase Key="Manage_Library_Tooltip">Manage my library</Phrase>
      <Phrase Key="Manage_Library_Link_Text">My Library  (Manage my bookshelves)</Phrase>
      <Phrase Key="View_Collections_Home_Tooltip">View my collections home page</Phrase>
      <Phrase Key="My_Collections_Home_Text">My Collections Home</Phrase>
      <Phrase Key="View_Saved_Searches_Tooltip">View my saved searches</Phrase>
      <Phrase Key="My_Saved_Searches_Text">My Saved Searches</Phrase>
      <Phrase Key="Public_Folder_Tooltip">Public folder</Phrase>
      <Phrase Key="Private_Folder_Tooltip">Private folder</Phrase>
      <Phrase Key="Bookshelf_Empty_Message">This bookshelf is currently empty</Phrase>
      <Phrase Key="Manage_Bookshelves_Heading">Manage My Bookshelves</Phrase>
      <Phrase Key="Add_New_Bookshelf_Tooltip">Click to add a new bookshelf</Phrase>
      <Phrase Key="Add_New_Bookshelf_Text">Add New Bookshelf</Phrase>
      <Phrase Key="Refresh_Bookshelf_Tooltip">Refresh bookshelf list</Phrase>
      <Phrase Key="Refresh_Bookshelves_Text">Refresh Bookshelves</Phrase>
      <Phrase Key="Actions_Header">ACTIONS</Phrase>
      <Phrase Key="Bookshelf_Name_Header">BOOKSHELF NAME</Phrase>
      <Phrase Key="Delete_Bookshelf_Tooltip">Click to delete this bookshelf</Phrase>
      <Phrase Key="Delete_Link_Text">delete</Phrase>
      <Phrase Key="Cannot_Delete_Last_Alert">You cannot delete your last bookshelf</Phrase>
      <Phrase Key="Cannot_Delete_Nested_Alert">You cannot delete bookshelves which contain other bookshelves</Phrase>
      <Phrase Key="Make_Private_Tooltip">Make this bookshelf private</Phrase>
      <Phrase Key="Make_Private_Text">make private</Phrase>
      <Phrase Key="Make_Public_Tooltip">Make this bookshelf public</Phrase>
      <Phrase Key="Make_Public_Text">make public</Phrase>
      <Phrase Key="Manage_Bookshelf_Tooltip">Click to manage this bookshelf</Phrase>
      <Phrase Key="Manage_Link_Text">manage</Phrase>
      <Phrase Key="Email_Popup_Title">SEND THIS ITEM TO A FRIEND</Phrase>
      <Phrase Key="Email_Popup_Legend">Enter the email information below &amp;nbsp; </Phrase>
      <Phrase Key="To_Label">To:</Phrase>
      <Phrase Key="Comments_Label">Comments:</Phrase>
      <Phrase Key="Format_Label">Format:</Phrase>
      <Phrase Key="Html_Format_Label">HTML</Phrase>
      <Phrase Key="Plain_Text_Format_Label">Plain Text</Phrase>
      <Phrase Key="Cancel_Button">CANCEL</Phrase>
      <Phrase Key="Send_Button">SEND</Phrase>
      <Phrase Key="Save_Button">SAVE</Phrase>
      <Phrase Key="Move_Popup_Title_Html"><![CDATA[M<span class="smaller">OVE</span> I<span class="smaller">TEM BETWEEN </span>B<span class="smaller">OOKSHELVES</span>]]></Phrase>
      <Phrase Key="Move_Popup_Legend">Select new bookshelf for this item</Phrase>
      <Phrase Key="Bookshelf_Label">Bookshelf:</Phrase>
      <Phrase Key="Edit_Notes_Popup_Title_Html"><![CDATA[A<span class="smaller">DD/</span>E<span class="smaller">DIT</span> N<span class="smaller">OTES FOR</span> B<span class="smaller">OOKSHELF</span> I<span class="smaller">TEM</span>]]></Phrase>
      <Phrase Key="Edit_Notes_Popup_Legend">Enter notes for this item in your bookshelf &amp;nbsp; </Phrase>
      <Phrase Key="Notes_Label">Notes:</Phrase>
      <Phrase Key="New_Bookshelf_Popup_Title_Html"><![CDATA[N<span class="smaller">EW</span> B<span class="smaller">OOKSHELF</span>]]></Phrase>
      <Phrase Key="New_Bookshelf_Popup_Legend">Enter the information for your new bookshelf</Phrase>
      <Phrase Key="Name_Label">Name:</Phrase>
      <Phrase Key="Parent_Label">Parent:</Phrase>
      <Phrase Key="No_Parent_Option">(none)</Phrase>
    </Section>

  </Localization>
</SobekCM_Config>
