<?xml version="1.0" encoding="utf-8" ?>
<SobekCM_Config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://sobekrepository.org/schemas/sobekcm_config"
	xsi:schemaLocation="http://sobekrepository.org/schemas/sobekcm_config
		http://sobekrepository.org/schemas/sobekcm_config.xsd">
  <Localization Language="en">

    <Section Name="General">
      <Phrase Key="Description">Description</Phrase>
      <Phrase Key="Format">Format</Phrase>
      <Phrase Key="Publisher">Publisher</Phrase>
      <Phrase Key="Relation">Relation</Phrase>
      <Phrase Key="Resource Identifier">Resource Identifier</Phrase>
      <Phrase Key="Resource Type">Resource Type</Phrase>
      <Phrase Key="Subject">Subject</Phrase>
      <Phrase Key="Abstract">Abstract</Phrase>
      <Phrase Key="Alternate Title">Alternate Title</Phrase>
      <Phrase Key="Attribution_Statement">Attribution Statement</Phrase>
      <Phrase Key="Bibliographic_ID">Bibliographic ID</Phrase>
      <Phrase Key="Contributor">Contributor</Phrase>
      <Phrase Key="Creator">Creator</Phrase>
      <Phrase Key="Donor">Donor</Phrase>
      <Phrase Key="EAD_Identifier">EAD Identifier</Phrase>
      <Phrase Key="Holding Location">Holding Location</Phrase>
      <Phrase Key="Latitude_Hours">Latitude Hours</Phrase>
      <Phrase Key="Latitude_Minutes">Latitude Minutes</Phrase>
      <Phrase Key="Latitude_Seconds">Latitude Seconds</Phrase>
      <Phrase Key="Longitude_Hours">Longitude Hours</Phrase>
      <Phrase Key="Longitude_Minutes">Longitude Minutes</Phrase>
      <Phrase Key="Longitude_Seconds">Longitude Seconds</Phrase>
      <Phrase Key="Notes">Notes</Phrase>
      <Phrase Key="Rights Management">Rights Management</Phrase>
      <Phrase Key="Scale">Scale</Phrase>
      <Phrase Key="Series Title">Series Title</Phrase>
      <Phrase Key="Source Institution">Source Institution</Phrase>
      <Phrase Key="Spatial Coverage">Spatial Coverage</Phrase>
      <Phrase Key="Subcollection">Subcollection</Phrase>
      <Phrase Key="Temporal Coverage">Temporal Coverage</Phrase>
      <Phrase Key="Uniform Title">Uniform Title</Phrase>
      <Phrase Key="Volume_ID">Volume ID</Phrase>
      <Phrase Key="Interviewer">Interviewer</Phrase>
      <Phrase Key="Interviewee">Interviewee</Phrase>
      <Phrase Key="Publication Date">Publication Date</Phrase>
      <Phrase Key="Author">Author</Phrase>
      <Phrase Key="Place of Publication">Place of Publication</Phrase>
      <Phrase Key="Year">Year</Phrase>
      <Phrase Key="Acknowledgement">Acknowledgement</Phrase>
      <Phrase Key="Advertising">Advertising</Phrase>
      <Phrase Key="Appendix">Appendix</Phrase>
      <Phrase Key="Back_Cover">Back Cover</Phrase>
      <Phrase Key="Back_Matter">Back Matter</Phrase>
      <Phrase Key="Bibliography">Bibliography</Phrase>
      <Phrase Key="Chapter">Chapter</Phrase>
      <Phrase Key="Conclusion">Conclusion</Phrase>
      <Phrase Key="Copyright">Copyright</Phrase>
      <Phrase Key="Cover">Cover</Phrase>
      <Phrase Key="Dedication">Dedication</Phrase>
      <Phrase Key="Errata">Errata</Phrase>
      <Phrase Key="Foreword">Foreword</Phrase>
      <Phrase Key="Front_Cover">Front Cover</Phrase>
      <Phrase Key="Front_Matter">Front Matter</Phrase>
      <Phrase Key="Frontispiece">Frontispiece</Phrase>
      <Phrase Key="Half_Title">Half Title</Phrase>
      <Phrase Key="Index">Index</Phrase>
      <Phrase Key="Interview">Interview</Phrase>
      <Phrase Key="Introduction">Introduction</Phrase>
      <Phrase Key="List_of_Figures">List of Figures</Phrase>
      <Phrase Key="List_of_Illustrations">List of Illustrations</Phrase>
      <Phrase Key="List_of_Tables">List of Tables</Phrase>
      <Phrase Key="Main">Main</Phrase>
      <Phrase Key="Methodology">Methodology</Phrase>
      <Phrase Key="Poem">Poem</Phrase>
      <Phrase Key="Preface">Preface</Phrase>
      <Phrase Key="Prelude">Prelude</Phrase>
      <Phrase Key="Reference">Reference</Phrase>
      <Phrase Key="Section">Section</Phrase>
      <Phrase Key="Spine">Spine</Phrase>
      <Phrase Key="Subdivision_Level_1">Subdivision Level 1</Phrase>
      <Phrase Key="Subdivision_Level_2">Subdivision Level 2</Phrase>
      <Phrase Key="Subdivision_Level_3">Subdivision Level 3</Phrase>
      <Phrase Key="Subdivision_Level_4">Subdivision Level 4</Phrase>
      <Phrase Key="Subdivision_Level_5">Subdivision Level 5</Phrase>
      <Phrase Key="Subdivision_Level_6">Subdivision Level 6</Phrase>
      <Phrase Key="Table_of_Contents">Table of Contents</Phrase>
      <Phrase Key="Title_Page">Title Page</Phrase>
      <Phrase Key="Group">Group</Phrase>
      <Phrase Key="PAGE_IMAGE">PAGE IMAGE</Phrase>
      <Phrase Key="PAGE_TEXT">PAGE TEXT</Phrase>
      <Phrase Key="ZOOMABLE">ZOOMABLE</Phrase>
      <Phrase Key="FEATURES">FEATURES</Phrase>
      <Phrase Key="STREETS">STREETS</Phrase>
      <Phrase Key="All Items">All Items</Phrase>
      <Phrase Key="Recently Added Items">Recently Added Items</Phrase>
      <Phrase Key="Related_Images">Related Images</Phrase>
      <Phrase Key="Country">Country</Phrase>
      <Phrase Key="State">State</Phrase>
      <Phrase Key="County">County</Phrase>
      <Phrase Key="City">City</Phrase>
      <Phrase Key="Subject: Topic">Subject: Topic</Phrase>
      <Phrase Key="Subject: Geographic Area">Subject: Geographic Area</Phrase>
      <Phrase Key="Subject: Genre">Subject: Genre</Phrase>
      <Phrase Key="Permanent Link">Permanent Link</Phrase>
      <Phrase Key="Material_Information">Material Information</Phrase>
      <Phrase Key="Physical Description">Physical Description</Phrase>
      <Phrase Key="Manufacturer">Manufacturer</Phrase>
      <Phrase Key="Subjects">Subjects</Phrase>
      <Phrase Key="Statement_of_Responsibility">Statement of Responsibility</Phrase>
      <Phrase Key="General Note">General Note</Phrase>
      <Phrase Key="Record_Information">Record Information</Phrase>
      <Phrase Key="Local_Membership">Local Membership</Phrase>
      <Phrase Key="METS_Information">METS Information</Phrase>
      <Phrase Key="Creation Date">Creation Date</Phrase>
      <Phrase Key="Last_Modified">Last Modified</Phrase>
      <Phrase Key="Last_User">Last User</Phrase>
      <Phrase Key="System_Folder">System Folder</Phrase>
      <Phrase Key="Item_Primary_Key">Item Primary Key</Phrase>
      <Phrase Key="Group_Primary_Key">Group Primary Key</Phrase>
      <Phrase Key="System Administration Information">System Administration Information</Phrase>
      <Phrase Key="Group_Title">Group Title</Phrase>
      <Phrase Key="Accession number">Accession Number</Phrase>
      <Phrase Key="Caribbean_Newspaper_Digital_Library">Caribbean Newspaper Digital Library</Phrase>
      <Phrase Key="Digital_Library_of_the_Caribbean">Digital Library of the Caribbean</Phrase>
      <Phrase Key="Panama_and_the_Canal">Panama and the Canal</Phrase>
      <Phrase Key="Subject Keywords">Subject Keywords</Phrase>
      <Phrase Key="Type">Type</Phrase>
      <Phrase Key="Genre">Genre</Phrase>
      <Phrase Key="Target Audience">Target Audience</Phrase>
      <Phrase Key="Attribution">Attribution</Phrase>
      <Phrase Key="Tickler">Tickler</Phrase>
      <Phrase Key="Identifier">Identifier</Phrase>
      <Phrase Key="Affiliation">Affiliation</Phrase>
      <Phrase Key="Frequency">Frequency</Phrase>
      <Phrase Key="TEXT_SEARCH">TEXT SEARCH</Phrase>
      <Phrase Key="Subcollections">Subcollections</Phrase>
      <Phrase Key="Metadata_Only">Metadata Only</Phrase>
      <Phrase Key="Most_Recent">Most Recent</Phrase>
      <Phrase Key="Child_Collections">Child Collections</Phrase>
      <Phrase Key="Title">Title</Phrase>
      <Phrase Key="Date">Date</Phrase>
      <Phrase Key="Language">Language</Phrase>
      <Phrase Key="Full Citation">Full Citation</Phrase>
      <Phrase Key="Abbreviated Title">Abbreviated Title</Phrase>
      <Phrase Key="Aggregation Level">Aggregation Level</Phrase>
      <Phrase Key="Aggregations">Aggregations</Phrase>
      <Phrase Key="Class">Class</Phrase>
      <Phrase Key="Classification">Classification</Phrase>
      <Phrase Key="Committee Chair">Committee Chair</Phrase>
      <Phrase Key="Committee Co-Chair">Committee Co-Chair</Phrase>
      <Phrase Key="Committee Members">Committee Members</Phrase>
      <Phrase Key="Common Name">Common Name</Phrase>
      <Phrase Key="Conference">Conference</Phrase>
      <Phrase Key="Context">Context</Phrase>
      <Phrase Key="Coordinates">Coordinates</Phrase>
      <Phrase Key="Copyright Date">Copyright Date</Phrase>
      <Phrase Key="Cultural Context">Cultural Context</Phrase>
      <Phrase Key="Degree">Degree</Phrase>
      <Phrase Key="Degree Disciplines">Degree Disciplines</Phrase>
      <Phrase Key="Degree Divisions">Degree Divisions</Phrase>
      <Phrase Key="Degree Grantor">Degree Grantor</Phrase>
      <Phrase Key="Difficulty Level">Difficulty Level</Phrase>
      <Phrase Key="Edition">Edition</Phrase>
      <Phrase Key="Embargo Date">Embargo Date</Phrase>
      <Phrase Key="Family">Family</Phrase>
      <Phrase Key="Genus">Genus</Phrase>
      <Phrase Key="Graduation Date">Graduation Date</Phrase>
      <Phrase Key="Graduation Semester">Graduation Semester</Phrase>
      <Phrase Key="Inscription">Inscription</Phrase>
      <Phrase Key="Intended User Roles">Intended User Roles</Phrase>
      <Phrase Key="Interactivity Level">Interactivity Level</Phrase>
      <Phrase Key="Interactivity Type">Interactivity Type</Phrase>
      <Phrase Key="Kingdom">Kingdom</Phrase>
      <Phrase Key="Learning Resource Type">Learning Resource Type</Phrase>
      <Phrase Key="Materials">Materials</Phrase>
      <Phrase Key="Measurements">Measurements</Phrase>
      <Phrase Key="Order">Order</Phrase>
      <Phrase Key="Phylum">Phylum</Phrase>
      <Phrase Key="Physical Location">Physical Location</Phrase>
      <Phrase Key="Related Item">Related Item</Phrase>
      <Phrase Key="Related URL">Related URL</Phrase>
      <Phrase Key="Scientific Name">Scientific Name</Phrase>
      <Phrase Key="Species">Species</Phrase>
      <Phrase Key="State / Edition">State / Edition</Phrase>
      <Phrase Key="Status">Status</Phrase>
      <Phrase Key="Style/Period">Style/Period</Phrase>
      <Phrase Key="Subjects / Keywords">Subjects / Keywords</Phrase>
      <Phrase Key="System ID">System ID</Phrase>
      <Phrase Key="System Requirements">System Requirements</Phrase>
      <Phrase Key="Taxonomic Rank">Taxonomic Rank</Phrase>
      <Phrase Key="Technique">Technique</Phrase>
      <Phrase Key="Translated Title">Translated Title</Phrase>
      <Phrase Key="Typical Age Range">Typical Age Range</Phrase>
      <Phrase Key="Typical Learning Time">Typical Learning Time</Phrase>
      <Phrase Key="User Tags">User Tags</Phrase>
      <Phrase Key="Sort By">Sort By</Phrase>
      <Phrase Key="BibID / VID">BibID / VID</Phrase>
      <Phrase Key="Title / VID">Title / VID</Phrase>
      <Phrase Key="Last Activity Date (most recent first)">Last Activity Date (most recent first)</Phrase>
      <Phrase Key="Last Milestone Date (most recent first)">Last Milestone Date (most recent first)</Phrase>
      <Phrase Key="Last Activity Date (oldest first)">Last Activity Date (oldest first)</Phrase>
      <Phrase Key="Last Milestone Date (oldest first)">Last Milestone Date (oldest first)</Phrase>
      <Phrase Key="Browse by...">Browse by...</Phrase>
      <Phrase Key="Collection">Collection</Phrase>
      <Phrase Key="Get help.">Get help.</Phrase>
      <Phrase Key="Click to add another">Click to add another</Phrase>
      <Phrase Key="Click to add a new abstract">Click to add a new abstract</Phrase>
      <Phrase Key="Click to add a new manufacturer">Click to add a new manufacturer</Phrase>
      <Phrase Key="Click to add a new named object to this resource">Click to add a new named object to this resource</Phrase>
      <Phrase Key="Click to add a new named subject">Click to add a new named subject</Phrase>
      <Phrase Key="Click to add a new note">Click to add a new note</Phrase>
      <Phrase Key="Click to add a new other title">Click to add a new other title</Phrase>
      <Phrase Key="Click to add a new publisher">Click to add a new publisher</Phrase>
      <Phrase Key="Click to add a new related item">Click to add a new related item</Phrase>
      <Phrase Key="Click to add a new spatial coverage object">Click to add a new spatial coverage object</Phrase>
      <Phrase Key="Click to add a new temporal coverage field">Click to add a new temporal coverage field</Phrase>
      <Phrase Key="Click to add a new type of viewer">Click to add a new type of viewer</Phrase>
      <Phrase Key="Click to add a new zoological taxonomy object">Click to add a new zoological taxonomy object</Phrase>
      <Phrase Key="End Year">End Year</Phrase>
      <Phrase Key="Location(s)">Location(s)</Phrase>
      <Phrase Key="Name">Name</Phrase>
      <Phrase Key="Period">Period</Phrase>
      <Phrase Key="Specify Type">Specify Type</Phrase>
      <Phrase Key="Start Year">Start Year</Phrase>
      <Phrase Key="Access Restriction">Access Restriction</Phrase>
      <Phrase Key="Accessibility">Accessibility</Phrase>
      <Phrase Key="Aggregation (LOM)">Aggregation (LOM)</Phrase>
      <Phrase Key="All Subjects">All Subjects</Phrase>
      <Phrase Key="BibID">BibID</Phrase>
      <Phrase Key="Course Title">Course Title</Phrase>
      <Phrase Key="Difficulty">Difficulty</Phrase>
      <Phrase Key="ETD Committee">ETD Committee</Phrase>
      <Phrase Key="ETD Degree">ETD Degree</Phrase>
      <Phrase Key="ETD Degree Discipline">ETD Degree Discipline</Phrase>
      <Phrase Key="ETD Degree Division">ETD Degree Division</Phrase>
      <Phrase Key="ETD Degree Grantor">ETD Degree Grantor</Phrase>
      <Phrase Key="ETD Degree Level">ETD Degree Level</Phrase>
      <Phrase Key="Group Restrictions">Group Restrictions</Phrase>
      <Phrase Key="Instances">Instances</Phrase>
      <Phrase Key="Intended End User">Intended End User</Phrase>
      <Phrase Key="Intervewer">Interviewer</Phrase>
      <Phrase Key="Intervewiee">Interviewee</Phrase>
      <Phrase Key="Learning Object Type">Learning Object Type</Phrase>
      <Phrase Key="Learning Time">Learning Time</Phrase>
      <Phrase Key="Licensing">Licensing</Phrase>
      <Phrase Key="LOM Intended End User Display">LOM Intended End User Display</Phrase>
      <Phrase Key="LOM Resource Type Display">LOM Resource Type Display</Phrase>
      <Phrase Key="Material">Material</Phrase>
      <Phrase Key="Material Type">Material Type</Phrase>
      <Phrase Key="MIME Type">MIME Type</Phrase>
      <Phrase Key="Name as Subject">Name as Subject</Phrase>
      <Phrase Key="Other_Citation">Other Citation</Phrase>
      <Phrase Key="Peformance">Performance</Phrase>
      <Phrase Key="Peformance Date">Performance Date</Phrase>
      <Phrase Key="Peformer">Performer</Phrase>
      <Phrase Key="Performance">Performance</Phrase>
      <Phrase Key="Performance Date">Performance Date</Phrase>
      <Phrase Key="Performer">Performer</Phrase>
      <Phrase Key="Publication Place">Publication Place</Phrase>
      <Phrase Key="Requirements">Requirements</Phrase>
      <Phrase Key="Style Period">Style Period</Phrase>
      <Phrase Key="Subject Keyword">Subject Keyword</Phrase>
      <Phrase Key="Taxonomic All Taxonomy">Taxonomic All Taxonomy</Phrase>
      <Phrase Key="Taxonomic Class">Taxonomic Class</Phrase>
      <Phrase Key="Taxonomic Common Name">Taxonomic Common Name</Phrase>
      <Phrase Key="Taxonomic Family">Taxonomic Family</Phrase>
      <Phrase Key="Taxonomic Genus">Taxonomic Genus</Phrase>
      <Phrase Key="Taxonomic Kingdom">Taxonomic Kingdom</Phrase>
      <Phrase Key="Taxonomic Order">Taxonomic Order</Phrase>
      <Phrase Key="Taxonomic Phylum">Taxonomic Phylum</Phrase>
      <Phrase Key="Taxonomic Scientific Name">Taxonomic Scientific Name</Phrase>
      <Phrase Key="Taxonomic Species">Taxonomic Species</Phrase>
      <Phrase Key="Temporal Decade">Temporal Decade</Phrase>
      <Phrase Key="Temporal Subject">Temporal Subject</Phrase>
      <Phrase Key="Temporal Subject Display">Temporal Subject Display</Phrase>
      <Phrase Key="Temporal Year">Temporal Year</Phrase>
      <Phrase Key="Timeline Date">Timeline Date</Phrase>
      <Phrase Key="Title as Subject">Title as Subject</Phrase>
      <Phrase Key="TOC">TOC</Phrase>
      <Phrase Key="Tracking Box">Tracking Box</Phrase>
      <Phrase Key="Undefined">Undefined</Phrase>
      <Phrase Key="User Description">User Description</Phrase>
      <Phrase Key="Access Restrictions">Access Restrictions</Phrase>
      <Phrase Key="External Link">External Link</Phrase>
      <Phrase Key="Open-NJ Link">Open-NJ Link</Phrase>
      <Phrase Key="Brief View">Brief View</Phrase>
      <Phrase Key="Table View">Table View</Phrase>
      <Phrase Key="Thumbnail View">Thumbnail View</Phrase>
      <Phrase Key="Subject: Topics">Subject: Topics</Phrase>
      <Phrase Key="Subject: Spatial Coverage">Subject: Spatial Coverage</Phrase>
      <Phrase Key="Creators">Creators</Phrase>
      <Phrase Key="All applicable rights reserved by the source institution and holding location.">All applicable rights reserved by the source institution and holding location.</Phrase>
      <Phrase Key="See License Deed">See License Deed</Phrase>
      <Phrase Key="Material Information">Material Information</Phrase>
      <Phrase Key="Thesis/Dissertation Information">Thesis/Dissertation Information</Phrase>
      <Phrase Key="Zoological Taxonomic Information">Zoological Taxonomic Information</Phrase>
      <Phrase Key="Learning Resource Information">Learning Resource Information</Phrase>
      <Phrase Key="Record Information">Record Information</Phrase>
      <Phrase Key="Related Items">Related Items</Phrase>
    </Section>

  </Localization>
</SobekCM_Config>
