<?xml version="1.0" encoding="utf-8" ?>
<SobekCM_Config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://sobekrepository.org/schemas/sobekcm_config"
	xsi:schemaLocation="http://sobekrepository.org/schemas/sobekcm_config
		http://sobekrepository.org/schemas/sobekcm_config.xsd">
  <Localization Language="en">

    <Section Name="Internal">
      <Phrase Key="Collection_Details_Title">Active and Inactive Collections</Phrase>
      <Phrase Key="New_Items_Title">Newly Added or Modified Items</Phrase>
      <Phrase Key="Memory_Mgmt_Title">Current Memory Profile</Phrase>
      <Phrase Key="Wordmarks_Title">Wordmarks</Phrase>
      <Phrase Key="Build_Failures_Title">Build Failure Log</Phrase>
      <Phrase Key="Unauthorized_Title">Internal Users Only</Phrase>
      <Phrase Key="Unauthorized_Message">You are not authorized to access this view.</Phrase>
      <Phrase Key="Return_Home_Link">Click here to return to the digital library home page.</Phrase>

      <Phrase Key="Wordmarks_Admin_Manage_Html"><![CDATA[Since you are an administrator, you can <a href="{0}">manage the wordmarks from the admin screen</a>.]]></Phrase>
      <Phrase Key="No_Wordmarks_Message">No wordmarks in this system</Phrase>
      <Phrase Key="Wordmarks_Admin_Add_Message">Administrators may add wordmarks through the wordmarks admin screens</Phrase>

      <Phrase Key="Build_Failures_Intro">The data below shows errors which occurred while loading new items through the builder.  These can be displayed by month and year below by selecting the start and end month.  These failures will continue to display until they are manually cleared by a DLC technician or until the item successfully loads after the failure or warning.</Phrase>
      <Phrase Key="Selected_Date_Range">Selected Date Range</Phrase>
      <Phrase Key="Build_Failures_Search_Prompt">The failures and warnings which were encountered during build are searchable below, by month:</Phrase>
      <Phrase Key="From_Label">From:</Phrase>
      <Phrase Key="To_Label">To:</Phrase>
      <Phrase Key="Select_Range_Title">Select Range</Phrase>
      <Phrase Key="Change_Date_Instructions">To change the date shown, choose your dates above and hit the GO button.</Phrase>
      <Phrase Key="Build_Failures_Warnings_Header">Build Failures and Warnings</Phrase>
      <Phrase Key="No_Failures_Message">No uncleared warnings or failures for the selected date range.</Phrase>
      <Phrase Key="Bibid_Vid_Header">BIBID : VID</Phrase>
      <Phrase Key="Mets_Type_Header">METS TYPE</Phrase>
      <Phrase Key="Description_Header">DESCRIPTION</Phrase>

      <Phrase Key="Global_Values_Header">GLOBAL VALUES</Phrase>
      <Phrase Key="Application_State_Header">APPLICATION STATE VALUES</Phrase>
      <Phrase Key="Local_Cache_State_Header">LOCALLY CACHED OBJECTS</Phrase>
      <Phrase Key="Session_State_Header">SESSION STATE VALUES</Phrase>
      <Phrase Key="Instance_Name_Header">INSTANCE NAME</Phrase>
      <Phrase Key="Key_Header">KEY</Phrase>
      <Phrase Key="Object_Header">OBJECT</Phrase>
      <Phrase Key="None_Placeholder">( none )</Phrase>
      <Phrase Key="Application_State_Error">Error caught while pulling Application State memory management information</Phrase>
      <Phrase Key="Local_Cache_Error">Error caught while pulling memory cache management information</Phrase>
      <Phrase Key="Session_State_Error">Error caught while pulling Session State memory management information</Phrase>

      <Phrase Key="Aggregations_Tree_Intro">Below is the complete master tree of all aggregations within this library.  This includes all active aggregations, as well as all hidden or inactive collections.</Phrase>
      <Phrase Key="View_Table_View_Link">Click here to view the aggregations in table view</Phrase>
      <Phrase Key="Collapse_All">Collapse All</Phrase>
      <Phrase Key="Expand_All">Expand All</Phrase>
      <Phrase Key="Collection_Hierarchy">Collection Hierarchy</Phrase>
      <Phrase Key="Institutions">Institutions</Phrase>

      <Phrase Key="Aggregations_List_Intro">Below is the complete master list of all aggregations within this library.  This includes all active aggregations, as well as all hidden or inactive collections.</Phrase>
      <Phrase Key="View_Tree_View_Link">Click here to view the aggregations in tree view</Phrase>
      <Phrase Key="Code_Header">CODE</Phrase>
      <Phrase Key="Type_Header">TYPE</Phrase>
      <Phrase Key="Name_Header">NAME</Phrase>
      <Phrase Key="Active_Header">ACTIVE</Phrase>
      <Phrase Key="On_Home_Header">ON HOME</Phrase>
      <Phrase Key="Parent_Header">PARENT</Phrase>
      <Phrase Key="Search_Code_Placeholder">Search Code</Phrase>
      <Phrase Key="Search_Name_Placeholder">Search Name</Phrase>

      <Phrase Key="No_New_Items_Message">NO NEW ITEMS</Phrase>
      <Phrase Key="Date_Header">DATE</Phrase>
      <Phrase Key="All_Types">ALL</Phrase>
      <Phrase Key="Online_Edits">ONLINE EDITS</Phrase>
      <Phrase Key="Online_Submits">ONLINE SUBMITS</Phrase>
      <Phrase Key="Visibility_Changes">VISIBILITY CHANGES</Phrase>
      <Phrase Key="Bulk_Loaded">BULK LOADED</Phrase>
      <Phrase Key="Post_Processed">POST-PROCESSED</Phrase>
      <Phrase Key="Large_Update_Count_Message">There have been an unusually large number of updates over the last week.</Phrase>
      <Phrase Key="Select_Update_Type_Message">Select the update type tab above to view the details.</Phrase>
      <Phrase Key="User_Header">USER</Phrase>
      <Phrase Key="No_Tracking_Info_Message">NO TRACKING INFORMATION FOR YOUR SELECTION.</Phrase>
      <Phrase Key="No_Info_Message">NO INFORMATION FOR YOUR SELECTION.</Phrase>

      <Phrase Key="Month_1">January</Phrase>
      <Phrase Key="Month_2">February</Phrase>
      <Phrase Key="Month_3">March</Phrase>
      <Phrase Key="Month_4">April</Phrase>
      <Phrase Key="Month_5">May</Phrase>
      <Phrase Key="Month_6">June</Phrase>
      <Phrase Key="Month_7">July</Phrase>
      <Phrase Key="Month_8">August</Phrase>
      <Phrase Key="Month_9">September</Phrase>
      <Phrase Key="Month_10">October</Phrase>
      <Phrase Key="Month_11">November</Phrase>
      <Phrase Key="Month_12">December</Phrase>
    </Section>

  </Localization>
</SobekCM_Config>
