<?xml version="1.0" encoding="utf-8" ?>
<SobekCM_Config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://sobekrepository.org/schemas/sobekcm_config"
	xsi:schemaLocation="http://sobekrepository.org/schemas/sobekcm_config
		http://sobekrepository.org/schemas/sobekcm_config.xsd">
  <Localization Language="en">

    <Section Name="General">
      <Phrase Key="Description">Description</Phrase>
      <Phrase Key="Format">Format</Phrase>
      <Phrase Key="Publisher">Publisher</Phrase>
      <Phrase Key="Relation">Relation</Phrase>
      <Phrase Key="Resource_Identifier">Resource Identifier</Phrase>
      <Phrase Key="Resource_Type">Resource Type</Phrase>
      <Phrase Key="Subject">Subject</Phrase>
      <Phrase Key="Abstract">Abstract</Phrase>
      <Phrase Key="Alternate_Title">Alternate Title</Phrase>
      <Phrase Key="Attribution_Statement">Attribution Statement</Phrase>
      <Phrase Key="Bibliographic_ID">Bibliographic ID</Phrase>
      <Phrase Key="Contributor">Contributor</Phrase>
      <Phrase Key="Creator">Creator</Phrase>
      <Phrase Key="Donor">Donor</Phrase>
      <Phrase Key="EAD_Identifier">EAD Identifier</Phrase>
      <Phrase Key="Holding_Location">Holding Location</Phrase>
      <Phrase Key="Latitude_Hours">Latitude Hours</Phrase>
      <Phrase Key="Latitude_Minutes">Latitude Minutes</Phrase>
      <Phrase Key="Latitude_Seconds">Latitude Seconds</Phrase>
      <Phrase Key="Longitude_Hours">Longitude Hours</Phrase>
      <Phrase Key="Longitude_Minutes">Longitude Minutes</Phrase>
      <Phrase Key="Longitude_Seconds">Longitude Seconds</Phrase>
      <Phrase Key="Notes">Notes</Phrase>
      <Phrase Key="Rights_Management">Rights Management</Phrase>
      <Phrase Key="Scale">Scale</Phrase>
      <Phrase Key="Series_Title">Series Title</Phrase>
      <Phrase Key="Source_Institution">Source Institution</Phrase>
      <Phrase Key="Spatial_Coverage">Spatial Coverage</Phrase>
      <Phrase Key="Subcollection">Subcollection</Phrase>
      <Phrase Key="Temporal_Coverage">Temporal Coverage</Phrase>
      <Phrase Key="Uniform_Title">Uniform Title</Phrase>
      <Phrase Key="Volume_ID">Volume ID</Phrase>
      <Phrase Key="Interviewer">Interviewer</Phrase>
      <Phrase Key="Interviewee">Interviewee</Phrase>
      <Phrase Key="Publication_Date">Publication Date</Phrase>
      <Phrase Key="Author">Author</Phrase>
      <Phrase Key="Place_of_Publication">Place of Publication</Phrase>
      <Phrase Key="Year">Year</Phrase>
      <Phrase Key="Acknowledgement">Acknowledgement</Phrase>
      <Phrase Key="Advertising">Advertising</Phrase>
      <Phrase Key="Appendix">Appendix</Phrase>
      <Phrase Key="Back_Cover">Back Cover</Phrase>
      <Phrase Key="Back_Matter">Back Matter</Phrase>
      <Phrase Key="Bibliography">Bibliography</Phrase>
      <Phrase Key="Chapter">Chapter</Phrase>
      <Phrase Key="Conclusion">Conclusion</Phrase>
      <Phrase Key="Copyright">Copyright</Phrase>
      <Phrase Key="Cover">Cover</Phrase>
      <Phrase Key="Dedication">Dedication</Phrase>
      <Phrase Key="Errata">Errata</Phrase>
      <Phrase Key="Foreword">Foreword</Phrase>
      <Phrase Key="Front_Cover">Front Cover</Phrase>
      <Phrase Key="Front_Matter">Front Matter</Phrase>
      <Phrase Key="Frontispiece">Frontispiece</Phrase>
      <Phrase Key="Half_Title">Half Title</Phrase>
      <Phrase Key="Index">Index</Phrase>
      <Phrase Key="Interview">Interview</Phrase>
      <Phrase Key="Introduction">Introduction</Phrase>
      <Phrase Key="List_of_Figures">List of Figures</Phrase>
      <Phrase Key="List_of_Illustrations">List of Illustrations</Phrase>
      <Phrase Key="List_of_Tables">List of Tables</Phrase>
      <Phrase Key="Main">Main</Phrase>
      <Phrase Key="Methodology">Methodology</Phrase>
      <Phrase Key="Poem">Poem</Phrase>
      <Phrase Key="Preface">Preface</Phrase>
      <Phrase Key="Prelude">Prelude</Phrase>
      <Phrase Key="Reference">Reference</Phrase>
      <Phrase Key="Section">Section</Phrase>
      <Phrase Key="Spine">Spine</Phrase>
      <Phrase Key="Subdivision_Level_1">Subdivision Level 1</Phrase>
      <Phrase Key="Subdivision_Level_2">Subdivision Level 2</Phrase>
      <Phrase Key="Subdivision_Level_3">Subdivision Level 3</Phrase>
      <Phrase Key="Subdivision_Level_4">Subdivision Level 4</Phrase>
      <Phrase Key="Subdivision_Level_5">Subdivision Level 5</Phrase>
      <Phrase Key="Subdivision_Level_6">Subdivision Level 6</Phrase>
      <Phrase Key="Table_of_Contents">Table of Contents</Phrase>
      <Phrase Key="Title_Page">Title Page</Phrase>
      <Phrase Key="Group">Group</Phrase>
      <Phrase Key="PAGE_IMAGE">PAGE IMAGE</Phrase>
      <Phrase Key="PAGE_TEXT">PAGE TEXT</Phrase>
      <Phrase Key="ZOOMABLE">ZOOMABLE</Phrase>
      <Phrase Key="FEATURES">FEATURES</Phrase>
      <Phrase Key="STREETS">STREETS</Phrase>
      <Phrase Key="All_Items">All Items</Phrase>
      <Phrase Key="Recently_Added_Items">Recently Added Items</Phrase>
      <Phrase Key="Related_Images">Related Images</Phrase>
      <Phrase Key="Anywhere">Anywhere</Phrase>
      <Phrase Key="NARROW_RESULTS_BY">NARROW RESULTS BY</Phrase>
      <Phrase Key="Country">Country</Phrase>
      <Phrase Key="State">State</Phrase>
      <Phrase Key="County">County</Phrase>
      <Phrase Key="City">City</Phrase>
      <Phrase Key="Subject_Topic">Subject: Topic</Phrase>
      <Phrase Key="Subject_Geographic_Area">Subject: Geographic Area</Phrase>
      <Phrase Key="Subject_Genre">Subject: Genre</Phrase>
      <Phrase Key="Show_More">Show More</Phrase>
      <Phrase Key="Show_Less">Show Less</Phrase>
      <Phrase Key="Permanent_Link">Permanent Link</Phrase>
      <Phrase Key="Material_Information">Material Information</Phrase>
      <Phrase Key="Physical_Description">Physical Description</Phrase>
      <Phrase Key="Manufacturer">Manufacturer</Phrase>
      <Phrase Key="Subjects">Subjects</Phrase>
      <Phrase Key="Statement_of_Responsibility">Statement of Responsibility</Phrase>
      <Phrase Key="General_Note">General Note</Phrase>
      <Phrase Key="Record_Information">Record Information</Phrase>
      <Phrase Key="Local_Membership">Local Membership</Phrase>
      <Phrase Key="METS_Information">METS Information</Phrase>
      <Phrase Key="Creation_Date">Creation Date</Phrase>
      <Phrase Key="Last_Modified">Last Modified</Phrase>
      <Phrase Key="Last_User">Last User</Phrase>
      <Phrase Key="System_Folder">System Folder</Phrase>
      <Phrase Key="Item_Primary_Key">Item Primary Key</Phrase>
      <Phrase Key="Group_Primary_Key">Group Primary Key</Phrase>
      <Phrase Key="System_Admin_Information">System Admin Information</Phrase>
      <Phrase Key="Group_Title">Group Title</Phrase>
      <Phrase Key="Accession_Number">Accession Number</Phrase>
      <Phrase Key="Caribbean_Newspaper_Digital_Library">Caribbean Newspaper Digital Library</Phrase>
      <Phrase Key="Digital_Library_of_the_Caribbean">Digital Library of the Caribbean</Phrase>
      <Phrase Key="Panama_and_the_Canal">Panama and the Canal</Phrase>
      <Phrase Key="Subject_Keywords">Subject Keywords</Phrase>
      <Phrase Key="Type">Type</Phrase>
      <Phrase Key="Genre">Genre</Phrase>
      <Phrase Key="Target_Audience">Target Audience</Phrase>
      <Phrase Key="Attribution">Attribution</Phrase>
      <Phrase Key="Tickler">Tickler</Phrase>
      <Phrase Key="Identifier">Identifier</Phrase>
      <Phrase Key="Affiliation">Affiliation</Phrase>
      <Phrase Key="Frequency">Frequency</Phrase>
      <Phrase Key="Date_Ascending">Date Ascending</Phrase>
      <Phrase Key="Date_Descending">Date Descending</Phrase>
      <Phrase Key="TEXT_SEARCH">TEXT SEARCH</Phrase>
      <Phrase Key="Subcollections">Subcollections</Phrase>
      <Phrase Key="Metadata_Only">Metadata Only</Phrase>
      <Phrase Key="Most_Recent">Most Recent</Phrase>
      <Phrase Key="Child_Collections">Child Collections</Phrase>
      <Phrase Key="Title">Title</Phrase>
      <Phrase Key="Date">Date</Phrase>
      <Phrase Key="Language">Language</Phrase>
      <Phrase Key="Full_Citation">Full Citation</Phrase>
    </Section>

  </Localization>
</SobekCM_Config>
