<?xml version="1.0" encoding="utf-8" ?>
<SobekCM_Config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://sobekrepository.org/schemas/sobekcm_config"
	xsi:schemaLocation="http://sobekrepository.org/schemas/sobekcm_config
		http://sobekrepository.org/schemas/sobekcm_config.xsd">
  <Localization Language="en">

    <Section Name="Aggregation_Common">
      <Phrase Key="Go">Go</Phrase>
      <Phrase Key="Search_Collection">Search Collection</Phrase>
      <Phrase Key="Include_Non_Public_Items">Include non-public items</Phrase>
      <Phrase Key="Limit_By_Year">Limit by Year</Phrase>
      <Phrase Key="Show_Only_Media">Show only records with images or other media</Phrase>
      <Phrase Key="Through">through</Phrase>
      <Phrase Key="Include_Full_Text">Include the document text in search</Phrase>
      <Phrase Key="Search_All_Collections">Search All Collections</Phrase>
      <Phrase Key="Home">Home</Phrase>
    </Section>

    <Section Name="Advanced_Search">
      <Phrase Key="Search_For">Search for:</Phrase>
      <Phrase Key="In">in</Phrase>
      <Phrase Key="Search">Search</Phrase>
      <Phrase Key="Search_Options">Search Options</Phrase>
      <Phrase Key="Precision">Precision</Phrase>
      <Phrase Key="Contains_Exactly">Contains exactly the search terms</Phrase>
      <Phrase Key="Contains_Any_Form">Contains any form of the search terms</Phrase>
      <Phrase Key="Contains_Meaning">Contains the search term or terms of similar meaning</Phrase>
      <Phrase Key="And">and</Phrase>
      <Phrase Key="Or">or</Phrase>
      <Phrase Key="And_Not">and not</Phrase>
    </Section>

    <Section Name="Item_Count">
      <Phrase Key="Resource_Count_In_Collection">Resource Count in Collection</Phrase>
      <Phrase Key="Description">Below is the number of titles and items for all items within this aggregation, including currently online items as well as items in process.</Phrase>
      <Phrase Key="Visibility">VISIBILITY</Phrase>
      <Phrase Key="Title_Count">TITLE COUNT</Phrase>
      <Phrase Key="Item_Count">ITEM COUNT</Phrase>
      <Phrase Key="Page_Count">PAGE COUNT</Phrase>
      <Phrase Key="File_Count">FILE COUNT</Phrase>
    </Section>

    <Section Name="Full_Text_Search">
      <Phrase Key="Search_Full_Text">Search full text</Phrase>
    </Section>

    <Section Name="DLOC_Search">
      <Phrase Key="Include_Newspapers">Include newspapers?</Phrase>
    </Section>

    <Section Name="Map_Common">
      <Phrase Key="Google_Maps_Not_Enabled_Html"><![CDATA[<p style="font-weight:bold; text-size:1.1em">ERROR: Google Maps are not enabled on this instance of SobekCM!</p>
<p>To enable them, please create a Google Map API key and enter it in the system-wide settings.</p>
<p>Information on this process can be found here: <a href="http://sobekrepository.org/software/config/googlemaps">http://sobekrepository.org/software/config/googlemaps</a>.</p>]]></Phrase>
    </Section>

    <Section Name="Map_Browse">
      <Phrase Key="Select_Point_Instructions_Html"><![CDATA[Select a point below to view the items from or about that location.<br />Press the SHIFT button, and then drag a box on the map to zoom in.]]></Phrase>
      <Phrase Key="More_Info_Single_Title">Click here for more information about this title</Phrase>
      <Phrase Key="More_Info_Multiple_Titles">Click here for more information about these {0} titles</Phrase>
    </Section>

    <Section Name="Map_Search">
      <Phrase Key="Find_Address">Find Address</Phrase>
      <Phrase Key="Address">Address</Phrase>
      <Phrase Key="Locate">Locate</Phrase>
      <Phrase Key="Point_Disabled_Instructions_Html"><![CDATA[<span style="line-height:160%"> &nbsp; &nbsp; 1. Use the <i>Select Area</i> button and click to select opposite corners to draw a search box on the map &nbsp; &nbsp; <br /> &nbsp; &nbsp; 2. Press the <i>Search</i> button to see results &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; ( <a href="#FAQ">more help</a> )</span>]]></Phrase>
      <Phrase Key="Faq_Point_Disabled_Html"><![CDATA[  <h1>Map Search FAQ</h1>
  <ul>
    <li>How do I search?
      <p class="tagline">To perform a search, you first need to define your area of interest and then perform the search.  To define an area, click <i>Press to Select Area</i> on the map.  Then click on a starting point on the map and then click on the opposite corner to create a rectangle.  By clicking on <i>Search</i> above the map, you will retrieve matches for that area.</p>
    </li>
    <li>I am having difficulty selecting an area
      <p class="tagline">Selecting a rectangular area to search is simple once you understand the technique.  First, select the <i>Press to Select Area</i> button on the map.  Then, move to the top left corner of the region you wish to search and click and release the left mouse button.  As you move the mouse now you will notice a rectangle is being drawn which represents your region.  When you click and release the mouse again, you define the lower right corner of the region to search.  Do not press the mouse button and drag the mouse, as this will drag the map around, and will not define a region to select.  Once your region is correctly identified, press the <i>Search</i> button to view matching results.</p>
    </li>
    <li>Why can't I search by address or by a point?
      <p class="tagline">This collection is composed primarily of points, so area searching is much more effective than point searching.</p>
    </li>
    <li>What is being searched?
      <p class="tagline">The data searched depends upon the material type.  For newspapers, the place of publication is searched.  For maps, the geographic coverage is searched.  And for photographs, the location the photograph was taken is searched.</p>
    </li>
    <li>Why so few hits?
      <p class="tagline"> This interface is in beta testing, as we add more coordinate information to our database to search.  Check back often to see our progress!</p>
    </li>
  </ul>]]></Phrase>
    </Section>

    <Section Name="Newspaper_Search">
      <Phrase Key="Full_Citation">Full Citation</Phrase>
      <Phrase Key="Full_Text">Full Text</Phrase>
      <Phrase Key="Newspaper_Title">Newspaper Title</Phrase>
      <Phrase Key="Location">Location</Phrase>
    </Section>

    <Section Name="Metadata_Browse">
      <Phrase Key="Browse_By">Browse by</Phrase>
      <Phrase Key="Browse_By_Colon">BROWSE BY:</Phrase>
      <Phrase Key="Public_Browses">Public Browses</Phrase>
      <Phrase Key="Internal_Browses">Internal Browses</Phrase>
      <Phrase Key="Browses">Browses</Phrase>
      <Phrase Key="Select_Field_Prompt">Select a metadata field to browse by from the list on the left</Phrase>
      <Phrase Key="No_Matching_Values">NO MATCHING VALUES</Phrase>
    </Section>

    <Section Name="Tiles_Home">
      <Phrase Key="Varies">( varies )</Phrase>
    </Section>

    <Section Name="Thumbnails_Home">
      <Phrase Key="Collection_Items">Collection Items</Phrase>
      <Phrase Key="Showing_Items_Out_Of">Showing 20 items out of {0}</Phrase>
      <Phrase Key="View_All">View all</Phrase>
    </Section>

    <Section Name="Usage_Statistics">
      <Phrase Key="Title_Collection_Views">History of Collection-Level Usage</Phrase>
      <Phrase Key="Title_Item_Views">History of Item Usage</Phrase>
      <Phrase Key="Title_Top_Titles">Most Accessed Titles</Phrase>
      <Phrase Key="Title_Top_Items">Most Accessed Items</Phrase>
      <Phrase Key="Title_Definitions">Definitions of Terms Used</Phrase>

      <Phrase Key="Tab_Collection_Views">COLLECTION VIEWS</Phrase>
      <Phrase Key="Tab_Item_Views">ITEM VIEWS</Phrase>
      <Phrase Key="Tab_Top_Titles">TOP TITLES</Phrase>
      <Phrase Key="Tab_Top_Items">TOP ITEMS</Phrase>
      <Phrase Key="Tab_Definitions">DEFINITIONS</Phrase>

      <Phrase Key="Month_1">January</Phrase>
      <Phrase Key="Month_2">February</Phrase>
      <Phrase Key="Month_3">March</Phrase>
      <Phrase Key="Month_4">April</Phrase>
      <Phrase Key="Month_5">May</Phrase>
      <Phrase Key="Month_6">June</Phrase>
      <Phrase Key="Month_7">July</Phrase>
      <Phrase Key="Month_8">August</Phrase>
      <Phrase Key="Month_9">September</Phrase>
      <Phrase Key="Month_10">October</Phrase>
      <Phrase Key="Month_11">November</Phrase>
      <Phrase Key="Month_12">December</Phrase>

      <Phrase Key="Collection_History_Intro">Usage history for this collection is displayed below. This history includes just the top-level views of the collection.</Phrase>
      <Phrase Key="Item_History_Intro">Usage history for the items within this collection are displayed below.</Phrase>
      <Phrase Key="Items_By_Collection_Intro">The most commonly utilized items for this collection appear below.</Phrase>
      <Phrase Key="Titles_By_Collection_Intro">The most commonly utilized titles by collection appear below.</Phrase>
      <Phrase Key="Definitions_Link_Sentence"><![CDATA[The <a href="{0}">Definitions page</a> provides more details about the statistics and words used below.]]></Phrase>

      <Phrase Key="Year_Statistics_Suffix"> STATISTICS</Phrase>
      <Phrase Key="Total">TOTAL</Phrase>

      <Phrase Key="Date">DATE</Phrase>
      <Phrase Key="Total_Views_Html"><![CDATA[TOTAL<br />VIEWS]]></Phrase>
      <Phrase Key="Visits">VISITS</Phrase>
      <Phrase Key="Main_Pages_Html"><![CDATA[MAIN <br />PAGES]]></Phrase>
      <Phrase Key="Browses">BROWSES</Phrase>
      <Phrase Key="Search_Results_Html"><![CDATA[SEARCH<br />RESULTS]]></Phrase>
      <Phrase Key="Title_Views_Html"><![CDATA[TITLE<br />VIEWS]]></Phrase>
      <Phrase Key="Item_Views_Html"><![CDATA[ITEM<br />VIEWS]]></Phrase>

      <Phrase Key="Jpeg_Views_Html"><![CDATA[JPEG<br />VIEWS]]></Phrase>
      <Phrase Key="Zoomable_Views_Html"><![CDATA[ZOOMABLE<br />VIEWS]]></Phrase>
      <Phrase Key="Citation_Views_Html"><![CDATA[CITATION<br />VIEWS]]></Phrase>
      <Phrase Key="Thumbnail_Views_Html"><![CDATA[THUMBNAIL<br />VIEWS]]></Phrase>
      <Phrase Key="Text_Searches_Html"><![CDATA[TEXT<br />SEARCHES]]></Phrase>
      <Phrase Key="Flash_Views_Html"><![CDATA[FLASH<br />VIEWS]]></Phrase>
      <Phrase Key="Map_Views_Html"><![CDATA[MAP<br />VIEWS]]></Phrase>
      <Phrase Key="Download_Views_Html"><![CDATA[DOWNLOAD<br />VIEWS]]></Phrase>
      <Phrase Key="Static_Views_Html"><![CDATA[STATIC<br />VIEWS]]></Phrase>

      <Phrase Key="Bibid">BIBID</Phrase>
      <Phrase Key="Vid">VID</Phrase>
      <Phrase Key="Title">TITLE</Phrase>
      <Phrase Key="Views">VIEWS</Phrase>

    </Section>

    <Section Name="Aggregation_Nav_Bar">
      <Phrase Key="Advanced_Search">Advanced Search</Phrase>
      <Phrase Key="Basic_Search">Basic Search</Phrase>
      <Phrase Key="Map_Search">Map Search</Phrase>
      <Phrase Key="Newspaper_Search">Newspaper Search</Phrase>
      <Phrase Key="Text_Search">Text Search</Phrase>
    </Section>

    <Section Name="Aggregation_Home">
      <Phrase Key="List_View">LIST VIEW</Phrase>
      <Phrase Key="Brief_View">BRIEF VIEW</Phrase>
      <Phrase Key="Tree_View">TREE VIEW</Phrase>
      <Phrase Key="Thumbnail_View">THUMBNAIL VIEW</Phrase>
    </Section>

    <Section Name="Aggregation_Sharing">
      <Phrase Key="Print_Alt">PRINT</Phrase>
      <Phrase Key="Print_Title">Print this page</Phrase>
      <Phrase Key="Send_Alt">SEND</Phrase>
      <Phrase Key="Send_Title">Send this to someone</Phrase>
      <Phrase Key="Share_Alt">SHARE</Phrase>
      <Phrase Key="Share_Title">Share this collection</Phrase>
      <Phrase Key="Remove_Alt">REMOVE</Phrase>
      <Phrase Key="Remove_Title">Remove this from my collections home page</Phrase>
      <Phrase Key="Add_Alt">ADD</Phrase>
      <Phrase Key="Add_Title">Add this to my collections home page</Phrase>
      <Phrase Key="Save_Title">Save this to my collections home page</Phrase>
      <Phrase Key="Email_Popup_Title">Send this Collection to a Friend</Phrase>
      <Phrase Key="Email_Popup_Close_Alt">CLOSE</Phrase>
      <Phrase Key="Email_Info_Prompt">Enter the email information below</Phrase>
      <Phrase Key="To_Label">To:</Phrase>
      <Phrase Key="Comments_Label">Comments:</Phrase>
      <Phrase Key="Format_Label">Format:</Phrase>
      <Phrase Key="Html_Label">HTML</Phrase>
      <Phrase Key="Plain_Text_Label">Plain Text</Phrase>
      <Phrase Key="Cancel_Button">CANCEL</Phrase>
      <Phrase Key="Send_Button">SEND</Phrase>
    </Section>

    <Section Name="Static_Browse_Info">
      <Phrase Key="Show_Header_Data_Link">show header data (advanced)</Phrase>
      <Phrase Key="Header_Info_Description">The data below describes the content of this static child page and is used by some search engine indexing algorithms.  By default, it will not show in text of the page, but will be included in the head tag of the page.</Phrase>
      <Phrase Key="Title_Label">Title:</Phrase>
      <Phrase Key="Author_Label">Author:</Phrase>
      <Phrase Key="Date_Label">Date:</Phrase>
      <Phrase Key="Description_Label">Description:</Phrase>
      <Phrase Key="Keywords_Label">Keywords:</Phrase>
      <Phrase Key="Html_Head_Info_Label">HTML Head Info:</Phrase>
      <Phrase Key="Title_Help">Help for the title place holder</Phrase>
      <Phrase Key="Author_Help">Help for the author place holder</Phrase>
      <Phrase Key="Date_Help">Help for the date place holder</Phrase>
      <Phrase Key="Description_Help">Help for the description place holder</Phrase>
      <Phrase Key="Keywords_Help">Help for the keywords place holder</Phrase>
      <Phrase Key="Extra_Head_Help">Help for the extra head place holder</Phrase>
      <Phrase Key="Cancel_Title">Do not apply changes</Phrase>
      <Phrase Key="Cancel_Button">CANCEL</Phrase>
      <Phrase Key="Save_Title">Save changes to this child page text</Phrase>
      <Phrase Key="Save_Button">SAVE</Phrase>
      <Phrase Key="Edit_Content_Title">Edit this page's text</Phrase>
      <Phrase Key="Edit_Content_Link">edit content</Phrase>
    </Section>

    <Section Name="Manage_Menu_Aggregation">
      <Phrase Key="Viewer_Title">Aggregation Management Menu</Phrase>
      <Phrase Key="Intro_Prompt">How would you like to manage this collection today?</Phrase>
      <Phrase Key="Private_Items_Link">View Private and Dark Items</Phrase>
      <Phrase Key="Private_Items_Desc">View the private and dark items which are a part of this collection, along with the last milestone information for each item.</Phrase>
      <Phrase Key="Item_Count_Link">View Item Count in Collection</Phrase>
      <Phrase Key="Item_Count_Desc">View the total item count within this collection, as well as a count of how many items are in currently in process within each major milestone.</Phrase>
      <Phrase Key="Usage_Stats_Link">View History of Collection Use</Phrase>
      <Phrase Key="Usage_Stats_Desc">View the usage statistics for this collection, and for all items within this collection.</Phrase>
      <Phrase Key="Metadata_Browse_Link">View Metadata Browses</Phrase>
      <Phrase Key="Metadata_Browse_Desc">View public and/or administrative metadata browses with the complete list of all metadata in the searchable metadata fields for this collection.</Phrase>
      <Phrase Key="Change_Log_Link">View Collection Change Log</Phrase>
      <Phrase Key="Change_Log_Desc">View the change log for this collection and the design files under this collection.  This does not include the history of digital resources loaded into this collection.</Phrase>
      <Phrase Key="User_Permissions_Link">View User Permissions</Phrase>
      <Phrase Key="User_Permissions_Desc">View special user permissions granted to users over this collection.  This includes permissions assigned individually, as well as permissions assigned through user groups.</Phrase>
      <Phrase Key="Admin_Link">Collection Administration</Phrase>
      <Phrase Key="Admin_Desc">Perform administrative duties against this collection, changing the appearance, facets, results types, and much more.</Phrase>
    </Section>

    <Section Name="User_Permissions_Aggregation">
      <Phrase Key="Viewer_Title">Collection-Specific User Permissions</Phrase>
      <Phrase Key="No_Permissions_Message">No special user permissions found for this collection.</Phrase>
      <Phrase Key="Assign_Permissions_Sentence">Use the &lt;a href="{0}"&gt;administrative Users &amp;amp; Groups&lt;/a&gt; to assign collection-specific user permissions.</Phrase>
      <Phrase Key="Assign_New_Permissions_Sentence">Use the &lt;a href="{0}"&gt;administrative Users &amp;amp; Groups&lt;/a&gt; to assign any new collection-specific user permissions.</Phrase>
      <Phrase Key="Users_List_Intro">Below is the list of all users that have specialized user permissions for this collection.  These permissions may be assigned individually, or through a user group.</Phrase>
      <Phrase Key="Select_User_Prompt">Select a user from the list below to edit that user's permissions.</Phrase>
      <Phrase Key="User_Column">User</Phrase>
      <Phrase Key="User_Group_Column">User Group</Phrase>
      <Phrase Key="Can_Select_Header">Can&lt;br /&gt;Select</Phrase>
      <Phrase Key="Can_Select_Tooltip">Can select this aggregation when editing or submitting an item</Phrase>
      <Phrase Key="Item_Edit_Metadata_Header">Item&lt;br /&gt;Edit&lt;br /&gt;Metadata</Phrase>
      <Phrase Key="Item_Edit_Behaviors_Header">Item&lt;br /&gt;Edit&lt;br /&gt;Behaviors</Phrase>
      <Phrase Key="Item_Perform_Qc_Header">Item&lt;br /&gt;Perform&lt;br /&gt;QC</Phrase>
      <Phrase Key="Item_Upload_Files_Header">Item&lt;br /&gt;Upload&lt;br /&gt;Files</Phrase>
      <Phrase Key="Item_Change_Visibility_Header">Item&lt;br /&gt;Change&lt;br /&gt;Visibility</Phrase>
      <Phrase Key="Item_Can_Delete_Header">Item&lt;br /&gt;Can&lt;br /&gt;Delete</Phrase>
      <Phrase Key="Item_Permissions_Tooltip">Can edit anything about an item in this aggregation ( i.e., behaviors, metadata, visibility, etc.. )</Phrase>
      <Phrase Key="Can_Edit_Header">Can&lt;br /&gt;Edit</Phrase>
      <Phrase Key="Can_Edit_Tooltip">Can edit any item in this aggregation</Phrase>
      <Phrase Key="Is_Curator_Header">Is&lt;br /&gt;Curator</Phrase>
      <Phrase Key="Is_Admin_Header">Is&lt;br /&gt;Admin</Phrase>
      <Phrase Key="Curator_Admin_Tooltip">Can perform curatorial or collection manager tasks on this aggregation</Phrase>
      <Phrase Key="Group_Permissions_Intro">Some of the permissions above are assigned to the users through user groups.  These user groups and their permissions appear below:</Phrase>
    </Section>

    <Section Name="Work_History_Aggregation">
      <Phrase Key="Viewer_Title">Collection Change Log</Phrase>
      <Phrase Key="No_History_Message">No history found for this collection!</Phrase>
      <Phrase Key="No_History_Explanation">This may be due to an error, or this may be a legacy collection which has not been edited in a very long time.</Phrase>
      <Phrase Key="Change_Log_Intro">Below is the change log for this collection and the design files under this collection.  This does not include the history of digital resources loaded into this collection.</Phrase>
      <Phrase Key="Date_Column">Date</Phrase>
      <Phrase Key="User_Column">User</Phrase>
      <Phrase Key="Change_Description_Column">Change Description</Phrase>
    </Section>

    <Section Name="PagedResults">
      <Phrase Key="Narrow_Results_By">NARROW RESULTS BY</Phrase>
      <Phrase Key="Show_More">Show More</Phrase>
      <Phrase Key="Show_Less">Show Less</Phrase>
      <Phrase Key="Sort_By_Frequency">Sort these facets by frequency</Phrase>
      <Phrase Key="Sort_Alphabetically">Sort these facets alphabetically</Phrase>
      <Phrase Key="Date_Added">Date Added</Phrase>
      <Phrase Key="Rank">Rank</Phrase>
      <Phrase Key="BibID_Ascending">BibID Ascending</Phrase>
      <Phrase Key="BibID_Descending">BibID Descending</Phrase>
      <Phrase Key="Date_Ascending">Date Ascending</Phrase>
      <Phrase Key="Date_Descending">Date Descending</Phrase>
      <Phrase Key="Anywhere">Anywhere</Phrase>
      <Phrase Key="Title">Title</Phrase>
      <Phrase Key="Date">Date</Phrase>
      <Phrase Key="Access_Restricted">Access Restricted</Phrase>
      <Phrase Key="Access_Restricted_Private_Item">Access Restricted (Private Item)</Phrase>
      <Phrase Key="Access_Restricted_Dark_Item">Access Restricted (Dark Item)</Phrase>
    </Section>

  </Localization>
</SobekCM_Config>
