<?xml version="1.0" encoding="utf-8" ?>
<SobekCM_Config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://sobekrepository.org/schemas/sobekcm_config"
	xsi:schemaLocation="http://sobekrepository.org/schemas/sobekcm_config
		http://sobekrepository.org/schemas/sobekcm_config.xsd">
  <WriterViewers>
    
    <!-- These are special writers, since there is no special URL segment specifying these -->
    <!-- different viewers.  If the first part of the URL (after the base) is a BibID then -->
    <!-- this goes to the item writer.  If it is an aggregation code (or alias) it goes to -->
    <!-- aggregation writer.  Or, if the code (and full URL) is a static web content page  -->
    <!-- this the web content writer is used.                                              -->
    <SpecialWriters>

      <!-- Information about the classes and layout for displaying aggregations -->
      <AggregationWriterConfig>

        <!-- Clear any default aggregation writer information -->
        <ClearAll />

        <!-- Main aggregation writer class -->
        <AggregationWriter assembly="dfssdfsd" class="USF.USF_Aggregation_HtmlSubwriter" />

        <!-- Information about classes that can write directly within the HTML head tag while displaying an aggregation  -->
        <HtmlHeadWriters>
          <HtmlHeadWriter id="DUBLINCORE" assembly="" class="SobekCM.Library.AggregationViewer.HtmlHeadWriters.DublinCore_AggregationHtmlHeadWriter" enabled="true" />
          <HtmlHeadWriter id="JSON" assembly="" class="SobekCM.Library.AggregationViewer.HtmlHeadWriters.JSON_AggregationHtmlHeadWriter" enabled="true" />
        </HtmlHeadWriters>
      </AggregationWriterConfig>

    </SpecialWriters>
      
  </WriterViewers>
</SobekCM_Config>