<?xml version="1.0" encoding="utf-8" ?>
<SobekCM_Config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://sobekrepository.org/schemas/sobekcm_config"
	xsi:schemaLocation="http://sobekrepository.org/schemas/sobekcm_config
		http://sobekrepository.org/schemas/sobekcm_config.xsd">
  <Localization Language="de">

    <Section Name="Aggregation_Common">
      <Phrase Key="Go">Los</Phrase>
      <Phrase Key="Search_Collection">Sammlung durchsuchen</Phrase>
      <Phrase Key="Include_Non_Public_Items">Nicht öffentliche Objekte einbeziehen</Phrase>
      <Phrase Key="Limit_By_Year">Nach Jahr eingrenzen</Phrase>
      <Phrase Key="Show_Only_Media">Nur Datensätze mit Bildern oder anderen Medien anzeigen</Phrase>
      <Phrase Key="Through">bis</Phrase>
      <Phrase Key="Include_Full_Text">Dokumenttext in die Suche einbeziehen</Phrase>
      <Phrase Key="Search_All_Collections">Alle Sammlungen durchsuchen</Phrase>
      <Phrase Key="Home">Startseite</Phrase>
      <Phrase Key="Quick_Tips_Html"><![CDATA[<div id="sbk_QuickTips">
  <h1>Kurztipps</h1>
  <ul>
    <li>Boolesche Suche
      <p class="tagline"> Verwenden Sie <b>+</b> oder <i><b>und</b></i> zwischen Begriffen, um Datensätze mit <b>allen</b> Begriffen zu finden.<br />
      Verwenden Sie <b>-</b> oder <i><b>oder</b></i> zwischen Begriffen, um Datensätze mit <b>einem</b> der Begriffe zu finden.<br />
      Verwenden Sie <b>!</b> oder <i><b>und nicht</b></i> zwischen Begriffen, um Datensätze mit diesen Begriffen auszuschließen.<br />
      Wenn nichts angegeben ist, gilt <b><i>und</i></b> als Standard.<br />
      BEISPIEL: natürlich und nicht geschichte
      </p>
    </li>
    <li>Phrasensuche
      <p class="tagline"> Wenn Sie eine Phrase in Anführungszeichen setzen, wird nach der exakten Phrase gesucht.<br />
      BEISPIEL: &quot;natürliche geschichte&quot;</p>
    </li>
    <li>Groß-/Kleinschreibung
      <p class="tagline"> Bei der Suche wird nicht zwischen Groß- und Kleinschreibung unterschieden.<br />
      BEISPIEL: Die Suche nach <i>NATÜRLICH</i> liefert die gleichen Ergebnisse wie die Suche nach <i>natürlich</i></p>
    </li>
    <li>Diakritische Zeichen
      <p class="tagline"> Um nach Wörtern mit diakritischen Zeichen zu suchen, muss das Zeichen in das Suchfeld eingegeben werden.<br />
      BEISPIEL: Die Suche nach <i>Précédent</i> ist eine andere Suche als <i>Precedent</i></p>
    </li>
  </ul>
</div>
<br />]]></Phrase>
    </Section>

    <Section Name="Advanced_Search">
      <Phrase Key="Search_For">Suchen nach:</Phrase>
      <Phrase Key="In">in</Phrase>
      <Phrase Key="Search">Suchen</Phrase>
      <Phrase Key="Search_Options">Suchoptionen</Phrase>
      <Phrase Key="Precision">Genauigkeit</Phrase>
      <Phrase Key="Contains_Exactly">Enthält genau die Suchbegriffe</Phrase>
      <Phrase Key="Contains_Any_Form">Enthält eine beliebige Form der Suchbegriffe</Phrase>
      <Phrase Key="Contains_Meaning">Enthält den Suchbegriff oder Begriffe ähnlicher Bedeutung</Phrase>
      <Phrase Key="And">und</Phrase>
      <Phrase Key="Or">oder</Phrase>
      <Phrase Key="And_Not">und nicht</Phrase>
    </Section>

    <Section Name="Item_Count">
      <Phrase Key="Resource_Count_In_Collection">Anzahl der Ressourcen in der Sammlung</Phrase>
      <Phrase Key="Description">Nachfolgend finden Sie die Anzahl der Titel und Objekte für alle Objekte innerhalb dieser Sammlung, einschließlich der derzeit online verfügbaren sowie der in Bearbeitung befindlichen Objekte.</Phrase>
      <Phrase Key="Visibility">SICHTBARKEIT</Phrase>
      <Phrase Key="Title_Count">ANZAHL TITEL</Phrase>
      <Phrase Key="Item_Count">ANZAHL OBJEKTE</Phrase>
      <Phrase Key="Page_Count">ANZAHL SEITEN</Phrase>
      <Phrase Key="File_Count">ANZAHL DATEIEN</Phrase>
    </Section>

    <Section Name="Full_Text_Search">
      <Phrase Key="Search_Full_Text">Volltext durchsuchen</Phrase>
    </Section>

    <Section Name="DLOC_Search">
      <Phrase Key="Include_Newspapers">Zeitungen einbeziehen?</Phrase>
    </Section>

    <Section Name="Map_Common">
      <Phrase Key="Google_Maps_Not_Enabled_Html"><![CDATA[<p style="font-weight:bold; text-size:1.1em">FEHLER: Google Maps ist in dieser SobekCM-Instanz nicht aktiviert!</p>
<p>Um es zu aktivieren, erstellen Sie bitte einen Google Maps API-Schlüssel und geben Sie ihn in den systemweiten Einstellungen ein.</p>
<p>Informationen zu diesem Vorgang finden Sie hier: <a href="http://sobekrepository.org/software/config/googlemaps">http://sobekrepository.org/software/config/googlemaps</a>.</p>]]></Phrase>
    </Section>

    <Section Name="Map_Browse">
      <Phrase Key="Select_Point_Instructions_Html"><![CDATA[Wählen Sie unten einen Punkt aus, um die Objekte von diesem Ort oder über diesen Ort anzuzeigen.<br />Halten Sie die UMSCHALT-Taste gedrückt und ziehen Sie dann ein Rechteck auf der Karte, um hineinzuzoomen.]]></Phrase>
      <Phrase Key="Faq_Html"><![CDATA[  <h1>Häufig gestellte Fragen</h1>
  <ul>
    <li>Wofür stehen die Punkte auf der Karte?
      <p class="tagline"> Die Punkte auf der Karte entsprechen Material in dieser Sammlung. Im Allgemeinen stellt der Punkt die Quelle des Materials dar. Bei Zeitungen ist der Punkt der Erscheinungsort oder das Verbreitungsgebiet des Zeitungstitels. Bei Fotografien entspricht dies normalerweise dem Ort, an dem die Fotografie aufgenommen wurde, was üblicherweise auch dem Motiv entspricht.</p>
    </li>
    <li>Wie kann ich erkennen, welche Titel mit welchem Punkt verknüpft sind?
      <p class="tagline"> Beim Auswählen eines der Punkte auf der Karte erscheint ein Informationsfenster. Dieses Fenster enthält Miniaturansichten und Links zu jedem Objekt. Weitere Informationen zu allen Titeln erhalten Sie über den Link am unteren Rand des Fensters.</p>
    </li>
    <li>Kann ich von dieser Karte aus suchen?
      <p class="tagline"> Verwenden Sie zum Durchführen einer Suche die Funktion KARTENSUCHE unter dem eigenen Reiter.</p>
    </li>
    <li>Manche Punkte scheinen sich über keinem bestimmten Gebäude oder Ort zu befinden?
      <p class="tagline"> Oft wird der Mittelpunkt einer Stadt verwendet, manchmal wird aber auch ein bestimmtes Wahrzeichen markiert. Wenn sich der Punkt über keinem erkennbaren Wahrzeichen zu befinden scheint, handelt es sich wahrscheinlich einfach um das Stadtzentrum.</p>
    </li>
  </ul>]]></Phrase>
      <Phrase Key="More_Info_Single_Title">Klicken Sie hier für weitere Informationen zu diesem Titel</Phrase>
      <Phrase Key="More_Info_Multiple_Titles">Klicken Sie hier für weitere Informationen zu diesen {0} Titeln</Phrase>
    </Section>

    <Section Name="Map_Search">
      <Phrase Key="Find_Address">Adresse suchen</Phrase>
      <Phrase Key="Address">Adresse</Phrase>
      <Phrase Key="Locate">Suchen</Phrase>
      <Phrase Key="Point_Disabled_Instructions_Html"><![CDATA[<span style="line-height:160%"> &nbsp; &nbsp; 1. Verwenden Sie die Schaltfläche <i>Bereich auswählen</i> und klicken Sie auf gegenüberliegende Ecken, um ein Suchrechteck auf der Karte zu zeichnen &nbsp; &nbsp; <br /> &nbsp; &nbsp; 2. Klicken Sie auf die Schaltfläche <i>Suchen</i>, um die Ergebnisse anzuzeigen &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; ( <a href="#FAQ">weitere Hilfe</a> )</span>]]></Phrase>
      <Phrase Key="Instructions_Html"><![CDATA[<div class="sbkMsav_InstructionsLink" id="MapInstructionsLink" style="display:block" >
  <a href="" onclick="return show_map_instructions();">Klicken Sie hier, um die Anleitung für diese Suchoberfläche anzuzeigen</a>
</div>
<div class="sbkMsav_Instructions" id="MapInstructions" style="display:none" >
  <table>
    <tr><td colspan="2">1. Verwenden Sie eine der folgenden Methoden, um Ihre geografische Suche zu definieren:</td></tr>
    <tr><td style="width:50px;">&nbsp;</td><td>a. Geben Sie eine Adresse ein und klicken Sie auf <i>Adresse suchen</i>, um diese zu lokalisieren, <i>oder</i></td></tr>
    <tr><td>&nbsp;</td><td>b. Klicken Sie auf die Schaltfläche <i>Bereich auswählen</i> und klicken Sie auf zwei gegenüberliegende Ecken, <i>oder</i></td></tr>
    <tr><td>&nbsp;</td><td>c. Klicken Sie auf die Schaltfläche <i>Punkt auswählen</i> und klicken Sie, um einen einzelnen Punkt auszuwählen</td></tr>
    <tr><td colspan="2">2. Klicken Sie auf die Schaltfläche <i>Suchen</i>, um die Ergebnisse anzuzeigen &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; ( <a href="#FAQ">weitere Hilfe</a> )</td></tr>
  </table>
</div>]]></Phrase>
      <Phrase Key="Faq_Point_Enabled_Html"><![CDATA[  <h1>FAQ zur Kartensuche</h1>
  <ul>
    <li>Wie suche ich?
      <p class="tagline">Um eine Suche durchzuführen, müssen Sie zunächst Ihren Bereich oder Punkt von Interesse festlegen und dann die Suche ausführen. Es gibt mehrere Möglichkeiten, Ihren Interessenbereich zu definieren. Sie können entweder eine Adresse zum Suchen eingeben oder eine Region bzw. einen Punkt auf der Karte einzeichnen. Sobald Sie Ihre Suche definiert haben, klicken Sie auf die Schaltfläche <i>Suchen</i>, um Treffer für diesen Ort zu finden.</p>
      <p class="tagline">Um nach Adressen zu suchen, geben Sie eine Adresse ein und klicken Sie auf die Schaltfläche <i>Adresse suchen</i>. Sie können auch Namen bekannter Wahrzeichen verwenden, obwohl Adressen in der Regel besser funktionieren. Achten Sie darauf, auch Stadt und Bundesland in Ihre Suche einzubeziehen. Sobald die Adresse auf der Karte gefunden wurde, klicken Sie auf <i>Suchen</i>, um Luftaufnahmen zu finden, die diesen Ort einschließen. </p>
      <p class="tagline">Um nach Karte zu suchen, klicken Sie entweder auf <i>Zum Auswählen eines Bereichs klicken</i> oder <i>Zum Auswählen eines Punktes klicken</i> auf der Karte. Wenn Sie Bereich auswählen verwenden, klicken Sie auf einen Startpunkt auf der Karte und dann auf die gegenüberliegende Ecke, um ein Rechteck zu erstellen. Durch Klicken auf <i>Suchen</i> oberhalb der Karte erhalten Sie Treffer für diesen Bereich. Bei Punkt auswählen wählen Sie einen bestimmten Ort aus und klicken auf Suchen.</p>
    </li>
    <li>Ich habe Schwierigkeiten, einen Bereich auszuwählen
      <p class="tagline">Das Auswählen eines rechteckigen Suchbereichs ist einfach, sobald Sie die Technik verstanden haben. Wählen Sie zunächst die Schaltfläche <i>Zum Auswählen eines Bereichs klicken</i> auf der Karte. Bewegen Sie sich dann zur oberen linken Ecke der zu durchsuchenden Region und klicken und lassen Sie die linke Maustaste los. Während Sie nun die Maus bewegen, sehen Sie, wie ein Rechteck gezeichnet wird, das Ihre Region darstellt. Wenn Sie die Maus erneut klicken und loslassen, legen Sie die untere rechte Ecke der zu durchsuchenden Region fest. Drücken Sie dabei nicht die Maustaste, während Sie die Maus ziehen, da dies die Karte verschiebt und keinen Bereich zur Auswahl definiert. Sobald Ihre Region korrekt festgelegt ist, klicken Sie auf die Schaltfläche <i>Suchen</i>, um übereinstimmende Ergebnisse anzuzeigen.</p>
    </li>
    <li>Ich habe Schwierigkeiten, nach Adresse zu suchen
      <p class="tagline">Achten Sie darauf, die vollständige Adresse einschließlich Bundesland und Land einzugeben. Sie können auch versuchen, den Namen eines bekannten Wahrzeichens zu verwenden, aber die Verwendung einer Adresse funktioniert oft besser. Sobald Sie die Adresse oder den Namen des Wahrzeichens eingegeben haben, klicken Sie auf die Schaltfläche <i>Adresse suchen</i>. Sehen Sie sich die Karte an und überprüfen Sie, ob der gefundene Ort auf der Karte Ihrer gewünschten Suche entspricht. Klicken Sie dann auf die Schaltfläche <i>Suchen</i>, um übereinstimmende Ergebnisse anzuzeigen.</p>
    </li>
    <li>Was wird durchsucht?
      <p class="tagline">Die durchsuchten Daten hängen von der Materialart ab. Bei Zeitungen wird der Erscheinungsort durchsucht. Bei Karten wird die geografische Abdeckung durchsucht. Und bei Fotografien wird der Ort durchsucht, an dem die Fotografie aufgenommen wurde.</p>
    </li>
    <li>Warum so wenige Treffer?
      <p class="tagline"> Diese Oberfläche befindet sich in der Betaphase, während wir weitere Koordinateninformationen zu unserer Suchdatenbank hinzufügen. Schauen Sie oft vorbei, um unseren Fortschritt zu verfolgen!</p>
    </li>
  </ul>]]></Phrase>
      <Phrase Key="Faq_Point_Disabled_Html"><![CDATA[  <h1>FAQ zur Kartensuche</h1>
  <ul>
    <li>Wie suche ich?
      <p class="tagline">Um eine Suche durchzuführen, müssen Sie zunächst Ihren Interessenbereich festlegen und dann die Suche ausführen. Um einen Bereich festzulegen, klicken Sie auf der Karte auf <i>Zum Auswählen eines Bereichs klicken</i>. Klicken Sie dann auf einen Startpunkt auf der Karte und dann auf die gegenüberliegende Ecke, um ein Rechteck zu erstellen. Durch Klicken auf <i>Suchen</i> oberhalb der Karte erhalten Sie Treffer für diesen Bereich.</p>
    </li>
    <li>Ich habe Schwierigkeiten, einen Bereich auszuwählen
      <p class="tagline">Das Auswählen eines rechteckigen Suchbereichs ist einfach, sobald Sie die Technik verstanden haben. Wählen Sie zunächst die Schaltfläche <i>Zum Auswählen eines Bereichs klicken</i> auf der Karte. Bewegen Sie sich dann zur oberen linken Ecke der zu durchsuchenden Region und klicken und lassen Sie die linke Maustaste los. Während Sie nun die Maus bewegen, sehen Sie, wie ein Rechteck gezeichnet wird, das Ihre Region darstellt. Wenn Sie die Maus erneut klicken und loslassen, legen Sie die untere rechte Ecke der zu durchsuchenden Region fest. Drücken Sie dabei nicht die Maustaste, während Sie die Maus ziehen, da dies die Karte verschiebt und keinen Bereich zur Auswahl definiert. Sobald Ihre Region korrekt festgelegt ist, klicken Sie auf die Schaltfläche <i>Suchen</i>, um übereinstimmende Ergebnisse anzuzeigen.</p>
    </li>
    <li>Warum kann ich nicht nach Adresse oder Punkt suchen?
      <p class="tagline">Diese Sammlung besteht hauptsächlich aus Punkten, daher ist die Bereichssuche viel effektiver als die Punktsuche.</p>
    </li>
    <li>Was wird durchsucht?
      <p class="tagline">Die durchsuchten Daten hängen von der Materialart ab. Bei Zeitungen wird der Erscheinungsort durchsucht. Bei Karten wird die geografische Abdeckung durchsucht. Und bei Fotografien wird der Ort durchsucht, an dem die Fotografie aufgenommen wurde.</p>
    </li>
    <li>Warum so wenige Treffer?
      <p class="tagline"> Diese Oberfläche befindet sich in der Betaphase, während wir weitere Koordinateninformationen zu unserer Suchdatenbank hinzufügen. Schauen Sie oft vorbei, um unseren Fortschritt zu verfolgen!</p>
    </li>
  </ul>]]></Phrase>
    </Section>

    <Section Name="Newspaper_Search">
      <Phrase Key="Full_Citation">Vollständige Zitierung</Phrase>
      <Phrase Key="Full_Text">Volltext</Phrase>
      <Phrase Key="Newspaper_Title">Zeitungstitel</Phrase>
      <Phrase Key="Location">Ort</Phrase>
    </Section>

    <Section Name="Metadata_Browse">
      <Phrase Key="Browse_By">Durchsuchen nach</Phrase>
      <Phrase Key="Browse_By_Colon">DURCHSUCHEN NACH:</Phrase>
      <Phrase Key="Public_Browses">Öffentliche Durchsuchungen</Phrase>
      <Phrase Key="Internal_Browses">Interne Durchsuchungen</Phrase>
      <Phrase Key="Browses">Durchsuchungen</Phrase>
      <Phrase Key="Select_Field_Prompt">Wählen Sie in der Liste links ein Metadatenfeld zum Durchsuchen aus</Phrase>
      <Phrase Key="No_Matching_Values">KEINE ÜBEREINSTIMMENDEN WERTE</Phrase>
    </Section>

    <Section Name="Tiles_Home">
      <Phrase Key="Varies">( variiert )</Phrase>
    </Section>

    <Section Name="Thumbnails_Home">
      <Phrase Key="Collection_Items">Objekte der Sammlung</Phrase>
      <Phrase Key="Showing_Items_Out_Of">Anzeige von 20 Objekten von {0}</Phrase>
      <Phrase Key="View_All">Alle anzeigen</Phrase>
    </Section>

    <Section Name="Usage_Statistics">
      <Phrase Key="Title_Collection_Views">Verlauf der Nutzung auf Sammlungsebene</Phrase>
      <Phrase Key="Title_Item_Views">Verlauf der Objektnutzung</Phrase>
      <Phrase Key="Title_Top_Titles">Meistaufgerufene Titel</Phrase>
      <Phrase Key="Title_Top_Items">Meistaufgerufene Objekte</Phrase>
      <Phrase Key="Title_Definitions">Definitionen der verwendeten Begriffe</Phrase>

      <Phrase Key="Tab_Collection_Views">SAMMLUNGSAUFRUFE</Phrase>
      <Phrase Key="Tab_Item_Views">OBJEKTAUFRUFE</Phrase>
      <Phrase Key="Tab_Top_Titles">MEISTAUFGERUFENE TITEL</Phrase>
      <Phrase Key="Tab_Top_Items">MEISTAUFGERUFENE OBJEKTE</Phrase>
      <Phrase Key="Tab_Definitions">DEFINITIONEN</Phrase>

      <Phrase Key="Month_1">Januar</Phrase>
      <Phrase Key="Month_2">Februar</Phrase>
      <Phrase Key="Month_3">März</Phrase>
      <Phrase Key="Month_4">April</Phrase>
      <Phrase Key="Month_5">Mai</Phrase>
      <Phrase Key="Month_6">Juni</Phrase>
      <Phrase Key="Month_7">Juli</Phrase>
      <Phrase Key="Month_8">August</Phrase>
      <Phrase Key="Month_9">September</Phrase>
      <Phrase Key="Month_10">Oktober</Phrase>
      <Phrase Key="Month_11">November</Phrase>
      <Phrase Key="Month_12">Dezember</Phrase>

      <Phrase Key="Collection_History_Intro">Nachfolgend wird der Nutzungsverlauf dieser Sammlung angezeigt. Dieser Verlauf umfasst nur die Aufrufe der Sammlung auf oberster Ebene.</Phrase>
      <Phrase Key="Item_History_Intro">Nachfolgend wird der Nutzungsverlauf der Objekte innerhalb dieser Sammlung angezeigt.</Phrase>
      <Phrase Key="Items_By_Collection_Intro">Nachfolgend erscheinen die am häufigsten genutzten Objekte dieser Sammlung.</Phrase>
      <Phrase Key="Titles_By_Collection_Intro">Nachfolgend erscheinen die am häufigsten genutzten Titel nach Sammlung.</Phrase>
      <Phrase Key="Definitions_Link_Sentence"><![CDATA[Die <a href="{0}">Definitionsseite</a> enthält weitere Einzelheiten zu den unten verwendeten Statistiken und Begriffen.]]></Phrase>

      <Phrase Key="Year_Statistics_Suffix"> STATISTIKEN</Phrase>
      <Phrase Key="Total">GESAMT</Phrase>

      <Phrase Key="Date">DATUM</Phrase>
      <Phrase Key="Total_Views_Html"><![CDATA[AUFRUFE<br />GESAMT]]></Phrase>
      <Phrase Key="Visits">BESUCHE</Phrase>
      <Phrase Key="Main_Pages_Html"><![CDATA[HAUPT-<br />SEITEN]]></Phrase>
      <Phrase Key="Browses">DURCHSUCHUNGEN</Phrase>
      <Phrase Key="Search_Results_Html"><![CDATA[SUCH-<br />ERGEBNISSE]]></Phrase>
      <Phrase Key="Title_Views_Html"><![CDATA[TITEL-<br />AUFRUFE]]></Phrase>
      <Phrase Key="Item_Views_Html"><![CDATA[OBJEKT-<br />AUFRUFE]]></Phrase>

      <Phrase Key="Jpeg_Views_Html"><![CDATA[JPEG-<br />AUFRUFE]]></Phrase>
      <Phrase Key="Zoomable_Views_Html"><![CDATA[ZOOMBARE<br />AUFRUFE]]></Phrase>
      <Phrase Key="Citation_Views_Html"><![CDATA[ZITAT-<br />AUFRUFE]]></Phrase>
      <Phrase Key="Thumbnail_Views_Html"><![CDATA[MINIATUR-<br />AUFRUFE]]></Phrase>
      <Phrase Key="Text_Searches_Html"><![CDATA[TEXT-<br />SUCHEN]]></Phrase>
      <Phrase Key="Flash_Views_Html"><![CDATA[FLASH-<br />AUFRUFE]]></Phrase>
      <Phrase Key="Map_Views_Html"><![CDATA[KARTEN-<br />AUFRUFE]]></Phrase>
      <Phrase Key="Download_Views_Html"><![CDATA[DOWNLOADS]]></Phrase>
      <Phrase Key="Static_Views_Html"><![CDATA[STATISCHE<br />AUFRUFE]]></Phrase>

      <Phrase Key="Bibid">BIBID</Phrase>
      <Phrase Key="Vid">VID</Phrase>
      <Phrase Key="Title">TITEL</Phrase>
      <Phrase Key="Views">AUFRUFE</Phrase>

      <Phrase Key="Definitions_Html"><![CDATA[<p>Die folgenden Begriffe werden nachstehend definiert:</p>

<table width="600px" border="0" align="center">
  <tr>
    <td><a href="#Collection_Hierarchy">Sammlungshierarchie</a></td>
    <td><a href="#Collection_Groups">Sammlungsgruppen</a></td>
    <td><a href="#Collections">Sammlungen</a></td>
  </tr>
  <tr>
    <td><a href="#SubCollections">Teilsammlungen</a></td>
    <td><a href="#Views">Aufrufe</a></td>
    <td><a href="#Visits">Besuche</a></td>
  </tr>
  <tr>
    <td><a href="#Main_Pages">Hauptseiten</a></td>
    <td><a href="#Browses">Durchsuchungen</a></td>
    <td><a href="#Titles_Items">Titel und Objekte</a></td>
  </tr>
  <tr>
    <td><a href="#Title_Views">Titelaufrufe</a></td>
    <td><a href="#Item_Views">Objektaufrufe</a></td>
    <td><a href="#Citation_Views">Zitataufrufe</a></td>
  </tr>
  <tr>
    <td><a href="#Text_Searches">Textsuchen</a></td>
    <td><a href="#Static_Views">Statische Aufrufe</a></td>
    <td>&nbsp;</td>
  </tr>
</table>

<h2>Definierte Begriffe</h2>

<a name="Collection_Hierarchy" ></a>
<h3>SAMMLUNGSHIERARCHIE</h3>
<p>Sammlungen sind nach Sammlungsgruppen organisiert, die Sammlungen enthalten, und Sammlungen enthalten Teilsammlungen. Diese hierarchische Organisation ermöglicht allgemeine Suchen und Durchsuchungen auf Ebene der Sammlungsgruppe sowie detailliertere Suchen auf Ebene der Sammlung, für eine optimale Nutzbarkeit je nach Bedarf verschiedener Benutzer. <br /><br />
Beim Lesen der Statistiken nach Sammlung sind Aufrufe und Suchen, die von der Hauptseite und den Sammlungsgruppenseiten aus durchgeführt wurden, nicht innerhalb der Sammlungen und werden daher nicht in die Sammlungsstatistiken einbezogen.</p>

<a name="Collection_Groups" ></a>
<h3>SAMMLUNGSGRUPPEN</h3>
<p>Sammlungsgruppen sind Zusammenschlüsse von Sammlungen innerhalb dieser Bibliothek. Sammlungsgruppen vereinfachen die gleichzeitige Suche über mehrere Sammlungen hinweg. Sammlungsgruppen verbinden auch weniger eng verwandte Materialien, um die Wahrscheinlichkeit von Zufallsfunden zu erhöhen, bei denen Benutzer, die nach einem Thema suchen, leicht auf etwas Verwandtes und äußerst Nützliches stoßen können, das sie nicht in Betracht gezogen hatten. Daher werden Sammlungsgruppen in der Regel thematisch gebildet. <br /><br />
Als Aggregat zählen Aufrufe auf Ebene der Sammlungsgruppe für keine bestimmte Sammlung und werden nicht in die sammlungsbasierten Statistiken einbezogen.</p>

<a name="Collections" ></a>
<h3>SAMMLUNGEN</h3>
<p>Sammlungen sind die wichtigste Methode zur Definition und Zusammenstellung verwandter Materialien und die für Fachspezialisten, Partner und andere interne Benutzer vertrautesten hierarchischen Strukturen. Eine einzelne Sammlung kann in mehreren Sammlungsgruppen vorhanden sein, und eine einzelne Sammlung kann viele Teilsammlungen haben.  <br /><br />
Ein Objekt kann in mehreren Sammlungen enthalten sein, aber es wird stets eine Sammlung als primär ausgewählt, sodass alle Objektaufrufe innerhalb einer einzigen Sammlung erfolgen. </p>

<a name="SubCollections" ></a>
<h3>TEILSAMMLUNGEN</h3>
<p>Die kleinste zusammengefasste Einheit ist die Teilsammlung. Ein einzelnes Objekt kann zu mehreren Teilsammlungen innerhalb derselben Sammlung gehören oder zu mehreren Sammlungen und zu Teilsammlungen innerhalb jeder Sammlung. <br /><br />
Da alle Objekte einer Teilsammlung eine primäre Sammlung haben, werden die Nutzungsstatistiken der Teilsammlungen auch in die Nutzungsstatistiken der Sammlung einbezogen. </p>

<a name="Views" ></a>
<h3>AUFRUFE</h3>
<p>Aufrufe sind die tatsächlichen Seitenzugriffe. Jedes Mal, wenn eine Person {0} besucht, zählt dies als Aufruf. Die Statistiken von {0} werden bereinigt, sodass Aufrufe von Robots, die von Suchmaschinen zur Indizierung von Websites verwendet werden, entfernt werden. Wären sie nicht entfernt worden, wären die Aufrufe für alle Sammlungen und Objekte deutlich höher. Web-Nutzungsstatistiken sind stets etwas fehleranfällig, und dies ist eine der Maßnahmen, um Nutzungsstatistiken von besserer Qualität zu gewährleisten. <br /><br />
Manche Webstatistiken zählen "Downloads von Seitenobjekten" als Aufrufe, was sehr ungenau ist, da jede Seite mehrere Objekte enthält. Zum Beispiel enthält die Hauptseite der digitalen Bibliothek, {0}, den HTML-Code der Seite und alle Bilder. Würden die Statistiken jeden "Download eines Seitenobjekts" als Zugriff zählen, würde jeder einzelne Aufruf der Hauptseite als über 30 "Downloads von Seitenobjekten" gezählt. Um die Sache noch verwirrender zu machen, bieten manche digitalen Repositorien nur PDF-Downloads an, damit Benutzer Objekte ansehen können. Diese digitalen Repositorien verfolgen "Objektdownloads", und diese entsprechen am ehesten unseren Nutzungsstatistiken nach "Objekt". </p>

<a name="Visits" ></a>
<h3>BESUCHE</h3>
<p>Jedes Mal, wenn eine Person diese digitale Bibliothek besucht, zählt dies als Aufruf, aber das bedeutet, dass ein einzelner Benutzer, der die Website wiederholt besucht, eine hohe Anzahl von Aufrufen verzeichnen kann. Besuche bieten eine bessere Statistik dafür, wie viele verschiedene "einzigartige" Benutzer die Website nutzen. Besuche umfassen alle Aufrufe von einer bestimmten IP-Adresse (der Webadresse des Computers des Benutzers bei der Verbindung), die innerhalb einer Stunde in der Web-Protokolldatei erfasst wurden.  <br /><br />
Dies ist ebenfalls eine fehleranfällige Statistik, da die IP-Adressen der Benutzer in Netzwerken häufig wiederverwendet werden. Die Verbindung zu kostenlosem WLAN bedeutet, dass dieses Netzwerk Ihrem Computer eine IP-Adresse zuweist, und wenn Sie die Verbindung trennen, wird diese IP-Adresse dem nächsten Benutzer zugewiesen, der sie benötigt. Bei einer campusbasierten Ressource mit so vielen Benutzern, die über das VPN oder vom Campus aus eine Verbindung herstellen, erhöht sich die Fehlermarge bei besuchsbasierten Statistiken. </p>

<a name="Main_Pages" ></a>
<h3>HAUPTSEITEN</h3>
<p>Für jedes der Elemente in der Sammlungshierarchie sind die Hauptseiten die Start- oder Landingpages, die Suchseiten, die Kontaktseiten und alle weiteren ergänzenden Seiten.  <br /><br />
Wenn Benutzer über die Sammlungsseiten eine Suche durchführen und die Ergebnisse ansehen, werden diese Suchergebnisseiten ebenfalls in die Hauptseiten einbezogen. Sobald ein Benutzer auf eines der Objekte in den Suchergebnissen klickt, ist dieses Objekt keine der Hauptseiten mehr. Die Aufrufe von Suchergebnissen in den Ansichten Miniaturansicht, Tabelle und Kurzansicht sind alle in den Hauptseiten der Sammlung enthalten.</p>

<a name="Browses" ></a>
<h3>DURCHSUCHUNGEN</h3>
<p>Durchsuchungen umfassen Aufrufe von Standard-Durchsuchungen wie <i>Alle Objekte</i> und <i>Neue Objekte</i> (sofern verfügbar).  Sie umfassen auch alle Aufrufe von nicht standardmäßigen Durchsuchungen.</p>

<a name="Search_Results" ></a>
<h3>SUCHERGEBNISSE</h3>
<p>Aufrufe von Suchergebnissen umfassen jeden Aufruf eines Abschnitts von Suchergebnissen, einschließlich Suchen, die keine Ergebnisse lieferten.</p>

<a name="Titles_Items" ></a>
<h3>TITEL UND OBJEKTE</h3>
<p>Titel stehen für einzelne bibliografische Einheiten, wie ein Buch oder eine Zeitung. Objekte sind die Bände innerhalb von Titeln. So kann ein Buch einen Titel und ein Objekt haben, während eine Zeitung einen Titel und Tausende von Objekten haben kann.  <br /><br />
Titel mit nur einem Objekt (oder Band) erscheinen für Benutzer funktional gleichwertig. Bei Objekten wie Zeitungen kann ein einzelner Titel jedoch Tausenden von Objekten entsprechen. <br /><br />
Leser der technischen Dokumentation und interne Benutzer erkennen Titel an ihrer bibliografischen Kennung (BIBID) und Objekte innerhalb jedes Titels an der BIBID plus der Bandkennung (VID).</p>

<a name="Title_Views" ></a>
<h3>TITELAUFRUFE</h3>
<p>Titelaufrufe umfassen alle Aufrufe auf Titelebene.</p>

<a name="Item_Views" ></a>
<h3>OBJEKTAUFRUFE</h3>
<p>Objektaufrufe umfassen nur Aufrufe auf Objektebene.</p>

<a name="Citation_Views" ></a>
<h3>ZITATAUFRUFE</h3>
<p>Für jedes Objekt ist die Standardansicht auf das Seitenobjekt eingestellt (zoombar oder statisch, je nach Auswahl des Benutzers und Verfügbarkeit der jeweiligen Ansichten für dieses Objekt). Alle Objekte enthalten außerdem eine "Zitatansicht", die nicht standardmäßig ausgewählt ist. Die "Zitataufrufe" zählen, wie oft ein Benutzer die "Zitatansicht" für ein Objekt wählt.</p>

<a name="Text_Searches" ></a>
<h3>TEXTSUCHEN</h3>
<p>Textsuchen sind Suchen auf Objektebene innerhalb des Textes eines einzelnen Dokuments.  Sie liefern die Seiten zurück, auf denen der oder die Begriffe erscheinen.</p>

<a name="Static_Views" ></a>
<h3>STATISCHE AUFRUFE</h3>
<p>Für jedes Objekt in dieser Bibliothek wird eine statische Seite erstellt, damit Suchmaschinen sie indizieren können.  Wenn ein Objekt in den Ergebnissen einer Standard-Suchmaschine erscheint, leitet der Link den Benutzer zur statischen Seite weiter.  Jede weitere Navigation führt den Benutzer zu den dynamisch generierten Seiten innerhalb dieser Bibliothek.  Es wurde versucht, alle Aufrufe, die von der Indizierung durch Suchmaschinen stammen, aus diesen Zahlen zu entfernen.  Diese Zahlen geben die Anzahl der Benutzer wieder, die über eine Suchmaschine auf diese Bibliothek zugegriffen haben.</p>]]></Phrase>
    </Section>

  </Localization>
</SobekCM_Config>
