<?xml version="1.0" encoding="utf-8" ?>
<SobekCM_Config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://sobekrepository.org/schemas/sobekcm_config"
	xsi:schemaLocation="http://sobekrepository.org/schemas/sobekcm_config
		http://sobekrepository.org/schemas/sobekcm_config.xsd">
  <Localization Language="de">

    <Section Name="General">
      <Phrase Key="Description">Beschreibung</Phrase>
      <Phrase Key="Format">Format</Phrase>
      <Phrase Key="Publisher">Verlag</Phrase>
      <Phrase Key="Relation">Beziehung</Phrase>
      <Phrase Key="Resource Identifier">Ressourcenkennung</Phrase>
      <Phrase Key="Resource Type">Ressourcentyp</Phrase>
      <Phrase Key="Subject">Thema</Phrase>
      <Phrase Key="Abstract">Zusammenfassung</Phrase>
      <Phrase Key="Alternate Title">Alternativer Titel</Phrase>
      <Phrase Key="Attribution_Statement">Zuordnungserklärung</Phrase>
      <Phrase Key="Bibliographic_ID">Bibliografische ID</Phrase>
      <Phrase Key="Contributor">Mitwirkender</Phrase>
      <Phrase Key="Creator">Urheber</Phrase>
      <Phrase Key="Donor">Spender</Phrase>
      <Phrase Key="EAD_Identifier">EAD-Kennung</Phrase>
      <Phrase Key="Holding Location">Standort</Phrase>
      <Phrase Key="Latitude_Hours">Breitengrad Stunden</Phrase>
      <Phrase Key="Latitude_Minutes">Breitengrad Minuten</Phrase>
      <Phrase Key="Latitude_Seconds">Breitengrad Sekunden</Phrase>
      <Phrase Key="Longitude_Hours">Längengrad Stunden</Phrase>
      <Phrase Key="Longitude_Minutes">Längengrad Minuten</Phrase>
      <Phrase Key="Longitude_Seconds">Längengrad Sekunden</Phrase>
      <Phrase Key="Notes">Notizen</Phrase>
      <Phrase Key="Rights Management">Rechteverwaltung</Phrase>
      <Phrase Key="Scale">Maßstab</Phrase>
      <Phrase Key="Series Title">Reihentitel</Phrase>
      <Phrase Key="Source Institution">Ursprungseinrichtung</Phrase>
      <Phrase Key="Spatial Coverage">Räumliche Abdeckung</Phrase>
      <Phrase Key="Subcollection">Unterkollektion</Phrase>
      <Phrase Key="Temporal Coverage">Zeitliche Abdeckung</Phrase>
      <Phrase Key="Uniform Title">Einheitstitel</Phrase>
      <Phrase Key="Volume_ID">Band-ID</Phrase>
      <Phrase Key="Interviewer">Interviewer</Phrase>
      <Phrase Key="Interviewee">Interviewpartner</Phrase>
      <Phrase Key="Publication Date">Veröffentlichungsdatum</Phrase>
      <Phrase Key="Author">Autor</Phrase>
      <Phrase Key="Place of Publication">Erscheinungsort</Phrase>
      <Phrase Key="Year">Jahr</Phrase>
      <Phrase Key="Acknowledgement">Danksagung</Phrase>
      <Phrase Key="Advertising">Werbung</Phrase>
      <Phrase Key="Appendix">Anhang</Phrase>
      <Phrase Key="Back_Cover">Rückseite</Phrase>
      <Phrase Key="Back_Matter">Schlussteil</Phrase>
      <Phrase Key="Bibliography">Bibliografie</Phrase>
      <Phrase Key="Chapter">Kapitel</Phrase>
      <Phrase Key="Conclusion">Schlussfolgerung</Phrase>
      <Phrase Key="Copyright">Urheberrecht</Phrase>
      <Phrase Key="Cover">Einband</Phrase>
      <Phrase Key="Dedication">Widmung</Phrase>
      <Phrase Key="Errata">Errata</Phrase>
      <Phrase Key="Foreword">Vorwort</Phrase>
      <Phrase Key="Front_Cover">Vorderseite</Phrase>
      <Phrase Key="Front_Matter">Titelei</Phrase>
      <Phrase Key="Frontispiece">Frontispiz</Phrase>
      <Phrase Key="Half_Title">Schmutztitel</Phrase>
      <Phrase Key="Index">Register</Phrase>
      <Phrase Key="Interview">Interview</Phrase>
      <Phrase Key="Introduction">Einleitung</Phrase>
      <Phrase Key="List_of_Figures">Abbildungsverzeichnis</Phrase>
      <Phrase Key="List_of_Illustrations">Illustrationsverzeichnis</Phrase>
      <Phrase Key="List_of_Tables">Tabellenverzeichnis</Phrase>
      <Phrase Key="Main">Haupt</Phrase>
      <Phrase Key="Methodology">Methodik</Phrase>
      <Phrase Key="Poem">Gedicht</Phrase>
      <Phrase Key="Preface">Vorwort</Phrase>
      <Phrase Key="Prelude">Vorspiel</Phrase>
      <Phrase Key="Reference">Referenz</Phrase>
      <Phrase Key="Section">Abschnitt</Phrase>
      <Phrase Key="Spine">Buchrücken</Phrase>
      <Phrase Key="Subdivision_Level_1">Unterteilungsebene 1</Phrase>
      <Phrase Key="Subdivision_Level_2">Unterteilungsebene 2</Phrase>
      <Phrase Key="Subdivision_Level_3">Unterteilungsebene 3</Phrase>
      <Phrase Key="Subdivision_Level_4">Unterteilungsebene 4</Phrase>
      <Phrase Key="Subdivision_Level_5">Unterteilungsebene 5</Phrase>
      <Phrase Key="Subdivision_Level_6">Unterteilungsebene 6</Phrase>
      <Phrase Key="Table_of_Contents">Inhaltsverzeichnis</Phrase>
      <Phrase Key="Title_Page">Titelseite</Phrase>
      <Phrase Key="Group">Gruppe</Phrase>
      <Phrase Key="PAGE_IMAGE">SEITENBILD</Phrase>
      <Phrase Key="PAGE_TEXT">SEITENTEXT</Phrase>
      <Phrase Key="ZOOMABLE">ZOOMBAR</Phrase>
      <Phrase Key="FEATURES">GEBÄUDE</Phrase>
      <Phrase Key="STREETS">STRASSEN</Phrase>
      <Phrase Key="All Items">Alle Objekte</Phrase>
      <Phrase Key="Recently Added Items">Kürzlich Hinzugefügte Objekte</Phrase>
      <Phrase Key="Related_Images">Verwandte Bilder</Phrase>
      <Phrase Key="Country">Land</Phrase>
      <Phrase Key="State">Bundesland</Phrase>
      <Phrase Key="County">Landkreis</Phrase>
      <Phrase Key="City">Stadt</Phrase>
      <Phrase Key="Subject: Topic">Thema: Gegenstand</Phrase>
      <Phrase Key="Subject: Geographic Area">Thema: Geografisches Gebiet</Phrase>
      <Phrase Key="Subject: Genre">Thema: Genre</Phrase>
      <Phrase Key="Permanent Link">Permanenter Link</Phrase>
      <Phrase Key="Material_Information">Materialinformationen</Phrase>
      <Phrase Key="Physical Description">Physische Beschreibung</Phrase>
      <Phrase Key="Manufacturer">Hersteller</Phrase>
      <Phrase Key="Subjects">Themen</Phrase>
      <Phrase Key="Statement_of_Responsibility">Verantwortlichkeitserklärung</Phrase>
      <Phrase Key="General Note">Allgemeine Anmerkung</Phrase>
      <Phrase Key="Record_Information">Datensatzinformationen</Phrase>
      <Phrase Key="Local_Membership">Lokale Mitgliedschaft</Phrase>
      <Phrase Key="METS_Information">METS-Informationen</Phrase>
      <Phrase Key="Creation Date">Erstellungsdatum</Phrase>
      <Phrase Key="Last_Modified">Zuletzt Geändert</Phrase>
      <Phrase Key="Last_User">Letzter Benutzer</Phrase>
      <Phrase Key="System_Folder">Systemordner</Phrase>
      <Phrase Key="Item_Primary_Key">Primärschlüssel des Objekts</Phrase>
      <Phrase Key="Group_Primary_Key">Primärschlüssel der Gruppe</Phrase>
      <Phrase Key="System Administration Information">Systemadministratorinformationen</Phrase>
      <Phrase Key="Group_Title">Gruppentitel</Phrase>
      <Phrase Key="Accession number">Zugangsnummer</Phrase>
      <Phrase Key="Caribbean_Newspaper_Digital_Library">Karibische Digitale Zeitungsbibliothek</Phrase>
      <Phrase Key="Digital_Library_of_the_Caribbean">Digitale Bibliothek der Karibik</Phrase>
      <Phrase Key="Panama_and_the_Canal">Panama und der Kanal</Phrase>
      <Phrase Key="Subject Keywords">Schlagwörter</Phrase>
      <Phrase Key="Type">Typ</Phrase>
      <Phrase Key="Genre">Genre</Phrase>
      <Phrase Key="Target Audience">Zielgruppe</Phrase>
      <Phrase Key="Attribution">Zuordnung</Phrase>
      <Phrase Key="Tickler">Erinnerung</Phrase>
      <Phrase Key="Identifier">Kennung</Phrase>
      <Phrase Key="Affiliation">Zugehörigkeit</Phrase>
      <Phrase Key="Frequency">Häufigkeit</Phrase>
      <Phrase Key="TEXT_SEARCH">TEXTSUCHE</Phrase>
      <Phrase Key="Subcollections">Unterkollektionen</Phrase>
      <Phrase Key="Metadata_Only">Nur Metadaten</Phrase>
      <Phrase Key="Most_Recent">Neueste</Phrase>
      <Phrase Key="Child_Collections">Unterkollektionen</Phrase>
      <Phrase Key="Title">Titel</Phrase>
      <Phrase Key="Date">Datum</Phrase>
      <Phrase Key="Language">Sprache</Phrase>
      <Phrase Key="Full Citation">Vollständiges Zitat</Phrase>
      <Phrase Key="Abbreviated Title">Abgekürzter Titel</Phrase>
      <Phrase Key="Aggregation Level">Aggregationsebene</Phrase>
      <Phrase Key="Aggregations">Aggregationen</Phrase>
      <Phrase Key="Class">Klasse</Phrase>
      <Phrase Key="Classification">Klassifikation</Phrase>
      <Phrase Key="Committee Chair">Ausschussvorsitzender</Phrase>
      <Phrase Key="Committee Co-Chair">Stellvertretender Ausschussvorsitzender</Phrase>
      <Phrase Key="Committee Members">Ausschussmitglieder</Phrase>
      <Phrase Key="Common Name">Gebräuchlicher Name</Phrase>
      <Phrase Key="Conference">Konferenz</Phrase>
      <Phrase Key="Context">Kontext</Phrase>
      <Phrase Key="Coordinates">Koordinaten</Phrase>
      <Phrase Key="Copyright Date">Urheberrechtsdatum</Phrase>
      <Phrase Key="Cultural Context">Kultureller Kontext</Phrase>
      <Phrase Key="Degree">Abschluss</Phrase>
      <Phrase Key="Degree Disciplines">Studienfächer</Phrase>
      <Phrase Key="Degree Divisions">Studienabteilungen</Phrase>
      <Phrase Key="Degree Grantor">Verleihende Institution</Phrase>
      <Phrase Key="Difficulty Level">Schwierigkeitsgrad</Phrase>
      <Phrase Key="Edition">Auflage</Phrase>
      <Phrase Key="Embargo Date">Sperrfristdatum</Phrase>
      <Phrase Key="Family">Familie</Phrase>
      <Phrase Key="Genus">Gattung</Phrase>
      <Phrase Key="Graduation Date">Abschlussdatum</Phrase>
      <Phrase Key="Graduation Semester">Abschlusssemester</Phrase>
      <Phrase Key="Inscription">Inschrift</Phrase>
      <Phrase Key="Intended User Roles">Vorgesehene Benutzerrollen</Phrase>
      <Phrase Key="Interactivity Level">Interaktivitätsgrad</Phrase>
      <Phrase Key="Interactivity Type">Interaktivitätstyp</Phrase>
      <Phrase Key="Kingdom">Königreich</Phrase>
      <Phrase Key="Learning Resource Type">Lernressourcentyp</Phrase>
      <Phrase Key="Materials">Materialien</Phrase>
      <Phrase Key="Measurements">Maße</Phrase>
      <Phrase Key="Order">Ordnung</Phrase>
      <Phrase Key="Phylum">Stamm</Phrase>
      <Phrase Key="Physical Location">Physischer Standort</Phrase>
      <Phrase Key="Related Item">Verwandtes Objekt</Phrase>
      <Phrase Key="Related URL">Verwandte URL</Phrase>
      <Phrase Key="Scientific Name">Wissenschaftlicher Name</Phrase>
      <Phrase Key="Species">Art</Phrase>
      <Phrase Key="State / Edition">Zustand / Auflage</Phrase>
      <Phrase Key="Status">Status</Phrase>
      <Phrase Key="Style/Period">Stil/Epoche</Phrase>
      <Phrase Key="Subjects / Keywords">Themen / Schlagwörter</Phrase>
      <Phrase Key="System ID">System-ID</Phrase>
      <Phrase Key="System Requirements">Systemanforderungen</Phrase>
      <Phrase Key="Taxonomic Rank">Taxonomischer Rang</Phrase>
      <Phrase Key="Technique">Technik</Phrase>
      <Phrase Key="Translated Title">Übersetzter Titel</Phrase>
      <Phrase Key="Typical Age Range">Typische Altersgruppe</Phrase>
      <Phrase Key="Typical Learning Time">Typische Lernzeit</Phrase>
      <Phrase Key="User Tags">Benutzer-Tags</Phrase>
      <Phrase Key="Sort By">Sortieren nach</Phrase>
      <Phrase Key="BibID / VID">BibID / VID</Phrase>
      <Phrase Key="Title / VID">Titel / VID</Phrase>
      <Phrase Key="Last Activity Date (most recent first)">Letztes Aktivitätsdatum (neueste zuerst)</Phrase>
      <Phrase Key="Last Milestone Date (most recent first)">Letztes Meilenstein-Datum (neueste zuerst)</Phrase>
      <Phrase Key="Last Activity Date (oldest first)">Letztes Aktivitätsdatum (älteste zuerst)</Phrase>
      <Phrase Key="Last Milestone Date (oldest first)">Letztes Meilenstein-Datum (älteste zuerst)</Phrase>
      <Phrase Key="Browse by...">Durchsuchen nach...</Phrase>
      <Phrase Key="Collection">Sammlung</Phrase>
      <Phrase Key="Get help.">Hilfe erhalten.</Phrase>
      <Phrase Key="Click to add another">Klicken, um ein weiteres hinzuzufügen</Phrase>
      <Phrase Key="Click to add a new abstract">Klicken, um eine neue Zusammenfassung hinzuzufügen</Phrase>
      <Phrase Key="Click to add a new manufacturer">Klicken, um einen neuen Hersteller hinzuzufügen</Phrase>
      <Phrase Key="Click to add a new named object to this resource">Klicken, um ein neues benanntes Objekt zu dieser Ressource hinzuzufügen</Phrase>
      <Phrase Key="Click to add a new named subject">Klicken, um ein neues benanntes Thema hinzuzufügen</Phrase>
      <Phrase Key="Click to add a new note">Klicken, um eine neue Notiz hinzuzufügen</Phrase>
      <Phrase Key="Click to add a new other title">Klicken, um einen weiteren Titel hinzuzufügen</Phrase>
      <Phrase Key="Click to add a new publisher">Klicken, um einen neuen Verlag hinzuzufügen</Phrase>
      <Phrase Key="Click to add a new related item">Klicken, um ein neues verwandtes Objekt hinzuzufügen</Phrase>
      <Phrase Key="Click to add a new spatial coverage object">Klicken, um ein neues Objekt für die räumliche Abdeckung hinzuzufügen</Phrase>
      <Phrase Key="Click to add a new temporal coverage field">Klicken, um ein neues Feld für die zeitliche Abdeckung hinzuzufügen</Phrase>
      <Phrase Key="Click to add a new type of viewer">Klicken, um einen neuen Betrachtertyp hinzuzufügen</Phrase>
      <Phrase Key="Click to add a new zoological taxonomy object">Klicken, um ein neues zoologisches Taxonomieobjekt hinzuzufügen</Phrase>
      <Phrase Key="End Year">Endjahr</Phrase>
      <Phrase Key="Location(s)">Standort(e)</Phrase>
      <Phrase Key="Name">Name</Phrase>
      <Phrase Key="Period">Zeitraum</Phrase>
      <Phrase Key="Specify Type">Typ Angeben</Phrase>
      <Phrase Key="Start Year">Startjahr</Phrase>
      <Phrase Key="Access Restriction">Zugriffsbeschränkung</Phrase>
      <Phrase Key="Accessibility">Barrierefreiheit</Phrase>
      <Phrase Key="Aggregation (LOM)">Aggregation (LOM)</Phrase>
      <Phrase Key="All Subjects">Alle Themen</Phrase>
      <Phrase Key="BibID">BibID</Phrase>
      <Phrase Key="Course Title">Kurstitel</Phrase>
      <Phrase Key="Difficulty">Schwierigkeit</Phrase>
      <Phrase Key="ETD Committee">ETD-Ausschuss</Phrase>
      <Phrase Key="ETD Degree">ETD-Abschluss</Phrase>
      <Phrase Key="ETD Degree Discipline">ETD-Studienfach</Phrase>
      <Phrase Key="ETD Degree Division">ETD-Studienabteilung</Phrase>
      <Phrase Key="ETD Degree Grantor">ETD-Verleihende Institution</Phrase>
      <Phrase Key="ETD Degree Level">ETD-Abschlussniveau</Phrase>
      <Phrase Key="Group Restrictions">Gruppenbeschränkungen</Phrase>
      <Phrase Key="Instances">Instanzen</Phrase>
      <Phrase Key="Intended End User">Vorgesehener Endbenutzer</Phrase>
      <Phrase Key="Intervewer">Interviewer</Phrase>
      <Phrase Key="Intervewiee">Interviewter</Phrase>
      <Phrase Key="Learning Object Type">Lernobjekttyp</Phrase>
      <Phrase Key="Learning Time">Lernzeit</Phrase>
      <Phrase Key="Licensing">Lizenzierung</Phrase>
      <Phrase Key="LOM Intended End User Display">LOM Anzeige Vorgesehener Endbenutzer</Phrase>
      <Phrase Key="LOM Resource Type Display">LOM Anzeige Ressourcentyp</Phrase>
      <Phrase Key="Material">Material</Phrase>
      <Phrase Key="Material Type">Materialtyp</Phrase>
      <Phrase Key="MIME Type">MIME-Typ</Phrase>
      <Phrase Key="Name as Subject">Name als Thema</Phrase>
      <Phrase Key="Other_Citation">Andere Zitierung</Phrase>
      <Phrase Key="Peformance">Aufführung</Phrase>
      <Phrase Key="Peformance Date">Aufführungsdatum</Phrase>
      <Phrase Key="Peformer">Darsteller</Phrase>
      <Phrase Key="Performance">Aufführung</Phrase>
      <Phrase Key="Performance Date">Aufführungsdatum</Phrase>
      <Phrase Key="Performer">Darsteller</Phrase>
      <Phrase Key="Publication Place">Publikationsort</Phrase>
      <Phrase Key="Requirements">Anforderungen</Phrase>
      <Phrase Key="Style Period">Stilperiode</Phrase>
      <Phrase Key="Subject Keyword">Schlagwort</Phrase>
      <Phrase Key="Taxonomic All Taxonomy">Taxonomische Gesamttaxonomie</Phrase>
      <Phrase Key="Taxonomic Class">Taxonomische Klasse</Phrase>
      <Phrase Key="Taxonomic Common Name">Taxonomischer Gebräuchlicher Name</Phrase>
      <Phrase Key="Taxonomic Family">Taxonomische Familie</Phrase>
      <Phrase Key="Taxonomic Genus">Taxonomische Gattung</Phrase>
      <Phrase Key="Taxonomic Kingdom">Taxonomisches Königreich</Phrase>
      <Phrase Key="Taxonomic Order">Taxonomische Ordnung</Phrase>
      <Phrase Key="Taxonomic Phylum">Taxonomischer Stamm</Phrase>
      <Phrase Key="Taxonomic Scientific Name">Taxonomischer Wissenschaftlicher Name</Phrase>
      <Phrase Key="Taxonomic Species">Taxonomische Art</Phrase>
      <Phrase Key="Temporal Decade">Zeitliches Jahrzehnt</Phrase>
      <Phrase Key="Temporal Subject">Zeitliches Thema</Phrase>
      <Phrase Key="Temporal Subject Display">Anzeige Zeitliches Thema</Phrase>
      <Phrase Key="Temporal Year">Zeitliches Jahr</Phrase>
      <Phrase Key="Timeline Date">Zeitleistendatum</Phrase>
      <Phrase Key="Title as Subject">Titel als Thema</Phrase>
      <Phrase Key="TOC">Inhaltsverzeichnis</Phrase>
      <Phrase Key="Tracking Box">Trackingbox</Phrase>
      <Phrase Key="Undefined">Nicht Definiert</Phrase>
      <Phrase Key="User Description">Benutzerbeschreibung</Phrase>
      <Phrase Key="Access Restrictions">Zugriffsbeschränkungen</Phrase>
      <Phrase Key="External Link">Externer Link</Phrase>
      <Phrase Key="Open-NJ Link">Open-NJ-Link</Phrase>
      <Phrase Key="Brief View">Kurzansicht</Phrase>
      <Phrase Key="Table View">Tabellenansicht</Phrase>
      <Phrase Key="Thumbnail View">Miniaturansicht</Phrase>
      <Phrase Key="Subject: Topics">Thema: Gegenstände</Phrase>
      <Phrase Key="Subject: Spatial Coverage">Thema: Räumliche Abdeckung</Phrase>
      <Phrase Key="Creators">Urheber</Phrase>
      <Phrase Key="All applicable rights reserved by the source institution and holding location.">Alle anwendbaren Rechte vorbehalten durch die Quellinstitution und den Aufbewahrungsort.</Phrase>
      <Phrase Key="See License Deed">Lizenzvertrag Ansehen</Phrase>
      <Phrase Key="Material Information">Materialinformationen</Phrase>
      <Phrase Key="Thesis/Dissertation Information">Informationen zur Abschlussarbeit</Phrase>
      <Phrase Key="Zoological Taxonomic Information">Zoologische Taxonomische Informationen</Phrase>
      <Phrase Key="Learning Resource Information">Informationen zur Lernressource</Phrase>
      <Phrase Key="Record Information">Datensatzinformationen</Phrase>
      <Phrase Key="Related Items">Verwandte Objekte</Phrase>
    </Section>

  </Localization>
</SobekCM_Config>
