<?xml version="1.0" encoding="utf-8" ?>
<SobekCM_Config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://sobekrepository.org/schemas/sobekcm_config"
	xsi:schemaLocation="http://sobekrepository.org/schemas/sobekcm_config
		http://sobekrepository.org/schemas/sobekcm_config.xsd">
  <Localization Language="de">

    <Section Name="Common">
      <Phrase Key="Go_To">Gehe zu:</Phrase>
      <Phrase Key="First_Page">Erste Seite</Phrase>
      <Phrase Key="Previous_Page">Vorherige Seite</Phrase>
      <Phrase Key="Next_Page">Nächste Seite</Phrase>
      <Phrase Key="Last_Page">Letzte Seite</Phrase>
      <Phrase Key="First">Erste</Phrase>
      <Phrase Key="Previous">Vorherige</Phrase>
      <Phrase Key="Next">Nächste</Phrase>
      <Phrase Key="Last">Letzte</Phrase>
    </Section>

    <Section Name="Text_Search">
      <Phrase Key="Search_This_Document">Dieses Dokument durchsuchen</Phrase>
      <Phrase Key="Go">Los</Phrase>
      <Phrase Key="Your_Search_For">Ihre Suche innerhalb dieses Dokuments nach </Phrase>
      <Phrase Key="And_Not"> UND NICHT </Phrase>
      <Phrase Key="And"> UND </Phrase>
      <Phrase Key="Or"> ODER </Phrase>
      <Phrase Key="Not">nicht </Phrase>
      <Phrase Key="Resulted_In"> ergab </Phrase>
      <Phrase Key="Matching_Pages"> übereinstimmende Seiten</Phrase>
      <Phrase Key="No_Matching_Pages">keine übereinstimmenden Seiten</Phrase>
      <Phrase Key="Expand_Results">Sie können Ihre Ergebnisse erweitern, indem Sie suchen nach</Phrase>
      <Phrase Key="Restrict_Results">Sie können Ihre Ergebnisse eingrenzen, indem Sie suchen nach</Phrase>
    </Section>

    <Section Name="JPEG2000">
      <Phrase Key="Thumbnail">MINIATURANSICHT</Phrase>
    </Section>

    <Section Name="Citation_Common">
      <Phrase Key="Standard_View">STANDARDANSICHT</Phrase>
      <Phrase Key="Marc_View">MARC-ANSICHT</Phrase>
      <Phrase Key="Metadata_View">METADATEN</Phrase>
      <Phrase Key="Usage_Statistics_View">NUTZUNGSSTATISTIKEN</Phrase>
      <Phrase Key="Dark_Item_Message">Dieses Objekt ist GESPERRT und kann derzeit nicht angezeigt werden</Phrase>
      <Phrase Key="Menu_Standard_View">Standardansicht</Phrase>
      <Phrase Key="Menu_Marc_View">MARC-Ansicht</Phrase>
      <Phrase Key="Menu_Metadata">Metadaten</Phrase>
      <Phrase Key="Menu_Usage_Statistics">Nutzungsstatistiken</Phrase>
    </Section>

    <Section Name="Citation_Standard">
      <Phrase Key="Please_Log_On_Suffix">  Bitte melden Sie sich an, um darauf zuzugreifen.</Phrase>
      <Phrase Key="Please_Request_Access_Suffix">  Bitte beantragen Sie Zugriff.</Phrase>
      <Phrase Key="Restricted_Item_Alt">Eingeschränktes Objekt</Phrase>
    </Section>

    <Section Name="Citation_MARC">
      <Phrase Key="Auto_Generated_Notice">Der obige Datensatz wurde automatisch aus der METS-Datei generiert.</Phrase>
    </Section>

    <Section Name="Metadata_Links">
      <Phrase Key="Intro_Html"><![CDATA[Die Daten (bzw. Metadaten) zu dieser digitalen Ressource sind in verschiedenen Metadatenformaten verfügbar. Weitere Informationen zu diesen Formaten finden Sie im <a href="http://ufdc.ufl.edu/sobekcm/metadata">Abschnitt Metadaten</a> der Informationen zu <a href="http://ufdc.ufl.edu/sobekcm/">technischen Aspekten</a>.]]></Phrase>
      <Phrase Key="Ead_View_Link">Findmittel anzeigen (EAD)</Phrase>
      <Phrase Key="Ead_Description"><![CDATA[Diese Archivsammlung wird mit einem elektronischen Findmittel beschrieben. Diese Metadatendatei enthält die vollständige archivische Beschreibung und das Behälterverzeichnis für dieses Archivmaterial. Diese Datei folgt dem etablierten Standard <a href="http://www.loc.gov/ead/">Encoded Archival Description</a> (EAD).]]></Phrase>
      <Phrase Key="Mets_View_Link">Vollständiges METS/MODS anzeigen</Phrase>
      <Phrase Key="Mets_Description"><![CDATA[Diese Metadatendatei ist die Quell-Metadatendatei, die zusammen mit allen Dateien der digitalen Ressource übermittelt wurde. Sie enthält alle Zitier- und Verarbeitungsinformationen, die zum Erstellen dieser Ressource verwendet wurden. Diese Datei folgt dem etablierten Standard <a href="http://www.loc.gov/standards/mets/">Metadata Encoding and Transmission Standard</a> (METS) und <a href="http://www.loc.gov/standards/mods/">Metadata Object Description Schema</a> (MODS). Diese METS/MODS-Datei wurde beim Laden dieses Objekts in den Speicher gelesen und dient zur Anzeige aller Informationen in der Standardansicht und der MARC-Ansicht der Zitierung.]]></Phrase>
      <Phrase Key="Marc_Xml_View_Link">MARC-XML-Datei anzeigen</Phrase>
      <Phrase Key="Marc_Xml_Description"><![CDATA[Die eingegebenen Metadaten werden außerdem in das MARC-XML-Format konvertiert, um die Interoperabilität mit anderen Bibliothekskatalogsystemen zu gewährleisten. Dies stellt dieselben Daten dar, die in der <a href="{0}">MARC-ANSICHT</a> verfügbar sind, mit dem Unterschied, dass es sich um eine statische XML-Datei handelt. Diese Datei folgt dem <a href="http://www.loc.gov/standards/marcxml/">MarcXML-Schema</a>.]]></Phrase>
      <Phrase Key="Tei_View_Link">TEI-/Textdatei anzeigen</Phrase>
      <Phrase Key="Tei_Description"><![CDATA[Der Volltext dieses Objekts ist außerdem in der herunterladbaren Datei des etablierten Standards <a href="http://www.tei-c.org/index.xml">Text Encoding Initiative</a> (TEI) verfügbar.]]></Phrase>
      <Phrase Key="Iiif_View_Link">IIIF-Manifest</Phrase>
      <Phrase Key="Iiif_Description"><![CDATA[Ein <a href="https://iiif.io/get-started/how-iiif-works/">IIIF-Manifest</a> ist ein strukturiertes JSON-LD-Dokument, das strukturelle Daten, beschreibende Metadaten und Inhaltslinks zusammenfasst, um einem digitalen Betrachter mitzuteilen, wie ein komplexes Objekt wie ein Buch, Manuskript oder Kunstwerk angezeigt und navigiert werden soll.]]></Phrase>
    </Section>

    <Section Name="Item_Usage_Stats">
      <Phrase Key="Compiled_Monthly_Notice">Nutzungsstatistiken für Objekte werden einmal monatlich aus den Nutzungsprotokollen des Vormonats zusammengestellt und enthalten keine personenbezogenen Daten.</Phrase>
      <Phrase Key="Viewed_Times_Sentence"><![CDATA[Dieses Objekt wurde <%HITS%> Mal bei <%SESSIONS%> Besuchen aufgerufen.  Nachfolgend finden Sie die Details zur Gesamtnutzung dieses Objekts innerhalb dieser Bibliothek.<br /><br />Definitionen dieser Begriffe finden Sie auf den <a href="{0}" target="_BLANK">Definitionen auf der Hauptstatistikseite</a>.]]></Phrase>
      <Phrase Key="Date">Datum</Phrase>
      <Phrase Key="Views">Aufrufe</Phrase>
      <Phrase Key="Visits">Besuche</Phrase>
      <Phrase Key="Year_Statistics_Suffix"> STATISTIKEN</Phrase>
      <Phrase Key="Total">GESAMT</Phrase>
      <Phrase Key="No_Stats_Yet_Message">Nutzungsstatistiken werden monatlich erfasst und liegen für dieses Objekt noch nicht vor.</Phrase>
      <Phrase Key="Month_1">Januar</Phrase>
      <Phrase Key="Month_2">Februar</Phrase>
      <Phrase Key="Month_3">März</Phrase>
      <Phrase Key="Month_4">April</Phrase>
      <Phrase Key="Month_5">Mai</Phrase>
      <Phrase Key="Month_6">Juni</Phrase>
      <Phrase Key="Month_7">Juli</Phrase>
      <Phrase Key="Month_8">August</Phrase>
      <Phrase Key="Month_9">September</Phrase>
      <Phrase Key="Month_10">Oktober</Phrase>
      <Phrase Key="Month_11">November</Phrase>
      <Phrase Key="Month_12">Dezember</Phrase>
    </Section>

    <Section Name="SearchEngineIndexing">
      <Phrase Key="Citation_Label">Zitierung</Phrase>
      <Phrase Key="Downloads_Label">Downloads</Phrase>
      <Phrase Key="Full_Text_Label">Volltext</Phrase>
      <Phrase Key="Unable_To_Read_File">Datei konnte nicht gelesen werden: {0}</Phrase>
    </Section>

    <Section Name="JPEG">
      <Phrase Key="Menu_Standard">Standard</Phrase>
      <Phrase Key="Zoomable_Switch_Prompt">Klicken Sie auf das Bild unten, um zur zoombaren Version zu wechseln</Phrase>
      <Phrase Key="Zoomable_Switch_Title">Klicken Sie auf das Bild, um zur zoombaren Version zu wechseln</Phrase>
    </Section>

    <Section Name="PDF">
      <Phrase Key="Menu_Label_Default">PDF</Phrase>
      <Phrase Key="Error_No_Pdf_Found">FEHLER: ES KONNTE KEINE PDF-DATEI ZUR ANZEIGE IN DIESEM OBJEKT GEFUNDEN WERDEN!</Phrase>
      <Phrase Key="Download_This_Pdf">Dieses PDF herunterladen</Phrase>
      <Phrase Key="Download_Adobe_Reader_Alt">Adobe Reader herunterladen</Phrase>
    </Section>

    <Section Name="Text_Viewer">
      <Phrase Key="Menu_Text">Text</Phrase>
      <Phrase Key="Unknown_Error">Unbekannter Fehler beim Abrufen des Textes</Phrase>
      <Phrase Key="No_Text_File">Für diese Seite existiert keine Textdatei</Phrase>
      <Phrase Key="No_Text_Recorded">Für diese Seite ist kein Text erfasst</Phrase>
    </Section>

    <Section Name="TEI">
      <Phrase Key="Menu_Default_Label">TEI</Phrase>
      <Phrase Key="Transform_Error_Html"><![CDATA[Fehler bei der XSLT-Transformation von TEI<br /><br />{0}]]></Phrase>
    </Section>

    <Section Name="HTML_Viewer">
      <Phrase Key="Menu_Default_Label">HTML</Phrase>
      <Phrase Key="Unable_To_Pull_Html_Sentence"><![CDATA[Die HTML-Ansicht für dieses Objekt konnte nicht geladen werden ( <a href="{0}">Quelle</a> )]]></Phrase>
      <Phrase Key="Apologize_Sentence">Wir entschuldigen uns für die Unannehmlichkeiten.</Phrase>
      <Phrase Key="Report_Problem_Sentence"><![CDATA[Klicken Sie <a href="{0}">hier</a>, um das Problem zu melden.]]></Phrase>
    </Section>

    <Section Name="Embedded_Web_Content">
      <Phrase Key="Menu_Content_Label">Inhalt</Phrase>
      <Phrase Key="Viewer_Title">Inhalt</Phrase>
    </Section>

    <Section Name="EmbeddedVideo">
      <Phrase Key="Menu_Video_Label">Video</Phrase>
      <Phrase Key="Viewer_Title">Streaming-Video</Phrase>
    </Section>

    <Section Name="Video">
      <Phrase Key="Menu_Video_Label">Video</Phrase>
    </Section>

    <Section Name="Audio">
      <Phrase Key="Menu_Audio_Label">Audio</Phrase>
    </Section>

    <Section Name="Google_Map">
      <Phrase Key="Menu_Default_Label">Karte anzeigen!</Phrase>
      <Phrase Key="Menu_Map_Search">Kartensuche</Phrase>
      <Phrase Key="Menu_Search_Results">Suchergebnisse</Phrase>
      <Phrase Key="Menu_Map_Coverage">Kartenabdeckung</Phrase>
      <Phrase Key="Search_Button">Suchen</Phrase>
      <Phrase Key="Find_Address_Button">Adresse suchen</Phrase>
      <Phrase Key="Instructions_Step1_Html"><![CDATA[Verwenden Sie unten die Schaltfläche <i>Bereich auswählen</i>, um ein Suchrechteck auf der Karte zu zeichnen, oder geben Sie eine Adresse ein und klicken Sie auf <i>Adresse suchen</i>.]]></Phrase>
      <Phrase Key="Instructions_Step2_Html"><![CDATA[Klicken Sie auf die Schaltfläche <i>Suchen</i>, um die Ergebnisse anzuzeigen]]></Phrase>
      <Phrase Key="Address_Label">Adresse:</Phrase>
      <Phrase Key="Address_Placeholder">Adresse eingeben ( z. B. 12 Main Street, Gainesville Florida )</Phrase>
      <Phrase Key="No_Matches_Message"><![CDATA[Es gab keine Treffer innerhalb dieses Objekts für Ihre geografische Suche. &nbsp; ]]></Phrase>
      <Phrase Key="Modify_Item_Search">Objektsuche ändern</Phrase>
      <Phrase Key="Modify_Search_Within_Flight">Suche innerhalb des Flugs ändern</Phrase>
      <Phrase Key="Search_Other_Items_Link">Klicken Sie hier, um weitere Objekte in der aktuellen Sammlung zu durchsuchen</Phrase>
      <Phrase Key="Matching_Results_Intro">Die folgenden Ergebnisse entsprechen Ihrer geografischen Suche:</Phrase>
      <Phrase Key="Zoom_To_Extent">Auf gesamten Bereich zoomen</Phrase>
      <Phrase Key="Zoom_To_Matches">Auf Treffer zoomen</Phrase>
      <Phrase Key="Search_All_Flights">Alle Flüge durchsuchen</Phrase>
      <Phrase Key="Search_Entire_Collection">Gesamte Sammlung durchsuchen</Phrase>
      <Phrase Key="Google_Maps_Not_Enabled_Html"><![CDATA[<p style="font-weight:bold; text-size:1.1em">FEHLER: Google Maps ist in dieser SobekCM-Instanz nicht aktiviert!</p>
              <p>Um es zu aktivieren, erstellen Sie bitte einen Google Maps API-Schlüssel und geben Sie ihn in den systemweiten Einstellungen ein.</p>
              <p>Informationen zu diesem Vorgang finden Sie hier: <a href="http://sobekrepository.org/software/config/googlemaps" style="color:white;">http://sobekrepository.org/software/config/googlemaps</a>.</p>]]></Phrase>
    </Section>

    <Section Name="GnuBooks_PageTurner">
      <Phrase Key="Menu_Default_Label">Seitenumblätterer</Phrase>
      <Phrase Key="No_Javascript_Message">Für die Blätteransicht ist ein Browser mit aktiviertem Javascript erforderlich.</Phrase>
    </Section>

    <Section Name="MultiVolumes">
      <Phrase Key="Menu_All_Volumes">Alle Bände</Phrase>
      <Phrase Key="Menu_All_Issues">Alle Ausgaben</Phrase>
      <Phrase Key="Menu_Related_Maps">Verwandte Karten</Phrase>
      <Phrase Key="Menu_Related_Flights">Verwandte Flüge</Phrase>
      <Phrase Key="All_Volumes">Alle Bände</Phrase>
      <Phrase Key="All_Issues">Alle Ausgaben</Phrase>
      <Phrase Key="Related_Map_Sets">Verwandte Kartensätze</Phrase>
      <Phrase Key="Related_Flights">Verwandte Flüge</Phrase>
      <Phrase Key="Related_Titles_Heading">Verwandte Titel</Phrase>
      <Phrase Key="Vid_Header">VID</Phrase>
      <Phrase Key="Level_1_Header">EBENE 1</Phrase>
      <Phrase Key="Level_2_Header">EBENE 2</Phrase>
      <Phrase Key="Level_3_Header">EBENE 3</Phrase>
      <Phrase Key="Access_Header">ZUGRIFF</Phrase>
      <Phrase Key="Access_Dark">gesperrt</Phrase>
      <Phrase Key="Access_Private">privat</Phrase>
      <Phrase Key="Access_Public">öffentlich</Phrase>
      <Phrase Key="Access_Restricted">eingeschränkt</Phrase>
      <Phrase Key="Missing_Thumbnail_Alt">MINIATURANSICHT FEHLT</Phrase>
      <Phrase Key="Dark_Suffix"> ( gesperrt )</Phrase>
      <Phrase Key="Private_Suffix"> ( privat )</Phrase>
      <Phrase Key="Restricted_Suffix"> ( es gelten Einschränkungen )</Phrase>
      <Phrase Key="All_Private_Or_Dark_Suffix"> ( alle privat oder gesperrt )</Phrase>
    </Section>

    <Section Name="OpenTextbook_Common">
      <Phrase Key="Search_Label">Suche: </Phrase>
      <Phrase Key="Zoom_Label">Zoom: </Phrase>
      <Phrase Key="Unnumbered_Page_Prefix">Unnummeriert </Phrase>
      <Phrase Key="Page_Prefix">Seite </Phrase>
      <Phrase Key="Previous_Section_Alt">Zum vorherigen Abschnitt</Phrase>
      <Phrase Key="Next_Section_Alt">Zum nächsten Abschnitt</Phrase>
    </Section>

    <Section Name="OpenTextbook">
      <Phrase Key="Menu_Default_Label">Offenes Lehrbuch</Phrase>
      <Phrase Key="Welcome_Heading">Willkommen bei OpenPublishing</Phrase>
      <Phrase Key="Welcome_Edit_Instructions"><![CDATA[Sie können Ihr Objekt hier bearbeiten, indem Sie <i>Inhalt bearbeiten</i> in der oberen rechten Ecke dieser Seite auswählen.]]></Phrase>
      <Phrase Key="Welcome_Toc_Instructions"><![CDATA[Um Ihr Inhaltsverzeichnis zu aktualisieren und Kapitel zu erstellen, verwenden Sie das OpenPublishing-Werkzeug, das in der internen Kopfzeile oder über die Option <i>VERWALTEN</i> im Objektmenü verfügbar ist.]]></Phrase>
      <Phrase Key="Chapter_Edit_Instructions"><![CDATA[Sie können dieses Kapitel hier bearbeiten, indem Sie <i>Inhalt bearbeiten</i> in der oberen rechten Ecke dieser Seite auswählen.]]></Phrase>
    </Section>

    <Section Name="OpenTextbook_Divisions">
      <Phrase Key="Menu_Default_Label">Offener Verleger</Phrase>
    </Section>

    <Section Name="Related_Images">
      <Phrase Key="Menu_Default_Label">Miniaturansichten</Phrase>
      <Phrase Key="Thumbnails_Per_Page_Suffix">Miniaturansichten pro Seite</Phrase>
      <Phrase Key="Go_To_Thumbnail_Label">Zur Miniaturansicht</Phrase>
      <Phrase Key="Switch_To_Small">Zu kleinen Miniaturansichten wechseln</Phrase>
      <Phrase Key="Switch_To_Medium">Zu mittelgroßen Miniaturansichten wechseln</Phrase>
      <Phrase Key="Switch_To_Large">Zu großen Miniaturansichten wechseln</Phrase>
      <Phrase Key="All_Thumbnails">Alle Miniaturansichten</Phrase>
      <Phrase Key="Small_Alt">Klein</Phrase>
      <Phrase Key="Medium_Alt">Mittel</Phrase>
      <Phrase Key="Large_Alt">Groß</Phrase>
      <Phrase Key="Missing_Thumbnail_Alt">MINIATURANSICHT FEHLT</Phrase>
      <Phrase Key="Page_Number_Placeholder">(Seite {0})</Phrase>
    </Section>

    <Section Name="Downloads">
      <Phrase Key="Menu_Default_Label">Downloads</Phrase>
      <Phrase Key="Explanation_Has_Downloads">Dieses Objekt verfügt über folgende Downloads:</Phrase>
      <Phrase Key="Explanation_Only_Downloads">Dieses Objekt ist nur als die folgenden Downloads verfügbar:</Phrase>
      <Phrase Key="Tiles_Available_Heading">Die folgenden Kacheln stehen zum Download bereit:</Phrase>
      <Phrase Key="Jpeg2000_Available_Heading">Die folgenden JPEG2000-Dateien stehen zum Download bereit:</Phrase>
      <Phrase Key="Save_Link_As_Instructions">Klicken Sie zum Herunterladen mit der rechten Maustaste auf den Kachelnamen unten, wählen Sie 'Link speichern unter...' und speichern Sie das JPEG2000 auf Ihrem Computer.</Phrase>
      <Phrase Key="Save_Target_As_Instructions">Klicken Sie zum Herunterladen mit der rechten Maustaste auf den Kachelnamen unten, wählen Sie 'Ziel speichern unter...' und speichern Sie das JPEG2000 auf Ihrem Computer. </Phrase>
    </Section>

    <Section Name="Item_Tracking_Common">
      <Phrase Key="Header">Tracking-Informationen</Phrase>
      <Phrase Key="Milestones_Tab">MEILENSTEINE</Phrase>
      <Phrase Key="History_Tab">VERLAUF</Phrase>
      <Phrase Key="Media_Tab">MEDIEN</Phrase>
      <Phrase Key="Archives_Tab">ARCHIVE</Phrase>
      <Phrase Key="Directory_Tab">VERZEICHNIS</Phrase>
    </Section>

    <Section Name="Tracking">
      <Phrase Key="No_History_Message">OBJEKT HAT KEINEN VERLAUF</Phrase>
      <Phrase Key="History_Table_Title">OBJEKTVERLAUF</Phrase>
      <Phrase Key="Workflow_Name_Column">WORKFLOW-NAME</Phrase>
      <Phrase Key="Completed_Date_Column">ABSCHLUSSDATUM</Phrase>
      <Phrase Key="User_Column">BENUTZER</Phrase>
      <Phrase Key="Location_Notes_Column">STANDORT / NOTIZEN</Phrase>
    </Section>

    <Section Name="Archives">
      <Phrase Key="Header">Archivierungsinformationen</Phrase>
      <Phrase Key="No_Info_Message">OBJEKT HAT KEINE ARCHIVINFORMATIONEN</Phrase>
      <Phrase Key="Table_Title">ARCHIVIERTE DATEIINFORMATIONEN</Phrase>
      <Phrase Key="Filename_Column">DATEINAME</Phrase>
      <Phrase Key="Size_Column">GRÖSSE</Phrase>
      <Phrase Key="Original_Creation_Date_Column">URSPRÜNGLICHES ERSTELLUNGSDATUM</Phrase>
      <Phrase Key="Stored_Date_Column">SPEICHERDATUM</Phrase>
      <Phrase Key="Status_Column">STATUS</Phrase>
      <Phrase Key="Location_Column">STANDORT</Phrase>
    </Section>

    <Section Name="UF_Archives">
      <Phrase Key="Last_Write_Date_Column">LETZTES SCHREIBDATUM</Phrase>
      <Phrase Key="Archived_Date_Column">ARCHIVIERUNGSDATUM</Phrase>
    </Section>

    <Section Name="Directory">
      <Phrase Key="Page_Files_Header">SEITENDATEIEN</Phrase>
      <Phrase Key="Metadata_Files_Header">METADATENDATEIEN</Phrase>
      <Phrase Key="Other_Files_Header">ANDERE DATEIEN</Phrase>
      <Phrase Key="Name_Column">NAME</Phrase>
      <Phrase Key="Date_Modified_Column">ÄNDERUNGSDATUM</Phrase>
      <Phrase Key="Type_Column">TYP</Phrase>
      <Phrase Key="Size_Column">GRÖSSE</Phrase>
      <Phrase Key="Page_Fallback_Label">SEITE</Phrase>
      <Phrase Key="Unable_To_Pull_Directory_Info">VERZEICHNISINFORMATIONEN KONNTEN NICHT ABGERUFEN WERDEN</Phrase>
      <Phrase Key="Generic_File_Suffix">Datei</Phrase>
      <Phrase Key="Jpeg_Image">JPEG-Bild</Phrase>
      <Phrase Key="Thumbnail_Image">Miniaturbild</Phrase>
      <Phrase Key="Qc_Jpeg_Image">QC-JPEG-Bild</Phrase>
      <Phrase Key="Archival_Tiff_Image">Archiv-TIFF-Bild</Phrase>
      <Phrase Key="Jpeg2000_Zoomable_Image">JPEG2000-Zoombild</Phrase>
      <Phrase Key="Adobe_Acrobat_Document">Adobe-Acrobat-Dokument</Phrase>
      <Phrase Key="Text_File">Textdatei</Phrase>
      <Phrase Key="Excel_Worksheet">Microsoft-Office-Excel-Arbeitsblatt</Phrase>
      <Phrase Key="Word_Document">Microsoft-Office-Word-Dokument</Phrase>
      <Phrase Key="Powerpoint_Presentation">Microsoft-Office-PowerPoint-Präsentation</Phrase>
      <Phrase Key="Shockwave_Flash_Object">Shockwave-Flash-Objekt</Phrase>
      <Phrase Key="Prime_Recognition_Output_File">Prime-Recognition-Ausgabedatei</Phrase>
      <Phrase Key="Static_Citation_Page">Statische Zitierseite</Phrase>
      <Phrase Key="Html_Document">HTML-Dokument</Phrase>
      <Phrase Key="Citation_Only_Mets_File">Nur-Zitat-METS-Datei</Phrase>
      <Phrase Key="Marc_Xml_File">MARC-XML-Datei</Phrase>
      <Phrase Key="Sobekcm_Service_Mets_File">SobekCM-Dienst-METS-Datei</Phrase>
      <Phrase Key="Text_Indexing_File">Textindexierungsdatei</Phrase>
      <Phrase Key="Xml_Document">XML-Dokument</Phrase>
      <Phrase Key="User_Submitted_Mets_File">Vom Benutzer übermittelte METS-Datei</Phrase>
      <Phrase Key="Fda_Ingest_Report">FDA-Ingest-Bericht</Phrase>
      <Phrase Key="Previous_Mets_File_Version">Vorherige METS-Dateiversion</Phrase>
      <Phrase Key="Backup_File">Sicherungsdatei</Phrase>
    </Section>

    <Section Name="Milestones">
      <Phrase Key="Header">DIGITALISIERUNGSMEILENSTEINE</Phrase>
      <Phrase Key="Digital_Acquisition_Label">Digitale Erfassung</Phrase>
      <Phrase Key="Post_Acquisition_Processing_Label">Nachbearbeitung</Phrase>
      <Phrase Key="Quality_Control_Label">Qualitätskontrolle Durchgeführt</Phrase>
      <Phrase Key="Online_Complete_Label">Online Abgeschlossen</Phrase>
      <Phrase Key="Not_Applicable">n/v</Phrase>
    </Section>

    <Section Name="TrackingSheet">
      <Phrase Key="Material_Info_Header">Materialinformationen</Phrase>
      <Phrase Key="Title_Label">Titel:</Phrase>
      <Phrase Key="Author_Label">Autor:</Phrase>
      <Phrase Key="Publisher_Label">Verlag:</Phrase>
      <Phrase Key="Oclc_Label">OCLC:</Phrase>
      <Phrase Key="Aleph_Label">Aleph:</Phrase>
      <Phrase Key="Material_Type_Label">Materialtyp:</Phrase>
      <Phrase Key="Aggregations_Label">Sammlungen:</Phrase>
      <Phrase Key="Serial_Hierarchy_Header">Seriell-Hierarchie</Phrase>
      <Phrase Key="Level_Label">Ebene</Phrase>
      <Phrase Key="Imaging_Progress_Header">Digitalisierungsfortschritt</Phrase>
      <Phrase Key="Name_Label">Name:</Phrase>
      <Phrase Key="Date_Label">Datum:</Phrase>
      <Phrase Key="Page_Range_Label">Seitenbereich:</Phrase>
      <Phrase Key="Duration_Label">Dauer:</Phrase>
      <Phrase Key="Physical_Material_Header">Physisches Material</Phrase>
      <Phrase Key="Born_Digital_Label">Objekt ist digital entstanden</Phrase>
      <Phrase Key="Material_Recd_Label">Material Erh.:</Phrase>
      <Phrase Key="Disposition_Advice_Label">Verbleibhinweis:</Phrase>
      <Phrase Key="Additional_Notes_Header">Zusätzliche Hinweise:</Phrase>
      <Phrase Key="Start_Scanning_Label">Scannen Beginnen</Phrase>
      <Phrase Key="End_Scanning_Label">Scannen Beenden</Phrase>
      <Phrase Key="Start_Processing_Label">Verarbeitung Beginnen</Phrase>
      <Phrase Key="End_Processing_Label">Verarbeitung Beenden</Phrase>
    </Section>

    <Section Name="UF_Media">
      <Phrase Key="No_Info_Message">OBJEKT IST NICHT AUF MEDIEN ARCHIVIERT</Phrase>
      <Phrase Key="Table_Title">CD/DVD-ARCHIV</Phrase>
      <Phrase Key="Cd_Number_Column">CD/DVD-NUMMER</Phrase>
      <Phrase Key="File_Range_Column">DATEIBEREICH</Phrase>
      <Phrase Key="Images_Column">BILDER</Phrase>
      <Phrase Key="Size_Column">GRÖSSE</Phrase>
      <Phrase Key="Date_Burned_Column">BRENNDATUM</Phrase>
    </Section>

    <Section Name="ManageMenu_Item">
      <Phrase Key="Item_Viewer_Title">Dieses Objekt verwalten</Phrase>
      <Phrase Key="Item_Intro_Prompt">Wie möchten Sie dieses Objekt heute verwalten?</Phrase>
      <Phrase Key="Group_Level_Note">Zusätzlich können die folgenden Änderungen auf Objektgruppenebene vorgenommen werden:</Phrase>
      <Phrase Key="Group_Viewer_Title">Diese Objektgruppe verwalten</Phrase>
      <Phrase Key="Group_Intro_Prompt">Wie möchten Sie diese Objektgruppe heute verwalten?</Phrase>
      <Phrase Key="Open_Textbook_Desc">Verwalten Sie dieses offene Lehrbuch-Objekt und bearbeiten Sie den Seiteninhalt, fügen Sie Bilder und neue Kapitel hinzu usw.</Phrase>
      <Phrase Key="Edit_Metadata_Link">Objektmetadaten Bearbeiten</Phrase>
      <Phrase Key="Edit_Metadata_Desc">Bearbeiten Sie die Informationen zu diesem Objekt, die in der Zitierung/Beschreibung erscheinen. Dies sind grundlegende Informationen über das Originalobjekt und diese digitale Manifestation.</Phrase>
      <Phrase Key="Edit_Tei_Link">TEI Bearbeiten</Phrase>
      <Phrase Key="Edit_Tei_Desc">Bearbeiten Sie dieses TEI-Objekt, einschließlich der verwendeten XSLT- und CSS-Datei, sowie das Hochladen einer neuen TEI-Datei oder das Online-Bearbeiten der vorhandenen TEI-Datei.</Phrase>
      <Phrase Key="Edit_Behaviors_Link">Objektverhalten Bearbeiten</Phrase>
      <Phrase Key="Edit_Behaviors_Desc">Ändern Sie, wie sich dieses Objekt in dieser Bibliothek verhält, einschließlich unter welchen Sammlungen es erscheint, die Wortmarken links und welche Betrachtertypen öffentlich zugänglich sind.</Phrase>
      <Phrase Key="Qc_Link">Seiten und Abteilungen Verwalten (Qualitätskontrolle)</Phrase>
      <Phrase Key="Qc_Desc">Ordnen Sie Seitenbilder neu an, benennen Sie Seiten, weisen Sie Abteilungen zu und löschen und fügen Sie neue Seitenbilder zu diesem Objekt hinzu.</Phrase>
      <Phrase Key="Work_History_Link">Arbeitsverlauf Anzeigen</Phrase>
      <Phrase Key="Work_History_Desc">Zeigt den Verlauf aller an diesem Objekt durchgeführten Arbeiten an. In dieser Ansicht können Sie auch Digitalisierungsmeilensteine und Informationen zu digitalen Ressourcendateien einsehen.</Phrase>
      <Phrase Key="Download_Files_Link">Download-Dateien Verwalten</Phrase>
      <Phrase Key="Download_Files_Desc">Laden Sie neue Dateien zum Download hoch oder entfernen Sie vorhandene Dateien, die diesem Objekt zum Download beigefügt sind. Dies umfasst im Allgemeinen alles außer den Seitenbildern.</Phrase>
      <Phrase Key="Geospatial_Link">Geodaten Verwalten (Beta)</Phrase>
      <Phrase Key="Geospatial_Desc">Fügen Sie geografische Informationen für dieses Objekt hinzu. Dies kann so einfach sein wie ein Standort für ein Foto oder eine Kartenüberlagerung. Es können auch interessante Punkte, Linien und Polygone gezeichnet werden.</Phrase>
      <Phrase Key="Tracking_Sheet_Link">Trackingblatt Anzeigen</Phrase>
      <Phrase Key="Tracking_Sheet_Desc">Dies kann verwendet werden, um das Trackingblatt für dieses Objekt zu drucken, das als Teil des integrierten Digitalisierungs-Workflows verwendet werden kann.</Phrase>
      <Phrase Key="Group_Behaviors_Link">Objektgruppenverhalten Bearbeiten</Phrase>
      <Phrase Key="Group_Behaviors_Desc">Legen Sie den Titel fest, unter dem alle diese Objekte in den Suchergebnissen erscheinen, und legen Sie die Web-Skins fest, unter denen alle diese Objekte erscheinen sollen.</Phrase>
      <Phrase Key="Add_Volume_Link">Neuen Band Hinzufügen</Phrase>
      <Phrase Key="Add_Volume_Desc">Fügen Sie dieser Objektgruppe einen neuen, verwandten Band hinzu.&lt;br /&gt;&lt;br /&gt;</Phrase>
      <Phrase Key="Mass_Update_Link">Objektverhalten Massenaktualisierung</Phrase>
      <Phrase Key="Mass_Update_Desc">Dies ermöglicht es, Verhaltensweisen auf Objektebene für alle Objekte innerhalb dieser Objektgruppe festzulegen, einschließlich unter welchen Sammlungen sie erscheinen, die Wortmarken links und welche Betrachtertypen öffentlich zugänglich sind.</Phrase>
    </Section>

  </Localization>
</SobekCM_Config>
