<?xml version="1.0" encoding="utf-8" ?>
<SobekCM_Config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://sobekrepository.org/schemas/sobekcm_config"
	xsi:schemaLocation="http://sobekrepository.org/schemas/sobekcm_config
		http://sobekrepository.org/schemas/sobekcm_config.xsd">
  <Localization Language="de">

    <Section Name="General">
      <Phrase Key="Description">Beschreibung</Phrase>
      <Phrase Key="Format">Format</Phrase>
      <Phrase Key="Publisher">Verlag</Phrase>
      <Phrase Key="Relation">Beziehung</Phrase>
      <Phrase Key="Resource Identifier">Ressourcenkennung</Phrase>
      <Phrase Key="Resource_Type">Ressourcentyp</Phrase>
      <Phrase Key="Subject">Thema</Phrase>
      <Phrase Key="Abstract">Zusammenfassung</Phrase>
      <Phrase Key="Alternate Title">Alternativer Titel</Phrase>
      <Phrase Key="Attribution_Statement">Zuordnungserklärung</Phrase>
      <Phrase Key="Bibliographic_ID">Bibliografische ID</Phrase>
      <Phrase Key="Contributor">Mitwirkender</Phrase>
      <Phrase Key="Creator">Urheber</Phrase>
      <Phrase Key="Donor">Spender</Phrase>
      <Phrase Key="EAD_Identifier">EAD-Kennung</Phrase>
      <Phrase Key="Holding Location">Standort</Phrase>
      <Phrase Key="Latitude_Hours">Breitengrad Stunden</Phrase>
      <Phrase Key="Latitude_Minutes">Breitengrad Minuten</Phrase>
      <Phrase Key="Latitude_Seconds">Breitengrad Sekunden</Phrase>
      <Phrase Key="Longitude_Hours">Längengrad Stunden</Phrase>
      <Phrase Key="Longitude_Minutes">Längengrad Minuten</Phrase>
      <Phrase Key="Longitude_Seconds">Längengrad Sekunden</Phrase>
      <Phrase Key="Notes">Notizen</Phrase>
      <Phrase Key="Rights Management">Rechteverwaltung</Phrase>
      <Phrase Key="Scale">Maßstab</Phrase>
      <Phrase Key="Series Title">Reihentitel</Phrase>
      <Phrase Key="Source Institution">Ursprungseinrichtung</Phrase>
      <Phrase Key="Spatial Coverage">Räumliche Abdeckung</Phrase>
      <Phrase Key="Subcollection">Unterkollektion</Phrase>
      <Phrase Key="Temporal Coverage">Zeitliche Abdeckung</Phrase>
      <Phrase Key="Uniform Title">Einheitstitel</Phrase>
      <Phrase Key="Volume_ID">Band-ID</Phrase>
      <Phrase Key="Interviewer">Interviewer</Phrase>
      <Phrase Key="Interviewee">Interviewpartner</Phrase>
      <Phrase Key="Publication Date">Veröffentlichungsdatum</Phrase>
      <Phrase Key="Author">Autor</Phrase>
      <Phrase Key="Place of Publication">Erscheinungsort</Phrase>
      <Phrase Key="Year">Jahr</Phrase>
      <Phrase Key="Acknowledgement">Danksagung</Phrase>
      <Phrase Key="Advertising">Werbung</Phrase>
      <Phrase Key="Appendix">Anhang</Phrase>
      <Phrase Key="Back_Cover">Rückseite</Phrase>
      <Phrase Key="Back_Matter">Schlussteil</Phrase>
      <Phrase Key="Bibliography">Bibliografie</Phrase>
      <Phrase Key="Chapter">Kapitel</Phrase>
      <Phrase Key="Conclusion">Schlussfolgerung</Phrase>
      <Phrase Key="Copyright">Urheberrecht</Phrase>
      <Phrase Key="Cover">Einband</Phrase>
      <Phrase Key="Dedication">Widmung</Phrase>
      <Phrase Key="Errata">Errata</Phrase>
      <Phrase Key="Foreword">Vorwort</Phrase>
      <Phrase Key="Front_Cover">Vorderseite</Phrase>
      <Phrase Key="Front_Matter">Titelei</Phrase>
      <Phrase Key="Frontispiece">Frontispiz</Phrase>
      <Phrase Key="Half_Title">Schmutztitel</Phrase>
      <Phrase Key="Index">Register</Phrase>
      <Phrase Key="Interview">Interview</Phrase>
      <Phrase Key="Introduction">Einleitung</Phrase>
      <Phrase Key="List_of_Figures">Abbildungsverzeichnis</Phrase>
      <Phrase Key="List_of_Illustrations">Illustrationsverzeichnis</Phrase>
      <Phrase Key="List_of_Tables">Tabellenverzeichnis</Phrase>
      <Phrase Key="Main">Haupt</Phrase>
      <Phrase Key="Methodology">Methodik</Phrase>
      <Phrase Key="Poem">Gedicht</Phrase>
      <Phrase Key="Preface">Vorwort</Phrase>
      <Phrase Key="Prelude">Vorspiel</Phrase>
      <Phrase Key="Reference">Referenz</Phrase>
      <Phrase Key="Section">Abschnitt</Phrase>
      <Phrase Key="Spine">Buchrücken</Phrase>
      <Phrase Key="Subdivision_Level_1">Unterteilungsebene 1</Phrase>
      <Phrase Key="Subdivision_Level_2">Unterteilungsebene 2</Phrase>
      <Phrase Key="Subdivision_Level_3">Unterteilungsebene 3</Phrase>
      <Phrase Key="Subdivision_Level_4">Unterteilungsebene 4</Phrase>
      <Phrase Key="Subdivision_Level_5">Unterteilungsebene 5</Phrase>
      <Phrase Key="Subdivision_Level_6">Unterteilungsebene 6</Phrase>
      <Phrase Key="Table_of_Contents">Inhaltsverzeichnis</Phrase>
      <Phrase Key="Title_Page">Titelseite</Phrase>
      <Phrase Key="Group">Gruppe</Phrase>
      <Phrase Key="PAGE_IMAGE">SEITENBILD</Phrase>
      <Phrase Key="PAGE_TEXT">SEITENTEXT</Phrase>
      <Phrase Key="ZOOMABLE">ZOOMBAR</Phrase>
      <Phrase Key="FEATURES">GEBÄUDE</Phrase>
      <Phrase Key="STREETS">STRASSEN</Phrase>
      <Phrase Key="All_Items">Alle Objekte</Phrase>
      <Phrase Key="Recently_Added_Items">Kürzlich Hinzugefügte Objekte</Phrase>
      <Phrase Key="Related_Images">Verwandte Bilder</Phrase>
      <Phrase Key="Anywhere">Überall</Phrase>
      <Phrase Key="NARROW_RESULTS_BY">ERGEBNISSE EINGRENZEN NACH</Phrase>
      <Phrase Key="Country">Land</Phrase>
      <Phrase Key="State">Bundesland</Phrase>
      <Phrase Key="County">Landkreis</Phrase>
      <Phrase Key="City">Stadt</Phrase>
      <Phrase Key="Subject_Topic">Thema: Gegenstand</Phrase>
      <Phrase Key="Subject_Geographic_Area">Thema: Geografisches Gebiet</Phrase>
      <Phrase Key="Subject_Genre">Thema: Genre</Phrase>
      <Phrase Key="Show_More">Mehr Anzeigen</Phrase>
      <Phrase Key="Show_Less">Weniger Anzeigen</Phrase>
      <Phrase Key="Permanent Link">Permanenter Link</Phrase>
      <Phrase Key="Material_Information">Materialinformationen</Phrase>
      <Phrase Key="Physical Description">Physische Beschreibung</Phrase>
      <Phrase Key="Manufacturer">Hersteller</Phrase>
      <Phrase Key="Subjects">Themen</Phrase>
      <Phrase Key="Statement_of_Responsibility">Verantwortlichkeitserklärung</Phrase>
      <Phrase Key="General Note">Allgemeine Anmerkung</Phrase>
      <Phrase Key="Record_Information">Datensatzinformationen</Phrase>
      <Phrase Key="Local_Membership">Lokale Mitgliedschaft</Phrase>
      <Phrase Key="METS_Information">METS-Informationen</Phrase>
      <Phrase Key="Creation Date">Erstellungsdatum</Phrase>
      <Phrase Key="Last_Modified">Zuletzt Geändert</Phrase>
      <Phrase Key="Last_User">Letzter Benutzer</Phrase>
      <Phrase Key="System_Folder">Systemordner</Phrase>
      <Phrase Key="Item_Primary_Key">Primärschlüssel des Objekts</Phrase>
      <Phrase Key="Group_Primary_Key">Primärschlüssel der Gruppe</Phrase>
      <Phrase Key="System Administration Information">Systemadministratorinformationen</Phrase>
      <Phrase Key="Group_Title">Gruppentitel</Phrase>
      <Phrase Key="Accession_Number">Zugangsnummer</Phrase>
      <Phrase Key="Caribbean_Newspaper_Digital_Library">Karibische Digitale Zeitungsbibliothek</Phrase>
      <Phrase Key="Digital_Library_of_the_Caribbean">Digitale Bibliothek der Karibik</Phrase>
      <Phrase Key="Panama_and_the_Canal">Panama und der Kanal</Phrase>
      <Phrase Key="Subject_Keywords">Schlagwörter</Phrase>
      <Phrase Key="Type">Typ</Phrase>
      <Phrase Key="Genre">Genre</Phrase>
      <Phrase Key="Target Audience">Zielgruppe</Phrase>
      <Phrase Key="Attribution">Zuordnung</Phrase>
      <Phrase Key="Tickler">Erinnerung</Phrase>
      <Phrase Key="Identifier">Kennung</Phrase>
      <Phrase Key="Affiliation">Zugehörigkeit</Phrase>
      <Phrase Key="Frequency">Häufigkeit</Phrase>
      <Phrase Key="Date_Ascending">Datum Aufsteigend</Phrase>
      <Phrase Key="Date_Descending">Datum Absteigend</Phrase>
      <Phrase Key="TEXT_SEARCH">TEXTSUCHE</Phrase>
      <Phrase Key="Subcollections">Unterkollektionen</Phrase>
      <Phrase Key="Metadata_Only">Nur Metadaten</Phrase>
      <Phrase Key="Most_Recent">Neueste</Phrase>
      <Phrase Key="Child_Collections">Unterkollektionen</Phrase>
      <Phrase Key="Title">Titel</Phrase>
      <Phrase Key="Date">Datum</Phrase>
      <Phrase Key="Language">Sprache</Phrase>
      <Phrase Key="Full_Citation">Vollständiges Zitat</Phrase>
      <Phrase Key="Abbreviated Title">Abgekürzter Titel</Phrase>
      <Phrase Key="Aggregation Level">Aggregationsebene</Phrase>
      <Phrase Key="Aggregations">Aggregationen</Phrase>
      <Phrase Key="Class">Klasse</Phrase>
      <Phrase Key="Classification">Klassifikation</Phrase>
      <Phrase Key="Committee Chair">Ausschussvorsitzender</Phrase>
      <Phrase Key="Committee Co-Chair">Stellvertretender Ausschussvorsitzender</Phrase>
      <Phrase Key="Committee Members">Ausschussmitglieder</Phrase>
      <Phrase Key="Common Name">Gebräuchlicher Name</Phrase>
      <Phrase Key="Conference">Konferenz</Phrase>
      <Phrase Key="Context">Kontext</Phrase>
      <Phrase Key="Coordinates">Koordinaten</Phrase>
      <Phrase Key="Copyright Date">Urheberrechtsdatum</Phrase>
      <Phrase Key="Cultural Context">Kultureller Kontext</Phrase>
      <Phrase Key="Degree">Abschluss</Phrase>
      <Phrase Key="Degree Disciplines">Studienfächer</Phrase>
      <Phrase Key="Degree Divisions">Studienabteilungen</Phrase>
      <Phrase Key="Degree Grantor">Verleihende Institution</Phrase>
      <Phrase Key="Difficulty Level">Schwierigkeitsgrad</Phrase>
      <Phrase Key="Edition">Auflage</Phrase>
      <Phrase Key="Embargo Date">Sperrfristdatum</Phrase>
      <Phrase Key="Family">Familie</Phrase>
      <Phrase Key="Genus">Gattung</Phrase>
      <Phrase Key="Graduation Date">Abschlussdatum</Phrase>
      <Phrase Key="Graduation Semester">Abschlusssemester</Phrase>
      <Phrase Key="Inscription">Inschrift</Phrase>
      <Phrase Key="Intended User Roles">Vorgesehene Benutzerrollen</Phrase>
      <Phrase Key="Interactivity Level">Interaktivitätsgrad</Phrase>
      <Phrase Key="Interactivity Type">Interaktivitätstyp</Phrase>
      <Phrase Key="Kingdom">Königreich</Phrase>
      <Phrase Key="Learning Resource Type">Lernressourcentyp</Phrase>
      <Phrase Key="Materials">Materialien</Phrase>
      <Phrase Key="Measurements">Maße</Phrase>
      <Phrase Key="Order">Ordnung</Phrase>
      <Phrase Key="Phylum">Stamm</Phrase>
      <Phrase Key="Physical Location">Physischer Standort</Phrase>
      <Phrase Key="Related Item">Verwandtes Objekt</Phrase>
      <Phrase Key="Related URL">Verwandte URL</Phrase>
      <Phrase Key="Scientific Name">Wissenschaftlicher Name</Phrase>
      <Phrase Key="Species">Art</Phrase>
      <Phrase Key="State / Edition">Zustand / Auflage</Phrase>
      <Phrase Key="Status">Status</Phrase>
      <Phrase Key="Style/Period">Stil/Epoche</Phrase>
      <Phrase Key="Subjects / Keywords">Themen / Schlagwörter</Phrase>
      <Phrase Key="System ID">System-ID</Phrase>
      <Phrase Key="System Requirements">Systemanforderungen</Phrase>
      <Phrase Key="Taxonomic Rank">Taxonomischer Rang</Phrase>
      <Phrase Key="Technique">Technik</Phrase>
      <Phrase Key="Translated Title">Übersetzter Titel</Phrase>
      <Phrase Key="Typical Age Range">Typische Altersgruppe</Phrase>
      <Phrase Key="Typical Learning Time">Typische Lernzeit</Phrase>
      <Phrase Key="User Tags">Benutzer-Tags</Phrase>
    </Section>

  </Localization>
</SobekCM_Config>
