<?xml version="1.0" encoding="utf-8" ?>
<SobekCM_Config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://sobekrepository.org/schemas/sobekcm_config"
	xsi:schemaLocation="http://sobekrepository.org/schemas/sobekcm_config
		http://sobekrepository.org/schemas/sobekcm_config.xsd">
  <Localization Language="de">

    <Section Name="Aggregation_Common">
      <Phrase Key="Go">Los</Phrase>
      <Phrase Key="Search_Collection">Sammlung durchsuchen</Phrase>
      <Phrase Key="Include_Non_Public_Items">Nicht öffentliche Objekte einbeziehen</Phrase>
      <Phrase Key="Limit_By_Year">Nach Jahr eingrenzen</Phrase>
      <Phrase Key="Show_Only_Media">Nur Datensätze mit Bildern oder anderen Medien anzeigen</Phrase>
      <Phrase Key="Through">bis</Phrase>
      <Phrase Key="Include_Full_Text">Dokumenttext in die Suche einbeziehen</Phrase>
      <Phrase Key="Search_All_Collections">Alle Sammlungen durchsuchen</Phrase>
      <Phrase Key="Home">Startseite</Phrase>
    </Section>

    <Section Name="Advanced_Search">
      <Phrase Key="Search_For">Suchen nach:</Phrase>
      <Phrase Key="In">in</Phrase>
      <Phrase Key="Search">Suchen</Phrase>
      <Phrase Key="Search_Options">Suchoptionen</Phrase>
      <Phrase Key="Precision">Genauigkeit</Phrase>
      <Phrase Key="Contains_Exactly">Enthält genau die Suchbegriffe</Phrase>
      <Phrase Key="Contains_Any_Form">Enthält eine beliebige Form der Suchbegriffe</Phrase>
      <Phrase Key="Contains_Meaning">Enthält den Suchbegriff oder Begriffe ähnlicher Bedeutung</Phrase>
      <Phrase Key="And">und</Phrase>
      <Phrase Key="Or">oder</Phrase>
      <Phrase Key="And_Not">und nicht</Phrase>
    </Section>

    <Section Name="Item_Count">
      <Phrase Key="Resource_Count_In_Collection">Anzahl der Ressourcen in der Sammlung</Phrase>
      <Phrase Key="Description">Nachfolgend finden Sie die Anzahl der Titel und Objekte für alle Objekte innerhalb dieser Sammlung, einschließlich der derzeit online verfügbaren sowie der in Bearbeitung befindlichen Objekte.</Phrase>
      <Phrase Key="Visibility">SICHTBARKEIT</Phrase>
      <Phrase Key="Title_Count">ANZAHL TITEL</Phrase>
      <Phrase Key="Item_Count">ANZAHL OBJEKTE</Phrase>
      <Phrase Key="Page_Count">ANZAHL SEITEN</Phrase>
      <Phrase Key="File_Count">ANZAHL DATEIEN</Phrase>
    </Section>

    <Section Name="Full_Text_Search">
      <Phrase Key="Search_Full_Text">Volltext durchsuchen</Phrase>
    </Section>

    <Section Name="DLOC_Search">
      <Phrase Key="Include_Newspapers">Zeitungen einbeziehen?</Phrase>
    </Section>

    <Section Name="Map_Common">
      <Phrase Key="Google_Maps_Not_Enabled_Html"><![CDATA[<p style="font-weight:bold; text-size:1.1em">FEHLER: Google Maps ist in dieser SobekCM-Instanz nicht aktiviert!</p>
<p>Um es zu aktivieren, erstellen Sie bitte einen Google Maps API-Schlüssel und geben Sie ihn in den systemweiten Einstellungen ein.</p>
<p>Informationen zu diesem Vorgang finden Sie hier: <a href="http://sobekrepository.org/software/config/googlemaps">http://sobekrepository.org/software/config/googlemaps</a>.</p>]]></Phrase>
    </Section>

    <Section Name="Map_Browse">
      <Phrase Key="Select_Point_Instructions_Html"><![CDATA[Wählen Sie unten einen Punkt aus, um die Objekte von diesem Ort oder über diesen Ort anzuzeigen.<br />Halten Sie die UMSCHALT-Taste gedrückt und ziehen Sie dann ein Rechteck auf der Karte, um hineinzuzoomen.]]></Phrase>
      <Phrase Key="More_Info_Single_Title">Klicken Sie hier für weitere Informationen zu diesem Titel</Phrase>
      <Phrase Key="More_Info_Multiple_Titles">Klicken Sie hier für weitere Informationen zu diesen {0} Titeln</Phrase>
    </Section>

    <Section Name="Map_Search">
      <Phrase Key="Find_Address">Adresse suchen</Phrase>
      <Phrase Key="Address">Adresse</Phrase>
      <Phrase Key="Locate">Suchen</Phrase>
      <Phrase Key="Point_Disabled_Instructions_Html"><![CDATA[<span style="line-height:160%"> &nbsp; &nbsp; 1. Verwenden Sie die Schaltfläche <i>Bereich auswählen</i> und klicken Sie auf gegenüberliegende Ecken, um ein Suchrechteck auf der Karte zu zeichnen &nbsp; &nbsp; <br /> &nbsp; &nbsp; 2. Klicken Sie auf die Schaltfläche <i>Suchen</i>, um die Ergebnisse anzuzeigen &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; ( <a href="#FAQ">weitere Hilfe</a> )</span>]]></Phrase>
      <Phrase Key="Faq_Point_Disabled_Html"><![CDATA[  <h1>FAQ zur Kartensuche</h1>
  <ul>
    <li>Wie suche ich?
      <p class="tagline">Um eine Suche durchzuführen, müssen Sie zunächst Ihren Interessenbereich festlegen und dann die Suche ausführen. Um einen Bereich festzulegen, klicken Sie auf der Karte auf <i>Zum Auswählen eines Bereichs klicken</i>. Klicken Sie dann auf einen Startpunkt auf der Karte und dann auf die gegenüberliegende Ecke, um ein Rechteck zu erstellen. Durch Klicken auf <i>Suchen</i> oberhalb der Karte erhalten Sie Treffer für diesen Bereich.</p>
    </li>
    <li>Ich habe Schwierigkeiten, einen Bereich auszuwählen
      <p class="tagline">Das Auswählen eines rechteckigen Suchbereichs ist einfach, sobald Sie die Technik verstanden haben. Wählen Sie zunächst die Schaltfläche <i>Zum Auswählen eines Bereichs klicken</i> auf der Karte. Bewegen Sie sich dann zur oberen linken Ecke der zu durchsuchenden Region und klicken und lassen Sie die linke Maustaste los. Während Sie nun die Maus bewegen, sehen Sie, wie ein Rechteck gezeichnet wird, das Ihre Region darstellt. Wenn Sie die Maus erneut klicken und loslassen, legen Sie die untere rechte Ecke der zu durchsuchenden Region fest. Drücken Sie dabei nicht die Maustaste, während Sie die Maus ziehen, da dies die Karte verschiebt und keinen Bereich zur Auswahl definiert. Sobald Ihre Region korrekt festgelegt ist, klicken Sie auf die Schaltfläche <i>Suchen</i>, um übereinstimmende Ergebnisse anzuzeigen.</p>
    </li>
    <li>Warum kann ich nicht nach Adresse oder Punkt suchen?
      <p class="tagline">Diese Sammlung besteht hauptsächlich aus Punkten, daher ist die Bereichssuche viel effektiver als die Punktsuche.</p>
    </li>
    <li>Was wird durchsucht?
      <p class="tagline">Die durchsuchten Daten hängen von der Materialart ab. Bei Zeitungen wird der Erscheinungsort durchsucht. Bei Karten wird die geografische Abdeckung durchsucht. Und bei Fotografien wird der Ort durchsucht, an dem die Fotografie aufgenommen wurde.</p>
    </li>
    <li>Warum so wenige Treffer?
      <p class="tagline"> Diese Oberfläche befindet sich in der Betaphase, während wir weitere Koordinateninformationen zu unserer Suchdatenbank hinzufügen. Schauen Sie oft vorbei, um unseren Fortschritt zu verfolgen!</p>
    </li>
  </ul>]]></Phrase>
    </Section>

    <Section Name="Newspaper_Search">
      <Phrase Key="Full_Citation">Vollständige Zitierung</Phrase>
      <Phrase Key="Full_Text">Volltext</Phrase>
      <Phrase Key="Newspaper_Title">Zeitungstitel</Phrase>
      <Phrase Key="Location">Ort</Phrase>
    </Section>

    <Section Name="Metadata_Browse">
      <Phrase Key="Browse_By">Durchsuchen nach</Phrase>
      <Phrase Key="Browse_By_Colon">DURCHSUCHEN NACH:</Phrase>
      <Phrase Key="Public_Browses">Öffentliche Durchsuchungen</Phrase>
      <Phrase Key="Internal_Browses">Interne Durchsuchungen</Phrase>
      <Phrase Key="Browses">Durchsuchungen</Phrase>
      <Phrase Key="Select_Field_Prompt">Wählen Sie in der Liste links ein Metadatenfeld zum Durchsuchen aus</Phrase>
      <Phrase Key="No_Matching_Values">KEINE ÜBEREINSTIMMENDEN WERTE</Phrase>
    </Section>

    <Section Name="Tiles_Home">
      <Phrase Key="Varies">( variiert )</Phrase>
    </Section>

    <Section Name="Thumbnails_Home">
      <Phrase Key="Collection_Items">Objekte der Sammlung</Phrase>
      <Phrase Key="Showing_Items_Out_Of">Anzeige von 20 Objekten von {0}</Phrase>
      <Phrase Key="View_All">Alle anzeigen</Phrase>
    </Section>

    <Section Name="Usage_Statistics">
      <Phrase Key="Title_Collection_Views">Verlauf der Nutzung auf Sammlungsebene</Phrase>
      <Phrase Key="Title_Item_Views">Verlauf der Objektnutzung</Phrase>
      <Phrase Key="Title_Top_Titles">Meistaufgerufene Titel</Phrase>
      <Phrase Key="Title_Top_Items">Meistaufgerufene Objekte</Phrase>
      <Phrase Key="Title_Definitions">Definitionen der verwendeten Begriffe</Phrase>

      <Phrase Key="Tab_Collection_Views">SAMMLUNGSAUFRUFE</Phrase>
      <Phrase Key="Tab_Item_Views">OBJEKTAUFRUFE</Phrase>
      <Phrase Key="Tab_Top_Titles">MEISTAUFGERUFENE TITEL</Phrase>
      <Phrase Key="Tab_Top_Items">MEISTAUFGERUFENE OBJEKTE</Phrase>
      <Phrase Key="Tab_Definitions">DEFINITIONEN</Phrase>

      <Phrase Key="Month_1">Januar</Phrase>
      <Phrase Key="Month_2">Februar</Phrase>
      <Phrase Key="Month_3">März</Phrase>
      <Phrase Key="Month_4">April</Phrase>
      <Phrase Key="Month_5">Mai</Phrase>
      <Phrase Key="Month_6">Juni</Phrase>
      <Phrase Key="Month_7">Juli</Phrase>
      <Phrase Key="Month_8">August</Phrase>
      <Phrase Key="Month_9">September</Phrase>
      <Phrase Key="Month_10">Oktober</Phrase>
      <Phrase Key="Month_11">November</Phrase>
      <Phrase Key="Month_12">Dezember</Phrase>

      <Phrase Key="Collection_History_Intro">Nachfolgend wird der Nutzungsverlauf dieser Sammlung angezeigt. Dieser Verlauf umfasst nur die Aufrufe der Sammlung auf oberster Ebene.</Phrase>
      <Phrase Key="Item_History_Intro">Nachfolgend wird der Nutzungsverlauf der Objekte innerhalb dieser Sammlung angezeigt.</Phrase>
      <Phrase Key="Items_By_Collection_Intro">Nachfolgend erscheinen die am häufigsten genutzten Objekte dieser Sammlung.</Phrase>
      <Phrase Key="Titles_By_Collection_Intro">Nachfolgend erscheinen die am häufigsten genutzten Titel nach Sammlung.</Phrase>
      <Phrase Key="Definitions_Link_Sentence"><![CDATA[Die <a href="{0}">Definitionsseite</a> enthält weitere Einzelheiten zu den unten verwendeten Statistiken und Begriffen.]]></Phrase>

      <Phrase Key="Year_Statistics_Suffix"> STATISTIKEN</Phrase>
      <Phrase Key="Total">GESAMT</Phrase>

      <Phrase Key="Date">DATUM</Phrase>
      <Phrase Key="Total_Views_Html"><![CDATA[AUFRUFE<br />GESAMT]]></Phrase>
      <Phrase Key="Visits">BESUCHE</Phrase>
      <Phrase Key="Main_Pages_Html"><![CDATA[HAUPT-<br />SEITEN]]></Phrase>
      <Phrase Key="Browses">DURCHSUCHUNGEN</Phrase>
      <Phrase Key="Search_Results_Html"><![CDATA[SUCH-<br />ERGEBNISSE]]></Phrase>
      <Phrase Key="Title_Views_Html"><![CDATA[TITEL-<br />AUFRUFE]]></Phrase>
      <Phrase Key="Item_Views_Html"><![CDATA[OBJEKT-<br />AUFRUFE]]></Phrase>

      <Phrase Key="Jpeg_Views_Html"><![CDATA[JPEG-<br />AUFRUFE]]></Phrase>
      <Phrase Key="Zoomable_Views_Html"><![CDATA[ZOOMBARE<br />AUFRUFE]]></Phrase>
      <Phrase Key="Citation_Views_Html"><![CDATA[ZITAT-<br />AUFRUFE]]></Phrase>
      <Phrase Key="Thumbnail_Views_Html"><![CDATA[MINIATUR-<br />AUFRUFE]]></Phrase>
      <Phrase Key="Text_Searches_Html"><![CDATA[TEXT-<br />SUCHEN]]></Phrase>
      <Phrase Key="Flash_Views_Html"><![CDATA[FLASH-<br />AUFRUFE]]></Phrase>
      <Phrase Key="Map_Views_Html"><![CDATA[KARTEN-<br />AUFRUFE]]></Phrase>
      <Phrase Key="Download_Views_Html"><![CDATA[DOWNLOADS]]></Phrase>
      <Phrase Key="Static_Views_Html"><![CDATA[STATISCHE<br />AUFRUFE]]></Phrase>

      <Phrase Key="Bibid">BIBID</Phrase>
      <Phrase Key="Vid">VID</Phrase>
      <Phrase Key="Title">TITEL</Phrase>
      <Phrase Key="Views">AUFRUFE</Phrase>

    </Section>

    <Section Name="Aggregation_Nav_Bar">
      <Phrase Key="Advanced_Search">Erweiterte Suche</Phrase>
      <Phrase Key="Basic_Search">Einfache Suche</Phrase>
      <Phrase Key="Map_Search">Kartensuche</Phrase>
      <Phrase Key="Newspaper_Search">Zeitungssuche</Phrase>
      <Phrase Key="Text_Search">Textsuche</Phrase>
    </Section>

    <Section Name="Aggregation_Home">
      <Phrase Key="List_View">LISTENANSICHT</Phrase>
      <Phrase Key="Brief_View">KURZANSICHT</Phrase>
      <Phrase Key="Tree_View">BAUMANSICHT</Phrase>
      <Phrase Key="Thumbnail_View">MINIATURANSICHT</Phrase>
    </Section>

    <Section Name="Aggregation_Sharing">
      <Phrase Key="Print_Alt">DRUCKEN</Phrase>
      <Phrase Key="Print_Title">Diese Seite drucken</Phrase>
      <Phrase Key="Send_Alt">SENDEN</Phrase>
      <Phrase Key="Send_Title">Dies an jemanden senden</Phrase>
      <Phrase Key="Share_Alt">TEILEN</Phrase>
      <Phrase Key="Share_Title">Diese Sammlung teilen</Phrase>
      <Phrase Key="Remove_Alt">ENTFERNEN</Phrase>
      <Phrase Key="Remove_Title">Von meiner Sammlungsstartseite entfernen</Phrase>
      <Phrase Key="Add_Alt">HINZUFÜGEN</Phrase>
      <Phrase Key="Add_Title">Zu meiner Sammlungsstartseite hinzufügen</Phrase>
      <Phrase Key="Save_Title">Auf meiner Sammlungsstartseite speichern</Phrase>
      <Phrase Key="Email_Popup_Title">Diese Sammlung an einen Freund senden</Phrase>
      <Phrase Key="Email_Popup_Close_Alt">SCHLIESSEN</Phrase>
      <Phrase Key="Email_Info_Prompt">Geben Sie unten die E-Mail-Informationen ein</Phrase>
      <Phrase Key="To_Label">An:</Phrase>
      <Phrase Key="Comments_Label">Kommentare:</Phrase>
      <Phrase Key="Format_Label">Format:</Phrase>
      <Phrase Key="Html_Label">HTML</Phrase>
      <Phrase Key="Plain_Text_Label">Nur Text</Phrase>
      <Phrase Key="Cancel_Button">ABBRECHEN</Phrase>
      <Phrase Key="Send_Button">SENDEN</Phrase>
    </Section>

    <Section Name="Static_Browse_Info">
      <Phrase Key="Show_Header_Data_Link">Kopfdaten anzeigen (erweitert)</Phrase>
      <Phrase Key="Header_Info_Description">Die folgenden Daten beschreiben den Inhalt dieser statischen Unterseite und werden von einigen Suchmaschinen-Indexierungsalgorithmen verwendet. Standardmäßig werden sie nicht im Text der Seite angezeigt, sind aber im Head-Tag der Seite enthalten.</Phrase>
      <Phrase Key="Title_Label">Titel:</Phrase>
      <Phrase Key="Author_Label">Autor:</Phrase>
      <Phrase Key="Date_Label">Datum:</Phrase>
      <Phrase Key="Description_Label">Beschreibung:</Phrase>
      <Phrase Key="Keywords_Label">Schlagwörter:</Phrase>
      <Phrase Key="Html_Head_Info_Label">HTML-Head-Informationen:</Phrase>
      <Phrase Key="Title_Help">Hilfe zum Platzhalter für den Titel</Phrase>
      <Phrase Key="Author_Help">Hilfe zum Platzhalter für den Autor</Phrase>
      <Phrase Key="Date_Help">Hilfe zum Platzhalter für das Datum</Phrase>
      <Phrase Key="Description_Help">Hilfe zum Platzhalter für die Beschreibung</Phrase>
      <Phrase Key="Keywords_Help">Hilfe zum Platzhalter für die Schlagwörter</Phrase>
      <Phrase Key="Extra_Head_Help">Hilfe zum Platzhalter für zusätzliche Head-Informationen</Phrase>
      <Phrase Key="Cancel_Title">Änderungen nicht übernehmen</Phrase>
      <Phrase Key="Cancel_Button">ABBRECHEN</Phrase>
      <Phrase Key="Save_Title">Änderungen an diesem Unterseitentext speichern</Phrase>
      <Phrase Key="Save_Button">SPEICHERN</Phrase>
      <Phrase Key="Edit_Content_Title">Text dieser Seite bearbeiten</Phrase>
      <Phrase Key="Edit_Content_Link">Inhalt bearbeiten</Phrase>
    </Section>

    <Section Name="Manage_Menu_Aggregation">
      <Phrase Key="Viewer_Title">Sammlungsverwaltungsmenü</Phrase>
      <Phrase Key="Intro_Prompt">Wie möchten Sie diese Sammlung heute verwalten?</Phrase>
      <Phrase Key="Private_Items_Link">Private und dunkle Objekte anzeigen</Phrase>
      <Phrase Key="Private_Items_Desc">Zeigt die privaten und dunklen Objekte an, die Teil dieser Sammlung sind, zusammen mit den Informationen zum letzten Meilenstein für jedes Objekt.</Phrase>
      <Phrase Key="Item_Count_Link">Objektanzahl in der Sammlung anzeigen</Phrase>
      <Phrase Key="Item_Count_Desc">Zeigt die Gesamtzahl der Objekte in dieser Sammlung sowie die Anzahl der Objekte an, die sich derzeit in jedem wichtigen Meilenstein in Bearbeitung befinden.</Phrase>
      <Phrase Key="Usage_Stats_Link">Nutzungsverlauf der Sammlung anzeigen</Phrase>
      <Phrase Key="Usage_Stats_Desc">Zeigt die Nutzungsstatistiken für diese Sammlung sowie für alle Objekte innerhalb dieser Sammlung an.</Phrase>
      <Phrase Key="Metadata_Browse_Link">Metadaten-Browsing anzeigen</Phrase>
      <Phrase Key="Metadata_Browse_Desc">Zeigt öffentliche und/oder administrative Metadaten-Browsing-Ansichten mit der vollständigen Liste aller Metadaten in den durchsuchbaren Metadatenfeldern dieser Sammlung an.</Phrase>
      <Phrase Key="Change_Log_Link">Änderungsprotokoll der Sammlung anzeigen</Phrase>
      <Phrase Key="Change_Log_Desc">Zeigt das Änderungsprotokoll für diese Sammlung und die Design-Dateien dieser Sammlung an. Dies umfasst nicht den Verlauf der in diese Sammlung geladenen digitalen Ressourcen.</Phrase>
      <Phrase Key="User_Permissions_Link">Benutzerberechtigungen anzeigen</Phrase>
      <Phrase Key="User_Permissions_Desc">Zeigt spezielle Benutzerberechtigungen an, die Benutzern für diese Sammlung gewährt wurden. Dies umfasst individuell zugewiesene Berechtigungen sowie Berechtigungen, die über Benutzergruppen zugewiesen wurden.</Phrase>
      <Phrase Key="Admin_Link">Sammlungsverwaltung</Phrase>
      <Phrase Key="Admin_Desc">Führen Sie administrative Aufgaben für diese Sammlung aus, ändern Sie das Erscheinungsbild, die Facetten, die Ergebnistypen und vieles mehr.</Phrase>
    </Section>

    <Section Name="User_Permissions_Aggregation">
      <Phrase Key="Viewer_Title">Sammlungsspezifische Benutzerberechtigungen</Phrase>
      <Phrase Key="No_Permissions_Message">Für diese Sammlung wurden keine speziellen Benutzerberechtigungen gefunden.</Phrase>
      <Phrase Key="Assign_Permissions_Sentence">Verwenden Sie &lt;a href="{0}"&gt;Administrative Benutzer &amp;amp; Gruppen&lt;/a&gt;, um sammlungsspezifische Benutzerberechtigungen zuzuweisen.</Phrase>
      <Phrase Key="Assign_New_Permissions_Sentence">Verwenden Sie &lt;a href="{0}"&gt;Administrative Benutzer &amp;amp; Gruppen&lt;/a&gt;, um neue sammlungsspezifische Benutzerberechtigungen zuzuweisen.</Phrase>
      <Phrase Key="Users_List_Intro">Nachfolgend finden Sie die Liste aller Benutzer mit speziellen Benutzerberechtigungen für diese Sammlung. Diese Berechtigungen können individuell oder über eine Benutzergruppe zugewiesen werden.</Phrase>
      <Phrase Key="Select_User_Prompt">Wählen Sie einen Benutzer aus der folgenden Liste aus, um dessen Berechtigungen zu bearbeiten.</Phrase>
      <Phrase Key="User_Column">Benutzer</Phrase>
      <Phrase Key="User_Group_Column">Benutzergruppe</Phrase>
      <Phrase Key="Can_Select_Header">Kann&lt;br /&gt;Auswählen</Phrase>
      <Phrase Key="Can_Select_Tooltip">Kann diese Sammlung beim Bearbeiten oder Einreichen eines Objekts auswählen</Phrase>
      <Phrase Key="Item_Edit_Metadata_Header">Objekt&lt;br /&gt;Metadaten&lt;br /&gt;Bearbeiten</Phrase>
      <Phrase Key="Item_Edit_Behaviors_Header">Objekt&lt;br /&gt;Verhalten&lt;br /&gt;Bearbeiten</Phrase>
      <Phrase Key="Item_Perform_Qc_Header">Objekt&lt;br /&gt;QK&lt;br /&gt;Durchführen</Phrase>
      <Phrase Key="Item_Upload_Files_Header">Objekt&lt;br /&gt;Dateien&lt;br /&gt;Hochladen</Phrase>
      <Phrase Key="Item_Change_Visibility_Header">Objekt&lt;br /&gt;Sichtbarkeit&lt;br /&gt;Ändern</Phrase>
      <Phrase Key="Item_Can_Delete_Header">Objekt&lt;br /&gt;Kann&lt;br /&gt;Löschen</Phrase>
      <Phrase Key="Item_Permissions_Tooltip">Kann alles an einem Objekt in dieser Sammlung bearbeiten (d. h. Verhalten, Metadaten, Sichtbarkeit usw.)</Phrase>
      <Phrase Key="Can_Edit_Header">Kann&lt;br /&gt;Bearbeiten</Phrase>
      <Phrase Key="Can_Edit_Tooltip">Kann jedes Objekt in dieser Sammlung bearbeiten</Phrase>
      <Phrase Key="Is_Curator_Header">Ist&lt;br /&gt;Kurator</Phrase>
      <Phrase Key="Is_Admin_Header">Ist&lt;br /&gt;Admin</Phrase>
      <Phrase Key="Curator_Admin_Tooltip">Kann kuratorische oder Sammlungsverwaltungsaufgaben für diese Sammlung durchführen</Phrase>
      <Phrase Key="Group_Permissions_Intro">Einige der oben genannten Berechtigungen werden den Benutzern über Benutzergruppen zugewiesen. Diese Benutzergruppen und ihre Berechtigungen werden unten angezeigt:</Phrase>
    </Section>

    <Section Name="Work_History_Aggregation">
      <Phrase Key="Viewer_Title">Sammlungsänderungsprotokoll</Phrase>
      <Phrase Key="No_History_Message">Kein Verlauf für diese Sammlung gefunden!</Phrase>
      <Phrase Key="No_History_Explanation">Dies kann an einem Fehler liegen oder es handelt sich um eine ältere Sammlung, die seit sehr langer Zeit nicht bearbeitet wurde.</Phrase>
      <Phrase Key="Change_Log_Intro">Nachfolgend finden Sie das Änderungsprotokoll für diese Sammlung und die Design-Dateien dieser Sammlung. Dies umfasst nicht den Verlauf der in diese Sammlung geladenen digitalen Ressourcen.</Phrase>
      <Phrase Key="Date_Column">Datum</Phrase>
      <Phrase Key="User_Column">Benutzer</Phrase>
      <Phrase Key="Change_Description_Column">Änderungsbeschreibung</Phrase>
    </Section>

    <Section Name="PagedResults">
      <Phrase Key="Narrow_Results_By">ERGEBNISSE EINGRENZEN NACH</Phrase>
      <Phrase Key="Show_More">Mehr Anzeigen</Phrase>
      <Phrase Key="Show_Less">Weniger Anzeigen</Phrase>
      <Phrase Key="Sort_By_Frequency">Diese Facetten nach Häufigkeit sortieren</Phrase>
      <Phrase Key="Sort_Alphabetically">Diese Facetten alphabetisch sortieren</Phrase>
      <Phrase Key="Date_Added">Hinzugefügt am</Phrase>
      <Phrase Key="Rank">Rang</Phrase>
      <Phrase Key="BibID_Ascending">BibID Aufsteigend</Phrase>
      <Phrase Key="BibID_Descending">BibID Absteigend</Phrase>
      <Phrase Key="Date_Ascending">Datum Aufsteigend</Phrase>
      <Phrase Key="Date_Descending">Datum Absteigend</Phrase>
      <Phrase Key="Anywhere">Überall</Phrase>
      <Phrase Key="Title">Titel</Phrase>
      <Phrase Key="Date">Datum</Phrase>
      <Phrase Key="Access_Restricted">Zugriff Eingeschränkt</Phrase>
      <Phrase Key="Access_Restricted_Private_Item">Zugriff Eingeschränkt (Privates Objekt)</Phrase>
      <Phrase Key="Access_Restricted_Dark_Item">Zugriff Eingeschränkt (Verborgenes Objekt)</Phrase>
    </Section>

  </Localization>
</SobekCM_Config>
