<?xml version="1.0" encoding="utf-8" ?>
<SobekCM_Config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://sobekrepository.org/schemas/sobekcm_config"
	xsi:schemaLocation="http://sobekrepository.org/schemas/sobekcm_config
		http://sobekrepository.org/schemas/sobekcm_config.xsd">
  <MicroservicesClient>
    <Add Key="URL_Resolver" URL="[BASEURL]engine/url-resolver/json/{0}" Protocol="JSON" />

    <!-- AGGREGATION ENDPOINTS -->
    <Add Key="Get_Complete_Aggregation" URL="[BASEURL]engine/aggregations/complete/json/{0}" Protocol="JSON" />
    <Add Key="Get_Aggregation" URL="[BASEURL]engine/aggregations/code/json/{0}/{1}" Protocol="JSON" />
    <Add Key="Aggregations.Get_Item_Count" URL="[BASEURL]engine/aggregations/itemcount/protobuf/{0}" Protocol="PROTOBUF" />
    <Add Key="Aggregations.Get_Private_Items" URL="[BASEURL]engine/aggregations/privateitems/protobuf/{0}" Protocol="PROTOBUF" />

    <!-- BUILDER MICROSERVICE ENDPOINTS -->
    <Add Key="Builder.Get_Builder_Settings" URL="[BASEURL]engine/builder/settings/protobuf?IncludeDescs={0}" Protocol="PROTOBUF" />

    <!-- ADMINISTRATIVE MICROSERVICE ENDPOINTS -->

    <!-- CONFIGURATION MICROSERVICE ENDPOINTS -->
    <Add Key="Configuration.Extensions" URL="[BASEURL]engine/config/extensions/protobuf" Protocol="PROTOBUF" />
    <Add Key="Configuration.Metadata" URL="[BASEURL]engine/config/metadata/protobuf" Protocol="PROTOBUF" />
    <Add Key="Configuration.OAI_PMH" URL="[BASEURL]engine/config/oaipmh/protobuf" Protocol="PROTOBUF" />


    <!-- ITEM MICROSERVICE ENDPOINTS -->
    <Add Key="Items.ClearCache" URL="[BASEURL]engine/items/cache/reset/json/{0}/{1}" Protocol="JSON" />
    <Add Key="Items.GetItemBrief" URL="[BASEURL]engine/items/internal/protobuf/{0}/{1}" Protocol="PROTOBUF" />
    <Add Key="Items.GetItemEAD" URL="[BASEURL]engine/items/ead/protobuf/{0}/{1}" Protocol="PROTOBUF" />
    <Add Key="Items.GetItemMarcRecord" URL="[BASEURL]engine/items/marc/protobuf/{0}/{1}" Protocol="PROTOBUF" />
    <Add Key="Items.GetMultipleVolumes" URL="[BASEURL]engine/items/bytitle/protobuf/{0}" Protocol="PROTOBUF" />
    <Add Key="Items.GetItemTrackingWorkHistory" URL="[BASEURL]engine/items/tracking/protobuf/{0}/{1}" Protocol="PROTOBUF" />
    <Add Key="Items.GetItemStatisticsHistory" URL="[BASEURL]engine/items/usage/protobuf/{0}/{1}" Protocol="PROTOBUF" />
    <Add Key="Items.GetItemFiles" URL="[BASEURL]engine/items/files/protobuf/{0}/{1}" Protocol="PROTOBUF" />


    <!-- WEB CONTENT MICROSERVICE ENDPOINTS -->
    <Add Key="WebContent.Get_HTML_Based_Content_By_ID" URL="[BASEURL]engine/webcontent/single/protobuf/{0}" Protocol="PROTOBUF" />
    <Add Key="WebContent.Get_HTML_Based_Content_By_URL" URL="[BASEURL]engine/webcontent/single/protobuf/{0}" Protocol="PROTOBUF" />
    <Add Key="WebContent.Get_Single_Milestones" URL="[BASEURL]engine/webcontent/milestones/protobuf/{0}" Protocol="PROTOBUF" />
    <Add Key="WebContent.Get_Single_Usage_Report" URL="[BASEURL]engine/webcontent/hits/protobuf/{0}" Protocol="PROTOBUF" />
    <Add Key="WebContent.Get_Special_Missing_Page" URL="[BASEURL]engine/webcontent/missing/protobuf" Protocol="PROTOBUF" />

    <Add Key="WebContent.Delete_HTML_Based_Content" URL="[BASEURL]engine/webcontent/single/json/{0}" Protocol="JSON" Verb="DELETE" />
    <Add Key="WebContent.Update_HTML_Based_Content" URL="[BASEURL]engine/webcontent/single/json/{0}" Protocol="JSON" Verb="POST" />

    <!-- OPEN PUBLISHING ENDPOINTS -->
    <Add Key="OpenPublishing.Theme_By_ID" URL="[BASEURL]engine/open-publishing/theme/protobuf/{0}" Protocol="PROTOBUF" />
    <Add Key="OpenPublishing.Available_Themes" URL="[BASEURL]engine/open-publishing/themes/protobuf" Protocol="PROTOBUF" />


  </MicroservicesClient>
</SobekCM_Config>