<?xml version="1.0" encoding="utf-8" ?>
<SobekCM_Config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://sobekrepository.org/schemas/sobekcm_config"
	xsi:schemaLocation="http://sobekrepository.org/schemas/sobekcm_config
		http://sobekrepository.org/schemas/sobekcm_config.xsd">
  <Languages ClearAll="true">
	<Language name="English" default="Default">en</Language>
	<Language name="French">fr</Language>
	<Language name="German">de</Language>
	<Language name="Spanish">es</Language>
	<Language name="Italian">it</Language>
	<Language name="Portuguese">pt</Language>
  </Languages>
</SobekCM_Config>

<!-- OTHER, CURRENTLY UNSUPPORTED LANGUAGES 
<Language name="Afrikaans">af</Language>
<Language name="Albanian">sq</Language>
<Language name="Arabic">ar</Language>
<Language name="Aragonese">ar</Language>
<Language name="Armenian">hy</Language>
<Language name="Assamese">as</Language>
<Language name="Asturian">ast</Language>
<Language name="Azerbaijani">az</Language>
<Language name="Basque">eu</Language>
<Language name="Bulgarian">bg</Language>
<Language name="Belarusian">be</Language>
<Language name="Bengali">bn</Language>
<Language name="Bosnian">bs</Language>
<Language name="Breton">br</Language>
<Language name="Burmese">my</Language>
<Language name="Catalan">ca</Language>
<Language name="Chamorro">ch</Language>
<Language name="Chechen">ce</Language>
<Language name="Chinese">zh</Language>
<Language name="Chuvash">cv</Language>
<Language name="Corsican">co</Language>
<Language name="Cree">cr</Language>
<Language name="Croatian">hr</Language>
<Language name="Czech">cs</Language>
<Language name="Danish">da</Language>
<Language name="Esperanto">eo</Language>
<Language name="Estonian">et</Language>
<Language name="Faeroese">fo</Language>
<Language name="Farsi">fa</Language>
<Language name="Fijian">fj</Language>
<Language name="Finnish">fi</Language>
<Language name="Frisian">fy</Language>
<Language name="Friulian">fur</Language>
<Language name="Gaelic">gd</Language>
<Language name="Galacian">gl</Language>
<Language name="Georgian">ka</Language>
<Language name="Greek">el</Language>
<Language name="Gujarati">gu</Language>
<Language name="Haitian">ht</Language>
<Language name="Hebrew">he</Language>
<Language name="Hindi">hi</Language>
<Language name="Hungarian">hu</Language>
<Language name="Icelandic">is</Language>
<Language name="Indonesian">id</Language>
<Language name="Inuktitut">iu</Language>
<Language name="Irish">ga</Language>
<Language name="Japanese">ja</Language>
<Language name="Kannada">kn</Language>
<Language name="Kashmiri">ks</Language>
<Language name="Kazakh">kk</Language>
<Language name="Khmer">km</Language>
<Language name="Kinyarwanda">rw</Language>
<Language name="Kirghiz">ky</Language>
<Language name="Klingon">tlh</Language>
<Language name="Korean">ko</Language>
<Language name="Latin">la</Language>
<Language name="Latvian">lv</Language>
<Language name="Lithuanian">lt</Language>
<Language name="Luxembourgish">lb</Language>
<Language name="FYRO Macedonian">mk</Language>
<Language name="Malay">ms</Language>
<Language name="Malayalam">ml</Language>
<Language name="Maltese">mt</Language>
<Language name="Maori">mi</Language>
<Language name="Marathi">mr</Language>
<Language name="Moldavian">mo</Language>
<Language name="Navajo">nv</Language>
<Language name="Ndonga">ng</Language>
<Language name="Nepali">ne</Language>
<Language name="Norwegian">no</Language>
<Language name="Norwegian (Bokmal)">nb</Language>
<Language name="Norwegian (Nynorsk)">nn</Language>
<Language name="Occitan">oc</Language>
<Language name="Oriya">or</Language>
<Language name="Oromo">om</Language>
<Language name="Papiamento">papo</Language>
<Language name="Papiamentu">papu</Language>
<Language name="Persian">fa</Language>
<Language name="Polish">pl</Language>
<Language name="Punjabi">pa</Language>
<Language name="Quechua">qu</Language>
<Language name="Rhaeto-Romanic">rm</Language>
<Language name="Romanian">ro</Language>
<Language name="Russian">ru</Language>
<Language name="Sami (Lappish)">sz</Language>
<Language name="Sango">sg</Language>
<Language name="Sanskrit">sa</Language>
<Language name="Sardinian">sc</Language>
<Language name="Scots Gaelic">gd</Language>
<Language name="Sindhi">sd</Language>
<Language name="Singhalese">si</Language>
<Language name="Serbian">sr</Language>
<Language name="Slovak">sk</Language>
<Language name="Slovenian">sl</Language>
<Language name="Somani">so</Language>
<Language name="Sorbian">sb</Language>
<Language name="Sutu">sx</Language>
<Language name="Swahili">sw</Language>
<Language name="Swedish">sv</Language>
<Language name="Tamil">ta</Language>
<Language name="Tatar">tt</Language>
<Language name="Telugu">te</Language>
<Language name="Thai">th</Language>
<Language name="Tigre">tig</Language>
<Language name="Tsonga">ts</Language>
<Language name="Tswana">tn</Language>
<Language name="Turkish">tr</Language>
<Language name="Turkmen">tk</Language>
<Language name="Ukrainian">uk</Language>
<Language name="Upper Sorbian">hsb</Language>
<Language name="Urdu">ur</Language>
<Language name="Venda">ve</Language>
<Language name="Vietnamese">vi</Language>
<Language name="Volapuk">vo</Language>
<Language name="Walloon">wa</Language>
<Language name="Welsh">cy</Language>
<Language name="Xhosa">xh</Language>
<Language name="Yiddish">ji</Language>
<Language name="Zulu">zu</Language>
-->
