<?xml version="1.0" encoding="utf-8" ?>
<SobekCM_Config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://sobekrepository.org/schemas/sobekcm_config"
	xsi:schemaLocation="http://sobekrepository.org/schemas/sobekcm_config
		http://sobekrepository.org/schemas/sobekcm_config.xsd">
  <Engine ClearAll="true">
    <Mapping>    
      <Path Segment="aggregations">
        <Path Segment="childpage">
          <AutoDoc>
            <Description> Gets the all information, including the HTML, for an item aggregation child page </Description>
            <RequestType>This endpoint does not support updates or deletes and only the GET HTTP verb is supported</RequestType>
            <Arguments>Aggregation code, language, and child page code </Arguments>
            <Returns>SobekCM.Core.WebContent.HTML_Based_Content</Returns>
          </AutoDoc>
          <Endpoint Segment="json" ComponentID="C1" Method="GetCollectionStaticPage" Protocol="JSON" />
          <Endpoint Segment="json-p" ComponentID="C1" Method="GetCollectionStaticPage" Protocol="JSON-P" />
          <Endpoint Segment="protobuf" ComponentID="C1" Method="GetCollectionStaticPage" Protocol="PROTOBUF" />
          <Endpoint Segment="xml" ComponentID="C1" Method="GetCollectionStaticPage" Protocol="XML" />
        </Path>
        <Path Segment="code">
          <AutoDoc>
            <Description>Gets a single aggregation object, fully built and language specific</Description>
            <RequestType>This endpoint does not support updates or deletes and only the GET HTTP verb is supported</RequestType>
            <Arguments>Aggregation code and language</Arguments>
            <Returns>SobekCM.Core.Aggregations.Item_Aggregation</Returns>
          </AutoDoc>
          <Endpoint Segment="json" ComponentID="C1" Method="GetAggregationByCode" Protocol="JSON" />
          <Endpoint Segment="json-p" ComponentID="C1" Method="GetAggregationByCode" Protocol="JSON-P" />
          <Endpoint Segment="protobuf" ComponentID="C1" Method="GetAggregationByCode" Protocol="PROTOBUF" />
          <Endpoint Segment="xml" ComponentID="C1" Method="GetAggregationByCode" Protocol="XML" />
        </Path>
        <Path Segment="complete">
          <AutoDoc>
            <Description>Gets a single aggregation object, fully built</Description>
            <RequestType>This endpoint does not support updates or deletes and only the GET HTTP verb is supported</RequestType>
            <Arguments>Aggregation code</Arguments>
            <Returns>SobekCM.Core.Aggregations.Complete_Item_Aggregation</Returns>
          </AutoDoc>
          <Endpoint Segment="json" ComponentID="C1" Method="GetCompleteAggregationByCode" Protocol="JSON" />
          <Endpoint Segment="json-p" ComponentID="C1" Method="GetCompleteAggregationByCode" Protocol="JSON-P" />
          <Endpoint Segment="protobuf" ComponentID="C1" Method="GetCompleteAggregationByCode" Protocol="PROTOBUF" />
          <Endpoint Segment="xml" ComponentID="C1" Method="GetCompleteAggregationByCode" Protocol="XML" />
        </Path>
        <Path Segment="hierarchy">
          <AutoDoc>
            <Description>Gets the complete aggregation hierarchy</Description>
            <RequestType>This endpoint does not support updates or deletes and only the GET HTTP verb is supported</RequestType>
            <Arguments>none</Arguments>
            <Returns>SobekCM.Core.Aggregations.Aggregation_Hierarchy</Returns>
          </AutoDoc>
          <Endpoint Segment="json" ComponentID="C1" Method="GetCollectionHierarchy" Protocol="JSON" />
          <Endpoint Segment="json-p" ComponentID="C1" Method="GetCollectionHierarchy" Protocol="JSON-P" />
          <Endpoint Segment="protobuf" ComponentID="C1" Method="GetCollectionHierarchy" Protocol="PROTOBUF" />
          <Endpoint Segment="xml" ComponentID="C1" Method="GetCollectionHierarchy" Protocol="XML" />
        </Path>
        <Path Segment="itemcount">
          <AutoDoc>
            <Description>Gets the item count for an aggregation, broken down by visibility</Description>
            <RequestType>This endpoint does not support updates or deletes and only the GET HTTP verb is supported</RequestType>
            <Arguments>Aggregation code</Arguments>
            <Returns>List&lt;SobekCM.Core.Aggregations.Item_Aggregation_Visibility_Statistic&gt;</Returns>
          </AutoDoc>
          <Endpoint Segment="json" ComponentID="C1" Method="GetItemCount" Protocol="JSON" />
          <Endpoint Segment="json-p" ComponentID="C1" Method="GetItemCount" Protocol="JSON-P" />
          <Endpoint Segment="protobuf" ComponentID="C1" Method="GetItemCount" Protocol="PROTOBUF" />
          <Endpoint Segment="xml" ComponentID="C1" Method="GetItemCount" Protocol="XML" />  
        </Path>        
        <Path Segment="privateitems">
          <AutoDoc>
            <Description>Gets the list of private items for an aggregation</Description>
            <RequestType>This endpoint does not support updates or deletes and only the GET HTTP verb is supported</RequestType>
            <Arguments>Aggregation code</Arguments>
            <Returns>SobekCM.Core.Results.Private_Items_List</Returns>
          </AutoDoc>
          <Endpoint Segment="json" ComponentID="C1" Method="GetPrivateItems" Protocol="JSON" />
          <Endpoint Segment="json-p" ComponentID="C1" Method="GetPrivateItems" Protocol="JSON-P" />
          <Endpoint Segment="protobuf" ComponentID="C1" Method="GetPrivateItems" Protocol="PROTOBUF" />
          <Endpoint Segment="xml" ComponentID="C1" Method="GetPrivateItems" Protocol="XML" />  
        </Path>
      </Path>
      <Path Segment="builder">
        <Path Segment="settings">
          <AutoDoc>
            <Description>Gets the fully built builder settings object, including the incoming folders and builder modules </Description>
            <RequestType>This endpoint does not support updates or deletes and only the GET HTTP verb is supported</RequestType>
            <Arguments>none</Arguments>
            <Returns>SobekCM.Core.Settings.Builder_Settings</Returns>
          </AutoDoc>
          <Endpoint Segment="json" ComponentID="C8" Method="GetBuilderSettings" RestrictionRangeID="R1" Protocol="JSON" />
          <Endpoint Segment="json-p" ComponentID="C8" Method="GetBuilderSettings" RestrictionRangeID="R1" Protocol="JSON-P" />
          <Endpoint Segment="protobuf" ComponentID="C8" Method="GetBuilderSettings" RestrictionRangeID="R1" Protocol="PROTOBUF" />
          <Endpoint Segment="xml" ComponentID="C8" Method="GetBuilderSettings" RestrictionRangeID="R1" Protocol="XML" />
        </Path>
      </Path>
      <Path Segment="config">
        <Path Segment="extensions">
          <AutoDoc>
            <Description> Gets the extensions endpoints configuration information from the configuration files </Description>
            <RequestType>This endpoint does not support updates or deletes and only the GET HTTP verb is supported</RequestType>
            <Arguments>none</Arguments>
            <Returns>Extension_Configuration object</Returns>
          </AutoDoc>
          <Endpoint Segment="json" ComponentID="C9" Method="GetConfigurationExtensions" RestrictionRangeID="R1" Protocol="JSON" />
          <Endpoint Segment="json-p" ComponentID="C9" Method="GetConfigurationExtensions" RestrictionRangeID="R1" Protocol="JSON-P" />
          <Endpoint Segment="protobuf" ComponentID="C9" Method="GetConfigurationExtensions" RestrictionRangeID="R1" Protocol="PROTOBUF" />
          <Endpoint Segment="xml" ComponentID="C9" Method="GetConfigurationExtensions" RestrictionRangeID="R1" Protocol="XML" />
        </Path>
        <Path Segment="metadata">
          <AutoDoc>
            <Description> Gets the metadata reading and writing configuration information from the configuration files </Description>
            <RequestType>This endpoint does not support updates or deletes and only the GET HTTP verb is supported</RequestType>
            <Arguments>none</Arguments>
            <Returns>Metadata_Configuration object</Returns>
          </AutoDoc>
          <Endpoint Segment="json" ComponentID="C9" Method="GetConfigurationMetadata" RestrictionRangeID="R1" Protocol="JSON" />
          <Endpoint Segment="json-p" ComponentID="C9" Method="GetConfigurationMetadata" RestrictionRangeID="R1" Protocol="JSON-P" />
          <Endpoint Segment="protobuf" ComponentID="C9" Method="GetConfigurationMetadata" RestrictionRangeID="R1" Protocol="PROTOBUF" />
          <Endpoint Segment="xml" ComponentID="C9" Method="GetConfigurationMetadata" RestrictionRangeID="R1" Protocol="XML" />
        </Path>
        <Path Segment="oaipmh">
          <AutoDoc>
            <Description> Gets the OAI-PMH configuration information from the configuration files </Description>
            <RequestType>This endpoint does not support updates or deletes and only the GET HTTP verb is supported</RequestType>
            <Arguments>none</Arguments>
            <Returns>OAI_PMH_Configuration object</Returns>
          </AutoDoc>
          <Endpoint Segment="json" ComponentID="C9" Method="GetConfigurationOaiPmh" RestrictionRangeID="R1" Protocol="JSON" />
          <Endpoint Segment="json-p" ComponentID="C9" Method="GetConfigurationOaiPmh" RestrictionRangeID="R1" Protocol="JSON-P" />
          <Endpoint Segment="protobuf" ComponentID="C9" Method="GetConfigurationOaiPmh" RestrictionRangeID="R1" Protocol="PROTOBUF" />
          <Endpoint Segment="xml" ComponentID="C9" Method="GetConfigurationOaiPmh" RestrictionRangeID="R1" Protocol="XML" />
        </Path>
        
      </Path>
      <Path Segment="custom">
        <ComplexEndpoint Segment="register">
          <VerbMapping Verb="GET" ComponentID="CUSTOM" Method="Register_User" Protocol="JSON" />
          <VerbMapping Verb="DELETE" ComponentID="CUSTOM" Method="Register_User" Protocol="JSON" />
          <VerbMapping Verb="POST" ComponentID="CUSTOM" Method="Register_User" Protocol="JSON" />
          <VerbMapping Verb="PUT" ComponentID="CUSTOM" Method="Register_User" Protocol="JSON" />
        </ComplexEndpoint>
      </Path>
      <Path Segment="items">
        <Path Segment="brief">
          <AutoDoc>
            <Description>Gets the item information</Description>
            <RequestType>This endpoint does not support updates or deletes and only the GET HTTP verb is supported</RequestType>
            <Arguments>BibID and VID</Arguments>
            <Returns>BriefItemInfo</Returns>
          </AutoDoc>
          <Endpoint Segment="json" ComponentID="C3" Method="GetItemBriefStandard" Protocol="JSON" />
          <Endpoint Segment="json-p" ComponentID="C3" Method="GetItemBriefStandard" Protocol="JSON-P" />
          <Endpoint Segment="protobuf" ComponentID="C3" Method="GetItemBriefStandard" Protocol="PROTOBUF" />
          <Endpoint Segment="xml" ComponentID="C3" Method="GetItemBriefStandard" Protocol="XML" />
        </Path>
        <Path Segment="bytitle">
          <AutoDoc>
            <Description>Gets the list of items within a single title </Description>
            <RequestType>This endpoint does not support updates or deletes and only the GET HTTP verb is supported</RequestType>
            <Arguments>BibID</Arguments>
            <Returns>List&lt;Item_Hierarchy_Details&gt;</Returns>
          </AutoDoc>
          <Endpoint Segment="json" ComponentID="C3" Method="GetMultipleVolumes" Protocol="JSON" RestrictionRangeID="R1" />
          <Endpoint Segment="json-p" ComponentID="C3" Method="GetMultipleVolumes" Protocol="JSON-P" RestrictionRangeID="R1" />
          <Endpoint Segment="protobuf" ComponentID="C3" Method="GetMultipleVolumes" Protocol="PROTOBUF" RestrictionRangeID="R1" />
          <Endpoint Segment="xml" ComponentID="C3" Method="GetMultipleVolumes" Protocol="XML" RestrictionRangeID="R1" />
        </Path>
        <Path Segment="cache">
          <Path Segment="reset">
            <AutoDoc>
              <Description>Clears information about a single digital resource from the cache</Description>
              <RequestType>This endpoint does not support updates or deletes and only the GET HTTP verb is supported</RequestType>
              <Arguments>BibID and VID</Arguments>
              <Returns>string</Returns>
            </AutoDoc>
            <Endpoint Segment="json" ComponentID="C10" Method="ClearCachedItem" Protocol="JSON" RestrictionRangeID="R0" />
            <Endpoint Segment="json-p" ComponentID="C10" Method="ClearCachedItem" Protocol="JSON-P" RestrictionRangeID="R0" />
            <Endpoint Segment="protobuf" ComponentID="C10" Method="ClearCachedItem" Protocol="PROTOBUF" RestrictionRangeID="R0" />
            <Endpoint Segment="xml" ComponentID="C10" Method="ClearCachedItem" Protocol="XML" RestrictionRangeID="R0" />
          </Path>
        </Path>
        <Path Segment="citation">
          <AutoDoc>
            <Description>Gets the item information (primarily citation right now)</Description>
            <RequestType>This endpoint does not support updates or deletes and only the GET HTTP verb is supported</RequestType>
            <Arguments>BibID, and VID</Arguments>
            <Returns>BriefItemInfo</Returns>
          </AutoDoc>
          <Endpoint Segment="json" ComponentID="C3" Method="GetItemCitation" Protocol="JSON" />
          <Endpoint Segment="json-p" ComponentID="C3" Method="GetItemCitation" Protocol="JSON-P" />
          <Endpoint Segment="protobuf" ComponentID="C3" Method="GetItemCitation" Protocol="PROTOBUF" />
          <Endpoint Segment="xml" ComponentID="C3" Method="GetItemCitation" Protocol="XML" />
        </Path>
        <Path Segment="ead">
          <AutoDoc>
            <Description>Gets any special EAD information related to a digital resource </Description>
            <RequestType>This endpoint does not support updates or deletes and only the GET HTTP verb is supported</RequestType>
            <Arguments>BibID, and VID</Arguments>
            <Returns>EAD_Transfer_Object</Returns>
          </AutoDoc>
          <Endpoint Segment="json" ComponentID="C3" Method="GetItemEAD" Protocol="JSON" />
          <Endpoint Segment="json-p" ComponentID="C3" Method="GetItemEAD" Protocol="JSON-P" />
          <Endpoint Segment="protobuf" ComponentID="C3" Method="GetItemEAD" Protocol="PROTOBUF" />
          <Endpoint Segment="xml" ComponentID="C3" Method="GetItemEAD" Protocol="XML" />
        </Path>
        <Path Segment="files">
          <AutoDoc>
            <Description>Gets the list of files related to a digital resource </Description>
            <RequestType>This endpoint does not support updates or deletes and only the GET HTTP verb is supported</RequestType>
            <Arguments>BibID, and VID</Arguments>
            <Returns>List&lt;SobekFileSystem_FileInfo&gt;</Returns>
          </AutoDoc>
          <Endpoint Segment="json" ComponentID="C3" Method="GetItemFiles" Protocol="JSON" RestrictionRangeID="R1" />
          <Endpoint Segment="json-p" ComponentID="C3" Method="GetItemFiles" Protocol="JSON-P" RestrictionRangeID="R1" />
          <Endpoint Segment="protobuf" ComponentID="C3" Method="GetItemFiles" Protocol="PROTOBUF" RestrictionRangeID="R1" />
          <Endpoint Segment="xml" ComponentID="C3" Method="GetItemFiles" Protocol="XML" RestrictionRangeID="R1" />
        </Path>
		    <Path Segment="html">
		      <Endpoint Segment="bookshelf" ComponentID="C3" Method="Bookshelf_HTTP_Snippet" Protocol="TEXT">
            <AutoDoc>
              <Description>Writes the small snippet of HTML to pop-up when the user selects the ADD TO BOOKSHELF button for a single item</Description>
              <RequestType>This endpoint does not support updates or deletes and only the GET HTTP verb is supported</RequestType>
              <Arguments>UserID / BibID / VID</Arguments>
              <Returns>HTML Snippet for display</Returns>
            </AutoDoc>
          </Endpoint>
		      <Endpoint Segment="print" ComponentID="C3" Method="Print_HTML_Snippet" Protocol="TEXT">
            <AutoDoc>
              <Description>Writes the small snippet of HTML to pop-up when the user selects the PRINT button for a single item</Description>
              <RequestType>This endpoint does not support updates or deletes and only the GET HTTP verb is supported</RequestType>
              <Arguments>BibID / VID / ViewerCode </Arguments>
              <Returns>HTML Snippet for display</Returns>
            </AutoDoc>
          </Endpoint>
		      <Endpoint Segment="send" ComponentID="C3" Method="Send_Email_HTML_Snippet" Protocol="TEXT">
            <AutoDoc>
              <Description>Writes the small snippet of HTML to pop-up when the user selects the SEND EMAIL button for a single item</Description>
              <RequestType>This endpoint does not support updates or deletes and only the GET HTTP verb is supported</RequestType>
              <Arguments>BibID and VID</Arguments>
              <Returns>HTML Snippet for display</Returns>
            </AutoDoc>
          </Endpoint>
		      <Endpoint Segment="share" ComponentID="C3" Method="Share_HTTP_Snippet" Protocol="TEXT">
            <AutoDoc>
              <Description>Writes the small snippet of HTML to pop-up when the user selects the SHARE button for a single item</Description>
              <RequestType>This endpoint does not support updates or deletes and only the GET HTTP verb is supported</RequestType>
              <Arguments>BibID / VID</Arguments>
              <Returns>HTML Snippet for display</Returns>
            </AutoDoc>
          </Endpoint>
		    </Path>
        <Path Segment="internal">
          <AutoDoc>
            <Description>Gets the brief item information with internal information</Description>
            <RequestType>This endpoint does not support updates or deletes and only the GET HTTP verb is supported</RequestType>
            <Arguments>BibID and VID</Arguments>
            <Returns>BriefItemInfo</Returns>
          </AutoDoc>
          <Endpoint Segment="json" ComponentID="C3" Method="GetItemBriefInternal" Protocol="JSON" RestrictionRangeID="R1" />
          <Endpoint Segment="json-p" ComponentID="C3" Method="GetItemBriefInternal" Protocol="JSON-P" RestrictionRangeID="R1" />
          <Endpoint Segment="protobuf" ComponentID="C3" Method="GetItemBriefInternal" Protocol="PROTOBUF" RestrictionRangeID="R1" />
          <Endpoint Segment="xml" ComponentID="C3" Method="GetItemBriefInternal" Protocol="XML" RestrictionRangeID="R1" />
        </Path>
        <Path Segment="marc">
          <AutoDoc>
            <Description>Gets the marc record transfer object for a bibid / vid</Description>
            <RequestType>This endpoint does not support updates or deletes and only the GET HTTP verb is supported</RequestType>
            <Arguments>BibID, and VID</Arguments>
            <Returns>MARC_Transfer_Recortd</Returns>
          </AutoDoc>
          <Endpoint Segment="json" ComponentID="C3" Method="GetItemMarcRecord" Protocol="JSON" />
          <Endpoint Segment="json-p" ComponentID="C3" Method="GetItemMarcRecord" Protocol="JSON-P" />
          <Endpoint Segment="protobuf" ComponentID="C3" Method="GetItemMarcRecord" Protocol="PROTOBUF" />
          <Endpoint Segment="xml" ComponentID="C3" Method="GetItemMarcRecord" Protocol="XML" />
        </Path>
        <Endpoint Segment="random" ComponentID="C3" Method="GetRandomItem" Protocol="JSON-P">
          <AutoDoc>
            <Description>Gets a random item from this instance</Description>
            <RequestType>This endpoint does not support updates or deletes and only the GET HTTP verb is supported</RequestType>
            <Arguments>none</Arguments>
            <Returns>BibID and VID</Returns>
          </AutoDoc>
        </Endpoint>
        <Endpoint Segment="rdf" ComponentID="C3" Method="GetItemRdf" Protocol="XML">
          <AutoDoc>
            <Description>Get the item information, as dublin core based RDF</Description>
            <RequestType>This endpoint does not support updates or deletes and only the GET HTTP verb is supported</RequestType>
            <Arguments>BibID and VID</Arguments>
            <Returns>RDF-formatted XML</Returns>
          </AutoDoc>
        </Endpoint>
        <Path Segment="tracking">
          <AutoDoc>
            <Description>Gets the workflow history and milestones for a digital resource</Description>
            <RequestType>This endpoint does not support updates or deletes and only the GET HTTP verb is supported</RequestType>
            <Arguments>BibID and VID</Arguments>
            <Returns>Item_Tracking_Details</Returns>
          </AutoDoc>
          <Endpoint Segment="json" ComponentID="C3" Method="GetItemTrackingWorkHistory" Protocol="JSON" RestrictionRangeID="R1" />
          <Endpoint Segment="json-p" ComponentID="C3" Method="GetItemTrackingWorkHistory" Protocol="JSON-P" RestrictionRangeID="R1" />
          <Endpoint Segment="protobuf" ComponentID="C3" Method="GetItemTrackingWorkHistory" Protocol="PROTOBUF" RestrictionRangeID="R1" />
          <Endpoint Segment="xml" ComponentID="C3" Method="GetItemTrackingWorkHistory" Protocol="XML" RestrictionRangeID="R1" />
        </Path>
        <Path Segment="usage">
          <AutoDoc>
            <Description>Gets the month-by-month online usage history for a digital resource</Description>
            <RequestType>This endpoint does not support updates or deletes and only the GET HTTP verb is supported</RequestType>
            <Arguments>BibID and VID</Arguments>
            <Returns>List&lt;Item_Monthly_Usage&gt;</Returns>
          </AutoDoc>
          <Endpoint Segment="json" ComponentID="C3" Method="GetItemStatisticsHistory" Protocol="JSON" RestrictionRangeID="R1" />
          <Endpoint Segment="json-p" ComponentID="C3" Method="GetItemStatisticsHistory" Protocol="JSON-P" RestrictionRangeID="R1" />
          <Endpoint Segment="protobuf" ComponentID="C3" Method="GetItemStatisticsHistory" Protocol="PROTOBUF" RestrictionRangeID="R1" />
          <Endpoint Segment="xml" ComponentID="C3" Method="GetItemStatisticsHistory" Protocol="XML" RestrictionRangeID="R1" />
        </Path>
        <Endpoint Segment="xml" ComponentID="C3" Method="GetItemXml" Protocol="XML">
          <AutoDoc>
            <Description>Get the item information formatted in a number of different XML schemas</Description>
            <RequestType>This endpoint does not support updates or deletes and only the GET HTTP verb is supported</RequestType>
            <Arguments>Format and BibID and VID</Arguments>
            <Returns>XML output of a version/format of the item informaiton</Returns>
          </AutoDoc>
        </Endpoint>
      </Path>
      <Path Segment="skins">
        <Path Segment="code">
          <AutoDoc>
            <Description>Gets a single web skin object, fully built and language specific</Description>
            <RequestType>This endpoint does not support updates or deletes and only the GET HTTP verb is supported</RequestType>
            <Arguments>Web skin code and language</Arguments>
            <Returns>SobekCM.Core.Skins.Web_Skin_Object</Returns>
          </AutoDoc>
          <Endpoint Segment="json" ComponentID="C2" Method="GetWebSkin" Protocol="JSON" />
          <Endpoint Segment="json-p" ComponentID="C2" Method="GetWebSkin" Protocol="JSON-P" />
          <Endpoint Segment="protobuf" ComponentID="C2" Method="GetWebSkin" Protocol="PROTOBUF" />
          <Endpoint Segment="xml" ComponentID="C2" Method="GetWebSkin" Protocol="XML" />
        </Path>
      </Path>
      <Path Segment="url-resolver">
        <AutoDoc>
          <Description>Resolves the url to a SobekCM Navigation_Object</Description>
          <RequestType>This endpoint does not support updates or deletes and only the GET HTTP verb is supported</RequestType>
          <Arguments>many possible</Arguments>
          <Returns>SobekCM.Core.Navigation.Navigation_Object</Returns>
        </AutoDoc>
        <Endpoint Segment="json" ComponentID="C4" Method="ResolveUrl" Protocol="JSON" />
        <Endpoint Segment="json-p" ComponentID="C4" Method="ResolveUrl" Protocol="JSON-P" />
        <Endpoint Segment="protobuf" ComponentID="C4" Method="ResolveUrl" Protocol="PROTOBUF" />
        <Endpoint Segment="xml" ComponentID="C4" Method="ResolveUrl" Protocol="XML" />
      </Path>
      <Path Segment="webcontent">
        <Path Segment="hits">
          <AutoDoc>
            <Description>Get the complete monthly usage for a single web content page</Description>
            <RequestType>This endpoint does not support updates or deletes and only the GET HTTP verb is supported</RequestType>
            <Arguments>Primary key to the web content page in the URL</Arguments>
            <Returns>Usage report for a single web page ( Single_WebContent_Usage_Report) </Returns>
          </AutoDoc>
          <Endpoint Segment="json" ComponentID="C5" Method="Get_Single_Usage_Report" Protocol="JSON" />
          <Endpoint Segment="json-p" ComponentID="C5" Method="Get_Single_Usage_Report" Protocol="JSON-P" />
          <Endpoint Segment="protobuf" ComponentID="C5" Method="Get_Single_Usage_Report" Protocol="PROTOBUF" />
          <Endpoint Segment="xml" ComponentID="C5" Method="Get_Single_Usage_Report" Protocol="XML" />
        </Path>
        <Path Segment="milestones">
          <AutoDoc>
            <Description>Get the list of milestones affecting a single (non aggregation affiliated) static web content page</Description>
            <RequestType>This endpoint does not support updates or deletes and only the GET HTTP verb is supported</RequestType>
            <Arguments>Primary key to the web content page in the URL</Arguments>
            <Returns>Milestone report for a single web page ( Single_WebContent_Change_Report )</Returns>
          </AutoDoc>
          <ComplexEndpoint Segment="json">
            <VerbMapping Verb="GET" ComponentID="C5" Method="Get_Single_Milestones" Protocol="JSON" />
          </ComplexEndpoint>
          <ComplexEndpoint Segment="json-p">
            <VerbMapping Verb="GET" ComponentID="C5" Method="Get_Single_Milestones" Protocol="JSON-P" />
          </ComplexEndpoint>
          <ComplexEndpoint Segment="protobuf">
            <VerbMapping Verb="GET" ComponentID="C5" Method="Get_Single_Milestones" Protocol="PROTOBUF" />
          </ComplexEndpoint>
          <ComplexEndpoint Segment="xml">
            <VerbMapping Verb="GET" ComponentID="C5" Method="Get_Single_Milestones" Protocol="XML" />
          </ComplexEndpoint>
        </Path>
        <Path Segment="missing">
          <AutoDoc>
            <Description>Gets the special missing web content page, used when a requested resource is missing</Description>
            <RequestType>This endpoint does not support updates or deletes and only the GET HTTP verb is supported</RequestType>
            <Arguments>None</Arguments>
            <Returns>SobekCM.Core.Navigation.HTML_Based_Content</Returns>
          </AutoDoc>
          <Endpoint Segment="json" ComponentID="C5" Method="Get_Special_Missing_Page" Protocol="JSON" />
          <Endpoint Segment="json-p" ComponentID="C5" Method="Get_Special_Missing_Page" Protocol="JSON-P" />         
          <Endpoint Segment="protobuf" ComponentID="C5" Method="Get_Special_Missing_Page" Protocol="PROTOBUF" />
          <Endpoint Segment="xml" ComponentID="C5" Method="Get_Special_Missing_Page" Protocol="XML" />
        </Path>
        <Path Segment="single">
          <AutoDoc>
            <Description>Get, delete, or update a top-level web content, static HTML content object</Description>
            <RequestType>This endpoint supports reads (GET), deletes (DELETE), and updates (POST) </RequestType>
            <Arguments>Primary key in the URL, or URL segments (each level) in the URL</Arguments>
            <Returns>SobekCM.Core.Navigation.HTML_Based_Content</Returns>
          </AutoDoc>
          <ComplexEndpoint Segment="json">
            <VerbMapping Verb="GET" ComponentID="C5" Method="Get_HTML_Based_Content" Protocol="JSON" />
            <VerbMapping Verb="DELETE" ComponentID="C5" Method="Delete_HTML_Based_Content" Protocol="JSON" />
            <VerbMapping Verb="POST" ComponentID="C5" Method="Update_HTML_Based_Content" Protocol="JSON" />
          </ComplexEndpoint>
          <ComplexEndpoint Segment="json-p">
            <VerbMapping Verb="GET" ComponentID="C5" Method="Get_HTML_Based_Content" Protocol="JSON-P" />
            <VerbMapping Verb="DELETE" ComponentID="C5" Method="Delete_HTML_Based_Content" Protocol="JSON-P" />
            <VerbMapping Verb="POST" ComponentID="C5" Method="Update_HTML_Based_Content" Protocol="JSON-P" />
          </ComplexEndpoint>
          <ComplexEndpoint Segment="protobuf">
            <VerbMapping Verb="GET" ComponentID="C5" Method="Get_HTML_Based_Content" Protocol="PROTOBUF" />
            <VerbMapping Verb="DELETE" ComponentID="C5" Method="Delete_HTML_Based_Content" Protocol="PROTOBUF" />
            <VerbMapping Verb="POST" ComponentID="C5" Method="Update_HTML_Based_Content" Protocol="PROTOBUF" />
          </ComplexEndpoint>
          <ComplexEndpoint Segment="xml">
            <VerbMapping Verb="GET" ComponentID="C5" Method="Get_HTML_Based_Content" Protocol="XML" />
            <VerbMapping Verb="DELETE" ComponentID="C5" Method="Delete_HTML_Based_Content" Protocol="XML" />
            <VerbMapping Verb="POST" ComponentID="C5" Method="Update_HTML_Based_Content" Protocol="XML" />
          </ComplexEndpoint>
        </Path>
      </Path>
      <Path Segment="open-publishing">
        <Path Segment="themes">
          <AutoDoc>
            <Description>Gets the list of all available themese</Description>
            <RequestType>This endpoint does not support updates or deletes and only the GET HTTP verb is supported</RequestType>
            <Arguments>none</Arguments>
            <Returns>List&lt;SobekCM.Core.OpenPublishing.OPTheme&gt;</Returns>
          </AutoDoc>
          <Endpoint Segment="json" ComponentID="C11" Method="GetAvailableThemes" Protocol="JSON" />
          <Endpoint Segment="json-p" ComponentID="C11" Method="GetAvailableThemes" Protocol="JSON-P" />
          <Endpoint Segment="protobuf" ComponentID="C11" Method="GetAvailableThemes" Protocol="PROTOBUF" />
          <Endpoint Segment="xml" ComponentID="C11" Method="GetAvailableThemes" Protocol="XML" />
        </Path>
        <Path Segment="theme">
          <AutoDoc>
            <Description> Gets information about a single theme </Description>
            <RequestType>This endpoint does not support updates or deletes and only the GET HTTP verb is supported</RequestType>
            <Arguments>Primary key to the theme</Arguments>
            <Returns>SobekCM.Core.OpenPublishing.OPTheme</Returns>
          </AutoDoc>
          <Endpoint Segment="json" ComponentID="C11" Method="GetTheme" Protocol="JSON" />
          <Endpoint Segment="json-p" ComponentID="C11" Method="GetTheme" Protocol="JSON-P" />
          <Endpoint Segment="protobuf" ComponentID="C11" Method="GetTheme" Protocol="PROTOBUF" />
          <Endpoint Segment="xml" ComponentID="C11" Method="GetTheme" Protocol="XML" />
        </Path>
      </Path>
    </Mapping>
    <Components>
      <Component ID="C1" Class="AggregationServices" />
      <Component ID="C2" Class="WebSkinServices" />
      <Component ID="C3" Class="ItemServices" />
      <Component ID="C4" Class="NavigationServices" />
      <Component ID="C5" Class="WebContentServices" />
      <Component ID="C7" Class="DataServices" />
      <Component ID="C8" Class="BuilderServices" />
      <Component ID="C9" Class="AdministrativeServices" />
      <Component ID="C10" Class="CacheServices" />
      <Component ID="C11" Class="OpenPublishingServices" />
      <Component ID="CUSTOM" Class="CustomServices" />
    </Components>
    <RestrictionRanges>
      <Range ID="R0" Label="Modify and update IPs" >
        <IpRange Label="SobekDigital Mark Dev" Start="127.0.0.1" />
      </Range>
      <Range ID="R1" Label="Read access clients" >
        <IpRange Label="RB Main workstation" Start="131.247.113.90" />
        <IpRange Label="RB Windows dev/test" Start="131.247.112.36" />
        <IpRange Label="main dis server" Start="131.247.250.97" />
        <IpRange Label="digital dev forest" Start="131.247.222.56" />
        <IpRange Label="local" Start="127.0.0.1" />
        <IpRange Label="SobekDigital Mark Dev" Start="10.20.0.101" />
      </Range>
    </RestrictionRanges>
  </Engine>
</SobekCM_Config>