<?xml version="1.0" encoding="utf-8" ?>
<SobekCM_Config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://sobekrepository.org/schemas/sobekcm_config"
	xsi:schemaLocation="http://sobekrepository.org/schemas/sobekcm_config
		http://sobekrepository.org/schemas/sobekcm_config.xsd">
  <Localization Language="es">

    <Section Name="Internal">
      <Phrase Key="Collection_Details_Title">Colecciones Activas e Inactivas</Phrase>
      <Phrase Key="New_Items_Title">Objetos Recién Agregados o Modificados</Phrase>
      <Phrase Key="Memory_Mgmt_Title">Perfil Actual de Memoria</Phrase>
      <Phrase Key="Wordmarks_Title">Logotipos</Phrase>
      <Phrase Key="Build_Failures_Title">Registro de Errores de Construcción</Phrase>
      <Phrase Key="Unauthorized_Title">Solo Usuarios Internos</Phrase>
      <Phrase Key="Unauthorized_Message">No está autorizado para acceder a esta vista.</Phrase>
      <Phrase Key="Return_Home_Link">Haga clic aquí para volver a la página principal de la biblioteca digital.</Phrase>

      <Phrase Key="Wordmarks_Admin_Manage_Html"><![CDATA[Como es administrador, puede <a href="{0}">administrar los logotipos desde la pantalla de administración</a>.]]></Phrase>
      <Phrase Key="No_Wordmarks_Message">No hay logotipos en este sistema</Phrase>
      <Phrase Key="Wordmarks_Admin_Add_Message">Los administradores pueden agregar logotipos a través de las pantallas de administración de logotipos</Phrase>

      <Phrase Key="Build_Failures_Intro">Los datos a continuación muestran los errores ocurridos al cargar nuevos objetos a través del generador. Estos se pueden mostrar por mes y año seleccionando el mes de inicio y de fin a continuación. Estos errores continuarán mostrándose hasta que sean eliminados manualmente por un técnico del DLC o hasta que el objeto se cargue correctamente después del error o advertencia.</Phrase>
      <Phrase Key="Selected_Date_Range">Rango de Fechas Seleccionado</Phrase>
      <Phrase Key="Build_Failures_Search_Prompt">Los errores y advertencias encontrados durante la construcción se pueden buscar a continuación, por mes:</Phrase>
      <Phrase Key="From_Label">Desde:</Phrase>
      <Phrase Key="To_Label">Hasta:</Phrase>
      <Phrase Key="Select_Range_Title">Seleccionar Rango</Phrase>
      <Phrase Key="Change_Date_Instructions">Para cambiar la fecha mostrada, seleccione sus fechas arriba y presione el botón IR.</Phrase>
      <Phrase Key="Build_Failures_Warnings_Header">Errores y Advertencias de Construcción</Phrase>
      <Phrase Key="No_Failures_Message">No hay advertencias ni errores pendientes para el rango de fechas seleccionado.</Phrase>
      <Phrase Key="Bibid_Vid_Header">BIBID : VID</Phrase>
      <Phrase Key="Mets_Type_Header">TIPO DE METS</Phrase>
      <Phrase Key="Description_Header">DESCRIPCIÓN</Phrase>

      <Phrase Key="Global_Values_Header">VALORES GLOBALES</Phrase>
      <Phrase Key="Application_State_Header">VALORES DEL ESTADO DE LA APLICACIÓN</Phrase>
      <Phrase Key="Local_Cache_State_Header">OBJETOS EN CACHÉ LOCAL</Phrase>
      <Phrase Key="Session_State_Header">VALORES DEL ESTADO DE SESIÓN</Phrase>
      <Phrase Key="Instance_Name_Header">NOMBRE DE INSTANCIA</Phrase>
      <Phrase Key="Key_Header">CLAVE</Phrase>
      <Phrase Key="Object_Header">OBJETO</Phrase>
      <Phrase Key="None_Placeholder">( ninguno )</Phrase>
      <Phrase Key="Application_State_Error">Se detectó un error al obtener la información de administración de memoria del Estado de la Aplicación</Phrase>
      <Phrase Key="Local_Cache_Error">Se detectó un error al obtener la información de administración de la caché de memoria</Phrase>
      <Phrase Key="Session_State_Error">Se detectó un error al obtener la información de administración de memoria del Estado de Sesión</Phrase>

      <Phrase Key="Aggregations_Tree_Intro">A continuación se muestra el árbol maestro completo de todas las agrupaciones dentro de esta biblioteca. Esto incluye todas las agrupaciones activas, así como todas las colecciones ocultas o inactivas.</Phrase>
      <Phrase Key="View_Table_View_Link">Haga clic aquí para ver las agrupaciones en vista de tabla</Phrase>
      <Phrase Key="Collapse_All">Contraer Todo</Phrase>
      <Phrase Key="Expand_All">Expandir Todo</Phrase>
      <Phrase Key="Collection_Hierarchy">Jerarquía de la Colección</Phrase>
      <Phrase Key="Institutions">Instituciones</Phrase>

      <Phrase Key="Aggregations_List_Intro">A continuación se muestra la lista maestra completa de todas las agrupaciones dentro de esta biblioteca. Esto incluye todas las agrupaciones activas, así como todas las colecciones ocultas o inactivas.</Phrase>
      <Phrase Key="View_Tree_View_Link">Haga clic aquí para ver las agrupaciones en vista de árbol</Phrase>
      <Phrase Key="Code_Header">CÓDIGO</Phrase>
      <Phrase Key="Type_Header">TIPO</Phrase>
      <Phrase Key="Name_Header">NOMBRE</Phrase>
      <Phrase Key="Active_Header">ACTIVO</Phrase>
      <Phrase Key="On_Home_Header">EN INICIO</Phrase>
      <Phrase Key="Parent_Header">PADRE</Phrase>
      <Phrase Key="Search_Code_Placeholder">Buscar Código</Phrase>
      <Phrase Key="Search_Name_Placeholder">Buscar Nombre</Phrase>

      <Phrase Key="No_New_Items_Message">NO HAY OBJETOS NUEVOS</Phrase>
      <Phrase Key="Date_Header">FECHA</Phrase>
      <Phrase Key="All_Types">TODOS</Phrase>
      <Phrase Key="Online_Edits">EDICIONES EN LÍNEA</Phrase>
      <Phrase Key="Online_Submits">ENVÍOS EN LÍNEA</Phrase>
      <Phrase Key="Visibility_Changes">CAMBIOS DE VISIBILIDAD</Phrase>
      <Phrase Key="Bulk_Loaded">CARGA MASIVA</Phrase>
      <Phrase Key="Post_Processed">POSPROCESADO</Phrase>
      <Phrase Key="Large_Update_Count_Message">Ha habido una cantidad inusualmente grande de actualizaciones durante la última semana.</Phrase>
      <Phrase Key="Select_Update_Type_Message">Seleccione la pestaña de tipo de actualización de arriba para ver los detalles.</Phrase>
      <Phrase Key="User_Header">USUARIO</Phrase>
      <Phrase Key="No_Tracking_Info_Message">NO HAY INFORMACIÓN DE SEGUIMIENTO PARA SU SELECCIÓN.</Phrase>
      <Phrase Key="No_Info_Message">NO HAY INFORMACIÓN PARA SU SELECCIÓN.</Phrase>

      <Phrase Key="Month_1">Enero</Phrase>
      <Phrase Key="Month_2">Febrero</Phrase>
      <Phrase Key="Month_3">Marzo</Phrase>
      <Phrase Key="Month_4">Abril</Phrase>
      <Phrase Key="Month_5">Mayo</Phrase>
      <Phrase Key="Month_6">Junio</Phrase>
      <Phrase Key="Month_7">Julio</Phrase>
      <Phrase Key="Month_8">Agosto</Phrase>
      <Phrase Key="Month_9">Septiembre</Phrase>
      <Phrase Key="Month_10">Octubre</Phrase>
      <Phrase Key="Month_11">Noviembre</Phrase>
      <Phrase Key="Month_12">Diciembre</Phrase>
    </Section>

  </Localization>
</SobekCM_Config>
