<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="Name" value="Solr Monitoring Service"/>
    
    <add key="Java.AdditionalParameters" value=""/>
    <add key="Java.HeapMemory" value="1g"/>
    <add key="Java.Home" value=""/>

    
    <add key="Logging.StartEventID" value="800"/>
    <add key="Logging.StopEventID" value="801"/>
    <add key="Logging.PingEventID" value="802"/>
    <add key="Logging.HealthCheckEventID" value="803"/>
    <add key="Logging.MonitorPortOpenEventID" value="804"/>
    <add key="Logging.FailedStartEventID" value="805"/>
    <add key="Logging.FailedStopEventID" value="806"/>
    <add key="Logging.FailedPingEventID" value="807"/>
    <add key="Logging.FailedHealthCheckEventID" value="808"/>
    <add key="Logging.FailedMonitorPortOpenEventID" value="809"/>
    <add key="Logging.VerboseEventID" value="-1"/>
    <add key="Logging.ExceptionEventID" value="811"/>
    
    <add key="Monitor.Cores" value="test_pages"/>
    <add key="Monitor.FailsBeforeAbort" value="4"/>
    <add key="Monitor.PauseDuration" value="60"/>
    <add key="Monitor.Port" value="8080"/>
    
    <add key="Solr.AdditionalParameters" value="-V"/>
    
    <add key="Solr.Directory" value="D:\Solr"/>
    <add key="Solr.Port" value="8983"/>
    <add key="Solr.StopPort" value="7983"/>
    <add key="Solr.StopKey" value="solrrocks"/>
    <add key="Solr.HostName" value="localhost"/>
    <add key="Solr.Home" value=""/>
    
    <add key="ClientSettingsProvider.ServiceUri" value=""/>

    <add key="StartArgs.SERVER_OPTS" value="-server"/>
    <add key="StartArgs.SOLR_JAVA_MEM" value="-Xms4096m -Xmx4096m"/>
    <add key="StartArgs.SOLR_TIMEZONE" value="UTC"/>
    <add key="StartArgs.GC_TUNE" value="-XX:NewRatio=3  -XX:SurvivorRatio=4  -XX:TargetSurvivorRatio=90  -XX:MaxTenuringThreshold=8  -XX:+UseConcMarkSweepGC  -XX:+UseParNewGC  -XX:ConcGCThreads=4 -XX:ParallelGCThreads=4  -XX:+CMSScavengeBeforeRemark  -XX:PretenureSizeThreshold=64m  -XX:+UseCMSInitiatingOccupancyOnly  -XX:CMSInitiatingOccupancyFraction=50  -XX:CMSMaxAbortablePrecleanTime=6000  -XX:+CMSParallelRemarkEnabled  -XX:+ParallelRefProcEnabled"/>
    <add key="StartArgs.GC_LOG_OPTS" value="-verbose:gc -XX:+PrintHeapAtGC -XX:+PrintGCDetails -XX:+PrintGCDateStamps -XX:+PrintGCTimeStamps -XX:+PrintTenuringDistribution -XX:+PrintGCApplicationStoppedTime"/>
    <add key="StartArgs.SOLR_JETTY_CONFIG" value="--module=http"/>

    <add key="Override.LOG4J_CONFIG" value=""/>
    <add key="Override.SOLR_HOME" value=""/>
    <add key="Override.SOLR_SERVER_DIR" value=""/>
    <add key="Override.SOLR_LOGS_DIR" value=""/>


  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
</configuration>
