<?xml version="1.0" encoding="utf-8" ?>
<SobekCM_Config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://sobekrepository.org/schemas/sobekcm_config"
	xsi:schemaLocation="http://sobekrepository.org/schemas/sobekcm_config
		http://sobekrepository.org/schemas/sobekcm_config.xsd">
  <Localization Language="fr">

    <Section Name="Internal">
      <Phrase Key="Collection_Details_Title">Collections Actives et Inactives</Phrase>
      <Phrase Key="New_Items_Title">Documents Récemment Ajoutés ou Modifiés</Phrase>
      <Phrase Key="Memory_Mgmt_Title">Profil Actuel de la Mémoire</Phrase>
      <Phrase Key="Wordmarks_Title">Logotypes</Phrase>
      <Phrase Key="Build_Failures_Title">Journal des Échecs de Construction</Phrase>
      <Phrase Key="Unauthorized_Title">Réservé aux Utilisateurs Internes</Phrase>
      <Phrase Key="Unauthorized_Message">Vous n'êtes pas autorisé à accéder à cette vue.</Phrase>
      <Phrase Key="Return_Home_Link">Cliquez ici pour retourner à la page d'accueil de la bibliothèque numérique.</Phrase>

      <Phrase Key="Wordmarks_Admin_Manage_Html"><![CDATA[En tant qu'administrateur, vous pouvez <a href="{0}">gérer les logotypes depuis l'écran d'administration</a>.]]></Phrase>
      <Phrase Key="No_Wordmarks_Message">Aucun logotype dans ce système</Phrase>
      <Phrase Key="Wordmarks_Admin_Add_Message">Les administrateurs peuvent ajouter des logotypes via les écrans d'administration des logotypes</Phrase>

      <Phrase Key="Build_Failures_Intro">Les données ci-dessous présentent les erreurs survenues lors du chargement de nouveaux documents par le générateur. Elles peuvent être affichées par mois et par année ci-dessous en sélectionnant le mois de début et de fin. Ces erreurs continueront de s'afficher jusqu'à ce qu'elles soient effacées manuellement par un technicien du DLC ou jusqu'à ce que le document se charge correctement après l'erreur ou l'avertissement.</Phrase>
      <Phrase Key="Selected_Date_Range">Plage de Dates Sélectionnée</Phrase>
      <Phrase Key="Build_Failures_Search_Prompt">Les échecs et avertissements rencontrés lors de la construction sont consultables ci-dessous, par mois :</Phrase>
      <Phrase Key="From_Label">Du :</Phrase>
      <Phrase Key="To_Label">Au :</Phrase>
      <Phrase Key="Select_Range_Title">Sélectionner la Plage</Phrase>
      <Phrase Key="Change_Date_Instructions">Pour modifier la date affichée, choisissez vos dates ci-dessus et cliquez sur le bouton GO.</Phrase>
      <Phrase Key="Build_Failures_Warnings_Header">Échecs et Avertissements de Construction</Phrase>
      <Phrase Key="No_Failures_Message">Aucun avertissement ou échec non résolu pour la plage de dates sélectionnée.</Phrase>
      <Phrase Key="Bibid_Vid_Header">BIBID : VID</Phrase>
      <Phrase Key="Mets_Type_Header">TYPE DE METS</Phrase>
      <Phrase Key="Description_Header">DESCRIPTION</Phrase>

      <Phrase Key="Global_Values_Header">VALEURS GLOBALES</Phrase>
      <Phrase Key="Application_State_Header">VALEURS DE L'ÉTAT DE L'APPLICATION</Phrase>
      <Phrase Key="Local_Cache_State_Header">OBJETS MIS EN CACHE LOCALEMENT</Phrase>
      <Phrase Key="Session_State_Header">VALEURS DE L'ÉTAT DE SESSION</Phrase>
      <Phrase Key="Instance_Name_Header">NOM DE L'INSTANCE</Phrase>
      <Phrase Key="Key_Header">CLÉ</Phrase>
      <Phrase Key="Object_Header">OBJET</Phrase>
      <Phrase Key="None_Placeholder">( aucun )</Phrase>
      <Phrase Key="Application_State_Error">Une erreur s'est produite lors de la récupération des informations de gestion de la mémoire de l'État de l'Application</Phrase>
      <Phrase Key="Local_Cache_Error">Une erreur s'est produite lors de la récupération des informations de gestion du cache mémoire</Phrase>
      <Phrase Key="Session_State_Error">Une erreur s'est produite lors de la récupération des informations de gestion de la mémoire de l'État de Session</Phrase>

      <Phrase Key="Aggregations_Tree_Intro">Vous trouverez ci-dessous l'arborescence maîtresse complète de tous les regroupements de cette bibliothèque. Cela inclut tous les regroupements actifs, ainsi que toutes les collections masquées ou inactives.</Phrase>
      <Phrase Key="View_Table_View_Link">Cliquez ici pour afficher les regroupements en vue tableau</Phrase>
      <Phrase Key="Collapse_All">Tout Réduire</Phrase>
      <Phrase Key="Expand_All">Tout Développer</Phrase>
      <Phrase Key="Collection_Hierarchy">Hiérarchie de la Collection</Phrase>
      <Phrase Key="Institutions">Institutions</Phrase>

      <Phrase Key="Aggregations_List_Intro">Vous trouverez ci-dessous la liste maîtresse complète de tous les regroupements de cette bibliothèque. Cela inclut tous les regroupements actifs, ainsi que toutes les collections masquées ou inactives.</Phrase>
      <Phrase Key="View_Tree_View_Link">Cliquez ici pour afficher les regroupements en vue arborescente</Phrase>
      <Phrase Key="Code_Header">CODE</Phrase>
      <Phrase Key="Type_Header">TYPE</Phrase>
      <Phrase Key="Name_Header">NOM</Phrase>
      <Phrase Key="Active_Header">ACTIF</Phrase>
      <Phrase Key="On_Home_Header">SUR ACCUEIL</Phrase>
      <Phrase Key="Parent_Header">PARENT</Phrase>
      <Phrase Key="Search_Code_Placeholder">Rechercher Code</Phrase>
      <Phrase Key="Search_Name_Placeholder">Rechercher Nom</Phrase>

      <Phrase Key="No_New_Items_Message">AUCUN NOUVEAU DOCUMENT</Phrase>
      <Phrase Key="Date_Header">DATE</Phrase>
      <Phrase Key="All_Types">TOUS</Phrase>
      <Phrase Key="Online_Edits">MODIFICATIONS EN LIGNE</Phrase>
      <Phrase Key="Online_Submits">SOUMISSIONS EN LIGNE</Phrase>
      <Phrase Key="Visibility_Changes">CHANGEMENTS DE VISIBILITÉ</Phrase>
      <Phrase Key="Bulk_Loaded">CHARGEMENT EN MASSE</Phrase>
      <Phrase Key="Post_Processed">POST-TRAITÉ</Phrase>
      <Phrase Key="Large_Update_Count_Message">Un nombre inhabituellement élevé de mises à jour a été enregistré au cours de la dernière semaine.</Phrase>
      <Phrase Key="Select_Update_Type_Message">Sélectionnez l'onglet du type de mise à jour ci-dessus pour afficher les détails.</Phrase>
      <Phrase Key="User_Header">UTILISATEUR</Phrase>
      <Phrase Key="No_Tracking_Info_Message">AUCUNE INFORMATION DE SUIVI POUR VOTRE SÉLECTION.</Phrase>
      <Phrase Key="No_Info_Message">AUCUNE INFORMATION POUR VOTRE SÉLECTION.</Phrase>

      <Phrase Key="Month_1">Janvier</Phrase>
      <Phrase Key="Month_2">Février</Phrase>
      <Phrase Key="Month_3">Mars</Phrase>
      <Phrase Key="Month_4">Avril</Phrase>
      <Phrase Key="Month_5">Mai</Phrase>
      <Phrase Key="Month_6">Juin</Phrase>
      <Phrase Key="Month_7">Juillet</Phrase>
      <Phrase Key="Month_8">Août</Phrase>
      <Phrase Key="Month_9">Septembre</Phrase>
      <Phrase Key="Month_10">Octobre</Phrase>
      <Phrase Key="Month_11">Novembre</Phrase>
      <Phrase Key="Month_12">Décembre</Phrase>
    </Section>

  </Localization>
</SobekCM_Config>
