<?xml version="1.0" encoding="utf-8" ?>
<SobekCM_Config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://sobekrepository.org/schemas/sobekcm_config"
	xsi:schemaLocation="http://sobekrepository.org/schemas/sobekcm_config
		http://sobekrepository.org/schemas/sobekcm_config.xsd">
  <Engine>
    <RestrictionRanges>
      <Range ID="R0" Label="Modify and update IPs" >
		<IpRange Label="SobekDigital DevBox" Start="10.100.0.6" />
		<IpRange Label="SobekDigital DevBox2" Start="35.208.228.19" />
	
      </Range>
      <Range ID="R1" Label="Read access clients" >
		<IpRange Label="SobekDigital DevBox" Start="10.100.0.6" />
		<IpRange Label="SobekDigital DevBox2" Start="35.208.228.19" />
      </Range>
    </RestrictionRanges>
  </Engine>
</SobekCM_Config>