USE [ver5]
GO
/****** Object:  Table [dbo].[SobekCM_Metadata_Translation]    Script Date: 7/24/2026 2:58:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SobekCM_Metadata_Translation](
	[TranslationID] [int] IDENTITY(1,1) NOT NULL,
	[English] [nvarchar](250) NOT NULL,
	[LanguageCode] [varchar](10) NOT NULL,
	[TranslatedValue] [nvarchar](250) NOT NULL,
 CONSTRAINT [PK_SobekCM_Metadata_Translation] PRIMARY KEY CLUSTERED 
(
	[TranslationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[SobekCM_Metadata_Translation] ADD CONSTRAINT [UQ_SobekCM_Metadata_Translation] UNIQUE ([English], [LanguageCode])
GO
/****** Object:  Table [dbo].[SobekCM_Metadata_Types]    Script Date: 7/24/2026 2:58:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SobekCM_Metadata_Types](
	[MetadataTypeID] [smallint] IDENTITY(1,1) NOT NULL,
	[MetadataName] [varchar](100) NOT NULL,
	[SobekCode] [char](2) NULL,
	[SolrCode] [varchar](100) NULL,
	[DisplayTerm] [nvarchar](100) NULL,
	[FacetTerm] [varchar](100) NULL,
	[CustomField] [bit] NOT NULL,
	[canFacetBrowse] [bit] NOT NULL,
	[DefaultAdvancedSearch] [bit] NOT NULL,
	[LegacySolrCode] [varchar](100) NULL,
	[SolrCode_Facets] [varchar](100) NULL,
	[SolrCode_Display] [varchar](100) NULL,
 CONSTRAINT [PK_SobekCM_Metadata_Types] PRIMARY KEY CLUSTERED 
(
	[MetadataTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[SobekCM_Metadata_Types] ON 

INSERT [dbo].[SobekCM_Metadata_Types] ([MetadataTypeID], [MetadataName], [SobekCode], [SolrCode], [DisplayTerm], [FacetTerm], [CustomField], [canFacetBrowse], [DefaultAdvancedSearch], [LegacySolrCode], [SolrCode_Facets], [SolrCode_Display]) VALUES (1, N'Title', N'TI', N'title', N'Title', N'Title', 0, 1, 1, N'title', NULL, N'title')
INSERT [dbo].[SobekCM_Metadata_Types] ([MetadataTypeID], [MetadataName], [SobekCode], [SolrCode], [DisplayTerm], [FacetTerm], [CustomField], [canFacetBrowse], [DefaultAdvancedSearch], [LegacySolrCode], [SolrCode_Facets], [SolrCode_Display]) VALUES (2, N'Type', N'TY', N'type', N'Resource Type', N'Resource Type', 0, 1, 1, N'type', N'type_facets', N'type')
INSERT [dbo].[SobekCM_Metadata_Types] ([MetadataTypeID], [MetadataName], [SobekCode], [SolrCode], [DisplayTerm], [FacetTerm], [CustomField], [canFacetBrowse], [DefaultAdvancedSearch], [LegacySolrCode], [SolrCode_Facets], [SolrCode_Display]) VALUES (3, N'Language', N'LA', N'language', N'Language', N'Language', 0, 1, 1, N'language', N'language_facets', N'language')
GO
SET IDENTITY_INSERT [dbo].[SobekCM_Metadata_Types] OFF
GO
ALTER TABLE [dbo].[SobekCM_Metadata_Types] ADD  DEFAULT ('false') FOR [CustomField]
GO
ALTER TABLE [dbo].[SobekCM_Metadata_Types] ADD  DEFAULT ('true') FOR [canFacetBrowse]
GO
ALTER TABLE [dbo].[SobekCM_Metadata_Types] ADD  DEFAULT ('false') FOR [DefaultAdvancedSearch]
GO
/****** Object:  StoredProcedure [dbo].[SobekCM_Get_Metadata_Fields]    Script Date: 7/24/2026 2:58:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Return the list of all metadata searchable fields
CREATE PROCEDURE [dbo].[SobekCM_Get_Metadata_Fields]
AS
begin

	-- No need to perform any locks here.  A slightly dirty read won't hurt much
	SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED;
	
	-- Just return all the values, but sort by display term
	select * 
	from SobekCM_Metadata_Types
	order by DisplayTerm;
end;
GO
/****** Object:  StoredProcedure [dbo].[SobekCM_Get_Mime_Types]    Script Date: 7/24/2026 2:58:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SobekCM_Get_Mime_Types]
AS
BEGIN
	select Extension, MimeType, isBlocked, shouldForward, MimeTypeID
	from SobekCM_Mime_Types;
END;
GO
/****** Object:  StoredProcedure [dbo].[SobekCM_Get_Translation]    Script Date: 7/24/2026 2:58:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Gets every (English term, language, translated value) row used by Language_Support_Info
CREATE PROCEDURE [dbo].[SobekCM_Get_Translation] AS
begin
	
	-- No need to perform any locks here
	SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED;

	select TranslationID, English, LanguageCode, TranslatedValue from SobekCM_Metadata_Translation;

end;
GO
/****** Object:  StoredProcedure [dbo].[SobekCM_Save_Translation]    Script Date: 7/24/2026 2:58:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Upserts a single (English term, language) translation
CREATE PROCEDURE [dbo].[SobekCM_Save_Translation]
	@english nvarchar(250),
	@languageCode varchar(10),
	@translatedValue nvarchar(250)
AS
begin

	if exists (select 1 from SobekCM_Metadata_Translation where English=@english and LanguageCode=@languageCode)
		update SobekCM_Metadata_Translation set TranslatedValue=@translatedValue where English=@english and LanguageCode=@languageCode;
	else
		insert into SobekCM_Metadata_Translation (English, LanguageCode, TranslatedValue) values (@english, @languageCode, @translatedValue);

end;
GO
/****** Object:  StoredProcedure [dbo].[SobekCM_Get_Translation_By_Language]    Script Date: 7/24/2026 2:58:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Gets the (English, TranslatedValue) rows for a single language, used for lazy per-language cache loading
CREATE PROCEDURE [dbo].[SobekCM_Get_Translation_By_Language]
	@languageCode varchar(10)
AS
begin

	SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED;

	select English, TranslatedValue from SobekCM_Metadata_Translation where LanguageCode = @languageCode;

end;
GO

-- Ported from historical release scripts (e.g. SQL/Previous Versions/Version 4.10.2/Complete script/Complete.sql),
-- transformed from the old (English, French, Spanish) column shape into the new normalized
-- (English, LanguageCode, TranslatedValue) shape. Only terms NOT already covered by Localization_Gateway
-- are included -- see chat for the list of terms that overlap and were skipped.
-- NOTE: 'Type' -> es originally reused 'Palabra clave del tema' (the Spanish text for the PRECEDING
-- row, 'Subject Keywords') in the historical data -- a copy/paste bug, corrected below to 'Tipo'.
INSERT INTO SobekCM_Metadata_Translation (English, LanguageCode, TranslatedValue) VALUES (N'Description', 'fr', N'Description');
INSERT INTO SobekCM_Metadata_Translation (English, LanguageCode, TranslatedValue) VALUES (N'Description', 'es', N'Descripción');
INSERT INTO SobekCM_Metadata_Translation (English, LanguageCode, TranslatedValue) VALUES (N'Format', 'fr', N'Format');

-- Also added, at user request, even though the same English text already exists as a separate
-- Localization_Gateway phrase elsewhere -- Get_Translation() is called directly with metadata
-- field display terms/citation labels in several places, an independent code path from Localization_Gateway.

-- Dutch/Portuguese/German/Italian translations for the same 139 terms above












































































































































































































































































































































































































































































































































































