@font-face {
    font-family: "Gotham";
    src: url("//barryustorage.blob.core.windows.net/assets/font/gotham/gotham-300.woff") format('woff');
   
}

@font-face {
    font-family: "Gotham Bold";
    src: url("//barryustorage.blob.core.windows.net/assets/font/gotham/gotham-700.woff") format('woff');
}

@font-face {
    font-family: "Lubalin Std Demi";
    src: url("//barryustorage.blob.core.windows.net/assets/font/LubalinGraphStd-Demi.woff") format('woff');
}

@font-face {
    font-family: "Lubalin";
    src: url("//barryustorage.blob.core.windows.net/assets/font/lubgrhn-webfont.woff") format('woff');
}

/** Sample header styles **/
header { background-color: #222222; width: 100%; font-size: 18px; text-align: left; }
#sampleheadertop { 
    background-color: #FFFFFF;
    padding: 20px 10px;
    
}

#sampleheadertext { display:inline-block;vertical-align:top; text-align: left; padding:14px 0 0 8px; line-height:130%;   }
#sampleheadername { 
    float:right; 
    margin-top: 10px;
}
#sampleheadername a { 
    font-family: "Gotham Bold", sans-serif;
    color: #333;
    font-weight: 700;
}
#sampleheadername a:hover { 
    text-decoration: none;
}
#sampleheaderbottom { 
    background-color: #000; 
    color:#FFF;
    padding: 6px 0;
    font-size: 0.80em; 
}
#sampleheaderbottomleft { padding: 2px 0 2px 20px; display: inline-block; text-align: left; }
#sampleheaderbottomright { padding: 2px 20px 2px 0; display: inline-block; text-align: right; float: right; }
#sampleheaderbottom a,
#sampleheaderbottom a:visited { 
    font-family: "Gotham", sans-serif;
    color: #FFF; 
    text-decoration: none;
    -webkit-font-smoothing: antialiased;
}

#sampleheaderbottom a:hover { 
    color:#f7ba00; 
    
}

/** Styles specific to the item header **/
#sampleitemheaderbranding { height:50px; padding: 6px 0 6px 20px; }
#sampleitemheadertext { display:inline-block;vertical-align:top; text-align: left; padding:7px 0 0 8px; line-height:130%; font-size:0.9em;  }
#sampleitemheaderbottom { background-color: #333; font-size: 0.80em; color:#ffffff; }
#sampleitemheaderbottomleft { padding: 2px 0 0 20px; display: inline-block; text-align: left; }
#sampleitemheaderbottomright { padding: 2px 20px 0 0; display: inline-block; text-align: right; float: right; }
#sampleitemheaderbottom a { color: #ffffff !important; text-decoration: none }
#sampleitemheaderbottom a:visited { color: #ffffff !important; text-decoration: none }
#sampleitemheaderbottom a:hover { color: #ffffff; text-decoration: underline; }

/** Sample footer styles **/
#samplefooter{ 
    clear: both;  
    width: 100%;  
    border-top: 1px solid #ccc;  
    background-color:#eee;  
    border-bottom: 1px solid #ccc; 
    text-align:center; 
    font-size: 13px;  
    padding: 10px 0 25px 0;
}
#samplefooter p { display: inline;  color: #333333; padding: 0 0 0 10px; }
#samplefooter a { color: #333333; text-decoration: none; }
#samplefooter a:hover { color: #000; text-decoration: underline; }
#samplefooternav ul { margin: 2px 0; padding: 0; list-style-type: none; text-align: center; }
#samplefooternav ul li { display: inline; padding-left: 10px; padding-right: 10px; }
#samplefooternav ul li+li { border-left: 1px solid #ccc}
#samplewordmark { padding: 0 15px 0 0; float: right; margin:0; }
#samplewordmarktext { display:inline-block; vertical-align:top; font-size: 1.1em; text-align: left; padding-top: 8px; line-height:130%;   }
#samplecopyright { padding: 0 0 5px 10px; text-align:left; line-height: 140%; font-size: 0.85em; }
#samplecopyright a:link { color: #333333 !important; text-decoration: none }
#samplecopyright a:visited { color: #333333 !important; text-decoration: none }
#samplecopyright a:hover { color: #000; text-decoration: underline; }




body
{
    font-family: "Gotham", sans-serif;
	background-image: none;
	background-color: #FAFAFA;
	 -webkit-font-smoothing: antialiased;
}
#container-inner {
    width: 1100px;
}
#container-facets {
    border-top: none;
    border-right: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}
#pagecontainer, #pagecontainer_resumed {
    margin-left: 0;
    margin-right: 0;
}
.SobekText { 
    width: 100%;
}
.SobekText p,
.sbkMebv_ResultsPanel { 
    font-size: 14px;
    line-height: 22px;
}
.SobekText h3 { 
    color:#333;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
}
.SobekText h3 a,
.SobekText h3 a:link,
.SobekText h3 a:visited {
    color: inherit;
}
.SobekText h2 {
    width: initial;
    border-left: none;
    border-right: none;
    padding: 15px 25px 10px 25px;
}
.SobekText ul {
    margin-left: 0;
}
h2 {
    font-family: "Lubalin Std Demi";
    -webkit-font-smoothing: antialiased;
    font-variant: none !important;
    text-transform: uppercase;
}


/** Change menu background color **/
.sbkMenu_Bar { 
    background-color: #ac1f2d; 
    color: #ffffff;  
    padding: 0 !important;
    height: 34px;
    border-top: 4px solid #FFF;
}
.sf-menu { 	
    background-color: #ac1f2d; 
    color: #ffffff; 
    height: initial;
    margin-bottom: 0;
}
.sf-menu li { 
    background-color: #ac1f2d; 
    color: #ffffff;  
}
.sf-menu li a,
.sbkMenu_Home a {
    padding: 10px 15px !important;
}
.sbkMenu_HomeText { 
    margin: 0 0 0 5px;
    display: inline;
}
#sbkAgm_Home a {
    height: initial !important;
}
.sf-menu li img {
    width: 11px;
    height: 11px;
}
.sf-menu a { border: none; }
.sf-arrows .sf-with-ul:after { 
    right: 0;
}
.sf-arrows .sf-with-ul {
    padding-right: 25px !important;
}
.sf-menu ul {
    background-color:#F0F0F0;
    padding: 5px 0;
}
.sf-menu ul li { 
    background-color:#F0F0F0;
    color:#333;
    border-bottom: 1px dotted #dedede;
}
.sf-menu ul li:last-child { 
    border-bottom: none;
}
.sf-menu ul li a { 
    color:#333;
    border: none;
    padding: 10px 25px !important;
}
.sf-menu ul li:hover { 
    background-color:#F0F0F0;
    color:#333;
    text-decoration: underline;
    -webkit-box-shadow: none;
    -ms-box-shadow: none;
    box-shadow: none;
}


#sbkAgm_Menu {
    margin-left: 0;
}
/ ** Change the menu selected color **/
#selected-sf-menu-item-link { 
    background:#ac1f2d !important; 
    background-color: #ac1f2d !important;
    height: initial;
    -webkit-box-shadow: inset 0 -4px 0 0 #f7ba00;
    -ms-box-shadow: inset 0 -4px 0 0 #f7ba00;
    box-shadow: inset 0 -4px 0 0 #f7ba00;
    outline: none;
    height: 34px;
}
.selected-sf-menu-item-link { 
    background:#ac1f2d !important; 
    background-color: #ac1f2d !important;
    height: initial;
    -webkit-box-shadow: inset 0 -4px 0 0 #f7ba00;
    -ms-box-shadow: inset 0 -4px 0 0 #f7ba00;
    box-shadow: inset 0 -4px 0 0 #f7ba00;
    outline: none;
    height: 34px;
}
#selected-sf-menu-item {
    background-color: #ac1f2d !important; 
    background: #ac1f2d !important;
    height: initial;
    -webkit-box-shadow: inset 0 -4px 0 0 #f7ba00;
    -ms-box-shadow: inset 0 -4px 0 0 #f7ba00;
    box-shadow: inset 0 -4px 0 0 #f7ba00;
    outline: none;
    height: 34px;
}
.selected-sf-menu-item { 
    background: #ac1f2d !important; 
    background-color: #ac1f2d !important;
    height: initial;
    -webkit-box-shadow: inset 0 -4px 0 0 #f7ba00;
    -ms-box-shadow: inset 0 -4px 0 0 #f7ba00;
    box-shadow: inset 0 -4px 0 0 #f7ba00;
    outline: none;
    height: 34px;
}


.sf-menu li:hover, 
.sf-menu li.sfHover {
    background: #ac1f2d; 
    background-color: #ac1f2d;
    -webkit-transition: none;
    transition: none;
    -webkit-box-shadow: inset 0 -4px 0 0 #f7ba00;
    -ms-box-shadow: inset 0 -4px 0 0 #f7ba00;
    box-shadow: inset 0 -4px 0 0 #f7ba00;
    outline: none;
    height: 34px;
}

/** Change the little tabs that appear in several places in the system **/

#sbkAghsw_HomeTypeLinks {
    margin-left: 0;
    margin-right: 20px;
    text-align: right;
}
.sbk_FauxUpwardTabsList {
    height: auto;
}
.sbk_FauxUpwardTabsList>li,
.sbk_FauxDownwardTabsList>li
{
    padding: 6px 12px 6px 12px;
}

.sbk_FauxUpwardTabsList > li.current,
.sbk_FauxDownwardTabsList > li.current {
    background-color: #767679;
    color:#FFF !important;
}
.sbk_FauxUpwardTabsList>li,
.sbk_FauxDownwardTabsList>li {
    background-color: #e0e1e2;
    color:#333;
}
.sbk_FauxUpwardTabsList a:link {
    color:#333;
}
.sbk_FauxUpwardTabsList a:hover {
    color: #fff !important;
}
.sbkAghsw_CollectionButton {
    margin-right: 35px;
}
/ ** Change the button colors **/
.sbkIsw_RoundButton {  background-color: #002E5C;color: #ffffff;  }
.sbkPrsw_RoundButton { background-color: #002E5C;color: #ffffff;  }
.roundbutton { background-color: #002E5C;color: #ffffff;  }
.sbk_SearchButton { background-color: #002E5C;color: #ffffff;  }
.sbkAdm_RoundButton { background-color: #002E5C; color: #ffffff;  }

/** Change a few last places, such as pop-up menus, facet column, tabs used for admin, etc.. **/
.sbkPrsw_FacetColumnTitle  { background-color: #002E5C; color: #ffffff; }
.sbk_PopupTitle  { background-color: #002E5C; color: #ffffff;  }
.fulltabs>.tabs>ul>li  { background-color: #002E5C; color: #ffffff;  }
.sbkAdm_Table th { background-color: #002E5C; color: #ffffff;  }
      

.sbkCiv_CitationSection h2{ color: #777777; }
#sbkIsw_Titlebar a:hover{ color:#a9c1ed; }
.sbkIsw_PageNavBar { color: #ffffff; }
#sbkJiv_ImageZoomable { color: #cccccc; }

#sbkHmw_BannerDiv { background-color:#FFF; }
#sbkAghsw_CollectionDescriptionTbl {
    padding: 10px 20px;
}