<?xml version="1.0" encoding="utf-8" ?>
<SobekCM_Config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://sobekrepository.org/schemas/sobekcm_config"
	xsi:schemaLocation="http://sobekrepository.org/schemas/sobekcm_config
		http://sobekrepository.org/schemas/sobekcm_config.xsd">
  
  <!-- This code describes the actual extension and sets some top level inforation -->
  <Extension code="DownloadWithJp2s" name="Download item viewer with JPEG2000 downloads" version="1.0" >

    <!-- Administrative information about this plugin -->
    <AdminInfo>
      <Description>This plug-in adds a new item viewer which shows any downloads linked to the item, but also makes any JPEG2000s in the item downloadable as well </Description>
      <Authors>
        <Author name="Sullivan, Mark" email="Mark.V.Sullivan@sobekdigital.com" />
      </Authors>
      <Permissions>Plug-in is released as open-source under the GNU General Public License</Permissions>
    </AdminInfo>

    <!-- Reference one of more assemblies (referenced relative to the plugin folder) -->
    <Assembly id="DownloadWithJp2s" name="DownloadWithJp2s.dll" />
  </Extension>

  <WriterViewers ClearAll="false">                                           -->
    <SpecialWriters>
	    <ItemWriterConfig>
        <ItemViewers>
          <ItemViewer type="DOWNLOADS_JP2s" viewerCode="downloads2" assembly="DownloadWithJp2s" class="DownloadWithJp2s.Downloads_JP2s_ItemViewer_Prototyper" enabled="true" />
        </ItemViewers>
      </ItemWriterConfig>
    </SpecialWriters>      
  </WriterViewers>
  
</SobekCM_Config>