<?xml version="1.0" encoding="utf-8" ?>
<SobekCM_Config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://sobekrepository.org/schemas/sobekcm_config"
	xsi:schemaLocation="http://sobekrepository.org/schemas/sobekcm_config
		http://sobekrepository.org/schemas/sobekcm_config.xsd">
  <Localization Language="de">

    <Section Name="Home">
      <Phrase Key="Welcome_New_User_Format">Willkommen bei mein{0}, {1}</Phrase>
      <Phrase Key="Welcome_Back_Format">Willkommen zurück, {0}</Phrase>
      <Phrase Key="Welcome_Intro_Format">Willkommen bei {0}. Mit dieser Funktion können Sie Artikel zu Ihren Bücherregalen hinzufügen, Ihre Bücherregale organisieren und sie per E-Mail an Freunde senden.</Phrase>
      <Phrase Key="What_Would_You_Like">Was möchten Sie heute tun?</Phrase>
      <Phrase Key="Upload_Existing_Oer">Ein vorhandenes OER hochladen</Phrase>
      <Phrase Key="Create_New_Oer_Online">Neues OER online erstellen (mit Open Publishing)</Phrase>
      <Phrase Key="Upload_New_Item">Einen neuen Artikel hochladen</Phrase>
      <Phrase Key="Add_New_Tei_Item">Einen neuen TEI-Artikel hinzufügen</Phrase>
      <Phrase Key="Submittals_Disabled">Online-Einreichungen sind vorübergehend deaktiviert</Phrase>
      <Phrase Key="View_All_Submitted_Items">Alle meine eingereichten Artikel anzeigen</Phrase>
      <Phrase Key="View_Usage_For_My_Items">Nutzung meiner Artikel anzeigen</Phrase>
      <Phrase Key="View_My_Descriptive_Tags">Meine beschreibenden Schlagwörter anzeigen</Phrase>
      <Phrase Key="View_And_Organize_Bookshelves">Meine Bücherregale anzeigen und organisieren</Phrase>
      <Phrase Key="View_My_Saved_Searches">Meine gespeicherten Suchen anzeigen</Phrase>
      <Phrase Key="Edit_My_Preferences">Meine Kontoeinstellungen bearbeiten</Phrase>
      <Phrase Key="Track_Item_Scanning">Verfolgung von Scan-/Verarbeitungsstatus der Artikel</Phrase>
      <Phrase Key="Return_To_Previous_Page_Format">Zurück zur vorherigen {0}-Seite</Phrase>
      <Phrase Key="Log_Out">Abmelden</Phrase>
      <Phrase Key="Contact_Us_Link_Text">kontaktieren Sie uns</Phrase>
      <Phrase Key="Comments_Recommendations_Format">Kommentare oder Empfehlungen? Bitte {0}.</Phrase>
      <Phrase Key="Contribute_Materials_Format">Wenn Sie Materialien über das Online-System beitragen möchten, {0} bitte ebenfalls.</Phrase>
    </Section>

    <Section Name="Saved_Searches">
      <Phrase Key="Page_Title">Meine Gespeicherten Suchen</Phrase>
      <Phrase Key="Actions_Header">AKTIONEN</Phrase>
      <Phrase Key="Saved_Search_Header">GESPEICHERTE SUCHE</Phrase>
      <Phrase Key="Delete_Link_Title">Klicken, um diese gespeicherte Suche zu löschen</Phrase>
      <Phrase Key="Delete_Link_Text">löschen</Phrase>
      <Phrase Key="View_Link_Title">Klicken, um diese Suche anzuzeigen</Phrase>
      <Phrase Key="View_Link_Text">anzeigen</Phrase>
      <Phrase Key="No_Saved_Searches_Html">Sie haben keine gespeicherten Suchen oder Browsings.&lt;br /&gt;&lt;br /&gt;Um eine Suche oder ein Browsing hinzuzufügen, verwenden Sie die Schaltfläche HINZUFÜGEN, während Sie die Ergebnisse Ihrer Suche oder Ihres Browsings ansehen.</Phrase>
    </Section>

    <Section Name="Logon">
      <Phrase Key="Default_Disabled_Message">Die allgemeine Anmeldung zu diesem System ist vorübergehend deaktiviert.</Phrase>
      <Phrase Key="Invalid_Credentials">Ungültiger Benutzername/Passwort eingegeben</Phrase>
      <Phrase Key="Page_Title_Format">Anmelden bei Mein{0}</Phrase>
      <Phrase Key="Heading_Format">Anmelden bei {0}</Phrase>
      <Phrase Key="Feature_Requires_Logon">Die Funktion, auf die Sie zugreifen möchten, erfordert eine gültige Anmeldung.</Phrase>
      <Phrase Key="Choose_Logon_Below">Bitte wählen Sie unten die passende Anmeldeoption.</Phrase>
      <Phrase Key="Dloc_Valid_Logon_Text">Wenn Sie eine gültige myDLOC-Anmeldung haben</Phrase>
      <Phrase Key="Dloc_Sign_On_Text">Mit myDLOC-Authentifizierung anmelden</Phrase>
      <Phrase Key="Shibboleth_Valid_Id_Format">Wenn Sie eine gültige {0}-ID haben</Phrase>
      <Phrase Key="Shibboleth_Sign_On_Format">Melden Sie sich hier mit Ihrem {0} an</Phrase>
      <Phrase Key="Instance_Valid_Logon_Format">Wenn Sie eine gültige mein{0}-Anmeldung haben</Phrase>
      <Phrase Key="Instance_Sign_On_Format">Melden Sie sich hier mit der mein{0}-Authentifizierung an</Phrase>
      <Phrase Key="Federated_Valid_Account_Format">Wenn Sie ein gültiges {0}-Konto haben</Phrase>
      <Phrase Key="Federated_Sign_In_Format">Melden Sie sich mit {0} an</Phrase>
      <Phrase Key="Not_Registered_Yet">Noch nicht registriert?</Phrase>
      <Phrase Key="Register_Now">Jetzt registrieren</Phrase>
      <Phrase Key="Contact_Us">Kontaktieren Sie uns</Phrase>
      <Phrase Key="Popup_Title_Log_In">ANMELDEN</Phrase>
      <Phrase Key="Username_Or_Email_Label">Benutzername oder E-Mail:</Phrase>
      <Phrase Key="Password_Label">Passwort:</Phrase>
      <Phrase Key="Remember_Me">Angemeldet bleiben</Phrase>
      <Phrase Key="Close_Button_Title">Schließen</Phrase>
      <Phrase Key="Cancel_Button_Text">ABBRECHEN</Phrase>
      <Phrase Key="Login_Button_Title">Anmelden</Phrase>
      <Phrase Key="Login_Button_Text">ANMELDEN</Phrase>
      <Phrase Key="Popup_Not_Registered_Format">Noch nicht registriert? {0}.</Phrase>
      <Phrase Key="Popup_Forgot_Password_Format">Benutzername oder Passwort vergessen? Bitte {0}.</Phrase>
      <Phrase Key="Popup_Contact_Us_Link_Text">kontaktieren Sie uns</Phrase>
    </Section>

    <Section Name="OpenNJ_Register">
      <Phrase Key="Account_Info">Kontoinformationen</Phrase>
      <Phrase Key="Username_Label">Benutzername</Phrase>
      <Phrase Key="Personal_Info">Persönliche Informationen</Phrase>
      <Phrase Key="Family_Names_Label">Nachname(n)</Phrase>
      <Phrase Key="Given_Names_Label">Vorname(n)</Phrase>
      <Phrase Key="Nickname_Label">Spitzname</Phrase>
      <Phrase Key="Email_Label">E-Mail</Phrase>
      <Phrase Key="Email_Stats_Label">Senden Sie mir monatliche Nutzungsstatistiken für meine Artikel</Phrase>
      <Phrase Key="Affiliation_Info">Aktuelle Zugehörigkeitsinformationen</Phrase>
      <Phrase Key="Organization_Label">Institution</Phrase>
      <Phrase Key="Password_Label">Passwort</Phrase>
      <Phrase Key="Confirm_Password_Label">Passwort Bestätigen</Phrase>
      <Phrase Key="Username_Required">Der Benutzername ist ein Pflichtfeld</Phrase>
      <Phrase Key="Username_Min_Length">Der Benutzername muss mindestens acht Zeichen lang sein</Phrase>
      <Phrase Key="Select_Confirm_Password">Wählen und bestätigen Sie ein Passwort</Phrase>
      <Phrase Key="Passwords_Do_Not_Match">Die Passwörter stimmen nicht überein</Phrase>
      <Phrase Key="Password_Min_Length">Das Passwort muss mindestens acht Zeichen lang sein</Phrase>
      <Phrase Key="Select_Instructor_Status">Wählen Sie, ob Sie Dozent sind oder nicht</Phrase>
      <Phrase Key="Instructor_Institution_Required">Als Dozent ist die Institution ein Pflichtfeld</Phrase>
      <Phrase Key="Ufid_Length">UFIDs bestehen immer aus acht Ziffern</Phrase>
      <Phrase Key="Ufid_Numeric">UFIDs sind immer numerisch</Phrase>
      <Phrase Key="Family_Name_Required">Der Nachname ist ein Pflichtfeld</Phrase>
      <Phrase Key="Given_Name_Required">Der Vorname ist ein Pflichtfeld</Phrase>
      <Phrase Key="Valid_Email_Required">Eine gültige E-Mail-Adresse ist erforderlich</Phrase>
      <Phrase Key="Rights_Truncated">Rechteerklärung auf 1000 Zeichen gekürzt.</Phrase>
      <Phrase Key="Email_Already_Exists">Für diese E-Mail-Adresse existiert bereits ein Konto.</Phrase>
      <Phrase Key="Username_Taken">Dieser Benutzername ist bereits vergeben. Bitte wählen Sie einen anderen.</Phrase>
      <Phrase Key="Register_Page_Title_Format">Registrieren bei Mein{0}</Phrase>
      <Phrase Key="Edit_Preferences_Page_Title">Ihre Kontoeinstellungen Bearbeiten</Phrase>
      <Phrase Key="Registration_Intro_Format">Die Registrierung bei {0} ist kostenlos und für die Öffentlichkeit zugänglich. Geben Sie unten Ihre Daten ein, um sich sofort zu registrieren.</Phrase>
      <Phrase Key="Account_Required_Note">Kontoinformationen, Name und E-Mail sind für jedes neue Konto erforderlich.</Phrase>
      <Phrase Key="Already_Registered_Format">Bereits registriert? {0}.</Phrase>
      <Phrase Key="Log_On_Link_Text">Anmelden</Phrase>
      <Phrase Key="Errors_Detected_Header">Folgende Fehler wurden festgestellt:</Phrase>
      <Phrase Key="Account_Type_Header">Kontotyp</Phrase>
      <Phrase Key="Instructor_Question">Sind Sie Dozent? Teilen Sie es uns unten mit, um Zugriff auf eingeschränkte Kursmaterialien zu erhalten.</Phrase>
      <Phrase Key="I_Am_Instructor">Ich bin Dozent</Phrase>
      <Phrase Key="I_Am_Not_Instructor">Ich bin KEIN Dozent</Phrase>
      <Phrase Key="Submit_Materials_Instructions">Klicken Sie unten auf die Option, um Materialien einzureichen. Um die Online-Open-Publishing-Tools in Open-NJ zu nutzen, müssen Sie als Dozent und zur Einreichung von Materialien genehmigt werden.</Phrase>
      <Phrase Key="Allow_Submit_Label">Ich möchte in der Lage sein, Materialien online einzureichen.</Phrase>
      <Phrase Key="Application_Reviewed_Notice">Sobald Ihr Antrag geprüft und genehmigt wurde, erhalten Sie eine E-Mail-Benachrichtigung.</Phrase>
      <Phrase Key="Username_Hint">(mindestens acht Zeichen)</Phrase>
      <Phrase Key="Password_Hint">(mindestens acht Zeichen, abweichend vom Benutzernamen)</Phrase>
      <Phrase Key="Institutional_Email_Hint">(bitte institutionelle E-Mail-Adresse angeben)</Phrase>
      <Phrase Key="Cancel_Button">ABBRECHEN</Phrase>
      <Phrase Key="Submit_Button">SENDEN</Phrase>
    </Section>

    <Section Name="Preferences">
      <Phrase Key="Account_Info">Kontoinformationen</Phrase>
      <Phrase Key="Username_Label">Benutzername</Phrase>
      <Phrase Key="Personal_Info">Persönliche Informationen</Phrase>
      <Phrase Key="Family_Names_Label">Nachname(n)</Phrase>
      <Phrase Key="Given_Names_Label">Vorname(n)</Phrase>
      <Phrase Key="Nickname_Label">Spitzname</Phrase>
      <Phrase Key="Email_Label">E-Mail</Phrase>
      <Phrase Key="Federated_Name_Email_Note_Format">Name und E-Mail werden von {0} verwaltet - verwenden Sie den Spitznamen, um festzulegen, wie Ihr Name hier angezeigt wird</Phrase>
      <Phrase Key="Email_Stats_Label">Senden Sie mir monatliche Nutzungsstatistiken für meine Artikel</Phrase>
      <Phrase Key="Affiliation_Info">Aktuelle Zugehörigkeitsinformationen</Phrase>
      <Phrase Key="Organization_Label">Organisation/Universität</Phrase>
      <Phrase Key="College_Label">Hochschule</Phrase>
      <Phrase Key="Department_Label">Abteilung</Phrase>
      <Phrase Key="Unit_Label">Einheit</Phrase>
      <Phrase Key="Self_Submittal_Pref_Label">Präferenzen für Selbsteinreichung</Phrase>
      <Phrase Key="Send_Email_Label">Senden Sie mir eine E-Mail, wenn ich neue Artikel einreiche</Phrase>
      <Phrase Key="Template_Label">Vorlage</Phrase>
      <Phrase Key="Project_Label">Standard-Metadaten</Phrase>
      <Phrase Key="Default_Rights_Label">Standardrechte</Phrase>
      <Phrase Key="Rights_Explanation_Label">(Dies sind die Standardrechte, die Sie anderen Nutzern zum Teilen, Weiterverwenden oder Remixen Ihres Artikels einräumen. Sie können dies bei jedem neu eingereichten Artikel festlegen, aber dies ist der standardmäßig angezeigte Wert.)</Phrase>
      <Phrase Key="Rights_Instruction_Label"><![CDATA[Sie können unten auch eine <a title="Erklärung der verschiedenen Creative-Commons-Lizenzen." href="http://creativecommons.org/about/licenses/">Creative-Commons-Lizenz</a> auswählen.]]></Phrase>
      <Phrase Key="Other_Preferences_Label">Weitere Einstellungen</Phrase>
      <Phrase Key="Language_Label">Sprache</Phrase>
      <Phrase Key="Password_Label">Passwort</Phrase>
      <Phrase Key="Confirm_Password_Label">Passwort Bestätigen</Phrase>
      <Phrase Key="Username_Required">Der Benutzername ist ein Pflichtfeld</Phrase>
      <Phrase Key="Username_Min_Length">Der Benutzername muss mindestens acht Zeichen lang sein</Phrase>
      <Phrase Key="Select_Confirm_Password">Wählen und bestätigen Sie ein Passwort</Phrase>
      <Phrase Key="Passwords_Do_Not_Match">Die Passwörter stimmen nicht überein</Phrase>
      <Phrase Key="Password_Min_Length">Das Passwort muss mindestens acht Zeichen lang sein</Phrase>
      <Phrase Key="Ufid_Length">UFIDs bestehen immer aus acht Ziffern</Phrase>
      <Phrase Key="Ufid_Numeric">UFIDs sind immer numerisch</Phrase>
      <Phrase Key="Family_Name_Required">Der Nachname ist ein Pflichtfeld</Phrase>
      <Phrase Key="Given_Name_Required">Der Vorname ist ein Pflichtfeld</Phrase>
      <Phrase Key="Valid_Email_Required">Eine gültige E-Mail-Adresse ist erforderlich</Phrase>
      <Phrase Key="Rights_Truncated">Rechteerklärung auf 1000 Zeichen gekürzt.</Phrase>
      <Phrase Key="Email_Already_Exists">Für diese E-Mail-Adresse existiert bereits ein Konto.</Phrase>
      <Phrase Key="Username_Taken">Dieser Benutzername ist bereits vergeben. Bitte wählen Sie einen anderen.</Phrase>
      <Phrase Key="Register_Page_Title_Format">Registrieren bei Mein{0}</Phrase>
      <Phrase Key="Edit_Preferences_Page_Title">Ihre Kontoeinstellungen Bearbeiten</Phrase>
      <Phrase Key="Registration_Intro_Format">Die Registrierung bei {0} ist kostenlos und für die Öffentlichkeit zugänglich. Geben Sie unten Ihre Daten ein, um sich sofort zu registrieren.</Phrase>
      <Phrase Key="Account_Required_Note">Kontoinformationen, Name und E-Mail sind für jedes neue Konto erforderlich.</Phrase>
      <Phrase Key="Already_Registered_Format">Bereits registriert? {0}.</Phrase>
      <Phrase Key="Log_On_Link_Text">Anmelden</Phrase>
      <Phrase Key="Errors_Detected_Header">Folgende Fehler wurden festgestellt:</Phrase>
      <Phrase Key="Username_Hint">(mindestens acht Zeichen)</Phrase>
      <Phrase Key="Password_Hint">(mindestens acht Zeichen, abweichend vom Benutzernamen)</Phrase>
      <Phrase Key="Gatorlink_Hint">(bietet optional Zugang über Gatorlink)</Phrase>
      <Phrase Key="Allow_Submit_With_Notice_Label">Ich möchte in der Lage sein, Materialien online einzureichen. (Sobald Ihr Einreichungsantrag genehmigt wurde, erhalten Sie eine E-Mail-Benachrichtigung)</Phrase>
      <Phrase Key="Cancel_Button">ABBRECHEN</Phrase>
      <Phrase Key="Submit_Button">SENDEN</Phrase>
    </Section>

    <Section Name="Folder_Mgmt">
      <Phrase Key="Page_Title">Meine Bibliothek</Phrase>
      <Phrase Key="Manage_Library_Tooltip">Meine Bibliothek verwalten</Phrase>
      <Phrase Key="Manage_Library_Link_Text">Meine Bibliothek (Meine Bücherregale verwalten)</Phrase>
      <Phrase Key="View_Collections_Home_Tooltip">Startseite meiner Sammlungen anzeigen</Phrase>
      <Phrase Key="My_Collections_Home_Text">Startseite Meiner Sammlungen</Phrase>
      <Phrase Key="View_Saved_Searches_Tooltip">Meine gespeicherten Suchen anzeigen</Phrase>
      <Phrase Key="My_Saved_Searches_Text">Meine Gespeicherten Suchen</Phrase>
      <Phrase Key="Public_Folder_Tooltip">Öffentliches Regal</Phrase>
      <Phrase Key="Private_Folder_Tooltip">Privates Regal</Phrase>
      <Phrase Key="Bookshelf_Empty_Message">Dieses Bücherregal ist derzeit leer</Phrase>
      <Phrase Key="Manage_Bookshelves_Heading">Meine Bücherregale Verwalten</Phrase>
      <Phrase Key="Add_New_Bookshelf_Tooltip">Klicken, um ein neues Bücherregal hinzuzufügen</Phrase>
      <Phrase Key="Add_New_Bookshelf_Text">Neues Bücherregal Hinzufügen</Phrase>
      <Phrase Key="Refresh_Bookshelf_Tooltip">Bücherregalliste aktualisieren</Phrase>
      <Phrase Key="Refresh_Bookshelves_Text">Bücherregale Aktualisieren</Phrase>
      <Phrase Key="Actions_Header">AKTIONEN</Phrase>
      <Phrase Key="Bookshelf_Name_Header">NAME DES BÜCHERREGALS</Phrase>
      <Phrase Key="Delete_Bookshelf_Tooltip">Klicken, um dieses Bücherregal zu löschen</Phrase>
      <Phrase Key="Delete_Link_Text">löschen</Phrase>
      <Phrase Key="Cannot_Delete_Last_Alert">Sie können Ihr letztes Bücherregal nicht löschen</Phrase>
      <Phrase Key="Cannot_Delete_Nested_Alert">Sie können keine Bücherregale löschen, die andere Bücherregale enthalten</Phrase>
      <Phrase Key="Make_Private_Tooltip">Dieses Bücherregal privat machen</Phrase>
      <Phrase Key="Make_Private_Text">privat machen</Phrase>
      <Phrase Key="Make_Public_Tooltip">Dieses Bücherregal öffentlich machen</Phrase>
      <Phrase Key="Make_Public_Text">öffentlich machen</Phrase>
      <Phrase Key="Manage_Bookshelf_Tooltip">Klicken, um dieses Bücherregal zu verwalten</Phrase>
      <Phrase Key="Manage_Link_Text">verwalten</Phrase>
      <Phrase Key="Email_Popup_Title">DIESEN ARTIKEL AN EINEN FREUND SENDEN</Phrase>
      <Phrase Key="Email_Popup_Legend">Geben Sie unten die E-Mail-Informationen ein &amp;nbsp; </Phrase>
      <Phrase Key="To_Label">An:</Phrase>
      <Phrase Key="Comments_Label">Kommentare:</Phrase>
      <Phrase Key="Format_Label">Format:</Phrase>
      <Phrase Key="Html_Format_Label">HTML</Phrase>
      <Phrase Key="Plain_Text_Format_Label">Nur Text</Phrase>
      <Phrase Key="Cancel_Button">ABBRECHEN</Phrase>
      <Phrase Key="Send_Button">SENDEN</Phrase>
      <Phrase Key="Save_Button">SPEICHERN</Phrase>
      <Phrase Key="Move_Popup_Title_Html"><![CDATA[A<span class="smaller">RTIKEL ZWISCHEN</span> B<span class="smaller">ÜCHERREGALEN</span> V<span class="smaller">ERSCHIEBEN</span>]]></Phrase>
      <Phrase Key="Move_Popup_Legend">Wählen Sie ein neues Bücherregal für diesen Artikel</Phrase>
      <Phrase Key="Bookshelf_Label">Bücherregal:</Phrase>
      <Phrase Key="Edit_Notes_Popup_Title_Html"><![CDATA[N<span class="smaller">OTIZEN FÜR</span> B<span class="smaller">ÜCHERREGAL</span>-A<span class="smaller">RTIKEL</span> H<span class="smaller">INZUFÜGEN/</span>B<span class="smaller">EARBEITEN</span>]]></Phrase>
      <Phrase Key="Edit_Notes_Popup_Legend">Geben Sie Notizen für diesen Artikel in Ihrem Bücherregal ein &amp;nbsp; </Phrase>
      <Phrase Key="Notes_Label">Notizen:</Phrase>
      <Phrase Key="New_Bookshelf_Popup_Title_Html"><![CDATA[N<span class="smaller">EUES</span> B<span class="smaller">ÜCHERREGAL</span>]]></Phrase>
      <Phrase Key="New_Bookshelf_Popup_Legend">Geben Sie die Informationen für Ihr neues Bücherregal ein</Phrase>
      <Phrase Key="Name_Label">Name:</Phrase>
      <Phrase Key="Parent_Label">Übergeordnetes Regal:</Phrase>
      <Phrase Key="No_Parent_Option">(keines)</Phrase>
    </Section>

  </Localization>
</SobekCM_Config>
