<?xml version="1.0" encoding="utf-8" ?>
<SobekCM_Config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://sobekrepository.org/schemas/sobekcm_config"
	xsi:schemaLocation="http://sobekrepository.org/schemas/sobekcm_config
		http://sobekrepository.org/schemas/sobekcm_config.xsd">
  <Localization Language="de">

    <Section Name="Internal">
      <Phrase Key="Collection_Details_Title">Aktive und Inaktive Sammlungen</Phrase>
      <Phrase Key="New_Items_Title">Neu Hinzugefügte oder Geänderte Objekte</Phrase>
      <Phrase Key="Memory_Mgmt_Title">Aktuelles Speicherprofil</Phrase>
      <Phrase Key="Wordmarks_Title">Wortmarken</Phrase>
      <Phrase Key="Build_Failures_Title">Protokoll der Build-Fehler</Phrase>
      <Phrase Key="Unauthorized_Title">Nur für Interne Benutzer</Phrase>
      <Phrase Key="Unauthorized_Message">Sie sind nicht berechtigt, auf diese Ansicht zuzugreifen.</Phrase>
      <Phrase Key="Return_Home_Link">Klicken Sie hier, um zur Startseite der digitalen Bibliothek zurückzukehren.</Phrase>

      <Phrase Key="Wordmarks_Admin_Manage_Html"><![CDATA[Da Sie Administrator sind, können Sie <a href="{0}">die Wortmarken über den Administrationsbildschirm verwalten</a>.]]></Phrase>
      <Phrase Key="No_Wordmarks_Message">Keine Wortmarken in diesem System</Phrase>
      <Phrase Key="Wordmarks_Admin_Add_Message">Administratoren können über die Verwaltungsbildschirme für Wortmarken neue Wortmarken hinzufügen</Phrase>

      <Phrase Key="Build_Failures_Intro">Die folgenden Daten zeigen Fehler, die beim Laden neuer Objekte über den Builder aufgetreten sind. Sie können unten nach Monat und Jahr angezeigt werden, indem Sie den Start- und Endmonat auswählen. Diese Fehler werden weiterhin angezeigt, bis sie manuell von einem DLC-Techniker gelöscht werden oder bis das Objekt nach dem Fehler oder der Warnung erfolgreich geladen wird.</Phrase>
      <Phrase Key="Selected_Date_Range">Ausgewählter Datumsbereich</Phrase>
      <Phrase Key="Build_Failures_Search_Prompt">Die während des Builds aufgetretenen Fehler und Warnungen können unten nach Monat durchsucht werden:</Phrase>
      <Phrase Key="From_Label">Von:</Phrase>
      <Phrase Key="To_Label">Bis:</Phrase>
      <Phrase Key="Select_Range_Title">Bereich Auswählen</Phrase>
      <Phrase Key="Change_Date_Instructions">Um das angezeigte Datum zu ändern, wählen Sie oben Ihre Daten aus und klicken Sie auf die Schaltfläche GO.</Phrase>
      <Phrase Key="Build_Failures_Warnings_Header">Build-Fehler und Warnungen</Phrase>
      <Phrase Key="No_Failures_Message">Keine ungelösten Warnungen oder Fehler für den ausgewählten Datumsbereich.</Phrase>
      <Phrase Key="Bibid_Vid_Header">BIBID : VID</Phrase>
      <Phrase Key="Mets_Type_Header">METS-TYP</Phrase>
      <Phrase Key="Description_Header">BESCHREIBUNG</Phrase>

      <Phrase Key="Global_Values_Header">GLOBALE WERTE</Phrase>
      <Phrase Key="Application_State_Header">WERTE DES ANWENDUNGSSTATUS</Phrase>
      <Phrase Key="Local_Cache_State_Header">LOKAL ZWISCHENGESPEICHERTE OBJEKTE</Phrase>
      <Phrase Key="Session_State_Header">WERTE DES SITZUNGSSTATUS</Phrase>
      <Phrase Key="Instance_Name_Header">INSTANZNAME</Phrase>
      <Phrase Key="Key_Header">SCHLÜSSEL</Phrase>
      <Phrase Key="Object_Header">OBJEKT</Phrase>
      <Phrase Key="None_Placeholder">( keine )</Phrase>
      <Phrase Key="Application_State_Error">Beim Abrufen der Speicherverwaltungsinformationen des Anwendungsstatus ist ein Fehler aufgetreten</Phrase>
      <Phrase Key="Local_Cache_Error">Beim Abrufen der Informationen zur Verwaltung des Speicher-Caches ist ein Fehler aufgetreten</Phrase>
      <Phrase Key="Session_State_Error">Beim Abrufen der Speicherverwaltungsinformationen des Sitzungsstatus ist ein Fehler aufgetreten</Phrase>

      <Phrase Key="Aggregations_Tree_Intro">Nachfolgend finden Sie den vollständigen Stammbaum aller Aggregationen in dieser Bibliothek. Dies umfasst alle aktiven Aggregationen sowie alle ausgeblendeten oder inaktiven Sammlungen.</Phrase>
      <Phrase Key="View_Table_View_Link">Klicken Sie hier, um die Aggregationen in der Tabellenansicht anzuzeigen</Phrase>
      <Phrase Key="Collapse_All">Alle Einklappen</Phrase>
      <Phrase Key="Expand_All">Alle Erweitern</Phrase>
      <Phrase Key="Collection_Hierarchy">Sammlungshierarchie</Phrase>
      <Phrase Key="Institutions">Institutionen</Phrase>

      <Phrase Key="Aggregations_List_Intro">Nachfolgend finden Sie die vollständige Stammliste aller Aggregationen in dieser Bibliothek. Dies umfasst alle aktiven Aggregationen sowie alle ausgeblendeten oder inaktiven Sammlungen.</Phrase>
      <Phrase Key="View_Tree_View_Link">Klicken Sie hier, um die Aggregationen in der Baumansicht anzuzeigen</Phrase>
      <Phrase Key="Code_Header">CODE</Phrase>
      <Phrase Key="Type_Header">TYP</Phrase>
      <Phrase Key="Name_Header">NAME</Phrase>
      <Phrase Key="Active_Header">AKTIV</Phrase>
      <Phrase Key="On_Home_Header">AUF STARTSEITE</Phrase>
      <Phrase Key="Parent_Header">ÜBERGEORDNET</Phrase>
      <Phrase Key="Search_Code_Placeholder">Code Suchen</Phrase>
      <Phrase Key="Search_Name_Placeholder">Namen Suchen</Phrase>

      <Phrase Key="No_New_Items_Message">KEINE NEUEN OBJEKTE</Phrase>
      <Phrase Key="Date_Header">DATUM</Phrase>
      <Phrase Key="All_Types">ALLE</Phrase>
      <Phrase Key="Online_Edits">ONLINE-BEARBEITUNGEN</Phrase>
      <Phrase Key="Online_Submits">ONLINE-EINREICHUNGEN</Phrase>
      <Phrase Key="Visibility_Changes">SICHTBARKEITSÄNDERUNGEN</Phrase>
      <Phrase Key="Bulk_Loaded">MASSENIMPORT</Phrase>
      <Phrase Key="Post_Processed">NACHBEARBEITET</Phrase>
      <Phrase Key="Large_Update_Count_Message">In der letzten Woche gab es eine ungewöhnlich hohe Anzahl von Aktualisierungen.</Phrase>
      <Phrase Key="Select_Update_Type_Message">Wählen Sie oben die Registerkarte für den Aktualisierungstyp aus, um die Details anzuzeigen.</Phrase>
      <Phrase Key="User_Header">BENUTZER</Phrase>
      <Phrase Key="No_Tracking_Info_Message">KEINE VERFOLGUNGSINFORMATIONEN FÜR IHRE AUSWAHL.</Phrase>
      <Phrase Key="No_Info_Message">KEINE INFORMATIONEN FÜR IHRE AUSWAHL.</Phrase>

      <Phrase Key="Month_1">Januar</Phrase>
      <Phrase Key="Month_2">Februar</Phrase>
      <Phrase Key="Month_3">März</Phrase>
      <Phrase Key="Month_4">April</Phrase>
      <Phrase Key="Month_5">Mai</Phrase>
      <Phrase Key="Month_6">Juni</Phrase>
      <Phrase Key="Month_7">Juli</Phrase>
      <Phrase Key="Month_8">August</Phrase>
      <Phrase Key="Month_9">September</Phrase>
      <Phrase Key="Month_10">Oktober</Phrase>
      <Phrase Key="Month_11">November</Phrase>
      <Phrase Key="Month_12">Dezember</Phrase>
    </Section>

  </Localization>
</SobekCM_Config>
