<?xml version="1.0" encoding="utf-8" ?>
<SobekCM_Config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://sobekrepository.org/schemas/sobekcm_config"
	xsi:schemaLocation="http://sobekrepository.org/schemas/sobekcm_config
		http://sobekrepository.org/schemas/sobekcm_config.xsd">
  <Localization Language="it">

    <Section Name="Common">
      <Phrase Key="Go_To">Vai a:</Phrase>
      <Phrase Key="First_Page">Prima Pagina</Phrase>
      <Phrase Key="Previous_Page">Pagina Precedente</Phrase>
      <Phrase Key="Next_Page">Pagina Successiva</Phrase>
      <Phrase Key="Last_Page">Ultima Pagina</Phrase>
      <Phrase Key="First">Prima</Phrase>
      <Phrase Key="Previous">Precedente</Phrase>
      <Phrase Key="Next">Successiva</Phrase>
      <Phrase Key="Last">Ultima</Phrase>
    </Section>

    <Section Name="Text_Search">
      <Phrase Key="Search_This_Document">Cerca in questo documento</Phrase>
      <Phrase Key="Go">Vai</Phrase>
      <Phrase Key="Your_Search_For">La tua ricerca all'interno di questo documento per </Phrase>
      <Phrase Key="And_Not"> E NON </Phrase>
      <Phrase Key="And"> E </Phrase>
      <Phrase Key="Or"> O </Phrase>
      <Phrase Key="Not">non </Phrase>
      <Phrase Key="Resulted_In"> ha prodotto </Phrase>
      <Phrase Key="Matching_Pages"> pagine corrispondenti</Phrase>
      <Phrase Key="No_Matching_Pages">nessuna pagina corrispondente</Phrase>
      <Phrase Key="Expand_Results">Puoi ampliare i tuoi risultati cercando</Phrase>
      <Phrase Key="Restrict_Results">Puoi restringere i tuoi risultati cercando</Phrase>
    </Section>

    <Section Name="JPEG2000">
      <Phrase Key="Thumbnail">MINIATURA</Phrase>
    </Section>

    <Section Name="Citation_Common">
      <Phrase Key="Standard_View">VISUALIZZAZIONE STANDARD</Phrase>
      <Phrase Key="Marc_View">VISUALIZZAZIONE MARC</Phrase>
      <Phrase Key="Metadata_View">METADATI</Phrase>
      <Phrase Key="Usage_Statistics_View">STATISTICHE DI UTILIZZO</Phrase>
      <Phrase Key="Dark_Item_Message">Questo elemento è OSCURATO e non può essere visualizzato al momento</Phrase>
      <Phrase Key="Menu_Standard_View">Visualizzazione Standard</Phrase>
      <Phrase Key="Menu_Marc_View">Visualizzazione MARC</Phrase>
      <Phrase Key="Menu_Metadata">Metadati</Phrase>
      <Phrase Key="Menu_Usage_Statistics">Statistiche di Utilizzo</Phrase>
    </Section>

    <Section Name="Citation_Standard">
      <Phrase Key="Please_Log_On_Suffix">  Effettua l'accesso per visualizzarlo.</Phrase>
      <Phrase Key="Please_Request_Access_Suffix">  Richiedi l'accesso.</Phrase>
      <Phrase Key="Restricted_Item_Alt">Elemento Riservato</Phrase>
    </Section>

    <Section Name="Citation_MARC">
      <Phrase Key="Auto_Generated_Notice">Il record sopra riportato è stato generato automaticamente dal file METS.</Phrase>
    </Section>

    <Section Name="Metadata_Links">
      <Phrase Key="Intro_Html"><![CDATA[I dati (o metadati) relativi a questa risorsa digitale sono disponibili in vari formati di metadati. Per maggiori informazioni su questi formati, consulta la <a href="http://ufdc.ufl.edu/sobekcm/metadata">Sezione Metadati</a> delle informazioni sugli <a href="http://ufdc.ufl.edu/sobekcm/">Aspetti Tecnici</a>.]]></Phrase>
      <Phrase Key="Ead_View_Link">Visualizza Strumento di Ricerca (EAD)</Phrase>
      <Phrase Key="Ead_Description"><![CDATA[Questa raccolta archivistica è descritta con uno strumento di ricerca elettronico. Questo file di metadati contiene l'intera descrizione archivistica e l'elenco dei contenitori per questo materiale d'archivio. Questo file segue lo standard stabilito <a href="http://www.loc.gov/ead/">Encoded Archival Description</a> (EAD).]]></Phrase>
      <Phrase Key="Mets_View_Link">Visualizza METS/MODS Completo</Phrase>
      <Phrase Key="Mets_Description"><![CDATA[Questo file di metadati è il file di metadati di origine inviato insieme a tutti i file della risorsa digitale. Contiene tutte le informazioni di citazione ed elaborazione utilizzate per costruire questa risorsa. Questo file segue lo standard stabilito <a href="http://www.loc.gov/standards/mets/">Metadata Encoding and Transmission Standard</a> (METS) e <a href="http://www.loc.gov/standards/mods/">Metadata Object Description Schema</a> (MODS). Questo file METS/MODS è stato letto nel momento in cui questo elemento è stato caricato in memoria ed è utilizzato per visualizzare tutte le informazioni nella visualizzazione standard e nella visualizzazione MARC della citazione.]]></Phrase>
      <Phrase Key="Marc_Xml_View_Link">Visualizza File MARC XML</Phrase>
      <Phrase Key="Marc_Xml_Description"><![CDATA[I metadati inseriti vengono anche convertiti nel formato MARC XML, per l'interoperabilità con altri sistemi di cataloghi bibliotecari. Questo rappresenta gli stessi dati disponibili nella <a href="{0}">VISUALIZZAZIONE MARC</a>, tranne per il fatto che si tratta di un file XML statico. Questo file segue lo <a href="http://www.loc.gov/standards/marcxml/">schema MarcXML</a>.]]></Phrase>
      <Phrase Key="Tei_View_Link">Visualizza File TEI/Testo</Phrase>
      <Phrase Key="Tei_Description"><![CDATA[Il testo completo di questo elemento è disponibile anche nel file scaricabile dello standard stabilito <a href="http://www.tei-c.org/index.xml">Text Encoding Initiative</a> (TEI).]]></Phrase>
      <Phrase Key="Iiif_View_Link">Manifesto IIIF</Phrase>
      <Phrase Key="Iiif_Description"><![CDATA[Un <a href="https://iiif.io/get-started/how-iiif-works/">Manifesto IIIF</a> è un documento JSON-LD strutturato che raggruppa dati strutturali, metadati descrittivi e collegamenti ai contenuti per indicare a un visualizzatore digitale come visualizzare e navigare un oggetto complesso come un libro, un manoscritto o un'opera d'arte.]]></Phrase>
    </Section>

    <Section Name="Item_Usage_Stats">
      <Phrase Key="Compiled_Monthly_Notice">Le statistiche di utilizzo degli elementi vengono compilate una volta al mese in base ai registri di utilizzo del mese precedente e non contengono alcuna informazione personale.</Phrase>
      <Phrase Key="Viewed_Times_Sentence"><![CDATA[Questo elemento è stato visualizzato <%HITS%> volte in <%SESSIONS%> visite.  Di seguito sono riportati i dettagli sull'utilizzo complessivo di questo elemento all'interno di questa biblioteca.<br /><br />Per le definizioni di questi termini, consulta le <a href="{0}" target="_BLANK">definizioni sulla pagina principale delle statistiche</a>.]]></Phrase>
      <Phrase Key="Date">Data</Phrase>
      <Phrase Key="Views">Visualizzazioni</Phrase>
      <Phrase Key="Visits">Visite</Phrase>
      <Phrase Key="Year_Statistics_Suffix"> STATISTICHE</Phrase>
      <Phrase Key="Total">TOTALE</Phrase>
      <Phrase Key="No_Stats_Yet_Message">Le statistiche di utilizzo vengono accumulate mensilmente e non sono ancora state registrate per questo elemento.</Phrase>
      <Phrase Key="Stats_Unavailable_Message">Le statistiche di utilizzo non sono temporaneamente disponibili. Riprova più tardi.</Phrase>
      <Phrase Key="Month_1">Gennaio</Phrase>
      <Phrase Key="Month_2">Febbraio</Phrase>
      <Phrase Key="Month_3">Marzo</Phrase>
      <Phrase Key="Month_4">Aprile</Phrase>
      <Phrase Key="Month_5">Maggio</Phrase>
      <Phrase Key="Month_6">Giugno</Phrase>
      <Phrase Key="Month_7">Luglio</Phrase>
      <Phrase Key="Month_8">Agosto</Phrase>
      <Phrase Key="Month_9">Settembre</Phrase>
      <Phrase Key="Month_10">Ottobre</Phrase>
      <Phrase Key="Month_11">Novembre</Phrase>
      <Phrase Key="Month_12">Dicembre</Phrase>
    </Section>

    <Section Name="SearchEngineIndexing">
      <Phrase Key="Citation_Label">Citazione</Phrase>
      <Phrase Key="Downloads_Label">Download</Phrase>
      <Phrase Key="Full_Text_Label">Testo Completo</Phrase>
      <Phrase Key="Unable_To_Read_File">Impossibile leggere il file: {0}</Phrase>
    </Section>

    <Section Name="JPEG">
      <Phrase Key="Menu_Standard">Standard</Phrase>
      <Phrase Key="Zoomable_Switch_Prompt">Clicca sull'immagine qui sotto per passare alla versione ingrandibile</Phrase>
      <Phrase Key="Zoomable_Switch_Title">Clicca sull'immagine per passare alla versione ingrandibile</Phrase>
    </Section>

    <Section Name="PDF">
      <Phrase Key="Menu_Label_Default">PDF</Phrase>
      <Phrase Key="Error_No_Pdf_Found">ERRORE: IMPOSSIBILE TROVARE UN FILE PDF DA VISUALIZZARE IN QUESTO ELEMENTO!</Phrase>
      <Phrase Key="Download_This_Pdf">Scarica questo PDF</Phrase>
      <Phrase Key="Download_Adobe_Reader_Alt">Scarica Adobe Reader</Phrase>
    </Section>

    <Section Name="Text_Viewer">
      <Phrase Key="Menu_Text">Testo</Phrase>
      <Phrase Key="Unknown_Error">Errore sconosciuto durante il recupero del testo</Phrase>
      <Phrase Key="No_Text_File">Non esiste alcun file di testo per questa pagina</Phrase>
      <Phrase Key="No_Text_Recorded">Nessun testo registrato per questa pagina</Phrase>
    </Section>

    <Section Name="TEI">
      <Phrase Key="Menu_Default_Label">TEI</Phrase>
      <Phrase Key="Transform_Error_Html"><![CDATA[Errore durante la trasformazione XSLT del TEI<br /><br />{0}]]></Phrase>
    </Section>

    <Section Name="HTML_Viewer">
      <Phrase Key="Menu_Default_Label">HTML</Phrase>
      <Phrase Key="Unable_To_Pull_Html_Sentence"><![CDATA[Impossibile caricare la visualizzazione html per questo elemento ( <a href="{0}">fonte</a> )]]></Phrase>
      <Phrase Key="Apologize_Sentence">Ci scusiamo per l'inconveniente.</Phrase>
      <Phrase Key="Report_Problem_Sentence"><![CDATA[Clicca <a href="{0}">qui</a> per segnalare il problema.]]></Phrase>
    </Section>

    <Section Name="Embedded_Web_Content">
      <Phrase Key="Menu_Content_Label">Contenuto</Phrase>
      <Phrase Key="Viewer_Title">Contenuto</Phrase>
    </Section>

    <Section Name="EmbeddedVideo">
      <Phrase Key="Menu_Video_Label">Video</Phrase>
      <Phrase Key="Viewer_Title">Video in Streaming</Phrase>
    </Section>

    <Section Name="Video">
      <Phrase Key="Menu_Video_Label">Video</Phrase>
    </Section>

    <Section Name="Audio">
      <Phrase Key="Menu_Audio_Label">Audio</Phrase>
    </Section>

    <Section Name="Google_Map">
      <Phrase Key="Menu_Default_Label">Localizza!</Phrase>
      <Phrase Key="Menu_Map_Search">Ricerca sulla Mappa</Phrase>
      <Phrase Key="Menu_Search_Results">Risultati di Ricerca</Phrase>
      <Phrase Key="Menu_Map_Coverage">Copertura della Mappa</Phrase>
      <Phrase Key="Search_Button">Cerca</Phrase>
      <Phrase Key="Find_Address_Button">Trova Indirizzo</Phrase>
      <Phrase Key="Instructions_Step1_Html"><![CDATA[Usa il pulsante <i>Seleziona Area</i> qui sotto per disegnare un rettangolo di ricerca sulla mappa, oppure inserisci un indirizzo e premi <i>Trova Indirizzo</i>.]]></Phrase>
      <Phrase Key="Instructions_Step2_Html"><![CDATA[Premi il pulsante <i>Cerca</i> per vedere i risultati]]></Phrase>
      <Phrase Key="Address_Label">Indirizzo:</Phrase>
      <Phrase Key="Address_Placeholder">Inserisci un indirizzo ( es., 12 Main Street, Gainesville Florida )</Phrase>
      <Phrase Key="No_Matches_Message"><![CDATA[Non ci sono state corrispondenze all'interno di questo elemento per la tua ricerca geografica. &nbsp; ]]></Phrase>
      <Phrase Key="Modify_Item_Search">Modifica la ricerca nell'elemento</Phrase>
      <Phrase Key="Modify_Search_Within_Flight">Modifica la ricerca all'interno del volo</Phrase>
      <Phrase Key="Search_Other_Items_Link">Clicca qui per cercare altri elementi nella raccolta corrente</Phrase>
      <Phrase Key="Matching_Results_Intro">I seguenti risultati corrispondono alla tua ricerca geografica:</Phrase>
      <Phrase Key="Zoom_To_Extent">Adatta all'estensione</Phrase>
      <Phrase Key="Zoom_To_Matches">Adatta ai risultati</Phrase>
      <Phrase Key="Search_All_Flights">Cerca in tutti i voli</Phrase>
      <Phrase Key="Search_Entire_Collection">Cerca nell'intera raccolta</Phrase>
      <Phrase Key="Google_Maps_Not_Enabled_Html"><![CDATA[<p style="font-weight:bold; text-size:1.1em">ERRORE: Google Maps non è abilitato su questa istanza di SobekCM!</p>
              <p>Per abilitarlo, crea una chiave API di Google Maps e inseriscila nelle impostazioni generali del sistema.</p>
              <p>Le informazioni su questa procedura sono disponibili qui: <a href="http://sobekrepository.org/software/config/googlemaps" style="color:white;">http://sobekrepository.org/software/config/googlemaps</a>.</p>]]></Phrase>
    </Section>

    <Section Name="GnuBooks_PageTurner">
      <Phrase Key="Menu_Default_Label">Sfogliatore</Phrase>
      <Phrase Key="No_Javascript_Message">Le presentazioni dello sfogliatore richiedono un browser con Javascript abilitato.</Phrase>
    </Section>

    <Section Name="MultiVolumes">
      <Phrase Key="Menu_All_Volumes">Tutti i Volumi</Phrase>
      <Phrase Key="Menu_All_Issues">Tutti i Numeri</Phrase>
      <Phrase Key="Menu_Related_Maps">Mappe Correlate</Phrase>
      <Phrase Key="Menu_Related_Flights">Voli Correlati</Phrase>
      <Phrase Key="All_Volumes">Tutti i Volumi</Phrase>
      <Phrase Key="All_Issues">Tutti i Numeri</Phrase>
      <Phrase Key="Related_Map_Sets">Set di Mappe Correlate</Phrase>
      <Phrase Key="Related_Flights">Voli Correlati</Phrase>
      <Phrase Key="Related_Titles_Heading">Titoli Correlati</Phrase>
      <Phrase Key="Vid_Header">VID</Phrase>
      <Phrase Key="Level_1_Header">LIVELLO 1</Phrase>
      <Phrase Key="Level_2_Header">LIVELLO 2</Phrase>
      <Phrase Key="Level_3_Header">LIVELLO 3</Phrase>
      <Phrase Key="Access_Header">ACCESSO</Phrase>
      <Phrase Key="Access_Dark">oscurato</Phrase>
      <Phrase Key="Access_Private">privato</Phrase>
      <Phrase Key="Access_Public">pubblico</Phrase>
      <Phrase Key="Access_Restricted">riservato</Phrase>
      <Phrase Key="Missing_Thumbnail_Alt">MINIATURA MANCANTE</Phrase>
      <Phrase Key="Dark_Suffix"> ( oscurato )</Phrase>
      <Phrase Key="Private_Suffix"> ( privato )</Phrase>
      <Phrase Key="Restricted_Suffix"> ( si applicano alcune restrizioni )</Phrase>
      <Phrase Key="All_Private_Or_Dark_Suffix"> ( tutti privati o oscurati )</Phrase>
    </Section>

    <Section Name="OpenTextbook_Common">
      <Phrase Key="Search_Label">Cerca: </Phrase>
      <Phrase Key="Zoom_Label">Zoom: </Phrase>
      <Phrase Key="Unnumbered_Page_Prefix">Non numerata </Phrase>
      <Phrase Key="Page_Prefix">Pagina </Phrase>
      <Phrase Key="Previous_Section_Alt">Vai alla sezione precedente</Phrase>
      <Phrase Key="Next_Section_Alt">Vai alla sezione successiva</Phrase>
    </Section>

    <Section Name="OpenTextbook">
      <Phrase Key="Menu_Default_Label">Libro di Testo Aperto</Phrase>
      <Phrase Key="Welcome_Heading">Benvenuto in OpenPublishing</Phrase>
      <Phrase Key="Welcome_Edit_Instructions"><![CDATA[Puoi modificare il tuo elemento qui, selezionando <i>Modifica Contenuto</i> nell'angolo in alto a destra di questa pagina.]]></Phrase>
      <Phrase Key="Welcome_Toc_Instructions"><![CDATA[Per aggiornare il tuo indice e creare capitoli, usa lo strumento OpenPublishing, disponibile nell'intestazione interna o tramite l'opzione <i>GESTISCI</i> nel menu dell'elemento.]]></Phrase>
      <Phrase Key="Chapter_Edit_Instructions"><![CDATA[Puoi modificare questo capitolo qui, selezionando <i>Modifica Contenuto</i> nell'angolo in alto a destra di questa pagina.]]></Phrase>
    </Section>

    <Section Name="OpenTextbook_Divisions">
      <Phrase Key="Menu_Default_Label">Editore Aperto</Phrase>
    </Section>

    <Section Name="Related_Images">
      <Phrase Key="Menu_Default_Label">Miniature</Phrase>
      <Phrase Key="Thumbnails_Per_Page_Suffix">miniature per pagina</Phrase>
      <Phrase Key="Go_To_Thumbnail_Label">Vai alla miniatura</Phrase>
      <Phrase Key="Switch_To_Small">Passa a miniature piccole</Phrase>
      <Phrase Key="Switch_To_Medium">Passa a miniature medie</Phrase>
      <Phrase Key="Switch_To_Large">Passa a miniature grandi</Phrase>
      <Phrase Key="All_Thumbnails">Tutte le miniature</Phrase>
      <Phrase Key="Small_Alt">Piccola</Phrase>
      <Phrase Key="Medium_Alt">Media</Phrase>
      <Phrase Key="Large_Alt">Grande</Phrase>
      <Phrase Key="Missing_Thumbnail_Alt">MINIATURA MANCANTE</Phrase>
      <Phrase Key="Page_Number_Placeholder">(pagina {0})</Phrase>
    </Section>

    <Section Name="Downloads">
      <Phrase Key="Menu_Default_Label">Download</Phrase>
      <Phrase Key="Explanation_Has_Downloads">Questo elemento presenta i seguenti download:</Phrase>
      <Phrase Key="Explanation_Only_Downloads">Questo elemento è disponibile solo come i seguenti download:</Phrase>
      <Phrase Key="Tiles_Available_Heading">I seguenti riquadri sono disponibili per il download:</Phrase>
      <Phrase Key="Jpeg2000_Available_Heading">I seguenti file JPEG2000 sono disponibili per il download:</Phrase>
      <Phrase Key="Save_Link_As_Instructions">Per scaricare, fai clic con il pulsante destro del mouse sul nome del riquadro qui sotto, seleziona "Salva collegamento con nome..." e salva il JPEG2000 sul tuo computer locale.</Phrase>
      <Phrase Key="Save_Target_As_Instructions">Per scaricare, fai clic con il pulsante destro del mouse sul nome del riquadro qui sotto, seleziona "Salva destinazione con nome..." e salva il JPEG2000 sul tuo computer locale. </Phrase>
    </Section>

    <Section Name="Item_Tracking_Common">
      <Phrase Key="Header">Informazioni di Tracciamento</Phrase>
      <Phrase Key="Milestones_Tab">TAPPE</Phrase>
      <Phrase Key="History_Tab">CRONOLOGIA</Phrase>
      <Phrase Key="Media_Tab">MEDIA</Phrase>
      <Phrase Key="Archives_Tab">ARCHIVI</Phrase>
      <Phrase Key="Directory_Tab">DIRECTORY</Phrase>
    </Section>

    <Section Name="Tracking">
      <Phrase Key="No_History_Message">L'ELEMENTO NON HA CRONOLOGIA</Phrase>
      <Phrase Key="History_Table_Title">CRONOLOGIA DELL'ELEMENTO</Phrase>
      <Phrase Key="Workflow_Name_Column">NOME DEL FLUSSO DI LAVORO</Phrase>
      <Phrase Key="Completed_Date_Column">DATA DI COMPLETAMENTO</Phrase>
      <Phrase Key="User_Column">UTENTE</Phrase>
      <Phrase Key="Location_Notes_Column">POSIZIONE / NOTE</Phrase>
    </Section>

    <Section Name="Archives">
      <Phrase Key="Header">Informazioni di Archiviazione</Phrase>
      <Phrase Key="No_Info_Message">L'ELEMENTO NON HA INFORMAZIONI DI ARCHIVIAZIONE</Phrase>
      <Phrase Key="Table_Title">INFORMAZIONI SUL FILE ARCHIVIATO</Phrase>
      <Phrase Key="Filename_Column">NOME FILE</Phrase>
      <Phrase Key="Size_Column">DIMENSIONE</Phrase>
      <Phrase Key="Original_Creation_Date_Column">DATA DI CREAZIONE ORIGINALE</Phrase>
      <Phrase Key="Stored_Date_Column">DATA DI ARCHIVIAZIONE</Phrase>
      <Phrase Key="Status_Column">STATO</Phrase>
      <Phrase Key="Location_Column">POSIZIONE</Phrase>
    </Section>

    <Section Name="UF_Archives">
      <Phrase Key="Last_Write_Date_Column">DATA ULTIMA SCRITTURA</Phrase>
      <Phrase Key="Archived_Date_Column">DATA DI ARCHIVIAZIONE</Phrase>
    </Section>

    <Section Name="Directory">
      <Phrase Key="Page_Files_Header">FILE DI PAGINA</Phrase>
      <Phrase Key="Metadata_Files_Header">FILE DI METADATI</Phrase>
      <Phrase Key="Other_Files_Header">ALTRI FILE</Phrase>
      <Phrase Key="Name_Column">NOME</Phrase>
      <Phrase Key="Date_Modified_Column">DATA DI MODIFICA</Phrase>
      <Phrase Key="Type_Column">TIPO</Phrase>
      <Phrase Key="Size_Column">DIMENSIONE</Phrase>
      <Phrase Key="Page_Fallback_Label">PAGINA</Phrase>
      <Phrase Key="Unable_To_Pull_Directory_Info">IMPOSSIBILE RECUPERARE LE INFORMAZIONI DELLA DIRECTORY</Phrase>
      <Phrase Key="Generic_File_Suffix">File</Phrase>
      <Phrase Key="Jpeg_Image">Immagine JPEG</Phrase>
      <Phrase Key="Thumbnail_Image">Immagine miniatura</Phrase>
      <Phrase Key="Qc_Jpeg_Image">Immagine JPEG di controllo qualità</Phrase>
      <Phrase Key="Archival_Tiff_Image">Immagine TIFF di archiviazione</Phrase>
      <Phrase Key="Jpeg2000_Zoomable_Image">Immagine ingrandibile JPEG2000</Phrase>
      <Phrase Key="Adobe_Acrobat_Document">Documento Adobe Acrobat</Phrase>
      <Phrase Key="Text_File">File di testo</Phrase>
      <Phrase Key="Excel_Worksheet">Foglio di lavoro Microsoft Office Excel</Phrase>
      <Phrase Key="Word_Document">Documento Microsoft Office Word</Phrase>
      <Phrase Key="Powerpoint_Presentation">Presentazione Microsoft Office PowerPoint</Phrase>
      <Phrase Key="Shockwave_Flash_Object">Oggetto Shockwave Flash</Phrase>
      <Phrase Key="Prime_Recognition_Output_File">File di output Prime Recognition</Phrase>
      <Phrase Key="Static_Citation_Page">Pagina di citazione statica</Phrase>
      <Phrase Key="Html_Document">Documento HTML</Phrase>
      <Phrase Key="Citation_Only_Mets_File">File METS solo citazione</Phrase>
      <Phrase Key="Marc_Xml_File">File MARC XML</Phrase>
      <Phrase Key="Sobekcm_Service_Mets_File">File METS del servizio SobekCM</Phrase>
      <Phrase Key="Text_Indexing_File">File di indicizzazione del testo</Phrase>
      <Phrase Key="Xml_Document">Documento XML</Phrase>
      <Phrase Key="User_Submitted_Mets_File">File METS inviato dall'utente</Phrase>
      <Phrase Key="Fda_Ingest_Report">Rapporto di ingest FDA</Phrase>
      <Phrase Key="Previous_Mets_File_Version">Versione precedente del file METS</Phrase>
      <Phrase Key="Backup_File">File di backup</Phrase>
    </Section>

    <Section Name="Milestones">
      <Phrase Key="Header">TAPPE DI DIGITALIZZAZIONE</Phrase>
      <Phrase Key="Digital_Acquisition_Label">Acquisizione Digitale</Phrase>
      <Phrase Key="Post_Acquisition_Processing_Label">Elaborazione Post-Acquisizione</Phrase>
      <Phrase Key="Quality_Control_Label">Controllo Qualità Eseguito</Phrase>
      <Phrase Key="Online_Complete_Label">Online Completato</Phrase>
      <Phrase Key="Not_Applicable">n/d</Phrase>
    </Section>

    <Section Name="TrackingSheet">
      <Phrase Key="Material_Info_Header">Informazioni sul Materiale</Phrase>
      <Phrase Key="Title_Label">Titolo:</Phrase>
      <Phrase Key="Author_Label">Autore:</Phrase>
      <Phrase Key="Publisher_Label">Editore:</Phrase>
      <Phrase Key="Oclc_Label">OCLC:</Phrase>
      <Phrase Key="Aleph_Label">Aleph:</Phrase>
      <Phrase Key="Material_Type_Label">Tipo di Materiale:</Phrase>
      <Phrase Key="Aggregations_Label">Raccolte:</Phrase>
      <Phrase Key="Serial_Hierarchy_Header">Gerarchia Seriale</Phrase>
      <Phrase Key="Level_Label">Livello</Phrase>
      <Phrase Key="Imaging_Progress_Header">Avanzamento Digitalizzazione</Phrase>
      <Phrase Key="Name_Label">Nome:</Phrase>
      <Phrase Key="Date_Label">Data:</Phrase>
      <Phrase Key="Page_Range_Label">Intervallo di Pagine:</Phrase>
      <Phrase Key="Duration_Label">Durata:</Phrase>
      <Phrase Key="Physical_Material_Header">Materiale Fisico</Phrase>
      <Phrase Key="Born_Digital_Label">L'elemento è nativo digitale</Phrase>
      <Phrase Key="Material_Recd_Label">Materiale Ricevuto:</Phrase>
      <Phrase Key="Disposition_Advice_Label">Consiglio di Disposizione:</Phrase>
      <Phrase Key="Additional_Notes_Header">Note Aggiuntive:</Phrase>
      <Phrase Key="Start_Scanning_Label">Inizio Scansione</Phrase>
      <Phrase Key="End_Scanning_Label">Fine Scansione</Phrase>
      <Phrase Key="Start_Processing_Label">Inizio Elaborazione</Phrase>
      <Phrase Key="End_Processing_Label">Fine Elaborazione</Phrase>
    </Section>

    <Section Name="UF_Media">
      <Phrase Key="No_Info_Message">L'ELEMENTO NON È ARCHIVIATO SU SUPPORTO</Phrase>
      <Phrase Key="Table_Title">ARCHIVIO CD/DVD</Phrase>
      <Phrase Key="Cd_Number_Column">NUMERO CD/DVD</Phrase>
      <Phrase Key="File_Range_Column">INTERVALLO FILE</Phrase>
      <Phrase Key="Images_Column">IMMAGINI</Phrase>
      <Phrase Key="Size_Column">DIMENSIONE</Phrase>
      <Phrase Key="Date_Burned_Column">DATA DI MASTERIZZAZIONE</Phrase>
    </Section>

    <Section Name="ManageMenu_Item">
      <Phrase Key="Item_Viewer_Title">Gestisci questo Elemento</Phrase>
      <Phrase Key="Item_Intro_Prompt">Come desideri gestire questo elemento oggi?</Phrase>
      <Phrase Key="Group_Level_Note">Inoltre, le seguenti modifiche possono essere apportate a livello di gruppo di elementi:</Phrase>
      <Phrase Key="Group_Viewer_Title">Gestisci questo Gruppo di Elementi</Phrase>
      <Phrase Key="Group_Intro_Prompt">Come desideri gestire questo gruppo di elementi oggi?</Phrase>
      <Phrase Key="Open_Textbook_Desc">Gestisci questo elemento di libro di testo aperto, che ti consente di modificare il contenuto della pagina, aggiungere immagini, aggiungere nuovi capitoli, ecc.</Phrase>
      <Phrase Key="Edit_Metadata_Link">Modifica Metadati Elemento</Phrase>
      <Phrase Key="Edit_Metadata_Desc">Modifica le informazioni su questo elemento che appaiono nella citazione/descrizione. Queste sono informazioni di base sull'elemento originale e su questa manifestazione digitale.</Phrase>
      <Phrase Key="Edit_Tei_Link">Modifica TEI</Phrase>
      <Phrase Key="Edit_Tei_Desc">Modifica questo oggetto TEI, incluso il file XSLT e CSS utilizzato, nonché il caricamento di un nuovo file TEI o la modifica online del file TEI esistente.</Phrase>
      <Phrase Key="Edit_Behaviors_Link">Modifica Comportamenti Elemento</Phrase>
      <Phrase Key="Edit_Behaviors_Desc">Modifica il modo in cui questo elemento si comporta in questa biblioteca, incluse le raccolte sotto cui appare, i marchi testuali a sinistra e quali tipi di visualizzatore sono accessibili pubblicamente.</Phrase>
      <Phrase Key="Qc_Link">Gestisci Pagine e Divisioni (Controllo Qualità)</Phrase>
      <Phrase Key="Qc_Desc">Riordina le immagini di pagina, assegna nomi alle pagine, assegna divisioni ed elimina e aggiungi nuove immagini di pagina a questo elemento.</Phrase>
      <Phrase Key="Work_History_Link">Visualizza Cronologia Lavoro</Phrase>
      <Phrase Key="Work_History_Desc">Visualizza la cronologia di tutto il lavoro svolto su questo elemento. Da questa vista, puoi anche vedere le tappe di digitalizzazione e le informazioni sui file delle risorse digitali.</Phrase>
      <Phrase Key="Download_Files_Link">Gestisci File di Download</Phrase>
      <Phrase Key="Download_Files_Desc">Carica nuovi file da scaricare o rimuovi i file esistenti allegati a questo elemento per il download. Questo generalmente include tutto tranne le immagini di pagina.</Phrase>
      <Phrase Key="Geospatial_Link">Gestisci Dati Geospaziali (beta)</Phrase>
      <Phrase Key="Geospatial_Desc">Aggiungi informazioni geospaziali per questo elemento. Questo può essere semplice come una posizione per una fotografia o può essere una sovrapposizione per una mappa. È possibile disegnare anche punti, linee e poligoni di interesse.</Phrase>
      <Phrase Key="Tracking_Sheet_Link">Visualizza Foglio di Tracciamento</Phrase>
      <Phrase Key="Tracking_Sheet_Desc">Questo può essere utilizzato per stampare il foglio di tracciamento per questo elemento, che può essere utilizzato come parte del flusso di lavoro di digitalizzazione integrato.</Phrase>
      <Phrase Key="Group_Behaviors_Link">Modifica Comportamenti Gruppo Elementi</Phrase>
      <Phrase Key="Group_Behaviors_Desc">Imposta il titolo sotto il quale tutti questi elementi appaiono nei risultati di ricerca e imposta gli skin web sotto i quali tutti questi elementi dovrebbero apparire.</Phrase>
      <Phrase Key="Add_Volume_Link">Aggiungi Nuovo Volume</Phrase>
      <Phrase Key="Add_Volume_Desc">Aggiungi un nuovo volume correlato a questo gruppo di elementi.&lt;br /&gt;&lt;br /&gt;</Phrase>
      <Phrase Key="Mass_Update_Link">Aggiornamento Massivo Comportamenti Elementi</Phrase>
      <Phrase Key="Mass_Update_Desc">Questo consente di impostare comportamenti a livello di elemento per tutti gli elementi all'interno di questo gruppo di elementi, incluse le raccolte sotto cui appare, i marchi testuali a sinistra e quali tipi di visualizzatore sono accessibili pubblicamente.</Phrase>
    </Section>

  </Localization>
</SobekCM_Config>
