<?xml version="1.0" encoding="utf-8" ?>
<SobekCM_Config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://sobekrepository.org/schemas/sobekcm_config"
	xsi:schemaLocation="http://sobekrepository.org/schemas/sobekcm_config
		http://sobekrepository.org/schemas/sobekcm_config.xsd">
  <Localization Language="it">

    <Section Name="Common">
      <Phrase Key="Go_To">Vai a:</Phrase>
      <Phrase Key="First_Page">Prima Pagina</Phrase>
      <Phrase Key="Previous_Page">Pagina Precedente</Phrase>
      <Phrase Key="Next_Page">Pagina Successiva</Phrase>
      <Phrase Key="Last_Page">Ultima Pagina</Phrase>
      <Phrase Key="First">Prima</Phrase>
      <Phrase Key="Previous">Precedente</Phrase>
      <Phrase Key="Next">Successiva</Phrase>
      <Phrase Key="Last">Ultima</Phrase>
    </Section>

    <Section Name="Text_Search">
      <Phrase Key="Search_This_Document">Cerca in questo documento</Phrase>
      <Phrase Key="Go">Vai</Phrase>
      <Phrase Key="Your_Search_For">La tua ricerca all'interno di questo documento per </Phrase>
      <Phrase Key="And_Not"> E NON </Phrase>
      <Phrase Key="And"> E </Phrase>
      <Phrase Key="Or"> O </Phrase>
      <Phrase Key="Not">non </Phrase>
      <Phrase Key="Resulted_In"> ha prodotto </Phrase>
      <Phrase Key="Matching_Pages"> pagine corrispondenti</Phrase>
      <Phrase Key="No_Matching_Pages">nessuna pagina corrispondente</Phrase>
      <Phrase Key="Expand_Results">Puoi ampliare i tuoi risultati cercando</Phrase>
      <Phrase Key="Restrict_Results">Puoi restringere i tuoi risultati cercando</Phrase>
    </Section>

    <Section Name="JPEG2000">
      <Phrase Key="Thumbnail">MINIATURA</Phrase>
    </Section>

    <Section Name="Citation_Common">
      <Phrase Key="Standard_View">VISUALIZZAZIONE STANDARD</Phrase>
      <Phrase Key="Marc_View">VISUALIZZAZIONE MARC</Phrase>
      <Phrase Key="Metadata_View">METADATI</Phrase>
      <Phrase Key="Usage_Statistics_View">STATISTICHE DI UTILIZZO</Phrase>
      <Phrase Key="Dark_Item_Message">Questo elemento è OSCURATO e non può essere visualizzato al momento</Phrase>
      <Phrase Key="Menu_Standard_View">Visualizzazione Standard</Phrase>
      <Phrase Key="Menu_Marc_View">Visualizzazione MARC</Phrase>
      <Phrase Key="Menu_Metadata">Metadati</Phrase>
      <Phrase Key="Menu_Usage_Statistics">Statistiche di Utilizzo</Phrase>
    </Section>

    <Section Name="Citation_Standard">
      <Phrase Key="Please_Log_On_Suffix">  Effettua l'accesso per visualizzarlo.</Phrase>
      <Phrase Key="Please_Request_Access_Suffix">  Richiedi l'accesso.</Phrase>
      <Phrase Key="Restricted_Item_Alt">Elemento Riservato</Phrase>
    </Section>

    <Section Name="Citation_MARC">
      <Phrase Key="Auto_Generated_Notice">Il record sopra riportato è stato generato automaticamente dal file METS.</Phrase>
    </Section>

    <Section Name="Metadata_Links">
      <Phrase Key="Intro_Html"><![CDATA[I dati (o metadati) relativi a questa risorsa digitale sono disponibili in vari formati di metadati. Per maggiori informazioni su questi formati, consulta la <a href="http://ufdc.ufl.edu/sobekcm/metadata">Sezione Metadati</a> delle informazioni sugli <a href="http://ufdc.ufl.edu/sobekcm/">Aspetti Tecnici</a>.]]></Phrase>
      <Phrase Key="Ead_View_Link">Visualizza Strumento di Ricerca (EAD)</Phrase>
      <Phrase Key="Ead_Description"><![CDATA[Questa raccolta archivistica è descritta con uno strumento di ricerca elettronico. Questo file di metadati contiene l'intera descrizione archivistica e l'elenco dei contenitori per questo materiale d'archivio. Questo file segue lo standard stabilito <a href="http://www.loc.gov/ead/">Encoded Archival Description</a> (EAD).]]></Phrase>
      <Phrase Key="Mets_View_Link">Visualizza METS/MODS Completo</Phrase>
      <Phrase Key="Mets_Description"><![CDATA[Questo file di metadati è il file di metadati di origine inviato insieme a tutti i file della risorsa digitale. Contiene tutte le informazioni di citazione ed elaborazione utilizzate per costruire questa risorsa. Questo file segue lo standard stabilito <a href="http://www.loc.gov/standards/mets/">Metadata Encoding and Transmission Standard</a> (METS) e <a href="http://www.loc.gov/standards/mods/">Metadata Object Description Schema</a> (MODS). Questo file METS/MODS è stato letto nel momento in cui questo elemento è stato caricato in memoria ed è utilizzato per visualizzare tutte le informazioni nella visualizzazione standard e nella visualizzazione MARC della citazione.]]></Phrase>
      <Phrase Key="Marc_Xml_View_Link">Visualizza File MARC XML</Phrase>
      <Phrase Key="Marc_Xml_Description"><![CDATA[I metadati inseriti vengono anche convertiti nel formato MARC XML, per l'interoperabilità con altri sistemi di cataloghi bibliotecari. Questo rappresenta gli stessi dati disponibili nella <a href="{0}">VISUALIZZAZIONE MARC</a>, tranne per il fatto che si tratta di un file XML statico. Questo file segue lo <a href="http://www.loc.gov/standards/marcxml/">schema MarcXML</a>.]]></Phrase>
      <Phrase Key="Tei_View_Link">Visualizza File TEI/Testo</Phrase>
      <Phrase Key="Tei_Description"><![CDATA[Il testo completo di questo elemento è disponibile anche nel file scaricabile dello standard stabilito <a href="http://www.tei-c.org/index.xml">Text Encoding Initiative</a> (TEI).]]></Phrase>
    </Section>

    <Section Name="Item_Usage_Stats">
      <Phrase Key="Compiled_Monthly_Notice">Le statistiche di utilizzo degli elementi vengono compilate una volta al mese in base ai registri di utilizzo del mese precedente e non contengono alcuna informazione personale.</Phrase>
      <Phrase Key="Viewed_Times_Sentence"><![CDATA[Questo elemento è stato visualizzato <%HITS%> volte in <%SESSIONS%> visite.  Di seguito sono riportati i dettagli sull'utilizzo complessivo di questo elemento all'interno di questa biblioteca.<br /><br />Per le definizioni di questi termini, consulta le <a href="{0}" target="_BLANK">definizioni sulla pagina principale delle statistiche</a>.]]></Phrase>
      <Phrase Key="Date">Data</Phrase>
      <Phrase Key="Views">Visualizzazioni</Phrase>
      <Phrase Key="Visits">Visite</Phrase>
      <Phrase Key="Year_Statistics_Suffix"> STATISTICHE</Phrase>
      <Phrase Key="Total">TOTALE</Phrase>
      <Phrase Key="No_Stats_Yet_Message">Le statistiche di utilizzo vengono accumulate mensilmente e non sono ancora state registrate per questo elemento.</Phrase>
      <Phrase Key="Month_1">Gennaio</Phrase>
      <Phrase Key="Month_2">Febbraio</Phrase>
      <Phrase Key="Month_3">Marzo</Phrase>
      <Phrase Key="Month_4">Aprile</Phrase>
      <Phrase Key="Month_5">Maggio</Phrase>
      <Phrase Key="Month_6">Giugno</Phrase>
      <Phrase Key="Month_7">Luglio</Phrase>
      <Phrase Key="Month_8">Agosto</Phrase>
      <Phrase Key="Month_9">Settembre</Phrase>
      <Phrase Key="Month_10">Ottobre</Phrase>
      <Phrase Key="Month_11">Novembre</Phrase>
      <Phrase Key="Month_12">Dicembre</Phrase>
    </Section>

    <Section Name="SearchEngineIndexing">
      <Phrase Key="Citation_Label">Citazione</Phrase>
      <Phrase Key="Downloads_Label">Download</Phrase>
      <Phrase Key="Full_Text_Label">Testo Completo</Phrase>
      <Phrase Key="Unable_To_Read_File">Impossibile leggere il file: {0}</Phrase>
    </Section>

    <Section Name="JPEG">
      <Phrase Key="Menu_Standard">Standard</Phrase>
      <Phrase Key="Zoomable_Switch_Prompt">Clicca sull'immagine qui sotto per passare alla versione ingrandibile</Phrase>
      <Phrase Key="Zoomable_Switch_Title">Clicca sull'immagine per passare alla versione ingrandibile</Phrase>
    </Section>

    <Section Name="PDF">
      <Phrase Key="Menu_Label_Default">PDF</Phrase>
      <Phrase Key="Error_No_Pdf_Found">ERRORE: IMPOSSIBILE TROVARE UN FILE PDF DA VISUALIZZARE IN QUESTO ELEMENTO!</Phrase>
      <Phrase Key="Download_This_Pdf">Scarica questo PDF</Phrase>
      <Phrase Key="Download_Adobe_Reader_Alt">Scarica Adobe Reader</Phrase>
    </Section>

    <Section Name="Text_Viewer">
      <Phrase Key="Menu_Text">Testo</Phrase>
      <Phrase Key="Unknown_Error">Errore sconosciuto durante il recupero del testo</Phrase>
      <Phrase Key="No_Text_File">Non esiste alcun file di testo per questa pagina</Phrase>
      <Phrase Key="No_Text_Recorded">Nessun testo registrato per questa pagina</Phrase>
    </Section>

    <Section Name="TEI">
      <Phrase Key="Menu_Default_Label">TEI</Phrase>
      <Phrase Key="Transform_Error_Html"><![CDATA[Errore durante la trasformazione XSLT del TEI<br /><br />{0}]]></Phrase>
    </Section>

    <Section Name="HTML_Viewer">
      <Phrase Key="Menu_Default_Label">HTML</Phrase>
      <Phrase Key="Unable_To_Pull_Html_Sentence"><![CDATA[Impossibile caricare la visualizzazione html per questo elemento ( <a href="{0}">fonte</a> )]]></Phrase>
      <Phrase Key="Apologize_Sentence">Ci scusiamo per l'inconveniente.</Phrase>
      <Phrase Key="Report_Problem_Sentence"><![CDATA[Clicca <a href="{0}">qui</a> per segnalare il problema.]]></Phrase>
    </Section>

    <Section Name="Embedded_Web_Content">
      <Phrase Key="Menu_Content_Label">Contenuto</Phrase>
      <Phrase Key="Viewer_Title">Contenuto</Phrase>
    </Section>

    <Section Name="EmbeddedVideo">
      <Phrase Key="Menu_Video_Label">Video</Phrase>
      <Phrase Key="Viewer_Title">Video in Streaming</Phrase>
    </Section>

    <Section Name="Video">
      <Phrase Key="Menu_Video_Label">Video</Phrase>
    </Section>

    <Section Name="Google_Map">
      <Phrase Key="Menu_Default_Label">Localizza!</Phrase>
      <Phrase Key="Menu_Map_Search">Ricerca sulla Mappa</Phrase>
      <Phrase Key="Menu_Search_Results">Risultati di Ricerca</Phrase>
      <Phrase Key="Menu_Map_Coverage">Copertura della Mappa</Phrase>
      <Phrase Key="Search_Button">Cerca</Phrase>
      <Phrase Key="Find_Address_Button">Trova Indirizzo</Phrase>
      <Phrase Key="Instructions_Step1_Html"><![CDATA[Usa il pulsante <i>Seleziona Area</i> qui sotto per disegnare un rettangolo di ricerca sulla mappa, oppure inserisci un indirizzo e premi <i>Trova Indirizzo</i>.]]></Phrase>
      <Phrase Key="Instructions_Step2_Html"><![CDATA[Premi il pulsante <i>Cerca</i> per vedere i risultati]]></Phrase>
      <Phrase Key="Address_Label">Indirizzo:</Phrase>
      <Phrase Key="Address_Placeholder">Inserisci un indirizzo ( es., 12 Main Street, Gainesville Florida )</Phrase>
      <Phrase Key="No_Matches_Message"><![CDATA[Non ci sono state corrispondenze all'interno di questo elemento per la tua ricerca geografica. &nbsp; ]]></Phrase>
      <Phrase Key="Modify_Item_Search">Modifica la ricerca nell'elemento</Phrase>
      <Phrase Key="Modify_Search_Within_Flight">Modifica la ricerca all'interno del volo</Phrase>
      <Phrase Key="Search_Other_Items_Link">Clicca qui per cercare altri elementi nella raccolta corrente</Phrase>
      <Phrase Key="Matching_Results_Intro">I seguenti risultati corrispondono alla tua ricerca geografica:</Phrase>
      <Phrase Key="Zoom_To_Extent">Adatta all'estensione</Phrase>
      <Phrase Key="Zoom_To_Matches">Adatta ai risultati</Phrase>
      <Phrase Key="Search_All_Flights">Cerca in tutti i voli</Phrase>
      <Phrase Key="Search_Entire_Collection">Cerca nell'intera raccolta</Phrase>
      <Phrase Key="Google_Maps_Not_Enabled_Html"><![CDATA[<p style="font-weight:bold; text-size:1.1em">ERRORE: Google Maps non è abilitato su questa istanza di SobekCM!</p>
              <p>Per abilitarlo, crea una chiave API di Google Maps e inseriscila nelle impostazioni generali del sistema.</p>
              <p>Le informazioni su questa procedura sono disponibili qui: <a href="http://sobekrepository.org/software/config/googlemaps" style="color:white;">http://sobekrepository.org/software/config/googlemaps</a>.</p>]]></Phrase>
    </Section>

    <Section Name="GnuBooks_PageTurner">
      <Phrase Key="Menu_Default_Label">Sfogliatore</Phrase>
      <Phrase Key="No_Javascript_Message">Le presentazioni dello sfogliatore richiedono un browser con Javascript abilitato.</Phrase>
    </Section>

    <Section Name="MultiVolumes">
      <Phrase Key="Menu_All_Volumes">Tutti i Volumi</Phrase>
      <Phrase Key="Menu_All_Issues">Tutti i Numeri</Phrase>
      <Phrase Key="Menu_Related_Maps">Mappe Correlate</Phrase>
      <Phrase Key="Menu_Related_Flights">Voli Correlati</Phrase>
      <Phrase Key="All_Volumes">Tutti i Volumi</Phrase>
      <Phrase Key="All_Issues">Tutti i Numeri</Phrase>
      <Phrase Key="Related_Map_Sets">Set di Mappe Correlate</Phrase>
      <Phrase Key="Related_Flights">Voli Correlati</Phrase>
      <Phrase Key="Related_Titles_Heading">Titoli Correlati</Phrase>
      <Phrase Key="Vid_Header">VID</Phrase>
      <Phrase Key="Level_1_Header">LIVELLO 1</Phrase>
      <Phrase Key="Level_2_Header">LIVELLO 2</Phrase>
      <Phrase Key="Level_3_Header">LIVELLO 3</Phrase>
      <Phrase Key="Access_Header">ACCESSO</Phrase>
      <Phrase Key="Access_Dark">oscurato</Phrase>
      <Phrase Key="Access_Private">privato</Phrase>
      <Phrase Key="Access_Public">pubblico</Phrase>
      <Phrase Key="Access_Restricted">riservato</Phrase>
      <Phrase Key="Missing_Thumbnail_Alt">MINIATURA MANCANTE</Phrase>
      <Phrase Key="Dark_Suffix"> ( oscurato )</Phrase>
      <Phrase Key="Private_Suffix"> ( privato )</Phrase>
      <Phrase Key="Restricted_Suffix"> ( si applicano alcune restrizioni )</Phrase>
      <Phrase Key="All_Private_Or_Dark_Suffix"> ( tutti privati o oscurati )</Phrase>
    </Section>

    <Section Name="OpenTextbook_Common">
      <Phrase Key="Search_Label">Cerca: </Phrase>
      <Phrase Key="Zoom_Label">Zoom: </Phrase>
      <Phrase Key="Unnumbered_Page_Prefix">Non numerata </Phrase>
      <Phrase Key="Page_Prefix">Pagina </Phrase>
      <Phrase Key="Previous_Section_Alt">Vai alla sezione precedente</Phrase>
      <Phrase Key="Next_Section_Alt">Vai alla sezione successiva</Phrase>
    </Section>

    <Section Name="OpenTextbook">
      <Phrase Key="Menu_Default_Label">Libro di Testo Aperto</Phrase>
      <Phrase Key="Welcome_Heading">Benvenuto in OpenPublishing</Phrase>
      <Phrase Key="Welcome_Edit_Instructions"><![CDATA[Puoi modificare il tuo elemento qui, selezionando <i>Modifica Contenuto</i> nell'angolo in alto a destra di questa pagina.]]></Phrase>
      <Phrase Key="Welcome_Toc_Instructions"><![CDATA[Per aggiornare il tuo indice e creare capitoli, usa lo strumento OpenPublishing, disponibile nell'intestazione interna o tramite l'opzione <i>GESTISCI</i> nel menu dell'elemento.]]></Phrase>
      <Phrase Key="Chapter_Edit_Instructions"><![CDATA[Puoi modificare questo capitolo qui, selezionando <i>Modifica Contenuto</i> nell'angolo in alto a destra di questa pagina.]]></Phrase>
    </Section>

    <Section Name="OpenTextbook_Divisions">
      <Phrase Key="Menu_Default_Label">Editore Aperto</Phrase>
    </Section>

    <Section Name="Related_Images">
      <Phrase Key="Menu_Default_Label">Miniature</Phrase>
      <Phrase Key="Thumbnails_Per_Page_Suffix">miniature per pagina</Phrase>
      <Phrase Key="Go_To_Thumbnail_Label">Vai alla miniatura</Phrase>
      <Phrase Key="Switch_To_Small">Passa a miniature piccole</Phrase>
      <Phrase Key="Switch_To_Medium">Passa a miniature medie</Phrase>
      <Phrase Key="Switch_To_Large">Passa a miniature grandi</Phrase>
      <Phrase Key="All_Thumbnails">Tutte le miniature</Phrase>
      <Phrase Key="Small_Alt">Piccola</Phrase>
      <Phrase Key="Medium_Alt">Media</Phrase>
      <Phrase Key="Large_Alt">Grande</Phrase>
      <Phrase Key="Missing_Thumbnail_Alt">MINIATURA MANCANTE</Phrase>
      <Phrase Key="Page_Number_Placeholder">(pagina {0})</Phrase>
    </Section>

    <Section Name="Downloads">
      <Phrase Key="Menu_Default_Label">Download</Phrase>
      <Phrase Key="Explanation_Has_Downloads">Questo elemento presenta i seguenti download:</Phrase>
      <Phrase Key="Explanation_Only_Downloads">Questo elemento è disponibile solo come i seguenti download:</Phrase>
      <Phrase Key="Tiles_Available_Heading">I seguenti riquadri sono disponibili per il download:</Phrase>
      <Phrase Key="Jpeg2000_Available_Heading">I seguenti file JPEG2000 sono disponibili per il download:</Phrase>
      <Phrase Key="Save_Link_As_Instructions">Per scaricare, fai clic con il pulsante destro del mouse sul nome del riquadro qui sotto, seleziona "Salva collegamento con nome..." e salva il JPEG2000 sul tuo computer locale.</Phrase>
      <Phrase Key="Save_Target_As_Instructions">Per scaricare, fai clic con il pulsante destro del mouse sul nome del riquadro qui sotto, seleziona "Salva destinazione con nome..." e salva il JPEG2000 sul tuo computer locale. </Phrase>
    </Section>

  </Localization>
</SobekCM_Config>
