<?xml version="1.0" encoding="utf-8" ?>
<SobekCM_Config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://sobekrepository.org/schemas/sobekcm_config"
	xsi:schemaLocation="http://sobekrepository.org/schemas/sobekcm_config
		http://sobekrepository.org/schemas/sobekcm_config.xsd">
  <Localization Language="it">

    <Section Name="Aggregation_Common">
      <Phrase Key="Go">Vai</Phrase>
      <Phrase Key="Search_Collection">Cerca nella raccolta</Phrase>
      <Phrase Key="Include_Non_Public_Items">Includi elementi non pubblici</Phrase>
      <Phrase Key="Limit_By_Year">Limita per anno</Phrase>
      <Phrase Key="Show_Only_Media">Mostra solo record con immagini o altri contenuti multimediali</Phrase>
      <Phrase Key="Through">a</Phrase>
      <Phrase Key="Include_Full_Text">Includi il testo del documento nella ricerca</Phrase>
      <Phrase Key="Search_All_Collections">Cerca in tutte le raccolte</Phrase>
      <Phrase Key="Home">Home</Phrase>
    </Section>

    <Section Name="Advanced_Search">
      <Phrase Key="Search_For">Cerca:</Phrase>
      <Phrase Key="In">in</Phrase>
      <Phrase Key="Search">Cerca</Phrase>
      <Phrase Key="Search_Options">Opzioni di Ricerca</Phrase>
      <Phrase Key="Precision">Precisione</Phrase>
      <Phrase Key="Contains_Exactly">Contiene esattamente i termini di ricerca</Phrase>
      <Phrase Key="Contains_Any_Form">Contiene qualsiasi forma dei termini di ricerca</Phrase>
      <Phrase Key="Contains_Meaning">Contiene il termine di ricerca o termini di significato simile</Phrase>
      <Phrase Key="And">e</Phrase>
      <Phrase Key="Or">o</Phrase>
      <Phrase Key="And_Not">e non</Phrase>
    </Section>

    <Section Name="Item_Count">
      <Phrase Key="Resource_Count_In_Collection">Numero di risorse nella raccolta</Phrase>
      <Phrase Key="Description">Di seguito è riportato il numero di titoli ed elementi per tutti gli elementi all'interno di questa raccolta, inclusi gli elementi attualmente disponibili online e quelli in fase di elaborazione.</Phrase>
      <Phrase Key="Visibility">VISIBILITÀ</Phrase>
      <Phrase Key="Title_Count">NUMERO DI TITOLI</Phrase>
      <Phrase Key="Item_Count">NUMERO DI ELEMENTI</Phrase>
      <Phrase Key="Page_Count">NUMERO DI PAGINE</Phrase>
      <Phrase Key="File_Count">NUMERO DI FILE</Phrase>
    </Section>

    <Section Name="Full_Text_Search">
      <Phrase Key="Search_Full_Text">Cerca nel testo completo</Phrase>
    </Section>

    <Section Name="DLOC_Search">
      <Phrase Key="Include_Newspapers">Includere i giornali?</Phrase>
    </Section>

    <Section Name="Map_Common">
      <Phrase Key="Google_Maps_Not_Enabled_Html"><![CDATA[<p style="font-weight:bold; text-size:1.1em">ERRORE: Google Maps non è abilitato su questa istanza di SobekCM!</p>
<p>Per abilitarlo, crea una chiave API di Google Maps e inseriscila nelle impostazioni generali del sistema.</p>
<p>Le informazioni su questa procedura sono disponibili qui: <a href="http://sobekrepository.org/software/config/googlemaps">http://sobekrepository.org/software/config/googlemaps</a>.</p>]]></Phrase>
    </Section>

    <Section Name="Map_Browse">
      <Phrase Key="Select_Point_Instructions_Html"><![CDATA[Seleziona un punto qui sotto per visualizzare gli elementi provenienti da quella posizione o relativi ad essa.<br />Tieni premuto il tasto MAIUSC, quindi trascina un rettangolo sulla mappa per ingrandire.]]></Phrase>
      <Phrase Key="More_Info_Single_Title">Clicca qui per maggiori informazioni su questo titolo</Phrase>
      <Phrase Key="More_Info_Multiple_Titles">Clicca qui per maggiori informazioni su questi {0} titoli</Phrase>
    </Section>

    <Section Name="Map_Search">
      <Phrase Key="Find_Address">Trova Indirizzo</Phrase>
      <Phrase Key="Address">Indirizzo</Phrase>
      <Phrase Key="Locate">Individua</Phrase>
      <Phrase Key="Point_Disabled_Instructions_Html"><![CDATA[<span style="line-height:160%"> &nbsp; &nbsp; 1. Usa il pulsante <i>Seleziona Area</i> e clicca per selezionare gli angoli opposti per disegnare un rettangolo di ricerca sulla mappa &nbsp; &nbsp; <br /> &nbsp; &nbsp; 2. Premi il pulsante <i>Cerca</i> per vedere i risultati &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; ( <a href="#FAQ">maggiore assistenza</a> )</span>]]></Phrase>
      <Phrase Key="Faq_Point_Disabled_Html"><![CDATA[  <h1>FAQ sulla Ricerca sulla Mappa</h1>
  <ul>
    <li>Come faccio a cercare?
      <p class="tagline">Per effettuare una ricerca, devi prima definire la tua area di interesse e poi eseguire la ricerca. Per definire un'area, clicca su <i>Clicca per Selezionare un'Area</i> sulla mappa. Quindi clicca su un punto di partenza sulla mappa e poi clicca sull'angolo opposto per creare un rettangolo. Cliccando su <i>Cerca</i> sopra la mappa, otterrai i risultati corrispondenti a quell'area.</p>
    </li>
    <li>Ho difficoltà a selezionare un'area
      <p class="tagline">Selezionare un'area rettangolare da cercare è semplice una volta compresa la tecnica. Innanzitutto, seleziona il pulsante <i>Clicca per Selezionare un'Area</i> sulla mappa. Quindi, spostati nell'angolo superiore sinistro della regione che desideri cercare e clicca e rilascia il pulsante sinistro del mouse. Muovendo ora il mouse, noterai che viene disegnato un rettangolo che rappresenta la tua regione. Quando clicchi e rilasci nuovamente il mouse, definisci l'angolo inferiore destro della regione da cercare. Non tenere premuto il pulsante del mouse trascinandolo, poiché ciò sposterà la mappa e non definirà una regione da selezionare. Una volta identificata correttamente la tua regione, premi il pulsante <i>Cerca</i> per visualizzare i risultati corrispondenti.</p>
    </li>
    <li>Perché non posso cercare per indirizzo o per punto?
      <p class="tagline">Questa raccolta è composta principalmente da punti, quindi la ricerca per area è molto più efficace della ricerca per punto.</p>
    </li>
    <li>Cosa viene cercato?
      <p class="tagline">I dati cercati dipendono dal tipo di materiale. Per i giornali, viene cercato il luogo di pubblicazione. Per le mappe, viene cercata la copertura geografica. E per le fotografie, viene cercato il luogo in cui è stata scattata la fotografia.</p>
    </li>
    <li>Perché così pochi risultati?
      <p class="tagline"> Questa interfaccia è in fase di test beta, mentre aggiungiamo ulteriori informazioni sulle coordinate al nostro database di ricerca. Torna spesso per seguire i nostri progressi!</p>
    </li>
  </ul>]]></Phrase>
    </Section>

    <Section Name="Newspaper_Search">
      <Phrase Key="Full_Citation">Citazione Completa</Phrase>
      <Phrase Key="Full_Text">Testo Completo</Phrase>
      <Phrase Key="Newspaper_Title">Titolo del Giornale</Phrase>
      <Phrase Key="Location">Ubicazione</Phrase>
    </Section>

    <Section Name="Metadata_Browse">
      <Phrase Key="Browse_By">Sfoglia per</Phrase>
      <Phrase Key="Browse_By_Colon">SFOGLIA PER:</Phrase>
      <Phrase Key="Public_Browses">Sfogliature Pubbliche</Phrase>
      <Phrase Key="Internal_Browses">Sfogliature Interne</Phrase>
      <Phrase Key="Browses">Sfogliature</Phrase>
      <Phrase Key="Select_Field_Prompt">Seleziona un campo di metadati da sfogliare nell'elenco a sinistra</Phrase>
      <Phrase Key="No_Matching_Values">NESSUN VALORE CORRISPONDENTE</Phrase>
    </Section>

    <Section Name="Tiles_Home">
      <Phrase Key="Varies">( varia )</Phrase>
    </Section>

    <Section Name="Thumbnails_Home">
      <Phrase Key="Collection_Items">Elementi della raccolta</Phrase>
      <Phrase Key="Showing_Items_Out_Of">Visualizzazione di 20 elementi su {0}</Phrase>
      <Phrase Key="View_All">Visualizza tutto</Phrase>
    </Section>

    <Section Name="Usage_Statistics">
      <Phrase Key="Title_Collection_Views">Cronologia dell'utilizzo a livello di raccolta</Phrase>
      <Phrase Key="Title_Item_Views">Cronologia dell'utilizzo degli elementi</Phrase>
      <Phrase Key="Title_Top_Titles">Titoli più consultati</Phrase>
      <Phrase Key="Title_Top_Items">Elementi più consultati</Phrase>
      <Phrase Key="Title_Definitions">Definizioni dei termini utilizzati</Phrase>

      <Phrase Key="Tab_Collection_Views">VISUALIZZAZIONI RACCOLTA</Phrase>
      <Phrase Key="Tab_Item_Views">VISUALIZZAZIONI ELEMENTI</Phrase>
      <Phrase Key="Tab_Top_Titles">TITOLI PIÙ VISTI</Phrase>
      <Phrase Key="Tab_Top_Items">ELEMENTI PIÙ VISTI</Phrase>
      <Phrase Key="Tab_Definitions">DEFINIZIONI</Phrase>

      <Phrase Key="Month_1">Gennaio</Phrase>
      <Phrase Key="Month_2">Febbraio</Phrase>
      <Phrase Key="Month_3">Marzo</Phrase>
      <Phrase Key="Month_4">Aprile</Phrase>
      <Phrase Key="Month_5">Maggio</Phrase>
      <Phrase Key="Month_6">Giugno</Phrase>
      <Phrase Key="Month_7">Luglio</Phrase>
      <Phrase Key="Month_8">Agosto</Phrase>
      <Phrase Key="Month_9">Settembre</Phrase>
      <Phrase Key="Month_10">Ottobre</Phrase>
      <Phrase Key="Month_11">Novembre</Phrase>
      <Phrase Key="Month_12">Dicembre</Phrase>

      <Phrase Key="Collection_History_Intro">Di seguito viene visualizzata la cronologia di utilizzo di questa raccolta. Questa cronologia include solo le visualizzazioni di livello superiore della raccolta.</Phrase>
      <Phrase Key="Item_History_Intro">Di seguito viene visualizzata la cronologia di utilizzo degli elementi all'interno di questa raccolta.</Phrase>
      <Phrase Key="Items_By_Collection_Intro">Di seguito sono riportati gli elementi più utilizzati per questa raccolta.</Phrase>
      <Phrase Key="Titles_By_Collection_Intro">Di seguito sono riportati i titoli più utilizzati per raccolta.</Phrase>
      <Phrase Key="Definitions_Link_Sentence"><![CDATA[La <a href="{0}">pagina delle definizioni</a> fornisce maggiori dettagli sulle statistiche e sui termini utilizzati di seguito.]]></Phrase>

      <Phrase Key="Year_Statistics_Suffix"> STATISTICHE</Phrase>
      <Phrase Key="Total">TOTALE</Phrase>

      <Phrase Key="Date">DATA</Phrase>
      <Phrase Key="Total_Views_Html"><![CDATA[VISUALIZZAZIONI<br />TOTALI]]></Phrase>
      <Phrase Key="Visits">VISITE</Phrase>
      <Phrase Key="Main_Pages_Html"><![CDATA[PAGINE<br />PRINCIPALI]]></Phrase>
      <Phrase Key="Browses">SFOGLIATURE</Phrase>
      <Phrase Key="Search_Results_Html"><![CDATA[RISULTATI<br />DI RICERCA]]></Phrase>
      <Phrase Key="Title_Views_Html"><![CDATA[VISUALIZZAZIONI<br />TITOLI]]></Phrase>
      <Phrase Key="Item_Views_Html"><![CDATA[VISUALIZZAZIONI<br />ELEMENTI]]></Phrase>

      <Phrase Key="Jpeg_Views_Html"><![CDATA[VISUALIZZAZIONI<br />JPEG]]></Phrase>
      <Phrase Key="Zoomable_Views_Html"><![CDATA[VISUALIZZAZIONI<br />INGRANDIBILI]]></Phrase>
      <Phrase Key="Citation_Views_Html"><![CDATA[VISUALIZZAZIONI<br />CITAZIONE]]></Phrase>
      <Phrase Key="Thumbnail_Views_Html"><![CDATA[VISUALIZZAZIONI<br />MINIATURE]]></Phrase>
      <Phrase Key="Text_Searches_Html"><![CDATA[RICERCHE<br />DI TESTO]]></Phrase>
      <Phrase Key="Flash_Views_Html"><![CDATA[VISUALIZZAZIONI<br />FLASH]]></Phrase>
      <Phrase Key="Map_Views_Html"><![CDATA[VISUALIZZAZIONI<br />MAPPA]]></Phrase>
      <Phrase Key="Download_Views_Html"><![CDATA[DOWNLOAD]]></Phrase>
      <Phrase Key="Static_Views_Html"><![CDATA[VISUALIZZAZIONI<br />STATICHE]]></Phrase>

      <Phrase Key="Bibid">BIBID</Phrase>
      <Phrase Key="Vid">VID</Phrase>
      <Phrase Key="Title">TITOLO</Phrase>
      <Phrase Key="Views">VISUALIZZAZIONI</Phrase>

    </Section>

    <Section Name="Aggregation_Nav_Bar">
      <Phrase Key="Advanced_Search">Ricerca Avanzata</Phrase>
      <Phrase Key="Basic_Search">Ricerca di Base</Phrase>
      <Phrase Key="Map_Search">Ricerca su Mappa</Phrase>
      <Phrase Key="Newspaper_Search">Ricerca Giornali</Phrase>
      <Phrase Key="Text_Search">Ricerca Testo</Phrase>
    </Section>

    <Section Name="Aggregation_Home">
      <Phrase Key="List_View">VISTA ELENCO</Phrase>
      <Phrase Key="Brief_View">VISTA BREVE</Phrase>
      <Phrase Key="Tree_View">VISTA AD ALBERO</Phrase>
      <Phrase Key="Thumbnail_View">VISTA MINIATURE</Phrase>
    </Section>

    <Section Name="Aggregation_Sharing">
      <Phrase Key="Print_Alt">STAMPA</Phrase>
      <Phrase Key="Print_Title">Stampa questa pagina</Phrase>
      <Phrase Key="Send_Alt">INVIA</Phrase>
      <Phrase Key="Send_Title">Invia questo a qualcuno</Phrase>
      <Phrase Key="Share_Alt">CONDIVIDI</Phrase>
      <Phrase Key="Share_Title">Condividi questa raccolta</Phrase>
      <Phrase Key="Remove_Alt">RIMUOVI</Phrase>
      <Phrase Key="Remove_Title">Rimuovi questo dalla mia home page delle raccolte</Phrase>
      <Phrase Key="Add_Alt">AGGIUNGI</Phrase>
      <Phrase Key="Add_Title">Aggiungi questo alla mia home page delle raccolte</Phrase>
      <Phrase Key="Save_Title">Salva questo nella mia home page delle raccolte</Phrase>
      <Phrase Key="Email_Popup_Title">Invia questa raccolta a un amico</Phrase>
      <Phrase Key="Email_Popup_Close_Alt">CHIUDI</Phrase>
      <Phrase Key="Email_Info_Prompt">Inserisci di seguito le informazioni email</Phrase>
      <Phrase Key="To_Label">A:</Phrase>
      <Phrase Key="Comments_Label">Commenti:</Phrase>
      <Phrase Key="Format_Label">Formato:</Phrase>
      <Phrase Key="Html_Label">HTML</Phrase>
      <Phrase Key="Plain_Text_Label">Testo Semplice</Phrase>
      <Phrase Key="Cancel_Button">ANNULLA</Phrase>
      <Phrase Key="Send_Button">INVIA</Phrase>
    </Section>

  </Localization>
</SobekCM_Config>
