<?xml version="1.0" encoding="utf-8" ?>
<SobekCM_Config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://sobekrepository.org/schemas/sobekcm_config"
	xsi:schemaLocation="http://sobekrepository.org/schemas/sobekcm_config
		http://sobekrepository.org/schemas/sobekcm_config.xsd">
  <Localization Language="it">

    <Section Name="Aggregation_Common">
      <Phrase Key="Go">Vai</Phrase>
      <Phrase Key="Search_Collection">Cerca nella raccolta</Phrase>
      <Phrase Key="Include_Non_Public_Items">Includi elementi non pubblici</Phrase>
      <Phrase Key="Limit_By_Year">Limita per anno</Phrase>
      <Phrase Key="Show_Only_Media">Mostra solo record con immagini o altri contenuti multimediali</Phrase>
      <Phrase Key="Through">a</Phrase>
      <Phrase Key="Include_Full_Text">Includi il testo del documento nella ricerca</Phrase>
      <Phrase Key="Search_All_Collections">Cerca in tutte le raccolte</Phrase>
      <Phrase Key="Home">Home</Phrase>
    </Section>

    <Section Name="Advanced_Search">
      <Phrase Key="Search_For">Cerca:</Phrase>
      <Phrase Key="In">in</Phrase>
      <Phrase Key="Search">Cerca</Phrase>
      <Phrase Key="Search_Options">Opzioni di Ricerca</Phrase>
      <Phrase Key="Precision">Precisione</Phrase>
      <Phrase Key="Contains_Exactly">Contiene esattamente i termini di ricerca</Phrase>
      <Phrase Key="Contains_Any_Form">Contiene qualsiasi forma dei termini di ricerca</Phrase>
      <Phrase Key="Contains_Meaning">Contiene il termine di ricerca o termini di significato simile</Phrase>
      <Phrase Key="And">e</Phrase>
      <Phrase Key="Or">o</Phrase>
      <Phrase Key="And_Not">e non</Phrase>
    </Section>

    <Section Name="Item_Count">
      <Phrase Key="Resource_Count_In_Collection">Numero di risorse nella raccolta</Phrase>
      <Phrase Key="Description">Di seguito è riportato il numero di titoli ed elementi per tutti gli elementi all'interno di questa raccolta, inclusi gli elementi attualmente disponibili online e quelli in fase di elaborazione.</Phrase>
      <Phrase Key="Visibility">VISIBILITÀ</Phrase>
      <Phrase Key="Title_Count">NUMERO DI TITOLI</Phrase>
      <Phrase Key="Item_Count">NUMERO DI ELEMENTI</Phrase>
      <Phrase Key="Page_Count">NUMERO DI PAGINE</Phrase>
      <Phrase Key="File_Count">NUMERO DI FILE</Phrase>
    </Section>

    <Section Name="Full_Text_Search">
      <Phrase Key="Search_Full_Text">Cerca nel testo completo</Phrase>
    </Section>

    <Section Name="DLOC_Search">
      <Phrase Key="Include_Newspapers">Includere i giornali?</Phrase>
    </Section>

    <Section Name="Map_Common">
      <Phrase Key="Google_Maps_Not_Enabled_Html"><![CDATA[<p style="font-weight:bold; text-size:1.1em">ERRORE: Google Maps non è abilitato su questa istanza di SobekCM!</p>
<p>Per abilitarlo, crea una chiave API di Google Maps e inseriscila nelle impostazioni generali del sistema.</p>
<p>Le informazioni su questa procedura sono disponibili qui: <a href="http://sobekrepository.org/software/config/googlemaps">http://sobekrepository.org/software/config/googlemaps</a>.</p>]]></Phrase>
    </Section>

    <Section Name="Map_Browse">
      <Phrase Key="Select_Point_Instructions_Html"><![CDATA[Seleziona un punto qui sotto per visualizzare gli elementi provenienti da quella posizione o relativi ad essa.<br />Tieni premuto il tasto MAIUSC, quindi trascina un rettangolo sulla mappa per ingrandire.]]></Phrase>
      <Phrase Key="More_Info_Single_Title">Clicca qui per maggiori informazioni su questo titolo</Phrase>
      <Phrase Key="More_Info_Multiple_Titles">Clicca qui per maggiori informazioni su questi {0} titoli</Phrase>
    </Section>

    <Section Name="Map_Search">
      <Phrase Key="Find_Address">Trova Indirizzo</Phrase>
      <Phrase Key="Address">Indirizzo</Phrase>
      <Phrase Key="Locate">Individua</Phrase>
      <Phrase Key="Point_Disabled_Instructions_Html"><![CDATA[<span style="line-height:160%"> &nbsp; &nbsp; 1. Usa il pulsante <i>Seleziona Area</i> e clicca per selezionare gli angoli opposti per disegnare un rettangolo di ricerca sulla mappa &nbsp; &nbsp; <br /> &nbsp; &nbsp; 2. Premi il pulsante <i>Cerca</i> per vedere i risultati &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; ( <a href="#FAQ">maggiore assistenza</a> )</span>]]></Phrase>
      <Phrase Key="Faq_Point_Disabled_Html"><![CDATA[  <h1>FAQ sulla Ricerca sulla Mappa</h1>
  <ul>
    <li>Come faccio a cercare?
      <p class="tagline">Per effettuare una ricerca, devi prima definire la tua area di interesse e poi eseguire la ricerca. Per definire un'area, clicca su <i>Clicca per Selezionare un'Area</i> sulla mappa. Quindi clicca su un punto di partenza sulla mappa e poi clicca sull'angolo opposto per creare un rettangolo. Cliccando su <i>Cerca</i> sopra la mappa, otterrai i risultati corrispondenti a quell'area.</p>
    </li>
    <li>Ho difficoltà a selezionare un'area
      <p class="tagline">Selezionare un'area rettangolare da cercare è semplice una volta compresa la tecnica. Innanzitutto, seleziona il pulsante <i>Clicca per Selezionare un'Area</i> sulla mappa. Quindi, spostati nell'angolo superiore sinistro della regione che desideri cercare e clicca e rilascia il pulsante sinistro del mouse. Muovendo ora il mouse, noterai che viene disegnato un rettangolo che rappresenta la tua regione. Quando clicchi e rilasci nuovamente il mouse, definisci l'angolo inferiore destro della regione da cercare. Non tenere premuto il pulsante del mouse trascinandolo, poiché ciò sposterà la mappa e non definirà una regione da selezionare. Una volta identificata correttamente la tua regione, premi il pulsante <i>Cerca</i> per visualizzare i risultati corrispondenti.</p>
    </li>
    <li>Perché non posso cercare per indirizzo o per punto?
      <p class="tagline">Questa raccolta è composta principalmente da punti, quindi la ricerca per area è molto più efficace della ricerca per punto.</p>
    </li>
    <li>Cosa viene cercato?
      <p class="tagline">I dati cercati dipendono dal tipo di materiale. Per i giornali, viene cercato il luogo di pubblicazione. Per le mappe, viene cercata la copertura geografica. E per le fotografie, viene cercato il luogo in cui è stata scattata la fotografia.</p>
    </li>
    <li>Perché così pochi risultati?
      <p class="tagline"> Questa interfaccia è in fase di test beta, mentre aggiungiamo ulteriori informazioni sulle coordinate al nostro database di ricerca. Torna spesso per seguire i nostri progressi!</p>
    </li>
  </ul>]]></Phrase>
    </Section>

    <Section Name="Newspaper_Search">
      <Phrase Key="Full_Citation">Citazione Completa</Phrase>
      <Phrase Key="Full_Text">Testo Completo</Phrase>
      <Phrase Key="Newspaper_Title">Titolo del Giornale</Phrase>
      <Phrase Key="Location">Ubicazione</Phrase>
    </Section>

    <Section Name="Metadata_Browse">
      <Phrase Key="Browse_By">Sfoglia per</Phrase>
      <Phrase Key="Browse_By_Colon">SFOGLIA PER:</Phrase>
      <Phrase Key="Public_Browses">Sfogliature Pubbliche</Phrase>
      <Phrase Key="Internal_Browses">Sfogliature Interne</Phrase>
      <Phrase Key="Browses">Sfogliature</Phrase>
      <Phrase Key="Select_Field_Prompt">Seleziona un campo di metadati da sfogliare nell'elenco a sinistra</Phrase>
      <Phrase Key="No_Matching_Values">NESSUN VALORE CORRISPONDENTE</Phrase>
    </Section>

    <Section Name="Tiles_Home">
      <Phrase Key="Varies">( varia )</Phrase>
    </Section>

    <Section Name="Thumbnails_Home">
      <Phrase Key="Collection_Items">Elementi della raccolta</Phrase>
      <Phrase Key="Showing_Items_Out_Of">Visualizzazione di 20 elementi su {0}</Phrase>
      <Phrase Key="View_All">Visualizza tutto</Phrase>
    </Section>

    <Section Name="Usage_Statistics">
      <Phrase Key="Title_Collection_Views">Cronologia dell'utilizzo a livello di raccolta</Phrase>
      <Phrase Key="Title_Item_Views">Cronologia dell'utilizzo degli elementi</Phrase>
      <Phrase Key="Title_Top_Titles">Titoli più consultati</Phrase>
      <Phrase Key="Title_Top_Items">Elementi più consultati</Phrase>
      <Phrase Key="Title_Definitions">Definizioni dei termini utilizzati</Phrase>

      <Phrase Key="Tab_Collection_Views">VISUALIZZAZIONI RACCOLTA</Phrase>
      <Phrase Key="Tab_Item_Views">VISUALIZZAZIONI ELEMENTI</Phrase>
      <Phrase Key="Tab_Top_Titles">TITOLI PIÙ VISTI</Phrase>
      <Phrase Key="Tab_Top_Items">ELEMENTI PIÙ VISTI</Phrase>
      <Phrase Key="Tab_Definitions">DEFINIZIONI</Phrase>

      <Phrase Key="Month_1">Gennaio</Phrase>
      <Phrase Key="Month_2">Febbraio</Phrase>
      <Phrase Key="Month_3">Marzo</Phrase>
      <Phrase Key="Month_4">Aprile</Phrase>
      <Phrase Key="Month_5">Maggio</Phrase>
      <Phrase Key="Month_6">Giugno</Phrase>
      <Phrase Key="Month_7">Luglio</Phrase>
      <Phrase Key="Month_8">Agosto</Phrase>
      <Phrase Key="Month_9">Settembre</Phrase>
      <Phrase Key="Month_10">Ottobre</Phrase>
      <Phrase Key="Month_11">Novembre</Phrase>
      <Phrase Key="Month_12">Dicembre</Phrase>

      <Phrase Key="Collection_History_Intro">Di seguito viene visualizzata la cronologia di utilizzo di questa raccolta. Questa cronologia include solo le visualizzazioni di livello superiore della raccolta.</Phrase>
      <Phrase Key="Item_History_Intro">Di seguito viene visualizzata la cronologia di utilizzo degli elementi all'interno di questa raccolta.</Phrase>
      <Phrase Key="Items_By_Collection_Intro">Di seguito sono riportati gli elementi più utilizzati per questa raccolta.</Phrase>
      <Phrase Key="Titles_By_Collection_Intro">Di seguito sono riportati i titoli più utilizzati per raccolta.</Phrase>
      <Phrase Key="Definitions_Link_Sentence"><![CDATA[La <a href="{0}">pagina delle definizioni</a> fornisce maggiori dettagli sulle statistiche e sui termini utilizzati di seguito.]]></Phrase>

      <Phrase Key="Year_Statistics_Suffix"> STATISTICHE</Phrase>
      <Phrase Key="Total">TOTALE</Phrase>

      <Phrase Key="Date">DATA</Phrase>
      <Phrase Key="Total_Views_Html"><![CDATA[VISUALIZZAZIONI<br />TOTALI]]></Phrase>
      <Phrase Key="Visits">VISITE</Phrase>
      <Phrase Key="Main_Pages_Html"><![CDATA[PAGINE<br />PRINCIPALI]]></Phrase>
      <Phrase Key="Browses">SFOGLIATURE</Phrase>
      <Phrase Key="Search_Results_Html"><![CDATA[RISULTATI<br />DI RICERCA]]></Phrase>
      <Phrase Key="Title_Views_Html"><![CDATA[VISUALIZZAZIONI<br />TITOLI]]></Phrase>
      <Phrase Key="Item_Views_Html"><![CDATA[VISUALIZZAZIONI<br />ELEMENTI]]></Phrase>

      <Phrase Key="Jpeg_Views_Html"><![CDATA[VISUALIZZAZIONI<br />JPEG]]></Phrase>
      <Phrase Key="Zoomable_Views_Html"><![CDATA[VISUALIZZAZIONI<br />INGRANDIBILI]]></Phrase>
      <Phrase Key="Citation_Views_Html"><![CDATA[VISUALIZZAZIONI<br />CITAZIONE]]></Phrase>
      <Phrase Key="Thumbnail_Views_Html"><![CDATA[VISUALIZZAZIONI<br />MINIATURE]]></Phrase>
      <Phrase Key="Text_Searches_Html"><![CDATA[RICERCHE<br />DI TESTO]]></Phrase>
      <Phrase Key="Flash_Views_Html"><![CDATA[VISUALIZZAZIONI<br />FLASH]]></Phrase>
      <Phrase Key="Map_Views_Html"><![CDATA[VISUALIZZAZIONI<br />MAPPA]]></Phrase>
      <Phrase Key="Download_Views_Html"><![CDATA[DOWNLOAD]]></Phrase>
      <Phrase Key="Static_Views_Html"><![CDATA[VISUALIZZAZIONI<br />STATICHE]]></Phrase>

      <Phrase Key="Bibid">BIBID</Phrase>
      <Phrase Key="Vid">VID</Phrase>
      <Phrase Key="Title">TITOLO</Phrase>
      <Phrase Key="Views">VISUALIZZAZIONI</Phrase>

    </Section>

    <Section Name="Aggregation_Nav_Bar">
      <Phrase Key="Advanced_Search">Ricerca Avanzata</Phrase>
      <Phrase Key="Basic_Search">Ricerca di Base</Phrase>
      <Phrase Key="Map_Search">Ricerca su Mappa</Phrase>
      <Phrase Key="Newspaper_Search">Ricerca Giornali</Phrase>
      <Phrase Key="Text_Search">Ricerca Testo</Phrase>
    </Section>

    <Section Name="Aggregation_Home">
      <Phrase Key="List_View">VISTA ELENCO</Phrase>
      <Phrase Key="Brief_View">VISTA BREVE</Phrase>
      <Phrase Key="Tree_View">VISTA AD ALBERO</Phrase>
      <Phrase Key="Thumbnail_View">VISTA MINIATURE</Phrase>
    </Section>

    <Section Name="Aggregation_Sharing">
      <Phrase Key="Print_Alt">STAMPA</Phrase>
      <Phrase Key="Print_Title">Stampa questa pagina</Phrase>
      <Phrase Key="Send_Alt">INVIA</Phrase>
      <Phrase Key="Send_Title">Invia questo a qualcuno</Phrase>
      <Phrase Key="Share_Alt">CONDIVIDI</Phrase>
      <Phrase Key="Share_Title">Condividi questa raccolta</Phrase>
      <Phrase Key="Remove_Alt">RIMUOVI</Phrase>
      <Phrase Key="Remove_Title">Rimuovi questo dalla mia home page delle raccolte</Phrase>
      <Phrase Key="Add_Alt">AGGIUNGI</Phrase>
      <Phrase Key="Add_Title">Aggiungi questo alla mia home page delle raccolte</Phrase>
      <Phrase Key="Save_Title">Salva questo nella mia home page delle raccolte</Phrase>
      <Phrase Key="Email_Popup_Title">Invia questa raccolta a un amico</Phrase>
      <Phrase Key="Email_Popup_Close_Alt">CHIUDI</Phrase>
      <Phrase Key="Email_Info_Prompt">Inserisci di seguito le informazioni email</Phrase>
      <Phrase Key="To_Label">A:</Phrase>
      <Phrase Key="Comments_Label">Commenti:</Phrase>
      <Phrase Key="Format_Label">Formato:</Phrase>
      <Phrase Key="Html_Label">HTML</Phrase>
      <Phrase Key="Plain_Text_Label">Testo Semplice</Phrase>
      <Phrase Key="Cancel_Button">ANNULLA</Phrase>
      <Phrase Key="Send_Button">INVIA</Phrase>
    </Section>

    <Section Name="Static_Browse_Info">
      <Phrase Key="Show_Header_Data_Link">mostra dati di intestazione (avanzato)</Phrase>
      <Phrase Key="Header_Info_Description">I dati seguenti descrivono il contenuto di questa pagina figlia statica e sono utilizzati da alcuni algoritmi di indicizzazione dei motori di ricerca. Per impostazione predefinita, non verranno visualizzati nel testo della pagina, ma saranno inclusi nel tag head della pagina.</Phrase>
      <Phrase Key="Title_Label">Titolo:</Phrase>
      <Phrase Key="Author_Label">Autore:</Phrase>
      <Phrase Key="Date_Label">Data:</Phrase>
      <Phrase Key="Description_Label">Descrizione:</Phrase>
      <Phrase Key="Keywords_Label">Parole chiave:</Phrase>
      <Phrase Key="Html_Head_Info_Label">Informazioni head HTML:</Phrase>
      <Phrase Key="Title_Help">Guida per il segnaposto del titolo</Phrase>
      <Phrase Key="Author_Help">Guida per il segnaposto dell'autore</Phrase>
      <Phrase Key="Date_Help">Guida per il segnaposto della data</Phrase>
      <Phrase Key="Description_Help">Guida per il segnaposto della descrizione</Phrase>
      <Phrase Key="Keywords_Help">Guida per il segnaposto delle parole chiave</Phrase>
      <Phrase Key="Extra_Head_Help">Guida per il segnaposto delle informazioni head aggiuntive</Phrase>
      <Phrase Key="Cancel_Title">Non applicare le modifiche</Phrase>
      <Phrase Key="Cancel_Button">ANNULLA</Phrase>
      <Phrase Key="Save_Title">Salva le modifiche al testo di questa pagina figlia</Phrase>
      <Phrase Key="Save_Button">SALVA</Phrase>
      <Phrase Key="Edit_Content_Title">Modifica il testo di questa pagina</Phrase>
      <Phrase Key="Edit_Content_Link">modifica contenuto</Phrase>
    </Section>

    <Section Name="Manage_Menu_Aggregation">
      <Phrase Key="Viewer_Title">Menu di Gestione della Raccolta</Phrase>
      <Phrase Key="Intro_Prompt">Come desideri gestire questa raccolta oggi?</Phrase>
      <Phrase Key="Private_Items_Link">Visualizza Elementi Privati e Oscurati</Phrase>
      <Phrase Key="Private_Items_Desc">Visualizza gli elementi privati e oscurati che fanno parte di questa raccolta, insieme alle informazioni sull'ultima tappa di ciascun elemento.</Phrase>
      <Phrase Key="Item_Count_Link">Visualizza il Numero di Elementi nella Raccolta</Phrase>
      <Phrase Key="Item_Count_Desc">Visualizza il numero totale di elementi in questa raccolta, nonché un conteggio di quanti elementi sono attualmente in elaborazione in ciascuna tappa principale.</Phrase>
      <Phrase Key="Usage_Stats_Link">Visualizza la Cronologia di Utilizzo della Raccolta</Phrase>
      <Phrase Key="Usage_Stats_Desc">Visualizza le statistiche di utilizzo di questa raccolta e di tutti gli elementi al suo interno.</Phrase>
      <Phrase Key="Metadata_Browse_Link">Visualizza le Esplorazioni dei Metadati</Phrase>
      <Phrase Key="Metadata_Browse_Desc">Visualizza le esplorazioni dei metadati pubbliche e/o amministrative con l'elenco completo di tutti i metadati nei campi di metadati ricercabili di questa raccolta.</Phrase>
      <Phrase Key="Change_Log_Link">Visualizza il Registro delle Modifiche della Raccolta</Phrase>
      <Phrase Key="Change_Log_Desc">Visualizza il registro delle modifiche per questa raccolta e per i file di progettazione di questa raccolta. Questo non include la cronologia delle risorse digitali caricate in questa raccolta.</Phrase>
      <Phrase Key="User_Permissions_Link">Visualizza i Permessi Utente</Phrase>
      <Phrase Key="User_Permissions_Desc">Visualizza i permessi utente speciali concessi agli utenti su questa raccolta. Questo include i permessi assegnati individualmente, nonché i permessi assegnati tramite gruppi di utenti.</Phrase>
      <Phrase Key="Admin_Link">Amministrazione della Raccolta</Phrase>
      <Phrase Key="Admin_Desc">Esegui operazioni amministrative su questa raccolta, modificando l'aspetto, le sfaccettature, i tipi di risultati e molto altro.</Phrase>
    </Section>

    <Section Name="User_Permissions_Aggregation">
      <Phrase Key="Viewer_Title">Permessi Utente Specifici della Raccolta</Phrase>
      <Phrase Key="No_Permissions_Message">Nessun permesso utente speciale trovato per questa raccolta.</Phrase>
      <Phrase Key="Assign_Permissions_Sentence">Usa &lt;a href="{0}"&gt;Utenti e Gruppi amministrativi&lt;/a&gt; per assegnare permessi utente specifici della raccolta.</Phrase>
      <Phrase Key="Assign_New_Permissions_Sentence">Usa &lt;a href="{0}"&gt;Utenti e Gruppi amministrativi&lt;/a&gt; per assegnare nuovi permessi utente specifici della raccolta.</Phrase>
      <Phrase Key="Users_List_Intro">Di seguito è riportato l'elenco di tutti gli utenti che dispongono di permessi utente specializzati per questa raccolta. Questi permessi possono essere assegnati individualmente o tramite un gruppo di utenti.</Phrase>
      <Phrase Key="Select_User_Prompt">Seleziona un utente dall'elenco sottostante per modificare i permessi di quell'utente.</Phrase>
      <Phrase Key="User_Column">Utente</Phrase>
      <Phrase Key="User_Group_Column">Gruppo Utenti</Phrase>
      <Phrase Key="Can_Select_Header">Può&lt;br /&gt;Selezionare</Phrase>
      <Phrase Key="Can_Select_Tooltip">Può selezionare questa raccolta durante la modifica o l'invio di un elemento</Phrase>
      <Phrase Key="Item_Edit_Metadata_Header">Elemento&lt;br /&gt;Modifica&lt;br /&gt;Metadati</Phrase>
      <Phrase Key="Item_Edit_Behaviors_Header">Elemento&lt;br /&gt;Modifica&lt;br /&gt;Comportamenti</Phrase>
      <Phrase Key="Item_Perform_Qc_Header">Elemento&lt;br /&gt;Esegui&lt;br /&gt;CQ</Phrase>
      <Phrase Key="Item_Upload_Files_Header">Elemento&lt;br /&gt;Carica&lt;br /&gt;File</Phrase>
      <Phrase Key="Item_Change_Visibility_Header">Elemento&lt;br /&gt;Modifica&lt;br /&gt;Visibilità</Phrase>
      <Phrase Key="Item_Can_Delete_Header">Elemento&lt;br /&gt;Può&lt;br /&gt;Eliminare</Phrase>
      <Phrase Key="Item_Permissions_Tooltip">Può modificare qualsiasi cosa riguardi un elemento in questa raccolta (ovvero comportamenti, metadati, visibilità, ecc.)</Phrase>
      <Phrase Key="Can_Edit_Header">Può&lt;br /&gt;Modificare</Phrase>
      <Phrase Key="Can_Edit_Tooltip">Può modificare qualsiasi elemento in questa raccolta</Phrase>
      <Phrase Key="Is_Curator_Header">È&lt;br /&gt;Curatore</Phrase>
      <Phrase Key="Is_Admin_Header">È&lt;br /&gt;Admin</Phrase>
      <Phrase Key="Curator_Admin_Tooltip">Può eseguire attività curatoriali o di gestione della raccolta su questa raccolta</Phrase>
      <Phrase Key="Group_Permissions_Intro">Alcuni dei permessi sopra indicati sono assegnati agli utenti tramite gruppi di utenti. Questi gruppi di utenti e i loro permessi sono riportati di seguito:</Phrase>
    </Section>

    <Section Name="Work_History_Aggregation">
      <Phrase Key="Viewer_Title">Registro delle Modifiche della Raccolta</Phrase>
      <Phrase Key="No_History_Message">Nessuna cronologia trovata per questa raccolta!</Phrase>
      <Phrase Key="No_History_Explanation">Questo potrebbe essere dovuto a un errore, oppure potrebbe trattarsi di una raccolta legacy che non viene modificata da moltissimo tempo.</Phrase>
      <Phrase Key="Change_Log_Intro">Di seguito è riportato il registro delle modifiche per questa raccolta e per i file di progettazione di questa raccolta. Questo non include la cronologia delle risorse digitali caricate in questa raccolta.</Phrase>
      <Phrase Key="Date_Column">Data</Phrase>
      <Phrase Key="User_Column">Utente</Phrase>
      <Phrase Key="Change_Description_Column">Descrizione della Modifica</Phrase>
    </Section>

    <Section Name="PagedResults">
      <Phrase Key="Narrow_Results_By">LIMITA I RISULTATI PER</Phrase>
      <Phrase Key="Show_More">Mostra di Più</Phrase>
      <Phrase Key="Show_Less">Mostra di Meno</Phrase>
      <Phrase Key="Sort_By_Frequency">Ordina queste sfaccettature per frequenza</Phrase>
      <Phrase Key="Sort_Alphabetically">Ordina queste sfaccettature alfabeticamente</Phrase>
      <Phrase Key="Date_Added">Data di Aggiunta</Phrase>
      <Phrase Key="Rank">Rilevanza</Phrase>
      <Phrase Key="BibID_Ascending">BibID Crescente</Phrase>
      <Phrase Key="BibID_Descending">BibID Decrescente</Phrase>
      <Phrase Key="Date_Ascending">Data Crescente</Phrase>
      <Phrase Key="Date_Descending">Data Decrescente</Phrase>
      <Phrase Key="Anywhere">Ovunque</Phrase>
      <Phrase Key="Title">Titolo</Phrase>
      <Phrase Key="Date">Data</Phrase>
      <Phrase Key="Access_Restricted">Accesso Limitato</Phrase>
      <Phrase Key="Access_Restricted_Private_Item">Accesso Limitato (Elemento Privato)</Phrase>
      <Phrase Key="Access_Restricted_Dark_Item">Accesso Limitato (Elemento Oscurato)</Phrase>
      <Phrase Key="Showing_Range_Format">{0} - {1} di {2} titoli corrispondenti</Phrase>
      <Phrase Key="Showing_Coord_Range_Format">{0} - {1} di {2} coordinate corrispondenti</Phrase>
      <Phrase Key="Showing_Flights_Range_Format">{0} - {1} di {2} voli corrispondenti</Phrase>
      <Phrase Key="Timeline_Showing_Format">{0} elementi con date visualizzate</Phrase>
    </Section>

  </Localization>
</SobekCM_Config>
