<?xml version="1.0" encoding="utf-8" ?>
<SobekCM_Config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://sobekrepository.org/schemas/sobekcm_config"
	xsi:schemaLocation="http://sobekrepository.org/schemas/sobekcm_config
		http://sobekrepository.org/schemas/sobekcm_config.xsd">
  <Localization Language="it">

    <Section Name="HeaderFooter">
      <Phrase Key="Home_Suffix_Format">Home di {0}</Phrase>
      <Phrase Key="Staff_Login">accesso del personale</Phrase>
      <Phrase Key="Log_Out">Esci</Phrase>
      <Phrase Key="My_Account_Possessive_Format">{1} di {0}</Phrase>
    </Section>

    <Section Name="MainMenus">
      <Phrase Key="Aggregation_Menu_Aria">Menu della raccolta</Phrase>
      <Phrase Key="Search_Results_Menu_Aria">Menu dei risultati di ricerca</Phrase>
      <Phrase Key="User_Menu_Aria">Menu utente</Phrase>
      <Phrase Key="Home">HOME</Phrase>
      <Phrase Key="Collection_Home_Format">HOME {0}</Phrase>
      <Phrase Key="Sobek_Home_Format">HOME {0}</Phrase>
      <Phrase Key="My_Sobek_Home_Format"><![CDATA[<span style="text-transform:lowercase">mia</span>{0} Home]]></Phrase>
      <Phrase Key="View_Items">VISUALIZZA ARTICOLI</Phrase>
      <Phrase Key="View_All_Items">TUTTI GLI ARTICOLI</Phrase>
      <Phrase Key="View_New_Items">ARTICOLI RECENTI</Phrase>
      <Phrase Key="My_Collections">LE MIE RACCOLTE</Phrase>
      <Phrase Key="Browse_Partners">SFOGLIA PARTNER</Phrase>
      <Phrase Key="Browse_By">SFOGLIA PER</Phrase>
      <Phrase Key="Map_Browse">Sfoglia per Mappa</Phrase>
      <Phrase Key="List_View">Vista Elenco</Phrase>
      <Phrase Key="Brief_View">Vista Breve</Phrase>
      <Phrase Key="Tree_View">Vista ad Albero</Phrase>
      <Phrase Key="Other_Searches">Opzioni di Ricerca</Phrase>
      <Phrase Key="Print_Action">Stampa</Phrase>
      <Phrase Key="Send_Action">Invia</Phrase>
      <Phrase Key="Save_Action">Salva</Phrase>
      <Phrase Key="Share_Action">Condividi</Phrase>
      <Phrase Key="Add_Action">Aggiungi</Phrase>
      <Phrase Key="Remove_Action">Rimuovi</Phrase>
      <Phrase Key="Revise_Action">Rivedi</Phrase>
      <Phrase Key="My_Library">La Mia Biblioteca</Phrase>
      <Phrase Key="My_Account">Il Mio Account</Phrase>
      <Phrase Key="Internal">Interno</Phrase>
      <Phrase Key="System_Admin">Amministratore di Sistema</Phrase>
      <Phrase Key="Portal_Admin">Amministratore del Portale</Phrase>
      <Phrase Key="User_Admin">Amministratore Utenti</Phrase>
      <Phrase Key="Advanced_Search">Ricerca Avanzata</Phrase>
      <Phrase Key="Collection_List">Elenco delle Raccolte</Phrase>
      <Phrase Key="Collection_Hierarchy">Gerarchia della Raccolta</Phrase>
      <Phrase Key="New_Items">Nuovi Articoli</Phrase>
      <Phrase Key="Memory_Management">Gestione della Memoria</Phrase>
      <Phrase Key="Wordmarks">Loghi</Phrase>
      <Phrase Key="Build_Failures">Errori di Compilazione</Phrase>
      <Phrase Key="Start_New_Item">Inizia un nuovo articolo</Phrase>
      <Phrase Key="View_Submitted_Items">Visualizza i miei articoli inviati</Phrase>
      <Phrase Key="View_Item_Usage">Visualizza l'utilizzo dei miei articoli</Phrase>
      <Phrase Key="View_Descriptive_Tags">Visualizza le mie etichette descrittive</Phrase>
      <Phrase Key="View_Bookshelves">Visualizza le mie scaffalature</Phrase>
      <Phrase Key="View_Saved_Searches">Visualizza le mie ricerche salvate</Phrase>
      <Phrase Key="Account_Preferences">Preferenze dell'account</Phrase>
      <Phrase Key="Log_Out">Esci</Phrase>
      <Phrase Key="Common_Tasks">Attività Comuni</Phrase>
      <Phrase Key="Add_Collection_Wizard">Procedura Guidata per Aggiungere una Raccolta</Phrase>
      <Phrase Key="Edit_Current_Web_Skin">Modifica il Tema Web Attuale</Phrase>
      <Phrase Key="Users_And_Groups">Utenti e Gruppi</Phrase>
      <Phrase Key="Appearance">Aspetto</Phrase>
      <Phrase Key="Url_Portals">Portali URL</Phrase>
      <Phrase Key="Web_Skins">Temi Web</Phrase>
      <Phrase Key="Collections">Raccolte</Phrase>
      <Phrase Key="Aggregation_Aliases">Alias delle Raccolte</Phrase>
      <Phrase Key="Aggregation_Management">Gestione delle Raccolte</Phrase>
      <Phrase Key="Thematic_Headings">Intestazioni Tematiche</Phrase>
      <Phrase Key="Items">Articoli</Phrase>
      <Phrase Key="Default_Metadata">Metadati Predefiniti</Phrase>
      <Phrase Key="Wordmarks_Icons">Loghi / Icone</Phrase>
      <Phrase Key="Builder_Status">Stato del Generatore</Phrase>
      <Phrase Key="Settings">Impostazioni</Phrase>
      <Phrase Key="Ip_Restriction_Ranges">Intervalli di Restrizione IP</Phrase>
      <Phrase Key="System_Wide_Settings">Impostazioni Generali del Sistema</Phrase>
      <Phrase Key="Reset_Cache">Reimposta Cache</Phrase>
      <Phrase Key="Users_And_Permissions">Utenti e Permessi</Phrase>
      <Phrase Key="User_Permissions_Reports">Report sui Permessi Utente</Phrase>
      <Phrase Key="Users_Requests">Richieste degli Utenti</Phrase>
      <Phrase Key="Web_Content_Pages">Pagine di Contenuto Web</Phrase>
      <Phrase Key="Manage_Web_Content_Pages">Gestisci Pagine di Contenuto Web</Phrase>
      <Phrase Key="Web_Content_Recent_Updates">Aggiornamenti Recenti dei Contenuti Web</Phrase>
      <Phrase Key="Web_Content_Usage_Reports">Report di Utilizzo dei Contenuti Web</Phrase>
      <Phrase Key="Extensions">Estensioni</Phrase>
      <Phrase Key="Manage_Tei_Plugin">Gestisci il plug-in TEI</Phrase>
    </Section>

  </Localization>
</SobekCM_Config>
