<?xml version="1.0" encoding="utf-8" ?>
<SobekCM_Config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://sobekrepository.org/schemas/sobekcm_config"
	xsi:schemaLocation="http://sobekrepository.org/schemas/sobekcm_config
		http://sobekrepository.org/schemas/sobekcm_config.xsd">
  <Localization Language="it">

    <Section Name="Internal">
      <Phrase Key="Collection_Details_Title">Collezioni Attive e Inattive</Phrase>
      <Phrase Key="New_Items_Title">Elementi Aggiunti o Modificati di Recente</Phrase>
      <Phrase Key="Memory_Mgmt_Title">Profilo Attuale della Memoria</Phrase>
      <Phrase Key="Wordmarks_Title">Loghi</Phrase>
      <Phrase Key="Build_Failures_Title">Registro degli Errori di Compilazione</Phrase>
      <Phrase Key="Unauthorized_Title">Solo per Utenti Interni</Phrase>
      <Phrase Key="Unauthorized_Message">Non sei autorizzato ad accedere a questa vista.</Phrase>
      <Phrase Key="Return_Home_Link">Fare clic qui per tornare alla home page della biblioteca digitale.</Phrase>

      <Phrase Key="Wordmarks_Admin_Manage_Html"><![CDATA[Poiché sei un amministratore, puoi <a href="{0}">gestire i loghi dalla schermata di amministrazione</a>.]]></Phrase>
      <Phrase Key="No_Wordmarks_Message">Nessun logo in questo sistema</Phrase>
      <Phrase Key="Wordmarks_Admin_Add_Message">Gli amministratori possono aggiungere loghi tramite le schermate di amministrazione dei loghi</Phrase>

      <Phrase Key="Build_Failures_Intro">I dati sottostanti mostrano gli errori verificatisi durante il caricamento di nuovi elementi tramite il builder. Possono essere visualizzati per mese e anno selezionando di seguito il mese di inizio e di fine. Questi errori continueranno a essere visualizzati finché non vengono cancellati manualmente da un tecnico DLC o finché l'elemento non viene caricato correttamente dopo l'errore o l'avviso.</Phrase>
      <Phrase Key="Selected_Date_Range">Intervallo di Date Selezionato</Phrase>
      <Phrase Key="Build_Failures_Search_Prompt">Gli errori e gli avvisi riscontrati durante la compilazione sono consultabili di seguito, per mese:</Phrase>
      <Phrase Key="From_Label">Da:</Phrase>
      <Phrase Key="To_Label">A:</Phrase>
      <Phrase Key="Select_Range_Title">Seleziona Intervallo</Phrase>
      <Phrase Key="Change_Date_Instructions">Per modificare la data visualizzata, scegli le date sopra e premi il pulsante GO.</Phrase>
      <Phrase Key="Build_Failures_Warnings_Header">Errori e Avvisi di Compilazione</Phrase>
      <Phrase Key="No_Failures_Message">Nessun avviso o errore non risolto per l'intervallo di date selezionato.</Phrase>
      <Phrase Key="Bibid_Vid_Header">BIBID : VID</Phrase>
      <Phrase Key="Mets_Type_Header">TIPO DI METS</Phrase>
      <Phrase Key="Description_Header">DESCRIZIONE</Phrase>

      <Phrase Key="Global_Values_Header">VALORI GLOBALI</Phrase>
      <Phrase Key="Application_State_Header">VALORI DELLO STATO DELL'APPLICAZIONE</Phrase>
      <Phrase Key="Local_Cache_State_Header">OGGETTI MEMORIZZATI NELLA CACHE LOCALE</Phrase>
      <Phrase Key="Session_State_Header">VALORI DELLO STATO DELLA SESSIONE</Phrase>
      <Phrase Key="Instance_Name_Header">NOME DELL'ISTANZA</Phrase>
      <Phrase Key="Key_Header">CHIAVE</Phrase>
      <Phrase Key="Object_Header">OGGETTO</Phrase>
      <Phrase Key="None_Placeholder">( nessuno )</Phrase>
      <Phrase Key="Application_State_Error">Errore rilevato durante il recupero delle informazioni di gestione della memoria dello Stato dell'Applicazione</Phrase>
      <Phrase Key="Local_Cache_Error">Errore rilevato durante il recupero delle informazioni di gestione della cache di memoria</Phrase>
      <Phrase Key="Session_State_Error">Errore rilevato durante il recupero delle informazioni di gestione della memoria dello Stato della Sessione</Phrase>

      <Phrase Key="Aggregations_Tree_Intro">Di seguito è riportato l'albero principale completo di tutte le aggregazioni all'interno di questa biblioteca. Questo include tutte le aggregazioni attive, nonché tutte le collezioni nascoste o inattive.</Phrase>
      <Phrase Key="View_Table_View_Link">Fare clic qui per visualizzare le aggregazioni in vista tabella</Phrase>
      <Phrase Key="Collapse_All">Comprimi Tutto</Phrase>
      <Phrase Key="Expand_All">Espandi Tutto</Phrase>
      <Phrase Key="Collection_Hierarchy">Gerarchia della Raccolta</Phrase>
      <Phrase Key="Institutions">Istituzioni</Phrase>

      <Phrase Key="Aggregations_List_Intro">Di seguito è riportato l'elenco principale completo di tutte le aggregazioni all'interno di questa biblioteca. Questo include tutte le aggregazioni attive, nonché tutte le collezioni nascoste o inattive.</Phrase>
      <Phrase Key="View_Tree_View_Link">Fare clic qui per visualizzare le aggregazioni in vista ad albero</Phrase>
      <Phrase Key="Code_Header">CODICE</Phrase>
      <Phrase Key="Type_Header">TIPO</Phrase>
      <Phrase Key="Name_Header">NOME</Phrase>
      <Phrase Key="Active_Header">ATTIVO</Phrase>
      <Phrase Key="On_Home_Header">IN HOME</Phrase>
      <Phrase Key="Parent_Header">PADRE</Phrase>
      <Phrase Key="Search_Code_Placeholder">Cerca Codice</Phrase>
      <Phrase Key="Search_Name_Placeholder">Cerca Nome</Phrase>

      <Phrase Key="No_New_Items_Message">NESSUN NUOVO ELEMENTO</Phrase>
      <Phrase Key="Date_Header">DATA</Phrase>
      <Phrase Key="All_Types">TUTTI</Phrase>
      <Phrase Key="Online_Edits">MODIFICHE ONLINE</Phrase>
      <Phrase Key="Online_Submits">INVII ONLINE</Phrase>
      <Phrase Key="Visibility_Changes">MODIFICHE DI VISIBILITÀ</Phrase>
      <Phrase Key="Bulk_Loaded">CARICAMENTO MASSIVO</Phrase>
      <Phrase Key="Post_Processed">POST-ELABORATO</Phrase>
      <Phrase Key="Large_Update_Count_Message">Nell'ultima settimana c'è stato un numero insolitamente elevato di aggiornamenti.</Phrase>
      <Phrase Key="Select_Update_Type_Message">Seleziona la scheda del tipo di aggiornamento sopra per visualizzare i dettagli.</Phrase>
      <Phrase Key="User_Header">UTENTE</Phrase>
      <Phrase Key="No_Tracking_Info_Message">NESSUNA INFORMAZIONE DI TRACCIAMENTO PER LA SELEZIONE.</Phrase>
      <Phrase Key="No_Info_Message">NESSUNA INFORMAZIONE PER LA SELEZIONE.</Phrase>

      <Phrase Key="Month_1">Gennaio</Phrase>
      <Phrase Key="Month_2">Febbraio</Phrase>
      <Phrase Key="Month_3">Marzo</Phrase>
      <Phrase Key="Month_4">Aprile</Phrase>
      <Phrase Key="Month_5">Maggio</Phrase>
      <Phrase Key="Month_6">Giugno</Phrase>
      <Phrase Key="Month_7">Luglio</Phrase>
      <Phrase Key="Month_8">Agosto</Phrase>
      <Phrase Key="Month_9">Settembre</Phrase>
      <Phrase Key="Month_10">Ottobre</Phrase>
      <Phrase Key="Month_11">Novembre</Phrase>
      <Phrase Key="Month_12">Dicembre</Phrase>
    </Section>

  </Localization>
</SobekCM_Config>
