<?xml version="1.0" encoding="utf-8" ?>
<SobekCM_Config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://sobekrepository.org/schemas/sobekcm_config"
	xsi:schemaLocation="http://sobekrepository.org/schemas/sobekcm_config
		http://sobekrepository.org/schemas/sobekcm_config.xsd">
  <Localization Language="it">

    <Section Name="General">
      <Phrase Key="Description">Descrizione</Phrase>
      <Phrase Key="Format">Formato</Phrase>
      <Phrase Key="Publisher">Editore</Phrase>
      <Phrase Key="Relation">Relazione</Phrase>
      <Phrase Key="Resource_Identifier">Identificatore della Risorsa</Phrase>
      <Phrase Key="Resource_Type">Tipo di Risorsa</Phrase>
      <Phrase Key="Subject">Soggetto</Phrase>
      <Phrase Key="Abstract">Sintesi</Phrase>
      <Phrase Key="Alternate_Title">Titolo Alternativo</Phrase>
      <Phrase Key="Attribution_Statement">Dichiarazione di Attribuzione</Phrase>
      <Phrase Key="Bibliographic_ID">ID Bibliografico</Phrase>
      <Phrase Key="Contributor">Collaboratore</Phrase>
      <Phrase Key="Creator">Autore</Phrase>
      <Phrase Key="Donor">Donatore</Phrase>
      <Phrase Key="EAD_Identifier">Identificatore EAD</Phrase>
      <Phrase Key="Holding_Location">Ubicazione</Phrase>
      <Phrase Key="Latitude_Hours">Ore di Latitudine</Phrase>
      <Phrase Key="Latitude_Minutes">Minuti di Latitudine</Phrase>
      <Phrase Key="Latitude_Seconds">Secondi di Latitudine</Phrase>
      <Phrase Key="Longitude_Hours">Ore di Longitudine</Phrase>
      <Phrase Key="Longitude_Minutes">Minuti di Longitudine</Phrase>
      <Phrase Key="Longitude_Seconds">Secondi di Longitudine</Phrase>
      <Phrase Key="Notes">Note</Phrase>
      <Phrase Key="Rights_Management">Gestione dei Diritti</Phrase>
      <Phrase Key="Scale">Scala</Phrase>
      <Phrase Key="Series_Title">Titolo della Serie</Phrase>
      <Phrase Key="Source_Institution">Istituzione di Provenienza</Phrase>
      <Phrase Key="Spatial_Coverage">Copertura Spaziale</Phrase>
      <Phrase Key="Subcollection">Sottocollezione</Phrase>
      <Phrase Key="Temporal_Coverage">Copertura Temporale</Phrase>
      <Phrase Key="Uniform_Title">Titolo Uniforme</Phrase>
      <Phrase Key="Volume_ID">ID del Volume</Phrase>
      <Phrase Key="Interviewer">Intervistatore</Phrase>
      <Phrase Key="Interviewee">Intervistato</Phrase>
      <Phrase Key="Publication_Date">Data di Pubblicazione</Phrase>
      <Phrase Key="Author">Autore</Phrase>
      <Phrase Key="Place_of_Publication">Luogo di Pubblicazione</Phrase>
      <Phrase Key="Year">Anno</Phrase>
      <Phrase Key="Acknowledgement">Ringraziamento</Phrase>
      <Phrase Key="Advertising">Pubblicità</Phrase>
      <Phrase Key="Appendix">Appendice</Phrase>
      <Phrase Key="Back_Cover">Retro di Copertina</Phrase>
      <Phrase Key="Back_Matter">Materiale Finale</Phrase>
      <Phrase Key="Bibliography">Bibliografia</Phrase>
      <Phrase Key="Chapter">Capitolo</Phrase>
      <Phrase Key="Conclusion">Conclusione</Phrase>
      <Phrase Key="Copyright">Copyright</Phrase>
      <Phrase Key="Cover">Copertina</Phrase>
      <Phrase Key="Dedication">Dedica</Phrase>
      <Phrase Key="Errata">Errata</Phrase>
      <Phrase Key="Foreword">Prefazione</Phrase>
      <Phrase Key="Front_Cover">Copertina Anteriore</Phrase>
      <Phrase Key="Front_Matter">Materiale Iniziale</Phrase>
      <Phrase Key="Frontispiece">Antiporta</Phrase>
      <Phrase Key="Half_Title">Occhietto</Phrase>
      <Phrase Key="Index">Indice Analitico</Phrase>
      <Phrase Key="Interview">Intervista</Phrase>
      <Phrase Key="Introduction">Introduzione</Phrase>
      <Phrase Key="List_of_Figures">Elenco delle Figure</Phrase>
      <Phrase Key="List_of_Illustrations">Elenco delle Illustrazioni</Phrase>
      <Phrase Key="List_of_Tables">Elenco delle Tabelle</Phrase>
      <Phrase Key="Main">Principale</Phrase>
      <Phrase Key="Methodology">Metodologia</Phrase>
      <Phrase Key="Poem">Poesia</Phrase>
      <Phrase Key="Preface">Prefazione</Phrase>
      <Phrase Key="Prelude">Preludio</Phrase>
      <Phrase Key="Reference">Riferimento</Phrase>
      <Phrase Key="Section">Sezione</Phrase>
      <Phrase Key="Spine">Dorso</Phrase>
      <Phrase Key="Subdivision_Level_1">Livello di Suddivisione 1</Phrase>
      <Phrase Key="Subdivision_Level_2">Livello di Suddivisione 2</Phrase>
      <Phrase Key="Subdivision_Level_3">Livello di Suddivisione 3</Phrase>
      <Phrase Key="Subdivision_Level_4">Livello di Suddivisione 4</Phrase>
      <Phrase Key="Subdivision_Level_5">Livello di Suddivisione 5</Phrase>
      <Phrase Key="Subdivision_Level_6">Livello di Suddivisione 6</Phrase>
      <Phrase Key="Table_of_Contents">Sommario</Phrase>
      <Phrase Key="Title_Page">Frontespizio</Phrase>
      <Phrase Key="Group">Gruppo</Phrase>
      <Phrase Key="PAGE_IMAGE">IMMAGINE DELLA PAGINA</Phrase>
      <Phrase Key="PAGE_TEXT">TESTO DELLA PAGINA</Phrase>
      <Phrase Key="ZOOMABLE">ZOOMABILE</Phrase>
      <Phrase Key="FEATURES">EDIFICI</Phrase>
      <Phrase Key="STREETS">STRADE</Phrase>
      <Phrase Key="All_Items">Tutti gli Elementi</Phrase>
      <Phrase Key="Recently_Added_Items">Elementi Aggiunti di Recente</Phrase>
      <Phrase Key="Related_Images">Immagini Correlate</Phrase>
      <Phrase Key="Anywhere">Ovunque</Phrase>
      <Phrase Key="NARROW_RESULTS_BY">LIMITA I RISULTATI PER</Phrase>
      <Phrase Key="Country">Paese</Phrase>
      <Phrase Key="State">Stato</Phrase>
      <Phrase Key="County">Contea</Phrase>
      <Phrase Key="City">Città</Phrase>
      <Phrase Key="Subject_Topic">Soggetto: Argomento</Phrase>
      <Phrase Key="Subject_Geographic_Area">Soggetto: Area Geografica</Phrase>
      <Phrase Key="Subject_Genre">Soggetto: Genere</Phrase>
      <Phrase Key="Show_More">Mostra di Più</Phrase>
      <Phrase Key="Show_Less">Mostra di Meno</Phrase>
      <Phrase Key="Permanent_Link">Link Permanente</Phrase>
      <Phrase Key="Material_Information">Informazioni sul Materiale</Phrase>
      <Phrase Key="Physical_Description">Descrizione Fisica</Phrase>
      <Phrase Key="Manufacturer">Produttore</Phrase>
      <Phrase Key="Subjects">Soggetti</Phrase>
      <Phrase Key="Statement_of_Responsibility">Dichiarazione di Responsabilità</Phrase>
      <Phrase Key="General_Note">Nota Generale</Phrase>
      <Phrase Key="Record_Information">Informazioni sul Record</Phrase>
      <Phrase Key="Local_Membership">Iscrizione Locale</Phrase>
      <Phrase Key="METS_Information">Informazioni METS</Phrase>
      <Phrase Key="Creation_Date">Data di Creazione</Phrase>
      <Phrase Key="Last_Modified">Ultima Modifica</Phrase>
      <Phrase Key="Last_User">Ultimo Utente</Phrase>
      <Phrase Key="System_Folder">Cartella di Sistema</Phrase>
      <Phrase Key="Item_Primary_Key">Chiave Primaria dell'Elemento</Phrase>
      <Phrase Key="Group_Primary_Key">Chiave Primaria del Gruppo</Phrase>
      <Phrase Key="System_Admin_Information">Informazioni di Amministrazione del Sistema</Phrase>
      <Phrase Key="Group_Title">Titolo del Gruppo</Phrase>
      <Phrase Key="Accession_Number">Numero di Accessione</Phrase>
      <Phrase Key="Caribbean_Newspaper_Digital_Library">Biblioteca Digitale dei Giornali dei Caraibi</Phrase>
      <Phrase Key="Digital_Library_of_the_Caribbean">Biblioteca Digitale dei Caraibi</Phrase>
      <Phrase Key="Panama_and_the_Canal">Panama e il Canale</Phrase>
      <Phrase Key="Subject_Keywords">Parole Chiave dell'Argomento</Phrase>
      <Phrase Key="Type">Tipo</Phrase>
      <Phrase Key="Genre">Genere</Phrase>
      <Phrase Key="Target_Audience">Pubblico di Riferimento</Phrase>
      <Phrase Key="Attribution">Attribuzione</Phrase>
      <Phrase Key="Tickler">Promemoria</Phrase>
      <Phrase Key="Identifier">Identificatore</Phrase>
      <Phrase Key="Affiliation">Affiliazione</Phrase>
      <Phrase Key="Frequency">Frequenza</Phrase>
      <Phrase Key="Date_Ascending">Data Crescente</Phrase>
      <Phrase Key="Date_Descending">Data Decrescente</Phrase>
      <Phrase Key="TEXT_SEARCH">RICERCA TESTO</Phrase>
      <Phrase Key="Subcollections">Sottocollezioni</Phrase>
      <Phrase Key="Metadata_Only">Solo Metadati</Phrase>
      <Phrase Key="Most_Recent">Più Recente</Phrase>
      <Phrase Key="Child_Collections">Sottocollezioni</Phrase>
      <Phrase Key="Title">Titolo</Phrase>
      <Phrase Key="Date">Data</Phrase>
      <Phrase Key="Language">Lingua</Phrase>
      <Phrase Key="Full_Citation">Citazione Completa</Phrase>
    </Section>

  </Localization>
</SobekCM_Config>
