<?xml version="1.0" encoding="UTF-8" standalone="yes" ?>
<SobekCM_Config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://sobekrepository.org/schemas/sobekcm_config"
  xsi:schemaLocation="http://sobekrepository.org/schemas/sobekcm_config 
    http://sobekrepository.org/schemas/sobekcm_config.xsd">
    <Instances>
      <Instance name="Middlesexcc" active="false">
        <Connection_String type="MSSQL">data source=SOB-SQL01\SOBEK2;initial catalog=middlesexcc;integrated security=Yes;</Connection_String>
        <Microservices>
          <Add Key="Builder.Get_Builder_Settings" URL="[BASEURL]/engine/builder/settings/protobuf?IncludeDescs={0}" Protocol="PROTOBUF" />
          <Add Key="Configuration.Extensions" URL="[BASEURL]/engine/config/extensions/protobuf" Protocol="PROTOBUF" />
          <Add Key="Configuration.Metadata" URL="[BASEURL]/engine/config/metadata/protobuf" Protocol="PROTOBUF" />
          <Add Key="Configuration.OAI_PMH" URL="[BASEURL]/engine/config/oaipmh/protobuf" Protocol="PROTOBUF" />
        </Microservices>
      </Instance>
	  <Instance name="Middlesexcc" active="true">
        <Connection_String type="MSSQL">data source=sobek-backend\SQLEXPRESS;initial catalog=middlesexcc;user id=sobekcm-sql;password=zda5hef9afx9WBA@wbe;TrustServerCertificate=True;Encrypt=False;</Connection_String>
        <Microservices>
          <Add Key="Builder.Get_Builder_Settings" URL="[BASEURL]/engine/builder/settings/protobuf?IncludeDescs={0}" Protocol="PROTOBUF" />
          <Add Key="Configuration.Extensions" URL="[BASEURL]/engine/config/extensions/protobuf" Protocol="PROTOBUF" />
          <Add Key="Configuration.Metadata" URL="[BASEURL]/engine/config/metadata/protobuf" Protocol="PROTOBUF" />
          <Add Key="Configuration.OAI_PMH" URL="[BASEURL]/engine/config/oaipmh/protobuf" Protocol="PROTOBUF" />
        </Microservices>
      </Instance>
    </Instances>
  <Builder>
    <Ghostscript_Executable>C:\Program Files\gs\gs9.18\bin\gswin64c.exe</Ghostscript_Executable>
    <Imagemagick_Executable>C:\Program Files\ImageMagick-7.1.1-Q16\convert.exe</Imagemagick_Executable>
  </Builder>
</SobekCM_Config>
