<?xml version="1.0" encoding="utf-8" ?>
<SobekCM_Config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://sobekrepository.org/schemas/sobekcm_config"
	xsi:schemaLocation="http://sobekrepository.org/schemas/sobekcm_config
		http://sobekrepository.org/schemas/sobekcm_config.xsd">
  <Localization Language="nl">

    <Section Name="Common">
      <Phrase Key="Go_To">Ga naar:</Phrase>
      <Phrase Key="First_Page">Eerste Pagina</Phrase>
      <Phrase Key="Previous_Page">Vorige Pagina</Phrase>
      <Phrase Key="Next_Page">Volgende Pagina</Phrase>
      <Phrase Key="Last_Page">Laatste Pagina</Phrase>
      <Phrase Key="First">Eerste</Phrase>
      <Phrase Key="Previous">Vorige</Phrase>
      <Phrase Key="Next">Volgende</Phrase>
      <Phrase Key="Last">Laatste</Phrase>
    </Section>

    <Section Name="Text_Search">
      <Phrase Key="Search_This_Document">Dit document doorzoeken</Phrase>
      <Phrase Key="Go">Ga</Phrase>
      <Phrase Key="Quick_Tips_Html"><![CDATA[<h2>Snelle tips</h2>
<div id="sbkTsv_QuickTips">
  <ul>
    <li><h3>Zoeken in het document</h3>
      <p> Deze optie doorzoekt de volledige tekst van het document en geeft alle pagina's terug die overeenkomen met<br />
      de voorwaarden van uw zoekopdracht.</p>
    </li>
    <li><h3>Booleaans zoeken</h3>
      <p> Gebruik <span class="sbkTsv_Bold">+</span> of <span class="sbkTsv_BoldItalic">en</span> tussen termen om records te vinden met <span class="sbkTsv_Bold">alle</span> termen.<br />
      Gebruik <span class="sbkTsv_Bold">-</span> of <span class="sbkTsv_BoldItalic">of</span> tussen termen om records te vinden met <span class="sbkTsv_Bold">een van</span> de termen.<br />
      Gebruik <span class="sbkTsv_Bold">!</span> of <span class="sbkTsv_BoldItalic">en niet</span> tussen termen om records met die termen uit te sluiten.<br />
      Als niets is aangegeven, is <span class="sbkTsv_BoldItalic">en</span> de standaardinstelling.<br />
      VOORBEELD: natuurlijk en niet geschiedenis
      </p>
    </li>
    <li><h3>Zoeken op woordgroep</h3>
      <p> Door een woordgroep tussen aanhalingstekens te plaatsen, wordt gezocht naar de exacte woordgroep.<br />
      VOORBEELD: &quot;natuurlijke geschiedenis&quot;</p>
    </li>
    <li><h3>Hoofdlettergebruik</h3>
      <p> Zoekopdrachten zijn niet hoofdlettergevoelig.<br />
      VOORBEELD: Zoeken naar <span class="sbkTsv_Italic">NATUURLIJK</span> geeft dezelfde resultaten als zoeken naar <span class="sbkTsv_Italic">natuurlijk</span></p>
    </li>
    <li><h3>Diakritische tekens</h3>
      <p> Om woorden met diakritische tekens te zoeken, moet het teken worden ingevoerd in het zoekvak.<br />
      VOORBEELD: Zoeken naar <span class="sbkTsv_Italic">Précédent</span> is een andere zoekopdracht dan <span class="sbkTsv_Italic">Precedent</span></p>
    </li>
  </ul>
</div>]]></Phrase>
      <Phrase Key="Your_Search_For">Uw zoekopdracht binnen dit document voor </Phrase>
      <Phrase Key="And_Not"> EN NIET </Phrase>
      <Phrase Key="And"> EN </Phrase>
      <Phrase Key="Or"> OF </Phrase>
      <Phrase Key="Not">niet </Phrase>
      <Phrase Key="Resulted_In"> resulteerde in </Phrase>
      <Phrase Key="Matching_Pages"> overeenkomende pagina's</Phrase>
      <Phrase Key="No_Matching_Pages">geen overeenkomende pagina's</Phrase>
      <Phrase Key="Expand_Results">U kunt uw resultaten uitbreiden door te zoeken op</Phrase>
      <Phrase Key="Restrict_Results">U kunt uw resultaten beperken door te zoeken op</Phrase>
    </Section>

    <Section Name="JPEG2000">
      <Phrase Key="Thumbnail">MINIATUUR</Phrase>
    </Section>

    <Section Name="Citation_Common">
      <Phrase Key="Standard_View">STANDAARDWEERGAVE</Phrase>
      <Phrase Key="Marc_View">MARC-WEERGAVE</Phrase>
      <Phrase Key="Metadata_View">METADATA</Phrase>
      <Phrase Key="Usage_Statistics_View">GEBRUIKSSTATISTIEKEN</Phrase>
      <Phrase Key="Dark_Item_Message">Dit item is AFGESCHERMD en kan momenteel niet worden bekeken</Phrase>
      <Phrase Key="Menu_Standard_View">Standaardweergave</Phrase>
      <Phrase Key="Menu_Marc_View">MARC-weergave</Phrase>
      <Phrase Key="Menu_Metadata">Metadata</Phrase>
      <Phrase Key="Menu_Usage_Statistics">Gebruiksstatistieken</Phrase>
    </Section>

    <Section Name="Citation_Standard">
      <Phrase Key="Please_Log_On_Suffix">  Log in om toegang te krijgen.</Phrase>
      <Phrase Key="Please_Request_Access_Suffix">  Vraag toegang aan.</Phrase>
      <Phrase Key="Restricted_Item_Alt">Beperkt item</Phrase>
    </Section>

    <Section Name="Citation_MARC">
      <Phrase Key="Auto_Generated_Notice">Het bovenstaande record is automatisch gegenereerd op basis van het METS-bestand.</Phrase>
    </Section>

    <Section Name="Metadata_Links">
      <Phrase Key="Intro_Html"><![CDATA[De gegevens (of metadata) over deze digitale bron zijn beschikbaar in verschillende metadataformaten. Zie voor meer informatie over deze formaten de <a href="http://ufdc.ufl.edu/sobekcm/metadata">sectie Metadata</a> van de informatie over <a href="http://ufdc.ufl.edu/sobekcm/">Technische Aspecten</a>.]]></Phrase>
      <Phrase Key="Ead_View_Link">Vindhulp bekijken (EAD)</Phrase>
      <Phrase Key="Ead_Description"><![CDATA[Deze archiefcollectie wordt beschreven met een elektronische vindhulp. Dit metadatabestand bevat de volledige archiefbeschrijving en inventarislijst voor dit archiefmateriaal. Dit bestand volgt de vastgestelde norm <a href="http://www.loc.gov/ead/">Encoded Archival Description</a> (EAD).]]></Phrase>
      <Phrase Key="Mets_View_Link">Volledige METS/MODS bekijken</Phrase>
      <Phrase Key="Mets_Description"><![CDATA[Dit metadatabestand is het brongegevensbestand dat samen met alle bestanden van de digitale bron is ingediend. Het bevat alle bronvermeldings- en verwerkingsinformatie die is gebruikt om deze bron samen te stellen. Dit bestand volgt de vastgestelde norm <a href="http://www.loc.gov/standards/mets/">Metadata Encoding and Transmission Standard</a> (METS) en <a href="http://www.loc.gov/standards/mods/">Metadata Object Description Schema</a> (MODS). Dit METS/MODS-bestand is uitgelezen op het moment dat dit item in het geheugen werd geladen en wordt gebruikt om alle informatie in de standaardweergave en de MARC-weergave van de bronvermelding weer te geven.]]></Phrase>
      <Phrase Key="Marc_Xml_View_Link">MARC XML-bestand bekijken</Phrase>
      <Phrase Key="Marc_Xml_Description"><![CDATA[De ingevoerde metadata worden ook geconverteerd naar MARC XML-formaat, voor interoperabiliteit met andere bibliotheekcatalogussystemen. Dit vertegenwoordigt dezelfde gegevens die beschikbaar zijn in de <a href="{0}">MARC-WEERGAVE</a>, behalve dat dit een statisch XML-bestand is. Dit bestand volgt het <a href="http://www.loc.gov/standards/marcxml/">MarcXML-schema</a>.]]></Phrase>
      <Phrase Key="Tei_View_Link">TEI-/Tekstbestand bekijken</Phrase>
      <Phrase Key="Tei_Description"><![CDATA[De volledige tekst van dit item is ook beschikbaar in het downloadbare bestand van de vastgestelde norm <a href="http://www.tei-c.org/index.xml">Text Encoding Initiative</a> (TEI).]]></Phrase>
    </Section>

    <Section Name="Item_Usage_Stats">
      <Phrase Key="Compiled_Monthly_Notice">Gebruiksstatistieken voor items worden eenmaal per maand samengesteld op basis van de gebruikslogboeken van de voorgaande maand en bevatten geen persoonlijke informatie.</Phrase>
      <Phrase Key="Viewed_Times_Sentence"><![CDATA[Dit item is <%HITS%> keer bekeken tijdens <%SESSIONS%> bezoeken.  Hieronder vindt u de details van het algemene gebruik van dit item binnen deze bibliotheek.<br /><br />Voor definities van deze termen, zie de <a href="{0}" target="_BLANK">definities op de hoofdpagina met statistieken</a>.]]></Phrase>
      <Phrase Key="Date">Datum</Phrase>
      <Phrase Key="Views">Weergaven</Phrase>
      <Phrase Key="Visits">Bezoeken</Phrase>
      <Phrase Key="Year_Statistics_Suffix"> STATISTIEKEN</Phrase>
      <Phrase Key="Total">TOTAAL</Phrase>
      <Phrase Key="No_Stats_Yet_Message">Gebruiksstatistieken worden maandelijks opgebouwd en zijn nog niet geregistreerd voor dit item.</Phrase>
      <Phrase Key="Month_1">Januari</Phrase>
      <Phrase Key="Month_2">Februari</Phrase>
      <Phrase Key="Month_3">Maart</Phrase>
      <Phrase Key="Month_4">April</Phrase>
      <Phrase Key="Month_5">Mei</Phrase>
      <Phrase Key="Month_6">Juni</Phrase>
      <Phrase Key="Month_7">Juli</Phrase>
      <Phrase Key="Month_8">Augustus</Phrase>
      <Phrase Key="Month_9">September</Phrase>
      <Phrase Key="Month_10">Oktober</Phrase>
      <Phrase Key="Month_11">November</Phrase>
      <Phrase Key="Month_12">December</Phrase>
    </Section>

    <Section Name="SearchEngineIndexing">
      <Phrase Key="Citation_Label">Bronvermelding</Phrase>
      <Phrase Key="Downloads_Label">Downloads</Phrase>
      <Phrase Key="Full_Text_Label">Volledige tekst</Phrase>
      <Phrase Key="Unable_To_Read_File">Kan bestand niet lezen: {0}</Phrase>
    </Section>

    <Section Name="JPEG">
      <Phrase Key="Menu_Standard">Standaard</Phrase>
      <Phrase Key="Zoomable_Switch_Prompt">Klik op de afbeelding hieronder om over te schakelen naar de zoombare versie</Phrase>
      <Phrase Key="Zoomable_Switch_Title">Klik op de afbeelding om over te schakelen naar de zoombare versie</Phrase>
    </Section>

    <Section Name="PDF">
      <Phrase Key="Menu_Label_Default">PDF</Phrase>
      <Phrase Key="Error_No_Pdf_Found">FOUT: KAN GEEN PDF-BESTAND VINDEN OM WEER TE GEVEN IN DIT ITEM!</Phrase>
      <Phrase Key="Download_This_Pdf">Download deze PDF</Phrase>
      <Phrase Key="Download_Adobe_Reader_Alt">Download Adobe Reader</Phrase>
    </Section>

    <Section Name="Text_Viewer">
      <Phrase Key="Menu_Text">Tekst</Phrase>
      <Phrase Key="Unknown_Error">Onbekende fout bij het ophalen van de tekst</Phrase>
      <Phrase Key="No_Text_File">Er bestaat geen tekstbestand voor deze pagina</Phrase>
      <Phrase Key="No_Text_Recorded">Er is geen tekst geregistreerd voor deze pagina</Phrase>
    </Section>

    <Section Name="TEI">
      <Phrase Key="Menu_Default_Label">TEI</Phrase>
      <Phrase Key="Transform_Error_Html"><![CDATA[Fout tijdens de XSLT-transformatie van TEI<br /><br />{0}]]></Phrase>
    </Section>

    <Section Name="HTML_Viewer">
      <Phrase Key="Menu_Default_Label">HTML</Phrase>
      <Phrase Key="Unable_To_Pull_Html_Sentence"><![CDATA[Kan de html-weergave voor dit item niet laden ( <a href="{0}">bron</a> )]]></Phrase>
      <Phrase Key="Apologize_Sentence">Onze excuses voor het ongemak.</Phrase>
      <Phrase Key="Report_Problem_Sentence"><![CDATA[Klik <a href="{0}">hier</a> om het probleem te melden.]]></Phrase>
    </Section>

    <Section Name="Embedded_Web_Content">
      <Phrase Key="Menu_Content_Label">Inhoud</Phrase>
      <Phrase Key="Viewer_Title">Inhoud</Phrase>
    </Section>

    <Section Name="EmbeddedVideo">
      <Phrase Key="Menu_Video_Label">Video</Phrase>
      <Phrase Key="Viewer_Title">Streamingvideo</Phrase>
    </Section>

    <Section Name="Video">
      <Phrase Key="Menu_Video_Label">Video</Phrase>
    </Section>

    <Section Name="Google_Map">
      <Phrase Key="Menu_Default_Label">Zoek op kaart!</Phrase>
      <Phrase Key="Menu_Map_Search">Kaartzoekopdracht</Phrase>
      <Phrase Key="Menu_Search_Results">Zoekresultaten</Phrase>
      <Phrase Key="Menu_Map_Coverage">Kaartdekking</Phrase>
      <Phrase Key="Search_Button">Zoeken</Phrase>
      <Phrase Key="Find_Address_Button">Adres zoeken</Phrase>
      <Phrase Key="Instructions_Step1_Html"><![CDATA[Gebruik hieronder de knop <i>Gebied selecteren</i> om een zoekkader op de kaart te tekenen, of voer een adres in en klik op <i>Adres zoeken</i>.]]></Phrase>
      <Phrase Key="Instructions_Step2_Html"><![CDATA[Klik op de knop <i>Zoeken</i> om de resultaten te bekijken]]></Phrase>
      <Phrase Key="Address_Label">Adres:</Phrase>
      <Phrase Key="Address_Placeholder">Voer een adres in ( bijv., 12 Main Street, Gainesville Florida )</Phrase>
      <Phrase Key="No_Matches_Message"><![CDATA[Er waren geen overeenkomsten binnen dit item voor uw geografische zoekopdracht. &nbsp; ]]></Phrase>
      <Phrase Key="Modify_Item_Search">Itemzoekopdracht wijzigen</Phrase>
      <Phrase Key="Modify_Search_Within_Flight">Zoekopdracht binnen vlucht wijzigen</Phrase>
      <Phrase Key="Search_Other_Items_Link">Klik hier om andere items in de huidige collectie te doorzoeken</Phrase>
      <Phrase Key="Matching_Results_Intro">De volgende resultaten komen overeen met uw geografische zoekopdracht:</Phrase>
      <Phrase Key="Zoom_To_Extent">Zoom naar volledige omvang</Phrase>
      <Phrase Key="Zoom_To_Matches">Zoom naar resultaten</Phrase>
      <Phrase Key="Search_All_Flights">Alle vluchten doorzoeken</Phrase>
      <Phrase Key="Search_Entire_Collection">Volledige collectie doorzoeken</Phrase>
      <Phrase Key="Google_Maps_Not_Enabled_Html"><![CDATA[<p style="font-weight:bold; text-size:1.1em">FOUT: Google Maps is niet ingeschakeld op deze SobekCM-instantie!</p>
              <p>Om dit in te schakelen, maakt u een Google Maps API-sleutel aan en voert u deze in bij de systeeminstellingen.</p>
              <p>Informatie over deze procedure vindt u hier: <a href="http://sobekrepository.org/software/config/googlemaps" style="color:white;">http://sobekrepository.org/software/config/googlemaps</a>.</p>]]></Phrase>
    </Section>

    <Section Name="GnuBooks_PageTurner">
      <Phrase Key="Menu_Default_Label">Bladerweergave</Phrase>
      <Phrase Key="No_Javascript_Message">Voor de bladerweergave is een browser met Javascript vereist.</Phrase>
    </Section>

    <Section Name="MultiVolumes">
      <Phrase Key="Menu_All_Volumes">Alle Volumes</Phrase>
      <Phrase Key="Menu_All_Issues">Alle Nummers</Phrase>
      <Phrase Key="Menu_Related_Maps">Gerelateerde kaarten</Phrase>
      <Phrase Key="Menu_Related_Flights">Gerelateerde vluchten</Phrase>
      <Phrase Key="All_Volumes">Alle Volumes</Phrase>
      <Phrase Key="All_Issues">Alle Nummers</Phrase>
      <Phrase Key="Related_Map_Sets">Gerelateerde kaartensets</Phrase>
      <Phrase Key="Related_Flights">Gerelateerde vluchten</Phrase>
      <Phrase Key="Related_Titles_Heading">Gerelateerde titels</Phrase>
      <Phrase Key="Vid_Header">VID</Phrase>
      <Phrase Key="Level_1_Header">NIVEAU 1</Phrase>
      <Phrase Key="Level_2_Header">NIVEAU 2</Phrase>
      <Phrase Key="Level_3_Header">NIVEAU 3</Phrase>
      <Phrase Key="Access_Header">TOEGANG</Phrase>
      <Phrase Key="Access_Dark">afgeschermd</Phrase>
      <Phrase Key="Access_Private">privé</Phrase>
      <Phrase Key="Access_Public">openbaar</Phrase>
      <Phrase Key="Access_Restricted">beperkt</Phrase>
      <Phrase Key="Missing_Thumbnail_Alt">MINIATUUR ONTBREEKT</Phrase>
      <Phrase Key="Dark_Suffix"> ( afgeschermd )</Phrase>
      <Phrase Key="Private_Suffix"> ( privé )</Phrase>
      <Phrase Key="Restricted_Suffix"> ( sommige beperkingen zijn van toepassing )</Phrase>
      <Phrase Key="All_Private_Or_Dark_Suffix"> ( allemaal privé of afgeschermd )</Phrase>
    </Section>

    <Section Name="OpenTextbook_Common">
      <Phrase Key="Search_Label">Zoeken: </Phrase>
      <Phrase Key="Zoom_Label">Zoom: </Phrase>
      <Phrase Key="Unnumbered_Page_Prefix">Ongenummerd </Phrase>
      <Phrase Key="Page_Prefix">Pagina </Phrase>
      <Phrase Key="Previous_Section_Alt">Ga naar de vorige sectie</Phrase>
      <Phrase Key="Next_Section_Alt">Ga naar de volgende sectie</Phrase>
    </Section>

    <Section Name="OpenTextbook">
      <Phrase Key="Menu_Default_Label">Open Studieboek</Phrase>
      <Phrase Key="Welcome_Heading">Welkom bij OpenPublishing</Phrase>
      <Phrase Key="Welcome_Edit_Instructions"><![CDATA[U kunt uw item hier bewerken door <i>Inhoud bewerken</i> te selecteren in de rechterbovenhoek van deze pagina.]]></Phrase>
      <Phrase Key="Welcome_Toc_Instructions"><![CDATA[Om uw inhoudsopgave bij te werken en hoofdstukken te maken, gebruikt u de OpenPublishing-tool, beschikbaar in de interne kopregel of via de optie <i>BEHEREN</i> in het itemmenu.]]></Phrase>
      <Phrase Key="Chapter_Edit_Instructions"><![CDATA[U kunt dit hoofdstuk hier bewerken door <i>Inhoud bewerken</i> te selecteren in de rechterbovenhoek van deze pagina.]]></Phrase>
    </Section>

    <Section Name="OpenTextbook_Divisions">
      <Phrase Key="Menu_Default_Label">Open Uitgever</Phrase>
    </Section>

    <Section Name="Related_Images">
      <Phrase Key="Menu_Default_Label">Miniaturen</Phrase>
      <Phrase Key="Thumbnails_Per_Page_Suffix">miniaturen per pagina</Phrase>
      <Phrase Key="Go_To_Thumbnail_Label">Ga naar miniatuur</Phrase>
      <Phrase Key="Switch_To_Small">Overschakelen naar kleine miniaturen</Phrase>
      <Phrase Key="Switch_To_Medium">Overschakelen naar middelgrote miniaturen</Phrase>
      <Phrase Key="Switch_To_Large">Overschakelen naar grote miniaturen</Phrase>
      <Phrase Key="All_Thumbnails">Alle miniaturen</Phrase>
      <Phrase Key="Small_Alt">Klein</Phrase>
      <Phrase Key="Medium_Alt">Middel</Phrase>
      <Phrase Key="Large_Alt">Groot</Phrase>
      <Phrase Key="Missing_Thumbnail_Alt">MINIATUUR ONTBREEKT</Phrase>
      <Phrase Key="Page_Number_Placeholder">(pagina {0})</Phrase>
    </Section>

    <Section Name="Downloads">
      <Phrase Key="Menu_Default_Label">Downloads</Phrase>
      <Phrase Key="Explanation_Has_Downloads">Dit item heeft de volgende downloads:</Phrase>
      <Phrase Key="Explanation_Only_Downloads">Dit item is alleen beschikbaar als de volgende downloads:</Phrase>
      <Phrase Key="Tiles_Available_Heading">De volgende tegels zijn beschikbaar om te downloaden:</Phrase>
      <Phrase Key="Jpeg2000_Available_Heading">De volgende JPEG2000-bestanden zijn beschikbaar om te downloaden:</Phrase>
      <Phrase Key="Save_Link_As_Instructions">Klik voor het downloaden met de rechtermuisknop op de tegelnaam hieronder, selecteer 'Koppeling opslaan als...' en sla de JPEG2000 op uw computer op.</Phrase>
      <Phrase Key="Save_Target_As_Instructions">Klik voor het downloaden met de rechtermuisknop op de tegelnaam hieronder, selecteer 'Doel opslaan als...' en sla de JPEG2000 op uw computer op. </Phrase>
    </Section>

  </Localization>
</SobekCM_Config>
