<?xml version="1.0" encoding="utf-8" ?>
<SobekCM_Config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://sobekrepository.org/schemas/sobekcm_config"
	xsi:schemaLocation="http://sobekrepository.org/schemas/sobekcm_config
		http://sobekrepository.org/schemas/sobekcm_config.xsd">
  <Localization Language="nl">

    <Section Name="Common">
      <Phrase Key="Go_To">Ga naar:</Phrase>
      <Phrase Key="First_Page">Eerste Pagina</Phrase>
      <Phrase Key="Previous_Page">Vorige Pagina</Phrase>
      <Phrase Key="Next_Page">Volgende Pagina</Phrase>
      <Phrase Key="Last_Page">Laatste Pagina</Phrase>
      <Phrase Key="First">Eerste</Phrase>
      <Phrase Key="Previous">Vorige</Phrase>
      <Phrase Key="Next">Volgende</Phrase>
      <Phrase Key="Last">Laatste</Phrase>
    </Section>

    <Section Name="Text_Search">
      <Phrase Key="Search_This_Document">Dit document doorzoeken</Phrase>
      <Phrase Key="Go">Ga</Phrase>
      <Phrase Key="Your_Search_For">Uw zoekopdracht binnen dit document voor </Phrase>
      <Phrase Key="And_Not"> EN NIET </Phrase>
      <Phrase Key="And"> EN </Phrase>
      <Phrase Key="Or"> OF </Phrase>
      <Phrase Key="Not">niet </Phrase>
      <Phrase Key="Resulted_In"> resulteerde in </Phrase>
      <Phrase Key="Matching_Pages"> overeenkomende pagina's</Phrase>
      <Phrase Key="No_Matching_Pages">geen overeenkomende pagina's</Phrase>
      <Phrase Key="Expand_Results">U kunt uw resultaten uitbreiden door te zoeken op</Phrase>
      <Phrase Key="Restrict_Results">U kunt uw resultaten beperken door te zoeken op</Phrase>
    </Section>

    <Section Name="JPEG2000">
      <Phrase Key="Thumbnail">MINIATUUR</Phrase>
    </Section>

    <Section Name="Citation_Common">
      <Phrase Key="Standard_View">STANDAARDWEERGAVE</Phrase>
      <Phrase Key="Marc_View">MARC-WEERGAVE</Phrase>
      <Phrase Key="Metadata_View">METADATA</Phrase>
      <Phrase Key="Usage_Statistics_View">GEBRUIKSSTATISTIEKEN</Phrase>
      <Phrase Key="Dark_Item_Message">Dit item is AFGESCHERMD en kan momenteel niet worden bekeken</Phrase>
      <Phrase Key="Menu_Standard_View">Standaardweergave</Phrase>
      <Phrase Key="Menu_Marc_View">MARC-weergave</Phrase>
      <Phrase Key="Menu_Metadata">Metadata</Phrase>
      <Phrase Key="Menu_Usage_Statistics">Gebruiksstatistieken</Phrase>
    </Section>

    <Section Name="Citation_Standard">
      <Phrase Key="Please_Log_On_Suffix">  Log in om toegang te krijgen.</Phrase>
      <Phrase Key="Please_Request_Access_Suffix">  Vraag toegang aan.</Phrase>
      <Phrase Key="Restricted_Item_Alt">Beperkt item</Phrase>
    </Section>

    <Section Name="Citation_MARC">
      <Phrase Key="Auto_Generated_Notice">Het bovenstaande record is automatisch gegenereerd op basis van het METS-bestand.</Phrase>
    </Section>

    <Section Name="Metadata_Links">
      <Phrase Key="Intro_Html"><![CDATA[De gegevens (of metadata) over deze digitale bron zijn beschikbaar in verschillende metadataformaten. Zie voor meer informatie over deze formaten de <a href="http://ufdc.ufl.edu/sobekcm/metadata">sectie Metadata</a> van de informatie over <a href="http://ufdc.ufl.edu/sobekcm/">Technische Aspecten</a>.]]></Phrase>
      <Phrase Key="Ead_View_Link">Vindhulp bekijken (EAD)</Phrase>
      <Phrase Key="Ead_Description"><![CDATA[Deze archiefcollectie wordt beschreven met een elektronische vindhulp. Dit metadatabestand bevat de volledige archiefbeschrijving en inventarislijst voor dit archiefmateriaal. Dit bestand volgt de vastgestelde norm <a href="http://www.loc.gov/ead/">Encoded Archival Description</a> (EAD).]]></Phrase>
      <Phrase Key="Mets_View_Link">Volledige METS/MODS bekijken</Phrase>
      <Phrase Key="Mets_Description"><![CDATA[Dit metadatabestand is het brongegevensbestand dat samen met alle bestanden van de digitale bron is ingediend. Het bevat alle bronvermeldings- en verwerkingsinformatie die is gebruikt om deze bron samen te stellen. Dit bestand volgt de vastgestelde norm <a href="http://www.loc.gov/standards/mets/">Metadata Encoding and Transmission Standard</a> (METS) en <a href="http://www.loc.gov/standards/mods/">Metadata Object Description Schema</a> (MODS). Dit METS/MODS-bestand is uitgelezen op het moment dat dit item in het geheugen werd geladen en wordt gebruikt om alle informatie in de standaardweergave en de MARC-weergave van de bronvermelding weer te geven.]]></Phrase>
      <Phrase Key="Marc_Xml_View_Link">MARC XML-bestand bekijken</Phrase>
      <Phrase Key="Marc_Xml_Description"><![CDATA[De ingevoerde metadata worden ook geconverteerd naar MARC XML-formaat, voor interoperabiliteit met andere bibliotheekcatalogussystemen. Dit vertegenwoordigt dezelfde gegevens die beschikbaar zijn in de <a href="{0}">MARC-WEERGAVE</a>, behalve dat dit een statisch XML-bestand is. Dit bestand volgt het <a href="http://www.loc.gov/standards/marcxml/">MarcXML-schema</a>.]]></Phrase>
      <Phrase Key="Tei_View_Link">TEI-/Tekstbestand bekijken</Phrase>
      <Phrase Key="Tei_Description"><![CDATA[De volledige tekst van dit item is ook beschikbaar in het downloadbare bestand van de vastgestelde norm <a href="http://www.tei-c.org/index.xml">Text Encoding Initiative</a> (TEI).]]></Phrase>
      <Phrase Key="Iiif_View_Link">IIIF-manifest</Phrase>
      <Phrase Key="Iiif_Description"><![CDATA[Een <a href="https://iiif.io/get-started/how-iiif-works/">IIIF-manifest</a> is een gestructureerd JSON-LD-document dat structurele gegevens, beschrijvende metadata en inhoudslinks bundelt om een digitale viewer te vertellen hoe een complex object zoals een boek, manuscript of kunstwerk moet worden weergegeven en doorbladerd.]]></Phrase>
    </Section>

    <Section Name="Item_Usage_Stats">
      <Phrase Key="Compiled_Monthly_Notice">Gebruiksstatistieken voor items worden eenmaal per maand samengesteld op basis van de gebruikslogboeken van de voorgaande maand en bevatten geen persoonlijke informatie.</Phrase>
      <Phrase Key="Viewed_Times_Sentence"><![CDATA[Dit item is <%HITS%> keer bekeken tijdens <%SESSIONS%> bezoeken.  Hieronder vindt u de details van het algemene gebruik van dit item binnen deze bibliotheek.<br /><br />Voor definities van deze termen, zie de <a href="{0}" target="_BLANK">definities op de hoofdpagina met statistieken</a>.]]></Phrase>
      <Phrase Key="Date">Datum</Phrase>
      <Phrase Key="Views">Weergaven</Phrase>
      <Phrase Key="Visits">Bezoeken</Phrase>
      <Phrase Key="Year_Statistics_Suffix"> STATISTIEKEN</Phrase>
      <Phrase Key="Total">TOTAAL</Phrase>
      <Phrase Key="No_Stats_Yet_Message">Gebruiksstatistieken worden maandelijks opgebouwd en zijn nog niet geregistreerd voor dit item.</Phrase>
      <Phrase Key="Month_1">Januari</Phrase>
      <Phrase Key="Month_2">Februari</Phrase>
      <Phrase Key="Month_3">Maart</Phrase>
      <Phrase Key="Month_4">April</Phrase>
      <Phrase Key="Month_5">Mei</Phrase>
      <Phrase Key="Month_6">Juni</Phrase>
      <Phrase Key="Month_7">Juli</Phrase>
      <Phrase Key="Month_8">Augustus</Phrase>
      <Phrase Key="Month_9">September</Phrase>
      <Phrase Key="Month_10">Oktober</Phrase>
      <Phrase Key="Month_11">November</Phrase>
      <Phrase Key="Month_12">December</Phrase>
    </Section>

    <Section Name="SearchEngineIndexing">
      <Phrase Key="Citation_Label">Bronvermelding</Phrase>
      <Phrase Key="Downloads_Label">Downloads</Phrase>
      <Phrase Key="Full_Text_Label">Volledige tekst</Phrase>
      <Phrase Key="Unable_To_Read_File">Kan bestand niet lezen: {0}</Phrase>
    </Section>

    <Section Name="JPEG">
      <Phrase Key="Menu_Standard">Standaard</Phrase>
      <Phrase Key="Zoomable_Switch_Prompt">Klik op de afbeelding hieronder om over te schakelen naar de zoombare versie</Phrase>
      <Phrase Key="Zoomable_Switch_Title">Klik op de afbeelding om over te schakelen naar de zoombare versie</Phrase>
    </Section>

    <Section Name="PDF">
      <Phrase Key="Menu_Label_Default">PDF</Phrase>
      <Phrase Key="Error_No_Pdf_Found">FOUT: KAN GEEN PDF-BESTAND VINDEN OM WEER TE GEVEN IN DIT ITEM!</Phrase>
      <Phrase Key="Download_This_Pdf">Download deze PDF</Phrase>
      <Phrase Key="Download_Adobe_Reader_Alt">Download Adobe Reader</Phrase>
    </Section>

    <Section Name="Text_Viewer">
      <Phrase Key="Menu_Text">Tekst</Phrase>
      <Phrase Key="Unknown_Error">Onbekende fout bij het ophalen van de tekst</Phrase>
      <Phrase Key="No_Text_File">Er bestaat geen tekstbestand voor deze pagina</Phrase>
      <Phrase Key="No_Text_Recorded">Er is geen tekst geregistreerd voor deze pagina</Phrase>
    </Section>

    <Section Name="TEI">
      <Phrase Key="Menu_Default_Label">TEI</Phrase>
      <Phrase Key="Transform_Error_Html"><![CDATA[Fout tijdens de XSLT-transformatie van TEI<br /><br />{0}]]></Phrase>
    </Section>

    <Section Name="HTML_Viewer">
      <Phrase Key="Menu_Default_Label">HTML</Phrase>
      <Phrase Key="Unable_To_Pull_Html_Sentence"><![CDATA[Kan de html-weergave voor dit item niet laden ( <a href="{0}">bron</a> )]]></Phrase>
      <Phrase Key="Apologize_Sentence">Onze excuses voor het ongemak.</Phrase>
      <Phrase Key="Report_Problem_Sentence"><![CDATA[Klik <a href="{0}">hier</a> om het probleem te melden.]]></Phrase>
    </Section>

    <Section Name="Embedded_Web_Content">
      <Phrase Key="Menu_Content_Label">Inhoud</Phrase>
      <Phrase Key="Viewer_Title">Inhoud</Phrase>
    </Section>

    <Section Name="EmbeddedVideo">
      <Phrase Key="Menu_Video_Label">Video</Phrase>
      <Phrase Key="Viewer_Title">Streamingvideo</Phrase>
    </Section>

    <Section Name="Video">
      <Phrase Key="Menu_Video_Label">Video</Phrase>
    </Section>

    <Section Name="Google_Map">
      <Phrase Key="Menu_Default_Label">Zoek op kaart!</Phrase>
      <Phrase Key="Menu_Map_Search">Kaartzoekopdracht</Phrase>
      <Phrase Key="Menu_Search_Results">Zoekresultaten</Phrase>
      <Phrase Key="Menu_Map_Coverage">Kaartdekking</Phrase>
      <Phrase Key="Search_Button">Zoeken</Phrase>
      <Phrase Key="Find_Address_Button">Adres zoeken</Phrase>
      <Phrase Key="Instructions_Step1_Html"><![CDATA[Gebruik hieronder de knop <i>Gebied selecteren</i> om een zoekkader op de kaart te tekenen, of voer een adres in en klik op <i>Adres zoeken</i>.]]></Phrase>
      <Phrase Key="Instructions_Step2_Html"><![CDATA[Klik op de knop <i>Zoeken</i> om de resultaten te bekijken]]></Phrase>
      <Phrase Key="Address_Label">Adres:</Phrase>
      <Phrase Key="Address_Placeholder">Voer een adres in ( bijv., 12 Main Street, Gainesville Florida )</Phrase>
      <Phrase Key="No_Matches_Message"><![CDATA[Er waren geen overeenkomsten binnen dit item voor uw geografische zoekopdracht. &nbsp; ]]></Phrase>
      <Phrase Key="Modify_Item_Search">Itemzoekopdracht wijzigen</Phrase>
      <Phrase Key="Modify_Search_Within_Flight">Zoekopdracht binnen vlucht wijzigen</Phrase>
      <Phrase Key="Search_Other_Items_Link">Klik hier om andere items in de huidige collectie te doorzoeken</Phrase>
      <Phrase Key="Matching_Results_Intro">De volgende resultaten komen overeen met uw geografische zoekopdracht:</Phrase>
      <Phrase Key="Zoom_To_Extent">Zoom naar volledige omvang</Phrase>
      <Phrase Key="Zoom_To_Matches">Zoom naar resultaten</Phrase>
      <Phrase Key="Search_All_Flights">Alle vluchten doorzoeken</Phrase>
      <Phrase Key="Search_Entire_Collection">Volledige collectie doorzoeken</Phrase>
      <Phrase Key="Google_Maps_Not_Enabled_Html"><![CDATA[<p style="font-weight:bold; text-size:1.1em">FOUT: Google Maps is niet ingeschakeld op deze SobekCM-instantie!</p>
              <p>Om dit in te schakelen, maakt u een Google Maps API-sleutel aan en voert u deze in bij de systeeminstellingen.</p>
              <p>Informatie over deze procedure vindt u hier: <a href="http://sobekrepository.org/software/config/googlemaps" style="color:white;">http://sobekrepository.org/software/config/googlemaps</a>.</p>]]></Phrase>
    </Section>

    <Section Name="GnuBooks_PageTurner">
      <Phrase Key="Menu_Default_Label">Bladerweergave</Phrase>
      <Phrase Key="No_Javascript_Message">Voor de bladerweergave is een browser met Javascript vereist.</Phrase>
    </Section>

    <Section Name="MultiVolumes">
      <Phrase Key="Menu_All_Volumes">Alle Volumes</Phrase>
      <Phrase Key="Menu_All_Issues">Alle Nummers</Phrase>
      <Phrase Key="Menu_Related_Maps">Gerelateerde kaarten</Phrase>
      <Phrase Key="Menu_Related_Flights">Gerelateerde vluchten</Phrase>
      <Phrase Key="All_Volumes">Alle Volumes</Phrase>
      <Phrase Key="All_Issues">Alle Nummers</Phrase>
      <Phrase Key="Related_Map_Sets">Gerelateerde kaartensets</Phrase>
      <Phrase Key="Related_Flights">Gerelateerde vluchten</Phrase>
      <Phrase Key="Related_Titles_Heading">Gerelateerde titels</Phrase>
      <Phrase Key="Vid_Header">VID</Phrase>
      <Phrase Key="Level_1_Header">NIVEAU 1</Phrase>
      <Phrase Key="Level_2_Header">NIVEAU 2</Phrase>
      <Phrase Key="Level_3_Header">NIVEAU 3</Phrase>
      <Phrase Key="Access_Header">TOEGANG</Phrase>
      <Phrase Key="Access_Dark">afgeschermd</Phrase>
      <Phrase Key="Access_Private">privé</Phrase>
      <Phrase Key="Access_Public">openbaar</Phrase>
      <Phrase Key="Access_Restricted">beperkt</Phrase>
      <Phrase Key="Missing_Thumbnail_Alt">MINIATUUR ONTBREEKT</Phrase>
      <Phrase Key="Dark_Suffix"> ( afgeschermd )</Phrase>
      <Phrase Key="Private_Suffix"> ( privé )</Phrase>
      <Phrase Key="Restricted_Suffix"> ( sommige beperkingen zijn van toepassing )</Phrase>
      <Phrase Key="All_Private_Or_Dark_Suffix"> ( allemaal privé of afgeschermd )</Phrase>
    </Section>

    <Section Name="OpenTextbook_Common">
      <Phrase Key="Search_Label">Zoeken: </Phrase>
      <Phrase Key="Zoom_Label">Zoom: </Phrase>
      <Phrase Key="Unnumbered_Page_Prefix">Ongenummerd </Phrase>
      <Phrase Key="Page_Prefix">Pagina </Phrase>
      <Phrase Key="Previous_Section_Alt">Ga naar de vorige sectie</Phrase>
      <Phrase Key="Next_Section_Alt">Ga naar de volgende sectie</Phrase>
    </Section>

    <Section Name="OpenTextbook">
      <Phrase Key="Menu_Default_Label">Open Studieboek</Phrase>
      <Phrase Key="Welcome_Heading">Welkom bij OpenPublishing</Phrase>
      <Phrase Key="Welcome_Edit_Instructions"><![CDATA[U kunt uw item hier bewerken door <i>Inhoud bewerken</i> te selecteren in de rechterbovenhoek van deze pagina.]]></Phrase>
      <Phrase Key="Welcome_Toc_Instructions"><![CDATA[Om uw inhoudsopgave bij te werken en hoofdstukken te maken, gebruikt u de OpenPublishing-tool, beschikbaar in de interne kopregel of via de optie <i>BEHEREN</i> in het itemmenu.]]></Phrase>
      <Phrase Key="Chapter_Edit_Instructions"><![CDATA[U kunt dit hoofdstuk hier bewerken door <i>Inhoud bewerken</i> te selecteren in de rechterbovenhoek van deze pagina.]]></Phrase>
    </Section>

    <Section Name="OpenTextbook_Divisions">
      <Phrase Key="Menu_Default_Label">Open Uitgever</Phrase>
    </Section>

    <Section Name="Related_Images">
      <Phrase Key="Menu_Default_Label">Miniaturen</Phrase>
      <Phrase Key="Thumbnails_Per_Page_Suffix">miniaturen per pagina</Phrase>
      <Phrase Key="Go_To_Thumbnail_Label">Ga naar miniatuur</Phrase>
      <Phrase Key="Switch_To_Small">Overschakelen naar kleine miniaturen</Phrase>
      <Phrase Key="Switch_To_Medium">Overschakelen naar middelgrote miniaturen</Phrase>
      <Phrase Key="Switch_To_Large">Overschakelen naar grote miniaturen</Phrase>
      <Phrase Key="All_Thumbnails">Alle miniaturen</Phrase>
      <Phrase Key="Small_Alt">Klein</Phrase>
      <Phrase Key="Medium_Alt">Middel</Phrase>
      <Phrase Key="Large_Alt">Groot</Phrase>
      <Phrase Key="Missing_Thumbnail_Alt">MINIATUUR ONTBREEKT</Phrase>
      <Phrase Key="Page_Number_Placeholder">(pagina {0})</Phrase>
    </Section>

    <Section Name="Downloads">
      <Phrase Key="Menu_Default_Label">Downloads</Phrase>
      <Phrase Key="Explanation_Has_Downloads">Dit item heeft de volgende downloads:</Phrase>
      <Phrase Key="Explanation_Only_Downloads">Dit item is alleen beschikbaar als de volgende downloads:</Phrase>
      <Phrase Key="Tiles_Available_Heading">De volgende tegels zijn beschikbaar om te downloaden:</Phrase>
      <Phrase Key="Jpeg2000_Available_Heading">De volgende JPEG2000-bestanden zijn beschikbaar om te downloaden:</Phrase>
      <Phrase Key="Save_Link_As_Instructions">Klik voor het downloaden met de rechtermuisknop op de tegelnaam hieronder, selecteer 'Koppeling opslaan als...' en sla de JPEG2000 op uw computer op.</Phrase>
      <Phrase Key="Save_Target_As_Instructions">Klik voor het downloaden met de rechtermuisknop op de tegelnaam hieronder, selecteer 'Doel opslaan als...' en sla de JPEG2000 op uw computer op. </Phrase>
    </Section>

    <Section Name="Item_Tracking_Common">
      <Phrase Key="Header">Trackinginformatie</Phrase>
      <Phrase Key="Milestones_Tab">MIJLPALEN</Phrase>
      <Phrase Key="History_Tab">GESCHIEDENIS</Phrase>
      <Phrase Key="Media_Tab">MEDIA</Phrase>
      <Phrase Key="Archives_Tab">ARCHIEVEN</Phrase>
      <Phrase Key="Directory_Tab">MAP</Phrase>
    </Section>

    <Section Name="Tracking">
      <Phrase Key="No_History_Message">ITEM HEEFT GEEN GESCHIEDENIS</Phrase>
      <Phrase Key="History_Table_Title">ITEMGESCHIEDENIS</Phrase>
      <Phrase Key="Workflow_Name_Column">WORKFLOWNAAM</Phrase>
      <Phrase Key="Completed_Date_Column">VOLTOOIINGSDATUM</Phrase>
      <Phrase Key="User_Column">GEBRUIKER</Phrase>
      <Phrase Key="Location_Notes_Column">LOCATIE / NOTITIES</Phrase>
    </Section>

    <Section Name="Archives">
      <Phrase Key="Header">Archiveringsinformatie</Phrase>
      <Phrase Key="No_Info_Message">ITEM HEEFT GEEN ARCHIEFINFORMATIE</Phrase>
      <Phrase Key="Table_Title">GEARCHIVEERDE BESTANDSINFORMATIE</Phrase>
      <Phrase Key="Filename_Column">BESTANDSNAAM</Phrase>
      <Phrase Key="Size_Column">GROOTTE</Phrase>
      <Phrase Key="Original_Creation_Date_Column">OORSPRONKELIJKE AANMAAKDATUM</Phrase>
      <Phrase Key="Stored_Date_Column">OPSLAGDATUM</Phrase>
      <Phrase Key="Status_Column">STATUS</Phrase>
      <Phrase Key="Location_Column">LOCATIE</Phrase>
    </Section>

    <Section Name="UF_Archives">
      <Phrase Key="Last_Write_Date_Column">LAATSTE SCHRIJFDATUM</Phrase>
      <Phrase Key="Archived_Date_Column">ARCHIVERINGSDATUM</Phrase>
    </Section>

    <Section Name="Directory">
      <Phrase Key="Page_Files_Header">PAGINABESTANDEN</Phrase>
      <Phrase Key="Metadata_Files_Header">METADATABESTANDEN</Phrase>
      <Phrase Key="Other_Files_Header">OVERIGE BESTANDEN</Phrase>
      <Phrase Key="Name_Column">NAAM</Phrase>
      <Phrase Key="Date_Modified_Column">WIJZIGINGSDATUM</Phrase>
      <Phrase Key="Type_Column">TYPE</Phrase>
      <Phrase Key="Size_Column">GROOTTE</Phrase>
      <Phrase Key="Page_Fallback_Label">PAGINA</Phrase>
      <Phrase Key="Unable_To_Pull_Directory_Info">KAN MAPINFORMATIE NIET OPHALEN</Phrase>
      <Phrase Key="Generic_File_Suffix">Bestand</Phrase>
      <Phrase Key="Jpeg_Image">JPEG-afbeelding</Phrase>
      <Phrase Key="Thumbnail_Image">Miniatuurafbeelding</Phrase>
      <Phrase Key="Qc_Jpeg_Image">QC JPEG-afbeelding</Phrase>
      <Phrase Key="Archival_Tiff_Image">Archief-TIFF-afbeelding</Phrase>
      <Phrase Key="Jpeg2000_Zoomable_Image">JPEG2000 zoombare afbeelding</Phrase>
      <Phrase Key="Adobe_Acrobat_Document">Adobe Acrobat-document</Phrase>
      <Phrase Key="Text_File">Tekstbestand</Phrase>
      <Phrase Key="Excel_Worksheet">Microsoft Office Excel-werkblad</Phrase>
      <Phrase Key="Word_Document">Microsoft Office Word-document</Phrase>
      <Phrase Key="Powerpoint_Presentation">Microsoft Office PowerPoint-presentatie</Phrase>
      <Phrase Key="Shockwave_Flash_Object">Shockwave Flash-object</Phrase>
      <Phrase Key="Prime_Recognition_Output_File">Prime Recognition-uitvoerbestand</Phrase>
      <Phrase Key="Static_Citation_Page">Statische citatiepagina</Phrase>
      <Phrase Key="Html_Document">HTML-document</Phrase>
      <Phrase Key="Citation_Only_Mets_File">Alleen-citatie METS-bestand</Phrase>
      <Phrase Key="Marc_Xml_File">MARC XML-bestand</Phrase>
      <Phrase Key="Sobekcm_Service_Mets_File">SobekCM-service METS-bestand</Phrase>
      <Phrase Key="Text_Indexing_File">Tekstindexeringsbestand</Phrase>
      <Phrase Key="Xml_Document">XML-document</Phrase>
      <Phrase Key="User_Submitted_Mets_File">Door gebruiker ingediend METS-bestand</Phrase>
      <Phrase Key="Fda_Ingest_Report">FDA-ingestrapport</Phrase>
      <Phrase Key="Previous_Mets_File_Version">Vorige METS-bestandsversie</Phrase>
      <Phrase Key="Backup_File">Back-upbestand</Phrase>
    </Section>

    <Section Name="Milestones">
      <Phrase Key="Header">DIGITALISERINGSMIJLPALEN</Phrase>
      <Phrase Key="Digital_Acquisition_Label">Digitale Verwerving</Phrase>
      <Phrase Key="Post_Acquisition_Processing_Label">Verwerking na Verwerving</Phrase>
      <Phrase Key="Quality_Control_Label">Kwaliteitscontrole Uitgevoerd</Phrase>
      <Phrase Key="Online_Complete_Label">Online Voltooid</Phrase>
      <Phrase Key="Not_Applicable">n.v.t.</Phrase>
    </Section>

    <Section Name="TrackingSheet">
      <Phrase Key="Material_Info_Header">Materiaalinformatie</Phrase>
      <Phrase Key="Title_Label">Titel:</Phrase>
      <Phrase Key="Author_Label">Auteur:</Phrase>
      <Phrase Key="Publisher_Label">Uitgever:</Phrase>
      <Phrase Key="Oclc_Label">OCLC:</Phrase>
      <Phrase Key="Aleph_Label">Aleph:</Phrase>
      <Phrase Key="Material_Type_Label">Materiaaltype:</Phrase>
      <Phrase Key="Aggregations_Label">Collecties:</Phrase>
      <Phrase Key="Serial_Hierarchy_Header">Seriële Hiërarchie</Phrase>
      <Phrase Key="Level_Label">Niveau</Phrase>
      <Phrase Key="Imaging_Progress_Header">Digitaliseringsvoortgang</Phrase>
      <Phrase Key="Name_Label">Naam:</Phrase>
      <Phrase Key="Date_Label">Datum:</Phrase>
      <Phrase Key="Page_Range_Label">Paginabereik:</Phrase>
      <Phrase Key="Duration_Label">Duur:</Phrase>
      <Phrase Key="Physical_Material_Header">Fysiek Materiaal</Phrase>
      <Phrase Key="Born_Digital_Label">Item is digitaal geboren</Phrase>
      <Phrase Key="Material_Recd_Label">Materiaal Ontvangen:</Phrase>
      <Phrase Key="Disposition_Advice_Label">Bestemmingsadvies:</Phrase>
      <Phrase Key="Additional_Notes_Header">Aanvullende Opmerkingen:</Phrase>
      <Phrase Key="Start_Scanning_Label">Start met Scannen</Phrase>
      <Phrase Key="End_Scanning_Label">Einde Scannen</Phrase>
      <Phrase Key="Start_Processing_Label">Start met Verwerken</Phrase>
      <Phrase Key="End_Processing_Label">Einde Verwerking</Phrase>
    </Section>

    <Section Name="UF_Media">
      <Phrase Key="No_Info_Message">ITEM IS NIET GEARCHIVEERD OP MEDIA</Phrase>
      <Phrase Key="Table_Title">CD/DVD-ARCHIEF</Phrase>
      <Phrase Key="Cd_Number_Column">CD/DVD-NUMMER</Phrase>
      <Phrase Key="File_Range_Column">BESTANDSBEREIK</Phrase>
      <Phrase Key="Images_Column">AFBEELDINGEN</Phrase>
      <Phrase Key="Size_Column">GROOTTE</Phrase>
      <Phrase Key="Date_Burned_Column">BRANDDATUM</Phrase>
    </Section>

    <Section Name="ManageMenu_Item">
      <Phrase Key="Item_Viewer_Title">Dit item beheren</Phrase>
      <Phrase Key="Item_Intro_Prompt">Hoe wilt u dit item vandaag beheren?</Phrase>
      <Phrase Key="Group_Level_Note">Daarnaast kunnen de volgende wijzigingen worden aangebracht op itemgroepniveau:</Phrase>
      <Phrase Key="Group_Viewer_Title">Deze itemgroep beheren</Phrase>
      <Phrase Key="Group_Intro_Prompt">Hoe wilt u deze itemgroep vandaag beheren?</Phrase>
      <Phrase Key="Open_Textbook_Desc">Beheer dit open-leerboekitem, waarmee u de paginainhoud kunt bewerken, afbeeldingen kunt toevoegen, nieuwe hoofdstukken kunt toevoegen, enz.</Phrase>
      <Phrase Key="Edit_Metadata_Link">Itemmetadata Bewerken</Phrase>
      <Phrase Key="Edit_Metadata_Desc">Bewerk de informatie over dit item die verschijnt in de citatie/beschrijving. Dit is basisinformatie over het originele item en deze digitale manifestatie.</Phrase>
      <Phrase Key="Edit_Tei_Link">TEI Bewerken</Phrase>
      <Phrase Key="Edit_Tei_Desc">Bewerk dit TEI-object, inclusief het gebruikte XSLT- en CSS-bestand, evenals het uploaden van een nieuw TEI-bestand of het online bewerken van het bestaande TEI-bestand.</Phrase>
      <Phrase Key="Edit_Behaviors_Link">Itemgedrag Bewerken</Phrase>
      <Phrase Key="Edit_Behaviors_Desc">Wijzig hoe dit item zich gedraagt in deze bibliotheek, inclusief onder welke collecties het verschijnt, de woordmerken aan de linkerkant en welke viewertypen openbaar toegankelijk zijn.</Phrase>
      <Phrase Key="Qc_Link">Pagina's en Indelingen Beheren (Kwaliteitscontrole)</Phrase>
      <Phrase Key="Qc_Desc">Herschik paginabeelden, geef pagina's namen, wijs indelingen toe en verwijder en voeg nieuwe paginabeelden toe aan dit item.</Phrase>
      <Phrase Key="Work_History_Link">Werkgeschiedenis Bekijken</Phrase>
      <Phrase Key="Work_History_Desc">Bekijk de geschiedenis van al het werk dat aan dit item is uitgevoerd. Vanuit deze weergave kunt u ook digitaliseringsmijlpalen en informatie over digitale bronbestanden bekijken.</Phrase>
      <Phrase Key="Download_Files_Link">Downloadbestanden Beheren</Phrase>
      <Phrase Key="Download_Files_Desc">Upload nieuwe bestanden om te downloaden of verwijder bestaande bestanden die aan dit item zijn gekoppeld voor download. Dit omvat over het algemeen alles behalve de paginabeelden.</Phrase>
      <Phrase Key="Geospatial_Link">Geospatiale Gegevens Beheren (bèta)</Phrase>
      <Phrase Key="Geospatial_Desc">Voeg geospatiale informatie toe voor dit item. Dit kan zo eenvoudig zijn als een locatie voor een foto of een overlay voor een kaart. Er kunnen ook punten, lijnen en veelhoeken van belang worden getekend.</Phrase>
      <Phrase Key="Tracking_Sheet_Link">Trackingblad Bekijken</Phrase>
      <Phrase Key="Tracking_Sheet_Desc">Dit kan worden gebruikt om het trackingblad voor dit item af te drukken, dat kan worden gebruikt als onderdeel van de ingebouwde digitaliseringsworkflow.</Phrase>
      <Phrase Key="Group_Behaviors_Link">Itemgroepgedrag Bewerken</Phrase>
      <Phrase Key="Group_Behaviors_Desc">Stel de titel in waaronder al deze items verschijnen in zoekresultaten en stel de webskins in waaronder al deze items moeten verschijnen.</Phrase>
      <Phrase Key="Add_Volume_Link">Nieuw Volume Toevoegen</Phrase>
      <Phrase Key="Add_Volume_Desc">Voeg een nieuw, gerelateerd volume toe aan deze itemgroep.&lt;br /&gt;&lt;br /&gt;</Phrase>
      <Phrase Key="Mass_Update_Link">Massale Update van Itemgedrag</Phrase>
      <Phrase Key="Mass_Update_Desc">Hierdoor kunnen itemniveau-gedragingen worden ingesteld voor alle items binnen deze itemgroep, inclusief onder welke collecties het verschijnt, de woordmerken aan de linkerkant en welke viewertypen openbaar toegankelijk zijn.</Phrase>
    </Section>

  </Localization>
</SobekCM_Config>
