<?xml version="1.0" encoding="utf-8" ?>
<SobekCM_Config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://sobekrepository.org/schemas/sobekcm_config"
	xsi:schemaLocation="http://sobekrepository.org/schemas/sobekcm_config
		http://sobekrepository.org/schemas/sobekcm_config.xsd">
  <Localization Language="nl">

    <Section Name="Aggregation_Common">
      <Phrase Key="Go">Ga</Phrase>
      <Phrase Key="Search_Collection">Doorzoek collectie</Phrase>
      <Phrase Key="Include_Non_Public_Items">Niet-openbare items opnemen</Phrase>
      <Phrase Key="Limit_By_Year">Beperken op jaar</Phrase>
      <Phrase Key="Show_Only_Media">Alleen records met afbeeldingen of andere media tonen</Phrase>
      <Phrase Key="Through">tot</Phrase>
      <Phrase Key="Include_Full_Text">De documenttekst opnemen in de zoekopdracht</Phrase>
      <Phrase Key="Search_All_Collections">Alle collecties doorzoeken</Phrase>
      <Phrase Key="Home">Start</Phrase>
    </Section>

    <Section Name="Advanced_Search">
      <Phrase Key="Search_For">Zoeken naar:</Phrase>
      <Phrase Key="In">in</Phrase>
      <Phrase Key="Search">Zoeken</Phrase>
      <Phrase Key="Search_Options">Zoekopties</Phrase>
      <Phrase Key="Precision">Precisie</Phrase>
      <Phrase Key="Contains_Exactly">Bevat exact de zoektermen</Phrase>
      <Phrase Key="Contains_Any_Form">Bevat elke vorm van de zoektermen</Phrase>
      <Phrase Key="Contains_Meaning">Bevat de zoekterm of termen met een vergelijkbare betekenis</Phrase>
      <Phrase Key="And">en</Phrase>
      <Phrase Key="Or">of</Phrase>
      <Phrase Key="And_Not">en niet</Phrase>
    </Section>

    <Section Name="Item_Count">
      <Phrase Key="Resource_Count_In_Collection">Aantal bronnen in de collectie</Phrase>
      <Phrase Key="Description">Hieronder vindt u het aantal titels en items voor alle items binnen deze collectie, inclusief items die momenteel online staan en items die nog in bewerking zijn.</Phrase>
      <Phrase Key="Visibility">ZICHTBAARHEID</Phrase>
      <Phrase Key="Title_Count">AANTAL TITELS</Phrase>
      <Phrase Key="Item_Count">AANTAL ITEMS</Phrase>
      <Phrase Key="Page_Count">AANTAL PAGINA'S</Phrase>
      <Phrase Key="File_Count">AANTAL BESTANDEN</Phrase>
    </Section>

    <Section Name="Full_Text_Search">
      <Phrase Key="Search_Full_Text">Volledige tekst doorzoeken</Phrase>
    </Section>

    <Section Name="DLOC_Search">
      <Phrase Key="Include_Newspapers">Kranten opnemen?</Phrase>
    </Section>

    <Section Name="Map_Common">
      <Phrase Key="Google_Maps_Not_Enabled_Html"><![CDATA[<p style="font-weight:bold; text-size:1.1em">FOUT: Google Maps is niet ingeschakeld op deze SobekCM-instantie!</p>
<p>Om dit in te schakelen, maakt u een Google Maps API-sleutel aan en voert u deze in bij de systeeminstellingen.</p>
<p>Informatie over deze procedure vindt u hier: <a href="http://sobekrepository.org/software/config/googlemaps">http://sobekrepository.org/software/config/googlemaps</a>.</p>]]></Phrase>
    </Section>

    <Section Name="Map_Browse">
      <Phrase Key="Select_Point_Instructions_Html"><![CDATA[Selecteer hieronder een punt om de items van of over die locatie te bekijken.<br />Houd de SHIFT-toets ingedrukt en sleep vervolgens een kader op de kaart om in te zoomen.]]></Phrase>
      <Phrase Key="More_Info_Single_Title">Klik hier voor meer informatie over deze titel</Phrase>
      <Phrase Key="More_Info_Multiple_Titles">Klik hier voor meer informatie over deze {0} titels</Phrase>
    </Section>

    <Section Name="Map_Search">
      <Phrase Key="Find_Address">Adres zoeken</Phrase>
      <Phrase Key="Address">Adres</Phrase>
      <Phrase Key="Locate">Zoeken</Phrase>
      <Phrase Key="Point_Disabled_Instructions_Html"><![CDATA[<span style="line-height:160%"> &nbsp; &nbsp; 1. Gebruik de knop <i>Gebied selecteren</i> en klik op de tegenoverliggende hoeken om een zoekkader op de kaart te tekenen &nbsp; &nbsp; <br /> &nbsp; &nbsp; 2. Klik op de knop <i>Zoeken</i> om de resultaten te bekijken &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; ( <a href="#FAQ">meer hulp</a> )</span>]]></Phrase>
      <Phrase Key="Faq_Point_Disabled_Html"><![CDATA[  <h1>Veelgestelde vragen over kaartzoekopdracht</h1>
  <ul>
    <li>Hoe zoek ik?
      <p class="tagline">Om een zoekopdracht uit te voeren, moet u eerst uw interessegebied bepalen en vervolgens de zoekopdracht uitvoeren. Om een gebied te bepalen, klikt u op de kaart op <i>Klik om een gebied te selecteren</i>. Klik vervolgens op een beginpunt op de kaart en vervolgens op de tegenoverliggende hoek om een rechthoek te maken. Door boven de kaart op <i>Zoeken</i> te klikken, haalt u de resultaten op die overeenkomen met dat gebied.</p>
    </li>
    <li>Ik heb moeite met het selecteren van een gebied
      <p class="tagline">Het selecteren van een rechthoekig gebied om te doorzoeken is eenvoudig zodra u de techniek begrijpt. Selecteer eerst de knop <i>Klik om een gebied te selecteren</i> op de kaart. Ga vervolgens naar de linkerbovenhoek van het gebied dat u wilt doorzoeken en klik en laat de linkermuisknop los. Terwijl u de muis nu beweegt, ziet u dat er een rechthoek wordt getekend die uw gebied voorstelt. Wanneer u de muis opnieuw klikt en loslaat, bepaalt u de rechteronderhoek van het te doorzoeken gebied. Houd de muisknop niet ingedrukt terwijl u de muis sleept, aangezien dit de kaart zal verslepen en geen gebied zal definiëren om te selecteren. Zodra uw gebied correct is bepaald, klikt u op de knop <i>Zoeken</i> om overeenkomende resultaten te bekijken.</p>
    </li>
    <li>Waarom kan ik niet op adres of op een punt zoeken?
      <p class="tagline">Deze collectie bestaat voornamelijk uit punten, dus zoeken op gebied is veel effectiever dan zoeken op punt.</p>
    </li>
    <li>Wat wordt er doorzocht?
      <p class="tagline">De doorzochte gegevens zijn afhankelijk van het materiaaltype. Bij kranten wordt de plaats van uitgave doorzocht. Bij kaarten wordt de geografische dekking doorzocht. En bij foto's wordt de plaats waar de foto is genomen doorzocht.</p>
    </li>
    <li>Waarom zo weinig resultaten?
      <p class="tagline"> Deze interface is in bètatest, terwijl we meer coördinaatinformatie aan onze zoekdatabase toevoegen. Kom vaak terug om onze voortgang te bekijken!</p>
    </li>
  </ul>]]></Phrase>
    </Section>

    <Section Name="Newspaper_Search">
      <Phrase Key="Full_Citation">Volledige Bronvermelding</Phrase>
      <Phrase Key="Full_Text">Volledige Tekst</Phrase>
      <Phrase Key="Newspaper_Title">Krantentitel</Phrase>
      <Phrase Key="Location">Locatie</Phrase>
    </Section>

    <Section Name="Metadata_Browse">
      <Phrase Key="Browse_By">Bladeren op</Phrase>
      <Phrase Key="Browse_By_Colon">BLADEREN OP:</Phrase>
      <Phrase Key="Public_Browses">Openbare bladermogelijkheden</Phrase>
      <Phrase Key="Internal_Browses">Interne bladermogelijkheden</Phrase>
      <Phrase Key="Browses">Bladermogelijkheden</Phrase>
      <Phrase Key="Select_Field_Prompt">Selecteer een metadataveld om op te bladeren in de lijst aan de linkerkant</Phrase>
      <Phrase Key="No_Matching_Values">GEEN OVEREENKOMENDE WAARDEN</Phrase>
    </Section>

    <Section Name="Tiles_Home">
      <Phrase Key="Varies">( varieert )</Phrase>
    </Section>

    <Section Name="Thumbnails_Home">
      <Phrase Key="Collection_Items">Items in de collectie</Phrase>
      <Phrase Key="Showing_Items_Out_Of">20 items van {0} worden weergegeven</Phrase>
      <Phrase Key="View_All">Alles bekijken</Phrase>
    </Section>

    <Section Name="Usage_Statistics">
      <Phrase Key="Title_Collection_Views">Geschiedenis van gebruik op collectieniveau</Phrase>
      <Phrase Key="Title_Item_Views">Geschiedenis van itemgebruik</Phrase>
      <Phrase Key="Title_Top_Titles">Meest bekeken titels</Phrase>
      <Phrase Key="Title_Top_Items">Meest bekeken items</Phrase>
      <Phrase Key="Title_Definitions">Definities van gebruikte termen</Phrase>

      <Phrase Key="Tab_Collection_Views">COLLECTIEWEERGAVEN</Phrase>
      <Phrase Key="Tab_Item_Views">ITEMWEERGAVEN</Phrase>
      <Phrase Key="Tab_Top_Titles">TOP TITELS</Phrase>
      <Phrase Key="Tab_Top_Items">TOP ITEMS</Phrase>
      <Phrase Key="Tab_Definitions">DEFINITIES</Phrase>

      <Phrase Key="Month_1">Januari</Phrase>
      <Phrase Key="Month_2">Februari</Phrase>
      <Phrase Key="Month_3">Maart</Phrase>
      <Phrase Key="Month_4">April</Phrase>
      <Phrase Key="Month_5">Mei</Phrase>
      <Phrase Key="Month_6">Juni</Phrase>
      <Phrase Key="Month_7">Juli</Phrase>
      <Phrase Key="Month_8">Augustus</Phrase>
      <Phrase Key="Month_9">September</Phrase>
      <Phrase Key="Month_10">Oktober</Phrase>
      <Phrase Key="Month_11">November</Phrase>
      <Phrase Key="Month_12">December</Phrase>

      <Phrase Key="Collection_History_Intro">Hieronder wordt de gebruiksgeschiedenis van deze collectie weergegeven. Deze geschiedenis omvat alleen de weergaven op het hoogste niveau van de collectie.</Phrase>
      <Phrase Key="Item_History_Intro">Hieronder wordt de gebruiksgeschiedenis van de items binnen deze collectie weergegeven.</Phrase>
      <Phrase Key="Items_By_Collection_Intro">Hieronder verschijnen de meest gebruikte items voor deze collectie.</Phrase>
      <Phrase Key="Titles_By_Collection_Intro">Hieronder verschijnen de meest gebruikte titels per collectie.</Phrase>
      <Phrase Key="Definitions_Link_Sentence"><![CDATA[De <a href="{0}">definitiepagina</a> geeft meer details over de statistieken en termen die hieronder worden gebruikt.]]></Phrase>

      <Phrase Key="Year_Statistics_Suffix"> STATISTIEKEN</Phrase>
      <Phrase Key="Total">TOTAAL</Phrase>

      <Phrase Key="Date">DATUM</Phrase>
      <Phrase Key="Total_Views_Html"><![CDATA[TOTAAL<br />WEERGAVEN]]></Phrase>
      <Phrase Key="Visits">BEZOEKEN</Phrase>
      <Phrase Key="Main_Pages_Html"><![CDATA[HOOFD-<br />PAGINA'S]]></Phrase>
      <Phrase Key="Browses">BLADEREN</Phrase>
      <Phrase Key="Search_Results_Html"><![CDATA[ZOEK-<br />RESULTATEN]]></Phrase>
      <Phrase Key="Title_Views_Html"><![CDATA[TITEL-<br />WEERGAVEN]]></Phrase>
      <Phrase Key="Item_Views_Html"><![CDATA[ITEM-<br />WEERGAVEN]]></Phrase>

      <Phrase Key="Jpeg_Views_Html"><![CDATA[JPEG-<br />WEERGAVEN]]></Phrase>
      <Phrase Key="Zoomable_Views_Html"><![CDATA[ZOOMBARE<br />WEERGAVEN]]></Phrase>
      <Phrase Key="Citation_Views_Html"><![CDATA[BRONVER-<br />MELDINGEN]]></Phrase>
      <Phrase Key="Thumbnail_Views_Html"><![CDATA[MINIATUUR-<br />WEERGAVEN]]></Phrase>
      <Phrase Key="Text_Searches_Html"><![CDATA[TEKST-<br />ZOEKOPDRACHTEN]]></Phrase>
      <Phrase Key="Flash_Views_Html"><![CDATA[FLASH-<br />WEERGAVEN]]></Phrase>
      <Phrase Key="Map_Views_Html"><![CDATA[KAART-<br />WEERGAVEN]]></Phrase>
      <Phrase Key="Download_Views_Html"><![CDATA[DOWNLOADS]]></Phrase>
      <Phrase Key="Static_Views_Html"><![CDATA[STATISCHE<br />WEERGAVEN]]></Phrase>

      <Phrase Key="Bibid">BIBID</Phrase>
      <Phrase Key="Vid">VID</Phrase>
      <Phrase Key="Title">TITEL</Phrase>
      <Phrase Key="Views">WEERGAVEN</Phrase>

    </Section>

  </Localization>
</SobekCM_Config>
