<?xml version="1.0" encoding="utf-8" ?>
<SobekCM_Config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://sobekrepository.org/schemas/sobekcm_config"
	xsi:schemaLocation="http://sobekrepository.org/schemas/sobekcm_config
		http://sobekrepository.org/schemas/sobekcm_config.xsd">
  <Localization Language="nl">

    <Section Name="General">
      <Phrase Key="Description">Beschrijving</Phrase>
      <Phrase Key="Format">Formaat</Phrase>
      <Phrase Key="Publisher">Uitgever</Phrase>
      <Phrase Key="Relation">Relatie</Phrase>
      <Phrase Key="Resource_Identifier">Bron-identificatie</Phrase>
      <Phrase Key="Resource_Type">Brontype</Phrase>
      <Phrase Key="Subject">Onderwerp</Phrase>
      <Phrase Key="Abstract">Samenvatting</Phrase>
      <Phrase Key="Alternate_Title">Alternatieve Titel</Phrase>
      <Phrase Key="Attribution_Statement">Naamsvermeldingsverklaring</Phrase>
      <Phrase Key="Bibliographic_ID">Bibliografisch ID</Phrase>
      <Phrase Key="Contributor">Bijdrager</Phrase>
      <Phrase Key="Creator">Maker</Phrase>
      <Phrase Key="Donor">Schenker</Phrase>
      <Phrase Key="EAD_Identifier">EAD-identificatie</Phrase>
      <Phrase Key="Holding_Location">Bewaarlocatie</Phrase>
      <Phrase Key="Latitude_Hours">Breedtegraad Uren</Phrase>
      <Phrase Key="Latitude_Minutes">Breedtegraad Minuten</Phrase>
      <Phrase Key="Latitude_Seconds">Breedtegraad Seconden</Phrase>
      <Phrase Key="Longitude_Hours">Lengtegraad Uren</Phrase>
      <Phrase Key="Longitude_Minutes">Lengtegraad Minuten</Phrase>
      <Phrase Key="Longitude_Seconds">Lengtegraad Seconden</Phrase>
      <Phrase Key="Notes">Notities</Phrase>
      <Phrase Key="Rights_Management">Rechtenbeheer</Phrase>
      <Phrase Key="Scale">Schaal</Phrase>
      <Phrase Key="Series_Title">Serietitel</Phrase>
      <Phrase Key="Source_Institution">Bron-instelling</Phrase>
      <Phrase Key="Spatial_Coverage">Geografische Dekking</Phrase>
      <Phrase Key="Subcollection">Subcollectie</Phrase>
      <Phrase Key="Temporal_Coverage">Temporele Dekking</Phrase>
      <Phrase Key="Uniform_Title">Uniforme Titel</Phrase>
      <Phrase Key="Volume_ID">Volume-ID</Phrase>
      <Phrase Key="Interviewer">Interviewer</Phrase>
      <Phrase Key="Interviewee">Geïnterviewde</Phrase>
      <Phrase Key="Publication_Date">Publicatiedatum</Phrase>
      <Phrase Key="Author">Auteur</Phrase>
      <Phrase Key="Place_of_Publication">Plaats van Uitgave</Phrase>
      <Phrase Key="Year">Jaar</Phrase>
      <Phrase Key="Acknowledgement">Dankbetuiging</Phrase>
      <Phrase Key="Advertising">Reclame</Phrase>
      <Phrase Key="Appendix">Bijlage</Phrase>
      <Phrase Key="Back_Cover">Achterkaft</Phrase>
      <Phrase Key="Back_Matter">Nawerk</Phrase>
      <Phrase Key="Bibliography">Bibliografie</Phrase>
      <Phrase Key="Chapter">Hoofdstuk</Phrase>
      <Phrase Key="Conclusion">Conclusie</Phrase>
      <Phrase Key="Copyright">Auteursrecht</Phrase>
      <Phrase Key="Cover">Kaft</Phrase>
      <Phrase Key="Dedication">Opdracht</Phrase>
      <Phrase Key="Errata">Errata</Phrase>
      <Phrase Key="Foreword">Voorwoord</Phrase>
      <Phrase Key="Front_Cover">Voorkaft</Phrase>
      <Phrase Key="Front_Matter">Voorwerk</Phrase>
      <Phrase Key="Frontispiece">Frontispice</Phrase>
      <Phrase Key="Half_Title">Voortitel</Phrase>
      <Phrase Key="Index">Index</Phrase>
      <Phrase Key="Interview">Interview</Phrase>
      <Phrase Key="Introduction">Inleiding</Phrase>
      <Phrase Key="List_of_Figures">Lijst van Afbeeldingen</Phrase>
      <Phrase Key="List_of_Illustrations">Lijst van Illustraties</Phrase>
      <Phrase Key="List_of_Tables">Lijst van Tabellen</Phrase>
      <Phrase Key="Main">Hoofd</Phrase>
      <Phrase Key="Methodology">Methodologie</Phrase>
      <Phrase Key="Poem">Gedicht</Phrase>
      <Phrase Key="Preface">Voorwoord</Phrase>
      <Phrase Key="Prelude">Prelude</Phrase>
      <Phrase Key="Reference">Referentie</Phrase>
      <Phrase Key="Section">Sectie</Phrase>
      <Phrase Key="Spine">Rug</Phrase>
      <Phrase Key="Subdivision_Level_1">Onderverdeling Niveau 1</Phrase>
      <Phrase Key="Subdivision_Level_2">Onderverdeling Niveau 2</Phrase>
      <Phrase Key="Subdivision_Level_3">Onderverdeling Niveau 3</Phrase>
      <Phrase Key="Subdivision_Level_4">Onderverdeling Niveau 4</Phrase>
      <Phrase Key="Subdivision_Level_5">Onderverdeling Niveau 5</Phrase>
      <Phrase Key="Subdivision_Level_6">Onderverdeling Niveau 6</Phrase>
      <Phrase Key="Table_of_Contents">Inhoudsopgave</Phrase>
      <Phrase Key="Title_Page">Titelpagina</Phrase>
      <Phrase Key="Group">Groep</Phrase>
      <Phrase Key="PAGE_IMAGE">PAGINA-AFBEELDING</Phrase>
      <Phrase Key="PAGE_TEXT">PAGINATEKST</Phrase>
      <Phrase Key="ZOOMABLE">ZOOMBAAR</Phrase>
      <Phrase Key="FEATURES">GEBOUWEN</Phrase>
      <Phrase Key="STREETS">STRATEN</Phrase>
      <Phrase Key="All_Items">Alle Items</Phrase>
      <Phrase Key="Recently_Added_Items">Recent Toegevoegde Items</Phrase>
      <Phrase Key="Related_Images">Gerelateerde Afbeeldingen</Phrase>
      <Phrase Key="Anywhere">Overal</Phrase>
      <Phrase Key="NARROW_RESULTS_BY">RESULTATEN VERFIJNEN OP</Phrase>
      <Phrase Key="Country">Land</Phrase>
      <Phrase Key="State">Staat</Phrase>
      <Phrase Key="County">Provincie</Phrase>
      <Phrase Key="City">Stad</Phrase>
      <Phrase Key="Subject_Topic">Onderwerp: Thema</Phrase>
      <Phrase Key="Subject_Geographic_Area">Onderwerp: Geografisch Gebied</Phrase>
      <Phrase Key="Subject_Genre">Onderwerp: Genre</Phrase>
      <Phrase Key="Show_More">Meer Weergeven</Phrase>
      <Phrase Key="Show_Less">Minder Weergeven</Phrase>
      <Phrase Key="Permanent_Link">Permanente Link</Phrase>
      <Phrase Key="Material_Information">Materiaalinformatie</Phrase>
      <Phrase Key="Physical_Description">Fysieke Beschrijving</Phrase>
      <Phrase Key="Manufacturer">Fabrikant</Phrase>
      <Phrase Key="Subjects">Onderwerpen</Phrase>
      <Phrase Key="Statement_of_Responsibility">Verantwoordelijkheidsverklaring</Phrase>
      <Phrase Key="General_Note">Algemene Opmerking</Phrase>
      <Phrase Key="Record_Information">Recordinformatie</Phrase>
      <Phrase Key="Local_Membership">Lokaal Lidmaatschap</Phrase>
      <Phrase Key="METS_Information">METS-informatie</Phrase>
      <Phrase Key="Creation_Date">Aanmaakdatum</Phrase>
      <Phrase Key="Last_Modified">Laatst Gewijzigd</Phrase>
      <Phrase Key="Last_User">Laatste Gebruiker</Phrase>
      <Phrase Key="System_Folder">Systeemmap</Phrase>
      <Phrase Key="Item_Primary_Key">Primaire Sleutel van het Item</Phrase>
      <Phrase Key="Group_Primary_Key">Primaire Sleutel van de Groep</Phrase>
      <Phrase Key="System_Admin_Information">Systeembeheerinformatie</Phrase>
      <Phrase Key="Group_Title">Groepstitel</Phrase>
      <Phrase Key="Accession_Number">Aanwinstnummer</Phrase>
      <Phrase Key="Caribbean_Newspaper_Digital_Library">Caribische Digitale Krantenbibliotheek</Phrase>
      <Phrase Key="Digital_Library_of_the_Caribbean">Digitale Bibliotheek van het Caribisch Gebied</Phrase>
      <Phrase Key="Panama_and_the_Canal">Panama en het Kanaal</Phrase>
      <Phrase Key="Subject_Keywords">Onderwerptrefwoorden</Phrase>
      <Phrase Key="Type">Type</Phrase>
      <Phrase Key="Genre">Genre</Phrase>
      <Phrase Key="Target_Audience">Doelgroep</Phrase>
      <Phrase Key="Attribution">Naamsvermelding</Phrase>
      <Phrase Key="Tickler">Herinnering</Phrase>
      <Phrase Key="Identifier">Identificatie</Phrase>
      <Phrase Key="Affiliation">Affiliatie</Phrase>
      <Phrase Key="Frequency">Frequentie</Phrase>
      <Phrase Key="Date_Ascending">Datum Oplopend</Phrase>
      <Phrase Key="Date_Descending">Datum Aflopend</Phrase>
      <Phrase Key="TEXT_SEARCH">TEKST ZOEKEN</Phrase>
      <Phrase Key="Subcollections">Subcollecties</Phrase>
      <Phrase Key="Metadata_Only">Alleen Metadata</Phrase>
      <Phrase Key="Most_Recent">Meest Recent</Phrase>
      <Phrase Key="Child_Collections">Subcollecties</Phrase>
      <Phrase Key="Title">Titel</Phrase>
      <Phrase Key="Date">Datum</Phrase>
      <Phrase Key="Language">Taal</Phrase>
      <Phrase Key="Full_Citation">Volledige Citatie</Phrase>
    </Section>

  </Localization>
</SobekCM_Config>
