<?xml version="1.0" encoding="utf-8" ?>
<SobekCM_Config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://sobekrepository.org/schemas/sobekcm_config"
	xsi:schemaLocation="http://sobekrepository.org/schemas/sobekcm_config
		http://sobekrepository.org/schemas/sobekcm_config.xsd">
  <Localization Language="nl">

    <Section Name="Aggregation_Common">
      <Phrase Key="Go">Ga</Phrase>
      <Phrase Key="Search_Collection">Doorzoek collectie</Phrase>
      <Phrase Key="Include_Non_Public_Items">Niet-openbare items opnemen</Phrase>
      <Phrase Key="Limit_By_Year">Beperken op jaar</Phrase>
      <Phrase Key="Show_Only_Media">Alleen records met afbeeldingen of andere media tonen</Phrase>
      <Phrase Key="Through">tot</Phrase>
      <Phrase Key="Include_Full_Text">De documenttekst opnemen in de zoekopdracht</Phrase>
      <Phrase Key="Search_All_Collections">Alle collecties doorzoeken</Phrase>
      <Phrase Key="Home">Start</Phrase>
      <Phrase Key="Quick_Tips_Html"><![CDATA[<div id="sbk_QuickTips">
  <h1>Snelle tips</h1>
  <ul>
    <li>Booleaans zoeken
      <p class="tagline"> Gebruik <b>+</b> of <i><b>en</b></i> tussen termen om records te vinden met <b>alle</b> termen.<br />
      Gebruik <b>-</b> of <i><b>of</b></i> tussen termen om records te vinden met <b>een van</b> de termen.<br />
      Gebruik <b>!</b> of <i><b>en niet</b></i> tussen termen om records met die termen uit te sluiten.<br />
      Als niets is aangegeven, is <b><i>en</i></b> de standaardinstelling.<br />
      VOORBEELD: natuurlijk en niet geschiedenis
      </p>
    </li>
    <li>Zoeken op woordgroep
      <p class="tagline"> Door een woordgroep tussen aanhalingstekens te plaatsen, wordt gezocht naar de exacte woordgroep.<br />
      VOORBEELD: &quot;natuurlijke geschiedenis&quot;</p>
    </li>
    <li>Hoofdlettergebruik
      <p class="tagline"> Zoekopdrachten zijn niet hoofdlettergevoelig.<br />
      VOORBEELD: Zoeken naar <i>NATUURLIJK</i> geeft dezelfde resultaten als zoeken naar <i>natuurlijk</i></p>
    </li>
    <li>Diakritische tekens
      <p class="tagline"> Om woorden met diakritische tekens te zoeken, moet het teken worden ingevoerd in het zoekvak.<br />
      VOORBEELD: Zoeken naar <i>Précédent</i> is een andere zoekopdracht dan <i>Precedent</i></p>
    </li>
  </ul>
</div>
<br />]]></Phrase>
    </Section>

    <Section Name="Advanced_Search">
      <Phrase Key="Search_For">Zoeken naar:</Phrase>
      <Phrase Key="In">in</Phrase>
      <Phrase Key="Search">Zoeken</Phrase>
      <Phrase Key="Search_Options">Zoekopties</Phrase>
      <Phrase Key="Precision">Precisie</Phrase>
      <Phrase Key="Contains_Exactly">Bevat exact de zoektermen</Phrase>
      <Phrase Key="Contains_Any_Form">Bevat elke vorm van de zoektermen</Phrase>
      <Phrase Key="Contains_Meaning">Bevat de zoekterm of termen met een vergelijkbare betekenis</Phrase>
      <Phrase Key="And">en</Phrase>
      <Phrase Key="Or">of</Phrase>
      <Phrase Key="And_Not">en niet</Phrase>
    </Section>

    <Section Name="Item_Count">
      <Phrase Key="Resource_Count_In_Collection">Aantal bronnen in de collectie</Phrase>
      <Phrase Key="Description">Hieronder vindt u het aantal titels en items voor alle items binnen deze collectie, inclusief items die momenteel online staan en items die nog in bewerking zijn.</Phrase>
      <Phrase Key="Visibility">ZICHTBAARHEID</Phrase>
      <Phrase Key="Title_Count">AANTAL TITELS</Phrase>
      <Phrase Key="Item_Count">AANTAL ITEMS</Phrase>
      <Phrase Key="Page_Count">AANTAL PAGINA'S</Phrase>
      <Phrase Key="File_Count">AANTAL BESTANDEN</Phrase>
    </Section>

    <Section Name="Full_Text_Search">
      <Phrase Key="Search_Full_Text">Volledige tekst doorzoeken</Phrase>
    </Section>

    <Section Name="DLOC_Search">
      <Phrase Key="Include_Newspapers">Kranten opnemen?</Phrase>
    </Section>

    <Section Name="Map_Common">
      <Phrase Key="Google_Maps_Not_Enabled_Html"><![CDATA[<p style="font-weight:bold; text-size:1.1em">FOUT: Google Maps is niet ingeschakeld op deze SobekCM-instantie!</p>
<p>Om dit in te schakelen, maakt u een Google Maps API-sleutel aan en voert u deze in bij de systeeminstellingen.</p>
<p>Informatie over deze procedure vindt u hier: <a href="http://sobekrepository.org/software/config/googlemaps">http://sobekrepository.org/software/config/googlemaps</a>.</p>]]></Phrase>
    </Section>

    <Section Name="Map_Browse">
      <Phrase Key="Select_Point_Instructions_Html"><![CDATA[Selecteer hieronder een punt om de items van of over die locatie te bekijken.<br />Houd de SHIFT-toets ingedrukt en sleep vervolgens een kader op de kaart om in te zoomen.]]></Phrase>
      <Phrase Key="Faq_Html"><![CDATA[  <h1>Veelgestelde vragen</h1>
  <ul>
    <li>Wat stellen de punten op de kaart voor?
      <p class="tagline"> De punten op de kaart komen overeen met materiaal in deze collectie. Over het algemeen geeft de stip de bron van het materiaal weer. Bij kranten is de stip de plaats van uitgave of het verspreidingsgebied van de krantentitel. Bij foto's komt dit meestal overeen met de plaats waar de foto is genomen, wat gewoonlijk ook het onderwerp is.</p>
    </li>
    <li>Hoe kan ik zien welke titels aan elk punt zijn gekoppeld?
      <p class="tagline"> Er verschijnt een informatievenster wanneer u een van de punten op de kaart selecteert. Dit venster bevat miniaturen en koppelingen naar elk item. Voor meer informatie over alle titels kunt u de koppeling onderaan het venster selecteren.</p>
    </li>
    <li>Kan ik vanaf deze kaart zoeken?
      <p class="tagline"> Gebruik de functie KAARTZOEKOPDRACHT op het eigen tabblad om een zoekopdracht uit te voeren.</p>
    </li>
    <li>Sommige punten lijken zich niet boven een specifiek gebouw of een specifieke locatie te bevinden?
      <p class="tagline"> Vaak wordt het middelpunt van een stad gebruikt, maar soms wordt een specifiek herkenningspunt gemarkeerd. Als het punt zich niet boven een herkenningspunt lijkt te bevinden, gaat het waarschijnlijk gewoon om het stadscentrum.</p>
    </li>
  </ul>]]></Phrase>
      <Phrase Key="More_Info_Single_Title">Klik hier voor meer informatie over deze titel</Phrase>
      <Phrase Key="More_Info_Multiple_Titles">Klik hier voor meer informatie over deze {0} titels</Phrase>
    </Section>

    <Section Name="Map_Search">
      <Phrase Key="Find_Address">Adres zoeken</Phrase>
      <Phrase Key="Address">Adres</Phrase>
      <Phrase Key="Locate">Zoeken</Phrase>
      <Phrase Key="Point_Disabled_Instructions_Html"><![CDATA[<span style="line-height:160%"> &nbsp; &nbsp; 1. Gebruik de knop <i>Gebied selecteren</i> en klik op de tegenoverliggende hoeken om een zoekkader op de kaart te tekenen &nbsp; &nbsp; <br /> &nbsp; &nbsp; 2. Klik op de knop <i>Zoeken</i> om de resultaten te bekijken &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; ( <a href="#FAQ">meer hulp</a> )</span>]]></Phrase>
      <Phrase Key="Instructions_Html"><![CDATA[<div class="sbkMsav_InstructionsLink" id="MapInstructionsLink" style="display:block" >
  <a href="" onclick="return show_map_instructions();">Klik hier om de instructies voor deze zoekinterface te bekijken</a>
</div>
<div class="sbkMsav_Instructions" id="MapInstructions" style="display:none" >
  <table>
    <tr><td colspan="2">1. Gebruik een van de onderstaande methoden om uw geografische zoekopdracht te definiëren:</td></tr>
    <tr><td style="width:50px;">&nbsp;</td><td>a. Voer een adres in en klik op <i>Adres zoeken</i> om het te lokaliseren, <i>of</i></td></tr>
    <tr><td>&nbsp;</td><td>b. Klik op de knop <i>Gebied selecteren</i> en klik op twee tegenoverliggende hoeken, <i>of</i></td></tr>
    <tr><td>&nbsp;</td><td>c. Klik op de knop <i>Punt selecteren</i> en klik om één punt te selecteren</td></tr>
    <tr><td colspan="2">2. Klik op de knop <i>Zoeken</i> om de resultaten te bekijken &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; ( <a href="#FAQ">meer hulp</a> )</td></tr>
  </table>
</div>]]></Phrase>
      <Phrase Key="Faq_Point_Enabled_Html"><![CDATA[  <h1>Veelgestelde vragen over kaartzoekopdracht</h1>
  <ul>
    <li>Hoe zoek ik?
      <p class="tagline">Om een zoekopdracht uit te voeren, moet u eerst uw gebied of interessepunt bepalen en vervolgens de zoekopdracht uitvoeren. Er zijn verschillende manieren om uw interessegebied te bepalen. U kunt een adres invoeren om te zoeken, of u kunt een gebied of een punt op de kaart tekenen. Zodra u uw zoekopdracht heeft gedefinieerd, klikt u op de knop <i>Zoeken</i> om overeenkomsten met die locatie te vinden.</p>
      <p class="tagline">Om op adres te zoeken, typt u een adres en klikt u op de knop <i>Adres zoeken</i>. U kunt ook namen van belangrijke oriëntatiepunten gebruiken, hoewel adressen doorgaans beter werken. Zorg ervoor dat u ook de plaats en staat/provincie in uw zoekopdracht opneemt. Zodra het adres op de kaart is gevonden, klikt u op <i>Zoeken</i> om luchtfoto's te vinden die die locatie bevatten. </p>
      <p class="tagline">Om op kaart te zoeken, klikt u op de kaart op <i>Klik om een gebied te selecteren</i> of <i>Klik om een punt te selecteren</i>. Bij het gebruik van Gebied selecteren klikt u op een beginpunt op de kaart en vervolgens op de tegenoverliggende hoek om een rechthoek te maken. Door boven de kaart op <i>Zoeken</i> te klikken, haalt u de resultaten op die overeenkomen met dat gebied. Bij Punt selecteren kiest u een specifieke locatie en klikt u op Zoeken.</p>
    </li>
    <li>Ik heb moeite met het selecteren van een gebied
      <p class="tagline">Het selecteren van een rechthoekig gebied om te doorzoeken is eenvoudig zodra u de techniek begrijpt. Selecteer eerst de knop <i>Klik om een gebied te selecteren</i> op de kaart. Ga vervolgens naar de linkerbovenhoek van het gebied dat u wilt doorzoeken en klik en laat de linkermuisknop los. Terwijl u de muis nu beweegt, ziet u dat er een rechthoek wordt getekend die uw gebied voorstelt. Wanneer u de muis opnieuw klikt en loslaat, bepaalt u de rechteronderhoek van het te doorzoeken gebied. Houd de muisknop niet ingedrukt terwijl u de muis sleept, aangezien dit de kaart zal verslepen en geen gebied zal definiëren om te selecteren. Zodra uw gebied correct is bepaald, klikt u op de knop <i>Zoeken</i> om overeenkomende resultaten te bekijken.</p>
    </li>
    <li>Ik heb moeite met zoeken op adres
      <p class="tagline">Zorg ervoor dat u het volledige adres invoert, inclusief staat/provincie en land. U kunt ook proberen de naam van een belangrijk oriëntatiepunt te gebruiken, maar het gebruik van een adres werkt vaak beter. Klik op de knop <i>Adres zoeken</i> zodra u het adres of de naam van het belangrijke oriëntatiepunt heeft ingevoerd. Bekijk de kaart en controleer of de gevonden locatie op de kaart overeenkomt met uw gewenste zoekopdracht. Klik vervolgens op de knop <i>Zoeken</i> om overeenkomende resultaten te bekijken.</p>
    </li>
    <li>Wat wordt er doorzocht?
      <p class="tagline">De doorzochte gegevens zijn afhankelijk van het materiaaltype. Bij kranten wordt de plaats van uitgave doorzocht. Bij kaarten wordt de geografische dekking doorzocht. En bij foto's wordt de plaats waar de foto is genomen doorzocht.</p>
    </li>
    <li>Waarom zo weinig resultaten?
      <p class="tagline"> Deze interface is in bètatest, terwijl we meer coördinaatinformatie aan onze zoekdatabase toevoegen. Kom vaak terug om onze voortgang te bekijken!</p>
    </li>
  </ul>]]></Phrase>
      <Phrase Key="Faq_Point_Disabled_Html"><![CDATA[  <h1>Veelgestelde vragen over kaartzoekopdracht</h1>
  <ul>
    <li>Hoe zoek ik?
      <p class="tagline">Om een zoekopdracht uit te voeren, moet u eerst uw interessegebied bepalen en vervolgens de zoekopdracht uitvoeren. Om een gebied te bepalen, klikt u op de kaart op <i>Klik om een gebied te selecteren</i>. Klik vervolgens op een beginpunt op de kaart en vervolgens op de tegenoverliggende hoek om een rechthoek te maken. Door boven de kaart op <i>Zoeken</i> te klikken, haalt u de resultaten op die overeenkomen met dat gebied.</p>
    </li>
    <li>Ik heb moeite met het selecteren van een gebied
      <p class="tagline">Het selecteren van een rechthoekig gebied om te doorzoeken is eenvoudig zodra u de techniek begrijpt. Selecteer eerst de knop <i>Klik om een gebied te selecteren</i> op de kaart. Ga vervolgens naar de linkerbovenhoek van het gebied dat u wilt doorzoeken en klik en laat de linkermuisknop los. Terwijl u de muis nu beweegt, ziet u dat er een rechthoek wordt getekend die uw gebied voorstelt. Wanneer u de muis opnieuw klikt en loslaat, bepaalt u de rechteronderhoek van het te doorzoeken gebied. Houd de muisknop niet ingedrukt terwijl u de muis sleept, aangezien dit de kaart zal verslepen en geen gebied zal definiëren om te selecteren. Zodra uw gebied correct is bepaald, klikt u op de knop <i>Zoeken</i> om overeenkomende resultaten te bekijken.</p>
    </li>
    <li>Waarom kan ik niet op adres of op een punt zoeken?
      <p class="tagline">Deze collectie bestaat voornamelijk uit punten, dus zoeken op gebied is veel effectiever dan zoeken op punt.</p>
    </li>
    <li>Wat wordt er doorzocht?
      <p class="tagline">De doorzochte gegevens zijn afhankelijk van het materiaaltype. Bij kranten wordt de plaats van uitgave doorzocht. Bij kaarten wordt de geografische dekking doorzocht. En bij foto's wordt de plaats waar de foto is genomen doorzocht.</p>
    </li>
    <li>Waarom zo weinig resultaten?
      <p class="tagline"> Deze interface is in bètatest, terwijl we meer coördinaatinformatie aan onze zoekdatabase toevoegen. Kom vaak terug om onze voortgang te bekijken!</p>
    </li>
  </ul>]]></Phrase>
    </Section>

    <Section Name="Newspaper_Search">
      <Phrase Key="Full_Citation">Volledige Bronvermelding</Phrase>
      <Phrase Key="Full_Text">Volledige Tekst</Phrase>
      <Phrase Key="Newspaper_Title">Krantentitel</Phrase>
      <Phrase Key="Location">Locatie</Phrase>
    </Section>

    <Section Name="Metadata_Browse">
      <Phrase Key="Browse_By">Bladeren op</Phrase>
      <Phrase Key="Browse_By_Colon">BLADEREN OP:</Phrase>
      <Phrase Key="Public_Browses">Openbare bladermogelijkheden</Phrase>
      <Phrase Key="Internal_Browses">Interne bladermogelijkheden</Phrase>
      <Phrase Key="Browses">Bladermogelijkheden</Phrase>
      <Phrase Key="Select_Field_Prompt">Selecteer een metadataveld om op te bladeren in de lijst aan de linkerkant</Phrase>
      <Phrase Key="No_Matching_Values">GEEN OVEREENKOMENDE WAARDEN</Phrase>
    </Section>

    <Section Name="Tiles_Home">
      <Phrase Key="Varies">( varieert )</Phrase>
    </Section>

    <Section Name="Thumbnails_Home">
      <Phrase Key="Collection_Items">Items in de collectie</Phrase>
      <Phrase Key="Showing_Items_Out_Of">20 items van {0} worden weergegeven</Phrase>
      <Phrase Key="View_All">Alles bekijken</Phrase>
    </Section>

    <Section Name="Usage_Statistics">
      <Phrase Key="Title_Collection_Views">Geschiedenis van gebruik op collectieniveau</Phrase>
      <Phrase Key="Title_Item_Views">Geschiedenis van itemgebruik</Phrase>
      <Phrase Key="Title_Top_Titles">Meest bekeken titels</Phrase>
      <Phrase Key="Title_Top_Items">Meest bekeken items</Phrase>
      <Phrase Key="Title_Definitions">Definities van gebruikte termen</Phrase>

      <Phrase Key="Tab_Collection_Views">COLLECTIEWEERGAVEN</Phrase>
      <Phrase Key="Tab_Item_Views">ITEMWEERGAVEN</Phrase>
      <Phrase Key="Tab_Top_Titles">TOP TITELS</Phrase>
      <Phrase Key="Tab_Top_Items">TOP ITEMS</Phrase>
      <Phrase Key="Tab_Definitions">DEFINITIES</Phrase>

      <Phrase Key="Month_1">Januari</Phrase>
      <Phrase Key="Month_2">Februari</Phrase>
      <Phrase Key="Month_3">Maart</Phrase>
      <Phrase Key="Month_4">April</Phrase>
      <Phrase Key="Month_5">Mei</Phrase>
      <Phrase Key="Month_6">Juni</Phrase>
      <Phrase Key="Month_7">Juli</Phrase>
      <Phrase Key="Month_8">Augustus</Phrase>
      <Phrase Key="Month_9">September</Phrase>
      <Phrase Key="Month_10">Oktober</Phrase>
      <Phrase Key="Month_11">November</Phrase>
      <Phrase Key="Month_12">December</Phrase>

      <Phrase Key="Collection_History_Intro">Hieronder wordt de gebruiksgeschiedenis van deze collectie weergegeven. Deze geschiedenis omvat alleen de weergaven op het hoogste niveau van de collectie.</Phrase>
      <Phrase Key="Item_History_Intro">Hieronder wordt de gebruiksgeschiedenis van de items binnen deze collectie weergegeven.</Phrase>
      <Phrase Key="Items_By_Collection_Intro">Hieronder verschijnen de meest gebruikte items voor deze collectie.</Phrase>
      <Phrase Key="Titles_By_Collection_Intro">Hieronder verschijnen de meest gebruikte titels per collectie.</Phrase>
      <Phrase Key="Definitions_Link_Sentence"><![CDATA[De <a href="{0}">definitiepagina</a> geeft meer details over de statistieken en termen die hieronder worden gebruikt.]]></Phrase>

      <Phrase Key="Year_Statistics_Suffix"> STATISTIEKEN</Phrase>
      <Phrase Key="Total">TOTAAL</Phrase>

      <Phrase Key="Date">DATUM</Phrase>
      <Phrase Key="Total_Views_Html"><![CDATA[TOTAAL<br />WEERGAVEN]]></Phrase>
      <Phrase Key="Visits">BEZOEKEN</Phrase>
      <Phrase Key="Main_Pages_Html"><![CDATA[HOOFD-<br />PAGINA'S]]></Phrase>
      <Phrase Key="Browses">BLADEREN</Phrase>
      <Phrase Key="Search_Results_Html"><![CDATA[ZOEK-<br />RESULTATEN]]></Phrase>
      <Phrase Key="Title_Views_Html"><![CDATA[TITEL-<br />WEERGAVEN]]></Phrase>
      <Phrase Key="Item_Views_Html"><![CDATA[ITEM-<br />WEERGAVEN]]></Phrase>

      <Phrase Key="Jpeg_Views_Html"><![CDATA[JPEG-<br />WEERGAVEN]]></Phrase>
      <Phrase Key="Zoomable_Views_Html"><![CDATA[ZOOMBARE<br />WEERGAVEN]]></Phrase>
      <Phrase Key="Citation_Views_Html"><![CDATA[BRONVER-<br />MELDINGEN]]></Phrase>
      <Phrase Key="Thumbnail_Views_Html"><![CDATA[MINIATUUR-<br />WEERGAVEN]]></Phrase>
      <Phrase Key="Text_Searches_Html"><![CDATA[TEKST-<br />ZOEKOPDRACHTEN]]></Phrase>
      <Phrase Key="Flash_Views_Html"><![CDATA[FLASH-<br />WEERGAVEN]]></Phrase>
      <Phrase Key="Map_Views_Html"><![CDATA[KAART-<br />WEERGAVEN]]></Phrase>
      <Phrase Key="Download_Views_Html"><![CDATA[DOWNLOADS]]></Phrase>
      <Phrase Key="Static_Views_Html"><![CDATA[STATISCHE<br />WEERGAVEN]]></Phrase>

      <Phrase Key="Bibid">BIBID</Phrase>
      <Phrase Key="Vid">VID</Phrase>
      <Phrase Key="Title">TITEL</Phrase>
      <Phrase Key="Views">WEERGAVEN</Phrase>

      <Phrase Key="Definitions_Html"><![CDATA[<p>De volgende termen worden hieronder gedefinieerd:</p>

<table width="600px" border="0" align="center">
  <tr>
    <td><a href="#Collection_Hierarchy">Collectiehiërarchie</a></td>
    <td><a href="#Collection_Groups">Collectiegroepen</a></td>
    <td><a href="#Collections">Collecties</a></td>
  </tr>
  <tr>
    <td><a href="#SubCollections">Subcollecties</a></td>
    <td><a href="#Views">Weergaven</a></td>
    <td><a href="#Visits">Bezoeken</a></td>
  </tr>
  <tr>
    <td><a href="#Main_Pages">Hoofdpagina's</a></td>
    <td><a href="#Browses">Bladeren</a></td>
    <td><a href="#Titles_Items">Titels en items</a></td>
  </tr>
  <tr>
    <td><a href="#Title_Views">Titelweergaven</a></td>
    <td><a href="#Item_Views">Itemweergaven</a></td>
    <td><a href="#Citation_Views">Bronvermeldingen</a></td>
  </tr>
  <tr>
    <td><a href="#Text_Searches">Tekstzoekopdrachten</a></td>
    <td><a href="#Static_Views">Statische weergaven</a></td>
    <td>&nbsp;</td>
  </tr>
</table>

<h2>Gedefinieerde termen</h2>

<a name="Collection_Hierarchy" ></a>
<h3>COLLECTIEHIËRARCHIE</h3>
<p>Collecties zijn georganiseerd per collectiegroep, die collecties bevat, en collecties bevatten subcollecties. Deze hiërarchische structuur maakt algemene zoekopdrachten en bladermogelijkheden op collectiegroepniveau mogelijk, evenals gedetailleerdere zoekopdrachten op collectieniveau, voor een optimale bruikbaarheid voor uiteenlopende gebruikersbehoeften. <br /><br />
Bij het lezen van de statistieken per collectie zijn weergaven en zoekopdrachten die vanaf de hoofdpagina en de collectiegroeppagina's zijn uitgevoerd niet binnen collecties en worden ze dus niet meegeteld in de collectiestatistieken.</p>

<a name="Collection_Groups" ></a>
<h3>COLLECTIEGROEPEN</h3>
<p>Collectiegroepen zijn verzamelingen van collecties binnen deze bibliotheek. Collectiegroepen vereenvoudigen het gelijktijdig doorzoeken van meerdere collecties. Collectiegroepen verbinden ook minder nauw verwant materiaal om de kans op toevallige ontdekkingen te vergroten, waarbij gebruikers die naar één onderwerp zoeken, gemakkelijk iets verwants en nuttigs kunnen tegenkomen dat ze niet hadden overwogen. Collectiegroepen worden daarom meestal thematisch samengesteld. <br /><br />
Als geheel tellen weergaven op collectiegroepniveau niet mee voor een specifieke collectie en worden ze niet opgenomen in de op collecties gebaseerde statistieken.</p>

<a name="Collections" ></a>
<h3>COLLECTIES</h3>
<p>Collecties vormen de belangrijkste methode voor het definiëren en verzamelen van verwant materiaal en zijn de meest vertrouwde hiërarchische structuren voor vakspecialisten, partners en andere interne gebruikers. Eén collectie kan in meerdere collectiegroepen voorkomen, en één collectie kan veel subcollecties hebben.  <br /><br />
Een item kan in meerdere collecties voorkomen, maar er wordt altijd één collectie als primair geselecteerd, zodat alle itemweergaven binnen één collectie vallen. </p>

<a name="SubCollections" ></a>
<h3>SUBCOLLECTIES</h3>
<p>De kleinste verzamelde eenheid is de subcollectie. Eén item kan tot meerdere subcollecties binnen dezelfde collectie behoren, of tot meerdere collecties en tot subcollecties binnen elke collectie. <br /><br />
Omdat alle items van subcollecties een primaire collectie hebben, worden de gebruiksstatistieken van subcollecties ook opgenomen in de gebruiksstatistieken van de collectie. </p>

<a name="Views" ></a>
<h3>WEERGAVEN</h3>
<p>Weergaven zijn de daadwerkelijke paginabezoeken. Elke keer dat iemand naar {0} gaat, telt dit als een weergave. De statistieken van {0} worden opgeschoond, zodat weergaven van robots, die zoekmachines gebruiken om websites te indexeren, worden verwijderd. Als deze niet zouden worden verwijderd, zouden de weergaven op alle collecties en items veel hoger uitvallen. Webgebruiksstatistieken zijn altijd enigszins feilbaar, en dit is een van de manieren om gebruiksstatistieken van betere kwaliteit te waarborgen. <br /><br />
Sommige webstatistieken tellen "downloads van pagina-items" als weergaven, wat zeer onnauwkeurig is omdat elke pagina meerdere items bevat. Zo bevat de hoofdpagina van de digitale bibliotheek, {0}, bijvoorbeeld de HTML van de pagina en alle afbeeldingen. Als de statistieken elke "download van een pagina-item" als een bezoek zouden tellen, zou elk enkel bezoek aan de hoofdpagina worden geteld als meer dan 30 "downloads van pagina-items". Om het nog verwarrender te maken, bieden sommige digitale repositories alleen PDF-downloads aan zodat gebruikers items kunnen bekijken. Die digitale repositories registreren "itemdownloads", en die komen het meest overeen met onze gebruiksstatistieken per "item". </p>

<a name="Visits" ></a>
<h3>BEZOEKEN</h3>
<p>Elke keer dat iemand naar deze digitale bibliotheek gaat, telt dit als een weergave, maar dat betekent dat een enkele gebruiker die de site herhaaldelijk bezoekt een groot aantal weergaven kan registreren. Bezoeken bieden een betere statistiek voor het aantal verschillende "unieke" gebruikers dat de site gebruikt. Bezoeken omvatten alle weergaven vanaf een specifiek IP-adres (het webadres van de computer van de gebruiker bij verbinding), zoals geregistreerd in het weblogbestand binnen een uur.  <br /><br />
Dit is ook een feilbare statistiek, omdat de IP-adressen van gebruikers vaak worden hergebruikt in netwerken. Verbinding maken met gratis draadloos internet betekent dat dat netwerk uw computer een IP-adres toewijst, en wanneer u vervolgens de verbinding verbreekt, wordt dat IP-adres toegewezen aan de volgende gebruiker die het nodig heeft. Voor een op de campus gebaseerde bron met zoveel gebruikers die via de VPN of vanaf de campus verbinding maken, neemt de foutmarge voor op bezoeken gebaseerde statistieken toe. </p>

<a name="Main_Pages" ></a>
<h3>HOOFDPAGINA'S</h3>
<p>Voor elk van de elementen in de collectiehiërarchie zijn de hoofdpagina's de start- of landingspagina's, de zoekpagina's, de contactpagina's en alle andere aanvullende pagina's.  <br /><br />
Wanneer gebruikers een zoekopdracht uitvoeren via de collectiepagina's en de resultaten bekijken, worden die zoekresultatenpagina's ook opgenomen in de hoofdpagina's. Zodra een gebruiker op een van de items in de zoekresultaten klikt, is dat item geen hoofdpagina meer. De weergaven van zoekresultaten in de miniatuur-, tabel- en beknopte modus worden allemaal opgenomen in de hoofdpagina's van de collectie.</p>

<a name="Browses" ></a>
<h3>BLADEREN</h3>
<p>Bladeren omvat weergaven van standaard bladermogelijkheden, zoals <i>Alle items</i> en <i>Nieuwe items</i> (indien beschikbaar).  Het omvat ook alle weergaven van niet-standaard bladermogelijkheden.</p>

<a name="Search_Results" ></a>
<h3>ZOEKRESULTATEN</h3>
<p>Weergaven van zoekresultaten omvatten elke weergave van een sectie met zoekresultaten, inclusief zoekopdrachten die geen resultaten opleverden.</p>

<a name="Titles_Items" ></a>
<h3>TITELS EN ITEMS</h3>
<p>Titels zijn bedoeld voor afzonderlijke bibliografische eenheden, zoals een boek of een krant. Items zijn de volumes binnen titels. Zo kan een boek één titel en één item hebben, terwijl een krant één titel en duizenden items kan hebben.  <br /><br />
Titels met slechts één item (of volume) zijn voor gebruikers functioneel gelijkwaardig. Voor items zoals kranten kan één titel echter overeenkomen met duizenden items. <br /><br />
Lezers van de technische documentatie en interne gebruikers herkennen titels aan hun bibliografische identificator (BIBID) en items binnen elke titel aan de BIBID plus de volume-identificator (VID).</p>

<a name="Title_Views" ></a>
<h3>TITELWEERGAVEN</h3>
<p>Titelweergaven omvatten alle weergaven op titelniveau.</p>

<a name="Item_Views" ></a>
<h3>ITEMWEERGAVEN</h3>
<p>Itemweergaven omvatten alleen weergaven op itemniveau.</p>

<a name="Citation_Views" ></a>
<h3>BRONVERMELDINGEN</h3>
<p>Voor elk item is de standaardweergave ingesteld op het pagina-item (zoombaar of statisch, afhankelijk van de keuze van de gebruiker en de beschikbaarheid van elke weergave voor dat item). Alle items bevatten ook een "bronvermeldingweergave" die niet standaard is geselecteerd. De "bronvermeldingweergaven" tellen het aantal keren dat een gebruiker de "bronvermeldingweergave" voor een item kiest.</p>

<a name="Text_Searches" ></a>
<h3>TEKSTZOEKOPDRACHTEN</h3>
<p>Tekstzoekopdrachten zijn zoekopdrachten op itemniveau binnen de tekst van een enkel document.  Deze geven de pagina's terug waarop de term of termen voorkomen.</p>

<a name="Static_Views" ></a>
<h3>STATISCHE WEERGAVEN</h3>
<p>Voor elk item in deze bibliotheek wordt een statische pagina gegenereerd zodat zoekmachines deze kunnen indexeren.  Wanneer een item verschijnt in de resultaten van een standaard zoekmachine, leidt de koppeling de gebruiker door naar de statische pagina.  Verdere navigatie brengt de gebruiker naar de dynamisch gegenereerde pagina's binnen deze bibliotheek.  Er is geprobeerd om alle weergaven afkomstig van indexering door zoekmachines uit deze cijfers te verwijderen.  Deze cijfers geven het aantal gebruikers weer dat deze bibliotheek via een zoekmachine heeft betreden.</p>]]></Phrase>
    </Section>

  </Localization>
</SobekCM_Config>
