<?xml version="1.0" encoding="utf-8" ?>
<SobekCM_Config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://sobekrepository.org/schemas/sobekcm_config"
	xsi:schemaLocation="http://sobekrepository.org/schemas/sobekcm_config
		http://sobekrepository.org/schemas/sobekcm_config.xsd">
  <Localization Language="nl">

    <Section Name="HeaderFooter">
      <Phrase Key="Home_Suffix_Format">{0} Startpagina</Phrase>
      <Phrase Key="Staff_Login">personeelslogin</Phrase>
      <Phrase Key="Log_Out">Afmelden</Phrase>
      <Phrase Key="My_Account_Possessive_Format">{1} van {0}</Phrase>
    </Section>

    <Section Name="MainMenus">
      <Phrase Key="Aggregation_Menu_Aria">Collectiemenu</Phrase>
      <Phrase Key="Search_Results_Menu_Aria">Zoekresultatenmenu</Phrase>
      <Phrase Key="User_Menu_Aria">Gebruikersmenu</Phrase>
      <Phrase Key="Home">START</Phrase>
      <Phrase Key="Collection_Home_Format">{0} START</Phrase>
      <Phrase Key="Sobek_Home_Format">{0} START</Phrase>
      <Phrase Key="My_Sobek_Home_Format"><![CDATA[<span style="text-transform:lowercase">mijn</span>{0} Start]]></Phrase>
      <Phrase Key="View_Items">ITEMS BEKIJKEN</Phrase>
      <Phrase Key="View_All_Items">ALLE ITEMS</Phrase>
      <Phrase Key="View_New_Items">NIEUWE ITEMS</Phrase>
      <Phrase Key="My_Collections">MIJN COLLECTIES</Phrase>
      <Phrase Key="Browse_Partners">PARTNERS DOORBLADEREN</Phrase>
      <Phrase Key="Browse_By">DOORBLADEREN OP</Phrase>
      <Phrase Key="Map_Browse">Kaartweergave</Phrase>
      <Phrase Key="List_View">Lijstweergave</Phrase>
      <Phrase Key="Brief_View">Beknopte Weergave</Phrase>
      <Phrase Key="Tree_View">Boomweergave</Phrase>
      <Phrase Key="Other_Searches">Zoekopties</Phrase>
      <Phrase Key="Print_Action">Afdrukken</Phrase>
      <Phrase Key="Send_Action">Verzenden</Phrase>
      <Phrase Key="Save_Action">Opslaan</Phrase>
      <Phrase Key="Share_Action">Delen</Phrase>
      <Phrase Key="My_Library">Mijn Bibliotheek</Phrase>
      <Phrase Key="My_Account">Mijn Account</Phrase>
      <Phrase Key="Internal">Intern</Phrase>
      <Phrase Key="System_Admin">Systeembeheerder</Phrase>
      <Phrase Key="Portal_Admin">Portaalbeheerder</Phrase>
      <Phrase Key="User_Admin">Gebruikersbeheerder</Phrase>
      <Phrase Key="Advanced_Search">Geavanceerd Zoeken</Phrase>
      <Phrase Key="Collection_List">Collectielijst</Phrase>
      <Phrase Key="Collection_Hierarchy">Collectiehiërarchie</Phrase>
      <Phrase Key="New_Items">Nieuwe Items</Phrase>
      <Phrase Key="Memory_Management">Geheugenbeheer</Phrase>
      <Phrase Key="Wordmarks">Woordmerken</Phrase>
      <Phrase Key="Build_Failures">Buildfouten</Phrase>
      <Phrase Key="Start_New_Item">Begin een nieuw item</Phrase>
      <Phrase Key="View_Submitted_Items">Bekijk mijn ingediende items</Phrase>
      <Phrase Key="View_Item_Usage">Bekijk het gebruik van mijn items</Phrase>
      <Phrase Key="View_Descriptive_Tags">Bekijk mijn beschrijvende labels</Phrase>
      <Phrase Key="View_Bookshelves">Bekijk mijn boekenplanken</Phrase>
      <Phrase Key="View_Saved_Searches">Bekijk mijn opgeslagen zoekopdrachten</Phrase>
      <Phrase Key="Account_Preferences">Accountvoorkeuren</Phrase>
      <Phrase Key="Log_Out">Afmelden</Phrase>
      <Phrase Key="Common_Tasks">Veelvoorkomende Taken</Phrase>
      <Phrase Key="Add_Collection_Wizard">Wizard Collectie Toevoegen</Phrase>
      <Phrase Key="Edit_Current_Web_Skin">Huidige Webvormgeving Bewerken</Phrase>
      <Phrase Key="Users_And_Groups">Gebruikers en Groepen</Phrase>
      <Phrase Key="Appearance">Uiterlijk</Phrase>
      <Phrase Key="Url_Portals">URL-Portalen</Phrase>
      <Phrase Key="Web_Skins">Webvormgevingen</Phrase>
      <Phrase Key="Collections">Collecties</Phrase>
      <Phrase Key="Aggregation_Aliases">Collectie-aliassen</Phrase>
      <Phrase Key="Aggregation_Management">Collectiebeheer</Phrase>
      <Phrase Key="Thematic_Headings">Thematische Kopjes</Phrase>
      <Phrase Key="Items">Items</Phrase>
      <Phrase Key="Default_Metadata">Standaardmetadata</Phrase>
      <Phrase Key="Wordmarks_Icons">Woordmerken / Pictogrammen</Phrase>
      <Phrase Key="Builder_Status">Buildstatus</Phrase>
      <Phrase Key="Settings">Instellingen</Phrase>
      <Phrase Key="Ip_Restriction_Ranges">IP-Beperkingsbereiken</Phrase>
      <Phrase Key="System_Wide_Settings">Systeembrede Instellingen</Phrase>
      <Phrase Key="Reset_Cache">Cache Resetten</Phrase>
      <Phrase Key="Users_And_Permissions">Gebruikers &amp; Machtigingen</Phrase>
      <Phrase Key="User_Permissions_Reports">Rapporten Gebruikersmachtigingen</Phrase>
      <Phrase Key="Users_Requests">Gebruikersverzoeken</Phrase>
      <Phrase Key="Web_Content_Pages">Webinhoudpagina's</Phrase>
      <Phrase Key="Manage_Web_Content_Pages">Webinhoudpagina's Beheren</Phrase>
      <Phrase Key="Web_Content_Recent_Updates">Recente Updates Webinhoud</Phrase>
      <Phrase Key="Web_Content_Usage_Reports">Gebruiksrapporten Webinhoud</Phrase>
      <Phrase Key="Extensions">Extensies</Phrase>
      <Phrase Key="Manage_Tei_Plugin">TEI-plug-in beheren</Phrase>
    </Section>

  </Localization>
</SobekCM_Config>
