<?xml version="1.0" encoding="utf-8" ?>
<SobekCM_Config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://sobekrepository.org/schemas/sobekcm_config"
	xsi:schemaLocation="http://sobekrepository.org/schemas/sobekcm_config
		http://sobekrepository.org/schemas/sobekcm_config.xsd">
  <Localization Language="es">

    <Section Name="General">
      <Phrase Key="Description">Descripción</Phrase>
      <Phrase Key="Format">Formato</Phrase>
      <Phrase Key="Publisher">Editor</Phrase>
      <Phrase Key="Relation">Relación</Phrase>
      <Phrase Key="Resource Identifier">Indentificador de Recursos</Phrase>
      <Phrase Key="Resource Type">Tipo de Recurso</Phrase>
      <Phrase Key="Subject">Tema</Phrase>
      <Phrase Key="Abstract">Resumen</Phrase>
      <Phrase Key="Alternate Title">Título Alterno</Phrase>
      <Phrase Key="Attribution_Statement">Declaración De la Atribución</Phrase>
      <Phrase Key="Bibliographic_ID">Identificación Bibliográfica</Phrase>
      <Phrase Key="Contributor">Otros Colaboradores</Phrase>
      <Phrase Key="Creator">Autor o Creador</Phrase>
      <Phrase Key="Donor">Donante</Phrase>
      <Phrase Key="EAD_Identifier">Identificador de EAD</Phrase>
      <Phrase Key="Holding Location">Local de Almacén</Phrase>
      <Phrase Key="Latitude_Hours">Horas De Latitud</Phrase>
      <Phrase Key="Latitude_Minutes">Minutos De Latitud</Phrase>
      <Phrase Key="Latitude_Seconds">Segundos De Latitud</Phrase>
      <Phrase Key="Longitude_Hours">Horas De Longitud</Phrase>
      <Phrase Key="Longitude_Minutes">Minutos De Longitud</Phrase>
      <Phrase Key="Longitude_Seconds">Segundos De Longitud</Phrase>
      <Phrase Key="Notes">Notas</Phrase>
      <Phrase Key="Rights Management">Derechos</Phrase>
      <Phrase Key="Scale">Escala</Phrase>
      <Phrase Key="Series Title">Título De la Serie</Phrase>
      <Phrase Key="Source Institution">Institución De la Fuente</Phrase>
      <Phrase Key="Spatial Coverage">Cobertura Espacial</Phrase>
      <Phrase Key="Subcollection">Subcolección</Phrase>
      <Phrase Key="Temporal Coverage">Cobertura Temporal</Phrase>
      <Phrase Key="Uniform Title">Título Uniforme</Phrase>
      <Phrase Key="Volume_ID">Identificación Del Volumen</Phrase>
      <Phrase Key="Interviewer">Entrevistador</Phrase>
      <Phrase Key="Interviewee">Entrevistado</Phrase>
      <Phrase Key="Publication Date">Fecha Publicada</Phrase>
      <Phrase Key="Author">Autor</Phrase>
      <Phrase Key="Place of Publication">Lugar de la Publicación</Phrase>
      <Phrase Key="Year">Año</Phrase>
      <Phrase Key="Acknowledgement">Reconocimiento</Phrase>
      <Phrase Key="Advertising">Publicidad</Phrase>
      <Phrase Key="Appendix">Apéndice</Phrase>
      <Phrase Key="Back_Cover">Portada Posterior</Phrase>
      <Phrase Key="Back_Matter">Materia Posterior</Phrase>
      <Phrase Key="Bibliography">Bibliografía</Phrase>
      <Phrase Key="Chapter">Capítulo</Phrase>
      <Phrase Key="Conclusion">Conclusión</Phrase>
      <Phrase Key="Copyright">Derecho de Autor</Phrase>
      <Phrase Key="Cover">Portada</Phrase>
      <Phrase Key="Dedication">Dedicación</Phrase>
      <Phrase Key="Errata">Errata</Phrase>
      <Phrase Key="Foreword">Advertencia</Phrase>
      <Phrase Key="Front_Cover">Portada Delantera</Phrase>
      <Phrase Key="Front_Matter">Materia Delantera</Phrase>
      <Phrase Key="Frontispiece">Imagen Delantera</Phrase>
      <Phrase Key="Half_Title">Medio-Título</Phrase>
      <Phrase Key="Index">Indice</Phrase>
      <Phrase Key="Interview">Entrevista</Phrase>
      <Phrase Key="Introduction">Introducción</Phrase>
      <Phrase Key="List_of_Figures">Lista de Figuras</Phrase>
      <Phrase Key="List_of_Illustrations">Lista de Ilustraciones</Phrase>
      <Phrase Key="List_of_Tables">Lista de Tablas</Phrase>
      <Phrase Key="Main">Principal</Phrase>
      <Phrase Key="Methodology">Metodología</Phrase>
      <Phrase Key="Poem">Poema</Phrase>
      <Phrase Key="Preface">Prefacio</Phrase>
      <Phrase Key="Prelude">Preludio</Phrase>
      <Phrase Key="Reference">Referencia</Phrase>
      <Phrase Key="Section">Sección</Phrase>
      <Phrase Key="Spine">Canto</Phrase>
      <Phrase Key="Subdivision_Level_1">Subdivisión de Nivel 1</Phrase>
      <Phrase Key="Subdivision_Level_2">Subdivisión de Nivel 2</Phrase>
      <Phrase Key="Subdivision_Level_3">Subdivisión de Nivel 3</Phrase>
      <Phrase Key="Subdivision_Level_4">Subdivisión de Nivel 4</Phrase>
      <Phrase Key="Subdivision_Level_5">Subdivisión de Nivel 5</Phrase>
      <Phrase Key="Subdivision_Level_6">Subdivisión de Nivel 6</Phrase>
      <Phrase Key="Table_of_Contents">Contenidos</Phrase>
      <Phrase Key="Title_Page">Titulario</Phrase>
      <Phrase Key="Group">Grupo</Phrase>
      <Phrase Key="PAGE_IMAGE">IMAGE DE LA PÁGINA</Phrase>
      <Phrase Key="PAGE_TEXT">TEXTO DE LA PÁGINA</Phrase>
      <Phrase Key="ZOOMABLE">IMAGEN AMPLIABLE</Phrase>
      <Phrase Key="FEATURES">EDIFICIOS</Phrase>
      <Phrase Key="STREETS">CALLES</Phrase>
      <Phrase Key="All Items">Todos Los Artículos</Phrase>
      <Phrase Key="Recently Added Items">Nuevos Artículos</Phrase>
      <Phrase Key="Related_Images">Imágenes Relacionadas</Phrase>
      <Phrase Key="Country">País</Phrase>
      <Phrase Key="State">Estado</Phrase>
      <Phrase Key="County">Condado</Phrase>
      <Phrase Key="City">Ciudad</Phrase>
      <Phrase Key="Subject: Topic">Asunto: Tema</Phrase>
      <Phrase Key="Subject: Geographic Area">Asunto: Área Geográfica</Phrase>
      <Phrase Key="Subject: Genre">Asunto: Género</Phrase>
      <Phrase Key="Permanent Link">URL Permanente</Phrase>
      <Phrase Key="Material_Information">Material de Información</Phrase>
      <Phrase Key="Physical Description">Descripción Física</Phrase>
      <Phrase Key="Manufacturer">Fabricante</Phrase>
      <Phrase Key="Subjects">Los Sujetos</Phrase>
      <Phrase Key="Statement_of_Responsibility">Declaración de Responsabilidad</Phrase>
      <Phrase Key="General Note">Nota General</Phrase>
      <Phrase Key="Record_Information">Registro de Información</Phrase>
      <Phrase Key="Local_Membership">Socios Locales</Phrase>
      <Phrase Key="METS_Information">METS Información</Phrase>
      <Phrase Key="Creation Date">Fecha de Creación</Phrase>
      <Phrase Key="Last_Modified">De la Último Actualización</Phrase>
      <Phrase Key="Last_User">Último Usuario</Phrase>
      <Phrase Key="System_Folder">Carpeta del Sistema</Phrase>
      <Phrase Key="Item_Primary_Key">Tema clave principal</Phrase>
      <Phrase Key="Group_Primary_Key">Grupo Clave Principal</Phrase>
      <Phrase Key="System Administration Information">Sistema de Administración de Información</Phrase>
      <Phrase Key="Group_Title">Grupo Título</Phrase>
      <Phrase Key="Accession number">Número de Acceso</Phrase>
      <Phrase Key="Caribbean_Newspaper_Digital_Library">Biblioteca Digital de Periódicos Caribeños</Phrase>
      <Phrase Key="Digital_Library_of_the_Caribbean">Biblioteca Digital del Caribe</Phrase>
      <Phrase Key="Panama_and_the_Canal">Panamá y el Canal</Phrase>
      <Phrase Key="Subject_Keywords">Palabra clave del tema</Phrase>
      <Phrase Key="Type">Tipo</Phrase>
      <Phrase Key="Genre">Género</Phrase>
      <Phrase Key="Target Audience">Público Objetivo</Phrase>
      <Phrase Key="Attribution">Atribución</Phrase>
      <Phrase Key="Tickler">Recordatorio</Phrase>
      <Phrase Key="Identifier">Identificador</Phrase>
      <Phrase Key="Affiliation">Afiliación</Phrase>
      <Phrase Key="Frequency">Frecuencia</Phrase>
      <Phrase Key="TEXT_SEARCH">BÚSQUEDA DE TEXTO</Phrase>
      <Phrase Key="Subcollections">Subcolecciones</Phrase>
      <Phrase Key="Metadata_Only">Metadatos Solamente</Phrase>
      <Phrase Key="Most_Recent">Mas Reciente</Phrase>
      <Phrase Key="Child_Collections">Subcolecciones</Phrase>
      <Phrase Key="Title">Título</Phrase>
      <Phrase Key="Date">Fecha</Phrase>
      <Phrase Key="Language">Idioma</Phrase>
      <Phrase Key="Full Citation">Cita Completa</Phrase>
      <Phrase Key="Abbreviated Title">Título Abreviado</Phrase>
      <Phrase Key="Aggregation Level">Nivel de Agregación</Phrase>
      <Phrase Key="Aggregations">Agregaciones</Phrase>
      <Phrase Key="Class">Clase</Phrase>
      <Phrase Key="Classification">Clasificación</Phrase>
      <Phrase Key="Committee Chair">Presidente del Comité</Phrase>
      <Phrase Key="Committee Co-Chair">Copresidente del Comité</Phrase>
      <Phrase Key="Committee Members">Miembros del Comité</Phrase>
      <Phrase Key="Common Name">Nombre Común</Phrase>
      <Phrase Key="Conference">Conferencia</Phrase>
      <Phrase Key="Context">Contexto</Phrase>
      <Phrase Key="Coordinates">Coordenadas</Phrase>
      <Phrase Key="Copyright Date">Fecha de Derechos de Autor</Phrase>
      <Phrase Key="Cultural Context">Contexto Cultural</Phrase>
      <Phrase Key="Degree">Título Académico</Phrase>
      <Phrase Key="Degree Disciplines">Disciplinas del Título</Phrase>
      <Phrase Key="Degree Divisions">Divisiones del Título</Phrase>
      <Phrase Key="Degree Grantor">Institución Otorgante</Phrase>
      <Phrase Key="Difficulty Level">Nivel de Dificultad</Phrase>
      <Phrase Key="Edition">Edición</Phrase>
      <Phrase Key="Embargo Date">Fecha de Embargo</Phrase>
      <Phrase Key="Family">Familia</Phrase>
      <Phrase Key="Genus">Género</Phrase>
      <Phrase Key="Graduation Date">Fecha de Graduación</Phrase>
      <Phrase Key="Graduation Semester">Semestre de Graduación</Phrase>
      <Phrase Key="Inscription">Inscripción</Phrase>
      <Phrase Key="Intended User Roles">Roles de Usuario Previstos</Phrase>
      <Phrase Key="Interactivity Level">Nivel de Interactividad</Phrase>
      <Phrase Key="Interactivity Type">Tipo de Interactividad</Phrase>
      <Phrase Key="Kingdom">Reino</Phrase>
      <Phrase Key="Learning Resource Type">Tipo de Recurso de Aprendizaje</Phrase>
      <Phrase Key="Materials">Materiales</Phrase>
      <Phrase Key="Measurements">Medidas</Phrase>
      <Phrase Key="Order">Orden</Phrase>
      <Phrase Key="Phylum">Filo</Phrase>
      <Phrase Key="Physical Location">Ubicación Física</Phrase>
      <Phrase Key="Related Item">Elemento Relacionado</Phrase>
      <Phrase Key="Related URL">URL Relacionada</Phrase>
      <Phrase Key="Scientific Name">Nombre Científico</Phrase>
      <Phrase Key="Species">Especie</Phrase>
      <Phrase Key="State / Edition">Estado / Edición</Phrase>
      <Phrase Key="Status">Estado</Phrase>
      <Phrase Key="Style/Period">Estilo/Período</Phrase>
      <Phrase Key="Subjects / Keywords">Los Sujetos / Palabras Clave</Phrase>
      <Phrase Key="System ID">ID del Sistema</Phrase>
      <Phrase Key="System Requirements">Requisitos del Sistema</Phrase>
      <Phrase Key="Taxonomic Rank">Rango Taxonómico</Phrase>
      <Phrase Key="Technique">Técnica</Phrase>
      <Phrase Key="Translated Title">Título Traducido</Phrase>
      <Phrase Key="Typical Age Range">Rango de Edad Típico</Phrase>
      <Phrase Key="Typical Learning Time">Tiempo de Aprendizaje Típico</Phrase>
      <Phrase Key="User Tags">Etiquetas de Usuario</Phrase>
      <Phrase Key="Sort By">Ordenar por</Phrase>
      <Phrase Key="BibID / VID">BibID / VID</Phrase>
      <Phrase Key="Title / VID">Título / VID</Phrase>
      <Phrase Key="Last Activity Date (most recent first)">Fecha de Última Actividad (más reciente primero)</Phrase>
      <Phrase Key="Last Milestone Date (most recent first)">Fecha del Último Hito (más reciente primero)</Phrase>
      <Phrase Key="Last Activity Date (oldest first)">Fecha de Última Actividad (más antigua primero)</Phrase>
      <Phrase Key="Last Milestone Date (oldest first)">Fecha del Último Hito (más antigua primero)</Phrase>
      <Phrase Key="Browse by...">Explorar por...</Phrase>
      <Phrase Key="Collection">Colección</Phrase>
      <Phrase Key="Get help.">Obtener ayuda.</Phrase>
      <Phrase Key="Click to add another">Haga clic para agregar otro</Phrase>
      <Phrase Key="Click to add a new abstract">Haga clic para agregar un nuevo resumen</Phrase>
      <Phrase Key="Click to add a new manufacturer">Haga clic para agregar un nuevo fabricante</Phrase>
      <Phrase Key="Click to add a new named object to this resource">Haga clic para agregar un nuevo objeto con nombre a este recurso</Phrase>
      <Phrase Key="Click to add a new named subject">Haga clic para agregar un nuevo tema con nombre</Phrase>
      <Phrase Key="Click to add a new note">Haga clic para agregar una nueva nota</Phrase>
      <Phrase Key="Click to add a new other title">Haga clic para agregar otro título</Phrase>
      <Phrase Key="Click to add a new publisher">Haga clic para agregar una nueva editorial</Phrase>
      <Phrase Key="Click to add a new related item">Haga clic para agregar un nuevo elemento relacionado</Phrase>
      <Phrase Key="Click to add a new spatial coverage object">Haga clic para agregar un nuevo objeto de cobertura espacial</Phrase>
      <Phrase Key="Click to add a new temporal coverage field">Haga clic para agregar un nuevo campo de cobertura temporal</Phrase>
      <Phrase Key="Click to add a new type of viewer">Haga clic para agregar un nuevo tipo de visor</Phrase>
      <Phrase Key="Click to add a new zoological taxonomy object">Haga clic para agregar un nuevo objeto de taxonomía zoológica</Phrase>
      <Phrase Key="End Year">Año de Finalización</Phrase>
      <Phrase Key="Location(s)">Ubicación(es)</Phrase>
      <Phrase Key="Name">Nombre</Phrase>
      <Phrase Key="Period">Período</Phrase>
      <Phrase Key="Specify Type">Especificar Tipo</Phrase>
      <Phrase Key="Start Year">Año de Inicio</Phrase>
      <Phrase Key="Access Restriction">Restricción de Acceso</Phrase>
      <Phrase Key="Accessibility">Accesibilidad</Phrase>
      <Phrase Key="Aggregation (LOM)">Agregación (LOM)</Phrase>
      <Phrase Key="All Subjects">Todos los Temas</Phrase>
      <Phrase Key="BibID">BibID</Phrase>
      <Phrase Key="Course Title">Título del Curso</Phrase>
      <Phrase Key="Difficulty">Dificultad</Phrase>
      <Phrase Key="ETD Committee">Comité ETD</Phrase>
      <Phrase Key="ETD Degree">Título ETD</Phrase>
      <Phrase Key="ETD Degree Discipline">Disciplina del Título ETD</Phrase>
      <Phrase Key="ETD Degree Division">División del Título ETD</Phrase>
      <Phrase Key="ETD Degree Grantor">Institución Otorgante ETD</Phrase>
      <Phrase Key="ETD Degree Level">Nivel del Título ETD</Phrase>
      <Phrase Key="Group Restrictions">Restricciones de Grupo</Phrase>
      <Phrase Key="Instances">Instancias</Phrase>
      <Phrase Key="Intended End User">Usuario Final Previsto</Phrase>
      <Phrase Key="Intervewer">Entrevistador</Phrase>
      <Phrase Key="Intervewiee">Entrevistado</Phrase>
      <Phrase Key="Learning Object Type">Tipo de Objeto de Aprendizaje</Phrase>
      <Phrase Key="Learning Time">Tiempo de Aprendizaje</Phrase>
      <Phrase Key="Licensing">Licenciamiento</Phrase>
      <Phrase Key="LOM Intended End User Display">Visualización de Usuario Final Previsto LOM</Phrase>
      <Phrase Key="LOM Resource Type Display">Visualización de Tipo de Recurso LOM</Phrase>
      <Phrase Key="Material">Material</Phrase>
      <Phrase Key="Material Type">Tipo de Material</Phrase>
      <Phrase Key="MIME Type">Tipo MIME</Phrase>
      <Phrase Key="Name as Subject">Nombre como Tema</Phrase>
      <Phrase Key="Other_Citation">Otra Cita</Phrase>
      <Phrase Key="Peformance">Actuación</Phrase>
      <Phrase Key="Peformance Date">Fecha de Actuación</Phrase>
      <Phrase Key="Peformer">Intérprete</Phrase>
      <Phrase Key="Performance">Actuación</Phrase>
      <Phrase Key="Performance Date">Fecha de Actuación</Phrase>
      <Phrase Key="Performer">Intérprete</Phrase>
      <Phrase Key="Publication Place">Lugar de Publicación</Phrase>
      <Phrase Key="Requirements">Requisitos</Phrase>
      <Phrase Key="Style Period">Período Estilístico</Phrase>
      <Phrase Key="Subject Keyword">Palabra Clave de Materia</Phrase>
      <Phrase Key="Taxonomic All Taxonomy">Taxonomía Completa</Phrase>
      <Phrase Key="Taxonomic Class">Clase Taxonómica</Phrase>
      <Phrase Key="Taxonomic Common Name">Nombre Común Taxonómico</Phrase>
      <Phrase Key="Taxonomic Family">Familia Taxonómica</Phrase>
      <Phrase Key="Taxonomic Genus">Género Taxonómico</Phrase>
      <Phrase Key="Taxonomic Kingdom">Reino Taxonómico</Phrase>
      <Phrase Key="Taxonomic Order">Orden Taxonómico</Phrase>
      <Phrase Key="Taxonomic Phylum">Filo Taxonómico</Phrase>
      <Phrase Key="Taxonomic Scientific Name">Nombre Científico Taxonómico</Phrase>
      <Phrase Key="Taxonomic Species">Especie Taxonómica</Phrase>
      <Phrase Key="Temporal Decade">Década Temporal</Phrase>
      <Phrase Key="Temporal Subject">Tema Temporal</Phrase>
      <Phrase Key="Temporal Subject Display">Visualización de Tema Temporal</Phrase>
      <Phrase Key="Temporal Year">Año Temporal</Phrase>
      <Phrase Key="Timeline Date">Fecha de la Línea de Tiempo</Phrase>
      <Phrase Key="Title as Subject">Título como Tema</Phrase>
      <Phrase Key="TOC">Índice</Phrase>
      <Phrase Key="Tracking Box">Caja de Seguimiento</Phrase>
      <Phrase Key="Undefined">No Definido</Phrase>
      <Phrase Key="User Description">Descripción del Usuario</Phrase>
      <Phrase Key="Access Restrictions">Restricciones de Acceso</Phrase>
      <Phrase Key="External Link">Enlace Externo</Phrase>
      <Phrase Key="Open-NJ Link">Enlace Open-NJ</Phrase>
      <Phrase Key="Brief View">Vista Breve</Phrase>
      <Phrase Key="Table View">Vista de Tabla</Phrase>
      <Phrase Key="Thumbnail View">Vista en Miniatura</Phrase>
    </Section>

  </Localization>
</SobekCM_Config>
