<?xml version="1.0" encoding="utf-8" ?>
<SobekCM_Config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://sobekrepository.org/schemas/sobekcm_config"
	xsi:schemaLocation="http://sobekrepository.org/schemas/sobekcm_config
		http://sobekrepository.org/schemas/sobekcm_config.xsd">
  <Localization Language="es">

    <Section Name="General">
      <Phrase Key="Description">Descripción</Phrase>
      <Phrase Key="Format">Formato</Phrase>
      <Phrase Key="Publisher">Editor</Phrase>
      <Phrase Key="Relation">Relación</Phrase>
      <Phrase Key="Resource_Identifier">Indentificador de Recursos</Phrase>
      <Phrase Key="Resource_Type">Tipo de Recurso</Phrase>
      <Phrase Key="Subject">Tema</Phrase>
      <Phrase Key="Abstract">Resumen</Phrase>
      <Phrase Key="Alternate_Title">Título Alterno</Phrase>
      <Phrase Key="Attribution_Statement">Declaración De la Atribución</Phrase>
      <Phrase Key="Bibliographic_ID">Identificación Bibliográfica</Phrase>
      <Phrase Key="Contributor">Otros Colaboradores</Phrase>
      <Phrase Key="Creator">Autor o Creador</Phrase>
      <Phrase Key="Donor">Donante</Phrase>
      <Phrase Key="EAD_Identifier">Identificador de EAD</Phrase>
      <Phrase Key="Holding_Location">Local de Almacén</Phrase>
      <Phrase Key="Latitude_Hours">Horas De Latitud</Phrase>
      <Phrase Key="Latitude_Minutes">Minutos De Latitud</Phrase>
      <Phrase Key="Latitude_Seconds">Segundos De Latitud</Phrase>
      <Phrase Key="Longitude_Hours">Horas De Longitud</Phrase>
      <Phrase Key="Longitude_Minutes">Minutos De Longitud</Phrase>
      <Phrase Key="Longitude_Seconds">Segundos De Longitud</Phrase>
      <Phrase Key="Notes">Notas</Phrase>
      <Phrase Key="Rights_Management">Derechos</Phrase>
      <Phrase Key="Scale">Escala</Phrase>
      <Phrase Key="Series_Title">Título De la Serie</Phrase>
      <Phrase Key="Source_Institution">Institución De la Fuente</Phrase>
      <Phrase Key="Spatial_Coverage">Cobertura Espacial</Phrase>
      <Phrase Key="Subcollection">Subcolección</Phrase>
      <Phrase Key="Temporal_Coverage">Cobertura Temporal</Phrase>
      <Phrase Key="Uniform_Title">Título Uniforme</Phrase>
      <Phrase Key="Volume_ID">Identificación Del Volumen</Phrase>
      <Phrase Key="Interviewer">Entrevistador</Phrase>
      <Phrase Key="Interviewee">Entrevistado</Phrase>
      <Phrase Key="Publication_Date">Fecha Publicada</Phrase>
      <Phrase Key="Author">Autor</Phrase>
      <Phrase Key="Place_of_Publication">Lugar de la Publicación</Phrase>
      <Phrase Key="Year">Año</Phrase>
      <Phrase Key="Acknowledgement">Reconocimiento</Phrase>
      <Phrase Key="Advertising">Publicidad</Phrase>
      <Phrase Key="Appendix">Apéndice</Phrase>
      <Phrase Key="Back_Cover">Portada Posterior</Phrase>
      <Phrase Key="Back_Matter">Materia Posterior</Phrase>
      <Phrase Key="Bibliography">Bibliografía</Phrase>
      <Phrase Key="Chapter">Capítulo</Phrase>
      <Phrase Key="Conclusion">Conclusión</Phrase>
      <Phrase Key="Copyright">Derecho de Autor</Phrase>
      <Phrase Key="Cover">Portada</Phrase>
      <Phrase Key="Dedication">Dedicación</Phrase>
      <Phrase Key="Errata">Errata</Phrase>
      <Phrase Key="Foreword">Advertencia</Phrase>
      <Phrase Key="Front_Cover">Portada Delantera</Phrase>
      <Phrase Key="Front_Matter">Materia Delantera</Phrase>
      <Phrase Key="Frontispiece">Imagen Delantera</Phrase>
      <Phrase Key="Half_Title">Medio-Título</Phrase>
      <Phrase Key="Index">Indice</Phrase>
      <Phrase Key="Interview">Entrevista</Phrase>
      <Phrase Key="Introduction">Introducción</Phrase>
      <Phrase Key="List_of_Figures">Lista de Figuras</Phrase>
      <Phrase Key="List_of_Illustrations">Lista de Ilustraciones</Phrase>
      <Phrase Key="List_of_Tables">Lista de Tablas</Phrase>
      <Phrase Key="Main">Principal</Phrase>
      <Phrase Key="Methodology">Metodología</Phrase>
      <Phrase Key="Poem">Poema</Phrase>
      <Phrase Key="Preface">Prefacio</Phrase>
      <Phrase Key="Prelude">Preludio</Phrase>
      <Phrase Key="Reference">Referencia</Phrase>
      <Phrase Key="Section">Sección</Phrase>
      <Phrase Key="Spine">Canto</Phrase>
      <Phrase Key="Subdivision_Level_1">Subdivisión de Nivel 1</Phrase>
      <Phrase Key="Subdivision_Level_2">Subdivisión de Nivel 2</Phrase>
      <Phrase Key="Subdivision_Level_3">Subdivisión de Nivel 3</Phrase>
      <Phrase Key="Subdivision_Level_4">Subdivisión de Nivel 4</Phrase>
      <Phrase Key="Subdivision_Level_5">Subdivisión de Nivel 5</Phrase>
      <Phrase Key="Subdivision_Level_6">Subdivisión de Nivel 6</Phrase>
      <Phrase Key="Table_of_Contents">Contenidos</Phrase>
      <Phrase Key="Title_Page">Titulario</Phrase>
      <Phrase Key="Group">Grupo</Phrase>
      <Phrase Key="PAGE_IMAGE">IMAGE DE LA PÁGINA</Phrase>
      <Phrase Key="PAGE_TEXT">TEXTO DE LA PÁGINA</Phrase>
      <Phrase Key="ZOOMABLE">IMAGEN AMPLIABLE</Phrase>
      <Phrase Key="FEATURES">EDIFICIOS</Phrase>
      <Phrase Key="STREETS">CALLES</Phrase>
      <Phrase Key="All_Items">Todos Los Artículos</Phrase>
      <Phrase Key="Recently_Added_Items">Nuevos Artículos</Phrase>
      <Phrase Key="Related_Images">Imágenes Relacionadas</Phrase>
      <Phrase Key="Anywhere">En cualquier lugar</Phrase>
      <Phrase Key="NARROW_RESULTS_BY">LIMITAR RESULTADOS POR</Phrase>
      <Phrase Key="Country">País</Phrase>
      <Phrase Key="State">Estado</Phrase>
      <Phrase Key="County">Condado</Phrase>
      <Phrase Key="City">Ciudad</Phrase>
      <Phrase Key="Subject_Topic">Asunto: Tema</Phrase>
      <Phrase Key="Subject_Geographic_Area">Asunto: Área Geográfica</Phrase>
      <Phrase Key="Subject_Genre">Asunto: Género</Phrase>
      <Phrase Key="Show_More">Mostrar Más</Phrase>
      <Phrase Key="Show_Less">Mostrar menos</Phrase>
      <Phrase Key="Permanent_Link">URL Permanente</Phrase>
      <Phrase Key="Material_Information">Material de Información</Phrase>
      <Phrase Key="Physical_Description">Descripción Física</Phrase>
      <Phrase Key="Manufacturer">Fabricante</Phrase>
      <Phrase Key="Subjects">Los Sujetos</Phrase>
      <Phrase Key="Statement_of_Responsibility">Declaración de Responsabilidad</Phrase>
      <Phrase Key="General_Note">Nota General</Phrase>
      <Phrase Key="Record_Information">Registro de Información</Phrase>
      <Phrase Key="Local_Membership">Socios Locales</Phrase>
      <Phrase Key="METS_Information">METS Información</Phrase>
      <Phrase Key="Creation_Date">Fecha de Creación</Phrase>
      <Phrase Key="Last_Modified">De la Último Actualización</Phrase>
      <Phrase Key="Last_User">Último Usuario</Phrase>
      <Phrase Key="System_Folder">Carpeta del Sistema</Phrase>
      <Phrase Key="Item_Primary_Key">Tema clave principal</Phrase>
      <Phrase Key="Group_Primary_Key">Grupo Clave Principal</Phrase>
      <Phrase Key="System_Admin_Information">Sistema de Administración de Información</Phrase>
      <Phrase Key="Group_Title">Grupo Título</Phrase>
      <Phrase Key="Accession_Number">Número de Acceso</Phrase>
      <Phrase Key="Caribbean_Newspaper_Digital_Library">Biblioteca Digital de Periódicos Caribeños</Phrase>
      <Phrase Key="Digital_Library_of_the_Caribbean">Biblioteca Digital del Caribe</Phrase>
      <Phrase Key="Panama_and_the_Canal">Panamá y el Canal</Phrase>
      <Phrase Key="Subject_Keywords">Palabra clave del tema</Phrase>
      <Phrase Key="Type">Tipo</Phrase>
      <Phrase Key="Genre">Género</Phrase>
      <Phrase Key="Target_Audience">Público Objetivo</Phrase>
      <Phrase Key="Attribution">Atribución</Phrase>
      <Phrase Key="Tickler">Recordatorio</Phrase>
      <Phrase Key="Identifier">Identificador</Phrase>
      <Phrase Key="Affiliation">Afiliación</Phrase>
      <Phrase Key="Frequency">Frecuencia</Phrase>
      <Phrase Key="Date_Ascending">Fecha Ascendente</Phrase>
      <Phrase Key="Date_Descending">Fecha Descendente</Phrase>
      <Phrase Key="TEXT_SEARCH">BÚSQUEDA DE TEXTO</Phrase>
      <Phrase Key="Subcollections">Subcolecciones</Phrase>
      <Phrase Key="Metadata_Only">Metadatos Solamente</Phrase>
      <Phrase Key="Most_Recent">Mas Reciente</Phrase>
      <Phrase Key="Child_Collections">Subcolecciones</Phrase>
      <Phrase Key="Title">Título</Phrase>
      <Phrase Key="Date">Fecha</Phrase>
      <Phrase Key="Language">Idioma</Phrase>
      <Phrase Key="Full_Citation">Cita Completa</Phrase>
    </Section>

  </Localization>
</SobekCM_Config>
