<?xml version="1.0" encoding="utf-8" ?>
<SobekCM_Config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://sobekrepository.org/schemas/sobekcm_config"
	xsi:schemaLocation="http://sobekrepository.org/schemas/sobekcm_config
		http://sobekrepository.org/schemas/sobekcm_config.xsd">
  <Localization Language="es">

    <Section Name="Aggregation_Common">
      <Phrase Key="Go">Ir</Phrase>
      <Phrase Key="Search_Collection">Buscar en la colección</Phrase>
      <Phrase Key="Include_Non_Public_Items">Incluir elementos no públicos</Phrase>
      <Phrase Key="Limit_By_Year">Limitar por año</Phrase>
      <Phrase Key="Show_Only_Media">Mostrar solo registros con imágenes u otros medios</Phrase>
      <Phrase Key="Through">a</Phrase>
      <Phrase Key="Include_Full_Text">Incluir el texto del documento en la búsqueda</Phrase>
      <Phrase Key="Search_All_Collections">Buscar en todas las colecciones</Phrase>
      <Phrase Key="Home">Inicio</Phrase>
    </Section>

    <Section Name="Advanced_Search">
      <Phrase Key="Search_For">Búsqueda de la:</Phrase>
      <Phrase Key="In">en</Phrase>
      <Phrase Key="Search">Buscar</Phrase>
      <Phrase Key="Search_Options">Opciones de Búsqueda</Phrase>
      <Phrase Key="Precision">Precisión</Phrase>
      <Phrase Key="Contains_Exactly">Contiene exactamente los términos de búsqueda</Phrase>
      <Phrase Key="Contains_Any_Form">Contiene todas las formas de los términos de búsqueda</Phrase>
      <Phrase Key="Contains_Meaning">Contiene el término de búsqueda o términos de significado similar</Phrase>
      <Phrase Key="And">y</Phrase>
      <Phrase Key="Or">o</Phrase>
      <Phrase Key="And_Not">y no</Phrase>
    </Section>

    <Section Name="Item_Count">
      <Phrase Key="Resource_Count_In_Collection">Número de recursos en la colección</Phrase>
      <Phrase Key="Description">A continuación se muestra el número de títulos y elementos de todos los elementos de esta colección, incluidos los elementos actualmente en línea, así como los elementos en proceso.</Phrase>
      <Phrase Key="Visibility">VISIBILIDAD</Phrase>
      <Phrase Key="Title_Count">NÚMERO DE TÍTULOS</Phrase>
      <Phrase Key="Item_Count">NÚMERO DE ELEMENTOS</Phrase>
      <Phrase Key="Page_Count">NÚMERO DE PÁGINAS</Phrase>
      <Phrase Key="File_Count">NÚMERO DE ARCHIVOS</Phrase>
    </Section>

    <Section Name="Full_Text_Search">
      <Phrase Key="Search_Full_Text">Buscar en la colección</Phrase>
    </Section>

    <Section Name="DLOC_Search">
      <Phrase Key="Include_Newspapers">¿Incluir periódicos?</Phrase>
    </Section>

    <Section Name="Map_Common">
      <Phrase Key="Google_Maps_Not_Enabled_Html"><![CDATA[<p style="font-weight:bold; text-size:1.1em">ERROR: ¡Google Maps no está habilitado en esta instancia de SobekCM!</p>
<p>Para habilitarlo, cree una clave de API de Google Maps e ingrésela en la configuración general del sistema.</p>
<p>Puede encontrar información sobre este proceso aquí: <a href="http://sobekrepository.org/software/config/googlemaps">http://sobekrepository.org/software/config/googlemaps</a>.</p>]]></Phrase>
    </Section>

    <Section Name="Map_Browse">
      <Phrase Key="Select_Point_Instructions_Html"><![CDATA[Seleccione un punto a continuación para ver los elementos provenientes de ese lugar o relacionados con él.<br />Presione la tecla MAYÚS y luego arrastre un recuadro sobre el mapa para hacer zoom.]]></Phrase>
      <Phrase Key="More_Info_Single_Title">Haga clic aquí para más información sobre este título</Phrase>
      <Phrase Key="More_Info_Multiple_Titles">Haga clic aquí para más información sobre estos {0} títulos</Phrase>
    </Section>

    <Section Name="Map_Search">
      <Phrase Key="Find_Address">Localizar</Phrase>
      <Phrase Key="Address">Dirección</Phrase>
      <Phrase Key="Locate">Localizar</Phrase>
      <Phrase Key="Point_Disabled_Instructions_Html"><![CDATA[<span style="line-height:160%"> &nbsp; &nbsp; 1. Utilice el botón <i>Presione para Seleccionar Área</i> y haga clic para seleccionar las esquinas opuestas y dibujar un recuadro de búsqueda en el mapa &nbsp; &nbsp; <br /> &nbsp; &nbsp; 2. Presione el botón <i>Buscar</i> para ver los resultados &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; ( <a href="#FAQ">más ayuda</a> )</span>]]></Phrase>
      <Phrase Key="Faq_Point_Disabled_Html"><![CDATA[  <h1>Preguntas Frecuentes de Búsqueda en Mapa</h1>
  <ul>
    <li>¿Cómo busco?
      <p class="tagline">Para realizar una búsqueda, primero debe definir su área de interés y luego realizar la búsqueda. Para definir un área, haga clic en <i>Presione para Seleccionar Área</i> en el mapa. Luego haga clic en un punto de inicio en el mapa y luego haga clic en la esquina opuesta para crear un rectángulo. Al hacer clic en <i>Buscar</i> encima del mapa, obtendrá los resultados que coincidan con esa área.</p>
    </li>
    <li>Tengo dificultades para seleccionar un área
      <p class="tagline">Seleccionar un área rectangular para buscar es sencillo una vez que se entiende la técnica. Primero, seleccione el botón <i>Presione para Seleccionar Área</i> en el mapa. Luego, muévase a la esquina superior izquierda de la región que desea buscar y haga clic y suelte el botón izquierdo del ratón. Al mover el ratón, notará que se está dibujando un rectángulo que representa su región. Cuando haga clic y suelte el ratón nuevamente, definirá la esquina inferior derecha de la región a buscar. No presione el botón del ratón y arrastre el ratón, ya que esto arrastrará el mapa y no definirá una región para seleccionar. Una vez que su región esté correctamente identificada, presione el botón <i>Buscar</i> para ver los resultados coincidentes.</p>
    </li>
    <li>¿Por qué no puedo buscar por dirección o por un punto?
      <p class="tagline">Esta colección está compuesta principalmente por puntos, por lo que la búsqueda por área es mucho más efectiva que la búsqueda por punto.</p>
    </li>
    <li>¿Qué se está buscando?
      <p class="tagline">Los datos buscados dependen del tipo de material. Para los periódicos, se busca el lugar de publicación. Para los mapas, se busca la cobertura geográfica. Y para las fotografías, se busca el lugar donde se tomó la fotografía.</p>
    </li>
    <li>¿Por qué tan pocos resultados?
      <p class="tagline"> Esta interfaz está en fase de pruebas beta, mientras agregamos más información de coordenadas a nuestra base de datos de búsqueda. ¡Vuelva a menudo para ver nuestro progreso!</p>
    </li>
  </ul>]]></Phrase>
    </Section>

    <Section Name="Newspaper_Search">
      <Phrase Key="Full_Citation">Cita Completa</Phrase>
      <Phrase Key="Full_Text">Texto Completo</Phrase>
      <Phrase Key="Newspaper_Title">Título del Periódico</Phrase>
      <Phrase Key="Location">Ubicación</Phrase>
    </Section>

    <Section Name="Metadata_Browse">
      <Phrase Key="Browse_By">Explorar por</Phrase>
      <Phrase Key="Browse_By_Colon">EXPLORAR POR:</Phrase>
      <Phrase Key="Public_Browses">Exploraciones Públicas</Phrase>
      <Phrase Key="Internal_Browses">Exploraciones Internas</Phrase>
      <Phrase Key="Browses">Exploraciones</Phrase>
      <Phrase Key="Select_Field_Prompt">Seleccione un campo de metadatos para explorar en la lista de la izquierda</Phrase>
      <Phrase Key="No_Matching_Values">NO HAY VALORES COINCIDENTES</Phrase>
    </Section>

    <Section Name="Tiles_Home">
      <Phrase Key="Varies">( varía )</Phrase>
    </Section>

    <Section Name="Thumbnails_Home">
      <Phrase Key="Collection_Items">Elementos de la colección</Phrase>
      <Phrase Key="Showing_Items_Out_Of">Mostrando 20 elementos de {0}</Phrase>
      <Phrase Key="View_All">Ver todo</Phrase>
    </Section>

    <Section Name="Usage_Statistics">
      <Phrase Key="Title_Collection_Views">Historial de Uso a Nivel de Colección</Phrase>
      <Phrase Key="Title_Item_Views">Historial de Uso de Elementos</Phrase>
      <Phrase Key="Title_Top_Titles">Títulos Más Accedidos</Phrase>
      <Phrase Key="Title_Top_Items">Elementos Más Accedidos</Phrase>
      <Phrase Key="Title_Definitions">Definiciones de Términos Utilizados</Phrase>

      <Phrase Key="Tab_Collection_Views">VISTAS DE COLECCIÓN</Phrase>
      <Phrase Key="Tab_Item_Views">VISTAS DE ELEMENTOS</Phrase>
      <Phrase Key="Tab_Top_Titles">TÍTULOS PRINCIPALES</Phrase>
      <Phrase Key="Tab_Top_Items">ELEMENTOS PRINCIPALES</Phrase>
      <Phrase Key="Tab_Definitions">DEFINICIONES</Phrase>

      <Phrase Key="Month_1">Enero</Phrase>
      <Phrase Key="Month_2">Febrero</Phrase>
      <Phrase Key="Month_3">Marzo</Phrase>
      <Phrase Key="Month_4">Abril</Phrase>
      <Phrase Key="Month_5">Mayo</Phrase>
      <Phrase Key="Month_6">Junio</Phrase>
      <Phrase Key="Month_7">Julio</Phrase>
      <Phrase Key="Month_8">Agosto</Phrase>
      <Phrase Key="Month_9">Septiembre</Phrase>
      <Phrase Key="Month_10">Octubre</Phrase>
      <Phrase Key="Month_11">Noviembre</Phrase>
      <Phrase Key="Month_12">Diciembre</Phrase>

      <Phrase Key="Collection_History_Intro">A continuación se muestra el historial de uso de esta colección. Este historial incluye únicamente las vistas de nivel superior de la colección.</Phrase>
      <Phrase Key="Item_History_Intro">A continuación se muestra el historial de uso de los elementos de esta colección.</Phrase>
      <Phrase Key="Items_By_Collection_Intro">A continuación aparecen los elementos más utilizados de esta colección.</Phrase>
      <Phrase Key="Titles_By_Collection_Intro">A continuación aparecen los títulos más utilizados por colección.</Phrase>
      <Phrase Key="Definitions_Link_Sentence"><![CDATA[La <a href="{0}">página de definiciones</a> ofrece más detalles sobre las estadísticas y los términos utilizados a continuación.]]></Phrase>

      <Phrase Key="Year_Statistics_Suffix"> ESTADÍSTICAS</Phrase>
      <Phrase Key="Total">TOTAL</Phrase>

      <Phrase Key="Date">FECHA</Phrase>
      <Phrase Key="Total_Views_Html"><![CDATA[TOTAL DE<br />VISTAS]]></Phrase>
      <Phrase Key="Visits">VISITAS</Phrase>
      <Phrase Key="Main_Pages_Html"><![CDATA[PÁGINAS<br />PRINCIPALES]]></Phrase>
      <Phrase Key="Browses">EXPLORACIONES</Phrase>
      <Phrase Key="Search_Results_Html"><![CDATA[RESULTADOS<br />DE BÚSQUEDA]]></Phrase>
      <Phrase Key="Title_Views_Html"><![CDATA[VISTAS DE<br />TÍTULOS]]></Phrase>
      <Phrase Key="Item_Views_Html"><![CDATA[VISTAS DE<br />ELEMENTOS]]></Phrase>

      <Phrase Key="Jpeg_Views_Html"><![CDATA[VISTAS<br />JPEG]]></Phrase>
      <Phrase Key="Zoomable_Views_Html"><![CDATA[VISTAS<br />AMPLIABLES]]></Phrase>
      <Phrase Key="Citation_Views_Html"><![CDATA[VISTAS DE<br />CITA]]></Phrase>
      <Phrase Key="Thumbnail_Views_Html"><![CDATA[VISTAS DE<br />MINIATURA]]></Phrase>
      <Phrase Key="Text_Searches_Html"><![CDATA[BÚSQUEDAS<br />DE TEXTO]]></Phrase>
      <Phrase Key="Flash_Views_Html"><![CDATA[VISTAS<br />FLASH]]></Phrase>
      <Phrase Key="Map_Views_Html"><![CDATA[VISTAS DE<br />MAPA]]></Phrase>
      <Phrase Key="Download_Views_Html"><![CDATA[DESCARGAS]]></Phrase>
      <Phrase Key="Static_Views_Html"><![CDATA[VISTAS<br />ESTÁTICAS]]></Phrase>

      <Phrase Key="Bibid">BIBID</Phrase>
      <Phrase Key="Vid">VID</Phrase>
      <Phrase Key="Title">TÍTULO</Phrase>
      <Phrase Key="Views">VISTAS</Phrase>

    </Section>

    <Section Name="Aggregation_Nav_Bar">
      <Phrase Key="Advanced_Search">Búsqueda Avanzada</Phrase>
      <Phrase Key="Basic_Search">Búsqueda Básica</Phrase>
      <Phrase Key="Map_Search">Búsqueda por Mapa</Phrase>
      <Phrase Key="Newspaper_Search">Búsqueda de Periódicos</Phrase>
      <Phrase Key="Text_Search">Búsqueda de Texto</Phrase>
    </Section>

    <Section Name="Aggregation_Home">
      <Phrase Key="List_View">LISTADO</Phrase>
      <Phrase Key="Brief_View">VISTA BREVE</Phrase>
      <Phrase Key="Tree_View">JERARQUIA</Phrase>
      <Phrase Key="Thumbnail_View">VISTA EN MINIATURAS</Phrase>
    </Section>

    <Section Name="Aggregation_Sharing">
      <Phrase Key="Print_Alt">IMPRIMIR</Phrase>
      <Phrase Key="Print_Title">Imprimir esta página</Phrase>
      <Phrase Key="Send_Alt">ENVIAR</Phrase>
      <Phrase Key="Send_Title">Enviar esto a alguien</Phrase>
      <Phrase Key="Share_Alt">COMPARTIR</Phrase>
      <Phrase Key="Share_Title">Compartir esta colección</Phrase>
      <Phrase Key="Remove_Alt">ELIMINAR</Phrase>
      <Phrase Key="Remove_Title">Eliminar esto de mi página de inicio de colecciones</Phrase>
      <Phrase Key="Add_Alt">AÑADIR</Phrase>
      <Phrase Key="Add_Title">Añadir esto a mi página de inicio de colecciones</Phrase>
      <Phrase Key="Save_Title">Guardar esto en mi página de inicio de colecciones</Phrase>
      <Phrase Key="Email_Popup_Title">Enviar esta colección a un amigo</Phrase>
      <Phrase Key="Email_Popup_Close_Alt">CERRAR</Phrase>
      <Phrase Key="Email_Info_Prompt">Introduzca la información de correo electrónico a continuación</Phrase>
      <Phrase Key="To_Label">Para:</Phrase>
      <Phrase Key="Comments_Label">Comentarios:</Phrase>
      <Phrase Key="Format_Label">Formato:</Phrase>
      <Phrase Key="Html_Label">HTML</Phrase>
      <Phrase Key="Plain_Text_Label">Texto sin formato</Phrase>
      <Phrase Key="Cancel_Button">CANCELAR</Phrase>
      <Phrase Key="Send_Button">ENVIAR</Phrase>
    </Section>

  </Localization>
</SobekCM_Config>
