<?xml version="1.0" encoding="utf-8" ?>
<SobekCM_Config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://sobekrepository.org/schemas/sobekcm_config"
	xsi:schemaLocation="http://sobekrepository.org/schemas/sobekcm_config
		http://sobekrepository.org/schemas/sobekcm_config.xsd">
  <Localization Language="es">

    <Section Name="Home">
      <Phrase Key="Welcome_New_User_Format">Bienvenido a mi{0}, {1}</Phrase>
      <Phrase Key="Welcome_Back_Format">Bienvenido de Nuevo, {0}</Phrase>
      <Phrase Key="Welcome_Intro_Format">Bienvenido a {0}. Esta función le permite agregar artículos a sus estantes, organizar sus estantes y enviarlos por correo electrónico a sus amigos.</Phrase>
      <Phrase Key="What_Would_You_Like">¿Qué le gustaría hacer hoy?</Phrase>
      <Phrase Key="Upload_Existing_Oer">Subir un OER existente</Phrase>
      <Phrase Key="Create_New_Oer_Online">Crear un nuevo OER en línea (usando Open Publishing)</Phrase>
      <Phrase Key="Upload_New_Item">Subir un nuevo artículo</Phrase>
      <Phrase Key="Add_New_Tei_Item">Agregar un nuevo artículo TEI</Phrase>
      <Phrase Key="Submittals_Disabled">El envío en línea está temporalmente deshabilitado</Phrase>
      <Phrase Key="View_All_Submitted_Items">Ver todos mis artículos enviados</Phrase>
      <Phrase Key="View_Usage_For_My_Items">Ver el uso de mis artículos</Phrase>
      <Phrase Key="View_My_Descriptive_Tags">Ver mis etiquetas descriptivas</Phrase>
      <Phrase Key="View_And_Organize_Bookshelves">Ver y organizar mis estantes</Phrase>
      <Phrase Key="View_My_Saved_Searches">Ver mis búsquedas guardadas</Phrase>
      <Phrase Key="Edit_My_Preferences">Editar mis preferencias de cuenta</Phrase>
      <Phrase Key="Track_Item_Scanning">Seguimiento de Escaneo/Procesamiento de Artículos</Phrase>
      <Phrase Key="Return_To_Previous_Page_Format">Volver a la página anterior de {0}</Phrase>
      <Phrase Key="Log_Out">Cerrar sesión</Phrase>
      <Phrase Key="Contact_Us_Link_Text">contáctenos</Phrase>
      <Phrase Key="Comments_Recommendations_Format">¿Comentarios o recomendaciones? Por favor {0}.</Phrase>
      <Phrase Key="Contribute_Materials_Format">Si desea contribuir con materiales a través del sistema en línea, por favor {0} también.</Phrase>
    </Section>

    <Section Name="Saved_Searches">
      <Phrase Key="Page_Title">Mis Búsquedas Guardadas</Phrase>
      <Phrase Key="Actions_Header">ACCIONES</Phrase>
      <Phrase Key="Saved_Search_Header">BÚSQUEDA GUARDADA</Phrase>
      <Phrase Key="Delete_Link_Title">Haga clic para eliminar esta búsqueda guardada</Phrase>
      <Phrase Key="Delete_Link_Text">eliminar</Phrase>
      <Phrase Key="View_Link_Title">Haga clic para ver esta búsqueda</Phrase>
      <Phrase Key="View_Link_Text">ver</Phrase>
      <Phrase Key="No_Saved_Searches_Html">No tiene búsquedas o exploraciones guardadas.&lt;br /&gt;&lt;br /&gt;Para agregar una búsqueda o exploración, use el botón AGREGAR mientras ve los resultados de su búsqueda o exploración.</Phrase>
    </Section>

    <Section Name="Logon">
      <Phrase Key="Default_Disabled_Message">El inicio de sesión general a este sistema está temporalmente deshabilitado.</Phrase>
      <Phrase Key="Invalid_Credentials">Usuario/contraseña no válidos</Phrase>
      <Phrase Key="Page_Title_Format">Iniciar sesión en Mi{0}</Phrase>
      <Phrase Key="Heading_Format">Iniciar sesión en {0}</Phrase>
      <Phrase Key="Feature_Requires_Logon">La función a la que intenta acceder requiere un inicio de sesión válido.</Phrase>
      <Phrase Key="Choose_Logon_Below">Por favor elija el inicio de sesión apropiado a continuación.</Phrase>
      <Phrase Key="Dloc_Valid_Logon_Text">Si tiene un inicio de sesión válido de myDLOC</Phrase>
      <Phrase Key="Dloc_Sign_On_Text">Iniciar sesión con la autenticación de myDLOC</Phrase>
      <Phrase Key="Shibboleth_Valid_Id_Format">Si tiene una identificación válida de {0}</Phrase>
      <Phrase Key="Shibboleth_Sign_On_Format">Inicie sesión con su {0} aquí</Phrase>
      <Phrase Key="Instance_Valid_Logon_Format">Si tiene un inicio de sesión válido de mi{0}</Phrase>
      <Phrase Key="Instance_Sign_On_Format">Inicie sesión con la autenticación de mi{0} aquí</Phrase>
      <Phrase Key="Federated_Valid_Account_Format">Si tiene una cuenta válida de {0}</Phrase>
      <Phrase Key="Federated_Sign_In_Format">Inicie sesión con {0}</Phrase>
      <Phrase Key="Not_Registered_Yet">¿Aún no se ha registrado?</Phrase>
      <Phrase Key="Register_Now">Regístrese ahora</Phrase>
      <Phrase Key="Contact_Us">Contáctenos</Phrase>
      <Phrase Key="Popup_Title_Log_In">INICIAR SESIÓN</Phrase>
      <Phrase Key="Username_Or_Email_Label">Usuario o correo electrónico:</Phrase>
      <Phrase Key="Password_Label">Contraseña:</Phrase>
      <Phrase Key="Remember_Me">Recuérdame</Phrase>
      <Phrase Key="Close_Button_Title">Cerrar</Phrase>
      <Phrase Key="Cancel_Button_Text">CANCELAR</Phrase>
      <Phrase Key="Login_Button_Title">Iniciar sesión</Phrase>
      <Phrase Key="Login_Button_Text">INICIAR SESIÓN</Phrase>
      <Phrase Key="Popup_Not_Registered_Format">¿Aún no se ha registrado? {0}.</Phrase>
      <Phrase Key="Popup_Forgot_Password_Format">¿Olvidó su usuario o contraseña? Por favor {0}.</Phrase>
      <Phrase Key="Popup_Contact_Us_Link_Text">contáctenos</Phrase>
    </Section>

    <Section Name="OpenNJ_Register">
      <Phrase Key="Account_Info">Información de la Cuenta</Phrase>
      <Phrase Key="Username_Label">Nombre de Usuario</Phrase>
      <Phrase Key="Personal_Info">Información Personal</Phrase>
      <Phrase Key="Family_Names_Label">Apellido(s)</Phrase>
      <Phrase Key="Given_Names_Label">Nombre(s)</Phrase>
      <Phrase Key="Nickname_Label">Apodo</Phrase>
      <Phrase Key="Email_Label">Correo Electrónico</Phrase>
      <Phrase Key="Email_Stats_Label">Envíenme estadísticas de uso mensuales de mis artículos</Phrase>
      <Phrase Key="Affiliation_Info">Información de Afiliación Actual</Phrase>
      <Phrase Key="Organization_Label">Institución</Phrase>
      <Phrase Key="Password_Label">Contraseña</Phrase>
      <Phrase Key="Confirm_Password_Label">Confirmar Contraseña</Phrase>
      <Phrase Key="Username_Required">El nombre de usuario es un campo obligatorio</Phrase>
      <Phrase Key="Username_Min_Length">El nombre de usuario debe tener al menos ocho dígitos</Phrase>
      <Phrase Key="Select_Confirm_Password">Seleccione y confirme una contraseña</Phrase>
      <Phrase Key="Passwords_Do_Not_Match">Las contraseñas no coinciden</Phrase>
      <Phrase Key="Password_Min_Length">La contraseña debe tener al menos ocho dígitos</Phrase>
      <Phrase Key="Select_Instructor_Status">Seleccione si es instructor o no</Phrase>
      <Phrase Key="Instructor_Institution_Required">Como instructor, la institución es un campo obligatorio</Phrase>
      <Phrase Key="Ufid_Length">Los UFID siempre tienen ocho dígitos</Phrase>
      <Phrase Key="Ufid_Numeric">Los UFID siempre son numéricos</Phrase>
      <Phrase Key="Family_Name_Required">El apellido es un campo obligatorio</Phrase>
      <Phrase Key="Given_Name_Required">El nombre es un campo obligatorio</Phrase>
      <Phrase Key="Valid_Email_Required">Se requiere un correo electrónico válido</Phrase>
      <Phrase Key="Rights_Truncated">Declaración de derechos truncada a 1000 caracteres.</Phrase>
      <Phrase Key="Email_Already_Exists">Ya existe una cuenta para esa dirección de correo electrónico.</Phrase>
      <Phrase Key="Username_Taken">Ese nombre de usuario ya está en uso. Por favor elija otro.</Phrase>
      <Phrase Key="Register_Page_Title_Format">Registrarse en Mi{0}</Phrase>
      <Phrase Key="Edit_Preferences_Page_Title">Editar las Preferencias de su Cuenta</Phrase>
      <Phrase Key="Registration_Intro_Format">El registro en {0} es gratuito y abierto al público. Ingrese su información a continuación para registrarse al instante.</Phrase>
      <Phrase Key="Account_Required_Note">La información de la cuenta, el nombre y el correo electrónico son obligatorios para cada cuenta nueva.</Phrase>
      <Phrase Key="Already_Registered_Format">¿Ya está registrado? {0}.</Phrase>
      <Phrase Key="Log_On_Link_Text">Iniciar sesión</Phrase>
      <Phrase Key="Errors_Detected_Header">Se detectaron los siguientes errores:</Phrase>
      <Phrase Key="Account_Type_Header">Tipo de Cuenta</Phrase>
      <Phrase Key="Instructor_Question">¿Es usted instructor? Indíquenoslo a continuación para obtener acceso a materiales de curso restringidos.</Phrase>
      <Phrase Key="I_Am_Instructor">Soy instructor</Phrase>
      <Phrase Key="I_Am_Not_Instructor">NO soy instructor</Phrase>
      <Phrase Key="Submit_Materials_Instructions">Haga clic en la opción de abajo para enviar materiales. Para usar las herramientas de publicación abierta en línea en Open-NJ, deberá ser aprobado como instructor y aprobado para enviar materiales.</Phrase>
      <Phrase Key="Allow_Submit_Label">Me gustaría poder enviar materiales en línea.</Phrase>
      <Phrase Key="Application_Reviewed_Notice">Una vez que su solicitud haya sido revisada y aprobada, recibirá una notificación por correo electrónico.</Phrase>
      <Phrase Key="Username_Hint">(mínimo de ocho dígitos)</Phrase>
      <Phrase Key="Password_Hint">(mínimo de ocho dígitos, diferente al nombre de usuario)</Phrase>
      <Phrase Key="Institutional_Email_Hint">(por favor ingrese su correo electrónico institucional)</Phrase>
      <Phrase Key="Cancel_Button">CANCELAR</Phrase>
      <Phrase Key="Submit_Button">ENVIAR</Phrase>
    </Section>

    <Section Name="Preferences">
      <Phrase Key="Account_Info">Información de la Cuenta</Phrase>
      <Phrase Key="Username_Label">Nombre de la Cuenta</Phrase>
      <Phrase Key="Personal_Info">Información Personal</Phrase>
      <Phrase Key="Family_Names_Label">Familia Nombre</Phrase>
      <Phrase Key="Given_Names_Label">Nombre de Pila</Phrase>
      <Phrase Key="Nickname_Label">Nickname</Phrase>
      <Phrase Key="Email_Label">Correo Electrónico</Phrase>
      <Phrase Key="Email_Stats_Label">Envíenme estadísticas de uso mensuales de mis artículos</Phrase>
      <Phrase Key="Affiliation_Info">Información de la Afiliación Actual</Phrase>
      <Phrase Key="Organization_Label">Organización/Universidad</Phrase>
      <Phrase Key="College_Label">Colegio</Phrase>
      <Phrase Key="Department_Label">Departamento</Phrase>
      <Phrase Key="Unit_Label">Unidad</Phrase>
      <Phrase Key="Self_Submittal_Pref_Label">Preferencias de Presentación Auto-</Phrase>
      <Phrase Key="Send_Email_Label">Enviadme un correo electrónico cuando se presento nuevos temas</Phrase>
      <Phrase Key="Template_Label">Plantilla</Phrase>
      <Phrase Key="Project_Label">Metadatos Predeterminado</Phrase>
      <Phrase Key="Default_Rights_Label">Derechos por Defecto</Phrase>
      <Phrase Key="Rights_Explanation_Label">(Estos son los derechos por defecto le dan para compartir, reutilización, o remezclando el tema a otros usuarios. Puede establecer esto con cada artículo nuevo que presentar, pero esto será el valor por defecto que aparece.)</Phrase>
      <Phrase Key="Rights_Instruction_Label"><![CDATA[También puede seleccionar una opción de  <a title="Explicación de las diferentes licencias Creative Commons" href="http://creativecommons.org/about/licenses/">Creative Commons License</a> a continuación.]]></Phrase>
      <Phrase Key="Other_Preferences_Label">Otras preferencias</Phrase>
      <Phrase Key="Language_Label">Idioma</Phrase>
      <Phrase Key="Password_Label">Contraseña</Phrase>
      <Phrase Key="Confirm_Password_Label">Confirmar Contraseña</Phrase>
      <Phrase Key="Username_Required">El nombre de usuario es un campo obligatorio</Phrase>
      <Phrase Key="Username_Min_Length">El nombre de usuario debe tener al menos ocho dígitos</Phrase>
      <Phrase Key="Select_Confirm_Password">Seleccione y confirme una contraseña</Phrase>
      <Phrase Key="Passwords_Do_Not_Match">Las contraseñas no coinciden</Phrase>
      <Phrase Key="Password_Min_Length">La contraseña debe tener al menos ocho dígitos</Phrase>
      <Phrase Key="Ufid_Length">Los UFID siempre tienen ocho dígitos</Phrase>
      <Phrase Key="Ufid_Numeric">Los UFID siempre son numéricos</Phrase>
      <Phrase Key="Family_Name_Required">El apellido es un campo obligatorio</Phrase>
      <Phrase Key="Given_Name_Required">El nombre es un campo obligatorio</Phrase>
      <Phrase Key="Valid_Email_Required">Se requiere un correo electrónico válido</Phrase>
      <Phrase Key="Rights_Truncated">Declaración de derechos truncada a 1000 caracteres.</Phrase>
      <Phrase Key="Email_Already_Exists">Ya existe una cuenta para esa dirección de correo electrónico.</Phrase>
      <Phrase Key="Username_Taken">Ese nombre de usuario ya está en uso. Por favor elija otro.</Phrase>
      <Phrase Key="Register_Page_Title_Format">Registrarse en Mi{0}</Phrase>
      <Phrase Key="Edit_Preferences_Page_Title">Editar las Preferencias de su Cuenta</Phrase>
      <Phrase Key="Registration_Intro_Format">El registro en {0} es gratuito y abierto al público. Ingrese su información a continuación para registrarse al instante.</Phrase>
      <Phrase Key="Account_Required_Note">La información de la cuenta, el nombre y el correo electrónico son obligatorios para cada cuenta nueva.</Phrase>
      <Phrase Key="Already_Registered_Format">¿Ya está registrado? {0}.</Phrase>
      <Phrase Key="Log_On_Link_Text">Iniciar sesión</Phrase>
      <Phrase Key="Errors_Detected_Header">Se detectaron los siguientes errores:</Phrase>
      <Phrase Key="Username_Hint">(mínimo de ocho dígitos)</Phrase>
      <Phrase Key="Password_Hint">(mínimo de ocho dígitos, diferente al nombre de usuario)</Phrase>
      <Phrase Key="Gatorlink_Hint">(opcionalmente proporciona acceso a través de Gatorlink)</Phrase>
      <Phrase Key="Allow_Submit_With_Notice_Label">Me gustaría poder enviar materiales en línea. (Una vez que su solicitud de envío haya sido aprobada, recibirá una notificación por correo electrónico)</Phrase>
      <Phrase Key="Cancel_Button">CANCELAR</Phrase>
      <Phrase Key="Submit_Button">ENVIAR</Phrase>
    </Section>

    <Section Name="Folder_Mgmt">
      <Phrase Key="Page_Title">Mi Biblioteca</Phrase>
      <Phrase Key="Manage_Library_Tooltip">Administrar mi biblioteca</Phrase>
      <Phrase Key="Manage_Library_Link_Text">Mi Biblioteca (Administrar mis estantes)</Phrase>
      <Phrase Key="View_Collections_Home_Tooltip">Ver la página de inicio de mis colecciones</Phrase>
      <Phrase Key="My_Collections_Home_Text">Inicio de Mis Colecciones</Phrase>
      <Phrase Key="View_Saved_Searches_Tooltip">Ver mis búsquedas guardadas</Phrase>
      <Phrase Key="My_Saved_Searches_Text">Mis Búsquedas Guardadas</Phrase>
      <Phrase Key="Public_Folder_Tooltip">Estante público</Phrase>
      <Phrase Key="Private_Folder_Tooltip">Estante privado</Phrase>
      <Phrase Key="Bookshelf_Empty_Message">Este estante está actualmente vacío</Phrase>
      <Phrase Key="Manage_Bookshelves_Heading">Administrar Mis Estantes</Phrase>
      <Phrase Key="Add_New_Bookshelf_Tooltip">Haga clic para agregar un nuevo estante</Phrase>
      <Phrase Key="Add_New_Bookshelf_Text">Agregar Nuevo Estante</Phrase>
      <Phrase Key="Refresh_Bookshelf_Tooltip">Actualizar la lista de estantes</Phrase>
      <Phrase Key="Refresh_Bookshelves_Text">Actualizar Estantes</Phrase>
      <Phrase Key="Actions_Header">ACCIONES</Phrase>
      <Phrase Key="Bookshelf_Name_Header">NOMBRE DEL ESTANTE</Phrase>
      <Phrase Key="Delete_Bookshelf_Tooltip">Haga clic para eliminar este estante</Phrase>
      <Phrase Key="Delete_Link_Text">eliminar</Phrase>
      <Phrase Key="Cannot_Delete_Last_Alert">No puede eliminar su último estante</Phrase>
      <Phrase Key="Cannot_Delete_Nested_Alert">No puede eliminar estantes que contengan otros estantes</Phrase>
      <Phrase Key="Make_Private_Tooltip">Hacer este estante privado</Phrase>
      <Phrase Key="Make_Private_Text">hacer privado</Phrase>
      <Phrase Key="Make_Public_Tooltip">Hacer este estante público</Phrase>
      <Phrase Key="Make_Public_Text">hacer público</Phrase>
      <Phrase Key="Manage_Bookshelf_Tooltip">Haga clic para administrar este estante</Phrase>
      <Phrase Key="Manage_Link_Text">administrar</Phrase>
      <Phrase Key="Email_Popup_Title">ENVIAR ESTE ARTÍCULO A UN AMIGO</Phrase>
      <Phrase Key="Email_Popup_Legend">Ingrese la información del correo electrónico a continuación &amp;nbsp; </Phrase>
      <Phrase Key="To_Label">Para:</Phrase>
      <Phrase Key="Comments_Label">Comentarios:</Phrase>
      <Phrase Key="Format_Label">Formato:</Phrase>
      <Phrase Key="Html_Format_Label">HTML</Phrase>
      <Phrase Key="Plain_Text_Format_Label">Texto Sin Formato</Phrase>
      <Phrase Key="Cancel_Button">CANCELAR</Phrase>
      <Phrase Key="Send_Button">ENVIAR</Phrase>
      <Phrase Key="Save_Button">GUARDAR</Phrase>
      <Phrase Key="Move_Popup_Title_Html"><![CDATA[M<span class="smaller">OVER</span> A<span class="smaller">RTÍCULO ENTRE </span>E<span class="smaller">STANTES</span>]]></Phrase>
      <Phrase Key="Move_Popup_Legend">Seleccione el nuevo estante para este artículo</Phrase>
      <Phrase Key="Bookshelf_Label">Estante:</Phrase>
      <Phrase Key="Edit_Notes_Popup_Title_Html"><![CDATA[A<span class="smaller">GREGAR/</span>E<span class="smaller">DITAR</span> N<span class="smaller">OTAS DEL</span> A<span class="smaller">RTÍCULO DEL</span> E<span class="smaller">STANTE</span>]]></Phrase>
      <Phrase Key="Edit_Notes_Popup_Legend">Ingrese notas para este artículo en su estante &amp;nbsp; </Phrase>
      <Phrase Key="Notes_Label">Notas:</Phrase>
      <Phrase Key="New_Bookshelf_Popup_Title_Html"><![CDATA[N<span class="smaller">UEVO</span> E<span class="smaller">STANTE</span>]]></Phrase>
      <Phrase Key="New_Bookshelf_Popup_Legend">Ingrese la información para su nuevo estante</Phrase>
      <Phrase Key="Name_Label">Nombre:</Phrase>
      <Phrase Key="Parent_Label">Estante Padre:</Phrase>
      <Phrase Key="No_Parent_Option">(ninguno)</Phrase>
    </Section>

  </Localization>
</SobekCM_Config>
