<?xml version="1.0" encoding="utf-8" ?>
<SobekCM_Config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://sobekrepository.org/schemas/sobekcm_config"
	xsi:schemaLocation="http://sobekrepository.org/schemas/sobekcm_config
		http://sobekrepository.org/schemas/sobekcm_config.xsd">
  <Localization Language="es">

    <Section Name="Common">
      <Phrase Key="Go_To">Ir a:</Phrase>
      <Phrase Key="First_Page">Primera Página</Phrase>
      <Phrase Key="Previous_Page">Página Anterior</Phrase>
      <Phrase Key="Next_Page">Página Siguiente</Phrase>
      <Phrase Key="Last_Page">Última Página</Phrase>
      <Phrase Key="First">Primero</Phrase>
      <Phrase Key="Previous">Anterior</Phrase>
      <Phrase Key="Next">Proximo</Phrase>
      <Phrase Key="Last">Último</Phrase>
    </Section>

    <Section Name="Text_Search">
      <Phrase Key="Search_This_Document">Buscar en este Objeto</Phrase>
      <Phrase Key="Go">Ir</Phrase>
      <Phrase Key="Your_Search_For">Su búsqueda dentro de el texto completo por paginas conteniendo </Phrase>
      <Phrase Key="And_Not"> Y NO </Phrase>
      <Phrase Key="And"> Y </Phrase>
      <Phrase Key="Or"> O </Phrase>
      <Phrase Key="Not">no </Phrase>
      <Phrase Key="Resulted_In"> resulto en </Phrase>
      <Phrase Key="Matching_Pages"> paginas correspondientes</Phrase>
      <Phrase Key="No_Matching_Pages">no paginas correspondientes</Phrase>
      <Phrase Key="Expand_Results">Usted puede ampliar sus resultados buscando por</Phrase>
      <Phrase Key="Restrict_Results">Usted puede disminuir sus resultados buscando por</Phrase>
    </Section>

    <Section Name="JPEG2000">
      <Phrase Key="Thumbnail">MINIATURA</Phrase>
    </Section>

    <Section Name="Citation_Common">
      <Phrase Key="Standard_View">VISTA ESTÁNDAR</Phrase>
      <Phrase Key="Marc_View">VISTA MARC</Phrase>
      <Phrase Key="Metadata_View">METADATOS</Phrase>
      <Phrase Key="Usage_Statistics_View">ESTADÍSTICAS DE USO</Phrase>
      <Phrase Key="Dark_Item_Message">Este elemento está OSCURECIDO y no se puede ver en este momento</Phrase>
      <Phrase Key="Menu_Standard_View">Vista Estándar</Phrase>
      <Phrase Key="Menu_Marc_View">Vista MARC</Phrase>
      <Phrase Key="Menu_Metadata">Metadatos</Phrase>
      <Phrase Key="Menu_Usage_Statistics">Estadísticas de Uso</Phrase>
    </Section>

    <Section Name="Citation_Standard">
      <Phrase Key="Please_Log_On_Suffix">  Por favor inicie sesión para acceder.</Phrase>
      <Phrase Key="Please_Request_Access_Suffix">  Por favor solicite acceso.</Phrase>
      <Phrase Key="Restricted_Item_Alt">Elemento Restringido</Phrase>
    </Section>

    <Section Name="Citation_MARC">
      <Phrase Key="Auto_Generated_Notice">El registro anterior fue generado automáticamente a partir del archivo METS.</Phrase>
    </Section>

    <Section Name="Metadata_Links">
      <Phrase Key="Intro_Html"><![CDATA[Los datos (o metadatos) sobre este recurso digital están disponibles en una variedad de formatos de metadatos. Para más información sobre estos formatos, consulte la <a href="http://ufdc.ufl.edu/sobekcm/metadata">Sección de Metadatos</a> de la información sobre <a href="http://ufdc.ufl.edu/sobekcm/">Aspectos Técnicos</a>.]]></Phrase>
      <Phrase Key="Ead_View_Link">Ver Instrumento de Descripción (EAD)</Phrase>
      <Phrase Key="Ead_Description"><![CDATA[Esta colección archivística se describe mediante un instrumento de descripción electrónico. Este archivo de metadatos contiene toda la descripción archivística y el inventario de este material archivístico. Este archivo sigue la norma establecida <a href="http://www.loc.gov/ead/">Encoded Archival Description</a> (EAD).]]></Phrase>
      <Phrase Key="Mets_View_Link">Ver METS/MODS Completo</Phrase>
      <Phrase Key="Mets_Description"><![CDATA[Este archivo de metadatos es el archivo de metadatos fuente enviado junto con todos los archivos del recurso digital. Contiene toda la información de citación y procesamiento utilizada para construir este recurso. Este archivo sigue la norma establecida <a href="http://www.loc.gov/standards/mets/">Metadata Encoding and Transmission Standard</a> (METS) y <a href="http://www.loc.gov/standards/mods/">Metadata Object Description Schema</a> (MODS). Este archivo METS/MODS se leyó al cargar este elemento en memoria y se utiliza para mostrar toda la información en la vista estándar y la vista MARC de la citación.]]></Phrase>
      <Phrase Key="Marc_Xml_View_Link">Ver Archivo MARC XML</Phrase>
      <Phrase Key="Marc_Xml_Description"><![CDATA[Los metadatos ingresados también se convierten al formato MARC XML, para lograr interoperabilidad con otros sistemas de catálogos bibliotecarios. Esto representa los mismos datos disponibles en la <a href="{0}">VISTA MARC</a>, salvo que se trata de un archivo XML estático. Este archivo sigue el <a href="http://www.loc.gov/standards/marcxml/">esquema MarcXML</a>.]]></Phrase>
      <Phrase Key="Tei_View_Link">Ver Archivo TEI/Texto</Phrase>
      <Phrase Key="Tei_Description"><![CDATA[El texto completo de este elemento también está disponible en el archivo descargable de la norma establecida <a href="http://www.tei-c.org/index.xml">Text Encoding Initiative</a> (TEI).]]></Phrase>
      <Phrase Key="Iiif_View_Link">Manifiesto IIIF</Phrase>
      <Phrase Key="Iiif_Description"><![CDATA[Un <a href="https://iiif.io/get-started/how-iiif-works/">Manifiesto IIIF</a> es un documento JSON-LD estructurado que agrupa datos estructurales, metadatos descriptivos y enlaces de contenido para indicarle a un visor digital cómo mostrar y navegar un objeto complejo como un libro, manuscrito u obra de arte.]]></Phrase>
    </Section>

    <Section Name="Item_Usage_Stats">
      <Phrase Key="Compiled_Monthly_Notice">Las estadísticas de uso de los elementos se compilan una vez al mes a partir de los registros de uso del mes anterior y no contienen información personal alguna.</Phrase>
      <Phrase Key="Viewed_Times_Sentence"><![CDATA[Este elemento ha sido visto <%HITS%> veces en <%SESSIONS%> visitas.  A continuación se muestran los detalles del uso general de este elemento dentro de esta biblioteca.<br /><br />Para la definición de estos términos, consulte las <a href="{0}" target="_BLANK">definiciones en la página principal de estadísticas</a>.]]></Phrase>
      <Phrase Key="Date">Fecha</Phrase>
      <Phrase Key="Views">Vistas</Phrase>
      <Phrase Key="Visits">Visitas</Phrase>
      <Phrase Key="Year_Statistics_Suffix"> ESTADÍSTICAS</Phrase>
      <Phrase Key="Total">TOTAL</Phrase>
      <Phrase Key="No_Stats_Yet_Message">Las estadísticas de uso se acumulan mensualmente y aún no se han registrado para este elemento.</Phrase>
      <Phrase Key="Month_1">Enero</Phrase>
      <Phrase Key="Month_2">Febrero</Phrase>
      <Phrase Key="Month_3">Marzo</Phrase>
      <Phrase Key="Month_4">Abril</Phrase>
      <Phrase Key="Month_5">Mayo</Phrase>
      <Phrase Key="Month_6">Junio</Phrase>
      <Phrase Key="Month_7">Julio</Phrase>
      <Phrase Key="Month_8">Agosto</Phrase>
      <Phrase Key="Month_9">Septiembre</Phrase>
      <Phrase Key="Month_10">Octubre</Phrase>
      <Phrase Key="Month_11">Noviembre</Phrase>
      <Phrase Key="Month_12">Diciembre</Phrase>
    </Section>

    <Section Name="SearchEngineIndexing">
      <Phrase Key="Citation_Label">Cita</Phrase>
      <Phrase Key="Downloads_Label">Descargas</Phrase>
      <Phrase Key="Full_Text_Label">Texto Completo</Phrase>
      <Phrase Key="Unable_To_Read_File">No se pudo leer el archivo: {0}</Phrase>
    </Section>

    <Section Name="JPEG">
      <Phrase Key="Menu_Standard">Estándar</Phrase>
      <Phrase Key="Zoomable_Switch_Prompt">Haga clic en la imagen a continuación para cambiar a la versión ampliable</Phrase>
      <Phrase Key="Zoomable_Switch_Title">Haga clic en la imagen para cambiar a la versión ampliable</Phrase>
    </Section>

    <Section Name="PDF">
      <Phrase Key="Menu_Label_Default">PDF</Phrase>
      <Phrase Key="Error_No_Pdf_Found">ERROR: ¡NO SE PUDO ENCONTRAR UN ARCHIVO PDF PARA MOSTRAR EN ESTE ELEMENTO!</Phrase>
      <Phrase Key="Download_This_Pdf">Descargar este PDF</Phrase>
      <Phrase Key="Download_Adobe_Reader_Alt">Descargar Adobe Reader</Phrase>
    </Section>

    <Section Name="Text_Viewer">
      <Phrase Key="Menu_Text">Texto</Phrase>
      <Phrase Key="Unknown_Error">Error desconocido al recuperar el texto</Phrase>
      <Phrase Key="No_Text_File">No existe un archivo de texto para esta página</Phrase>
      <Phrase Key="No_Text_Recorded">No hay texto registrado para esta página</Phrase>
    </Section>

    <Section Name="TEI">
      <Phrase Key="Menu_Default_Label">TEI</Phrase>
      <Phrase Key="Transform_Error_Html"><![CDATA[Error durante la transformación XSLT del TEI<br /><br />{0}]]></Phrase>
    </Section>

    <Section Name="HTML_Viewer">
      <Phrase Key="Menu_Default_Label">HTML</Phrase>
      <Phrase Key="Unable_To_Pull_Html_Sentence"><![CDATA[No se pudo cargar la vista html para este elemento ( <a href="{0}">fuente</a> )]]></Phrase>
      <Phrase Key="Apologize_Sentence">Lamentamos las molestias.</Phrase>
      <Phrase Key="Report_Problem_Sentence"><![CDATA[Haga clic <a href="{0}">aquí</a> para reportar el problema.]]></Phrase>
    </Section>

    <Section Name="Embedded_Web_Content">
      <Phrase Key="Menu_Content_Label">Contenido</Phrase>
      <Phrase Key="Viewer_Title">Contenido</Phrase>
    </Section>

    <Section Name="EmbeddedVideo">
      <Phrase Key="Menu_Video_Label">Video</Phrase>
      <Phrase Key="Viewer_Title">Video en Transmisión</Phrase>
    </Section>

    <Section Name="Video">
      <Phrase Key="Menu_Video_Label">Video</Phrase>
    </Section>

    <Section Name="Audio">
      <Phrase Key="Menu_Audio_Label">Audio</Phrase>
    </Section>

    <Section Name="Google_Map">
      <Phrase Key="Menu_Default_Label">¡Localizar!</Phrase>
      <Phrase Key="Menu_Map_Search">Búsqueda en Mapa</Phrase>
      <Phrase Key="Menu_Search_Results">Resultados de Búsqueda</Phrase>
      <Phrase Key="Menu_Map_Coverage">Cobertura del Mapa</Phrase>
      <Phrase Key="Search_Button">Buscar</Phrase>
      <Phrase Key="Find_Address_Button">Localizar</Phrase>
      <Phrase Key="Instructions_Step1_Html"><![CDATA[Utilice el botón <i>Seleccionar Área</i> a continuación para dibujar un recuadro de búsqueda en el mapa, o ingrese una dirección y presione <i>Localizar</i>.]]></Phrase>
      <Phrase Key="Instructions_Step2_Html"><![CDATA[Presione el botón <i>Buscar</i> para ver los resultados]]></Phrase>
      <Phrase Key="Address_Label">Dirección:</Phrase>
      <Phrase Key="Address_Placeholder">Ingrese una dirección ( p. ej., 12 Main Street, Gainesville Florida )</Phrase>
      <Phrase Key="No_Matches_Message"><![CDATA[No hubo coincidencias dentro de este elemento para su búsqueda geográfica. &nbsp; ]]></Phrase>
      <Phrase Key="Modify_Item_Search">Modificar la búsqueda del elemento</Phrase>
      <Phrase Key="Modify_Search_Within_Flight">Modificar la búsqueda dentro del vuelo</Phrase>
      <Phrase Key="Search_Other_Items_Link">Haga clic aquí para buscar otros elementos en la colección actual</Phrase>
      <Phrase Key="Matching_Results_Intro">Los siguientes resultados coinciden con su búsqueda geográfica:</Phrase>
      <Phrase Key="Zoom_To_Extent">Ajustar al área completa</Phrase>
      <Phrase Key="Zoom_To_Matches">Ajustar a los resultados</Phrase>
      <Phrase Key="Search_All_Flights">Buscar en todos los vuelos</Phrase>
      <Phrase Key="Search_Entire_Collection">Buscar en toda la colección</Phrase>
      <Phrase Key="Google_Maps_Not_Enabled_Html"><![CDATA[<p style="font-weight:bold; text-size:1.1em">ERROR: ¡Google Maps no está habilitado en esta instancia de SobekCM!</p>
              <p>Para habilitarlo, cree una clave de API de Google Maps e ingrésela en la configuración general del sistema.</p>
              <p>Puede encontrar información sobre este proceso aquí: <a href="http://sobekrepository.org/software/config/googlemaps" style="color:white;">http://sobekrepository.org/software/config/googlemaps</a>.</p>]]></Phrase>
    </Section>

    <Section Name="GnuBooks_PageTurner">
      <Phrase Key="Menu_Default_Label">Visor de Páginas</Phrase>
      <Phrase Key="No_Javascript_Message">Las presentaciones del visor de páginas requieren un navegador con Javascript habilitado.</Phrase>
    </Section>

    <Section Name="MultiVolumes">
      <Phrase Key="Menu_All_Volumes">Todos los Volumenes</Phrase>
      <Phrase Key="Menu_All_Issues">Todas las Ediciones</Phrase>
      <Phrase Key="Menu_Related_Maps">Mapas Relacionados</Phrase>
      <Phrase Key="Menu_Related_Flights">Vuelos Relacionados</Phrase>
      <Phrase Key="All_Volumes">Todos los Volumenes</Phrase>
      <Phrase Key="All_Issues">Todas las Ediciones</Phrase>
      <Phrase Key="Related_Map_Sets">Relacionado Mapa Conjuntos</Phrase>
      <Phrase Key="Related_Flights">Vuelos Relacionados</Phrase>
      <Phrase Key="Related_Titles_Heading">Títulos Relacionados</Phrase>
      <Phrase Key="Vid_Header">VID</Phrase>
      <Phrase Key="Level_1_Header">NIVEL 1</Phrase>
      <Phrase Key="Level_2_Header">NIVEL 2</Phrase>
      <Phrase Key="Level_3_Header">NIVEL 3</Phrase>
      <Phrase Key="Access_Header">ACCESO</Phrase>
      <Phrase Key="Access_Dark">oscurecido</Phrase>
      <Phrase Key="Access_Private">privado</Phrase>
      <Phrase Key="Access_Public">público</Phrase>
      <Phrase Key="Access_Restricted">restringido</Phrase>
      <Phrase Key="Missing_Thumbnail_Alt">MINIATURA FALTANTE</Phrase>
      <Phrase Key="Dark_Suffix"> ( oscurecido )</Phrase>
      <Phrase Key="Private_Suffix"> ( privado )</Phrase>
      <Phrase Key="Restricted_Suffix"> ( aplican algunas restricciones )</Phrase>
      <Phrase Key="All_Private_Or_Dark_Suffix"> ( todos privados u oscurecidos )</Phrase>
    </Section>

    <Section Name="OpenTextbook_Common">
      <Phrase Key="Search_Label">Buscar: </Phrase>
      <Phrase Key="Zoom_Label">Zoom: </Phrase>
      <Phrase Key="Unnumbered_Page_Prefix">Sin numerar </Phrase>
      <Phrase Key="Page_Prefix">Página </Phrase>
      <Phrase Key="Previous_Section_Alt">Ir a la sección anterior</Phrase>
      <Phrase Key="Next_Section_Alt">Ir a la sección siguiente</Phrase>
    </Section>

    <Section Name="OpenTextbook">
      <Phrase Key="Menu_Default_Label">Libro de Texto Abierto</Phrase>
      <Phrase Key="Welcome_Heading">Bienvenido a OpenPublishing</Phrase>
      <Phrase Key="Welcome_Edit_Instructions"><![CDATA[Puede editar su elemento aquí, seleccionando <i>Editar Contenido</i> en la esquina superior derecha de esta página.]]></Phrase>
      <Phrase Key="Welcome_Toc_Instructions"><![CDATA[Para actualizar su tabla de contenido y crear capítulos, utilice la herramienta OpenPublishing, disponible en el encabezado interno o a través de la opción <i>ADMINISTRAR</i> en el menú del elemento.]]></Phrase>
      <Phrase Key="Chapter_Edit_Instructions"><![CDATA[Puede editar este capítulo aquí, seleccionando <i>Editar Contenido</i> en la esquina superior derecha de esta página.]]></Phrase>
    </Section>

    <Section Name="OpenTextbook_Divisions">
      <Phrase Key="Menu_Default_Label">Editor Abierto</Phrase>
    </Section>

    <Section Name="Related_Images">
      <Phrase Key="Menu_Default_Label">Miniaturas</Phrase>
      <Phrase Key="Thumbnails_Per_Page_Suffix">miniaturas por página</Phrase>
      <Phrase Key="Go_To_Thumbnail_Label">Ir a la miniatura</Phrase>
      <Phrase Key="Switch_To_Small">Cambiar a miniaturas pequeñas</Phrase>
      <Phrase Key="Switch_To_Medium">Cambiar a miniaturas medianas</Phrase>
      <Phrase Key="Switch_To_Large">Cambiar a miniaturas grandes</Phrase>
      <Phrase Key="All_Thumbnails">Todas las miniaturas</Phrase>
      <Phrase Key="Small_Alt">Pequeño</Phrase>
      <Phrase Key="Medium_Alt">Mediano</Phrase>
      <Phrase Key="Large_Alt">Grande</Phrase>
      <Phrase Key="Missing_Thumbnail_Alt">MINIATURA FALTANTE</Phrase>
      <Phrase Key="Page_Number_Placeholder">(página {0})</Phrase>
    </Section>

    <Section Name="Downloads">
      <Phrase Key="Menu_Default_Label">Descargas</Phrase>
      <Phrase Key="Explanation_Has_Downloads">Este objeto tiene las siguientes descargas:</Phrase>
      <Phrase Key="Explanation_Only_Downloads">Este elemento solo está disponible como las siguientes descargas:</Phrase>
      <Phrase Key="Tiles_Available_Heading">Las siguientes fichas están disponibles para descargar:</Phrase>
      <Phrase Key="Jpeg2000_Available_Heading">Los siguientes archivos JPEG2000 están disponibles para descargar:</Phrase>
      <Phrase Key="Save_Link_As_Instructions">Para descargar, haga clic derecho en el nombre de la ficha a continuación, seleccione "Guardar enlace como..." y guarde el JPEG2000 en su ordenador local.</Phrase>
      <Phrase Key="Save_Target_As_Instructions">Para descargar, haga clic derecho en el nombre de la ficha a continuación, seleccione "Guardar destino como..." y guarde el JPEG2000 en su ordenador local. </Phrase>
    </Section>

    <Section Name="Item_Tracking_Common">
      <Phrase Key="Header">Información de Seguimiento</Phrase>
      <Phrase Key="Milestones_Tab">HITOS</Phrase>
      <Phrase Key="History_Tab">HISTORIAL</Phrase>
      <Phrase Key="Media_Tab">MEDIOS</Phrase>
      <Phrase Key="Archives_Tab">ARCHIVOS</Phrase>
      <Phrase Key="Directory_Tab">DIRECTORIO</Phrase>
    </Section>

    <Section Name="Tracking">
      <Phrase Key="No_History_Message">EL ELEMENTO NO TIENE HISTORIAL</Phrase>
      <Phrase Key="History_Table_Title">HISTORIAL DEL ELEMENTO</Phrase>
      <Phrase Key="Workflow_Name_Column">NOMBRE DEL FLUJO DE TRABAJO</Phrase>
      <Phrase Key="Completed_Date_Column">FECHA DE FINALIZACIÓN</Phrase>
      <Phrase Key="User_Column">USUARIO</Phrase>
      <Phrase Key="Location_Notes_Column">UBICACIÓN / NOTAS</Phrase>
    </Section>

    <Section Name="Archives">
      <Phrase Key="Header">Información de Archivo</Phrase>
      <Phrase Key="No_Info_Message">EL ELEMENTO NO TIENE INFORMACIÓN DE ARCHIVO</Phrase>
      <Phrase Key="Table_Title">INFORMACIÓN DE ARCHIVO ARCHIVADO</Phrase>
      <Phrase Key="Filename_Column">NOMBRE DE ARCHIVO</Phrase>
      <Phrase Key="Size_Column">TAMAÑO</Phrase>
      <Phrase Key="Original_Creation_Date_Column">FECHA DE CREACIÓN ORIGINAL</Phrase>
      <Phrase Key="Stored_Date_Column">FECHA DE ALMACENAMIENTO</Phrase>
      <Phrase Key="Status_Column">ESTADO</Phrase>
      <Phrase Key="Location_Column">UBICACIÓN</Phrase>
    </Section>

    <Section Name="UF_Archives">
      <Phrase Key="Last_Write_Date_Column">FECHA DE ÚLTIMA ESCRITURA</Phrase>
      <Phrase Key="Archived_Date_Column">FECHA DE ARCHIVO</Phrase>
    </Section>

    <Section Name="Directory">
      <Phrase Key="Page_Files_Header">ARCHIVOS DE PÁGINA</Phrase>
      <Phrase Key="Metadata_Files_Header">ARCHIVOS DE METADATOS</Phrase>
      <Phrase Key="Other_Files_Header">OTROS ARCHIVOS</Phrase>
      <Phrase Key="Name_Column">NOMBRE</Phrase>
      <Phrase Key="Date_Modified_Column">FECHA DE MODIFICACIÓN</Phrase>
      <Phrase Key="Type_Column">TIPO</Phrase>
      <Phrase Key="Size_Column">TAMAÑO</Phrase>
      <Phrase Key="Page_Fallback_Label">PÁGINA</Phrase>
      <Phrase Key="Unable_To_Pull_Directory_Info">NO SE PUDO OBTENER LA INFORMACIÓN DEL DIRECTORIO</Phrase>
      <Phrase Key="Generic_File_Suffix">Archivo</Phrase>
      <Phrase Key="Jpeg_Image">Imagen JPEG</Phrase>
      <Phrase Key="Thumbnail_Image">Imagen en miniatura</Phrase>
      <Phrase Key="Qc_Jpeg_Image">Imagen JPEG de control de calidad</Phrase>
      <Phrase Key="Archival_Tiff_Image">Imagen TIFF de archivo</Phrase>
      <Phrase Key="Jpeg2000_Zoomable_Image">Imagen ampliable JPEG2000</Phrase>
      <Phrase Key="Adobe_Acrobat_Document">Documento de Adobe Acrobat</Phrase>
      <Phrase Key="Text_File">Archivo de texto</Phrase>
      <Phrase Key="Excel_Worksheet">Hoja de cálculo de Microsoft Office Excel</Phrase>
      <Phrase Key="Word_Document">Documento de Microsoft Office Word</Phrase>
      <Phrase Key="Powerpoint_Presentation">Presentación de Microsoft Office PowerPoint</Phrase>
      <Phrase Key="Shockwave_Flash_Object">Objeto Shockwave Flash</Phrase>
      <Phrase Key="Prime_Recognition_Output_File">Archivo de salida de Prime Recognition</Phrase>
      <Phrase Key="Static_Citation_Page">Página de cita estática</Phrase>
      <Phrase Key="Html_Document">Documento HTML</Phrase>
      <Phrase Key="Citation_Only_Mets_File">Archivo METS solo de cita</Phrase>
      <Phrase Key="Marc_Xml_File">Archivo MARC XML</Phrase>
      <Phrase Key="Sobekcm_Service_Mets_File">Archivo METS de servicio SobekCM</Phrase>
      <Phrase Key="Text_Indexing_File">Archivo de indexación de texto</Phrase>
      <Phrase Key="Xml_Document">Documento XML</Phrase>
      <Phrase Key="User_Submitted_Mets_File">Archivo METS enviado por el usuario</Phrase>
      <Phrase Key="Fda_Ingest_Report">Informe de ingesta de FDA</Phrase>
      <Phrase Key="Previous_Mets_File_Version">Versión anterior del archivo METS</Phrase>
      <Phrase Key="Backup_File">Archivo de respaldo</Phrase>
    </Section>

    <Section Name="Milestones">
      <Phrase Key="Header">HITOS DE DIGITALIZACIÓN</Phrase>
      <Phrase Key="Digital_Acquisition_Label">Adquisición Digital</Phrase>
      <Phrase Key="Post_Acquisition_Processing_Label">Procesamiento Posterior a la Adquisición</Phrase>
      <Phrase Key="Quality_Control_Label">Control de Calidad Realizado</Phrase>
      <Phrase Key="Online_Complete_Label">En Línea Completo</Phrase>
      <Phrase Key="Not_Applicable">n/d</Phrase>
    </Section>

    <Section Name="TrackingSheet">
      <Phrase Key="Material_Info_Header">Información del Material</Phrase>
      <Phrase Key="Title_Label">Título:</Phrase>
      <Phrase Key="Author_Label">Autor:</Phrase>
      <Phrase Key="Publisher_Label">Editorial:</Phrase>
      <Phrase Key="Oclc_Label">OCLC:</Phrase>
      <Phrase Key="Aleph_Label">Aleph:</Phrase>
      <Phrase Key="Material_Type_Label">Tipo de Material:</Phrase>
      <Phrase Key="Aggregations_Label">Colecciones:</Phrase>
      <Phrase Key="Serial_Hierarchy_Header">Jerarquía de Serie</Phrase>
      <Phrase Key="Level_Label">Nivel</Phrase>
      <Phrase Key="Imaging_Progress_Header">Progreso de Digitalización</Phrase>
      <Phrase Key="Name_Label">Nombre:</Phrase>
      <Phrase Key="Date_Label">Fecha:</Phrase>
      <Phrase Key="Page_Range_Label">Rango de Páginas:</Phrase>
      <Phrase Key="Duration_Label">Duración:</Phrase>
      <Phrase Key="Physical_Material_Header">Material Físico</Phrase>
      <Phrase Key="Born_Digital_Label">El elemento es de origen digital</Phrase>
      <Phrase Key="Material_Recd_Label">Material Recibido:</Phrase>
      <Phrase Key="Disposition_Advice_Label">Consejo de Disposición:</Phrase>
      <Phrase Key="Additional_Notes_Header">Notas Adicionales:</Phrase>
      <Phrase Key="Start_Scanning_Label">Iniciar Escaneo</Phrase>
      <Phrase Key="End_Scanning_Label">Finalizar Escaneo</Phrase>
      <Phrase Key="Start_Processing_Label">Iniciar Procesamiento</Phrase>
      <Phrase Key="End_Processing_Label">Finalizar Procesamiento</Phrase>
    </Section>

    <Section Name="UF_Media">
      <Phrase Key="No_Info_Message">EL ELEMENTO NO ESTÁ ARCHIVADO EN MEDIOS</Phrase>
      <Phrase Key="Table_Title">ARCHIVO DE CD/DVD</Phrase>
      <Phrase Key="Cd_Number_Column">NÚMERO DE CD/DVD</Phrase>
      <Phrase Key="File_Range_Column">RANGO DE ARCHIVOS</Phrase>
      <Phrase Key="Images_Column">IMÁGENES</Phrase>
      <Phrase Key="Size_Column">TAMAÑO</Phrase>
      <Phrase Key="Date_Burned_Column">FECHA DE GRABACIÓN</Phrase>
    </Section>

    <Section Name="ManageMenu_Item">
      <Phrase Key="Item_Viewer_Title">Administrar este Elemento</Phrase>
      <Phrase Key="Item_Intro_Prompt">¿Cómo desea administrar este elemento hoy?</Phrase>
      <Phrase Key="Group_Level_Note">Además, los siguientes cambios se pueden realizar a nivel del grupo de elementos:</Phrase>
      <Phrase Key="Group_Viewer_Title">Administrar este Grupo de Elementos</Phrase>
      <Phrase Key="Group_Intro_Prompt">¿Cómo desea administrar este grupo de elementos hoy?</Phrase>
      <Phrase Key="Open_Textbook_Desc">Administre este elemento de libro de texto abierto, que le permite editar el contenido de la página, agregar imágenes, agregar nuevos capítulos, etc.</Phrase>
      <Phrase Key="Edit_Metadata_Link">Editar Metadatos del Elemento</Phrase>
      <Phrase Key="Edit_Metadata_Desc">Edite la información sobre este elemento que aparece en la cita/descripción. Esta es información básica sobre el elemento original y esta manifestación digital.</Phrase>
      <Phrase Key="Edit_Tei_Link">Editar TEI</Phrase>
      <Phrase Key="Edit_Tei_Desc">Edite este objeto TEI, incluidos el archivo XSLT y CSS utilizados, así como la carga de un nuevo archivo TEI o la edición en línea del archivo TEI existente.</Phrase>
      <Phrase Key="Edit_Behaviors_Link">Editar Comportamientos del Elemento</Phrase>
      <Phrase Key="Edit_Behaviors_Desc">Cambie la forma en que se comporta este elemento en esta biblioteca, incluidas las colecciones bajo las que aparece, las marcas denominativas a la izquierda y qué tipos de visor son de acceso público.</Phrase>
      <Phrase Key="Qc_Link">Administrar Páginas y Divisiones (Control de Calidad)</Phrase>
      <Phrase Key="Qc_Desc">Reordene las imágenes de página, nombre las páginas, asigne divisiones y elimine y agregue nuevas imágenes de página a este elemento.</Phrase>
      <Phrase Key="Work_History_Link">Ver Historial de Trabajo</Phrase>
      <Phrase Key="Work_History_Desc">Vea el historial de todo el trabajo realizado en este elemento. Desde esta vista, también puede ver los hitos de digitalización e información de archivos de recursos digitales.</Phrase>
      <Phrase Key="Download_Files_Link">Administrar Archivos de Descarga</Phrase>
      <Phrase Key="Download_Files_Desc">Cargue nuevos archivos para descargar o elimine los archivos existentes adjuntos a este elemento para descargar. Esto generalmente incluye todo excepto las imágenes de página.</Phrase>
      <Phrase Key="Geospatial_Link">Administrar Datos Geoespaciales (beta)</Phrase>
      <Phrase Key="Geospatial_Desc">Agregue información geoespacial para este elemento. Esto puede ser tan simple como una ubicación para una fotografía o puede ser una superposición para un mapa. También se pueden dibujar puntos, líneas y polígonos de interés.</Phrase>
      <Phrase Key="Tracking_Sheet_Link">Ver Hoja de Seguimiento</Phrase>
      <Phrase Key="Tracking_Sheet_Desc">Esto se puede usar para imprimir la hoja de seguimiento de este elemento, que se puede usar como parte del flujo de trabajo de digitalización integrado.</Phrase>
      <Phrase Key="Group_Behaviors_Link">Editar Comportamientos del Grupo de Elementos</Phrase>
      <Phrase Key="Group_Behaviors_Desc">Establezca el título bajo el cual aparecerán todos estos elementos en los resultados de búsqueda y establezca las apariencias web bajo las cuales deben aparecer todos estos elementos.</Phrase>
      <Phrase Key="Add_Volume_Link">Agregar Nuevo Volumen</Phrase>
      <Phrase Key="Add_Volume_Desc">Agregue un nuevo volumen relacionado a este grupo de elementos.&lt;br /&gt;&lt;br /&gt;</Phrase>
      <Phrase Key="Mass_Update_Link">Actualización Masiva de Comportamientos de Elementos</Phrase>
      <Phrase Key="Mass_Update_Desc">Esto permite establecer comportamientos a nivel de elemento para todos los elementos dentro de este grupo de elementos, incluidas las colecciones bajo las que aparece, las marcas denominativas a la izquierda y qué tipos de visor son de acceso público.</Phrase>
    </Section>

  </Localization>
</SobekCM_Config>
