<?xml version="1.0" encoding="utf-8" ?>
<SobekCM_Config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://sobekrepository.org/schemas/sobekcm_config"
	xsi:schemaLocation="http://sobekrepository.org/schemas/sobekcm_config
		http://sobekrepository.org/schemas/sobekcm_config.xsd">
  <Localization Language="nl">

    <Section Name="Internal">
      <Phrase Key="Collection_Details_Title">Actieve en Inactieve Collecties</Phrase>
      <Phrase Key="New_Items_Title">Nieuw Toegevoegde of Gewijzigde Items</Phrase>
      <Phrase Key="Memory_Mgmt_Title">Huidig Geheugenprofiel</Phrase>
      <Phrase Key="Wordmarks_Title">Beeldmerken</Phrase>
      <Phrase Key="Build_Failures_Title">Logboek van Bouwfouten</Phrase>
      <Phrase Key="Unauthorized_Title">Alleen voor Interne Gebruikers</Phrase>
      <Phrase Key="Unauthorized_Message">U bent niet bevoegd om deze weergave te openen.</Phrase>
      <Phrase Key="Return_Home_Link">Klik hier om terug te keren naar de startpagina van de digitale bibliotheek.</Phrase>

      <Phrase Key="Wordmarks_Admin_Manage_Html"><![CDATA[Omdat u beheerder bent, kunt u <a href="{0}">de beeldmerken beheren vanuit het beheerscherm</a>.]]></Phrase>
      <Phrase Key="No_Wordmarks_Message">Geen beeldmerken in dit systeem</Phrase>
      <Phrase Key="Wordmarks_Admin_Add_Message">Beheerders kunnen beeldmerken toevoegen via de beheerschermen voor beeldmerken</Phrase>

      <Phrase Key="Build_Failures_Intro">De onderstaande gegevens tonen fouten die zijn opgetreden bij het laden van nieuwe items via de builder. Deze kunnen hieronder per maand en jaar worden weergegeven door de begin- en eindmaand te selecteren. Deze fouten blijven weergegeven totdat ze handmatig zijn gewist door een DLC-technicus of totdat het item na de fout of waarschuwing succesvol is geladen.</Phrase>
      <Phrase Key="Selected_Date_Range">Geselecteerd Datumbereik</Phrase>
      <Phrase Key="Build_Failures_Search_Prompt">De fouten en waarschuwingen die tijdens het bouwen zijn opgetreden, kunt u hieronder per maand doorzoeken:</Phrase>
      <Phrase Key="From_Label">Van:</Phrase>
      <Phrase Key="To_Label">Tot:</Phrase>
      <Phrase Key="Select_Range_Title">Bereik Selecteren</Phrase>
      <Phrase Key="Change_Date_Instructions">Om de weergegeven datum te wijzigen, kiest u hierboven uw data en klikt u op de knop GO.</Phrase>
      <Phrase Key="Build_Failures_Warnings_Header">Bouwfouten en Waarschuwingen</Phrase>
      <Phrase Key="No_Failures_Message">Geen onopgeloste waarschuwingen of fouten voor het geselecteerde datumbereik.</Phrase>
      <Phrase Key="Bibid_Vid_Header">BIBID : VID</Phrase>
      <Phrase Key="Mets_Type_Header">METS-TYPE</Phrase>
      <Phrase Key="Description_Header">BESCHRIJVING</Phrase>

      <Phrase Key="Global_Values_Header">GLOBALE WAARDEN</Phrase>
      <Phrase Key="Application_State_Header">WAARDEN VAN DE TOEPASSINGSSTATUS</Phrase>
      <Phrase Key="Local_Cache_State_Header">LOKAAL GECACHTE OBJECTEN</Phrase>
      <Phrase Key="Session_State_Header">WAARDEN VAN DE SESSIESTATUS</Phrase>
      <Phrase Key="Instance_Name_Header">INSTANTIENAAM</Phrase>
      <Phrase Key="Key_Header">SLEUTEL</Phrase>
      <Phrase Key="Object_Header">OBJECT</Phrase>
      <Phrase Key="None_Placeholder">( geen )</Phrase>
      <Phrase Key="Application_State_Error">Er is een fout opgetreden bij het ophalen van de geheugenbeheerinformatie van de toepassingsstatus</Phrase>
      <Phrase Key="Local_Cache_Error">Er is een fout opgetreden bij het ophalen van de beheerinformatie van de geheugencache</Phrase>
      <Phrase Key="Session_State_Error">Er is een fout opgetreden bij het ophalen van de geheugenbeheerinformatie van de sessiestatus</Phrase>

      <Phrase Key="Aggregations_Tree_Intro">Hieronder vindt u de volledige hoofdstructuur van alle aggregaties binnen deze bibliotheek. Dit omvat alle actieve aggregaties, evenals alle verborgen of inactieve collecties.</Phrase>
      <Phrase Key="View_Table_View_Link">Klik hier om de aggregaties in tabelweergave te bekijken</Phrase>
      <Phrase Key="Collapse_All">Alles Samenvouwen</Phrase>
      <Phrase Key="Expand_All">Alles Uitvouwen</Phrase>
      <Phrase Key="Collection_Hierarchy">Collectiehiërarchie</Phrase>
      <Phrase Key="Institutions">Instellingen</Phrase>

      <Phrase Key="Aggregations_List_Intro">Hieronder vindt u de volledige hoofdlijst van alle aggregaties binnen deze bibliotheek. Dit omvat alle actieve aggregaties, evenals alle verborgen of inactieve collecties.</Phrase>
      <Phrase Key="View_Tree_View_Link">Klik hier om de aggregaties in boomstructuur te bekijken</Phrase>
      <Phrase Key="Code_Header">CODE</Phrase>
      <Phrase Key="Type_Header">TYPE</Phrase>
      <Phrase Key="Name_Header">NAAM</Phrase>
      <Phrase Key="Active_Header">ACTIEF</Phrase>
      <Phrase Key="On_Home_Header">OP HOME</Phrase>
      <Phrase Key="Parent_Header">BOVENLIGGEND</Phrase>
      <Phrase Key="Search_Code_Placeholder">Zoek Code</Phrase>
      <Phrase Key="Search_Name_Placeholder">Zoek Naam</Phrase>

      <Phrase Key="No_New_Items_Message">GEEN NIEUWE ITEMS</Phrase>
      <Phrase Key="Date_Header">DATUM</Phrase>
      <Phrase Key="All_Types">ALLE</Phrase>
      <Phrase Key="Online_Edits">ONLINE BEWERKINGEN</Phrase>
      <Phrase Key="Online_Submits">ONLINE INZENDINGEN</Phrase>
      <Phrase Key="Visibility_Changes">ZICHTBAARHEIDSWIJZIGINGEN</Phrase>
      <Phrase Key="Bulk_Loaded">BULK GELADEN</Phrase>
      <Phrase Key="Post_Processed">NABEWERKT</Phrase>
      <Phrase Key="Large_Update_Count_Message">Er zijn de afgelopen week ongewoon veel updates geweest.</Phrase>
      <Phrase Key="Select_Update_Type_Message">Selecteer hierboven het tabblad met het updatetype om de details te bekijken.</Phrase>
      <Phrase Key="User_Header">GEBRUIKER</Phrase>
      <Phrase Key="No_Tracking_Info_Message">GEEN TRACKINGINFORMATIE VOOR UW SELECTIE.</Phrase>
      <Phrase Key="No_Info_Message">GEEN INFORMATIE VOOR UW SELECTIE.</Phrase>

      <Phrase Key="Month_1">Januari</Phrase>
      <Phrase Key="Month_2">Februari</Phrase>
      <Phrase Key="Month_3">Maart</Phrase>
      <Phrase Key="Month_4">April</Phrase>
      <Phrase Key="Month_5">Mei</Phrase>
      <Phrase Key="Month_6">Juni</Phrase>
      <Phrase Key="Month_7">Juli</Phrase>
      <Phrase Key="Month_8">Augustus</Phrase>
      <Phrase Key="Month_9">September</Phrase>
      <Phrase Key="Month_10">Oktober</Phrase>
      <Phrase Key="Month_11">November</Phrase>
      <Phrase Key="Month_12">December</Phrase>
    </Section>

  </Localization>
</SobekCM_Config>
