<?xml version="1.0" encoding="UTF-8" standalone="yes" ?>
<SobekCM_Config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://sobekrepository.org/schemas/sobekcm_config"
  xsi:schemaLocation="http://sobekrepository.org/schemas/sobekcm_config 
    http://sobekrepository.org/schemas/sobekcm_config.xsd">
    <Instances>
      <Instance name="Demo" active="true">
        <Connection_String type="MSSQL">data source=[DATABASE_SERVER];initial catalog=[DB_NAME];integrated security=Yes;</Connection_String>
        <Microservices>
		  <!-- You do not need to replace [BASEURL] below, the system does that itself at runtime.  -->
          <Add Key="Builder.Get_Builder_Settings" URL="[BASEURL]/engine/builder/settings/protobuf?IncludeDescs={0}" Protocol="PROTOBUF" />
          <Add Key="Configuration.Extensions" URL="[BASEURL]/engine/config/extensions/protobuf" Protocol="PROTOBUF" />
          <Add Key="Configuration.Metadata" URL="[BASEURL]/engine/config/metadata/protobuf" Protocol="PROTOBUF" />
          <Add Key="Configuration.OAI_PMH" URL="[BASEURL]/engine/config/oaipmh/protobuf" Protocol="PROTOBUF" />
          <Add Key="Items.ClearCache" URL="[BASEURL]/engine/items/cache/reset/json/{0}/{1}" Protocol="JSON" />
        </Microservices>
      </Instance>
	  <Instance name="Test" active="true">
        <Connection_String type="MSSQL">data source=[DATABASE_SERVER];initial catalog=[DB_NAME];user id=[DB_USER];password=[DB_PASSWORD];TrustServerCertificate=True;Encrypt=False;</Connection_String>
        <Microservices>
		  <!-- You do not need to replace [BASEURL] below, the system does that itself at runtime.  -->
          <Add Key="Builder.Get_Builder_Settings" URL="[BASEURL]/engine/builder/settings/protobuf?IncludeDescs={0}" Protocol="PROTOBUF" />
          <Add Key="Configuration.Extensions" URL="[BASEURL]/engine/config/extensions/protobuf" Protocol="PROTOBUF" />
          <Add Key="Configuration.Metadata" URL="[BASEURL]/engine/config/metadata/protobuf" Protocol="PROTOBUF" />
          <Add Key="Configuration.OAI_PMH" URL="[BASEURL]/engine/config/oaipmh/protobuf" Protocol="PROTOBUF" />
          <Add Key="Items.ClearCache" URL="[BASEURL]/engine/items/cache/reset/json/{0}/{1}" Protocol="JSON" />
        </Microservices>
      </Instance>
    </Instances>
  <Builder>
    <Ghostscript_Executable>C:\Program Files\gs\gs9.14\bin\gswin64c.exe</Ghostscript_Executable>
    <Imagemagick_Executable>C:\Program Files\ImageMagick-6.8.9-Q16\convert.exe</Imagemagick_Executable>
	<Tesseract_Executable>C:\Program Files\Tesseract-OCR</Tesseract_Executable>
	<LibreOffice_Executable>C:\Program Files\LibreOffice\program\soffice.com</LibreOffice_Executable>
  </Builder>
</SobekCM_Config>
