<?xml version="1.0" encoding="utf-8" ?>
<SobekCM_Config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://sobekrepository.org/schemas/sobekcm_config"
	xsi:schemaLocation="http://sobekrepository.org/schemas/sobekcm_config
		http://sobekrepository.org/schemas/sobekcm_config.xsd">
  <Localization Language="pt">

    <Section Name="Aggregation_Common">
      <Phrase Key="Go">Ir</Phrase>
      <Phrase Key="Search_Collection">Pesquisar na coleção</Phrase>
      <Phrase Key="Include_Non_Public_Items">Incluir itens não públicos</Phrase>
      <Phrase Key="Limit_By_Year">Limitar por ano</Phrase>
      <Phrase Key="Show_Only_Media">Mostrar apenas registros com imagens ou outras mídias</Phrase>
      <Phrase Key="Through">até</Phrase>
      <Phrase Key="Include_Full_Text">Incluir o texto do documento na pesquisa</Phrase>
      <Phrase Key="Search_All_Collections">Pesquisar em todas as coleções</Phrase>
      <Phrase Key="Home">Início</Phrase>
      <Phrase Key="Quick_Tips_Html"><![CDATA[<div id="sbk_QuickTips">
  <h1>Dicas Rápidas</h1>
  <ul>
    <li>Pesquisa Booleana
      <p class="tagline"> Use <b>+</b> ou <i><b>e</b></i> entre os termos para encontrar registros com <b>todos</b> os termos.<br />
      Use <b>-</b> ou <i><b>ou</b></i> entre os termos para encontrar registros com <b>qualquer um</b> dos termos.<br />
      Use <b>!</b> ou <i><b>e não</b></i> entre os termos para excluir registros com esses termos.<br />
      Se nada for indicado, <b><i>e</i></b> é o padrão.<br />
      EXEMPLO: natural e não história
      </p>
    </li>
    <li>Pesquisa de Frases
      <p class="tagline"> Colocar aspas em torno de uma frase pesquisará a frase exata.<br />
      EXEMPLO: &quot;história natural&quot;</p>
    </li>
    <li>Maiúsculas e Minúsculas
      <p class="tagline"> As pesquisas não diferenciam maiúsculas de minúsculas.<br />
      EXEMPLO: Pesquisar <i>NATURAL</i> retornará os mesmos resultados que pesquisar <i>natural</i></p>
    </li>
    <li>Sinais Diacríticos
      <p class="tagline"> Para pesquisar palavras com sinais diacríticos, o caractere deve ser digitado na caixa de pesquisa.<br />
      EXEMPLO: Pesquisar <i>Précédent</i> é uma pesquisa diferente de <i>Precedent</i></p>
    </li>
  </ul>
</div>
<br />]]></Phrase>
    </Section>

    <Section Name="Advanced_Search">
      <Phrase Key="Search_For">Pesquisar por:</Phrase>
      <Phrase Key="In">em</Phrase>
      <Phrase Key="Search">Pesquisar</Phrase>
      <Phrase Key="Search_Options">Opções de Pesquisa</Phrase>
      <Phrase Key="Precision">Precisão</Phrase>
      <Phrase Key="Contains_Exactly">Contém exatamente os termos de pesquisa</Phrase>
      <Phrase Key="Contains_Any_Form">Contém qualquer forma dos termos de pesquisa</Phrase>
      <Phrase Key="Contains_Meaning">Contém o termo de pesquisa ou termos de significado semelhante</Phrase>
      <Phrase Key="And">e</Phrase>
      <Phrase Key="Or">ou</Phrase>
      <Phrase Key="And_Not">e não</Phrase>
    </Section>

    <Section Name="Item_Count">
      <Phrase Key="Resource_Count_In_Collection">Número de Recursos na Coleção</Phrase>
      <Phrase Key="Description">Abaixo está o número de títulos e itens de todos os itens dentro desta coleção, incluindo itens atualmente disponíveis on-line, bem como itens em processamento.</Phrase>
      <Phrase Key="Visibility">VISIBILIDADE</Phrase>
      <Phrase Key="Title_Count">NÚMERO DE TÍTULOS</Phrase>
      <Phrase Key="Item_Count">NÚMERO DE ITENS</Phrase>
      <Phrase Key="Page_Count">NÚMERO DE PÁGINAS</Phrase>
      <Phrase Key="File_Count">NÚMERO DE ARQUIVOS</Phrase>
    </Section>

    <Section Name="Full_Text_Search">
      <Phrase Key="Search_Full_Text">Pesquisar texto completo</Phrase>
    </Section>

    <Section Name="DLOC_Search">
      <Phrase Key="Include_Newspapers">Incluir jornais?</Phrase>
    </Section>

    <Section Name="Map_Common">
      <Phrase Key="Google_Maps_Not_Enabled_Html"><![CDATA[<p style="font-weight:bold; text-size:1.1em">ERRO: O Google Maps não está habilitado nesta instância do SobekCM!</p>
<p>Para habilitá-lo, crie uma chave de API do Google Maps e insira-a nas configurações gerais do sistema.</p>
<p>Informações sobre este processo podem ser encontradas aqui: <a href="http://sobekrepository.org/software/config/googlemaps">http://sobekrepository.org/software/config/googlemaps</a>.</p>]]></Phrase>
    </Section>

    <Section Name="Map_Browse">
      <Phrase Key="Select_Point_Instructions_Html"><![CDATA[Selecione um ponto abaixo para visualizar os itens desse local ou relacionados a ele.<br />Pressione a tecla SHIFT e arraste um retângulo no mapa para dar zoom.]]></Phrase>
      <Phrase Key="Faq_Html"><![CDATA[  <h1>Perguntas Frequentes</h1>
  <ul>
    <li>O que representam os pontos no mapa?
      <p class="tagline"> Os pontos no mapa correspondem a material desta coleção. Em geral, o ponto representa a origem do material. Para jornais, o ponto é o local de publicação ou o público atendido pelo título do jornal. Para fotografias, isso geralmente corresponde ao local onde a fotografia foi tirada, que costuma ser o mesmo que o assunto.</p>
    </li>
    <li>Como posso saber quais títulos estão vinculados a cada ponto?
      <p class="tagline"> Uma janela informativa aparecerá quando você selecionar qualquer um dos pontos no mapa. Essa janela inclui miniaturas e links para cada item. Para mais informações sobre todos os títulos, você pode selecionar o link na parte inferior da janela.</p>
    </li>
    <li>Posso pesquisar a partir deste mapa?
      <p class="tagline"> Para realizar uma pesquisa, use a função PESQUISA NO MAPA encontrada em sua própria aba.</p>
    </li>
    <li>Alguns pontos não parecem estar sobre nenhum edifício ou local específico?
      <p class="tagline"> Muitas vezes, o ponto central de uma cidade é usado, mas, em outras vezes, um marco específico pode ser indicado. Se o ponto não parecer estar sobre nenhum marco, provavelmente é apenas o centro da cidade.</p>
    </li>
  </ul>]]></Phrase>
      <Phrase Key="More_Info_Single_Title">Clique aqui para mais informações sobre este título</Phrase>
      <Phrase Key="More_Info_Multiple_Titles">Clique aqui para mais informações sobre estes {0} títulos</Phrase>
    </Section>

    <Section Name="Map_Search">
      <Phrase Key="Find_Address">Localizar Endereço</Phrase>
      <Phrase Key="Address">Endereço</Phrase>
      <Phrase Key="Locate">Localizar</Phrase>
      <Phrase Key="Point_Disabled_Instructions_Html"><![CDATA[<span style="line-height:160%"> &nbsp; &nbsp; 1. Use o botão <i>Selecionar Área</i> e clique para selecionar os cantos opostos e desenhar um retângulo de pesquisa no mapa &nbsp; &nbsp; <br /> &nbsp; &nbsp; 2. Pressione o botão <i>Pesquisar</i> para ver os resultados &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; ( <a href="#FAQ">mais ajuda</a> )</span>]]></Phrase>
      <Phrase Key="Instructions_Html"><![CDATA[<div class="sbkMsav_InstructionsLink" id="MapInstructionsLink" style="display:block" >
  <a href="" onclick="return show_map_instructions();">Clique aqui para ver as instruções desta interface de pesquisa</a>
</div>
<div class="sbkMsav_Instructions" id="MapInstructions" style="display:none" >
  <table>
    <tr><td colspan="2">1. Use um dos métodos abaixo para definir sua pesquisa geográfica:</td></tr>
    <tr><td style="width:50px;">&nbsp;</td><td>a. Digite um endereço e pressione <i>Localizar Endereço</i> para localizá-lo, <i>ou</i></td></tr>
    <tr><td>&nbsp;</td><td>b. Pressione o botão <i>Selecionar Área</i> e clique para selecionar dois cantos opostos, <i>ou</i></td></tr>
    <tr><td>&nbsp;</td><td>c. Pressione o botão <i>Selecionar Ponto</i> e clique para selecionar um único ponto</td></tr>
    <tr><td colspan="2">2. Pressione o botão <i>Pesquisar</i> para ver os resultados &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; ( <a href="#FAQ">mais ajuda</a> )</td></tr>
  </table>
</div>]]></Phrase>
      <Phrase Key="Faq_Point_Enabled_Html"><![CDATA[  <h1>Perguntas Frequentes sobre Pesquisa no Mapa</h1>
  <ul>
    <li>Como pesquiso?
      <p class="tagline">Para realizar uma pesquisa, primeiro você precisa definir sua área ou ponto de interesse e, em seguida, realizar a pesquisa. Existem várias maneiras de definir sua área de interesse. Você pode digitar um endereço para pesquisar ou pode desenhar uma região ou ponto no mapa. Depois de definir sua pesquisa, clique no botão <i>Pesquisar</i> para descobrir quaisquer correspondências para esse local.</p>
      <p class="tagline">Para pesquisar endereços, digite um endereço e clique no botão <i>Localizar Endereço</i>. Você também pode usar nomes de marcos importantes, embora endereços costumem funcionar melhor. Certifique-se de incluir também a cidade e o estado em sua pesquisa. Assim que o endereço for localizado no mapa, clique em <i>Pesquisar</i> para descobrir imagens aéreas que incluem esse local. </p>
      <p class="tagline">Para pesquisar por mapa, clique em <i>Clique para Selecionar Área</i> ou <i>Clique para Selecionar Ponto</i> no mapa. Ao usar Selecionar Área, clique em um ponto inicial no mapa e depois clique no canto oposto para criar um retângulo. Ao clicar em <i>Pesquisar</i> acima do mapa, você obterá os resultados correspondentes a essa área. Com Selecionar Ponto, escolha um local específico e clique em Pesquisar.</p>
    </li>
    <li>Estou tendo dificuldade em selecionar uma área
      <p class="tagline">Selecionar uma área retangular para pesquisar é simples assim que você entende a técnica. Primeiro, selecione o botão <i>Clique para Selecionar Área</i> no mapa. Em seguida, mova-se para o canto superior esquerdo da região que deseja pesquisar e clique e solte o botão esquerdo do mouse. Ao mover o mouse agora, você notará que um retângulo está sendo desenhado, representando sua região. Ao clicar e soltar o mouse novamente, você define o canto inferior direito da região a pesquisar. Não pressione o botão do mouse e arraste o mouse, pois isso arrastará o mapa e não definirá uma região para selecionar. Depois que sua região for corretamente identificada, pressione o botão <i>Pesquisar</i> para visualizar os resultados correspondentes.</p>
    </li>
    <li>Estou tendo dificuldade em pesquisar por endereço
      <p class="tagline">Certifique-se de digitar o endereço completo, incluindo estado e país. Você também pode tentar usar o nome de um marco importante, mas usar um endereço costuma funcionar melhor. Depois de digitar o endereço ou o nome do marco importante, pressione o botão <i>Localizar Endereço</i>. Observe o mapa e verifique se o local encontrado no mapa corresponde à pesquisa desejada. Em seguida, pressione o botão <i>Pesquisar</i> para visualizar os resultados correspondentes.</p>
    </li>
    <li>O que está sendo pesquisado?
      <p class="tagline">Os dados pesquisados dependem do tipo de material. Para jornais, é pesquisado o local de publicação. Para mapas, é pesquisada a cobertura geográfica. E para fotografias, é pesquisado o local onde a fotografia foi tirada.</p>
    </li>
    <li>Por que tão poucos resultados?
      <p class="tagline"> Esta interface está em fase de teste beta, à medida que adicionamos mais informações de coordenadas ao nosso banco de dados de pesquisa. Volte com frequência para acompanhar nosso progresso!</p>
    </li>
  </ul>]]></Phrase>
      <Phrase Key="Faq_Point_Disabled_Html"><![CDATA[  <h1>Perguntas Frequentes sobre Pesquisa no Mapa</h1>
  <ul>
    <li>Como pesquiso?
      <p class="tagline">Para realizar uma pesquisa, primeiro você precisa definir sua área de interesse e, em seguida, realizar a pesquisa. Para definir uma área, clique em <i>Clique para Selecionar Área</i> no mapa. Em seguida, clique em um ponto inicial no mapa e depois clique no canto oposto para criar um retângulo. Ao clicar em <i>Pesquisar</i> acima do mapa, você obterá os resultados correspondentes a essa área.</p>
    </li>
    <li>Estou tendo dificuldade em selecionar uma área
      <p class="tagline">Selecionar uma área retangular para pesquisar é simples assim que você entende a técnica. Primeiro, selecione o botão <i>Clique para Selecionar Área</i> no mapa. Em seguida, mova-se para o canto superior esquerdo da região que deseja pesquisar e clique e solte o botão esquerdo do mouse. Ao mover o mouse agora, você notará que um retângulo está sendo desenhado, representando sua região. Ao clicar e soltar o mouse novamente, você define o canto inferior direito da região a pesquisar. Não pressione o botão do mouse e arraste o mouse, pois isso arrastará o mapa e não definirá uma região para selecionar. Depois que sua região for corretamente identificada, pressione o botão <i>Pesquisar</i> para visualizar os resultados correspondentes.</p>
    </li>
    <li>Por que não posso pesquisar por endereço ou por um ponto?
      <p class="tagline">Esta coleção é composta principalmente por pontos, portanto a pesquisa por área é muito mais eficaz do que a pesquisa por ponto.</p>
    </li>
    <li>O que está sendo pesquisado?
      <p class="tagline">Os dados pesquisados dependem do tipo de material. Para jornais, é pesquisado o local de publicação. Para mapas, é pesquisada a cobertura geográfica. E para fotografias, é pesquisado o local onde a fotografia foi tirada.</p>
    </li>
    <li>Por que tão poucos resultados?
      <p class="tagline"> Esta interface está em fase de teste beta, à medida que adicionamos mais informações de coordenadas ao nosso banco de dados de pesquisa. Volte com frequência para acompanhar nosso progresso!</p>
    </li>
  </ul>]]></Phrase>
    </Section>

    <Section Name="Newspaper_Search">
      <Phrase Key="Full_Citation">Citação Completa</Phrase>
      <Phrase Key="Full_Text">Texto Completo</Phrase>
      <Phrase Key="Newspaper_Title">Título do Jornal</Phrase>
      <Phrase Key="Location">Localização</Phrase>
    </Section>

    <Section Name="Metadata_Browse">
      <Phrase Key="Browse_By">Navegar por</Phrase>
      <Phrase Key="Browse_By_Colon">NAVEGAR POR:</Phrase>
      <Phrase Key="Public_Browses">Navegações Públicas</Phrase>
      <Phrase Key="Internal_Browses">Navegações Internas</Phrase>
      <Phrase Key="Browses">Navegações</Phrase>
      <Phrase Key="Select_Field_Prompt">Selecione um campo de metadados para navegar na lista à esquerda</Phrase>
      <Phrase Key="No_Matching_Values">NENHUM VALOR CORRESPONDENTE</Phrase>
    </Section>

    <Section Name="Tiles_Home">
      <Phrase Key="Varies">( varia )</Phrase>
    </Section>

    <Section Name="Thumbnails_Home">
      <Phrase Key="Collection_Items">Itens da Coleção</Phrase>
      <Phrase Key="Showing_Items_Out_Of">Mostrando 20 itens de {0}</Phrase>
      <Phrase Key="View_All">Ver todos</Phrase>
    </Section>

    <Section Name="Usage_Statistics">
      <Phrase Key="Title_Collection_Views">Histórico de Uso em Nível de Coleção</Phrase>
      <Phrase Key="Title_Item_Views">Histórico de Uso de Itens</Phrase>
      <Phrase Key="Title_Top_Titles">Títulos Mais Acessados</Phrase>
      <Phrase Key="Title_Top_Items">Itens Mais Acessados</Phrase>
      <Phrase Key="Title_Definitions">Definições dos Termos Utilizados</Phrase>

      <Phrase Key="Tab_Collection_Views">VISUALIZAÇÕES DA COLEÇÃO</Phrase>
      <Phrase Key="Tab_Item_Views">VISUALIZAÇÕES DE ITENS</Phrase>
      <Phrase Key="Tab_Top_Titles">TÍTULOS PRINCIPAIS</Phrase>
      <Phrase Key="Tab_Top_Items">ITENS PRINCIPAIS</Phrase>
      <Phrase Key="Tab_Definitions">DEFINIÇÕES</Phrase>

      <Phrase Key="Month_1">Janeiro</Phrase>
      <Phrase Key="Month_2">Fevereiro</Phrase>
      <Phrase Key="Month_3">Março</Phrase>
      <Phrase Key="Month_4">Abril</Phrase>
      <Phrase Key="Month_5">Maio</Phrase>
      <Phrase Key="Month_6">Junho</Phrase>
      <Phrase Key="Month_7">Julho</Phrase>
      <Phrase Key="Month_8">Agosto</Phrase>
      <Phrase Key="Month_9">Setembro</Phrase>
      <Phrase Key="Month_10">Outubro</Phrase>
      <Phrase Key="Month_11">Novembro</Phrase>
      <Phrase Key="Month_12">Dezembro</Phrase>

      <Phrase Key="Collection_History_Intro">Abaixo é exibido o histórico de uso desta coleção. Este histórico inclui apenas as visualizações de nível superior da coleção.</Phrase>
      <Phrase Key="Item_History_Intro">Abaixo é exibido o histórico de uso dos itens desta coleção.</Phrase>
      <Phrase Key="Items_By_Collection_Intro">Abaixo aparecem os itens mais utilizados desta coleção.</Phrase>
      <Phrase Key="Titles_By_Collection_Intro">Abaixo aparecem os títulos mais utilizados por coleção.</Phrase>
      <Phrase Key="Definitions_Link_Sentence"><![CDATA[A <a href="{0}">página de definições</a> fornece mais detalhes sobre as estatísticas e os termos usados abaixo.]]></Phrase>

      <Phrase Key="Year_Statistics_Suffix"> ESTATÍSTICAS</Phrase>
      <Phrase Key="Total">TOTAL</Phrase>

      <Phrase Key="Date">DATA</Phrase>
      <Phrase Key="Total_Views_Html"><![CDATA[TOTAL DE<br />VISUALIZAÇÕES]]></Phrase>
      <Phrase Key="Visits">VISITAS</Phrase>
      <Phrase Key="Main_Pages_Html"><![CDATA[PÁGINAS<br />PRINCIPAIS]]></Phrase>
      <Phrase Key="Browses">NAVEGAÇÕES</Phrase>
      <Phrase Key="Search_Results_Html"><![CDATA[RESULTADOS<br />DE PESQUISA]]></Phrase>
      <Phrase Key="Title_Views_Html"><![CDATA[VISUALIZAÇÕES<br />DE TÍTULOS]]></Phrase>
      <Phrase Key="Item_Views_Html"><![CDATA[VISUALIZAÇÕES<br />DE ITENS]]></Phrase>

      <Phrase Key="Jpeg_Views_Html"><![CDATA[VISUALIZAÇÕES<br />JPEG]]></Phrase>
      <Phrase Key="Zoomable_Views_Html"><![CDATA[VISUALIZAÇÕES<br />AMPLIÁVEIS]]></Phrase>
      <Phrase Key="Citation_Views_Html"><![CDATA[VISUALIZAÇÕES<br />DE CITAÇÃO]]></Phrase>
      <Phrase Key="Thumbnail_Views_Html"><![CDATA[VISUALIZAÇÕES<br />DE MINIATURA]]></Phrase>
      <Phrase Key="Text_Searches_Html"><![CDATA[PESQUISAS<br />DE TEXTO]]></Phrase>
      <Phrase Key="Flash_Views_Html"><![CDATA[VISUALIZAÇÕES<br />FLASH]]></Phrase>
      <Phrase Key="Map_Views_Html"><![CDATA[VISUALIZAÇÕES<br />DE MAPA]]></Phrase>
      <Phrase Key="Download_Views_Html"><![CDATA[DOWNLOADS]]></Phrase>
      <Phrase Key="Static_Views_Html"><![CDATA[VISUALIZAÇÕES<br />ESTÁTICAS]]></Phrase>

      <Phrase Key="Bibid">BIBID</Phrase>
      <Phrase Key="Vid">VID</Phrase>
      <Phrase Key="Title">TÍTULO</Phrase>
      <Phrase Key="Views">VISUALIZAÇÕES</Phrase>

      <Phrase Key="Definitions_Html"><![CDATA[<p>Os seguintes termos são definidos abaixo:</p>

<table width="600px" border="0" align="center">
  <tr>
    <td><a href="#Collection_Hierarchy">Hierarquia de Coleções</a></td>
    <td><a href="#Collection_Groups">Grupos de Coleções</a></td>
    <td><a href="#Collections">Coleções</a></td>
  </tr>
  <tr>
    <td><a href="#SubCollections">Subcoleções</a></td>
    <td><a href="#Views">Visualizações</a></td>
    <td><a href="#Visits">Visitas</a></td>
  </tr>
  <tr>
    <td><a href="#Main_Pages">Páginas Principais</a></td>
    <td><a href="#Browses">Navegações</a></td>
    <td><a href="#Titles_Items">Títulos e Itens</a></td>
  </tr>
  <tr>
    <td><a href="#Title_Views">Visualizações de Títulos</a></td>
    <td><a href="#Item_Views">Visualizações de Itens</a></td>
    <td><a href="#Citation_Views">Visualizações de Citação</a></td>
  </tr>
  <tr>
    <td><a href="#Text_Searches">Pesquisas de Texto</a></td>
    <td><a href="#Static_Views">Visualizações Estáticas</a></td>
    <td>&nbsp;</td>
  </tr>
</table>

<h2>Termos Definidos</h2>

<a name="Collection_Hierarchy" ></a>
<h3>HIERARQUIA DE COLEÇÕES</h3>
<p>As coleções são organizadas por Grupos de Coleções, que contêm Coleções, e as Coleções contêm Subcoleções. Essa organização hierárquica permite pesquisas e navegações gerais no nível do Grupo de Coleções e pesquisas mais detalhadas no nível da Coleção, para uma usabilidade ideal conforme as diversas necessidades dos usuários. <br /><br />
Ao ler as estatísticas por Coleção, as visualizações e pesquisas feitas a partir da página principal e das páginas de Grupos de Coleções não estão dentro das coleções e, portanto, não são incluídas nas estatísticas da Coleção.</p>

<a name="Collection_Groups" ></a>
<h3>GRUPOS DE COLEÇÕES</h3>
<p>Grupos de coleções são agregações de coleções nesta biblioteca. Os Grupos de Coleções simplificam a pesquisa em várias Coleções simultaneamente. Os Grupos de Coleções também conectam materiais menos relacionados entre si, aumentando a probabilidade de descobertas fortuitas, em que usuários pesquisando um tópico podem facilmente encontrar algo relacionado e criticamente útil que não haviam considerado. Assim, os Grupos de Coleções geralmente são construídos por tema. <br /><br />
Como um agregado, as visualizações no nível do Grupo de Coleções não contam para nenhuma Coleção específica e não são incluídas nas estatísticas baseadas em Coleções.</p>

<a name="Collections" ></a>
<h3>COLEÇÕES</h3>
<p>As coleções são o principal método para definir e reunir materiais relacionados e são as estruturas hierárquicas mais familiares para especialistas na área, parceiros e outros usuários internos. Uma única Coleção pode existir em vários Grupos de Coleções, e uma única Coleção pode ter muitas subcoleções.  <br /><br />
Um item pode estar em várias Coleções, mas uma Coleção é sempre selecionada como principal, de modo que todas as visualizações do item estarão dentro de uma única Coleção. </p>

<a name="SubCollections" ></a>
<h3>SUBCOLEÇÕES</h3>
<p>A menor unidade reunida é a Subcoleção. Um único item pode pertencer a várias Subcoleções dentro da mesma coleção, ou a várias Coleções e a Subcoleções dentro de cada Coleção. <br /><br />
Como todos os itens de Subcoleções terão uma Coleção principal, as estatísticas de uso das Subcoleções também são incluídas nas estatísticas de uso da Coleção. </p>

<a name="Views" ></a>
<h3>VISUALIZAÇÕES</h3>
<p>As visualizações são os acessos reais às páginas. Cada vez que uma pessoa acessa {0}, isso conta como uma visualização. As estatísticas de {0} são depuradas para que as visualizações provenientes de robôs, usados pelos mecanismos de pesquisa para indexar sites, sejam removidas. Se não fossem removidas, as visualizações em todas as coleções e itens seriam muito mais altas. As estatísticas de uso da web são sempre um tanto falíveis, e esta é uma das formas de garantir estatísticas de uso de melhor qualidade. <br /><br />
Algumas estatísticas da web contam "downloads de itens de página" como visualizações, o que é altamente impreciso, pois cada página possui vários itens. Por exemplo, a página principal da biblioteca digital, {0}, inclui o HTML da página e todas as imagens. Se as estatísticas contassem cada "download de item de página" como um acesso, cada visualização única da página principal seria contada como mais de 30 "downloads de itens de página". Para complicar ainda mais, alguns repositórios digitais oferecem apenas downloads em PDF para que os usuários visualizem itens. Esses repositórios digitais registram "downloads de itens", que são os mais equivalentes às nossas estatísticas de uso por "item". </p>

<a name="Visits" ></a>
<h3>VISITAS</h3>
<p>Cada vez que uma pessoa acessa esta biblioteca digital, isso conta como uma visualização, mas isso significa que um único usuário que acessa o site repetidamente pode registrar um grande número de visualizações. As visitas oferecem uma estatística melhor de quantos usuários "únicos" diferentes estão usando o site. As visitas incluem todas as visualizações a partir de um determinado endereço IP (o endereço web do computador do usuário no momento da conexão), conforme registrado no arquivo de log da web dentro de uma hora.  <br /><br />
Esta também é uma estatística falível, já que os endereços IP dos usuários são frequentemente reutilizados nas redes. Conectar-se a uma rede sem fio gratuita significa que essa rede atribui um endereço IP ao seu computador e, quando você se desconecta, esse endereço IP será atribuído ao próximo usuário que precisar dele. Para um recurso baseado em campus com tantos usuários conectando-se via VPN ou a partir do campus, a margem de erro aumenta para estatísticas baseadas em visitas. </p>

<a name="Main_Pages" ></a>
<h3>PÁGINAS PRINCIPAIS</h3>
<p>Para cada um dos elementos na Hierarquia de Coleções, as páginas principais são as páginas iniciais ou de destino, as páginas de pesquisa, as páginas de contato e quaisquer outras páginas complementares.  <br /><br />
Quando os usuários realizam uma pesquisa através das páginas da Coleção e visualizam os resultados, essas páginas de resultados de pesquisa também são incluídas nas páginas principais. Assim que um usuário clica em um dos itens nos resultados da pesquisa, esse item deixa de ser uma das páginas principais. As visualizações de resultados de pesquisa nos modos miniatura, tabela e resumido estão todas incluídas nas páginas principais da Coleção.</p>

<a name="Browses" ></a>
<h3>NAVEGAÇÕES</h3>
<p>As navegações incluem visualizações em relação às navegações padrão, como <i>Todos os Itens</i> e <i>Novos Itens</i> (quando disponíveis).  Também incluem todas as visualizações de navegações não padrão.</p>

<a name="Search_Results" ></a>
<h3>RESULTADOS DE PESQUISA</h3>
<p>As visualizações de resultados de pesquisa incluem cada visualização de uma seção de resultados de pesquisa, incluindo pesquisas que não retornaram resultados.</p>

<a name="Titles_Items" ></a>
<h3>TÍTULOS E ITENS</h3>
<p>Os títulos correspondem a unidades bibliográficas individuais, como um livro ou um jornal. Os itens são os volumes dentro dos títulos. Assim, um livro pode ter um título e um item, enquanto um jornal pode ter um título e milhares de itens.  <br /><br />
Títulos com apenas um item (ou volume) parecem funcionalmente equivalentes para os usuários. No entanto, para itens como jornais, um único título pode corresponder a milhares de itens. <br /><br />
Os leitores da documentação técnica e os usuários internos identificam títulos por seu identificador bibliográfico (BIBID) e itens dentro de cada título pelo BIBID mais o identificador de volume (VID).</p>

<a name="Title_Views" ></a>
<h3>VISUALIZAÇÕES DE TÍTULOS</h3>
<p>As visualizações de títulos incluem todas as visualizações no nível do título.</p>

<a name="Item_Views" ></a>
<h3>VISUALIZAÇÕES DE ITENS</h3>
<p>As visualizações de itens incluem apenas visualizações no nível do item.</p>

<a name="Citation_Views" ></a>
<h3>VISUALIZAÇÕES DE CITAÇÃO</h3>
<p>Para cada item, a visualização padrão é definida como o item de página (ampliável ou estático, com base na seleção do usuário e na disponibilidade de cada uma das visualizações para aquele item). Todos os itens também incluem uma "Visualização de Citação", que não é selecionada por padrão. As "Visualizações de Citação" contam o número de vezes que um usuário escolhe a "Visualização de Citação" para um item.</p>

<a name="Text_Searches" ></a>
<h3>PESQUISAS DE TEXTO</h3>
<p>As pesquisas de texto são pesquisas no nível do item, dentro do texto de um único documento.  Elas retornam as páginas em que o termo ou os termos aparecem.</p>

<a name="Static_Views" ></a>
<h3>VISUALIZAÇÕES ESTÁTICAS</h3>
<p>Para cada item nesta biblioteca, uma página estática é gerada para que os mecanismos de pesquisa a indexem.  Quando um item aparece nos resultados de um mecanismo de pesquisa padrão, o link encaminha o usuário para a página estática.  Qualquer navegação adicional leva o usuário para as páginas geradas dinamicamente dentro desta biblioteca.  Foram feitos esforços para remover desses números todas as visualizações provenientes da indexação por mecanismos de pesquisa.  Esses números representam o número de usuários que entraram nesta biblioteca a partir de um mecanismo de pesquisa.</p>]]></Phrase>
    </Section>

  </Localization>
</SobekCM_Config>
