<?xml version="1.0" encoding="utf-8" ?>
<SobekCM_Config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://sobekrepository.org/schemas/sobekcm_config"
	xsi:schemaLocation="http://sobekrepository.org/schemas/sobekcm_config
		http://sobekrepository.org/schemas/sobekcm_config.xsd">
  <Localization Language="pt">

    <Section Name="HeaderFooter">
      <Phrase Key="Home_Suffix_Format">Início de {0}</Phrase>
      <Phrase Key="Staff_Login">acesso da equipe</Phrase>
      <Phrase Key="Log_Out">Sair</Phrase>
      <Phrase Key="My_Account_Possessive_Format">{1} de {0}</Phrase>
    </Section>

    <Section Name="MainMenus">
      <Phrase Key="Aggregation_Menu_Aria">Menu da coleção</Phrase>
      <Phrase Key="Search_Results_Menu_Aria">Menu de resultados da pesquisa</Phrase>
      <Phrase Key="User_Menu_Aria">Menu do usuário</Phrase>
      <Phrase Key="Home">INÍCIO</Phrase>
      <Phrase Key="Collection_Home_Format">INÍCIO {0}</Phrase>
      <Phrase Key="Sobek_Home_Format">INÍCIO {0}</Phrase>
      <Phrase Key="My_Sobek_Home_Format"><![CDATA[<span style="text-transform:lowercase">meu</span>{0} Início]]></Phrase>
      <Phrase Key="View_Items">VER ITENS</Phrase>
      <Phrase Key="View_All_Items">TODOS OS ITENS</Phrase>
      <Phrase Key="View_New_Items">ITENS RECENTES</Phrase>
      <Phrase Key="My_Collections">MINHAS COLEÇÕES</Phrase>
      <Phrase Key="Browse_Partners">EXPLORAR PARCEIROS</Phrase>
      <Phrase Key="Browse_By">EXPLORAR POR</Phrase>
      <Phrase Key="Map_Browse">Explorar por Mapa</Phrase>
      <Phrase Key="List_View">Vista de Lista</Phrase>
      <Phrase Key="Brief_View">Vista Resumida</Phrase>
      <Phrase Key="Tree_View">Vista em Árvore</Phrase>
      <Phrase Key="Other_Searches">Opções de Pesquisa</Phrase>
      <Phrase Key="Print_Action">Imprimir</Phrase>
      <Phrase Key="Send_Action">Enviar</Phrase>
      <Phrase Key="Save_Action">Salvar</Phrase>
      <Phrase Key="Share_Action">Compartilhar</Phrase>
      <Phrase Key="Add_Action">Adicionar</Phrase>
      <Phrase Key="Remove_Action">Remover</Phrase>
      <Phrase Key="Revise_Action">Revisar</Phrase>
      <Phrase Key="My_Library">Minha Biblioteca</Phrase>
      <Phrase Key="My_Account">Minha Conta</Phrase>
      <Phrase Key="Internal">Interno</Phrase>
      <Phrase Key="System_Admin">Administrador do Sistema</Phrase>
      <Phrase Key="Portal_Admin">Administrador do Portal</Phrase>
      <Phrase Key="User_Admin">Administrador de Usuários</Phrase>
      <Phrase Key="Advanced_Search">Pesquisa Avançada</Phrase>
      <Phrase Key="Collection_List">Lista de Coleções</Phrase>
      <Phrase Key="Collection_Hierarchy">Hierarquia da Coleção</Phrase>
      <Phrase Key="New_Items">Itens Novos</Phrase>
      <Phrase Key="Memory_Management">Gerenciamento de Memória</Phrase>
      <Phrase Key="Wordmarks">Logotipos</Phrase>
      <Phrase Key="Build_Failures">Falhas de Compilação</Phrase>
      <Phrase Key="Start_New_Item">Iniciar um novo item</Phrase>
      <Phrase Key="View_Submitted_Items">Ver meus itens enviados</Phrase>
      <Phrase Key="View_Item_Usage">Ver o uso dos meus itens</Phrase>
      <Phrase Key="View_Descriptive_Tags">Ver minhas etiquetas descritivas</Phrase>
      <Phrase Key="View_Bookshelves">Ver minhas estantes</Phrase>
      <Phrase Key="View_Saved_Searches">Ver minhas pesquisas salvas</Phrase>
      <Phrase Key="Account_Preferences">Preferências da conta</Phrase>
      <Phrase Key="Log_Out">Sair</Phrase>
      <Phrase Key="Common_Tasks">Tarefas Comuns</Phrase>
      <Phrase Key="Add_Collection_Wizard">Assistente de Adição de Coleção</Phrase>
      <Phrase Key="Edit_Current_Web_Skin">Editar Aparência Web Atual</Phrase>
      <Phrase Key="Users_And_Groups">Usuários e Grupos</Phrase>
      <Phrase Key="Appearance">Aparência</Phrase>
      <Phrase Key="Url_Portals">Portais de URL</Phrase>
      <Phrase Key="Web_Skins">Aparências Web</Phrase>
      <Phrase Key="Collections">Coleções</Phrase>
      <Phrase Key="Aggregation_Aliases">Aliases de Coleções</Phrase>
      <Phrase Key="Aggregation_Management">Gerenciamento de Coleções</Phrase>
      <Phrase Key="Thematic_Headings">Títulos Temáticos</Phrase>
      <Phrase Key="Items">Itens</Phrase>
      <Phrase Key="Default_Metadata">Metadados Padrão</Phrase>
      <Phrase Key="Wordmarks_Icons">Logotipos / Ícones</Phrase>
      <Phrase Key="Builder_Status">Status do Gerador</Phrase>
      <Phrase Key="Settings">Configurações</Phrase>
      <Phrase Key="Ip_Restriction_Ranges">Faixas de Restrição de IP</Phrase>
      <Phrase Key="System_Wide_Settings">Configurações Gerais do Sistema</Phrase>
      <Phrase Key="Reset_Cache">Redefinir Cache</Phrase>
      <Phrase Key="Users_And_Permissions">Usuários e Permissões</Phrase>
      <Phrase Key="User_Permissions_Reports">Relatórios de Permissões de Usuário</Phrase>
      <Phrase Key="Users_Requests">Solicitações de Usuários</Phrase>
      <Phrase Key="Web_Content_Pages">Páginas de Conteúdo Web</Phrase>
      <Phrase Key="Manage_Web_Content_Pages">Gerenciar Páginas de Conteúdo Web</Phrase>
      <Phrase Key="Web_Content_Recent_Updates">Atualizações Recentes de Conteúdo Web</Phrase>
      <Phrase Key="Web_Content_Usage_Reports">Relatórios de Uso de Conteúdo Web</Phrase>
      <Phrase Key="Extensions">Extensões</Phrase>
      <Phrase Key="Manage_Tei_Plugin">Gerenciar o plug-in TEI</Phrase>
    </Section>

  </Localization>
</SobekCM_Config>
