<?xml version="1.0" encoding="utf-8" ?>
<SobekCM_Config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://sobekrepository.org/schemas/sobekcm_config"
	xsi:schemaLocation="http://sobekrepository.org/schemas/sobekcm_config
		http://sobekrepository.org/schemas/sobekcm_config.xsd">
  <Localization Language="pt">

    <Section Name="Common">
      <Phrase Key="Go_To">Ir para:</Phrase>
      <Phrase Key="First_Page">Primeira Página</Phrase>
      <Phrase Key="Previous_Page">Página Anterior</Phrase>
      <Phrase Key="Next_Page">Próxima Página</Phrase>
      <Phrase Key="Last_Page">Última Página</Phrase>
      <Phrase Key="First">Primeira</Phrase>
      <Phrase Key="Previous">Anterior</Phrase>
      <Phrase Key="Next">Próxima</Phrase>
      <Phrase Key="Last">Última</Phrase>
    </Section>

    <Section Name="Text_Search">
      <Phrase Key="Search_This_Document">Pesquisar neste documento</Phrase>
      <Phrase Key="Go">Ir</Phrase>
      <Phrase Key="Your_Search_For">Sua pesquisa dentro deste documento por </Phrase>
      <Phrase Key="And_Not"> E NÃO </Phrase>
      <Phrase Key="And"> E </Phrase>
      <Phrase Key="Or"> OU </Phrase>
      <Phrase Key="Not">não </Phrase>
      <Phrase Key="Resulted_In"> resultou em </Phrase>
      <Phrase Key="Matching_Pages"> páginas correspondentes</Phrase>
      <Phrase Key="No_Matching_Pages">nenhuma página correspondente</Phrase>
      <Phrase Key="Expand_Results">Você pode ampliar seus resultados pesquisando por</Phrase>
      <Phrase Key="Restrict_Results">Você pode restringir seus resultados pesquisando por</Phrase>
    </Section>

    <Section Name="JPEG2000">
      <Phrase Key="Thumbnail">MINIATURA</Phrase>
    </Section>

    <Section Name="Citation_Common">
      <Phrase Key="Standard_View">VISUALIZAÇÃO PADRÃO</Phrase>
      <Phrase Key="Marc_View">VISUALIZAÇÃO MARC</Phrase>
      <Phrase Key="Metadata_View">METADADOS</Phrase>
      <Phrase Key="Usage_Statistics_View">ESTATÍSTICAS DE USO</Phrase>
      <Phrase Key="Dark_Item_Message">Este item está OCULTO e não pode ser visualizado no momento</Phrase>
      <Phrase Key="Menu_Standard_View">Visualização Padrão</Phrase>
      <Phrase Key="Menu_Marc_View">Visualização MARC</Phrase>
      <Phrase Key="Menu_Metadata">Metadados</Phrase>
      <Phrase Key="Menu_Usage_Statistics">Estatísticas de Uso</Phrase>
    </Section>

    <Section Name="Citation_Standard">
      <Phrase Key="Please_Log_On_Suffix">  Por favor, faça login para acessar.</Phrase>
      <Phrase Key="Please_Request_Access_Suffix">  Por favor, solicite acesso.</Phrase>
      <Phrase Key="Restricted_Item_Alt">Item Restrito</Phrase>
    </Section>

    <Section Name="Citation_MARC">
      <Phrase Key="Auto_Generated_Notice">O registro acima foi gerado automaticamente a partir do arquivo METS.</Phrase>
    </Section>

    <Section Name="Metadata_Links">
      <Phrase Key="Intro_Html"><![CDATA[Os dados (ou metadados) sobre este recurso digital estão disponíveis em uma variedade de formatos de metadados. Para mais informações sobre esses formatos, consulte a <a href="http://ufdc.ufl.edu/sobekcm/metadata">Seção de Metadados</a> das informações sobre <a href="http://ufdc.ufl.edu/sobekcm/">Aspectos Técnicos</a>.]]></Phrase>
      <Phrase Key="Ead_View_Link">Ver Instrumento de Pesquisa (EAD)</Phrase>
      <Phrase Key="Ead_Description"><![CDATA[Esta coleção arquivística é descrita com um instrumento de pesquisa eletrônico. Este arquivo de metadados contém toda a descrição arquivística e a lista de continentes deste material de arquivo. Este arquivo segue a norma estabelecida <a href="http://www.loc.gov/ead/">Encoded Archival Description</a> (EAD).]]></Phrase>
      <Phrase Key="Mets_View_Link">Ver METS/MODS Completo</Phrase>
      <Phrase Key="Mets_Description"><![CDATA[Este arquivo de metadados é o arquivo de metadados de origem enviado junto com todos os arquivos do recurso digital. Ele contém todas as informações de citação e processamento usadas para construir este recurso. Este arquivo segue a norma estabelecida <a href="http://www.loc.gov/standards/mets/">Metadata Encoding and Transmission Standard</a> (METS) e <a href="http://www.loc.gov/standards/mods/">Metadata Object Description Schema</a> (MODS). Este arquivo METS/MODS foi lido no momento em que este item foi carregado na memória e é usado para exibir todas as informações na visualização padrão e na visualização MARC da citação.]]></Phrase>
      <Phrase Key="Marc_Xml_View_Link">Ver Arquivo MARC XML</Phrase>
      <Phrase Key="Marc_Xml_Description"><![CDATA[Os metadados inseridos também são convertidos para o formato MARC XML, para interoperabilidade com outros sistemas de catálogos de bibliotecas. Isso representa os mesmos dados disponíveis na <a href="{0}">VISUALIZAÇÃO MARC</a>, exceto que este é um arquivo XML estático. Este arquivo segue o <a href="http://www.loc.gov/standards/marcxml/">esquema MarcXML</a>.]]></Phrase>
      <Phrase Key="Tei_View_Link">Ver Arquivo TEI/Texto</Phrase>
      <Phrase Key="Tei_Description"><![CDATA[O texto completo deste item também está disponível no arquivo para download da norma estabelecida <a href="http://www.tei-c.org/index.xml">Text Encoding Initiative</a> (TEI).]]></Phrase>
      <Phrase Key="Iiif_View_Link">Manifesto IIIF</Phrase>
      <Phrase Key="Iiif_Description"><![CDATA[Um <a href="https://iiif.io/get-started/how-iiif-works/">Manifesto IIIF</a> é um documento JSON-LD estruturado que reúne dados estruturais, metadados descritivos e links de conteúdo para informar a um visualizador digital como exibir e navegar em um objeto complexo, como um livro, manuscrito ou obra de arte.]]></Phrase>
    </Section>

    <Section Name="Item_Usage_Stats">
      <Phrase Key="Compiled_Monthly_Notice">As estatísticas de uso de itens são compiladas uma vez por mês a partir dos registros de uso do mês anterior e não contêm nenhuma informação pessoal.</Phrase>
      <Phrase Key="Viewed_Times_Sentence"><![CDATA[Este item foi visualizado <%HITS%> vezes em <%SESSIONS%> visitas.  Abaixo estão os detalhes do uso geral deste item dentro desta biblioteca.<br /><br />Para definições desses termos, consulte as <a href="{0}" target="_BLANK">definições na página principal de estatísticas</a>.]]></Phrase>
      <Phrase Key="Date">Data</Phrase>
      <Phrase Key="Views">Visualizações</Phrase>
      <Phrase Key="Visits">Visitas</Phrase>
      <Phrase Key="Year_Statistics_Suffix"> ESTATÍSTICAS</Phrase>
      <Phrase Key="Total">TOTAL</Phrase>
      <Phrase Key="No_Stats_Yet_Message">As estatísticas de uso são acumuladas mensalmente e ainda não foram registradas para este item.</Phrase>
      <Phrase Key="Month_1">Janeiro</Phrase>
      <Phrase Key="Month_2">Fevereiro</Phrase>
      <Phrase Key="Month_3">Março</Phrase>
      <Phrase Key="Month_4">Abril</Phrase>
      <Phrase Key="Month_5">Maio</Phrase>
      <Phrase Key="Month_6">Junho</Phrase>
      <Phrase Key="Month_7">Julho</Phrase>
      <Phrase Key="Month_8">Agosto</Phrase>
      <Phrase Key="Month_9">Setembro</Phrase>
      <Phrase Key="Month_10">Outubro</Phrase>
      <Phrase Key="Month_11">Novembro</Phrase>
      <Phrase Key="Month_12">Dezembro</Phrase>
    </Section>

    <Section Name="SearchEngineIndexing">
      <Phrase Key="Citation_Label">Citação</Phrase>
      <Phrase Key="Downloads_Label">Downloads</Phrase>
      <Phrase Key="Full_Text_Label">Texto Completo</Phrase>
      <Phrase Key="Unable_To_Read_File">Não foi possível ler o arquivo: {0}</Phrase>
    </Section>

    <Section Name="JPEG">
      <Phrase Key="Menu_Standard">Padrão</Phrase>
      <Phrase Key="Zoomable_Switch_Prompt">Clique na imagem abaixo para mudar para a versão ampliável</Phrase>
      <Phrase Key="Zoomable_Switch_Title">Clique na imagem para mudar para a versão ampliável</Phrase>
    </Section>

    <Section Name="PDF">
      <Phrase Key="Menu_Label_Default">PDF</Phrase>
      <Phrase Key="Error_No_Pdf_Found">ERRO: NÃO FOI POSSÍVEL ENCONTRAR UM ARQUIVO PDF PARA EXIBIR NESTE ITEM!</Phrase>
      <Phrase Key="Download_This_Pdf">Baixar este PDF</Phrase>
      <Phrase Key="Download_Adobe_Reader_Alt">Baixar Adobe Reader</Phrase>
    </Section>

    <Section Name="Text_Viewer">
      <Phrase Key="Menu_Text">Texto</Phrase>
      <Phrase Key="Unknown_Error">Erro desconhecido ao recuperar o texto</Phrase>
      <Phrase Key="No_Text_File">Não existe arquivo de texto para esta página</Phrase>
      <Phrase Key="No_Text_Recorded">Nenhum texto foi registrado para esta página</Phrase>
    </Section>

    <Section Name="TEI">
      <Phrase Key="Menu_Default_Label">TEI</Phrase>
      <Phrase Key="Transform_Error_Html"><![CDATA[Erro durante a transformação XSLT do TEI<br /><br />{0}]]></Phrase>
    </Section>

    <Section Name="HTML_Viewer">
      <Phrase Key="Menu_Default_Label">HTML</Phrase>
      <Phrase Key="Unable_To_Pull_Html_Sentence"><![CDATA[Não foi possível carregar a visualização html deste item ( <a href="{0}">fonte</a> )]]></Phrase>
      <Phrase Key="Apologize_Sentence">Pedimos desculpas pelo inconveniente.</Phrase>
      <Phrase Key="Report_Problem_Sentence"><![CDATA[Clique <a href="{0}">aqui</a> para relatar o problema.]]></Phrase>
    </Section>

    <Section Name="Embedded_Web_Content">
      <Phrase Key="Menu_Content_Label">Conteúdo</Phrase>
      <Phrase Key="Viewer_Title">Conteúdo</Phrase>
    </Section>

    <Section Name="EmbeddedVideo">
      <Phrase Key="Menu_Video_Label">Vídeo</Phrase>
      <Phrase Key="Viewer_Title">Vídeo em Transmissão</Phrase>
    </Section>

    <Section Name="Video">
      <Phrase Key="Menu_Video_Label">Vídeo</Phrase>
    </Section>

    <Section Name="Google_Map">
      <Phrase Key="Menu_Default_Label">Ver no Mapa!</Phrase>
      <Phrase Key="Menu_Map_Search">Pesquisa no Mapa</Phrase>
      <Phrase Key="Menu_Search_Results">Resultados da Pesquisa</Phrase>
      <Phrase Key="Menu_Map_Coverage">Cobertura do Mapa</Phrase>
      <Phrase Key="Search_Button">Pesquisar</Phrase>
      <Phrase Key="Find_Address_Button">Localizar Endereço</Phrase>
      <Phrase Key="Instructions_Step1_Html"><![CDATA[Use o botão <i>Selecionar Área</i> abaixo para desenhar um retângulo de pesquisa no mapa, ou digite um endereço e pressione <i>Localizar Endereço</i>.]]></Phrase>
      <Phrase Key="Instructions_Step2_Html"><![CDATA[Pressione o botão <i>Pesquisar</i> para ver os resultados]]></Phrase>
      <Phrase Key="Address_Label">Endereço:</Phrase>
      <Phrase Key="Address_Placeholder">Digite um endereço ( ex.: 12 Main Street, Gainesville Florida )</Phrase>
      <Phrase Key="No_Matches_Message"><![CDATA[Não houve correspondências dentro deste item para sua pesquisa geográfica. &nbsp; ]]></Phrase>
      <Phrase Key="Modify_Item_Search">Modificar pesquisa do item</Phrase>
      <Phrase Key="Modify_Search_Within_Flight">Modificar pesquisa dentro do voo</Phrase>
      <Phrase Key="Search_Other_Items_Link">Clique aqui para pesquisar outros itens na coleção atual</Phrase>
      <Phrase Key="Matching_Results_Intro">Os seguintes resultados correspondem à sua pesquisa geográfica:</Phrase>
      <Phrase Key="Zoom_To_Extent">Ajustar à extensão</Phrase>
      <Phrase Key="Zoom_To_Matches">Ajustar aos resultados</Phrase>
      <Phrase Key="Search_All_Flights">Pesquisar todos os voos</Phrase>
      <Phrase Key="Search_Entire_Collection">Pesquisar toda a coleção</Phrase>
      <Phrase Key="Google_Maps_Not_Enabled_Html"><![CDATA[<p style="font-weight:bold; text-size:1.1em">ERRO: O Google Maps não está habilitado nesta instância do SobekCM!</p>
              <p>Para habilitá-lo, crie uma chave de API do Google Maps e insira-a nas configurações gerais do sistema.</p>
              <p>Informações sobre este processo podem ser encontradas aqui: <a href="http://sobekrepository.org/software/config/googlemaps" style="color:white;">http://sobekrepository.org/software/config/googlemaps</a>.</p>]]></Phrase>
    </Section>

    <Section Name="GnuBooks_PageTurner">
      <Phrase Key="Menu_Default_Label">Visualizador de Páginas</Phrase>
      <Phrase Key="No_Javascript_Message">As apresentações do visualizador de páginas exigem um navegador com Javascript habilitado.</Phrase>
    </Section>

    <Section Name="MultiVolumes">
      <Phrase Key="Menu_All_Volumes">Todos os Volumes</Phrase>
      <Phrase Key="Menu_All_Issues">Todas as Edições</Phrase>
      <Phrase Key="Menu_Related_Maps">Mapas Relacionados</Phrase>
      <Phrase Key="Menu_Related_Flights">Voos Relacionados</Phrase>
      <Phrase Key="All_Volumes">Todos os Volumes</Phrase>
      <Phrase Key="All_Issues">Todas as Edições</Phrase>
      <Phrase Key="Related_Map_Sets">Conjuntos de Mapas Relacionados</Phrase>
      <Phrase Key="Related_Flights">Voos Relacionados</Phrase>
      <Phrase Key="Related_Titles_Heading">Títulos Relacionados</Phrase>
      <Phrase Key="Vid_Header">VID</Phrase>
      <Phrase Key="Level_1_Header">NÍVEL 1</Phrase>
      <Phrase Key="Level_2_Header">NÍVEL 2</Phrase>
      <Phrase Key="Level_3_Header">NÍVEL 3</Phrase>
      <Phrase Key="Access_Header">ACESSO</Phrase>
      <Phrase Key="Access_Dark">oculto</Phrase>
      <Phrase Key="Access_Private">privado</Phrase>
      <Phrase Key="Access_Public">público</Phrase>
      <Phrase Key="Access_Restricted">restrito</Phrase>
      <Phrase Key="Missing_Thumbnail_Alt">MINIATURA AUSENTE</Phrase>
      <Phrase Key="Dark_Suffix"> ( oculto )</Phrase>
      <Phrase Key="Private_Suffix"> ( privado )</Phrase>
      <Phrase Key="Restricted_Suffix"> ( algumas restrições se aplicam )</Phrase>
      <Phrase Key="All_Private_Or_Dark_Suffix"> ( todos privados ou ocultos )</Phrase>
    </Section>

    <Section Name="OpenTextbook_Common">
      <Phrase Key="Search_Label">Pesquisar: </Phrase>
      <Phrase Key="Zoom_Label">Zoom: </Phrase>
      <Phrase Key="Unnumbered_Page_Prefix">Sem numeração </Phrase>
      <Phrase Key="Page_Prefix">Página </Phrase>
      <Phrase Key="Previous_Section_Alt">Ir para a seção anterior</Phrase>
      <Phrase Key="Next_Section_Alt">Ir para a próxima seção</Phrase>
    </Section>

    <Section Name="OpenTextbook">
      <Phrase Key="Menu_Default_Label">Livro Didático Aberto</Phrase>
      <Phrase Key="Welcome_Heading">Bem-vindo ao OpenPublishing</Phrase>
      <Phrase Key="Welcome_Edit_Instructions"><![CDATA[Você pode editar seu item aqui, selecionando <i>Editar Conteúdo</i> no canto superior direito desta página.]]></Phrase>
      <Phrase Key="Welcome_Toc_Instructions"><![CDATA[Para atualizar seu índice e criar capítulos, use a ferramenta OpenPublishing, disponível no cabeçalho interno ou através da opção <i>GERENCIAR</i> no menu do item.]]></Phrase>
      <Phrase Key="Chapter_Edit_Instructions"><![CDATA[Você pode editar este capítulo aqui, selecionando <i>Editar Conteúdo</i> no canto superior direito desta página.]]></Phrase>
    </Section>

    <Section Name="OpenTextbook_Divisions">
      <Phrase Key="Menu_Default_Label">Editor Aberto</Phrase>
    </Section>

    <Section Name="Related_Images">
      <Phrase Key="Menu_Default_Label">Miniaturas</Phrase>
      <Phrase Key="Thumbnails_Per_Page_Suffix">miniaturas por página</Phrase>
      <Phrase Key="Go_To_Thumbnail_Label">Ir para a miniatura</Phrase>
      <Phrase Key="Switch_To_Small">Mudar para miniaturas pequenas</Phrase>
      <Phrase Key="Switch_To_Medium">Mudar para miniaturas médias</Phrase>
      <Phrase Key="Switch_To_Large">Mudar para miniaturas grandes</Phrase>
      <Phrase Key="All_Thumbnails">Todas as miniaturas</Phrase>
      <Phrase Key="Small_Alt">Pequena</Phrase>
      <Phrase Key="Medium_Alt">Média</Phrase>
      <Phrase Key="Large_Alt">Grande</Phrase>
      <Phrase Key="Missing_Thumbnail_Alt">MINIATURA AUSENTE</Phrase>
      <Phrase Key="Page_Number_Placeholder">(página {0})</Phrase>
    </Section>

    <Section Name="Downloads">
      <Phrase Key="Menu_Default_Label">Downloads</Phrase>
      <Phrase Key="Explanation_Has_Downloads">Este item possui os seguintes downloads:</Phrase>
      <Phrase Key="Explanation_Only_Downloads">Este item está disponível apenas como os seguintes downloads:</Phrase>
      <Phrase Key="Tiles_Available_Heading">Os seguintes blocos estão disponíveis para download:</Phrase>
      <Phrase Key="Jpeg2000_Available_Heading">Os seguintes arquivos JPEG2000 estão disponíveis para download:</Phrase>
      <Phrase Key="Save_Link_As_Instructions">Para baixar, clique com o botão direito no nome do bloco abaixo, selecione 'Salvar link como...' e salve o JPEG2000 em seu computador local.</Phrase>
      <Phrase Key="Save_Target_As_Instructions">Para baixar, clique com o botão direito no nome do bloco abaixo, selecione 'Salvar destino como...' e salve o JPEG2000 em seu computador local. </Phrase>
    </Section>

    <Section Name="Item_Tracking_Common">
      <Phrase Key="Header">Informações de Rastreamento</Phrase>
      <Phrase Key="Milestones_Tab">MARCOS</Phrase>
      <Phrase Key="History_Tab">HISTÓRICO</Phrase>
      <Phrase Key="Media_Tab">MÍDIA</Phrase>
      <Phrase Key="Archives_Tab">ARQUIVOS</Phrase>
      <Phrase Key="Directory_Tab">DIRETÓRIO</Phrase>
    </Section>

    <Section Name="Tracking">
      <Phrase Key="No_History_Message">O ITEM NÃO TEM HISTÓRICO</Phrase>
      <Phrase Key="History_Table_Title">HISTÓRICO DO ITEM</Phrase>
      <Phrase Key="Workflow_Name_Column">NOME DO FLUXO DE TRABALHO</Phrase>
      <Phrase Key="Completed_Date_Column">DATA DE CONCLUSÃO</Phrase>
      <Phrase Key="User_Column">USUÁRIO</Phrase>
      <Phrase Key="Location_Notes_Column">LOCALIZAÇÃO / NOTAS</Phrase>
    </Section>

    <Section Name="Archives">
      <Phrase Key="Header">Informações de Arquivamento</Phrase>
      <Phrase Key="No_Info_Message">O ITEM NÃO TEM INFORMAÇÕES DE ARQUIVAMENTO</Phrase>
      <Phrase Key="Table_Title">INFORMAÇÕES DO ARQUIVO ARQUIVADO</Phrase>
      <Phrase Key="Filename_Column">NOME DO ARQUIVO</Phrase>
      <Phrase Key="Size_Column">TAMANHO</Phrase>
      <Phrase Key="Original_Creation_Date_Column">DATA DE CRIAÇÃO ORIGINAL</Phrase>
      <Phrase Key="Stored_Date_Column">DATA DE ARMAZENAMENTO</Phrase>
      <Phrase Key="Status_Column">STATUS</Phrase>
      <Phrase Key="Location_Column">LOCALIZAÇÃO</Phrase>
    </Section>

    <Section Name="UF_Archives">
      <Phrase Key="Last_Write_Date_Column">DATA DA ÚLTIMA GRAVAÇÃO</Phrase>
      <Phrase Key="Archived_Date_Column">DATA DE ARQUIVAMENTO</Phrase>
    </Section>

    <Section Name="Directory">
      <Phrase Key="Page_Files_Header">ARQUIVOS DE PÁGINA</Phrase>
      <Phrase Key="Metadata_Files_Header">ARQUIVOS DE METADADOS</Phrase>
      <Phrase Key="Other_Files_Header">OUTROS ARQUIVOS</Phrase>
      <Phrase Key="Name_Column">NOME</Phrase>
      <Phrase Key="Date_Modified_Column">DATA DE MODIFICAÇÃO</Phrase>
      <Phrase Key="Type_Column">TIPO</Phrase>
      <Phrase Key="Size_Column">TAMANHO</Phrase>
      <Phrase Key="Page_Fallback_Label">PÁGINA</Phrase>
      <Phrase Key="Unable_To_Pull_Directory_Info">NÃO FOI POSSÍVEL OBTER AS INFORMAÇÕES DO DIRETÓRIO</Phrase>
      <Phrase Key="Generic_File_Suffix">Arquivo</Phrase>
      <Phrase Key="Jpeg_Image">Imagem JPEG</Phrase>
      <Phrase Key="Thumbnail_Image">Imagem em miniatura</Phrase>
      <Phrase Key="Qc_Jpeg_Image">Imagem JPEG de controle de qualidade</Phrase>
      <Phrase Key="Archival_Tiff_Image">Imagem TIFF de arquivamento</Phrase>
      <Phrase Key="Jpeg2000_Zoomable_Image">Imagem JPEG2000 com zoom</Phrase>
      <Phrase Key="Adobe_Acrobat_Document">Documento Adobe Acrobat</Phrase>
      <Phrase Key="Text_File">Arquivo de texto</Phrase>
      <Phrase Key="Excel_Worksheet">Planilha do Microsoft Office Excel</Phrase>
      <Phrase Key="Word_Document">Documento do Microsoft Office Word</Phrase>
      <Phrase Key="Powerpoint_Presentation">Apresentação do Microsoft Office PowerPoint</Phrase>
      <Phrase Key="Shockwave_Flash_Object">Objeto Shockwave Flash</Phrase>
      <Phrase Key="Prime_Recognition_Output_File">Arquivo de saída do Prime Recognition</Phrase>
      <Phrase Key="Static_Citation_Page">Página de citação estática</Phrase>
      <Phrase Key="Html_Document">Documento HTML</Phrase>
      <Phrase Key="Citation_Only_Mets_File">Arquivo METS somente de citação</Phrase>
      <Phrase Key="Marc_Xml_File">Arquivo MARC XML</Phrase>
      <Phrase Key="Sobekcm_Service_Mets_File">Arquivo METS de serviço SobekCM</Phrase>
      <Phrase Key="Text_Indexing_File">Arquivo de indexação de texto</Phrase>
      <Phrase Key="Xml_Document">Documento XML</Phrase>
      <Phrase Key="User_Submitted_Mets_File">Arquivo METS enviado pelo usuário</Phrase>
      <Phrase Key="Fda_Ingest_Report">Relatório de ingestão FDA</Phrase>
      <Phrase Key="Previous_Mets_File_Version">Versão anterior do arquivo METS</Phrase>
      <Phrase Key="Backup_File">Arquivo de backup</Phrase>
    </Section>

    <Section Name="Milestones">
      <Phrase Key="Header">MARCOS DE DIGITALIZAÇÃO</Phrase>
      <Phrase Key="Digital_Acquisition_Label">Aquisição Digital</Phrase>
      <Phrase Key="Post_Acquisition_Processing_Label">Processamento Pós-Aquisição</Phrase>
      <Phrase Key="Quality_Control_Label">Controle de Qualidade Realizado</Phrase>
      <Phrase Key="Online_Complete_Label">Online Concluído</Phrase>
      <Phrase Key="Not_Applicable">n/d</Phrase>
    </Section>

    <Section Name="TrackingSheet">
      <Phrase Key="Material_Info_Header">Informações do Material</Phrase>
      <Phrase Key="Title_Label">Título:</Phrase>
      <Phrase Key="Author_Label">Autor:</Phrase>
      <Phrase Key="Publisher_Label">Editora:</Phrase>
      <Phrase Key="Oclc_Label">OCLC:</Phrase>
      <Phrase Key="Aleph_Label">Aleph:</Phrase>
      <Phrase Key="Material_Type_Label">Tipo de Material:</Phrase>
      <Phrase Key="Aggregations_Label">Coleções:</Phrase>
      <Phrase Key="Serial_Hierarchy_Header">Hierarquia Serial</Phrase>
      <Phrase Key="Level_Label">Nível</Phrase>
      <Phrase Key="Imaging_Progress_Header">Progresso de Digitalização</Phrase>
      <Phrase Key="Name_Label">Nome:</Phrase>
      <Phrase Key="Date_Label">Data:</Phrase>
      <Phrase Key="Page_Range_Label">Intervalo de Páginas:</Phrase>
      <Phrase Key="Duration_Label">Duração:</Phrase>
      <Phrase Key="Physical_Material_Header">Material Físico</Phrase>
      <Phrase Key="Born_Digital_Label">O item é nativamente digital</Phrase>
      <Phrase Key="Material_Recd_Label">Material Recebido:</Phrase>
      <Phrase Key="Disposition_Advice_Label">Aviso de Destinação:</Phrase>
      <Phrase Key="Additional_Notes_Header">Notas Adicionais:</Phrase>
      <Phrase Key="Start_Scanning_Label">Iniciar Digitalização</Phrase>
      <Phrase Key="End_Scanning_Label">Finalizar Digitalização</Phrase>
      <Phrase Key="Start_Processing_Label">Iniciar Processamento</Phrase>
      <Phrase Key="End_Processing_Label">Finalizar Processamento</Phrase>
    </Section>

    <Section Name="UF_Media">
      <Phrase Key="No_Info_Message">O ITEM NÃO ESTÁ ARQUIVADO EM MÍDIA</Phrase>
      <Phrase Key="Table_Title">ARQUIVO DE CD/DVD</Phrase>
      <Phrase Key="Cd_Number_Column">NÚMERO DO CD/DVD</Phrase>
      <Phrase Key="File_Range_Column">INTERVALO DE ARQUIVOS</Phrase>
      <Phrase Key="Images_Column">IMAGENS</Phrase>
      <Phrase Key="Size_Column">TAMANHO</Phrase>
      <Phrase Key="Date_Burned_Column">DATA DE GRAVAÇÃO</Phrase>
    </Section>

    <Section Name="ManageMenu_Item">
      <Phrase Key="Item_Viewer_Title">Gerenciar este Item</Phrase>
      <Phrase Key="Item_Intro_Prompt">Como você gostaria de gerenciar este item hoje?</Phrase>
      <Phrase Key="Group_Level_Note">Além disso, as seguintes alterações podem ser feitas no nível do grupo de itens:</Phrase>
      <Phrase Key="Group_Viewer_Title">Gerenciar este Grupo de Itens</Phrase>
      <Phrase Key="Group_Intro_Prompt">Como você gostaria de gerenciar este grupo de itens hoje?</Phrase>
      <Phrase Key="Open_Textbook_Desc">Gerencie este item de livro didático aberto, permitindo editar o conteúdo da página, adicionar imagens, adicionar novos capítulos, etc.</Phrase>
      <Phrase Key="Edit_Metadata_Link">Editar Metadados do Item</Phrase>
      <Phrase Key="Edit_Metadata_Desc">Edite as informações sobre este item que aparecem na citação/descrição. Estas são informações básicas sobre o item original e esta manifestação digital.</Phrase>
      <Phrase Key="Edit_Tei_Link">Editar TEI</Phrase>
      <Phrase Key="Edit_Tei_Desc">Edite este objeto TEI, incluindo o arquivo XSLT e CSS usado, bem como o upload de um novo arquivo TEI ou a edição online do arquivo TEI existente.</Phrase>
      <Phrase Key="Edit_Behaviors_Link">Editar Comportamentos do Item</Phrase>
      <Phrase Key="Edit_Behaviors_Desc">Altere a forma como este item se comporta nesta biblioteca, incluindo em quais coleções ele aparece, as marcas nominativas à esquerda e quais tipos de visualizador são publicamente acessíveis.</Phrase>
      <Phrase Key="Qc_Link">Gerenciar Páginas e Divisões (Controle de Qualidade)</Phrase>
      <Phrase Key="Qc_Desc">Reordene as imagens de página, nomeie as páginas, atribua divisões e exclua e adicione novas imagens de página a este item.</Phrase>
      <Phrase Key="Work_History_Link">Ver Histórico de Trabalho</Phrase>
      <Phrase Key="Work_History_Desc">Veja o histórico de todo o trabalho realizado neste item. Nesta visualização, você também pode ver os marcos de digitalização e as informações do arquivo de recursos digitais.</Phrase>
      <Phrase Key="Download_Files_Link">Gerenciar Arquivos de Download</Phrase>
      <Phrase Key="Download_Files_Desc">Carregue novos arquivos para download ou remova arquivos existentes anexados a este item para download. Isso geralmente inclui tudo, exceto as imagens de página.</Phrase>
      <Phrase Key="Geospatial_Link">Gerenciar Dados Geoespaciais (beta)</Phrase>
      <Phrase Key="Geospatial_Desc">Adicione informações geoespaciais para este item. Isso pode ser tão simples quanto uma localização para uma fotografia ou pode ser uma sobreposição para um mapa. Pontos, linhas e polígonos de interesse também podem ser desenhados.</Phrase>
      <Phrase Key="Tracking_Sheet_Link">Ver Ficha de Rastreamento</Phrase>
      <Phrase Key="Tracking_Sheet_Desc">Isso pode ser usado para imprimir a ficha de rastreamento deste item, que pode ser usada como parte do fluxo de trabalho de digitalização integrado.</Phrase>
      <Phrase Key="Group_Behaviors_Link">Editar Comportamentos do Grupo de Itens</Phrase>
      <Phrase Key="Group_Behaviors_Desc">Defina o título sob o qual todos esses itens aparecem nos resultados de pesquisa e defina os temas visuais da web sob os quais todos esses itens devem aparecer.</Phrase>
      <Phrase Key="Add_Volume_Link">Adicionar Novo Volume</Phrase>
      <Phrase Key="Add_Volume_Desc">Adicione um novo volume relacionado a este grupo de itens.&lt;br /&gt;&lt;br /&gt;</Phrase>
      <Phrase Key="Mass_Update_Link">Atualização em Massa de Comportamentos de Itens</Phrase>
      <Phrase Key="Mass_Update_Desc">Isso permite que comportamentos em nível de item sejam definidos para todos os itens dentro deste grupo de itens, incluindo em quais coleções ele aparece, as marcas nominativas à esquerda e quais tipos de visualizador são publicamente acessíveis.</Phrase>
    </Section>

  </Localization>
</SobekCM_Config>
