<?xml version="1.0" encoding="utf-8" ?>
<SobekCM_Config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://sobekrepository.org/schemas/sobekcm_config"
	xsi:schemaLocation="http://sobekrepository.org/schemas/sobekcm_config
		http://sobekrepository.org/schemas/sobekcm_config.xsd">
  <Localization Language="pt">

    <Section Name="Home">
      <Phrase Key="Welcome_New_User_Format">Bem-vindo ao meu{0}, {1}</Phrase>
      <Phrase Key="Welcome_Back_Format">Bem-vindo de Volta, {0}</Phrase>
      <Phrase Key="Welcome_Intro_Format">Bem-vindo ao {0}. Este recurso permite que você adicione itens às suas estantes, organize suas estantes e as envie por e-mail para amigos.</Phrase>
      <Phrase Key="What_Would_You_Like">O que você gostaria de fazer hoje?</Phrase>
      <Phrase Key="Upload_Existing_Oer">Enviar um REA existente</Phrase>
      <Phrase Key="Create_New_Oer_Online">Criar um novo REA online (usando Open Publishing)</Phrase>
      <Phrase Key="Upload_New_Item">Enviar um novo item</Phrase>
      <Phrase Key="Add_New_Tei_Item">Adicionar um novo item TEI</Phrase>
      <Phrase Key="Submittals_Disabled">Os envios online estão temporariamente desativados</Phrase>
      <Phrase Key="View_All_Submitted_Items">Ver todos os meus itens enviados</Phrase>
      <Phrase Key="View_Usage_For_My_Items">Ver o uso dos meus itens</Phrase>
      <Phrase Key="View_My_Descriptive_Tags">Ver minhas etiquetas descritivas</Phrase>
      <Phrase Key="View_And_Organize_Bookshelves">Ver e organizar minhas estantes</Phrase>
      <Phrase Key="View_My_Saved_Searches">Ver minhas pesquisas salvas</Phrase>
      <Phrase Key="Edit_My_Preferences">Editar minhas preferências de conta</Phrase>
      <Phrase Key="Track_Item_Scanning">Acompanhar Digitalização/Processamento de Itens</Phrase>
      <Phrase Key="Return_To_Previous_Page_Format">Voltar à página anterior de {0}</Phrase>
      <Phrase Key="Log_Out">Sair</Phrase>
      <Phrase Key="Contact_Us_Link_Text">entre em contato conosco</Phrase>
      <Phrase Key="Comments_Recommendations_Format">Comentários ou recomendações? Por favor, {0}.</Phrase>
      <Phrase Key="Contribute_Materials_Format">Se você gostaria de contribuir com materiais através do sistema online, por favor {0} também.</Phrase>
    </Section>

    <Section Name="Saved_Searches">
      <Phrase Key="Page_Title">Minhas Pesquisas Salvas</Phrase>
      <Phrase Key="Actions_Header">AÇÕES</Phrase>
      <Phrase Key="Saved_Search_Header">PESQUISA SALVA</Phrase>
      <Phrase Key="Delete_Link_Title">Clique para excluir esta pesquisa salva</Phrase>
      <Phrase Key="Delete_Link_Text">excluir</Phrase>
      <Phrase Key="View_Link_Title">Clique para ver esta pesquisa</Phrase>
      <Phrase Key="View_Link_Text">ver</Phrase>
      <Phrase Key="No_Saved_Searches_Html">Você não tem pesquisas ou navegações salvas.&lt;br /&gt;&lt;br /&gt;Para adicionar uma pesquisa ou navegação, use o botão ADICIONAR ao visualizar os resultados de sua pesquisa ou navegação.</Phrase>
    </Section>

    <Section Name="Logon">
      <Phrase Key="Default_Disabled_Message">O login geral neste sistema está temporariamente desativado.</Phrase>
      <Phrase Key="Invalid_Credentials">Usuário/senha inválidos</Phrase>
      <Phrase Key="Page_Title_Format">Entrar em Meu{0}</Phrase>
      <Phrase Key="Heading_Format">Entrar em {0}</Phrase>
      <Phrase Key="Feature_Requires_Logon">O recurso que você está tentando acessar requer um login válido.</Phrase>
      <Phrase Key="Choose_Logon_Below">Por favor, escolha o login apropriado abaixo.</Phrase>
      <Phrase Key="Dloc_Valid_Logon_Text">Se você tiver um login myDLOC válido</Phrase>
      <Phrase Key="Dloc_Sign_On_Text">Entre com autenticação myDLOC</Phrase>
      <Phrase Key="Shibboleth_Valid_Id_Format">Se você tiver um ID {0} válido</Phrase>
      <Phrase Key="Shibboleth_Sign_On_Format">Entre com seu {0} aqui</Phrase>
      <Phrase Key="Instance_Valid_Logon_Format">Se você tiver um login meu{0} válido</Phrase>
      <Phrase Key="Instance_Sign_On_Format">Entre com a autenticação meu{0} aqui</Phrase>
      <Phrase Key="Federated_Valid_Account_Format">Se você tiver uma conta {0} válida</Phrase>
      <Phrase Key="Federated_Sign_In_Format">Entre com {0}</Phrase>
      <Phrase Key="Not_Registered_Yet">Ainda não se registrou?</Phrase>
      <Phrase Key="Register_Now">Registre-se agora</Phrase>
      <Phrase Key="Contact_Us">Entre em Contato Conosco</Phrase>
      <Phrase Key="Popup_Title_Log_In">ENTRAR</Phrase>
      <Phrase Key="Username_Or_Email_Label">Usuário ou e-mail:</Phrase>
      <Phrase Key="Password_Label">Senha:</Phrase>
      <Phrase Key="Remember_Me">Lembrar de mim</Phrase>
      <Phrase Key="Close_Button_Title">Fechar</Phrase>
      <Phrase Key="Cancel_Button_Text">CANCELAR</Phrase>
      <Phrase Key="Login_Button_Title">Entrar</Phrase>
      <Phrase Key="Login_Button_Text">ENTRAR</Phrase>
      <Phrase Key="Popup_Not_Registered_Format">Ainda não se registrou? {0}.</Phrase>
      <Phrase Key="Popup_Forgot_Password_Format">Esqueceu seu usuário ou senha? Por favor, {0}.</Phrase>
      <Phrase Key="Popup_Contact_Us_Link_Text">entre em contato conosco</Phrase>
    </Section>

    <Section Name="OpenNJ_Register">
      <Phrase Key="Account_Info">Informações da Conta</Phrase>
      <Phrase Key="Username_Label">Nome de Usuário</Phrase>
      <Phrase Key="Personal_Info">Informações Pessoais</Phrase>
      <Phrase Key="Family_Names_Label">Sobrenome(s)</Phrase>
      <Phrase Key="Given_Names_Label">Nome(s)</Phrase>
      <Phrase Key="Nickname_Label">Apelido</Phrase>
      <Phrase Key="Email_Label">E-mail</Phrase>
      <Phrase Key="Email_Stats_Label">Envie-me estatísticas de uso mensais dos meus itens</Phrase>
      <Phrase Key="Affiliation_Info">Informações de Afiliação Atual</Phrase>
      <Phrase Key="Organization_Label">Instituição</Phrase>
      <Phrase Key="Password_Label">Senha</Phrase>
      <Phrase Key="Confirm_Password_Label">Confirmar Senha</Phrase>
      <Phrase Key="Username_Required">O nome de usuário é um campo obrigatório</Phrase>
      <Phrase Key="Username_Min_Length">O nome de usuário deve ter pelo menos oito dígitos</Phrase>
      <Phrase Key="Select_Confirm_Password">Selecione e confirme uma senha</Phrase>
      <Phrase Key="Passwords_Do_Not_Match">As senhas não coincidem</Phrase>
      <Phrase Key="Password_Min_Length">A senha deve ter pelo menos oito dígitos</Phrase>
      <Phrase Key="Select_Instructor_Status">Selecione se você é instrutor ou não</Phrase>
      <Phrase Key="Instructor_Institution_Required">Como instrutor, a instituição é um campo obrigatório</Phrase>
      <Phrase Key="Ufid_Length">Os UFIDs sempre têm oito dígitos</Phrase>
      <Phrase Key="Ufid_Numeric">Os UFIDs são sempre numéricos</Phrase>
      <Phrase Key="Family_Name_Required">O sobrenome é um campo obrigatório</Phrase>
      <Phrase Key="Given_Name_Required">O nome é um campo obrigatório</Phrase>
      <Phrase Key="Valid_Email_Required">É necessário um e-mail válido</Phrase>
      <Phrase Key="Rights_Truncated">Declaração de direitos truncada para 1000 caracteres.</Phrase>
      <Phrase Key="Email_Already_Exists">Já existe uma conta para esse endereço de e-mail.</Phrase>
      <Phrase Key="Username_Taken">Esse nome de usuário já está em uso. Por favor, escolha outro.</Phrase>
      <Phrase Key="Register_Page_Title_Format">Registrar-se em Meu{0}</Phrase>
      <Phrase Key="Edit_Preferences_Page_Title">Editar as Preferências da sua Conta</Phrase>
      <Phrase Key="Registration_Intro_Format">O registro em {0} é gratuito e aberto ao público. Insira suas informações abaixo para ser registrado instantaneamente.</Phrase>
      <Phrase Key="Account_Required_Note">Informações da conta, nome e e-mail são obrigatórios para cada nova conta.</Phrase>
      <Phrase Key="Already_Registered_Format">Já registrado? {0}.</Phrase>
      <Phrase Key="Log_On_Link_Text">Entrar</Phrase>
      <Phrase Key="Errors_Detected_Header">Os seguintes erros foram detectados:</Phrase>
      <Phrase Key="Account_Type_Header">Tipo de Conta</Phrase>
      <Phrase Key="Instructor_Question">Você é instrutor? Nos avise abaixo para obter acesso a materiais de curso restritos.</Phrase>
      <Phrase Key="I_Am_Instructor">Eu sou instrutor</Phrase>
      <Phrase Key="I_Am_Not_Instructor">EU NÃO sou instrutor</Phrase>
      <Phrase Key="Submit_Materials_Instructions">Clique na opção abaixo para enviar materiais. Para usar as ferramentas de publicação aberta online no Open-NJ, você precisará ser aprovado como instrutor e aprovado para enviar materiais.</Phrase>
      <Phrase Key="Allow_Submit_Label">Eu gostaria de poder enviar materiais online.</Phrase>
      <Phrase Key="Application_Reviewed_Notice">Assim que sua solicitação for revisada e aprovada, você receberá uma notificação por e-mail.</Phrase>
      <Phrase Key="Username_Hint">(mínimo de oito dígitos)</Phrase>
      <Phrase Key="Password_Hint">(mínimo de oito dígitos, diferente do nome de usuário)</Phrase>
      <Phrase Key="Institutional_Email_Hint">(por favor, insira o endereço de e-mail institucional)</Phrase>
      <Phrase Key="Cancel_Button">CANCELAR</Phrase>
      <Phrase Key="Submit_Button">ENVIAR</Phrase>
    </Section>

    <Section Name="Preferences">
      <Phrase Key="Account_Info">Informações da Conta</Phrase>
      <Phrase Key="Username_Label">Nome de Usuário</Phrase>
      <Phrase Key="Personal_Info">Informações Pessoais</Phrase>
      <Phrase Key="Family_Names_Label">Sobrenome(s)</Phrase>
      <Phrase Key="Given_Names_Label">Nome(s)</Phrase>
      <Phrase Key="Nickname_Label">Apelido</Phrase>
      <Phrase Key="Email_Label">E-mail</Phrase>
      <Phrase Key="Federated_Name_Email_Note_Format">Nome e e-mail são gerenciados por {0} - use o Apelido para definir como seu nome é exibido aqui</Phrase>
      <Phrase Key="Email_Stats_Label">Envie-me estatísticas de uso mensais dos meus itens</Phrase>
      <Phrase Key="Affiliation_Info">Informações de Afiliação Atual</Phrase>
      <Phrase Key="Organization_Label">Organização/Universidade</Phrase>
      <Phrase Key="College_Label">Faculdade</Phrase>
      <Phrase Key="Department_Label">Departamento</Phrase>
      <Phrase Key="Unit_Label">Unidade</Phrase>
      <Phrase Key="Self_Submittal_Pref_Label">Preferências de Auto-Envio</Phrase>
      <Phrase Key="Send_Email_Label">Envie-me um e-mail quando eu enviar novos itens</Phrase>
      <Phrase Key="Template_Label">Modelo</Phrase>
      <Phrase Key="Project_Label">Metadados Padrão</Phrase>
      <Phrase Key="Default_Rights_Label">Direitos Padrão</Phrase>
      <Phrase Key="Rights_Explanation_Label">(Estes são os direitos padrão que você concede para compartilhar, reutilizar ou remixar seu item com outros usuários. Você pode definir isso a cada novo item enviado, mas este será o valor padrão exibido.)</Phrase>
      <Phrase Key="Rights_Instruction_Label"><![CDATA[Você também pode selecionar uma opção de <a title="Explicação das diferentes licenças Creative Commons." href="http://creativecommons.org/about/licenses/">Licença Creative Commons</a> abaixo.]]></Phrase>
      <Phrase Key="Other_Preferences_Label">Outras Preferências</Phrase>
      <Phrase Key="Language_Label">Idioma</Phrase>
      <Phrase Key="Password_Label">Senha</Phrase>
      <Phrase Key="Confirm_Password_Label">Confirmar Senha</Phrase>
      <Phrase Key="Username_Required">O nome de usuário é um campo obrigatório</Phrase>
      <Phrase Key="Username_Min_Length">O nome de usuário deve ter pelo menos oito dígitos</Phrase>
      <Phrase Key="Select_Confirm_Password">Selecione e confirme uma senha</Phrase>
      <Phrase Key="Passwords_Do_Not_Match">As senhas não coincidem</Phrase>
      <Phrase Key="Password_Min_Length">A senha deve ter pelo menos oito dígitos</Phrase>
      <Phrase Key="Ufid_Length">Os UFIDs sempre têm oito dígitos</Phrase>
      <Phrase Key="Ufid_Numeric">Os UFIDs são sempre numéricos</Phrase>
      <Phrase Key="Family_Name_Required">O sobrenome é um campo obrigatório</Phrase>
      <Phrase Key="Given_Name_Required">O nome é um campo obrigatório</Phrase>
      <Phrase Key="Valid_Email_Required">É necessário um e-mail válido</Phrase>
      <Phrase Key="Rights_Truncated">Declaração de direitos truncada para 1000 caracteres.</Phrase>
      <Phrase Key="Email_Already_Exists">Já existe uma conta para esse endereço de e-mail.</Phrase>
      <Phrase Key="Username_Taken">Esse nome de usuário já está em uso. Por favor, escolha outro.</Phrase>
      <Phrase Key="Register_Page_Title_Format">Registrar-se em Meu{0}</Phrase>
      <Phrase Key="Edit_Preferences_Page_Title">Editar as Preferências da sua Conta</Phrase>
      <Phrase Key="Registration_Intro_Format">O registro em {0} é gratuito e aberto ao público. Insira suas informações abaixo para ser registrado instantaneamente.</Phrase>
      <Phrase Key="Account_Required_Note">Informações da conta, nome e e-mail são obrigatórios para cada nova conta.</Phrase>
      <Phrase Key="Already_Registered_Format">Já registrado? {0}.</Phrase>
      <Phrase Key="Log_On_Link_Text">Entrar</Phrase>
      <Phrase Key="Errors_Detected_Header">Os seguintes erros foram detectados:</Phrase>
      <Phrase Key="Username_Hint">(mínimo de oito dígitos)</Phrase>
      <Phrase Key="Password_Hint">(mínimo de oito dígitos, diferente do nome de usuário)</Phrase>
      <Phrase Key="Gatorlink_Hint">(opcionalmente fornece acesso através do Gatorlink)</Phrase>
      <Phrase Key="Allow_Submit_With_Notice_Label">Eu gostaria de poder enviar materiais online. (Assim que sua solicitação de envio for aprovada, você receberá uma notificação por e-mail)</Phrase>
      <Phrase Key="Cancel_Button">CANCELAR</Phrase>
      <Phrase Key="Submit_Button">ENVIAR</Phrase>
    </Section>

    <Section Name="Folder_Mgmt">
      <Phrase Key="Page_Title">Minha Biblioteca</Phrase>
      <Phrase Key="Manage_Library_Tooltip">Gerenciar minha biblioteca</Phrase>
      <Phrase Key="Manage_Library_Link_Text">Minha Biblioteca (Gerenciar minhas estantes)</Phrase>
      <Phrase Key="View_Collections_Home_Tooltip">Ver a página inicial das minhas coleções</Phrase>
      <Phrase Key="My_Collections_Home_Text">Início das Minhas Coleções</Phrase>
      <Phrase Key="View_Saved_Searches_Tooltip">Ver minhas pesquisas salvas</Phrase>
      <Phrase Key="My_Saved_Searches_Text">Minhas Pesquisas Salvas</Phrase>
      <Phrase Key="Public_Folder_Tooltip">Estante pública</Phrase>
      <Phrase Key="Private_Folder_Tooltip">Estante privada</Phrase>
      <Phrase Key="Bookshelf_Empty_Message">Esta estante está atualmente vazia</Phrase>
      <Phrase Key="Manage_Bookshelves_Heading">Gerenciar Minhas Estantes</Phrase>
      <Phrase Key="Add_New_Bookshelf_Tooltip">Clique para adicionar uma nova estante</Phrase>
      <Phrase Key="Add_New_Bookshelf_Text">Adicionar Nova Estante</Phrase>
      <Phrase Key="Refresh_Bookshelf_Tooltip">Atualizar a lista de estantes</Phrase>
      <Phrase Key="Refresh_Bookshelves_Text">Atualizar Estantes</Phrase>
      <Phrase Key="Actions_Header">AÇÕES</Phrase>
      <Phrase Key="Bookshelf_Name_Header">NOME DA ESTANTE</Phrase>
      <Phrase Key="Delete_Bookshelf_Tooltip">Clique para excluir esta estante</Phrase>
      <Phrase Key="Delete_Link_Text">excluir</Phrase>
      <Phrase Key="Cannot_Delete_Last_Alert">Você não pode excluir sua última estante</Phrase>
      <Phrase Key="Cannot_Delete_Nested_Alert">Você não pode excluir estantes que contenham outras estantes</Phrase>
      <Phrase Key="Make_Private_Tooltip">Tornar esta estante privada</Phrase>
      <Phrase Key="Make_Private_Text">tornar privada</Phrase>
      <Phrase Key="Make_Public_Tooltip">Tornar esta estante pública</Phrase>
      <Phrase Key="Make_Public_Text">tornar pública</Phrase>
      <Phrase Key="Manage_Bookshelf_Tooltip">Clique para gerenciar esta estante</Phrase>
      <Phrase Key="Manage_Link_Text">gerenciar</Phrase>
      <Phrase Key="Email_Popup_Title">ENVIAR ESTE ITEM PARA UM AMIGO</Phrase>
      <Phrase Key="Email_Popup_Legend">Insira as informações de e-mail abaixo &amp;nbsp; </Phrase>
      <Phrase Key="To_Label">Para:</Phrase>
      <Phrase Key="Comments_Label">Comentários:</Phrase>
      <Phrase Key="Format_Label">Formato:</Phrase>
      <Phrase Key="Html_Format_Label">HTML</Phrase>
      <Phrase Key="Plain_Text_Format_Label">Texto Simples</Phrase>
      <Phrase Key="Cancel_Button">CANCELAR</Phrase>
      <Phrase Key="Send_Button">ENVIAR</Phrase>
      <Phrase Key="Save_Button">SALVAR</Phrase>
      <Phrase Key="Move_Popup_Title_Html"><![CDATA[M<span class="smaller">OVER</span> I<span class="smaller">TEM ENTRE</span> E<span class="smaller">STANTES</span>]]></Phrase>
      <Phrase Key="Move_Popup_Legend">Selecione uma nova estante para este item</Phrase>
      <Phrase Key="Bookshelf_Label">Estante:</Phrase>
      <Phrase Key="Edit_Notes_Popup_Title_Html"><![CDATA[A<span class="smaller">DICIONAR/</span>E<span class="smaller">DITAR</span> N<span class="smaller">OTAS DO</span> I<span class="smaller">TEM DA</span> E<span class="smaller">STANTE</span>]]></Phrase>
      <Phrase Key="Edit_Notes_Popup_Legend">Insira notas para este item em sua estante &amp;nbsp; </Phrase>
      <Phrase Key="Notes_Label">Notas:</Phrase>
      <Phrase Key="New_Bookshelf_Popup_Title_Html"><![CDATA[N<span class="smaller">OVA</span> E<span class="smaller">STANTE</span>]]></Phrase>
      <Phrase Key="New_Bookshelf_Popup_Legend">Insira as informações para sua nova estante</Phrase>
      <Phrase Key="Name_Label">Nome:</Phrase>
      <Phrase Key="Parent_Label">Estante Superior:</Phrase>
      <Phrase Key="No_Parent_Option">(nenhuma)</Phrase>
    </Section>

  </Localization>
</SobekCM_Config>
