<?xml version="1.0" encoding="utf-8" ?>
<SobekCM_Config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://sobekrepository.org/schemas/sobekcm_config"
	xsi:schemaLocation="http://sobekrepository.org/schemas/sobekcm_config
		http://sobekrepository.org/schemas/sobekcm_config.xsd">
  <Localization Language="pt">

    <Section Name="Aggregation_Common">
      <Phrase Key="Go">Ir</Phrase>
      <Phrase Key="Search_Collection">Pesquisar na coleção</Phrase>
      <Phrase Key="Include_Non_Public_Items">Incluir itens não públicos</Phrase>
      <Phrase Key="Limit_By_Year">Limitar por ano</Phrase>
      <Phrase Key="Show_Only_Media">Mostrar apenas registros com imagens ou outras mídias</Phrase>
      <Phrase Key="Through">até</Phrase>
      <Phrase Key="Include_Full_Text">Incluir o texto do documento na pesquisa</Phrase>
      <Phrase Key="Search_All_Collections">Pesquisar em todas as coleções</Phrase>
      <Phrase Key="Home">Início</Phrase>
    </Section>

    <Section Name="Advanced_Search">
      <Phrase Key="Search_For">Pesquisar por:</Phrase>
      <Phrase Key="In">em</Phrase>
      <Phrase Key="Search">Pesquisar</Phrase>
      <Phrase Key="Search_Options">Opções de Pesquisa</Phrase>
      <Phrase Key="Precision">Precisão</Phrase>
      <Phrase Key="Contains_Exactly">Contém exatamente os termos de pesquisa</Phrase>
      <Phrase Key="Contains_Any_Form">Contém qualquer forma dos termos de pesquisa</Phrase>
      <Phrase Key="Contains_Meaning">Contém o termo de pesquisa ou termos de significado semelhante</Phrase>
      <Phrase Key="And">e</Phrase>
      <Phrase Key="Or">ou</Phrase>
      <Phrase Key="And_Not">e não</Phrase>
    </Section>

    <Section Name="Item_Count">
      <Phrase Key="Resource_Count_In_Collection">Número de Recursos na Coleção</Phrase>
      <Phrase Key="Description">Abaixo está o número de títulos e itens de todos os itens dentro desta coleção, incluindo itens atualmente disponíveis on-line, bem como itens em processamento.</Phrase>
      <Phrase Key="Visibility">VISIBILIDADE</Phrase>
      <Phrase Key="Title_Count">NÚMERO DE TÍTULOS</Phrase>
      <Phrase Key="Item_Count">NÚMERO DE ITENS</Phrase>
      <Phrase Key="Page_Count">NÚMERO DE PÁGINAS</Phrase>
      <Phrase Key="File_Count">NÚMERO DE ARQUIVOS</Phrase>
    </Section>

    <Section Name="Full_Text_Search">
      <Phrase Key="Search_Full_Text">Pesquisar texto completo</Phrase>
    </Section>

    <Section Name="DLOC_Search">
      <Phrase Key="Include_Newspapers">Incluir jornais?</Phrase>
    </Section>

    <Section Name="Map_Common">
      <Phrase Key="Google_Maps_Not_Enabled_Html"><![CDATA[<p style="font-weight:bold; text-size:1.1em">ERRO: O Google Maps não está habilitado nesta instância do SobekCM!</p>
<p>Para habilitá-lo, crie uma chave de API do Google Maps e insira-a nas configurações gerais do sistema.</p>
<p>Informações sobre este processo podem ser encontradas aqui: <a href="http://sobekrepository.org/software/config/googlemaps">http://sobekrepository.org/software/config/googlemaps</a>.</p>]]></Phrase>
    </Section>

    <Section Name="Map_Browse">
      <Phrase Key="Select_Point_Instructions_Html"><![CDATA[Selecione um ponto abaixo para visualizar os itens desse local ou relacionados a ele.<br />Pressione a tecla SHIFT e arraste um retângulo no mapa para dar zoom.]]></Phrase>
      <Phrase Key="More_Info_Single_Title">Clique aqui para mais informações sobre este título</Phrase>
      <Phrase Key="More_Info_Multiple_Titles">Clique aqui para mais informações sobre estes {0} títulos</Phrase>
    </Section>

    <Section Name="Map_Search">
      <Phrase Key="Find_Address">Localizar Endereço</Phrase>
      <Phrase Key="Address">Endereço</Phrase>
      <Phrase Key="Locate">Localizar</Phrase>
      <Phrase Key="Point_Disabled_Instructions_Html"><![CDATA[<span style="line-height:160%"> &nbsp; &nbsp; 1. Use o botão <i>Selecionar Área</i> e clique para selecionar os cantos opostos e desenhar um retângulo de pesquisa no mapa &nbsp; &nbsp; <br /> &nbsp; &nbsp; 2. Pressione o botão <i>Pesquisar</i> para ver os resultados &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; ( <a href="#FAQ">mais ajuda</a> )</span>]]></Phrase>
      <Phrase Key="Faq_Point_Disabled_Html"><![CDATA[  <h1>Perguntas Frequentes sobre Pesquisa no Mapa</h1>
  <ul>
    <li>Como pesquiso?
      <p class="tagline">Para realizar uma pesquisa, primeiro você precisa definir sua área de interesse e, em seguida, realizar a pesquisa. Para definir uma área, clique em <i>Clique para Selecionar Área</i> no mapa. Em seguida, clique em um ponto inicial no mapa e depois clique no canto oposto para criar um retângulo. Ao clicar em <i>Pesquisar</i> acima do mapa, você obterá os resultados correspondentes a essa área.</p>
    </li>
    <li>Estou tendo dificuldade em selecionar uma área
      <p class="tagline">Selecionar uma área retangular para pesquisar é simples assim que você entende a técnica. Primeiro, selecione o botão <i>Clique para Selecionar Área</i> no mapa. Em seguida, mova-se para o canto superior esquerdo da região que deseja pesquisar e clique e solte o botão esquerdo do mouse. Ao mover o mouse agora, você notará que um retângulo está sendo desenhado, representando sua região. Ao clicar e soltar o mouse novamente, você define o canto inferior direito da região a pesquisar. Não pressione o botão do mouse e arraste o mouse, pois isso arrastará o mapa e não definirá uma região para selecionar. Depois que sua região for corretamente identificada, pressione o botão <i>Pesquisar</i> para visualizar os resultados correspondentes.</p>
    </li>
    <li>Por que não posso pesquisar por endereço ou por um ponto?
      <p class="tagline">Esta coleção é composta principalmente por pontos, portanto a pesquisa por área é muito mais eficaz do que a pesquisa por ponto.</p>
    </li>
    <li>O que está sendo pesquisado?
      <p class="tagline">Os dados pesquisados dependem do tipo de material. Para jornais, é pesquisado o local de publicação. Para mapas, é pesquisada a cobertura geográfica. E para fotografias, é pesquisado o local onde a fotografia foi tirada.</p>
    </li>
    <li>Por que tão poucos resultados?
      <p class="tagline"> Esta interface está em fase de teste beta, à medida que adicionamos mais informações de coordenadas ao nosso banco de dados de pesquisa. Volte com frequência para acompanhar nosso progresso!</p>
    </li>
  </ul>]]></Phrase>
    </Section>

    <Section Name="Newspaper_Search">
      <Phrase Key="Full_Citation">Citação Completa</Phrase>
      <Phrase Key="Full_Text">Texto Completo</Phrase>
      <Phrase Key="Newspaper_Title">Título do Jornal</Phrase>
      <Phrase Key="Location">Localização</Phrase>
    </Section>

    <Section Name="Metadata_Browse">
      <Phrase Key="Browse_By">Navegar por</Phrase>
      <Phrase Key="Browse_By_Colon">NAVEGAR POR:</Phrase>
      <Phrase Key="Public_Browses">Navegações Públicas</Phrase>
      <Phrase Key="Internal_Browses">Navegações Internas</Phrase>
      <Phrase Key="Browses">Navegações</Phrase>
      <Phrase Key="Select_Field_Prompt">Selecione um campo de metadados para navegar na lista à esquerda</Phrase>
      <Phrase Key="No_Matching_Values">NENHUM VALOR CORRESPONDENTE</Phrase>
    </Section>

    <Section Name="Tiles_Home">
      <Phrase Key="Varies">( varia )</Phrase>
    </Section>

    <Section Name="Thumbnails_Home">
      <Phrase Key="Collection_Items">Itens da Coleção</Phrase>
      <Phrase Key="Showing_Items_Out_Of">Mostrando 20 itens de {0}</Phrase>
      <Phrase Key="View_All">Ver todos</Phrase>
    </Section>

    <Section Name="Usage_Statistics">
      <Phrase Key="Title_Collection_Views">Histórico de Uso em Nível de Coleção</Phrase>
      <Phrase Key="Title_Item_Views">Histórico de Uso de Itens</Phrase>
      <Phrase Key="Title_Top_Titles">Títulos Mais Acessados</Phrase>
      <Phrase Key="Title_Top_Items">Itens Mais Acessados</Phrase>
      <Phrase Key="Title_Definitions">Definições dos Termos Utilizados</Phrase>

      <Phrase Key="Tab_Collection_Views">VISUALIZAÇÕES DA COLEÇÃO</Phrase>
      <Phrase Key="Tab_Item_Views">VISUALIZAÇÕES DE ITENS</Phrase>
      <Phrase Key="Tab_Top_Titles">TÍTULOS PRINCIPAIS</Phrase>
      <Phrase Key="Tab_Top_Items">ITENS PRINCIPAIS</Phrase>
      <Phrase Key="Tab_Definitions">DEFINIÇÕES</Phrase>

      <Phrase Key="Month_1">Janeiro</Phrase>
      <Phrase Key="Month_2">Fevereiro</Phrase>
      <Phrase Key="Month_3">Março</Phrase>
      <Phrase Key="Month_4">Abril</Phrase>
      <Phrase Key="Month_5">Maio</Phrase>
      <Phrase Key="Month_6">Junho</Phrase>
      <Phrase Key="Month_7">Julho</Phrase>
      <Phrase Key="Month_8">Agosto</Phrase>
      <Phrase Key="Month_9">Setembro</Phrase>
      <Phrase Key="Month_10">Outubro</Phrase>
      <Phrase Key="Month_11">Novembro</Phrase>
      <Phrase Key="Month_12">Dezembro</Phrase>

      <Phrase Key="Collection_History_Intro">Abaixo é exibido o histórico de uso desta coleção. Este histórico inclui apenas as visualizações de nível superior da coleção.</Phrase>
      <Phrase Key="Item_History_Intro">Abaixo é exibido o histórico de uso dos itens desta coleção.</Phrase>
      <Phrase Key="Items_By_Collection_Intro">Abaixo aparecem os itens mais utilizados desta coleção.</Phrase>
      <Phrase Key="Titles_By_Collection_Intro">Abaixo aparecem os títulos mais utilizados por coleção.</Phrase>
      <Phrase Key="Definitions_Link_Sentence"><![CDATA[A <a href="{0}">página de definições</a> fornece mais detalhes sobre as estatísticas e os termos usados abaixo.]]></Phrase>

      <Phrase Key="Year_Statistics_Suffix"> ESTATÍSTICAS</Phrase>
      <Phrase Key="Total">TOTAL</Phrase>

      <Phrase Key="Date">DATA</Phrase>
      <Phrase Key="Total_Views_Html"><![CDATA[TOTAL DE<br />VISUALIZAÇÕES]]></Phrase>
      <Phrase Key="Visits">VISITAS</Phrase>
      <Phrase Key="Main_Pages_Html"><![CDATA[PÁGINAS<br />PRINCIPAIS]]></Phrase>
      <Phrase Key="Browses">NAVEGAÇÕES</Phrase>
      <Phrase Key="Search_Results_Html"><![CDATA[RESULTADOS<br />DE PESQUISA]]></Phrase>
      <Phrase Key="Title_Views_Html"><![CDATA[VISUALIZAÇÕES<br />DE TÍTULOS]]></Phrase>
      <Phrase Key="Item_Views_Html"><![CDATA[VISUALIZAÇÕES<br />DE ITENS]]></Phrase>

      <Phrase Key="Jpeg_Views_Html"><![CDATA[VISUALIZAÇÕES<br />JPEG]]></Phrase>
      <Phrase Key="Zoomable_Views_Html"><![CDATA[VISUALIZAÇÕES<br />AMPLIÁVEIS]]></Phrase>
      <Phrase Key="Citation_Views_Html"><![CDATA[VISUALIZAÇÕES<br />DE CITAÇÃO]]></Phrase>
      <Phrase Key="Thumbnail_Views_Html"><![CDATA[VISUALIZAÇÕES<br />DE MINIATURA]]></Phrase>
      <Phrase Key="Text_Searches_Html"><![CDATA[PESQUISAS<br />DE TEXTO]]></Phrase>
      <Phrase Key="Flash_Views_Html"><![CDATA[VISUALIZAÇÕES<br />FLASH]]></Phrase>
      <Phrase Key="Map_Views_Html"><![CDATA[VISUALIZAÇÕES<br />DE MAPA]]></Phrase>
      <Phrase Key="Download_Views_Html"><![CDATA[DOWNLOADS]]></Phrase>
      <Phrase Key="Static_Views_Html"><![CDATA[VISUALIZAÇÕES<br />ESTÁTICAS]]></Phrase>

      <Phrase Key="Bibid">BIBID</Phrase>
      <Phrase Key="Vid">VID</Phrase>
      <Phrase Key="Title">TÍTULO</Phrase>
      <Phrase Key="Views">VISUALIZAÇÕES</Phrase>

    </Section>

    <Section Name="Aggregation_Nav_Bar">
      <Phrase Key="Advanced_Search">Pesquisa Avançada</Phrase>
      <Phrase Key="Basic_Search">Pesquisa Básica</Phrase>
      <Phrase Key="Map_Search">Pesquisa por Mapa</Phrase>
      <Phrase Key="Newspaper_Search">Pesquisa de Jornais</Phrase>
      <Phrase Key="Text_Search">Pesquisa de Texto</Phrase>
    </Section>

    <Section Name="Aggregation_Home">
      <Phrase Key="List_View">VISTA EM LISTA</Phrase>
      <Phrase Key="Brief_View">VISTA BREVE</Phrase>
      <Phrase Key="Tree_View">VISTA EM ÁRVORE</Phrase>
      <Phrase Key="Thumbnail_View">VISTA EM MINIATURAS</Phrase>
    </Section>

    <Section Name="Aggregation_Sharing">
      <Phrase Key="Print_Alt">IMPRIMIR</Phrase>
      <Phrase Key="Print_Title">Imprimir esta página</Phrase>
      <Phrase Key="Send_Alt">ENVIAR</Phrase>
      <Phrase Key="Send_Title">Enviar isto para alguém</Phrase>
      <Phrase Key="Share_Alt">COMPARTILHAR</Phrase>
      <Phrase Key="Share_Title">Compartilhar esta coleção</Phrase>
      <Phrase Key="Remove_Alt">REMOVER</Phrase>
      <Phrase Key="Remove_Title">Remover isto da minha página inicial de coleções</Phrase>
      <Phrase Key="Add_Alt">ADICIONAR</Phrase>
      <Phrase Key="Add_Title">Adicionar isto à minha página inicial de coleções</Phrase>
      <Phrase Key="Save_Title">Salvar isto na minha página inicial de coleções</Phrase>
      <Phrase Key="Email_Popup_Title">Enviar esta coleção para um amigo</Phrase>
      <Phrase Key="Email_Popup_Close_Alt">FECHAR</Phrase>
      <Phrase Key="Email_Info_Prompt">Insira as informações de e-mail abaixo</Phrase>
      <Phrase Key="To_Label">Para:</Phrase>
      <Phrase Key="Comments_Label">Comentários:</Phrase>
      <Phrase Key="Format_Label">Formato:</Phrase>
      <Phrase Key="Html_Label">HTML</Phrase>
      <Phrase Key="Plain_Text_Label">Texto Simples</Phrase>
      <Phrase Key="Cancel_Button">CANCELAR</Phrase>
      <Phrase Key="Send_Button">ENVIAR</Phrase>
    </Section>

    <Section Name="Static_Browse_Info">
      <Phrase Key="Show_Header_Data_Link">mostrar dados de cabeçalho (avançado)</Phrase>
      <Phrase Key="Header_Info_Description">Os dados abaixo descrevem o conteúdo desta página filha estática e são usados por alguns algoritmos de indexação de mecanismos de busca. Por padrão, não aparecerão no texto da página, mas serão incluídos na tag head da página.</Phrase>
      <Phrase Key="Title_Label">Título:</Phrase>
      <Phrase Key="Author_Label">Autor:</Phrase>
      <Phrase Key="Date_Label">Data:</Phrase>
      <Phrase Key="Description_Label">Descrição:</Phrase>
      <Phrase Key="Keywords_Label">Palavras-chave:</Phrase>
      <Phrase Key="Html_Head_Info_Label">Informações de cabeçalho HTML:</Phrase>
      <Phrase Key="Title_Help">Ajuda para o campo de título</Phrase>
      <Phrase Key="Author_Help">Ajuda para o campo de autor</Phrase>
      <Phrase Key="Date_Help">Ajuda para o campo de data</Phrase>
      <Phrase Key="Description_Help">Ajuda para o campo de descrição</Phrase>
      <Phrase Key="Keywords_Help">Ajuda para o campo de palavras-chave</Phrase>
      <Phrase Key="Extra_Head_Help">Ajuda para o campo de informações adicionais de cabeçalho</Phrase>
      <Phrase Key="Cancel_Title">Não aplicar as alterações</Phrase>
      <Phrase Key="Cancel_Button">CANCELAR</Phrase>
      <Phrase Key="Save_Title">Salvar as alterações no texto desta página filha</Phrase>
      <Phrase Key="Save_Button">SALVAR</Phrase>
      <Phrase Key="Edit_Content_Title">Editar o texto desta página</Phrase>
      <Phrase Key="Edit_Content_Link">editar conteúdo</Phrase>
    </Section>

    <Section Name="Manage_Menu_Aggregation">
      <Phrase Key="Viewer_Title">Menu de Gerenciamento da Coleção</Phrase>
      <Phrase Key="Intro_Prompt">Como você gostaria de gerenciar esta coleção hoje?</Phrase>
      <Phrase Key="Private_Items_Link">Ver Itens Privados e Ocultos</Phrase>
      <Phrase Key="Private_Items_Desc">Veja os itens privados e ocultos que fazem parte desta coleção, juntamente com as informações do último marco de cada item.</Phrase>
      <Phrase Key="Item_Count_Link">Ver Contagem de Itens na Coleção</Phrase>
      <Phrase Key="Item_Count_Desc">Veja a contagem total de itens nesta coleção, bem como uma contagem de quantos itens estão atualmente em processo dentro de cada marco principal.</Phrase>
      <Phrase Key="Usage_Stats_Link">Ver Histórico de Uso da Coleção</Phrase>
      <Phrase Key="Usage_Stats_Desc">Veja as estatísticas de uso desta coleção e de todos os itens dentro dela.</Phrase>
      <Phrase Key="Metadata_Browse_Link">Ver Navegações de Metadados</Phrase>
      <Phrase Key="Metadata_Browse_Desc">Veja as navegações de metadados públicas e/ou administrativas com a lista completa de todos os metadados nos campos de metadados pesquisáveis desta coleção.</Phrase>
      <Phrase Key="Change_Log_Link">Ver Registro de Alterações da Coleção</Phrase>
      <Phrase Key="Change_Log_Desc">Veja o registro de alterações desta coleção e dos arquivos de design desta coleção. Isso não inclui o histórico de recursos digitais carregados nesta coleção.</Phrase>
      <Phrase Key="User_Permissions_Link">Ver Permissões de Usuário</Phrase>
      <Phrase Key="User_Permissions_Desc">Veja as permissões especiais de usuário concedidas aos usuários sobre esta coleção. Isso inclui permissões atribuídas individualmente, bem como permissões atribuídas por meio de grupos de usuários.</Phrase>
      <Phrase Key="Admin_Link">Administração da Coleção</Phrase>
      <Phrase Key="Admin_Desc">Execute tarefas administrativas nesta coleção, alterando a aparência, facetas, tipos de resultados e muito mais.</Phrase>
    </Section>

    <Section Name="User_Permissions_Aggregation">
      <Phrase Key="Viewer_Title">Permissões de Usuário Específicas da Coleção</Phrase>
      <Phrase Key="No_Permissions_Message">Nenhuma permissão de usuário especial encontrada para esta coleção.</Phrase>
      <Phrase Key="Assign_Permissions_Sentence">Use &lt;a href="{0}"&gt;Usuários e Grupos administrativos&lt;/a&gt; para atribuir permissões de usuário específicas da coleção.</Phrase>
      <Phrase Key="Assign_New_Permissions_Sentence">Use &lt;a href="{0}"&gt;Usuários e Grupos administrativos&lt;/a&gt; para atribuir novas permissões de usuário específicas da coleção.</Phrase>
      <Phrase Key="Users_List_Intro">Abaixo está a lista de todos os usuários que têm permissões de usuário especializadas para esta coleção. Essas permissões podem ser atribuídas individualmente ou por meio de um grupo de usuários.</Phrase>
      <Phrase Key="Select_User_Prompt">Selecione um usuário na lista abaixo para editar as permissões desse usuário.</Phrase>
      <Phrase Key="User_Column">Usuário</Phrase>
      <Phrase Key="User_Group_Column">Grupo de Usuários</Phrase>
      <Phrase Key="Can_Select_Header">Pode&lt;br /&gt;Selecionar</Phrase>
      <Phrase Key="Can_Select_Tooltip">Pode selecionar esta coleção ao editar ou enviar um item</Phrase>
      <Phrase Key="Item_Edit_Metadata_Header">Item&lt;br /&gt;Editar&lt;br /&gt;Metadados</Phrase>
      <Phrase Key="Item_Edit_Behaviors_Header">Item&lt;br /&gt;Editar&lt;br /&gt;Comportamentos</Phrase>
      <Phrase Key="Item_Perform_Qc_Header">Item&lt;br /&gt;Realizar&lt;br /&gt;CQ</Phrase>
      <Phrase Key="Item_Upload_Files_Header">Item&lt;br /&gt;Enviar&lt;br /&gt;Arquivos</Phrase>
      <Phrase Key="Item_Change_Visibility_Header">Item&lt;br /&gt;Alterar&lt;br /&gt;Visibilidade</Phrase>
      <Phrase Key="Item_Can_Delete_Header">Item&lt;br /&gt;Pode&lt;br /&gt;Excluir</Phrase>
      <Phrase Key="Item_Permissions_Tooltip">Pode editar qualquer coisa sobre um item nesta coleção (ou seja, comportamentos, metadados, visibilidade, etc.)</Phrase>
      <Phrase Key="Can_Edit_Header">Pode&lt;br /&gt;Editar</Phrase>
      <Phrase Key="Can_Edit_Tooltip">Pode editar qualquer item nesta coleção</Phrase>
      <Phrase Key="Is_Curator_Header">É&lt;br /&gt;Curador</Phrase>
      <Phrase Key="Is_Admin_Header">É&lt;br /&gt;Admin</Phrase>
      <Phrase Key="Curator_Admin_Tooltip">Pode realizar tarefas de curadoria ou gerenciamento de coleção nesta coleção</Phrase>
      <Phrase Key="Group_Permissions_Intro">Algumas das permissões acima são atribuídas aos usuários por meio de grupos de usuários. Esses grupos de usuários e suas permissões aparecem abaixo:</Phrase>
    </Section>

    <Section Name="Work_History_Aggregation">
      <Phrase Key="Viewer_Title">Registro de Alterações da Coleção</Phrase>
      <Phrase Key="No_History_Message">Nenhum histórico encontrado para esta coleção!</Phrase>
      <Phrase Key="No_History_Explanation">Isso pode ser devido a um erro, ou pode ser uma coleção legada que não foi editada há muito tempo.</Phrase>
      <Phrase Key="Change_Log_Intro">Abaixo está o registro de alterações desta coleção e dos arquivos de design desta coleção. Isso não inclui o histórico de recursos digitais carregados nesta coleção.</Phrase>
      <Phrase Key="Date_Column">Data</Phrase>
      <Phrase Key="User_Column">Usuário</Phrase>
      <Phrase Key="Change_Description_Column">Descrição da Alteração</Phrase>
    </Section>

    <Section Name="PagedResults">
      <Phrase Key="Narrow_Results_By">LIMITAR RESULTADOS POR</Phrase>
      <Phrase Key="Show_More">Mostrar Mais</Phrase>
      <Phrase Key="Show_Less">Mostrar Menos</Phrase>
      <Phrase Key="Sort_By_Frequency">Ordenar estas facetas por frequência</Phrase>
      <Phrase Key="Sort_Alphabetically">Ordenar estas facetas alfabeticamente</Phrase>
      <Phrase Key="Date_Added">Data de Adição</Phrase>
      <Phrase Key="Rank">Relevância</Phrase>
      <Phrase Key="BibID_Ascending">BibID Crescente</Phrase>
      <Phrase Key="BibID_Descending">BibID Decrescente</Phrase>
      <Phrase Key="Date_Ascending">Data Crescente</Phrase>
      <Phrase Key="Date_Descending">Data Decrescente</Phrase>
      <Phrase Key="Anywhere">Em qualquer lugar</Phrase>
      <Phrase Key="Title">Título</Phrase>
      <Phrase Key="Date">Data</Phrase>
      <Phrase Key="Access_Restricted">Acesso Restrito</Phrase>
      <Phrase Key="Access_Restricted_Private_Item">Acesso Restrito (Item Privado)</Phrase>
      <Phrase Key="Access_Restricted_Dark_Item">Acesso Restrito (Item Oculto)</Phrase>
      <Phrase Key="Showing_Range_Format">{0} - {1} de {2} títulos correspondentes</Phrase>
      <Phrase Key="Showing_Coord_Range_Format">{0} - {1} de {2} coordenadas correspondentes</Phrase>
      <Phrase Key="Showing_Flights_Range_Format">{0} - {1} de {2} voos correspondentes</Phrase>
      <Phrase Key="Timeline_Showing_Format">{0} itens com datas exibidas</Phrase>
    </Section>

  </Localization>
</SobekCM_Config>
