<?xml version="1.0" encoding="utf-8" ?>
<SobekCM_Config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://sobekrepository.org/schemas/sobekcm_config"
	xsi:schemaLocation="http://sobekrepository.org/schemas/sobekcm_config
		http://sobekrepository.org/schemas/sobekcm_config.xsd">
  <Localization Language="pt">

    <Section Name="Internal">
      <Phrase Key="Collection_Details_Title">Coleções Ativas e Inativas</Phrase>
      <Phrase Key="New_Items_Title">Itens Recém-Adicionados ou Modificados</Phrase>
      <Phrase Key="Memory_Mgmt_Title">Perfil Atual de Memória</Phrase>
      <Phrase Key="Wordmarks_Title">Logotipos</Phrase>
      <Phrase Key="Build_Failures_Title">Registro de Falhas de Construção</Phrase>
      <Phrase Key="Unauthorized_Title">Somente para Usuários Internos</Phrase>
      <Phrase Key="Unauthorized_Message">Você não está autorizado a acessar esta exibição.</Phrase>
      <Phrase Key="Return_Home_Link">Clique aqui para voltar à página inicial da biblioteca digital.</Phrase>

      <Phrase Key="Wordmarks_Admin_Manage_Html"><![CDATA[Como você é um administrador, pode <a href="{0}">gerenciar os logotipos na tela de administração</a>.]]></Phrase>
      <Phrase Key="No_Wordmarks_Message">Nenhum logotipo neste sistema</Phrase>
      <Phrase Key="Wordmarks_Admin_Add_Message">Os administradores podem adicionar logotipos através das telas de administração de logotipos</Phrase>

      <Phrase Key="Build_Failures_Intro">Os dados abaixo mostram os erros ocorridos ao carregar novos itens através do builder. Eles podem ser exibidos por mês e ano abaixo, selecionando o mês inicial e final. Essas falhas continuarão a ser exibidas até que sejam removidas manualmente por um técnico do DLC ou até que o item seja carregado com sucesso após a falha ou aviso.</Phrase>
      <Phrase Key="Selected_Date_Range">Intervalo de Datas Selecionado</Phrase>
      <Phrase Key="Build_Failures_Search_Prompt">As falhas e avisos encontrados durante a construção podem ser pesquisados abaixo, por mês:</Phrase>
      <Phrase Key="From_Label">De:</Phrase>
      <Phrase Key="To_Label">Até:</Phrase>
      <Phrase Key="Select_Range_Title">Selecionar Intervalo</Phrase>
      <Phrase Key="Change_Date_Instructions">Para alterar a data exibida, escolha suas datas acima e clique no botão GO.</Phrase>
      <Phrase Key="Build_Failures_Warnings_Header">Falhas e Avisos de Construção</Phrase>
      <Phrase Key="No_Failures_Message">Nenhum aviso ou falha pendente para o intervalo de datas selecionado.</Phrase>
      <Phrase Key="Bibid_Vid_Header">BIBID : VID</Phrase>
      <Phrase Key="Mets_Type_Header">TIPO DE METS</Phrase>
      <Phrase Key="Description_Header">DESCRIÇÃO</Phrase>

      <Phrase Key="Global_Values_Header">VALORES GLOBAIS</Phrase>
      <Phrase Key="Application_State_Header">VALORES DO ESTADO DA APLICAÇÃO</Phrase>
      <Phrase Key="Local_Cache_State_Header">OBJETOS EM CACHE LOCAL</Phrase>
      <Phrase Key="Session_State_Header">VALORES DO ESTADO DA SESSÃO</Phrase>
      <Phrase Key="Instance_Name_Header">NOME DA INSTÂNCIA</Phrase>
      <Phrase Key="Key_Header">CHAVE</Phrase>
      <Phrase Key="Object_Header">OBJETO</Phrase>
      <Phrase Key="None_Placeholder">( nenhum )</Phrase>
      <Phrase Key="Application_State_Error">Erro detectado ao obter as informações de gerenciamento de memória do Estado da Aplicação</Phrase>
      <Phrase Key="Local_Cache_Error">Erro detectado ao obter as informações de gerenciamento do cache de memória</Phrase>
      <Phrase Key="Session_State_Error">Erro detectado ao obter as informações de gerenciamento de memória do Estado da Sessão</Phrase>

      <Phrase Key="Aggregations_Tree_Intro">Abaixo está a árvore mestra completa de todas as agregações dentro desta biblioteca. Isso inclui todas as agregações ativas, bem como todas as coleções ocultas ou inativas.</Phrase>
      <Phrase Key="View_Table_View_Link">Clique aqui para ver as agregações em modo de tabela</Phrase>
      <Phrase Key="Collapse_All">Recolher Tudo</Phrase>
      <Phrase Key="Expand_All">Expandir Tudo</Phrase>
      <Phrase Key="Collection_Hierarchy">Hierarquia da Coleção</Phrase>
      <Phrase Key="Institutions">Instituições</Phrase>

      <Phrase Key="Aggregations_List_Intro">Abaixo está a lista mestra completa de todas as agregações dentro desta biblioteca. Isso inclui todas as agregações ativas, bem como todas as coleções ocultas ou inativas.</Phrase>
      <Phrase Key="View_Tree_View_Link">Clique aqui para ver as agregações em modo de árvore</Phrase>
      <Phrase Key="Code_Header">CÓDIGO</Phrase>
      <Phrase Key="Type_Header">TIPO</Phrase>
      <Phrase Key="Name_Header">NOME</Phrase>
      <Phrase Key="Active_Header">ATIVO</Phrase>
      <Phrase Key="On_Home_Header">NA HOME</Phrase>
      <Phrase Key="Parent_Header">PAI</Phrase>
      <Phrase Key="Search_Code_Placeholder">Pesquisar Código</Phrase>
      <Phrase Key="Search_Name_Placeholder">Pesquisar Nome</Phrase>

      <Phrase Key="No_New_Items_Message">NENHUM ITEM NOVO</Phrase>
      <Phrase Key="Date_Header">DATA</Phrase>
      <Phrase Key="All_Types">TODOS</Phrase>
      <Phrase Key="Online_Edits">EDIÇÕES ONLINE</Phrase>
      <Phrase Key="Online_Submits">ENVIOS ONLINE</Phrase>
      <Phrase Key="Visibility_Changes">ALTERAÇÕES DE VISIBILIDADE</Phrase>
      <Phrase Key="Bulk_Loaded">CARREGAMENTO EM MASSA</Phrase>
      <Phrase Key="Post_Processed">PÓS-PROCESSADO</Phrase>
      <Phrase Key="Large_Update_Count_Message">Houve um número incomumente grande de atualizações na última semana.</Phrase>
      <Phrase Key="Select_Update_Type_Message">Selecione a aba do tipo de atualização acima para ver os detalhes.</Phrase>
      <Phrase Key="User_Header">USUÁRIO</Phrase>
      <Phrase Key="No_Tracking_Info_Message">NENHUMA INFORMAÇÃO DE RASTREAMENTO PARA SUA SELEÇÃO.</Phrase>
      <Phrase Key="No_Info_Message">NENHUMA INFORMAÇÃO PARA SUA SELEÇÃO.</Phrase>

      <Phrase Key="Month_1">Janeiro</Phrase>
      <Phrase Key="Month_2">Fevereiro</Phrase>
      <Phrase Key="Month_3">Março</Phrase>
      <Phrase Key="Month_4">Abril</Phrase>
      <Phrase Key="Month_5">Maio</Phrase>
      <Phrase Key="Month_6">Junho</Phrase>
      <Phrase Key="Month_7">Julho</Phrase>
      <Phrase Key="Month_8">Agosto</Phrase>
      <Phrase Key="Month_9">Setembro</Phrase>
      <Phrase Key="Month_10">Outubro</Phrase>
      <Phrase Key="Month_11">Novembro</Phrase>
      <Phrase Key="Month_12">Dezembro</Phrase>
    </Section>

  </Localization>
</SobekCM_Config>
