<?xml version="1.0" encoding="utf-8" ?>
<SobekCM_Config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://sobekrepository.org/schemas/sobekcm_config"
	xsi:schemaLocation="http://sobekrepository.org/schemas/sobekcm_config
		http://sobekrepository.org/schemas/sobekcm_config.xsd">
  <Localization Language="pt">

    <Section Name="General">
      <Phrase Key="Description">Descrição</Phrase>
      <Phrase Key="Format">Formato</Phrase>
      <Phrase Key="Publisher">Editora</Phrase>
      <Phrase Key="Relation">Relação</Phrase>
      <Phrase Key="Resource_Identifier">Identificador do Recurso</Phrase>
      <Phrase Key="Resource_Type">Tipo de Recurso</Phrase>
      <Phrase Key="Subject">Assunto</Phrase>
      <Phrase Key="Abstract">Resumo</Phrase>
      <Phrase Key="Alternate_Title">Título Alternativo</Phrase>
      <Phrase Key="Attribution_Statement">Declaração de Atribuição</Phrase>
      <Phrase Key="Bibliographic_ID">ID Bibliográfico</Phrase>
      <Phrase Key="Contributor">Colaborador</Phrase>
      <Phrase Key="Creator">Criador</Phrase>
      <Phrase Key="Donor">Doador</Phrase>
      <Phrase Key="EAD_Identifier">Identificador EAD</Phrase>
      <Phrase Key="Holding_Location">Local de Armazenamento</Phrase>
      <Phrase Key="Latitude_Hours">Horas de Latitude</Phrase>
      <Phrase Key="Latitude_Minutes">Minutos de Latitude</Phrase>
      <Phrase Key="Latitude_Seconds">Segundos de Latitude</Phrase>
      <Phrase Key="Longitude_Hours">Horas de Longitude</Phrase>
      <Phrase Key="Longitude_Minutes">Minutos de Longitude</Phrase>
      <Phrase Key="Longitude_Seconds">Segundos de Longitude</Phrase>
      <Phrase Key="Notes">Notas</Phrase>
      <Phrase Key="Rights_Management">Gestão de Direitos</Phrase>
      <Phrase Key="Scale">Escala</Phrase>
      <Phrase Key="Series_Title">Título da Série</Phrase>
      <Phrase Key="Source_Institution">Instituição de Origem</Phrase>
      <Phrase Key="Spatial_Coverage">Cobertura Espacial</Phrase>
      <Phrase Key="Subcollection">Subcoleção</Phrase>
      <Phrase Key="Temporal_Coverage">Cobertura Temporal</Phrase>
      <Phrase Key="Uniform_Title">Título Uniforme</Phrase>
      <Phrase Key="Volume_ID">ID do Volume</Phrase>
      <Phrase Key="Interviewer">Entrevistador</Phrase>
      <Phrase Key="Interviewee">Entrevistado</Phrase>
      <Phrase Key="Publication_Date">Data de Publicação</Phrase>
      <Phrase Key="Author">Autor</Phrase>
      <Phrase Key="Place_of_Publication">Local de Publicação</Phrase>
      <Phrase Key="Year">Ano</Phrase>
      <Phrase Key="Acknowledgement">Agradecimento</Phrase>
      <Phrase Key="Advertising">Publicidade</Phrase>
      <Phrase Key="Appendix">Apêndice</Phrase>
      <Phrase Key="Back_Cover">Contracapa</Phrase>
      <Phrase Key="Back_Matter">Matéria Final</Phrase>
      <Phrase Key="Bibliography">Bibliografia</Phrase>
      <Phrase Key="Chapter">Capítulo</Phrase>
      <Phrase Key="Conclusion">Conclusão</Phrase>
      <Phrase Key="Copyright">Direitos Autorais</Phrase>
      <Phrase Key="Cover">Capa</Phrase>
      <Phrase Key="Dedication">Dedicatória</Phrase>
      <Phrase Key="Errata">Errata</Phrase>
      <Phrase Key="Foreword">Prefácio</Phrase>
      <Phrase Key="Front_Cover">Capa Frontal</Phrase>
      <Phrase Key="Front_Matter">Matéria Inicial</Phrase>
      <Phrase Key="Frontispiece">Frontispício</Phrase>
      <Phrase Key="Half_Title">Meio-título</Phrase>
      <Phrase Key="Index">Índice Remissivo</Phrase>
      <Phrase Key="Interview">Entrevista</Phrase>
      <Phrase Key="Introduction">Introdução</Phrase>
      <Phrase Key="List_of_Figures">Lista de Figuras</Phrase>
      <Phrase Key="List_of_Illustrations">Lista de Ilustrações</Phrase>
      <Phrase Key="List_of_Tables">Lista de Tabelas</Phrase>
      <Phrase Key="Main">Principal</Phrase>
      <Phrase Key="Methodology">Metodologia</Phrase>
      <Phrase Key="Poem">Poema</Phrase>
      <Phrase Key="Preface">Prefácio</Phrase>
      <Phrase Key="Prelude">Prelúdio</Phrase>
      <Phrase Key="Reference">Referência</Phrase>
      <Phrase Key="Section">Seção</Phrase>
      <Phrase Key="Spine">Lombada</Phrase>
      <Phrase Key="Subdivision_Level_1">Nível de Subdivisão 1</Phrase>
      <Phrase Key="Subdivision_Level_2">Nível de Subdivisão 2</Phrase>
      <Phrase Key="Subdivision_Level_3">Nível de Subdivisão 3</Phrase>
      <Phrase Key="Subdivision_Level_4">Nível de Subdivisão 4</Phrase>
      <Phrase Key="Subdivision_Level_5">Nível de Subdivisão 5</Phrase>
      <Phrase Key="Subdivision_Level_6">Nível de Subdivisão 6</Phrase>
      <Phrase Key="Table_of_Contents">Sumário</Phrase>
      <Phrase Key="Title_Page">Página de Rosto</Phrase>
      <Phrase Key="Group">Grupo</Phrase>
      <Phrase Key="PAGE_IMAGE">IMAGEM DA PÁGINA</Phrase>
      <Phrase Key="PAGE_TEXT">TEXTO DA PÁGINA</Phrase>
      <Phrase Key="ZOOMABLE">AMPLIÁVEL</Phrase>
      <Phrase Key="FEATURES">EDIFÍCIOS</Phrase>
      <Phrase Key="STREETS">RUAS</Phrase>
      <Phrase Key="All_Items">Todos os Itens</Phrase>
      <Phrase Key="Recently_Added_Items">Itens Adicionados Recentemente</Phrase>
      <Phrase Key="Related_Images">Imagens Relacionadas</Phrase>
      <Phrase Key="Anywhere">Em qualquer lugar</Phrase>
      <Phrase Key="NARROW_RESULTS_BY">LIMITAR RESULTADOS POR</Phrase>
      <Phrase Key="Country">País</Phrase>
      <Phrase Key="State">Estado</Phrase>
      <Phrase Key="County">Condado</Phrase>
      <Phrase Key="City">Cidade</Phrase>
      <Phrase Key="Subject_Topic">Assunto: Tema</Phrase>
      <Phrase Key="Subject_Geographic_Area">Assunto: Área Geográfica</Phrase>
      <Phrase Key="Subject_Genre">Assunto: Gênero</Phrase>
      <Phrase Key="Show_More">Mostrar Mais</Phrase>
      <Phrase Key="Show_Less">Mostrar Menos</Phrase>
      <Phrase Key="Permanent_Link">Link Permanente</Phrase>
      <Phrase Key="Material_Information">Informação do Material</Phrase>
      <Phrase Key="Physical_Description">Descrição Física</Phrase>
      <Phrase Key="Manufacturer">Fabricante</Phrase>
      <Phrase Key="Subjects">Assuntos</Phrase>
      <Phrase Key="Statement_of_Responsibility">Declaração de Responsabilidade</Phrase>
      <Phrase Key="General_Note">Nota Geral</Phrase>
      <Phrase Key="Record_Information">Informação do Registro</Phrase>
      <Phrase Key="Local_Membership">Associados Locais</Phrase>
      <Phrase Key="METS_Information">Informação METS</Phrase>
      <Phrase Key="Creation_Date">Data de Criação</Phrase>
      <Phrase Key="Last_Modified">Última Modificação</Phrase>
      <Phrase Key="Last_User">Último Usuário</Phrase>
      <Phrase Key="System_Folder">Pasta do Sistema</Phrase>
      <Phrase Key="Item_Primary_Key">Chave Primária do Item</Phrase>
      <Phrase Key="Group_Primary_Key">Chave Primária do Grupo</Phrase>
      <Phrase Key="System_Admin_Information">Informação de Administração do Sistema</Phrase>
      <Phrase Key="Group_Title">Título do Grupo</Phrase>
      <Phrase Key="Accession_Number">Número de Aquisição</Phrase>
      <Phrase Key="Caribbean_Newspaper_Digital_Library">Biblioteca Digital de Jornais do Caribe</Phrase>
      <Phrase Key="Digital_Library_of_the_Caribbean">Biblioteca Digital do Caribe</Phrase>
      <Phrase Key="Panama_and_the_Canal">Panamá e o Canal</Phrase>
      <Phrase Key="Subject_Keywords">Palavras-chave de Assunto</Phrase>
      <Phrase Key="Type">Tipo</Phrase>
      <Phrase Key="Genre">Gênero</Phrase>
      <Phrase Key="Target_Audience">Público-Alvo</Phrase>
      <Phrase Key="Attribution">Atribuição</Phrase>
      <Phrase Key="Tickler">Lembrete</Phrase>
      <Phrase Key="Identifier">Identificador</Phrase>
      <Phrase Key="Affiliation">Afiliação</Phrase>
      <Phrase Key="Frequency">Frequência</Phrase>
      <Phrase Key="Date_Ascending">Data Crescente</Phrase>
      <Phrase Key="Date_Descending">Data Decrescente</Phrase>
      <Phrase Key="TEXT_SEARCH">PESQUISA DE TEXTO</Phrase>
      <Phrase Key="Subcollections">Subcoleções</Phrase>
      <Phrase Key="Metadata_Only">Apenas Metadados</Phrase>
      <Phrase Key="Most_Recent">Mais Recente</Phrase>
      <Phrase Key="Child_Collections">Subcoleções</Phrase>
      <Phrase Key="Title">Título</Phrase>
      <Phrase Key="Date">Data</Phrase>
      <Phrase Key="Language">Idioma</Phrase>
      <Phrase Key="Full_Citation">Citação Completa</Phrase>
    </Section>

  </Localization>
</SobekCM_Config>
