<?xml version="1.0" encoding="utf-8" ?>
<SobekCM_Config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://sobekrepository.org/schemas/sobekcm_config"
	xsi:schemaLocation="http://sobekrepository.org/schemas/sobekcm_config
		http://sobekrepository.org/schemas/sobekcm_config.xsd">
  <Localization Language="fr">

    <Section Name="Aggregation_Common">
      <Phrase Key="Go">Aller</Phrase>
      <Phrase Key="Search_Collection">Recherche dans la collection</Phrase>
      <Phrase Key="Include_Non_Public_Items">Inclure les éléments non publics</Phrase>
      <Phrase Key="Limit_By_Year">Limiter par année</Phrase>
      <Phrase Key="Show_Only_Media">Afficher seulement les documents avec images ou autres médias</Phrase>
      <Phrase Key="Through">à</Phrase>
      <Phrase Key="Include_Full_Text">Inclure le texte du document dans la recherche</Phrase>
      <Phrase Key="Search_All_Collections">Rechercher dans toutes les collections</Phrase>
      <Phrase Key="Home">Accueil</Phrase>
    </Section>

    <Section Name="Advanced_Search">
      <Phrase Key="Search_For">Recherche de:</Phrase>
      <Phrase Key="In">en</Phrase>
      <Phrase Key="Search">Rechercher</Phrase>
      <Phrase Key="Search_Options">Options de recherche</Phrase>
      <Phrase Key="Precision">Précision</Phrase>
      <Phrase Key="Contains_Exactly">Contient exactement les termes de recherche</Phrase>
      <Phrase Key="Contains_Any_Form">Contient toute forme des termes de recherche</Phrase>
      <Phrase Key="Contains_Meaning">Contient le terme de recherche ou des termes de signification similaire</Phrase>
      <Phrase Key="And">et</Phrase>
      <Phrase Key="Or">ou</Phrase>
      <Phrase Key="And_Not">et non</Phrase>
    </Section>

    <Section Name="Item_Count">
      <Phrase Key="Resource_Count_In_Collection">Nombre de ressources dans la collection</Phrase>
      <Phrase Key="Description">Vous trouverez ci-dessous le nombre de titres et d'éléments pour tous les éléments de cette collection, y compris les éléments actuellement en ligne ainsi que les éléments en cours de traitement.</Phrase>
      <Phrase Key="Visibility">VISIBILITÉ</Phrase>
      <Phrase Key="Title_Count">NOMBRE DE TITRES</Phrase>
      <Phrase Key="Item_Count">NOMBRE D'ÉLÉMENTS</Phrase>
      <Phrase Key="Page_Count">NOMBRE DE PAGES</Phrase>
      <Phrase Key="File_Count">NOMBRE DE FICHIERS</Phrase>
    </Section>

    <Section Name="Full_Text_Search">
      <Phrase Key="Search_Full_Text">Recherche dans la collection</Phrase>
    </Section>

    <Section Name="DLOC_Search">
      <Phrase Key="Include_Newspapers">Accès aux journaux inclus?</Phrase>
    </Section>

    <Section Name="Map_Common">
      <Phrase Key="Google_Maps_Not_Enabled_Html"><![CDATA[<p style="font-weight:bold; text-size:1.1em">ERREUR : Google Maps n'est pas activé sur cette instance de SobekCM !</p>
<p>Pour l'activer, veuillez créer une clé API Google Maps et l'entrer dans les paramètres du système.</p>
<p>Des informations sur cette procédure sont disponibles ici : <a href="http://sobekrepository.org/software/config/googlemaps">http://sobekrepository.org/software/config/googlemaps</a>.</p>]]></Phrase>
    </Section>

    <Section Name="Map_Browse">
      <Phrase Key="Select_Point_Instructions_Html"><![CDATA[Sélectionnez un point ci-dessous pour afficher les éléments provenant de cet endroit ou le concernant.<br />Appuyez sur la touche MAJ, puis faites glisser un rectangle sur la carte pour zoomer.]]></Phrase>
      <Phrase Key="More_Info_Single_Title">Cliquez ici pour plus d'informations sur ce titre</Phrase>
      <Phrase Key="More_Info_Multiple_Titles">Cliquez ici pour plus d'informations sur ces {0} titres</Phrase>
    </Section>

    <Section Name="Map_Search">
      <Phrase Key="Find_Address">Localiser</Phrase>
      <Phrase Key="Address">Adresse</Phrase>
      <Phrase Key="Locate">Localiser</Phrase>
      <Phrase Key="Point_Disabled_Instructions_Html"><![CDATA[<span style="line-height:160%"> &nbsp; &nbsp; 1. Utilisez le bouton <i>Sélectionner une zone</i> et cliquez pour sélectionner les coins opposés afin de dessiner un rectangle de recherche sur la carte &nbsp; &nbsp; <br /> &nbsp; &nbsp; 2. Appuyez sur le bouton <i>Rechercher</i> pour voir les résultats &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; ( <a href="#FAQ">plus d'aide</a> )</span>]]></Phrase>
      <Phrase Key="Faq_Point_Disabled_Html"><![CDATA[  <h1>FAQ de la recherche sur carte</h1>
  <ul>
    <li>Comment effectuer une recherche ?
      <p class="tagline">Pour effectuer une recherche, vous devez d'abord définir votre zone d'intérêt, puis effectuer la recherche. Pour définir une zone, cliquez sur <i>Appuyer pour sélectionner une zone</i> sur la carte. Cliquez ensuite sur un point de départ sur la carte, puis cliquez sur le coin opposé pour créer un rectangle. En cliquant sur <i>Rechercher</i> au-dessus de la carte, vous récupérerez les résultats correspondant à cette zone.</p>
    </li>
    <li>J'ai des difficultés à sélectionner une zone
      <p class="tagline">Sélectionner une zone rectangulaire à rechercher est simple une fois que vous comprenez la technique. Tout d'abord, sélectionnez le bouton <i>Appuyer pour sélectionner une zone</i> sur la carte. Ensuite, déplacez-vous vers le coin supérieur gauche de la région que vous souhaitez rechercher, puis cliquez et relâchez le bouton gauche de la souris. En déplaçant la souris, vous remarquerez qu'un rectangle se dessine, représentant votre région. Lorsque vous cliquez et relâchez à nouveau la souris, vous définissez le coin inférieur droit de la région à rechercher. N'appuyez pas sur le bouton de la souris en faisant glisser la souris, car cela déplacera la carte et ne définira pas de région à sélectionner. Une fois votre région correctement définie, appuyez sur le bouton <i>Rechercher</i> pour afficher les résultats correspondants.</p>
    </li>
    <li>Pourquoi ne puis-je pas rechercher par adresse ou par point ?
      <p class="tagline">Cette collection est composée principalement de points, la recherche par zone est donc beaucoup plus efficace que la recherche par point.</p>
    </li>
    <li>Que recherche-t-on ?
      <p class="tagline">Les données recherchées dépendent du type de document. Pour les journaux, le lieu de publication est recherché. Pour les cartes, la couverture géographique est recherchée. Et pour les photographies, l'endroit où la photographie a été prise est recherché.</p>
    </li>
    <li>Pourquoi si peu de résultats ?
      <p class="tagline"> Cette interface est en phase de test bêta, tandis que nous ajoutons davantage d'informations de coordonnées à notre base de données de recherche. Revenez souvent pour suivre notre progression !</p>
    </li>
  </ul>]]></Phrase>
    </Section>

    <Section Name="Newspaper_Search">
      <Phrase Key="Full_Citation">Citation complète</Phrase>
      <Phrase Key="Full_Text">Texte intégral</Phrase>
      <Phrase Key="Newspaper_Title">Titre du journal</Phrase>
      <Phrase Key="Location">Emplacement</Phrase>
    </Section>

    <Section Name="Metadata_Browse">
      <Phrase Key="Browse_By">Parcourir par</Phrase>
      <Phrase Key="Browse_By_Colon">PARCOURIR PAR :</Phrase>
      <Phrase Key="Public_Browses">Parcours publics</Phrase>
      <Phrase Key="Internal_Browses">Parcours internes</Phrase>
      <Phrase Key="Browses">Parcours</Phrase>
      <Phrase Key="Select_Field_Prompt">Sélectionnez un champ de métadonnées à parcourir dans la liste de gauche</Phrase>
      <Phrase Key="No_Matching_Values">AUCUNE VALEUR CORRESPONDANTE</Phrase>
    </Section>

    <Section Name="Tiles_Home">
      <Phrase Key="Varies">( varie )</Phrase>
    </Section>

    <Section Name="Thumbnails_Home">
      <Phrase Key="Collection_Items">Éléments de la collection</Phrase>
      <Phrase Key="Showing_Items_Out_Of">Affichage de 20 éléments sur {0}</Phrase>
      <Phrase Key="View_All">Tout afficher</Phrase>
    </Section>

    <Section Name="Usage_Statistics">
      <Phrase Key="Title_Collection_Views">Historique d'utilisation au niveau de la collection</Phrase>
      <Phrase Key="Title_Item_Views">Historique d'utilisation des éléments</Phrase>
      <Phrase Key="Title_Top_Titles">Titres les plus consultés</Phrase>
      <Phrase Key="Title_Top_Items">Éléments les plus consultés</Phrase>
      <Phrase Key="Title_Definitions">Définitions des termes utilisés</Phrase>

      <Phrase Key="Tab_Collection_Views">VUES DE LA COLLECTION</Phrase>
      <Phrase Key="Tab_Item_Views">VUES DES ÉLÉMENTS</Phrase>
      <Phrase Key="Tab_Top_Titles">TITRES LES PLUS CONSULTÉS</Phrase>
      <Phrase Key="Tab_Top_Items">ÉLÉMENTS LES PLUS CONSULTÉS</Phrase>
      <Phrase Key="Tab_Definitions">DÉFINITIONS</Phrase>

      <Phrase Key="Month_1">Janvier</Phrase>
      <Phrase Key="Month_2">Février</Phrase>
      <Phrase Key="Month_3">Mars</Phrase>
      <Phrase Key="Month_4">Avril</Phrase>
      <Phrase Key="Month_5">Mai</Phrase>
      <Phrase Key="Month_6">Juin</Phrase>
      <Phrase Key="Month_7">Juillet</Phrase>
      <Phrase Key="Month_8">Août</Phrase>
      <Phrase Key="Month_9">Septembre</Phrase>
      <Phrase Key="Month_10">Octobre</Phrase>
      <Phrase Key="Month_11">Novembre</Phrase>
      <Phrase Key="Month_12">Décembre</Phrase>

      <Phrase Key="Collection_History_Intro">L'historique d'utilisation de cette collection est affiché ci-dessous. Cet historique comprend uniquement les vues de premier niveau de la collection.</Phrase>
      <Phrase Key="Item_History_Intro">L'historique d'utilisation des éléments de cette collection est affiché ci-dessous.</Phrase>
      <Phrase Key="Items_By_Collection_Intro">Les éléments les plus fréquemment utilisés de cette collection apparaissent ci-dessous.</Phrase>
      <Phrase Key="Titles_By_Collection_Intro">Les titres les plus fréquemment utilisés par collection apparaissent ci-dessous.</Phrase>
      <Phrase Key="Definitions_Link_Sentence"><![CDATA[La <a href="{0}">page des définitions</a> fournit plus de détails sur les statistiques et les termes utilisés ci-dessous.]]></Phrase>

      <Phrase Key="Year_Statistics_Suffix"> STATISTIQUES</Phrase>
      <Phrase Key="Total">TOTAL</Phrase>

      <Phrase Key="Date">DATE</Phrase>
      <Phrase Key="Total_Views_Html"><![CDATA[TOTAL<br />VUES]]></Phrase>
      <Phrase Key="Visits">VISITES</Phrase>
      <Phrase Key="Main_Pages_Html"><![CDATA[PAGES <br />PRINCIPALES]]></Phrase>
      <Phrase Key="Browses">PARCOURS</Phrase>
      <Phrase Key="Search_Results_Html"><![CDATA[RÉSULTATS<br />DE RECHERCHE]]></Phrase>
      <Phrase Key="Title_Views_Html"><![CDATA[VUES DE<br />TITRES]]></Phrase>
      <Phrase Key="Item_Views_Html"><![CDATA[VUES<br />D'ÉLÉMENTS]]></Phrase>

      <Phrase Key="Jpeg_Views_Html"><![CDATA[VUES<br />JPEG]]></Phrase>
      <Phrase Key="Zoomable_Views_Html"><![CDATA[VUES<br />ZOOMABLES]]></Phrase>
      <Phrase Key="Citation_Views_Html"><![CDATA[VUES DE<br />CITATION]]></Phrase>
      <Phrase Key="Thumbnail_Views_Html"><![CDATA[VUES DE<br />VIGNETTES]]></Phrase>
      <Phrase Key="Text_Searches_Html"><![CDATA[RECHERCHES<br />DE TEXTE]]></Phrase>
      <Phrase Key="Flash_Views_Html"><![CDATA[VUES<br />FLASH]]></Phrase>
      <Phrase Key="Map_Views_Html"><![CDATA[VUES DE<br />CARTE]]></Phrase>
      <Phrase Key="Download_Views_Html"><![CDATA[TÉLÉCHARGE-<br />MENTS]]></Phrase>
      <Phrase Key="Static_Views_Html"><![CDATA[VUES<br />STATIQUES]]></Phrase>

      <Phrase Key="Bibid">BIBID</Phrase>
      <Phrase Key="Vid">VID</Phrase>
      <Phrase Key="Title">TITRE</Phrase>
      <Phrase Key="Views">VUES</Phrase>

    </Section>

  </Localization>
</SobekCM_Config>
