<?xml version="1.0" encoding="utf-8" ?>
<SobekCM_Config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://sobekrepository.org/schemas/sobekcm_config"
	xsi:schemaLocation="http://sobekrepository.org/schemas/sobekcm_config
		http://sobekrepository.org/schemas/sobekcm_config.xsd">
  <Localization Language="fr">

    <Section Name="Home">
      <Phrase Key="Welcome_New_User_Format">Bienvenue sur mon{0}, {1}</Phrase>
      <Phrase Key="Welcome_Back_Format">Bienvenue de Nouveau, {0}</Phrase>
      <Phrase Key="Welcome_Intro_Format">Bienvenue sur {0}. Cette fonctionnalité vous permet d'ajouter des articles à vos étagères, d'organiser vos étagères et de les envoyer par courriel à vos amis.</Phrase>
      <Phrase Key="What_Would_You_Like">Que souhaitez-vous faire aujourd'hui ?</Phrase>
      <Phrase Key="Upload_Existing_Oer">Téléverser un OER existant</Phrase>
      <Phrase Key="Create_New_Oer_Online">Créer un nouvel OER en ligne (avec Open Publishing)</Phrase>
      <Phrase Key="Upload_New_Item">Téléverser un nouvel article</Phrase>
      <Phrase Key="Add_New_Tei_Item">Ajouter un nouvel article TEI</Phrase>
      <Phrase Key="Submittals_Disabled">Les soumissions en ligne sont temporairement désactivées</Phrase>
      <Phrase Key="View_All_Submitted_Items">Voir tous mes articles soumis</Phrase>
      <Phrase Key="View_Usage_For_My_Items">Voir l'utilisation de mes articles</Phrase>
      <Phrase Key="View_My_Descriptive_Tags">Voir mes étiquettes descriptives</Phrase>
      <Phrase Key="View_And_Organize_Bookshelves">Voir et organiser mes étagères</Phrase>
      <Phrase Key="View_My_Saved_Searches">Voir mes recherches enregistrées</Phrase>
      <Phrase Key="Edit_My_Preferences">Modifier mes préférences de compte</Phrase>
      <Phrase Key="Track_Item_Scanning">Suivi de la Numérisation/du Traitement des Articles</Phrase>
      <Phrase Key="Return_To_Previous_Page_Format">Retourner à la page précédente de {0}</Phrase>
      <Phrase Key="Log_Out">Déconnexion</Phrase>
      <Phrase Key="Contact_Us_Link_Text">contactez-nous</Phrase>
      <Phrase Key="Comments_Recommendations_Format">Des commentaires ou des recommandations ? Veuillez {0}.</Phrase>
      <Phrase Key="Contribute_Materials_Format">Si vous souhaitez contribuer des documents par le biais du système en ligne, veuillez également {0}.</Phrase>
    </Section>

    <Section Name="Saved_Searches">
      <Phrase Key="Page_Title">Mes Recherches Enregistrées</Phrase>
      <Phrase Key="Actions_Header">ACTIONS</Phrase>
      <Phrase Key="Saved_Search_Header">RECHERCHE ENREGISTRÉE</Phrase>
      <Phrase Key="Delete_Link_Title">Cliquez pour supprimer cette recherche enregistrée</Phrase>
      <Phrase Key="Delete_Link_Text">supprimer</Phrase>
      <Phrase Key="View_Link_Title">Cliquez pour voir cette recherche</Phrase>
      <Phrase Key="View_Link_Text">voir</Phrase>
      <Phrase Key="No_Saved_Searches_Html">Vous n'avez aucune recherche ou parcours enregistré.&lt;br /&gt;&lt;br /&gt;Pour ajouter une recherche ou un parcours, utilisez le bouton AJOUTER lorsque vous consultez les résultats de votre recherche ou parcours.</Phrase>
    </Section>

    <Section Name="Logon">
      <Phrase Key="Default_Disabled_Message">La connexion générale à ce système est temporairement désactivée.</Phrase>
      <Phrase Key="Invalid_Credentials">Utilisateur/mot de passe invalide</Phrase>
      <Phrase Key="Page_Title_Format">Connexion à Mon{0}</Phrase>
      <Phrase Key="Heading_Format">Connexion à {0}</Phrase>
      <Phrase Key="Feature_Requires_Logon">La fonctionnalité à laquelle vous essayez d'accéder nécessite une connexion valide.</Phrase>
      <Phrase Key="Choose_Logon_Below">Veuillez choisir la connexion appropriée ci-dessous.</Phrase>
      <Phrase Key="Dloc_Valid_Logon_Text">Si vous avez une connexion myDLOC valide</Phrase>
      <Phrase Key="Dloc_Sign_On_Text">Connectez-vous avec l'authentification myDLOC</Phrase>
      <Phrase Key="Shibboleth_Valid_Id_Format">Si vous avez un identifiant {0} valide</Phrase>
      <Phrase Key="Shibboleth_Sign_On_Format">Connectez-vous avec votre {0} ici</Phrase>
      <Phrase Key="Instance_Valid_Logon_Format">Si vous avez une connexion mon{0} valide</Phrase>
      <Phrase Key="Instance_Sign_On_Format">Connectez-vous avec l'authentification mon{0} ici</Phrase>
      <Phrase Key="Federated_Valid_Account_Format">Si vous avez un compte {0} valide</Phrase>
      <Phrase Key="Federated_Sign_In_Format">Connectez-vous avec {0}</Phrase>
      <Phrase Key="Not_Registered_Yet">Pas encore inscrit ?</Phrase>
      <Phrase Key="Register_Now">Inscrivez-vous maintenant</Phrase>
      <Phrase Key="Contact_Us">Contactez-nous</Phrase>
      <Phrase Key="Popup_Title_Log_In">CONNEXION</Phrase>
      <Phrase Key="Username_Or_Email_Label">Nom d'utilisateur ou courriel :</Phrase>
      <Phrase Key="Password_Label">Mot de passe :</Phrase>
      <Phrase Key="Remember_Me">Se souvenir de moi</Phrase>
      <Phrase Key="Close_Button_Title">Fermer</Phrase>
      <Phrase Key="Cancel_Button_Text">ANNULER</Phrase>
      <Phrase Key="Login_Button_Title">Connexion</Phrase>
      <Phrase Key="Login_Button_Text">CONNEXION</Phrase>
      <Phrase Key="Popup_Not_Registered_Format">Pas encore inscrit ? {0}.</Phrase>
      <Phrase Key="Popup_Forgot_Password_Format">Nom d'utilisateur ou mot de passe oublié ? Veuillez {0}.</Phrase>
      <Phrase Key="Popup_Contact_Us_Link_Text">contactez-nous</Phrase>
    </Section>

    <Section Name="OpenNJ_Register">
      <Phrase Key="Account_Info">Informations sur le Compte</Phrase>
      <Phrase Key="Username_Label">Nom d'Utilisateur</Phrase>
      <Phrase Key="Personal_Info">Renseignements Personnels</Phrase>
      <Phrase Key="Family_Names_Label">Nom(s) de Famille</Phrase>
      <Phrase Key="Given_Names_Label">Prénom(s)</Phrase>
      <Phrase Key="Nickname_Label">Pseudo</Phrase>
      <Phrase Key="Email_Label">Courriel</Phrase>
      <Phrase Key="Email_Stats_Label">Envoyez-moi les statistiques d'utilisation mensuelles de mes articles</Phrase>
      <Phrase Key="Affiliation_Info">Informations sur l'Affiliation Actuelle</Phrase>
      <Phrase Key="Organization_Label">Établissement</Phrase>
      <Phrase Key="Password_Label">Mot de Passe</Phrase>
      <Phrase Key="Confirm_Password_Label">Confirmer le Mot de Passe</Phrase>
      <Phrase Key="Username_Required">Le nom d'utilisateur est un champ obligatoire</Phrase>
      <Phrase Key="Username_Min_Length">Le nom d'utilisateur doit comporter au moins huit chiffres</Phrase>
      <Phrase Key="Select_Confirm_Password">Sélectionnez et confirmez un mot de passe</Phrase>
      <Phrase Key="Passwords_Do_Not_Match">Les mots de passe ne correspondent pas</Phrase>
      <Phrase Key="Password_Min_Length">Le mot de passe doit comporter au moins huit chiffres</Phrase>
      <Phrase Key="Select_Instructor_Status">Indiquez si vous êtes instructeur ou non</Phrase>
      <Phrase Key="Instructor_Institution_Required">En tant qu'instructeur, l'établissement est un champ obligatoire</Phrase>
      <Phrase Key="Ufid_Length">Les UFID comportent toujours huit chiffres</Phrase>
      <Phrase Key="Ufid_Numeric">Les UFID sont toujours numériques</Phrase>
      <Phrase Key="Family_Name_Required">Le nom de famille est un champ obligatoire</Phrase>
      <Phrase Key="Given_Name_Required">Le prénom est un champ obligatoire</Phrase>
      <Phrase Key="Valid_Email_Required">Une adresse courriel valide est requise</Phrase>
      <Phrase Key="Rights_Truncated">Déclaration de droits tronquée à 1000 caractères.</Phrase>
      <Phrase Key="Email_Already_Exists">Un compte existe déjà pour cette adresse courriel.</Phrase>
      <Phrase Key="Username_Taken">Ce nom d'utilisateur est déjà pris. Veuillez en choisir un autre.</Phrase>
      <Phrase Key="Register_Page_Title_Format">S'inscrire sur Mon{0}</Phrase>
      <Phrase Key="Edit_Preferences_Page_Title">Modifier les Préférences de votre Compte</Phrase>
      <Phrase Key="Registration_Intro_Format">L'inscription à {0} est gratuite et ouverte au public. Entrez vos informations ci-dessous pour être inscrit instantanément.</Phrase>
      <Phrase Key="Account_Required_Note">Les informations du compte, le nom et le courriel sont requis pour chaque nouveau compte.</Phrase>
      <Phrase Key="Already_Registered_Format">Déjà inscrit ? {0}.</Phrase>
      <Phrase Key="Log_On_Link_Text">Se connecter</Phrase>
      <Phrase Key="Errors_Detected_Header">Les erreurs suivantes ont été détectées :</Phrase>
      <Phrase Key="Account_Type_Header">Type de Compte</Phrase>
      <Phrase Key="Instructor_Question">Êtes-vous instructeur ? Faites-le nous savoir ci-dessous pour accéder aux documents de cours restreints.</Phrase>
      <Phrase Key="I_Am_Instructor">Je suis instructeur</Phrase>
      <Phrase Key="I_Am_Not_Instructor">Je NE suis PAS instructeur</Phrase>
      <Phrase Key="Submit_Materials_Instructions">Cliquez sur l'option ci-dessous pour soumettre des documents. Pour utiliser les outils de publication ouverte en ligne dans Open-NJ, vous devrez être approuvé en tant qu'instructeur et autorisé à soumettre des documents.</Phrase>
      <Phrase Key="Allow_Submit_Label">Je souhaite pouvoir soumettre des documents en ligne.</Phrase>
      <Phrase Key="Application_Reviewed_Notice">Une fois votre demande examinée et approuvée, vous recevrez une notification par courriel.</Phrase>
      <Phrase Key="Username_Hint">(minimum de huit chiffres)</Phrase>
      <Phrase Key="Password_Hint">(minimum de huit chiffres, différent du nom d'utilisateur)</Phrase>
      <Phrase Key="Institutional_Email_Hint">(veuillez saisir votre adresse courriel institutionnelle)</Phrase>
      <Phrase Key="Cancel_Button">ANNULER</Phrase>
      <Phrase Key="Submit_Button">SOUMETTRE</Phrase>
    </Section>

    <Section Name="Preferences">
      <Phrase Key="Account_Info">Informations sur le Compte</Phrase>
      <Phrase Key="Username_Label">Nom du Compte</Phrase>
      <Phrase Key="Personal_Info">Des Renseignements Personnels</Phrase>
      <Phrase Key="Family_Names_Label">Nom de Famille</Phrase>
      <Phrase Key="Given_Names_Label">Prénoms</Phrase>
      <Phrase Key="Nickname_Label">Pseudo</Phrase>
      <Phrase Key="Email_Label">Email</Phrase>
      <Phrase Key="Federated_Name_Email_Note_Format">Le nom et l'email sont gérés par {0} - utilisez le Pseudo pour définir l'affichage de votre nom ici</Phrase>
      <Phrase Key="Email_Stats_Label">Envoyez-moi les statistiques d'utilisation mensuelles de mes articles</Phrase>
      <Phrase Key="Affiliation_Info">Information Affiliation Actuel</Phrase>
      <Phrase Key="Organization_Label">Organisation / Université</Phrase>
      <Phrase Key="College_Label">Collège</Phrase>
      <Phrase Key="Department_Label">Département</Phrase>
      <Phrase Key="Unit_Label">Unité</Phrase>
      <Phrase Key="Self_Submittal_Pref_Label">Préférences Auto-Soumission</Phrase>
      <Phrase Key="Send_Email_Label">Envoyez-moi un email lorsque je présente les nouveaux éléments</Phrase>
      <Phrase Key="Template_Label">Modèle</Phrase>
      <Phrase Key="Project_Label">Métadonnées par Défaut</Phrase>
      <Phrase Key="Default_Rights_Label">Droits par Défaut</Phrase>
      <Phrase Key="Rights_Explanation_Label">(Ce sont les droits par défaut que vous donnez de partager, d'adapter, ou remixer votre article à d'autres utilisateurs. Vous pouvez fixer cette valeur à chaque nouvel élément que vous soumettez, mais ce sera la valeur par défaut qui s'affiche.)</Phrase>
      <Phrase Key="Rights_Instruction_Label"><![CDATA[Vous pouvez également sélectionner une option <a title="Explication des différentes licences Creative Commons." href="http://creativecommons.org/about/licenses/">Creative Commons License</a> ci-dessous.]]></Phrase>
      <Phrase Key="Other_Preferences_Label">Autres Préférences</Phrase>
      <Phrase Key="Language_Label">Langue</Phrase>
      <Phrase Key="Password_Label">Mot de Passe</Phrase>
      <Phrase Key="Confirm_Password_Label">Confirmer Mot de Passe</Phrase>
      <Phrase Key="Username_Required">Le nom d'utilisateur est un champ obligatoire</Phrase>
      <Phrase Key="Username_Min_Length">Le nom d'utilisateur doit comporter au moins huit chiffres</Phrase>
      <Phrase Key="Select_Confirm_Password">Sélectionnez et confirmez un mot de passe</Phrase>
      <Phrase Key="Passwords_Do_Not_Match">Les mots de passe ne correspondent pas</Phrase>
      <Phrase Key="Password_Min_Length">Le mot de passe doit comporter au moins huit chiffres</Phrase>
      <Phrase Key="Ufid_Length">Les UFID comportent toujours huit chiffres</Phrase>
      <Phrase Key="Ufid_Numeric">Les UFID sont toujours numériques</Phrase>
      <Phrase Key="Family_Name_Required">Le nom de famille est un champ obligatoire</Phrase>
      <Phrase Key="Given_Name_Required">Le prénom est un champ obligatoire</Phrase>
      <Phrase Key="Valid_Email_Required">Une adresse courriel valide est requise</Phrase>
      <Phrase Key="Rights_Truncated">Déclaration de droits tronquée à 1000 caractères.</Phrase>
      <Phrase Key="Email_Already_Exists">Un compte existe déjà pour cette adresse courriel.</Phrase>
      <Phrase Key="Username_Taken">Ce nom d'utilisateur est déjà pris. Veuillez en choisir un autre.</Phrase>
      <Phrase Key="Register_Page_Title_Format">S'inscrire sur Mon{0}</Phrase>
      <Phrase Key="Edit_Preferences_Page_Title">Modifier les Préférences de votre Compte</Phrase>
      <Phrase Key="Registration_Intro_Format">L'inscription à {0} est gratuite et ouverte au public. Entrez vos informations ci-dessous pour être inscrit instantanément.</Phrase>
      <Phrase Key="Account_Required_Note">Les informations du compte, le nom et le courriel sont requis pour chaque nouveau compte.</Phrase>
      <Phrase Key="Already_Registered_Format">Déjà inscrit ? {0}.</Phrase>
      <Phrase Key="Log_On_Link_Text">Se connecter</Phrase>
      <Phrase Key="Errors_Detected_Header">Les erreurs suivantes ont été détectées :</Phrase>
      <Phrase Key="Username_Hint">(minimum de huit chiffres)</Phrase>
      <Phrase Key="Password_Hint">(minimum de huit chiffres, différent du nom d'utilisateur)</Phrase>
      <Phrase Key="Gatorlink_Hint">(offre optionnellement un accès via Gatorlink)</Phrase>
      <Phrase Key="Allow_Submit_With_Notice_Label">Je souhaite pouvoir soumettre des documents en ligne. (Une fois votre demande de soumission approuvée, vous recevrez une notification par courriel)</Phrase>
      <Phrase Key="Cancel_Button">ANNULER</Phrase>
      <Phrase Key="Submit_Button">SOUMETTRE</Phrase>
    </Section>

    <Section Name="Folder_Mgmt">
      <Phrase Key="Page_Title">Ma Bibliothèque</Phrase>
      <Phrase Key="Manage_Library_Tooltip">Gérer ma bibliothèque</Phrase>
      <Phrase Key="Manage_Library_Link_Text">Ma Bibliothèque (Gérer mes étagères)</Phrase>
      <Phrase Key="View_Collections_Home_Tooltip">Voir la page d'accueil de mes collections</Phrase>
      <Phrase Key="My_Collections_Home_Text">Accueil de Mes Collections</Phrase>
      <Phrase Key="View_Saved_Searches_Tooltip">Voir mes recherches enregistrées</Phrase>
      <Phrase Key="My_Saved_Searches_Text">Mes Recherches Enregistrées</Phrase>
      <Phrase Key="Public_Folder_Tooltip">Étagère publique</Phrase>
      <Phrase Key="Private_Folder_Tooltip">Étagère privée</Phrase>
      <Phrase Key="Bookshelf_Empty_Message">Cette étagère est actuellement vide</Phrase>
      <Phrase Key="Manage_Bookshelves_Heading">Gérer Mes Étagères</Phrase>
      <Phrase Key="Add_New_Bookshelf_Tooltip">Cliquez pour ajouter une nouvelle étagère</Phrase>
      <Phrase Key="Add_New_Bookshelf_Text">Ajouter une Nouvelle Étagère</Phrase>
      <Phrase Key="Refresh_Bookshelf_Tooltip">Actualiser la liste des étagères</Phrase>
      <Phrase Key="Refresh_Bookshelves_Text">Actualiser les Étagères</Phrase>
      <Phrase Key="Actions_Header">ACTIONS</Phrase>
      <Phrase Key="Bookshelf_Name_Header">NOM DE L'ÉTAGÈRE</Phrase>
      <Phrase Key="Delete_Bookshelf_Tooltip">Cliquez pour supprimer cette étagère</Phrase>
      <Phrase Key="Delete_Link_Text">supprimer</Phrase>
      <Phrase Key="Cannot_Delete_Last_Alert">Vous ne pouvez pas supprimer votre dernière étagère</Phrase>
      <Phrase Key="Cannot_Delete_Nested_Alert">Vous ne pouvez pas supprimer des étagères contenant d'autres étagères</Phrase>
      <Phrase Key="Make_Private_Tooltip">Rendre cette étagère privée</Phrase>
      <Phrase Key="Make_Private_Text">rendre privée</Phrase>
      <Phrase Key="Make_Public_Tooltip">Rendre cette étagère publique</Phrase>
      <Phrase Key="Make_Public_Text">rendre publique</Phrase>
      <Phrase Key="Manage_Bookshelf_Tooltip">Cliquez pour gérer cette étagère</Phrase>
      <Phrase Key="Manage_Link_Text">gérer</Phrase>
      <Phrase Key="Email_Popup_Title">ENVOYER CET ARTICLE À UN AMI</Phrase>
      <Phrase Key="Email_Popup_Legend">Entrez les informations de courriel ci-dessous &amp;nbsp; </Phrase>
      <Phrase Key="To_Label">À :</Phrase>
      <Phrase Key="Comments_Label">Commentaires :</Phrase>
      <Phrase Key="Format_Label">Format :</Phrase>
      <Phrase Key="Html_Format_Label">HTML</Phrase>
      <Phrase Key="Plain_Text_Format_Label">Texte Brut</Phrase>
      <Phrase Key="Cancel_Button">ANNULER</Phrase>
      <Phrase Key="Send_Button">ENVOYER</Phrase>
      <Phrase Key="Save_Button">ENREGISTRER</Phrase>
      <Phrase Key="Move_Popup_Title_Html"><![CDATA[D<span class="smaller">ÉPLACER L'</span>A<span class="smaller">RTICLE ENTRE </span>É<span class="smaller">TAGÈRES</span>]]></Phrase>
      <Phrase Key="Move_Popup_Legend">Sélectionnez une nouvelle étagère pour cet article</Phrase>
      <Phrase Key="Bookshelf_Label">Étagère :</Phrase>
      <Phrase Key="Edit_Notes_Popup_Title_Html"><![CDATA[A<span class="smaller">JOUTER/</span>M<span class="smaller">ODIFIER</span> N<span class="smaller">OTES POUR L'</span>A<span class="smaller">RTICLE DE L'</span>É<span class="smaller">TAGÈRE</span>]]></Phrase>
      <Phrase Key="Edit_Notes_Popup_Legend">Entrez des notes pour cet article dans votre étagère &amp;nbsp; </Phrase>
      <Phrase Key="Notes_Label">Notes :</Phrase>
      <Phrase Key="New_Bookshelf_Popup_Title_Html"><![CDATA[N<span class="smaller">OUVELLE</span> É<span class="smaller">TAGÈRE</span>]]></Phrase>
      <Phrase Key="New_Bookshelf_Popup_Legend">Entrez les informations pour votre nouvelle étagère</Phrase>
      <Phrase Key="Name_Label">Nom :</Phrase>
      <Phrase Key="Parent_Label">Étagère Parente :</Phrase>
      <Phrase Key="No_Parent_Option">(aucune)</Phrase>
    </Section>

  </Localization>
</SobekCM_Config>
