<?xml version="1.0" encoding="utf-8" ?>
<SobekCM_Config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://sobekrepository.org/schemas/sobekcm_config"
	xsi:schemaLocation="http://sobekrepository.org/schemas/sobekcm_config
		http://sobekrepository.org/schemas/sobekcm_config.xsd">
  <Localization Language="fr">

    <Section Name="Common">
      <Phrase Key="Go_To">Aller à:</Phrase>
      <Phrase Key="First_Page">Première Page</Phrase>
      <Phrase Key="Previous_Page">Page Précédente</Phrase>
      <Phrase Key="Next_Page">Page Suivante</Phrase>
      <Phrase Key="Last_Page">Dernière Page</Phrase>
      <Phrase Key="First">Première</Phrase>
      <Phrase Key="Previous">Précédente</Phrase>
      <Phrase Key="Next">Suivante</Phrase>
      <Phrase Key="Last">Derniere</Phrase>
    </Section>

    <Section Name="Text_Search">
      <Phrase Key="Search_This_Document">Rechercher sur ce Document</Phrase>
      <Phrase Key="Go">Aller</Phrase>
      <Phrase Key="Your_Search_For">Votre recherche dans les textes intégrals pour les pages contenant </Phrase>
      <Phrase Key="And_Not"> ET PAS </Phrase>
      <Phrase Key="And"> ET </Phrase>
      <Phrase Key="Or"> OU </Phrase>
      <Phrase Key="Not">pas </Phrase>
      <Phrase Key="Resulted_In"> corresponde a </Phrase>
      <Phrase Key="Matching_Pages"> pages de résultats</Phrase>
      <Phrase Key="No_Matching_Pages">pas pages de résultats</Phrase>
      <Phrase Key="Expand_Results">Vous pouvez elaborer votre rechereche en cherchant par</Phrase>
      <Phrase Key="Restrict_Results">Vous pouvez limiter votre rechereche en cherchant par</Phrase>
    </Section>

    <Section Name="JPEG2000">
      <Phrase Key="Thumbnail">MINIATURE</Phrase>
    </Section>

    <Section Name="Citation_Common">
      <Phrase Key="Standard_View">VUE STANDARD</Phrase>
      <Phrase Key="Marc_View">VUE MARC</Phrase>
      <Phrase Key="Metadata_View">MÉTADONNÉES</Phrase>
      <Phrase Key="Usage_Statistics_View">STATISTIQUES D'UTILISATION</Phrase>
      <Phrase Key="Dark_Item_Message">Cet élément est OBSCURCI et ne peut pas être consulté pour le moment</Phrase>
      <Phrase Key="Menu_Standard_View">Vue standard</Phrase>
      <Phrase Key="Menu_Marc_View">Vue MARC</Phrase>
      <Phrase Key="Menu_Metadata">Métadonnées</Phrase>
      <Phrase Key="Menu_Usage_Statistics">Statistiques d'utilisation</Phrase>
    </Section>

    <Section Name="Citation_Standard">
      <Phrase Key="Please_Log_On_Suffix">  Veuillez vous connecter pour y accéder.</Phrase>
      <Phrase Key="Please_Request_Access_Suffix">  Veuillez demander l'accès.</Phrase>
      <Phrase Key="Restricted_Item_Alt">Élément restreint</Phrase>
    </Section>

    <Section Name="Citation_MARC">
      <Phrase Key="Auto_Generated_Notice">L'enregistrement ci-dessus a été généré automatiquement à partir du fichier METS.</Phrase>
    </Section>

    <Section Name="Metadata_Links">
      <Phrase Key="Intro_Html"><![CDATA[Les données (ou métadonnées) concernant cette ressource numérique sont disponibles dans divers formats de métadonnées. Pour plus d'informations sur ces formats, consultez la <a href="http://ufdc.ufl.edu/sobekcm/metadata">section Métadonnées</a> des informations sur les <a href="http://ufdc.ufl.edu/sobekcm/">aspects techniques</a>.]]></Phrase>
      <Phrase Key="Ead_View_Link">Voir l'instrument de recherche (EAD)</Phrase>
      <Phrase Key="Ead_Description"><![CDATA[Cette collection archivistique est décrite par un instrument de recherche électronique. Ce fichier de métadonnées contient l'ensemble de la description archivistique et le répertoire du contenu de ce document d'archives. Ce fichier suit la norme établie <a href="http://www.loc.gov/ead/">Encoded Archival Description</a> (EAD).]]></Phrase>
      <Phrase Key="Mets_View_Link">Voir le METS/MODS complet</Phrase>
      <Phrase Key="Mets_Description"><![CDATA[Ce fichier de métadonnées est le fichier de métadonnées source soumis avec tous les fichiers de la ressource numérique. Il contient toutes les informations de citation et de traitement utilisées pour créer cette ressource. Ce fichier suit la norme établie <a href="http://www.loc.gov/standards/mets/">Metadata Encoding and Transmission Standard</a> (METS) et <a href="http://www.loc.gov/standards/mods/">Metadata Object Description Schema</a> (MODS). Ce fichier METS/MODS a été lu au moment du chargement de cet élément en mémoire et sert à afficher toutes les informations dans la vue standard et la vue MARC de la citation.]]></Phrase>
      <Phrase Key="Marc_Xml_View_Link">Voir le fichier MARC XML</Phrase>
      <Phrase Key="Marc_Xml_Description"><![CDATA[Les métadonnées saisies sont également converties au format MARC XML, pour l'interopérabilité avec d'autres systèmes de catalogue de bibliothèque. Cela représente les mêmes données disponibles dans la <a href="{0}">VUE MARC</a>, à ceci près qu'il s'agit d'un fichier XML statique. Ce fichier suit le <a href="http://www.loc.gov/standards/marcxml/">schéma MarcXML</a>.]]></Phrase>
      <Phrase Key="Tei_View_Link">Voir le fichier TEI/Texte</Phrase>
      <Phrase Key="Tei_Description"><![CDATA[Le texte intégral de cet élément est également disponible dans le format téléchargeable de la norme établie <a href="http://www.tei-c.org/index.xml">Text Encoding Initiative</a> (TEI).]]></Phrase>
      <Phrase Key="Iiif_View_Link">Manifeste IIIF</Phrase>
      <Phrase Key="Iiif_Description"><![CDATA[Un <a href="https://iiif.io/get-started/how-iiif-works/">Manifeste IIIF</a> est un document JSON-LD structuré qui regroupe des données structurelles, des métadonnées descriptives et des liens de contenu pour indiquer à une visionneuse numérique comment afficher et parcourir un objet complexe tel qu'un livre, un manuscrit ou une œuvre d'art.]]></Phrase>
    </Section>

    <Section Name="Item_Usage_Stats">
      <Phrase Key="Compiled_Monthly_Notice">Les statistiques d'utilisation des éléments sont compilées une fois par mois à partir des journaux d'utilisation du mois précédent et ne contiennent aucune information personnelle.</Phrase>
      <Phrase Key="Viewed_Times_Sentence"><![CDATA[Cet élément a été consulté <%HITS%> fois lors de <%SESSIONS%> visites.  Vous trouverez ci-dessous le détail de l'utilisation globale de cet élément au sein de cette bibliothèque.<br /><br />Pour la définition de ces termes, consultez les <a href="{0}" target="_BLANK">définitions sur la page principale des statistiques</a>.]]></Phrase>
      <Phrase Key="Date">Date</Phrase>
      <Phrase Key="Views">Vues</Phrase>
      <Phrase Key="Visits">Visites</Phrase>
      <Phrase Key="Year_Statistics_Suffix"> STATISTIQUES</Phrase>
      <Phrase Key="Total">TOTAL</Phrase>
      <Phrase Key="No_Stats_Yet_Message">Les statistiques d'utilisation sont accumulées mensuellement et n'ont pas encore été enregistrées pour cet élément.</Phrase>
      <Phrase Key="Stats_Unavailable_Message">Les statistiques d'utilisation sont temporairement indisponibles. Veuillez réessayer plus tard.</Phrase>
      <Phrase Key="Month_1">Janvier</Phrase>
      <Phrase Key="Month_2">Février</Phrase>
      <Phrase Key="Month_3">Mars</Phrase>
      <Phrase Key="Month_4">Avril</Phrase>
      <Phrase Key="Month_5">Mai</Phrase>
      <Phrase Key="Month_6">Juin</Phrase>
      <Phrase Key="Month_7">Juillet</Phrase>
      <Phrase Key="Month_8">Août</Phrase>
      <Phrase Key="Month_9">Septembre</Phrase>
      <Phrase Key="Month_10">Octobre</Phrase>
      <Phrase Key="Month_11">Novembre</Phrase>
      <Phrase Key="Month_12">Décembre</Phrase>
    </Section>

    <Section Name="SearchEngineIndexing">
      <Phrase Key="Citation_Label">Citation</Phrase>
      <Phrase Key="Downloads_Label">Téléchargements</Phrase>
      <Phrase Key="Full_Text_Label">Texte intégral</Phrase>
      <Phrase Key="Unable_To_Read_File">Impossible de lire le fichier: {0}</Phrase>
    </Section>

    <Section Name="JPEG">
      <Phrase Key="Menu_Standard">Standard</Phrase>
      <Phrase Key="Zoomable_Switch_Prompt">Cliquez sur l'image ci-dessous pour passer à la version zoomable</Phrase>
      <Phrase Key="Zoomable_Switch_Title">Cliquez sur l'image pour passer à la version zoomable</Phrase>
      <Phrase Key="Error_No_Image_Found">ERREUR : IMPOSSIBLE DE TROUVER UN FICHIER IMAGE À AFFICHER DANS CET ÉLÉMENT !</Phrase>
    </Section>

    <Section Name="PDF">
      <Phrase Key="Menu_Label_Default">PDF</Phrase>
      <Phrase Key="Error_No_Pdf_Found">ERREUR : IMPOSSIBLE DE TROUVER UN FICHIER PDF À AFFICHER DANS CET ÉLÉMENT !</Phrase>
      <Phrase Key="Download_This_Pdf">Télécharger ce PDF</Phrase>
      <Phrase Key="Download_Adobe_Reader_Alt">Télécharger Adobe Reader</Phrase>
    </Section>

    <Section Name="Text_Viewer">
      <Phrase Key="Menu_Text">Texte</Phrase>
      <Phrase Key="Unknown_Error">Erreur inconnue lors de la récupération du texte</Phrase>
      <Phrase Key="No_Text_File">Aucun fichier texte n'existe pour cette page</Phrase>
      <Phrase Key="No_Text_Recorded">Aucun texte n'est enregistré pour cette page</Phrase>
    </Section>

    <Section Name="TEI">
      <Phrase Key="Menu_Default_Label">TEI</Phrase>
      <Phrase Key="Transform_Error_Html"><![CDATA[Erreur lors de la transformation XSLT du TEI<br /><br />{0}]]></Phrase>
    </Section>

    <Section Name="HTML_Viewer">
      <Phrase Key="Menu_Default_Label">HTML</Phrase>
      <Phrase Key="Unable_To_Pull_Html_Sentence"><![CDATA[Impossible de charger la vue html pour cet élément ( <a href="{0}">source</a> )]]></Phrase>
      <Phrase Key="Apologize_Sentence">Nous nous excusons pour ce désagrément.</Phrase>
      <Phrase Key="Report_Problem_Sentence"><![CDATA[Cliquez <a href="{0}">ici</a> pour signaler le problème.]]></Phrase>
    </Section>

    <Section Name="Embedded_Web_Content">
      <Phrase Key="Menu_Content_Label">Contenu</Phrase>
      <Phrase Key="Viewer_Title">Contenu</Phrase>
    </Section>

    <Section Name="EmbeddedVideo">
      <Phrase Key="Menu_Video_Label">Vidéo</Phrase>
      <Phrase Key="Viewer_Title">Vidéo en continu</Phrase>
    </Section>

    <Section Name="Video">
      <Phrase Key="Menu_Video_Label">Vidéo</Phrase>
    </Section>

    <Section Name="Audio">
      <Phrase Key="Menu_Audio_Label">Audio</Phrase>
    </Section>

    <Section Name="Google_Map">
      <Phrase Key="Menu_Default_Label">Localiser !</Phrase>
      <Phrase Key="Menu_Map_Search">Recherche sur carte</Phrase>
      <Phrase Key="Menu_Search_Results">Résultats de recherche</Phrase>
      <Phrase Key="Menu_Map_Coverage">Couverture cartographique</Phrase>
      <Phrase Key="Search_Button">Rechercher</Phrase>
      <Phrase Key="Find_Address_Button">Localiser</Phrase>
      <Phrase Key="Instructions_Step1_Html"><![CDATA[Utilisez le bouton <i>Sélectionner une zone</i> ci-dessous pour dessiner un rectangle de recherche sur la carte, ou saisissez une adresse et appuyez sur <i>Localiser</i>.]]></Phrase>
      <Phrase Key="Instructions_Step2_Html"><![CDATA[Appuyez sur le bouton <i>Rechercher</i> pour voir les résultats]]></Phrase>
      <Phrase Key="Address_Label">Adresse:</Phrase>
      <Phrase Key="Address_Placeholder">Saisissez une adresse ( ex. : 12 Main Street, Gainesville Florida )</Phrase>
      <Phrase Key="No_Matches_Message"><![CDATA[Aucun résultat ne correspond, au sein de cet élément, à votre recherche géographique. &nbsp; ]]></Phrase>
      <Phrase Key="Modify_Item_Search">Modifier la recherche dans l'élément</Phrase>
      <Phrase Key="Modify_Search_Within_Flight">Modifier la recherche dans le vol</Phrase>
      <Phrase Key="Search_Other_Items_Link">Cliquez ici pour rechercher d'autres éléments dans la collection actuelle</Phrase>
      <Phrase Key="Matching_Results_Intro">Les résultats suivants correspondent à votre recherche géographique:</Phrase>
      <Phrase Key="Zoom_To_Extent">Zoomer sur l'étendue</Phrase>
      <Phrase Key="Zoom_To_Matches">Zoomer sur les résultats</Phrase>
      <Phrase Key="Search_All_Flights">Rechercher tous les vols</Phrase>
      <Phrase Key="Search_Entire_Collection">Rechercher dans toute la collection</Phrase>
      <Phrase Key="Google_Maps_Not_Enabled_Html"><![CDATA[<p style="font-weight:bold; text-size:1.1em">ERREUR : Google Maps n'est pas activé sur cette instance de SobekCM !</p>
              <p>Pour l'activer, veuillez créer une clé API Google Maps et l'entrer dans les paramètres du système.</p>
              <p>Des informations sur cette procédure sont disponibles ici : <a href="http://sobekrepository.org/software/config/googlemaps" style="color:white;">http://sobekrepository.org/software/config/googlemaps</a>.</p>]]></Phrase>
    </Section>

    <Section Name="GnuBooks_PageTurner">
      <Phrase Key="Menu_Default_Label">Feuilleteur</Phrase>
      <Phrase Key="No_Javascript_Message">Les présentations du feuilleteur nécessitent un navigateur avec Javascript activé.</Phrase>
    </Section>

    <Section Name="MultiVolumes">
      <Phrase Key="Menu_All_Volumes">Tous les Volumes</Phrase>
      <Phrase Key="Menu_All_Issues">Tous les Numéros</Phrase>
      <Phrase Key="Menu_Related_Maps">Cartes connexes</Phrase>
      <Phrase Key="Menu_Related_Flights">Vols connexes</Phrase>
      <Phrase Key="All_Volumes">Tous les Volumes</Phrase>
      <Phrase Key="All_Issues">Tous les Éditions</Phrase>
      <Phrase Key="Related_Map_Sets">Définit la Carte Connexes</Phrase>
      <Phrase Key="Related_Flights">Vols connexes</Phrase>
      <Phrase Key="Related_Titles_Heading">Titres connexes</Phrase>
      <Phrase Key="Vid_Header">VID</Phrase>
      <Phrase Key="Level_1_Header">NIVEAU 1</Phrase>
      <Phrase Key="Level_2_Header">NIVEAU 2</Phrase>
      <Phrase Key="Level_3_Header">NIVEAU 3</Phrase>
      <Phrase Key="Access_Header">ACCÈS</Phrase>
      <Phrase Key="Access_Dark">obscurci</Phrase>
      <Phrase Key="Access_Private">privé</Phrase>
      <Phrase Key="Access_Public">public</Phrase>
      <Phrase Key="Access_Restricted">restreint</Phrase>
      <Phrase Key="Missing_Thumbnail_Alt">VIGNETTE MANQUANTE</Phrase>
      <Phrase Key="Dark_Suffix"> ( obscurci )</Phrase>
      <Phrase Key="Private_Suffix"> ( privé )</Phrase>
      <Phrase Key="Restricted_Suffix"> ( certaines restrictions s'appliquent )</Phrase>
      <Phrase Key="All_Private_Or_Dark_Suffix"> ( tous privés ou obscurcis )</Phrase>
    </Section>

    <Section Name="OpenTextbook_Common">
      <Phrase Key="Search_Label">Recherche: </Phrase>
      <Phrase Key="Zoom_Label">Zoom: </Phrase>
      <Phrase Key="Unnumbered_Page_Prefix">Sans numéro </Phrase>
      <Phrase Key="Page_Prefix">Page </Phrase>
      <Phrase Key="Previous_Section_Alt">Aller à la section précédente</Phrase>
      <Phrase Key="Next_Section_Alt">Aller à la section suivante</Phrase>
    </Section>

    <Section Name="OpenTextbook">
      <Phrase Key="Menu_Default_Label">Manuel ouvert</Phrase>
      <Phrase Key="Welcome_Heading">Bienvenue sur OpenPublishing</Phrase>
      <Phrase Key="Welcome_Edit_Instructions"><![CDATA[Vous pouvez modifier votre élément ici, en sélectionnant <i>Modifier le contenu</i> dans le coin supérieur droit de cette page.]]></Phrase>
      <Phrase Key="Welcome_Toc_Instructions"><![CDATA[Pour mettre à jour votre table des matières et créer des chapitres, utilisez l'outil OpenPublishing, disponible dans l'en-tête interne ou via l'option <i>GÉRER</i> du menu de l'élément.]]></Phrase>
      <Phrase Key="Chapter_Edit_Instructions"><![CDATA[Vous pouvez modifier ce chapitre ici, en sélectionnant <i>Modifier le contenu</i> dans le coin supérieur droit de cette page.]]></Phrase>
    </Section>

    <Section Name="OpenTextbook_Divisions">
      <Phrase Key="Menu_Default_Label">Éditeur ouvert</Phrase>
    </Section>

    <Section Name="Related_Images">
      <Phrase Key="Menu_Default_Label">Vignettes</Phrase>
      <Phrase Key="Thumbnails_Per_Page_Suffix">vignettes par page</Phrase>
      <Phrase Key="Go_To_Thumbnail_Label">Aller à l'Vignette</Phrase>
      <Phrase Key="Switch_To_Small">Passer aux petites vignettes</Phrase>
      <Phrase Key="Switch_To_Medium">Passer aux vignettes moyennes</Phrase>
      <Phrase Key="Switch_To_Large">Passer aux grandes vignettes</Phrase>
      <Phrase Key="All_Thumbnails">Toutes les vignettes</Phrase>
      <Phrase Key="Small_Alt">Petit</Phrase>
      <Phrase Key="Medium_Alt">Moyen</Phrase>
      <Phrase Key="Large_Alt">Grand</Phrase>
      <Phrase Key="Missing_Thumbnail_Alt">VIGNETTE MANQUANTE</Phrase>
      <Phrase Key="Page_Number_Placeholder">(page {0})</Phrase>
    </Section>

    <Section Name="Downloads">
      <Phrase Key="Menu_Default_Label">Téléchargements</Phrase>
      <Phrase Key="Explanation_Has_Downloads">Ce document est la suivante téléchargements:</Phrase>
      <Phrase Key="Explanation_Only_Downloads">Cet élément n'est disponible que sous forme des téléchargements suivants:</Phrase>
      <Phrase Key="Tiles_Available_Heading">Les tuiles suivantes sont disponibles au téléchargement:</Phrase>
      <Phrase Key="Jpeg2000_Available_Heading">Les fichiers JPEG2000 suivants sont disponibles au téléchargement:</Phrase>
      <Phrase Key="Save_Link_As_Instructions">Pour télécharger, faites un clic droit sur le nom de la tuile ci-dessous, sélectionnez « Enregistrer le lien sous... » et enregistrez le JPEG2000 sur votre ordinateur.</Phrase>
      <Phrase Key="Save_Target_As_Instructions">Pour télécharger, faites un clic droit sur le nom de la tuile ci-dessous, sélectionnez « Enregistrer la cible sous... » et enregistrez le JPEG2000 sur votre ordinateur. </Phrase>
    </Section>

    <Section Name="Item_Tracking_Common">
      <Phrase Key="Header">Informations de Suivi</Phrase>
      <Phrase Key="Milestones_Tab">JALONS</Phrase>
      <Phrase Key="History_Tab">HISTORIQUE</Phrase>
      <Phrase Key="Media_Tab">MÉDIAS</Phrase>
      <Phrase Key="Archives_Tab">ARCHIVES</Phrase>
      <Phrase Key="Directory_Tab">RÉPERTOIRE</Phrase>
    </Section>

    <Section Name="Tracking">
      <Phrase Key="No_History_Message">L'ÉLÉMENT N'A PAS D'HISTORIQUE</Phrase>
      <Phrase Key="History_Table_Title">HISTORIQUE DE L'ÉLÉMENT</Phrase>
      <Phrase Key="Workflow_Name_Column">NOM DU FLUX DE TRAVAIL</Phrase>
      <Phrase Key="Completed_Date_Column">DATE D'ACHÈVEMENT</Phrase>
      <Phrase Key="User_Column">UTILISATEUR</Phrase>
      <Phrase Key="Location_Notes_Column">EMPLACEMENT / NOTES</Phrase>
    </Section>

    <Section Name="Archives">
      <Phrase Key="Header">Informations d'Archivage</Phrase>
      <Phrase Key="No_Info_Message">L'ÉLÉMENT N'A PAS D'INFORMATIONS D'ARCHIVAGE</Phrase>
      <Phrase Key="Table_Title">INFORMATIONS SUR LE FICHIER ARCHIVÉ</Phrase>
      <Phrase Key="Filename_Column">NOM DU FICHIER</Phrase>
      <Phrase Key="Size_Column">TAILLE</Phrase>
      <Phrase Key="Original_Creation_Date_Column">DATE DE CRÉATION D'ORIGINE</Phrase>
      <Phrase Key="Stored_Date_Column">DATE DE STOCKAGE</Phrase>
      <Phrase Key="Status_Column">STATUT</Phrase>
      <Phrase Key="Location_Column">EMPLACEMENT</Phrase>
    </Section>

    <Section Name="UF_Archives">
      <Phrase Key="Last_Write_Date_Column">DATE DE DERNIÈRE ÉCRITURE</Phrase>
      <Phrase Key="Archived_Date_Column">DATE D'ARCHIVAGE</Phrase>
    </Section>

    <Section Name="Directory">
      <Phrase Key="Header">Fichiers de la ressource numérique</Phrase>
      <Phrase Key="Local_File_Store">STOCKAGE DE FICHIERS LOCAL</Phrase>
      <Phrase Key="Cloud_File_Store">STOCKAGE DE FICHIERS CLOUD</Phrase>
      <Phrase Key="Protobuf_Item_Cache">Cache d'élément Protobuf</Phrase>
      <Phrase Key="Page_Files_Header">Fichiers de page</Phrase>
      <Phrase Key="Metadata_Files_Header">Fichiers de métadonnées</Phrase>
      <Phrase Key="Other_Files_Header">Autres fichiers</Phrase>
      <Phrase Key="Name_Column">NOM</Phrase>
      <Phrase Key="Date_Modified_Column">DATE DE MODIFICATION</Phrase>
      <Phrase Key="Type_Column">TYPE</Phrase>
      <Phrase Key="Size_Column">TAILLE</Phrase>
      <Phrase Key="Page_Fallback_Label">PAGE</Phrase>
      <Phrase Key="Unable_To_Pull_Directory_Info">IMPOSSIBLE DE RÉCUPÉRER LES INFORMATIONS DU RÉPERTOIRE</Phrase>
      <Phrase Key="Generic_File_Suffix">Fichier</Phrase>
      <Phrase Key="Jpeg_Image">Image JPEG</Phrase>
      <Phrase Key="Thumbnail_Image">Image miniature</Phrase>
      <Phrase Key="Qc_Jpeg_Image">Image JPEG de contrôle qualité</Phrase>
      <Phrase Key="Archival_Tiff_Image">Image TIFF d'archivage</Phrase>
      <Phrase Key="Jpeg2000_Zoomable_Image">Image zoomable JPEG2000</Phrase>
      <Phrase Key="Adobe_Acrobat_Document">Document Adobe Acrobat</Phrase>
      <Phrase Key="Text_File">Fichier texte</Phrase>
      <Phrase Key="Excel_Worksheet">Feuille de calcul Microsoft Office Excel</Phrase>
      <Phrase Key="Word_Document">Document Microsoft Office Word</Phrase>
      <Phrase Key="Powerpoint_Presentation">Présentation Microsoft Office PowerPoint</Phrase>
      <Phrase Key="Shockwave_Flash_Object">Objet Shockwave Flash</Phrase>
      <Phrase Key="Prime_Recognition_Output_File">Fichier de sortie Prime Recognition</Phrase>
      <Phrase Key="Static_Citation_Page">Page de citation statique</Phrase>
      <Phrase Key="Html_Document">Document HTML</Phrase>
      <Phrase Key="Citation_Only_Mets_File">Fichier METS de citation uniquement</Phrase>
      <Phrase Key="Marc_Xml_File">Fichier MARC XML</Phrase>
      <Phrase Key="Sobekcm_Service_Mets_File">Fichier METS de service SobekCM</Phrase>
      <Phrase Key="Text_Indexing_File">Fichier d'indexation de texte</Phrase>
      <Phrase Key="Xml_Document">Document XML</Phrase>
      <Phrase Key="User_Submitted_Mets_File">Fichier METS soumis par l'utilisateur</Phrase>
      <Phrase Key="Fda_Ingest_Report">Rapport d'ingestion FDA</Phrase>
      <Phrase Key="Previous_Mets_File_Version">Version précédente du fichier METS</Phrase>
      <Phrase Key="Backup_File">Fichier de sauvegarde</Phrase>
    </Section>

    <Section Name="Milestones">
      <Phrase Key="Header">JALONS DE NUMÉRISATION</Phrase>
      <Phrase Key="Digital_Acquisition_Label">Acquisition Numérique</Phrase>
      <Phrase Key="Post_Acquisition_Processing_Label">Traitement Post-Acquisition</Phrase>
      <Phrase Key="Quality_Control_Label">Contrôle Qualité Effectué</Phrase>
      <Phrase Key="Online_Complete_Label">En Ligne Terminé</Phrase>
      <Phrase Key="Not_Applicable">n/d</Phrase>
    </Section>

    <Section Name="TrackingSheet">
      <Phrase Key="Material_Info_Header">Informations sur le Matériel</Phrase>
      <Phrase Key="Title_Label">Titre:</Phrase>
      <Phrase Key="Author_Label">Auteur:</Phrase>
      <Phrase Key="Publisher_Label">Éditeur:</Phrase>
      <Phrase Key="Oclc_Label">OCLC:</Phrase>
      <Phrase Key="Aleph_Label">Aleph:</Phrase>
      <Phrase Key="Material_Type_Label">Type de Matériel:</Phrase>
      <Phrase Key="Aggregations_Label">Collections:</Phrase>
      <Phrase Key="Serial_Hierarchy_Header">Hiérarchie de Série</Phrase>
      <Phrase Key="Level_Label">Niveau</Phrase>
      <Phrase Key="Imaging_Progress_Header">Progression de la Numérisation</Phrase>
      <Phrase Key="Name_Label">Nom:</Phrase>
      <Phrase Key="Date_Label">Date:</Phrase>
      <Phrase Key="Page_Range_Label">Plage de Pages:</Phrase>
      <Phrase Key="Duration_Label">Durée:</Phrase>
      <Phrase Key="Physical_Material_Header">Matériel Physique</Phrase>
      <Phrase Key="Born_Digital_Label">L'élément est nativement numérique</Phrase>
      <Phrase Key="Material_Recd_Label">Matériel Reçu:</Phrase>
      <Phrase Key="Disposition_Advice_Label">Avis de Disposition:</Phrase>
      <Phrase Key="Additional_Notes_Header">Notes Supplémentaires:</Phrase>
      <Phrase Key="Start_Scanning_Label">Début de Numérisation</Phrase>
      <Phrase Key="End_Scanning_Label">Fin de Numérisation</Phrase>
      <Phrase Key="Start_Processing_Label">Début de Traitement</Phrase>
      <Phrase Key="End_Processing_Label">Fin de Traitement</Phrase>
    </Section>

    <Section Name="UF_Media">
      <Phrase Key="No_Info_Message">L'ÉLÉMENT N'EST PAS ARCHIVÉ SUR SUPPORT</Phrase>
      <Phrase Key="Table_Title">ARCHIVE CD/DVD</Phrase>
      <Phrase Key="Cd_Number_Column">NUMÉRO DE CD/DVD</Phrase>
      <Phrase Key="File_Range_Column">PLAGE DE FICHIERS</Phrase>
      <Phrase Key="Images_Column">IMAGES</Phrase>
      <Phrase Key="Size_Column">TAILLE</Phrase>
      <Phrase Key="Date_Burned_Column">DATE DE GRAVURE</Phrase>
    </Section>

    <Section Name="ManageMenu_Item">
      <Phrase Key="Item_Viewer_Title">Gérer cet Élément</Phrase>
      <Phrase Key="Management_Menu_Link">Menu de Gestion</Phrase>
      <Phrase Key="Item_Intro_Prompt">Comment souhaitez-vous gérer cet élément aujourd'hui ?</Phrase>
      <Phrase Key="Group_Level_Note">De plus, les modifications suivantes peuvent être apportées au niveau du groupe d'éléments:</Phrase>
      <Phrase Key="Group_Viewer_Title">Gérer ce Groupe d'Éléments</Phrase>
      <Phrase Key="Group_Intro_Prompt">Comment souhaitez-vous gérer ce groupe d'éléments aujourd'hui ?</Phrase>
      <Phrase Key="Open_Textbook_Desc">Gérez cet élément de manuel ouvert, ce qui vous permet de modifier le contenu de la page, d'ajouter des images, d'ajouter de nouveaux chapitres, etc.</Phrase>
      <Phrase Key="Open_Publishing_Link">Open Publishing</Phrase>
      <Phrase Key="Edit_Metadata_Link">Modifier les Métadonnées de l'Élément</Phrase>
      <Phrase Key="Edit_Metadata_Desc">Modifiez les informations sur cet élément qui apparaissent dans la citation/description. Il s'agit d'informations de base sur l'élément original et cette manifestation numérique.</Phrase>
      <Phrase Key="Edit_Tei_Link">Modifier TEI</Phrase>
      <Phrase Key="Edit_Tei_Desc">Modifiez cet objet TEI, y compris le fichier XSLT et CSS utilisé, ainsi que le téléchargement d'un nouveau fichier TEI ou la modification en ligne du fichier TEI existant.</Phrase>
      <Phrase Key="Edit_Behaviors_Link">Modifier les Comportements de l'Élément</Phrase>
      <Phrase Key="Edit_Behaviors_Desc">Modifiez la façon dont cet élément se comporte dans cette bibliothèque, y compris les collections sous lesquelles il apparaît, les logotypes à gauche et les types de visionneuse accessibles au public.</Phrase>
      <Phrase Key="Qc_Link">Gérer les Pages et Divisions (Contrôle Qualité)</Phrase>
      <Phrase Key="Qc_Desc">Réorganisez les images de page, nommez les pages, attribuez des divisions, et supprimez et ajoutez de nouvelles images de page à cet élément.</Phrase>
      <Phrase Key="Work_History_Link">Afficher l'Historique de Travail</Phrase>
      <Phrase Key="Work_History_Desc">Affichez l'historique de tous les travaux effectués sur cet élément. Depuis cette vue, vous pouvez également voir les jalons de numérisation et les informations sur les fichiers de ressources numériques.</Phrase>
      <Phrase Key="Download_Files_Link">Gérer les Fichiers de Téléchargement</Phrase>
      <Phrase Key="Download_Files_Desc">Téléchargez de nouveaux fichiers ou supprimez les fichiers existants joints à cet élément pour le téléchargement. Cela inclut généralement tout, sauf les images de page.</Phrase>
      <Phrase Key="Geospatial_Link">Gérer les Données Géospatiales (bêta)</Phrase>
      <Phrase Key="Geospatial_Desc">Ajoutez des informations géospatiales pour cet élément. Cela peut être aussi simple qu'un emplacement pour une photographie ou une superposition pour une carte. Des points, des lignes et des polygones d'intérêt peuvent également être dessinés.</Phrase>
      <Phrase Key="Tracking_Sheet_Link">Afficher la Fiche de Suivi</Phrase>
      <Phrase Key="Tracking_Sheet_Desc">Cela peut être utilisé pour imprimer la fiche de suivi de cet élément, qui peut être utilisée dans le cadre du flux de travail de numérisation intégré.</Phrase>
      <Phrase Key="Directory_Link">Afficher la Liste des Fichiers</Phrase>
      <Phrase Key="Directory_Desc">Affichez la liste des fichiers de la ressource numérique, et lesquels se trouvent sur un stockage local connecté par rapport au stockage cloud.</Phrase>
      <Phrase Key="Group_Behaviors_Link">Modifier les Comportements du Groupe d'Éléments</Phrase>
      <Phrase Key="Group_Behaviors_Desc">Définissez le titre sous lequel tous ces éléments apparaissent dans les résultats de recherche et définissez les habillages web sous lesquels tous ces éléments doivent apparaître.</Phrase>
      <Phrase Key="Add_Volume_Link">Ajouter un Nouveau Volume</Phrase>
      <Phrase Key="Add_Volume_Desc">Ajoutez un nouveau volume associé à ce groupe d'éléments.&lt;br /&gt;&lt;br /&gt;</Phrase>
      <Phrase Key="Mass_Update_Link">Mise à Jour en Masse des Comportements d'Éléments</Phrase>
      <Phrase Key="Mass_Update_Desc">Cela permet de définir des comportements au niveau de l'élément pour tous les éléments de ce groupe d'éléments, y compris les collections sous lesquelles il apparaît, les logotypes à gauche et les types de visionneuse accessibles au public.</Phrase>
    </Section>

  </Localization>
</SobekCM_Config>
