<?xml version="1.0" encoding="utf-8" ?>
<SobekCM_Config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://sobekrepository.org/schemas/sobekcm_config"
	xsi:schemaLocation="http://sobekrepository.org/schemas/sobekcm_config
		http://sobekrepository.org/schemas/sobekcm_config.xsd">
  <Localization Language="fr">

    <Section Name="Common">
      <Phrase Key="Go_To">Aller à:</Phrase>
      <Phrase Key="First_Page">Première Page</Phrase>
      <Phrase Key="Previous_Page">Page Précédente</Phrase>
      <Phrase Key="Next_Page">Page Suivante</Phrase>
      <Phrase Key="Last_Page">Dernière Page</Phrase>
      <Phrase Key="First">Première</Phrase>
      <Phrase Key="Previous">Précédente</Phrase>
      <Phrase Key="Next">Suivante</Phrase>
      <Phrase Key="Last">Derniere</Phrase>
    </Section>

    <Section Name="Text_Search">
      <Phrase Key="Search_This_Document">Rechercher sur ce Document</Phrase>
      <Phrase Key="Go">Aller</Phrase>
      <Phrase Key="Your_Search_For">Votre recherche dans les textes intégrals pour les pages contenant </Phrase>
      <Phrase Key="And_Not"> ET PAS </Phrase>
      <Phrase Key="And"> ET </Phrase>
      <Phrase Key="Or"> OU </Phrase>
      <Phrase Key="Not">pas </Phrase>
      <Phrase Key="Resulted_In"> corresponde a </Phrase>
      <Phrase Key="Matching_Pages"> pages de résultats</Phrase>
      <Phrase Key="No_Matching_Pages">pas pages de résultats</Phrase>
      <Phrase Key="Expand_Results">Vous pouvez elaborer votre rechereche en cherchant par</Phrase>
      <Phrase Key="Restrict_Results">Vous pouvez limiter votre rechereche en cherchant par</Phrase>
    </Section>

    <Section Name="JPEG2000">
      <Phrase Key="Thumbnail">MINIATURE</Phrase>
    </Section>

    <Section Name="Citation_Common">
      <Phrase Key="Standard_View">VUE STANDARD</Phrase>
      <Phrase Key="Marc_View">VUE MARC</Phrase>
      <Phrase Key="Metadata_View">MÉTADONNÉES</Phrase>
      <Phrase Key="Usage_Statistics_View">STATISTIQUES D'UTILISATION</Phrase>
      <Phrase Key="Dark_Item_Message">Cet élément est OBSCURCI et ne peut pas être consulté pour le moment</Phrase>
      <Phrase Key="Menu_Standard_View">Vue standard</Phrase>
      <Phrase Key="Menu_Marc_View">Vue MARC</Phrase>
      <Phrase Key="Menu_Metadata">Métadonnées</Phrase>
      <Phrase Key="Menu_Usage_Statistics">Statistiques d'utilisation</Phrase>
    </Section>

    <Section Name="Citation_Standard">
      <Phrase Key="Please_Log_On_Suffix">  Veuillez vous connecter pour y accéder.</Phrase>
      <Phrase Key="Please_Request_Access_Suffix">  Veuillez demander l'accès.</Phrase>
      <Phrase Key="Restricted_Item_Alt">Élément restreint</Phrase>
    </Section>

    <Section Name="Citation_MARC">
      <Phrase Key="Auto_Generated_Notice">L'enregistrement ci-dessus a été généré automatiquement à partir du fichier METS.</Phrase>
    </Section>

    <Section Name="Metadata_Links">
      <Phrase Key="Intro_Html"><![CDATA[Les données (ou métadonnées) concernant cette ressource numérique sont disponibles dans divers formats de métadonnées. Pour plus d'informations sur ces formats, consultez la <a href="http://ufdc.ufl.edu/sobekcm/metadata">section Métadonnées</a> des informations sur les <a href="http://ufdc.ufl.edu/sobekcm/">aspects techniques</a>.]]></Phrase>
      <Phrase Key="Ead_View_Link">Voir l'instrument de recherche (EAD)</Phrase>
      <Phrase Key="Ead_Description"><![CDATA[Cette collection archivistique est décrite par un instrument de recherche électronique. Ce fichier de métadonnées contient l'ensemble de la description archivistique et le répertoire du contenu de ce document d'archives. Ce fichier suit la norme établie <a href="http://www.loc.gov/ead/">Encoded Archival Description</a> (EAD).]]></Phrase>
      <Phrase Key="Mets_View_Link">Voir le METS/MODS complet</Phrase>
      <Phrase Key="Mets_Description"><![CDATA[Ce fichier de métadonnées est le fichier de métadonnées source soumis avec tous les fichiers de la ressource numérique. Il contient toutes les informations de citation et de traitement utilisées pour créer cette ressource. Ce fichier suit la norme établie <a href="http://www.loc.gov/standards/mets/">Metadata Encoding and Transmission Standard</a> (METS) et <a href="http://www.loc.gov/standards/mods/">Metadata Object Description Schema</a> (MODS). Ce fichier METS/MODS a été lu au moment du chargement de cet élément en mémoire et sert à afficher toutes les informations dans la vue standard et la vue MARC de la citation.]]></Phrase>
      <Phrase Key="Marc_Xml_View_Link">Voir le fichier MARC XML</Phrase>
      <Phrase Key="Marc_Xml_Description"><![CDATA[Les métadonnées saisies sont également converties au format MARC XML, pour l'interopérabilité avec d'autres systèmes de catalogue de bibliothèque. Cela représente les mêmes données disponibles dans la <a href="{0}">VUE MARC</a>, à ceci près qu'il s'agit d'un fichier XML statique. Ce fichier suit le <a href="http://www.loc.gov/standards/marcxml/">schéma MarcXML</a>.]]></Phrase>
      <Phrase Key="Tei_View_Link">Voir le fichier TEI/Texte</Phrase>
      <Phrase Key="Tei_Description"><![CDATA[Le texte intégral de cet élément est également disponible dans le format téléchargeable de la norme établie <a href="http://www.tei-c.org/index.xml">Text Encoding Initiative</a> (TEI).]]></Phrase>
    </Section>

    <Section Name="Item_Usage_Stats">
      <Phrase Key="Compiled_Monthly_Notice">Les statistiques d'utilisation des éléments sont compilées une fois par mois à partir des journaux d'utilisation du mois précédent et ne contiennent aucune information personnelle.</Phrase>
      <Phrase Key="Viewed_Times_Sentence"><![CDATA[Cet élément a été consulté <%HITS%> fois lors de <%SESSIONS%> visites.  Vous trouverez ci-dessous le détail de l'utilisation globale de cet élément au sein de cette bibliothèque.<br /><br />Pour la définition de ces termes, consultez les <a href="{0}" target="_BLANK">définitions sur la page principale des statistiques</a>.]]></Phrase>
      <Phrase Key="Date">Date</Phrase>
      <Phrase Key="Views">Vues</Phrase>
      <Phrase Key="Visits">Visites</Phrase>
      <Phrase Key="Year_Statistics_Suffix"> STATISTIQUES</Phrase>
      <Phrase Key="Total">TOTAL</Phrase>
      <Phrase Key="No_Stats_Yet_Message">Les statistiques d'utilisation sont accumulées mensuellement et n'ont pas encore été enregistrées pour cet élément.</Phrase>
      <Phrase Key="Month_1">Janvier</Phrase>
      <Phrase Key="Month_2">Février</Phrase>
      <Phrase Key="Month_3">Mars</Phrase>
      <Phrase Key="Month_4">Avril</Phrase>
      <Phrase Key="Month_5">Mai</Phrase>
      <Phrase Key="Month_6">Juin</Phrase>
      <Phrase Key="Month_7">Juillet</Phrase>
      <Phrase Key="Month_8">Août</Phrase>
      <Phrase Key="Month_9">Septembre</Phrase>
      <Phrase Key="Month_10">Octobre</Phrase>
      <Phrase Key="Month_11">Novembre</Phrase>
      <Phrase Key="Month_12">Décembre</Phrase>
    </Section>

    <Section Name="SearchEngineIndexing">
      <Phrase Key="Citation_Label">Citation</Phrase>
      <Phrase Key="Downloads_Label">Téléchargements</Phrase>
      <Phrase Key="Full_Text_Label">Texte intégral</Phrase>
      <Phrase Key="Unable_To_Read_File">Impossible de lire le fichier: {0}</Phrase>
    </Section>

    <Section Name="JPEG">
      <Phrase Key="Menu_Standard">Standard</Phrase>
      <Phrase Key="Zoomable_Switch_Prompt">Cliquez sur l'image ci-dessous pour passer à la version zoomable</Phrase>
      <Phrase Key="Zoomable_Switch_Title">Cliquez sur l'image pour passer à la version zoomable</Phrase>
    </Section>

    <Section Name="PDF">
      <Phrase Key="Menu_Label_Default">PDF</Phrase>
      <Phrase Key="Error_No_Pdf_Found">ERREUR : IMPOSSIBLE DE TROUVER UN FICHIER PDF À AFFICHER DANS CET ÉLÉMENT !</Phrase>
      <Phrase Key="Download_This_Pdf">Télécharger ce PDF</Phrase>
      <Phrase Key="Download_Adobe_Reader_Alt">Télécharger Adobe Reader</Phrase>
    </Section>

    <Section Name="Text_Viewer">
      <Phrase Key="Menu_Text">Texte</Phrase>
      <Phrase Key="Unknown_Error">Erreur inconnue lors de la récupération du texte</Phrase>
      <Phrase Key="No_Text_File">Aucun fichier texte n'existe pour cette page</Phrase>
      <Phrase Key="No_Text_Recorded">Aucun texte n'est enregistré pour cette page</Phrase>
    </Section>

    <Section Name="TEI">
      <Phrase Key="Menu_Default_Label">TEI</Phrase>
      <Phrase Key="Transform_Error_Html"><![CDATA[Erreur lors de la transformation XSLT du TEI<br /><br />{0}]]></Phrase>
    </Section>

    <Section Name="HTML_Viewer">
      <Phrase Key="Menu_Default_Label">HTML</Phrase>
      <Phrase Key="Unable_To_Pull_Html_Sentence"><![CDATA[Impossible de charger la vue html pour cet élément ( <a href="{0}">source</a> )]]></Phrase>
      <Phrase Key="Apologize_Sentence">Nous nous excusons pour ce désagrément.</Phrase>
      <Phrase Key="Report_Problem_Sentence"><![CDATA[Cliquez <a href="{0}">ici</a> pour signaler le problème.]]></Phrase>
    </Section>

    <Section Name="Embedded_Web_Content">
      <Phrase Key="Menu_Content_Label">Contenu</Phrase>
      <Phrase Key="Viewer_Title">Contenu</Phrase>
    </Section>

    <Section Name="EmbeddedVideo">
      <Phrase Key="Menu_Video_Label">Vidéo</Phrase>
      <Phrase Key="Viewer_Title">Vidéo en continu</Phrase>
    </Section>

    <Section Name="Video">
      <Phrase Key="Menu_Video_Label">Vidéo</Phrase>
    </Section>

    <Section Name="Google_Map">
      <Phrase Key="Menu_Default_Label">Localiser !</Phrase>
      <Phrase Key="Menu_Map_Search">Recherche sur carte</Phrase>
      <Phrase Key="Menu_Search_Results">Résultats de recherche</Phrase>
      <Phrase Key="Menu_Map_Coverage">Couverture cartographique</Phrase>
      <Phrase Key="Search_Button">Rechercher</Phrase>
      <Phrase Key="Find_Address_Button">Localiser</Phrase>
      <Phrase Key="Instructions_Step1_Html"><![CDATA[Utilisez le bouton <i>Sélectionner une zone</i> ci-dessous pour dessiner un rectangle de recherche sur la carte, ou saisissez une adresse et appuyez sur <i>Localiser</i>.]]></Phrase>
      <Phrase Key="Instructions_Step2_Html"><![CDATA[Appuyez sur le bouton <i>Rechercher</i> pour voir les résultats]]></Phrase>
      <Phrase Key="Address_Label">Adresse:</Phrase>
      <Phrase Key="Address_Placeholder">Saisissez une adresse ( ex. : 12 Main Street, Gainesville Florida )</Phrase>
      <Phrase Key="No_Matches_Message"><![CDATA[Aucun résultat ne correspond, au sein de cet élément, à votre recherche géographique. &nbsp; ]]></Phrase>
      <Phrase Key="Modify_Item_Search">Modifier la recherche dans l'élément</Phrase>
      <Phrase Key="Modify_Search_Within_Flight">Modifier la recherche dans le vol</Phrase>
      <Phrase Key="Search_Other_Items_Link">Cliquez ici pour rechercher d'autres éléments dans la collection actuelle</Phrase>
      <Phrase Key="Matching_Results_Intro">Les résultats suivants correspondent à votre recherche géographique:</Phrase>
      <Phrase Key="Zoom_To_Extent">Zoomer sur l'étendue</Phrase>
      <Phrase Key="Zoom_To_Matches">Zoomer sur les résultats</Phrase>
      <Phrase Key="Search_All_Flights">Rechercher tous les vols</Phrase>
      <Phrase Key="Search_Entire_Collection">Rechercher dans toute la collection</Phrase>
      <Phrase Key="Google_Maps_Not_Enabled_Html"><![CDATA[<p style="font-weight:bold; text-size:1.1em">ERREUR : Google Maps n'est pas activé sur cette instance de SobekCM !</p>
              <p>Pour l'activer, veuillez créer une clé API Google Maps et l'entrer dans les paramètres du système.</p>
              <p>Des informations sur cette procédure sont disponibles ici : <a href="http://sobekrepository.org/software/config/googlemaps" style="color:white;">http://sobekrepository.org/software/config/googlemaps</a>.</p>]]></Phrase>
    </Section>

    <Section Name="GnuBooks_PageTurner">
      <Phrase Key="Menu_Default_Label">Feuilleteur</Phrase>
      <Phrase Key="No_Javascript_Message">Les présentations du feuilleteur nécessitent un navigateur avec Javascript activé.</Phrase>
    </Section>

    <Section Name="MultiVolumes">
      <Phrase Key="Menu_All_Volumes">Tous les Volumes</Phrase>
      <Phrase Key="Menu_All_Issues">Tous les Numéros</Phrase>
      <Phrase Key="Menu_Related_Maps">Cartes connexes</Phrase>
      <Phrase Key="Menu_Related_Flights">Vols connexes</Phrase>
      <Phrase Key="All_Volumes">Tous les Volumes</Phrase>
      <Phrase Key="All_Issues">Tous les Éditions</Phrase>
      <Phrase Key="Related_Map_Sets">Définit la Carte Connexes</Phrase>
      <Phrase Key="Related_Flights">Vols connexes</Phrase>
      <Phrase Key="Related_Titles_Heading">Titres connexes</Phrase>
      <Phrase Key="Vid_Header">VID</Phrase>
      <Phrase Key="Level_1_Header">NIVEAU 1</Phrase>
      <Phrase Key="Level_2_Header">NIVEAU 2</Phrase>
      <Phrase Key="Level_3_Header">NIVEAU 3</Phrase>
      <Phrase Key="Access_Header">ACCÈS</Phrase>
      <Phrase Key="Access_Dark">obscurci</Phrase>
      <Phrase Key="Access_Private">privé</Phrase>
      <Phrase Key="Access_Public">public</Phrase>
      <Phrase Key="Access_Restricted">restreint</Phrase>
      <Phrase Key="Missing_Thumbnail_Alt">VIGNETTE MANQUANTE</Phrase>
      <Phrase Key="Dark_Suffix"> ( obscurci )</Phrase>
      <Phrase Key="Private_Suffix"> ( privé )</Phrase>
      <Phrase Key="Restricted_Suffix"> ( certaines restrictions s'appliquent )</Phrase>
      <Phrase Key="All_Private_Or_Dark_Suffix"> ( tous privés ou obscurcis )</Phrase>
    </Section>

    <Section Name="OpenTextbook_Common">
      <Phrase Key="Search_Label">Recherche: </Phrase>
      <Phrase Key="Zoom_Label">Zoom: </Phrase>
      <Phrase Key="Unnumbered_Page_Prefix">Sans numéro </Phrase>
      <Phrase Key="Page_Prefix">Page </Phrase>
      <Phrase Key="Previous_Section_Alt">Aller à la section précédente</Phrase>
      <Phrase Key="Next_Section_Alt">Aller à la section suivante</Phrase>
    </Section>

    <Section Name="OpenTextbook">
      <Phrase Key="Menu_Default_Label">Manuel ouvert</Phrase>
      <Phrase Key="Welcome_Heading">Bienvenue sur OpenPublishing</Phrase>
      <Phrase Key="Welcome_Edit_Instructions"><![CDATA[Vous pouvez modifier votre élément ici, en sélectionnant <i>Modifier le contenu</i> dans le coin supérieur droit de cette page.]]></Phrase>
      <Phrase Key="Welcome_Toc_Instructions"><![CDATA[Pour mettre à jour votre table des matières et créer des chapitres, utilisez l'outil OpenPublishing, disponible dans l'en-tête interne ou via l'option <i>GÉRER</i> du menu de l'élément.]]></Phrase>
      <Phrase Key="Chapter_Edit_Instructions"><![CDATA[Vous pouvez modifier ce chapitre ici, en sélectionnant <i>Modifier le contenu</i> dans le coin supérieur droit de cette page.]]></Phrase>
    </Section>

    <Section Name="OpenTextbook_Divisions">
      <Phrase Key="Menu_Default_Label">Éditeur ouvert</Phrase>
    </Section>

    <Section Name="Related_Images">
      <Phrase Key="Menu_Default_Label">Vignettes</Phrase>
      <Phrase Key="Thumbnails_Per_Page_Suffix">vignettes par page</Phrase>
      <Phrase Key="Go_To_Thumbnail_Label">Aller à l'Vignette</Phrase>
      <Phrase Key="Switch_To_Small">Passer aux petites vignettes</Phrase>
      <Phrase Key="Switch_To_Medium">Passer aux vignettes moyennes</Phrase>
      <Phrase Key="Switch_To_Large">Passer aux grandes vignettes</Phrase>
      <Phrase Key="All_Thumbnails">Toutes les vignettes</Phrase>
      <Phrase Key="Small_Alt">Petit</Phrase>
      <Phrase Key="Medium_Alt">Moyen</Phrase>
      <Phrase Key="Large_Alt">Grand</Phrase>
      <Phrase Key="Missing_Thumbnail_Alt">VIGNETTE MANQUANTE</Phrase>
      <Phrase Key="Page_Number_Placeholder">(page {0})</Phrase>
    </Section>

    <Section Name="Downloads">
      <Phrase Key="Menu_Default_Label">Téléchargements</Phrase>
      <Phrase Key="Explanation_Has_Downloads">Ce document est la suivante téléchargements:</Phrase>
      <Phrase Key="Explanation_Only_Downloads">Cet élément n'est disponible que sous forme des téléchargements suivants:</Phrase>
      <Phrase Key="Tiles_Available_Heading">Les tuiles suivantes sont disponibles au téléchargement:</Phrase>
      <Phrase Key="Jpeg2000_Available_Heading">Les fichiers JPEG2000 suivants sont disponibles au téléchargement:</Phrase>
      <Phrase Key="Save_Link_As_Instructions">Pour télécharger, faites un clic droit sur le nom de la tuile ci-dessous, sélectionnez « Enregistrer le lien sous... » et enregistrez le JPEG2000 sur votre ordinateur.</Phrase>
      <Phrase Key="Save_Target_As_Instructions">Pour télécharger, faites un clic droit sur le nom de la tuile ci-dessous, sélectionnez « Enregistrer la cible sous... » et enregistrez le JPEG2000 sur votre ordinateur. </Phrase>
    </Section>

  </Localization>
</SobekCM_Config>
