<?xml version="1.0" encoding="utf-8" ?>
<SobekCM_Config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://sobekrepository.org/schemas/sobekcm_config"
	xsi:schemaLocation="http://sobekrepository.org/schemas/sobekcm_config
		http://sobekrepository.org/schemas/sobekcm_config.xsd">
  <Localization Language="fr">

    <Section Name="General">
      <Phrase Key="Description">Description</Phrase>
      <Phrase Key="Format">Format</Phrase>
      <Phrase Key="Publisher">Editeur</Phrase>
      <Phrase Key="Relation">Relation</Phrase>
      <Phrase Key="Resource Identifier">Identifiant</Phrase>
      <Phrase Key="Resource_Type">Type</Phrase>
      <Phrase Key="Subject">Sujet</Phrase>
      <Phrase Key="Abstract">Résumé</Phrase>
      <Phrase Key="Alternate Title">Titre Alternatif</Phrase>
      <Phrase Key="Attribution_Statement">Rapport D'Attribution</Phrase>
      <Phrase Key="Bibliographic_ID">Marque Bibliographique</Phrase>
      <Phrase Key="Contributor">Contributeur</Phrase>
      <Phrase Key="Creator">Créateur</Phrase>
      <Phrase Key="Donor">Donateur</Phrase>
      <Phrase Key="EAD_Identifier">Identifiant de EAD</Phrase>
      <Phrase Key="Holding Location">Endroit de la Source</Phrase>
      <Phrase Key="Latitude_Hours">Degrés De Latitude</Phrase>
      <Phrase Key="Latitude_Minutes">Minutes De Latitude</Phrase>
      <Phrase Key="Latitude_Seconds">Secondes De Latitude</Phrase>
      <Phrase Key="Longitude_Hours">Degrés De Longitude</Phrase>
      <Phrase Key="Longitude_Minutes">Minutes De Longitude</Phrase>
      <Phrase Key="Longitude_Seconds">Secondes De Longitude</Phrase>
      <Phrase Key="Notes">Notes</Phrase>
      <Phrase Key="Rights Management">Gestion des Droites</Phrase>
      <Phrase Key="Scale">Scale</Phrase>
      <Phrase Key="Series Title">Titre De Série</Phrase>
      <Phrase Key="Source Institution">Établissement De Source</Phrase>
      <Phrase Key="Spatial Coverage">Couverture Spatiale</Phrase>
      <Phrase Key="Subcollection">Colletion Secondaire</Phrase>
      <Phrase Key="Temporal Coverage">Couverture Temporelle</Phrase>
      <Phrase Key="Uniform Title">Titre Uniforme</Phrase>
      <Phrase Key="Volume_ID">Identification De Volume</Phrase>
      <Phrase Key="Interviewer">Interview par</Phrase>
      <Phrase Key="Interviewee">Interviewé</Phrase>
      <Phrase Key="Publication Date">Date Éditée</Phrase>
      <Phrase Key="Author">Auteur</Phrase>
      <Phrase Key="Place of Publication">Endroit de Publication</Phrase>
      <Phrase Key="Year">Année</Phrase>
      <Phrase Key="Acknowledgement">Remerciement</Phrase>
      <Phrase Key="Advertising">Publicité</Phrase>
      <Phrase Key="Appendix">Annexe</Phrase>
      <Phrase Key="Back_Cover">Couverture Arrière</Phrase>
      <Phrase Key="Back_Matter">Matière Arrière</Phrase>
      <Phrase Key="Bibliography">Bibliographie</Phrase>
      <Phrase Key="Chapter">Chapitre</Phrase>
      <Phrase Key="Conclusion">Conclusion</Phrase>
      <Phrase Key="Copyright">Copyright</Phrase>
      <Phrase Key="Cover">Couverture</Phrase>
      <Phrase Key="Dedication">Attachement</Phrase>
      <Phrase Key="Errata">Erratas</Phrase>
      <Phrase Key="Foreword">Avant-propos</Phrase>
      <Phrase Key="Front_Cover">Couverture Avant</Phrase>
      <Phrase Key="Front_Matter">Préliminaires</Phrase>
      <Phrase Key="Frontispiece">Frontispiece</Phrase>
      <Phrase Key="Half_Title">Demi-titre</Phrase>
      <Phrase Key="Index">Indice</Phrase>
      <Phrase Key="Interview">Interview</Phrase>
      <Phrase Key="Introduction">Introduction</Phrase>
      <Phrase Key="List_of_Figures">Liste de Figures</Phrase>
      <Phrase Key="List_of_Illustrations">Liste de Ilustraciones</Phrase>
      <Phrase Key="List_of_Tables">Liste de Tableaux</Phrase>
      <Phrase Key="Main">Principale</Phrase>
      <Phrase Key="Methodology">Méthodologie</Phrase>
      <Phrase Key="Poem">Poésie</Phrase>
      <Phrase Key="Preface">Préface</Phrase>
      <Phrase Key="Prelude">Prélude</Phrase>
      <Phrase Key="Reference">Référence</Phrase>
      <Phrase Key="Section">Section</Phrase>
      <Phrase Key="Spine">Épine de livre</Phrase>
      <Phrase Key="Subdivision_Level_1">Subdivision du Niveau 1</Phrase>
      <Phrase Key="Subdivision_Level_2">Subdivision du Niveau 2</Phrase>
      <Phrase Key="Subdivision_Level_3">Subdivision du Niveau 3</Phrase>
      <Phrase Key="Subdivision_Level_4">Subdivision du Niveau 4</Phrase>
      <Phrase Key="Subdivision_Level_5">Subdivision du Niveau 5</Phrase>
      <Phrase Key="Subdivision_Level_6">Subdivision du Niveau 6</Phrase>
      <Phrase Key="Table_of_Contents">Table des Matières</Phrase>
      <Phrase Key="Title_Page">Titre</Phrase>
      <Phrase Key="Group">Groupe</Phrase>
      <Phrase Key="PAGE_IMAGE">IMAGE DE PAGE</Phrase>
      <Phrase Key="PAGE_TEXT">TEXTE DE PAGE</Phrase>
      <Phrase Key="ZOOMABLE">ZOOMABLE</Phrase>
      <Phrase Key="FEATURES">FONCTIONS</Phrase>
      <Phrase Key="STREETS">RUE</Phrase>
      <Phrase Key="All_Items">Tous les Documents</Phrase>
      <Phrase Key="Recently_Added_Items">Récemment Ajouté des Documents</Phrase>
      <Phrase Key="Related_Images">Toutes les Images</Phrase>
      <Phrase Key="Country">Pays</Phrase>
      <Phrase Key="State">État</Phrase>
      <Phrase Key="County">Comté</Phrase>
      <Phrase Key="City">City</Phrase>
      <Phrase Key="Subject_Topic">Sujet: Thème</Phrase>
      <Phrase Key="Subject_Geographic_Area">Sujet: Région géographique</Phrase>
      <Phrase Key="Subject_Genre">Sujet: Genre</Phrase>
      <Phrase Key="Permanent Link">URL permanente</Phrase>
      <Phrase Key="Material_Information">Matériel d'Information</Phrase>
      <Phrase Key="Physical Description">Description Physique</Phrase>
      <Phrase Key="Manufacturer">Fabricant</Phrase>
      <Phrase Key="Subjects">Sujets</Phrase>
      <Phrase Key="Statement_of_Responsibility">Déclaration de Responsabilité</Phrase>
      <Phrase Key="General Note">Note Générale</Phrase>
      <Phrase Key="Record_Information">Notice d'information</Phrase>
      <Phrase Key="Local_Membership">Local d'Adhésion</Phrase>
      <Phrase Key="METS_Information">METS Information</Phrase>
      <Phrase Key="Creation Date">Date de Création</Phrase>
      <Phrase Key="Last_Modified">Dernière Mise à Jour</Phrase>
      <Phrase Key="Last_User">Dernière Utilisateur</Phrase>
      <Phrase Key="System_Folder">Dossier Système</Phrase>
      <Phrase Key="Item_Primary_Key">Point Clé Primaire</Phrase>
      <Phrase Key="Group_Primary_Key">Groupe de Clé Primaire</Phrase>
      <Phrase Key="System Administration Information">Système d'Information Admin</Phrase>
      <Phrase Key="Group_Title">Titre du Groupe</Phrase>
      <Phrase Key="Accession number">Numéro d'Accession</Phrase>
      <Phrase Key="Caribbean_Newspaper_Digital_Library">Caribbean Newspaper Digital Library</Phrase>
      <Phrase Key="Digital_Library_of_the_Caribbean">Digital Library of the Caribbean</Phrase>
      <Phrase Key="Panama_and_the_Canal">Panama and the Canal</Phrase>
      <Phrase Key="Subject_Keywords">Subject Keyword</Phrase>
      <Phrase Key="Type">Type</Phrase>
      <Phrase Key="Genre">Genre</Phrase>
      <Phrase Key="Target Audience">Target Audience</Phrase>
      <Phrase Key="Attribution">Attribution</Phrase>
      <Phrase Key="Tickler">Tickler</Phrase>
      <Phrase Key="Identifier">Identifier</Phrase>
      <Phrase Key="Affiliation">Affiliation</Phrase>
      <Phrase Key="Frequency">Frequency</Phrase>
      <Phrase Key="TEXT_SEARCH">TEXT SEARCH</Phrase>
      <Phrase Key="Subcollections">Subcollections</Phrase>
      <Phrase Key="Metadata_Only">Metadata Only</Phrase>
      <Phrase Key="Most_Recent">Most Recent</Phrase>
      <Phrase Key="Child_Collections">Child Collections</Phrase>
      <Phrase Key="Title">Titre</Phrase>
      <Phrase Key="Date">Date</Phrase>
      <Phrase Key="Language">Langue</Phrase>
      <Phrase Key="Full_Citation">Citation Complet</Phrase>
      <Phrase Key="Abbreviated Title">Titre Abrégé</Phrase>
      <Phrase Key="Aggregation Level">Niveau d'Agrégation</Phrase>
      <Phrase Key="Aggregations">Agrégations</Phrase>
      <Phrase Key="Class">Classe</Phrase>
      <Phrase Key="Classification">Classification</Phrase>
      <Phrase Key="Committee Chair">Président du Comité</Phrase>
      <Phrase Key="Committee Co-Chair">Coprésident du Comité</Phrase>
      <Phrase Key="Committee Members">Membres du Comité</Phrase>
      <Phrase Key="Common Name">Nom Commun</Phrase>
      <Phrase Key="Conference">Conférence</Phrase>
      <Phrase Key="Context">Contexte</Phrase>
      <Phrase Key="Coordinates">Coordonnées</Phrase>
      <Phrase Key="Copyright Date">Date de Copyright</Phrase>
      <Phrase Key="Cultural Context">Contexte Culturel</Phrase>
      <Phrase Key="Degree">Diplôme</Phrase>
      <Phrase Key="Degree Disciplines">Disciplines du Diplôme</Phrase>
      <Phrase Key="Degree Divisions">Divisions du Diplôme</Phrase>
      <Phrase Key="Degree Grantor">Établissement Décerneur</Phrase>
      <Phrase Key="Difficulty Level">Niveau de Difficulté</Phrase>
      <Phrase Key="Edition">Édition</Phrase>
      <Phrase Key="Embargo Date">Date d'Embargo</Phrase>
      <Phrase Key="Family">Famille</Phrase>
      <Phrase Key="Genus">Genre</Phrase>
      <Phrase Key="Graduation Date">Date de Remise des Diplômes</Phrase>
      <Phrase Key="Graduation Semester">Semestre de Remise des Diplômes</Phrase>
      <Phrase Key="Inscription">Inscription</Phrase>
      <Phrase Key="Intended User Roles">Rôles d'Utilisateur Prévus</Phrase>
      <Phrase Key="Interactivity Level">Niveau d'Interactivité</Phrase>
      <Phrase Key="Interactivity Type">Type d'Interactivité</Phrase>
      <Phrase Key="Kingdom">Règne</Phrase>
      <Phrase Key="Learning Resource Type">Type de Ressource d'Apprentissage</Phrase>
      <Phrase Key="Materials">Matériaux</Phrase>
      <Phrase Key="Measurements">Mesures</Phrase>
      <Phrase Key="Order">Ordre</Phrase>
      <Phrase Key="Phylum">Embranchement</Phrase>
      <Phrase Key="Physical Location">Emplacement Physique</Phrase>
      <Phrase Key="Related Item">Élément Associé</Phrase>
      <Phrase Key="Related URL">URL Associée</Phrase>
      <Phrase Key="Scientific Name">Nom Scientifique</Phrase>
      <Phrase Key="Species">Espèce</Phrase>
      <Phrase Key="State / Edition">État / Édition</Phrase>
      <Phrase Key="Status">Statut</Phrase>
      <Phrase Key="Style/Period">Style/Période</Phrase>
      <Phrase Key="Subjects / Keywords">Sujets / Mots-clés</Phrase>
      <Phrase Key="System ID">ID Système</Phrase>
      <Phrase Key="System Requirements">Configuration Requise</Phrase>
      <Phrase Key="Taxonomic Rank">Rang Taxonomique</Phrase>
      <Phrase Key="Technique">Technique</Phrase>
      <Phrase Key="Translated Title">Titre Traduit</Phrase>
      <Phrase Key="Typical Age Range">Tranche d'Âge Typique</Phrase>
      <Phrase Key="Typical Learning Time">Durée d'Apprentissage Typique</Phrase>
      <Phrase Key="User Tags">Étiquettes Utilisateur</Phrase>
      <Phrase Key="Sort By">Trier par</Phrase>
      <Phrase Key="BibID / VID">BibID / VID</Phrase>
      <Phrase Key="Title / VID">Titre / VID</Phrase>
      <Phrase Key="Last Activity Date (most recent first)">Date de Dernière Activité (plus récent en premier)</Phrase>
      <Phrase Key="Last Milestone Date (most recent first)">Date du Dernier Jalon (plus récent en premier)</Phrase>
      <Phrase Key="Last Activity Date (oldest first)">Date de Dernière Activité (plus ancien en premier)</Phrase>
      <Phrase Key="Last Milestone Date (oldest first)">Date du Dernier Jalon (plus ancien en premier)</Phrase>
      <Phrase Key="Browse by...">Parcourir par...</Phrase>
      <Phrase Key="Collection">Collection</Phrase>
      <Phrase Key="Get help.">Obtenir de l'aide.</Phrase>
      <Phrase Key="Click to add another">Cliquez pour en ajouter un autre</Phrase>
      <Phrase Key="Click to add a new abstract">Cliquez pour ajouter un nouveau résumé</Phrase>
      <Phrase Key="Click to add a new manufacturer">Cliquez pour ajouter un nouveau fabricant</Phrase>
      <Phrase Key="Click to add a new named object to this resource">Cliquez pour ajouter un nouvel objet nommé à cette ressource</Phrase>
      <Phrase Key="Click to add a new named subject">Cliquez pour ajouter un nouveau sujet nommé</Phrase>
      <Phrase Key="Click to add a new note">Cliquez pour ajouter une nouvelle note</Phrase>
      <Phrase Key="Click to add a new other title">Cliquez pour ajouter un autre titre</Phrase>
      <Phrase Key="Click to add a new publisher">Cliquez pour ajouter un nouvel éditeur</Phrase>
      <Phrase Key="Click to add a new related item">Cliquez pour ajouter un nouvel élément associé</Phrase>
      <Phrase Key="Click to add a new spatial coverage object">Cliquez pour ajouter un nouvel objet de couverture spatiale</Phrase>
      <Phrase Key="Click to add a new temporal coverage field">Cliquez pour ajouter un nouveau champ de couverture temporelle</Phrase>
      <Phrase Key="Click to add a new type of viewer">Cliquez pour ajouter un nouveau type de visionneuse</Phrase>
      <Phrase Key="Click to add a new zoological taxonomy object">Cliquez pour ajouter un nouvel objet de taxonomie zoologique</Phrase>
      <Phrase Key="End Year">Année de Fin</Phrase>
      <Phrase Key="Location(s)">Emplacement(s)</Phrase>
      <Phrase Key="Name">Nom</Phrase>
      <Phrase Key="Period">Période</Phrase>
      <Phrase Key="Specify Type">Spécifier le Type</Phrase>
      <Phrase Key="Start Year">Année de Début</Phrase>
    </Section>

  </Localization>
</SobekCM_Config>
