<?xml version="1.0" encoding="utf-8" ?>
<SobekCM_Config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://sobekrepository.org/schemas/sobekcm_config"
	xsi:schemaLocation="http://sobekrepository.org/schemas/sobekcm_config
		http://sobekrepository.org/schemas/sobekcm_config.xsd">
  <Localization Language="fr">

    <Section Name="HeaderFooter">
      <Phrase Key="Home_Suffix_Format">Accueil {0}</Phrase>
      <Phrase Key="Staff_Login">connexion du personnel</Phrase>
      <Phrase Key="Log_Out">Déconnexion</Phrase>
      <Phrase Key="My_Account_Possessive_Format">{1} de {0}</Phrase>
    </Section>

    <Section Name="MainMenus">
      <Phrase Key="Aggregation_Menu_Aria">Menu de la collection</Phrase>
      <Phrase Key="Search_Results_Menu_Aria">Menu des résultats de recherche</Phrase>
      <Phrase Key="User_Menu_Aria">Menu utilisateur</Phrase>
      <Phrase Key="Home">PAGE D'ACCUEIL</Phrase>
      <Phrase Key="Collection_Home_Format">PAGE D'ACCUEIL {0}</Phrase>
      <Phrase Key="Sobek_Home_Format">PAGE D'ACCUEIL</Phrase>
      <Phrase Key="My_Sobek_Home_Format"><![CDATA[<span style="text-transform:lowercase">mon</span>{0} Accueil]]></Phrase>
      <Phrase Key="View_Items">VOIR ARTICLES</Phrase>
      <Phrase Key="View_All_Items">TOUS LES ARTICLES</Phrase>
      <Phrase Key="View_New_Items">NOUVEAUX ARTICLES</Phrase>
      <Phrase Key="My_Collections">MES COLLECTIONS</Phrase>
      <Phrase Key="Browse_Partners">PARTENAIRES</Phrase>
      <Phrase Key="Browse_By">PARCOURIR PAR</Phrase>
      <Phrase Key="Map_Browse">Parcourir par Carte</Phrase>
      <Phrase Key="List_View">Vue Liste</Phrase>
      <Phrase Key="Brief_View">Vue Simple</Phrase>
      <Phrase Key="Tree_View">Vue Arborescente</Phrase>
      <Phrase Key="Other_Searches">Options de Recherche</Phrase>
      <Phrase Key="Print_Action">Imprimer</Phrase>
      <Phrase Key="Send_Action">Envoyer</Phrase>
      <Phrase Key="Save_Action">Enregistrer</Phrase>
      <Phrase Key="Share_Action">Partager</Phrase>
      <Phrase Key="Add_Action">Ajouter</Phrase>
      <Phrase Key="Remove_Action">Retirer</Phrase>
      <Phrase Key="Revise_Action">Réviser</Phrase>
      <Phrase Key="My_Library">Ma Bibliothèque</Phrase>
      <Phrase Key="My_Account">Mon Compte</Phrase>
      <Phrase Key="Internal">Interne</Phrase>
      <Phrase Key="System_Admin">Administrateur Système</Phrase>
      <Phrase Key="Portal_Admin">Administrateur du Portail</Phrase>
      <Phrase Key="User_Admin">Administrateur des Utilisateurs</Phrase>
      <Phrase Key="Advanced_Search">Recherche Avancée</Phrase>
      <Phrase Key="Collection_List">DETAILS DE LA COLLECTION</Phrase>
      <Phrase Key="Collection_Hierarchy">Hiérarchie de la Collection</Phrase>
      <Phrase Key="New_Items">LES NOUVEAUX DOCUMENTS</Phrase>
      <Phrase Key="Memory_Management">MÉMOIRE</Phrase>
      <Phrase Key="Wordmarks">Logotypes</Phrase>
      <Phrase Key="Build_Failures">Échecs de Construction</Phrase>
      <Phrase Key="Start_New_Item">Commencer un nouvel article</Phrase>
      <Phrase Key="View_Submitted_Items">Voir mes articles soumis</Phrase>
      <Phrase Key="View_Item_Usage">Voir l'utilisation de mes articles</Phrase>
      <Phrase Key="View_Descriptive_Tags">Voir mes étiquettes descriptives</Phrase>
      <Phrase Key="View_Bookshelves">Voir mes étagères</Phrase>
      <Phrase Key="View_Saved_Searches">Voir mes recherches enregistrées</Phrase>
      <Phrase Key="Account_Preferences">Préférences du compte</Phrase>
      <Phrase Key="Log_Out">Déconnexion</Phrase>
      <Phrase Key="Common_Tasks">Tâches Courantes</Phrase>
      <Phrase Key="Add_Collection_Wizard">Assistant d'Ajout de Collection</Phrase>
      <Phrase Key="Edit_Current_Web_Skin">Modifier l'Habillage Web Actuel</Phrase>
      <Phrase Key="Users_And_Groups">Utilisateurs et Groupes</Phrase>
      <Phrase Key="Appearance">Apparence</Phrase>
      <Phrase Key="Url_Portals">Portails URL</Phrase>
      <Phrase Key="Web_Skins">Habillages Web</Phrase>
      <Phrase Key="Collections">Collections</Phrase>
      <Phrase Key="Aggregation_Aliases">Alias de Collections</Phrase>
      <Phrase Key="Aggregation_Management">Gestion des Collections</Phrase>
      <Phrase Key="Thematic_Headings">Rubriques Thématiques</Phrase>
      <Phrase Key="Items">Articles</Phrase>
      <Phrase Key="Default_Metadata">Métadonnées par Défaut</Phrase>
      <Phrase Key="Wordmarks_Icons">Logotypes / Icônes</Phrase>
      <Phrase Key="Builder_Status">État du Générateur</Phrase>
      <Phrase Key="Settings">Paramètres</Phrase>
      <Phrase Key="Ip_Restriction_Ranges">Plages de Restriction IP</Phrase>
      <Phrase Key="System_Wide_Settings">Paramètres Généraux du Système</Phrase>
      <Phrase Key="Reset_Cache">Réinitialiser le Cache</Phrase>
      <Phrase Key="Users_And_Permissions">Utilisateurs et Permissions</Phrase>
      <Phrase Key="User_Permissions_Reports">Rapports des Permissions Utilisateur</Phrase>
      <Phrase Key="Users_Requests">Demandes des Utilisateurs</Phrase>
      <Phrase Key="Web_Content_Pages">Pages de Contenu Web</Phrase>
      <Phrase Key="Manage_Web_Content_Pages">Gérer les Pages de Contenu Web</Phrase>
      <Phrase Key="Web_Content_Recent_Updates">Mises à Jour Récentes du Contenu Web</Phrase>
      <Phrase Key="Web_Content_Usage_Reports">Rapports d'Utilisation du Contenu Web</Phrase>
      <Phrase Key="Extensions">Extensions</Phrase>
      <Phrase Key="Manage_Tei_Plugin">Gérer le module TEI</Phrase>
    </Section>

  </Localization>
</SobekCM_Config>
