<?xml version="1.0" encoding="utf-8" ?>
<SobekCM_Config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://sobekrepository.org/schemas/sobekcm_config"
	xsi:schemaLocation="http://sobekrepository.org/schemas/sobekcm_config
		http://sobekrepository.org/schemas/sobekcm_config.xsd">
  <Localization Language="fr">

    <Section Name="Aggregation_Common">
      <Phrase Key="Go">Aller</Phrase>
      <Phrase Key="Search_Collection">Recherche dans la collection</Phrase>
      <Phrase Key="Include_Non_Public_Items">Inclure les éléments non publics</Phrase>
      <Phrase Key="Limit_By_Year">Limiter par année</Phrase>
      <Phrase Key="Show_Only_Media">Afficher seulement les documents avec images ou autres médias</Phrase>
      <Phrase Key="Through">à</Phrase>
      <Phrase Key="Include_Full_Text">Inclure le texte du document dans la recherche</Phrase>
      <Phrase Key="Search_All_Collections">Rechercher dans toutes les collections</Phrase>
      <Phrase Key="Home">Accueil</Phrase>
      <Phrase Key="Quick_Tips_Html"><![CDATA[<div id="sbk_QuickTips">
  <h1>Conseils rapides</h1>
  <ul>
    <li>La Recherche Booléenne
      <p class="tagline"> Utilisez <b>+</b> ou <i><b>et</b></i> des termes et de trouver des documents avec <b>tous</b> les termes.<br />
      Utilisez <b>-</b> ou <i><b>ou</b></i> entre les termes ou pour rechercher des enregistrements avec <b>l'un</b> des termes.<br />
      Utilisez <b>!</b> ou <i><b>et not</b></i> entre les termes à exclure des enregistrements avec des termes.<br />
      Si rien n'est indiqué, <i><b>et</b></i> est la valeur par défaut.<br />
      EXEMPLE: naturelle et non histoire
      </p>
    </li>
    <li>Recherche d'une Expression
      <p class="tagline"> Placer des guillemets autour d'une phrase recherchera la phrase exacte.<br />
      EXEMPLE: &laquo;histoire naturelle&raquo;</p>
    </li>
    <li>Capitalisation
      <p class="tagline"> Les recherches ne sont pas la capitalisation sensible.<br />
      EXEMPLE: La recherche de <i>NATUREL</i> rendra les mêmes résultats que la recherche de naturel <i>naturel</i></p>
    </li>
    <li>Les Signes Diacritiques
      <p class="tagline"> Pour rechercher des mots avec des signes diacritiques, le caractère doit être entré dans la zone de recherche.<br />
      EXEMPLE: La recherche de <i>Précédent</i> est différente de <i>Precedent</i></p>
    </li>
  </ul>
</div>
<br />]]></Phrase>
    </Section>

    <Section Name="Advanced_Search">
      <Phrase Key="Search_For">Recherche de:</Phrase>
      <Phrase Key="In">en</Phrase>
      <Phrase Key="Search">Rechercher</Phrase>
      <Phrase Key="Search_Options">Options de recherche</Phrase>
      <Phrase Key="Precision">Précision</Phrase>
      <Phrase Key="Contains_Exactly">Contient exactement les termes de recherche</Phrase>
      <Phrase Key="Contains_Any_Form">Contient toute forme des termes de recherche</Phrase>
      <Phrase Key="Contains_Meaning">Contient le terme de recherche ou des termes de signification similaire</Phrase>
      <Phrase Key="And">et</Phrase>
      <Phrase Key="Or">ou</Phrase>
      <Phrase Key="And_Not">et non</Phrase>
    </Section>

    <Section Name="Item_Count">
      <Phrase Key="Resource_Count_In_Collection">Nombre de ressources dans la collection</Phrase>
      <Phrase Key="Description">Vous trouverez ci-dessous le nombre de titres et d'éléments pour tous les éléments de cette collection, y compris les éléments actuellement en ligne ainsi que les éléments en cours de traitement.</Phrase>
      <Phrase Key="Visibility">VISIBILITÉ</Phrase>
      <Phrase Key="Title_Count">NOMBRE DE TITRES</Phrase>
      <Phrase Key="Item_Count">NOMBRE D'ÉLÉMENTS</Phrase>
      <Phrase Key="Page_Count">NOMBRE DE PAGES</Phrase>
      <Phrase Key="File_Count">NOMBRE DE FICHIERS</Phrase>
    </Section>

    <Section Name="Full_Text_Search">
      <Phrase Key="Search_Full_Text">Recherche dans la collection</Phrase>
    </Section>

    <Section Name="DLOC_Search">
      <Phrase Key="Include_Newspapers">Accès aux journaux inclus?</Phrase>
    </Section>

    <Section Name="Map_Common">
      <Phrase Key="Google_Maps_Not_Enabled_Html"><![CDATA[<p style="font-weight:bold; text-size:1.1em">ERREUR : Google Maps n'est pas activé sur cette instance de SobekCM !</p>
<p>Pour l'activer, veuillez créer une clé API Google Maps et l'entrer dans les paramètres du système.</p>
<p>Des informations sur cette procédure sont disponibles ici : <a href="http://sobekrepository.org/software/config/googlemaps">http://sobekrepository.org/software/config/googlemaps</a>.</p>]]></Phrase>
    </Section>

    <Section Name="Map_Browse">
      <Phrase Key="Select_Point_Instructions_Html"><![CDATA[Sélectionnez un point ci-dessous pour afficher les éléments provenant de cet endroit ou le concernant.<br />Appuyez sur la touche MAJ, puis faites glisser un rectangle sur la carte pour zoomer.]]></Phrase>
      <Phrase Key="Faq_Html"><![CDATA[  <h1>Foire aux questions</h1>
  <ul>
    <li>Que représentent les points sur la carte ?
      <p class="tagline"> Les points sur la carte correspondent aux documents de cette collection. En général, le point représente la source du document. Pour les journaux, le point est le lieu de publication ou le lectorat desservi par le titre du journal. Pour les photographies, cela correspond généralement à l'endroit où la photographie a été prise, qui est habituellement le même que le sujet.</p>
    </li>
    <li>Comment savoir quels titres sont liés à chaque point ?
      <p class="tagline"> Une fenêtre d'information apparaîtra lorsque vous sélectionnez l'un des points sur la carte. Cette fenêtre comprend des vignettes et des liens vers chaque élément. Pour plus d'informations sur tous les titres, vous pouvez sélectionner le lien au bas de la fenêtre.</p>
    </li>
    <li>Puis-je effectuer une recherche à partir de cette carte ?
      <p class="tagline"> Pour effectuer une recherche, utilisez la fonction RECHERCHE SUR CARTE située sous son propre onglet.</p>
    </li>
    <li>Certains points ne semblent pas se trouver au-dessus d'un bâtiment ou d'un lieu particulier ?
      <p class="tagline"> Souvent, le point central d'une ville est utilisé, mais parfois un point de repère spécifique peut être indiqué. Si le point ne semble se trouver au-dessus d'aucun point de repère, il s'agit probablement simplement du centre-ville.</p>
    </li>
  </ul>]]></Phrase>
      <Phrase Key="More_Info_Single_Title">Cliquez ici pour plus d'informations sur ce titre</Phrase>
      <Phrase Key="More_Info_Multiple_Titles">Cliquez ici pour plus d'informations sur ces {0} titres</Phrase>
    </Section>

    <Section Name="Map_Search">
      <Phrase Key="Find_Address">Localiser</Phrase>
      <Phrase Key="Address">Adresse</Phrase>
      <Phrase Key="Locate">Localiser</Phrase>
      <Phrase Key="Point_Disabled_Instructions_Html"><![CDATA[<span style="line-height:160%"> &nbsp; &nbsp; 1. Utilisez le bouton <i>Sélectionner une zone</i> et cliquez pour sélectionner les coins opposés afin de dessiner un rectangle de recherche sur la carte &nbsp; &nbsp; <br /> &nbsp; &nbsp; 2. Appuyez sur le bouton <i>Rechercher</i> pour voir les résultats &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; ( <a href="#FAQ">plus d'aide</a> )</span>]]></Phrase>
      <Phrase Key="Instructions_Html"><![CDATA[<div class="sbkMsav_InstructionsLink" id="MapInstructionsLink" style="display:block" >
  <a href="" onclick="return show_map_instructions();">Cliquez ici pour consulter les instructions de cette interface de recherche</a>
</div>
<div class="sbkMsav_Instructions" id="MapInstructions" style="display:none" >
  <table>
    <tr><td colspan="2">1. Utilisez l'une des méthodes ci-dessous pour définir votre recherche géographique :</td></tr>
    <tr><td style="width:50px;">&nbsp;</td><td>a. Entrez une adresse et appuyez sur <i>Localiser</i> pour la localiser, <i>ou</i></td></tr>
    <tr><td>&nbsp;</td><td>b. Appuyez sur le bouton <i>Sélectionner une zone</i> et cliquez pour sélectionner deux coins opposés, <i>ou</i></td></tr>
    <tr><td>&nbsp;</td><td>c. Appuyez sur le bouton <i>Sélectionner un point</i> et cliquez pour sélectionner un seul point</td></tr>
    <tr><td colspan="2">2. Appuyez sur le bouton <i>Rechercher</i> pour voir les résultats &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; ( <a href="#FAQ">plus d'aide</a> )</td></tr>
  </table>
</div>]]></Phrase>
      <Phrase Key="Faq_Point_Enabled_Html"><![CDATA[  <h1>FAQ de la recherche sur carte</h1>
  <ul>
    <li>Comment effectuer une recherche ?
      <p class="tagline">Pour effectuer une recherche, vous devez d'abord définir votre zone ou point d'intérêt, puis effectuer la recherche. Il existe plusieurs façons de définir votre zone d'intérêt. Vous pouvez soit saisir une adresse à rechercher, soit dessiner une région ou un point sur la carte. Une fois votre recherche définie, cliquez sur le bouton <i>Rechercher</i> pour découvrir les résultats correspondant à cet endroit.</p>
      <p class="tagline">Pour rechercher des adresses, saisissez une adresse et cliquez sur le bouton <i>Localiser</i>. Vous pouvez également utiliser des noms de lieux importants, bien que les adresses fonctionnent généralement mieux. Veillez à inclure la ville et l'état dans votre recherche également. Une fois l'adresse localisée sur la carte, cliquez sur <i>Rechercher</i> pour découvrir les vues aériennes qui incluent cet endroit.</p>
      <p class="tagline">Pour rechercher par carte, cliquez sur <i>Appuyer pour sélectionner une zone</i> ou <i>Appuyer pour sélectionner un point</i> sur la carte. Lorsque vous utilisez Sélectionner une zone, cliquez sur un point de départ sur la carte, puis cliquez sur le coin opposé pour créer un rectangle. En cliquant sur <i>Rechercher</i> au-dessus de la carte, vous récupérerez les résultats correspondant à cette zone. Avec Sélectionner un point, choisissez un emplacement précis et cliquez sur Rechercher.</p>
    </li>
    <li>J'ai des difficultés à sélectionner une zone
      <p class="tagline">Sélectionner une zone rectangulaire à rechercher est simple une fois que vous comprenez la technique. Tout d'abord, sélectionnez le bouton <i>Appuyer pour sélectionner une zone</i> sur la carte. Ensuite, déplacez-vous vers le coin supérieur gauche de la région que vous souhaitez rechercher, puis cliquez et relâchez le bouton gauche de la souris. En déplaçant la souris, vous remarquerez qu'un rectangle se dessine, représentant votre région. Lorsque vous cliquez et relâchez à nouveau la souris, vous définissez le coin inférieur droit de la région à rechercher. N'appuyez pas sur le bouton de la souris en faisant glisser la souris, car cela déplacera la carte et ne définira pas de région à sélectionner. Une fois votre région correctement définie, appuyez sur le bouton <i>Rechercher</i> pour afficher les résultats correspondants.</p>
    </li>
    <li>J'ai des difficultés à rechercher par adresse
      <p class="tagline">Veillez à saisir l'adresse complète, y compris l'état et le pays. Vous pouvez également essayer d'utiliser le nom d'un lieu important, mais l'utilisation d'une adresse fonctionne souvent mieux. Une fois que vous avez saisi l'adresse ou le nom du lieu important, appuyez sur le bouton <i>Localiser</i>. Regardez la carte et vérifiez que l'emplacement trouvé sur la carte correspond à votre recherche souhaitée. Ensuite, appuyez sur le bouton <i>Rechercher</i> pour afficher les résultats correspondants.</p>
    </li>
    <li>Que recherche-t-on ?
      <p class="tagline">Les données recherchées dépendent du type de document. Pour les journaux, le lieu de publication est recherché. Pour les cartes, la couverture géographique est recherchée. Et pour les photographies, l'endroit où la photographie a été prise est recherché.</p>
    </li>
    <li>Pourquoi si peu de résultats ?
      <p class="tagline"> Cette interface est en phase de test bêta, tandis que nous ajoutons davantage d'informations de coordonnées à notre base de données de recherche. Revenez souvent pour suivre notre progression !</p>
    </li>
  </ul>]]></Phrase>
      <Phrase Key="Faq_Point_Disabled_Html"><![CDATA[  <h1>FAQ de la recherche sur carte</h1>
  <ul>
    <li>Comment effectuer une recherche ?
      <p class="tagline">Pour effectuer une recherche, vous devez d'abord définir votre zone d'intérêt, puis effectuer la recherche. Pour définir une zone, cliquez sur <i>Appuyer pour sélectionner une zone</i> sur la carte. Cliquez ensuite sur un point de départ sur la carte, puis cliquez sur le coin opposé pour créer un rectangle. En cliquant sur <i>Rechercher</i> au-dessus de la carte, vous récupérerez les résultats correspondant à cette zone.</p>
    </li>
    <li>J'ai des difficultés à sélectionner une zone
      <p class="tagline">Sélectionner une zone rectangulaire à rechercher est simple une fois que vous comprenez la technique. Tout d'abord, sélectionnez le bouton <i>Appuyer pour sélectionner une zone</i> sur la carte. Ensuite, déplacez-vous vers le coin supérieur gauche de la région que vous souhaitez rechercher, puis cliquez et relâchez le bouton gauche de la souris. En déplaçant la souris, vous remarquerez qu'un rectangle se dessine, représentant votre région. Lorsque vous cliquez et relâchez à nouveau la souris, vous définissez le coin inférieur droit de la région à rechercher. N'appuyez pas sur le bouton de la souris en faisant glisser la souris, car cela déplacera la carte et ne définira pas de région à sélectionner. Une fois votre région correctement définie, appuyez sur le bouton <i>Rechercher</i> pour afficher les résultats correspondants.</p>
    </li>
    <li>Pourquoi ne puis-je pas rechercher par adresse ou par point ?
      <p class="tagline">Cette collection est composée principalement de points, la recherche par zone est donc beaucoup plus efficace que la recherche par point.</p>
    </li>
    <li>Que recherche-t-on ?
      <p class="tagline">Les données recherchées dépendent du type de document. Pour les journaux, le lieu de publication est recherché. Pour les cartes, la couverture géographique est recherchée. Et pour les photographies, l'endroit où la photographie a été prise est recherché.</p>
    </li>
    <li>Pourquoi si peu de résultats ?
      <p class="tagline"> Cette interface est en phase de test bêta, tandis que nous ajoutons davantage d'informations de coordonnées à notre base de données de recherche. Revenez souvent pour suivre notre progression !</p>
    </li>
  </ul>]]></Phrase>
    </Section>

    <Section Name="Newspaper_Search">
      <Phrase Key="Full_Citation">Citation complète</Phrase>
      <Phrase Key="Full_Text">Texte intégral</Phrase>
      <Phrase Key="Newspaper_Title">Titre du journal</Phrase>
      <Phrase Key="Location">Emplacement</Phrase>
    </Section>

    <Section Name="Metadata_Browse">
      <Phrase Key="Browse_By">Parcourir par</Phrase>
      <Phrase Key="Browse_By_Colon">PARCOURIR PAR :</Phrase>
      <Phrase Key="Public_Browses">Parcours publics</Phrase>
      <Phrase Key="Internal_Browses">Parcours internes</Phrase>
      <Phrase Key="Browses">Parcours</Phrase>
      <Phrase Key="Select_Field_Prompt">Sélectionnez un champ de métadonnées à parcourir dans la liste de gauche</Phrase>
      <Phrase Key="No_Matching_Values">AUCUNE VALEUR CORRESPONDANTE</Phrase>
    </Section>

    <Section Name="Tiles_Home">
      <Phrase Key="Varies">( varie )</Phrase>
    </Section>

    <Section Name="Thumbnails_Home">
      <Phrase Key="Collection_Items">Éléments de la collection</Phrase>
      <Phrase Key="Showing_Items_Out_Of">Affichage de 20 éléments sur {0}</Phrase>
      <Phrase Key="View_All">Tout afficher</Phrase>
    </Section>

    <Section Name="Usage_Statistics">
      <Phrase Key="Title_Collection_Views">Historique d'utilisation au niveau de la collection</Phrase>
      <Phrase Key="Title_Item_Views">Historique d'utilisation des éléments</Phrase>
      <Phrase Key="Title_Top_Titles">Titres les plus consultés</Phrase>
      <Phrase Key="Title_Top_Items">Éléments les plus consultés</Phrase>
      <Phrase Key="Title_Definitions">Définitions des termes utilisés</Phrase>

      <Phrase Key="Tab_Collection_Views">VUES DE LA COLLECTION</Phrase>
      <Phrase Key="Tab_Item_Views">VUES DES ÉLÉMENTS</Phrase>
      <Phrase Key="Tab_Top_Titles">TITRES LES PLUS CONSULTÉS</Phrase>
      <Phrase Key="Tab_Top_Items">ÉLÉMENTS LES PLUS CONSULTÉS</Phrase>
      <Phrase Key="Tab_Definitions">DÉFINITIONS</Phrase>

      <Phrase Key="Month_1">Janvier</Phrase>
      <Phrase Key="Month_2">Février</Phrase>
      <Phrase Key="Month_3">Mars</Phrase>
      <Phrase Key="Month_4">Avril</Phrase>
      <Phrase Key="Month_5">Mai</Phrase>
      <Phrase Key="Month_6">Juin</Phrase>
      <Phrase Key="Month_7">Juillet</Phrase>
      <Phrase Key="Month_8">Août</Phrase>
      <Phrase Key="Month_9">Septembre</Phrase>
      <Phrase Key="Month_10">Octobre</Phrase>
      <Phrase Key="Month_11">Novembre</Phrase>
      <Phrase Key="Month_12">Décembre</Phrase>

      <Phrase Key="Collection_History_Intro">L'historique d'utilisation de cette collection est affiché ci-dessous. Cet historique comprend uniquement les vues de premier niveau de la collection.</Phrase>
      <Phrase Key="Item_History_Intro">L'historique d'utilisation des éléments de cette collection est affiché ci-dessous.</Phrase>
      <Phrase Key="Items_By_Collection_Intro">Les éléments les plus fréquemment utilisés de cette collection apparaissent ci-dessous.</Phrase>
      <Phrase Key="Titles_By_Collection_Intro">Les titres les plus fréquemment utilisés par collection apparaissent ci-dessous.</Phrase>
      <Phrase Key="Definitions_Link_Sentence"><![CDATA[La <a href="{0}">page des définitions</a> fournit plus de détails sur les statistiques et les termes utilisés ci-dessous.]]></Phrase>

      <Phrase Key="Year_Statistics_Suffix"> STATISTIQUES</Phrase>
      <Phrase Key="Total">TOTAL</Phrase>

      <Phrase Key="Date">DATE</Phrase>
      <Phrase Key="Total_Views_Html"><![CDATA[TOTAL<br />VUES]]></Phrase>
      <Phrase Key="Visits">VISITES</Phrase>
      <Phrase Key="Main_Pages_Html"><![CDATA[PAGES <br />PRINCIPALES]]></Phrase>
      <Phrase Key="Browses">PARCOURS</Phrase>
      <Phrase Key="Search_Results_Html"><![CDATA[RÉSULTATS<br />DE RECHERCHE]]></Phrase>
      <Phrase Key="Title_Views_Html"><![CDATA[VUES DE<br />TITRES]]></Phrase>
      <Phrase Key="Item_Views_Html"><![CDATA[VUES<br />D'ÉLÉMENTS]]></Phrase>

      <Phrase Key="Jpeg_Views_Html"><![CDATA[VUES<br />JPEG]]></Phrase>
      <Phrase Key="Zoomable_Views_Html"><![CDATA[VUES<br />ZOOMABLES]]></Phrase>
      <Phrase Key="Citation_Views_Html"><![CDATA[VUES DE<br />CITATION]]></Phrase>
      <Phrase Key="Thumbnail_Views_Html"><![CDATA[VUES DE<br />VIGNETTES]]></Phrase>
      <Phrase Key="Text_Searches_Html"><![CDATA[RECHERCHES<br />DE TEXTE]]></Phrase>
      <Phrase Key="Flash_Views_Html"><![CDATA[VUES<br />FLASH]]></Phrase>
      <Phrase Key="Map_Views_Html"><![CDATA[VUES DE<br />CARTE]]></Phrase>
      <Phrase Key="Download_Views_Html"><![CDATA[TÉLÉCHARGE-<br />MENTS]]></Phrase>
      <Phrase Key="Static_Views_Html"><![CDATA[VUES<br />STATIQUES]]></Phrase>

      <Phrase Key="Bibid">BIBID</Phrase>
      <Phrase Key="Vid">VID</Phrase>
      <Phrase Key="Title">TITRE</Phrase>
      <Phrase Key="Views">VUES</Phrase>

      <Phrase Key="Definitions_Html"><![CDATA[<p>Les termes suivants sont définis ci-dessous :</p>

<table width="600px" border="0" align="center">
  <tr>
    <td><a href="#Collection_Hierarchy">Hiérarchie des collections</a></td>
    <td><a href="#Collection_Groups">Groupes de collections</a></td>
    <td><a href="#Collections">Collections</a></td>
  </tr>
  <tr>
    <td><a href="#SubCollections">Sous-collections</a></td>
    <td><a href="#Views">Vues</a></td>
    <td><a href="#Visits">Visites</a></td>
  </tr>
  <tr>
    <td><a href="#Main_Pages">Pages principales</a></td>
    <td><a href="#Browses">Parcours</a></td>
    <td><a href="#Titles_Items">Titres et éléments</a></td>
  </tr>
  <tr>
    <td><a href="#Title_Views">Vues de titres</a></td>
    <td><a href="#Item_Views">Vues d'éléments</a></td>
    <td><a href="#Citation_Views">Vues de citation</a></td>
  </tr>
  <tr>
    <td><a href="#Text_Searches">Recherches de texte</a></td>
    <td><a href="#Static_Views">Vues statiques</a></td>
    <td>&nbsp;</td>
  </tr>
</table>

<h2>Termes définis</h2>

<a name="Collection_Hierarchy" ></a>
<h3>HIÉRARCHIE DES COLLECTIONS</h3>
<p>Les collections sont organisées par groupes de collections, qui contiennent des collections, et les collections contiennent des sous-collections. Cette organisation hiérarchique permet des recherches et des parcours généraux au niveau du groupe de collections, ainsi que des recherches plus précises au niveau de la collection, pour une utilisation optimale selon les besoins des différents utilisateurs. <br /><br />
Dans la lecture des statistiques par collection, les vues et les recherches effectuées à partir de la page principale et des pages de groupes de collections ne se trouvent pas dans les collections et ne sont donc pas incluses dans les statistiques de la collection.</p>

<a name="Collection_Groups" ></a>
<h3>GROUPES DE COLLECTIONS</h3>
<p>Les groupes de collections sont des regroupements de collections dans cette bibliothèque. Les groupes de collections simplifient la recherche dans plusieurs collections simultanément. Les groupes de collections relient également des documents moins étroitement liés afin d'augmenter la probabilité de découvertes fortuites, où les utilisateurs peuvent rechercher un sujet et tomber facilement sur quelque chose de connexe et d'utile qu'ils n'avaient pas envisagé. Ainsi, les groupes de collections sont généralement constitués par thème. <br /><br />
En tant qu'agrégat, les vues au niveau du groupe de collections ne comptent pour aucune collection particulière et ne sont pas incluses dans les statistiques basées sur les collections.</p>

<a name="Collections" ></a>
<h3>COLLECTIONS</h3>
<p>Les collections constituent la principale méthode de définition et de regroupement de documents connexes et sont les structures hiérarchiques les plus familières pour les spécialistes du sujet, les partenaires et les autres utilisateurs internes. Une seule collection peut exister dans plusieurs groupes de collections, et une seule collection peut comporter de nombreuses sous-collections.  <br /><br />
Un élément peut appartenir à plusieurs collections, mais une seule collection est toujours sélectionnée comme collection principale, de sorte que toutes les vues de l'élément se trouvent dans une seule collection. </p>

<a name="SubCollections" ></a>
<h3>SOUS-COLLECTIONS</h3>
<p>La plus petite unité regroupée est la sous-collection. Un même élément peut appartenir à plusieurs sous-collections d'une même collection, ou à plusieurs collections et à des sous-collections de chacune d'elles. <br /><br />
Étant donné que tous les éléments des sous-collections ont une collection principale, les statistiques d'utilisation des sous-collections sont également incluses dans les statistiques d'utilisation de la collection. </p>

<a name="Views" ></a>
<h3>VUES</h3>
<p>Les vues sont les visites réelles des pages. Chaque fois qu'une personne accède à {0}, cela compte comme une vue. Les statistiques de {0} sont nettoyées afin que les vues provenant des robots, utilisés par les moteurs de recherche pour indexer les sites Web, soient supprimées. Si elles n'étaient pas supprimées, les vues sur toutes les collections et tous les éléments seraient beaucoup plus élevées. Les statistiques d'utilisation Web sont toujours quelque peu faillibles, et ceci est l'un des moyens d'assurer des statistiques d'utilisation de meilleure qualité. <br /><br />
Certaines statistiques Web comptent les « téléchargements d'éléments de page » comme des vues, ce qui est très inexact car chaque page comporte plusieurs éléments. Par exemple, la page principale de la bibliothèque numérique, {0}, comprend le code HTML de la page et toutes les images. Si les statistiques comptaient chaque « téléchargement d'élément de page » comme un accès, chaque simple visite de la page principale serait comptée comme plus de 30 « téléchargements d'éléments de page ». Pour compliquer encore les choses, certains dépôts numériques ne proposent que des téléchargements PDF pour permettre aux utilisateurs de consulter les éléments. Ces dépôts numériques suivent les « téléchargements d'éléments » et ceux-ci sont les plus équivalents à nos statistiques d'utilisation par « élément ». </p>

<a name="Visits" ></a>
<h3>VISITES</h3>
<p>Chaque fois qu'une personne accède à cette bibliothèque numérique, cela compte comme une vue, mais cela signifie qu'un même utilisateur qui visite le site à plusieurs reprises peut enregistrer un grand nombre de vues. Les visites offrent une meilleure statistique du nombre d'utilisateurs « uniques » différents qui utilisent le site. Les visites incluent toutes les vues provenant d'une même adresse IP (l'adresse Web de l'ordinateur de l'utilisateur lors de la connexion) enregistrées dans le fichier journal Web au cours d'une heure.  <br /><br />
Il s'agit également d'une statistique faillible, car les adresses IP des utilisateurs sont fréquemment réutilisées sur les réseaux. Se connecter à un réseau sans fil gratuit signifie que ce réseau attribue une adresse IP à votre ordinateur, puis, lorsque vous vous déconnectez, cette adresse IP sera attribuée à l'utilisateur suivant qui en a besoin. Pour une ressource basée sur un campus avec autant d'utilisateurs se connectant via le VPN ou depuis le campus, la marge d'erreur augmente pour les statistiques basées sur les visites. </p>

<a name="Main_Pages" ></a>
<h3>PAGES PRINCIPALES</h3>
<p>Pour chacun des éléments de la hiérarchie des collections, les pages principales sont les pages d'accueil ou d'atterrissage, les pages de recherche, les pages de contact et toute autre page supplémentaire.  <br /><br />
Lorsque les utilisateurs effectuent une recherche via les pages de collection et consultent les résultats, ces pages de résultats de recherche sont également incluses dans les pages principales. Une fois qu'un utilisateur clique sur l'un des éléments dans les résultats de recherche, cet élément ne fait plus partie des pages principales. Les vues des résultats de recherche en modes vignette, tableau et bref sont toutes incluses dans les pages principales de la collection.</p>

<a name="Browses" ></a>
<h3>PARCOURS</h3>
<p>Les parcours comprennent les vues des parcours standards, tels que <i>Tous les éléments</i> et <i>Nouveaux éléments</i> (lorsqu'ils sont disponibles).  Ils incluent également toutes les vues des parcours non standards.</p>

<a name="Search_Results" ></a>
<h3>RÉSULTATS DE RECHERCHE</h3>
<p>Les vues de résultats de recherche incluent chaque vue d'une section de résultats de recherche, y compris les recherches qui n'ont donné aucun résultat.</p>

<a name="Titles_Items" ></a>
<h3>TITRES ET ÉLÉMENTS</h3>
<p>Les titres correspondent à des unités bibliographiques uniques, comme un livre ou un journal. Les éléments sont les volumes au sein des titres. Ainsi, un livre peut avoir un titre et un élément, alors qu'un journal peut avoir un titre et des milliers d'éléments.  <br /><br />
Les titres ne comportant qu'un seul élément (ou volume) apparaissent fonctionnellement équivalents pour les utilisateurs. Cependant, pour des éléments comme les journaux, un même titre peut correspondre à des milliers d'éléments. <br /><br />
Les lecteurs de la documentation technique et les utilisateurs internes connaissent les titres par leur identifiant bibliographique (BIBID) et les éléments au sein de chaque titre par le BIBID plus l'identifiant de volume (VID).</p>

<a name="Title_Views" ></a>
<h3>VUES DE TITRES</h3>
<p>Les vues de titres comprennent toutes les vues au niveau du titre.</p>

<a name="Item_Views" ></a>
<h3>VUES D'ÉLÉMENTS</h3>
<p>Les vues d'éléments comprennent uniquement les vues au niveau de l'élément.</p>

<a name="Citation_Views" ></a>
<h3>VUES DE CITATION</h3>
<p>Pour chaque élément, la vue par défaut est réglée sur l'élément de page (zoomable ou statique selon la sélection de l'utilisateur et la disponibilité de chacune des vues pour cet élément). Tous les éléments comprennent également une « vue de citation » qui n'est pas sélectionnée par défaut. Les « vues de citation » comptent le nombre de fois qu'un utilisateur choisit la « vue de citation » pour un élément.</p>

<a name="Text_Searches" ></a>
<h3>RECHERCHES DE TEXTE</h3>
<p>Les recherches de texte sont des recherches au niveau de l'élément, dans le texte d'un seul document.  Elles renvoient les pages sur lesquelles le terme ou les termes apparaissent.</p>

<a name="Static_Views" ></a>
<h3>VUES STATIQUES</h3>
<p>Pour chaque élément de cette bibliothèque, une page statique est générée afin que les moteurs de recherche puissent l'indexer.  Lorsqu'un élément apparaît dans les résultats d'un moteur de recherche standard, le lien redirige l'utilisateur vers la page statique.  Toute navigation supplémentaire déplace l'utilisateur vers les pages générées dynamiquement au sein de cette bibliothèque.  Des efforts ont été faits pour retirer de ces chiffres toutes les vues provenant de l'indexation par les moteurs de recherche.  Ces chiffres représentent le nombre d'utilisateurs entrés dans cette bibliothèque depuis un moteur de recherche.</p>]]></Phrase>
    </Section>

  </Localization>
</SobekCM_Config>
