<?xml version="1.0" encoding="utf-8" ?>
<SobekCM_Config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://sobekrepository.org/schemas/sobekcm_config"
	xsi:schemaLocation="http://sobekrepository.org/schemas/sobekcm_config
		http://sobekrepository.org/schemas/sobekcm_config.xsd">
  <Localization Language="es">

    <Section Name="Aggregation_Common">
      <Phrase Key="Go">Ir</Phrase>
      <Phrase Key="Search_Collection">Buscar en la colección</Phrase>
      <Phrase Key="Include_Non_Public_Items">Incluir elementos no públicos</Phrase>
      <Phrase Key="Limit_By_Year">Limitar por año</Phrase>
      <Phrase Key="Show_Only_Media">Mostrar solo registros con imágenes u otros medios</Phrase>
      <Phrase Key="Through">a</Phrase>
      <Phrase Key="Include_Full_Text">Incluir el texto del documento en la búsqueda</Phrase>
      <Phrase Key="Search_All_Collections">Buscar en todas las colecciones</Phrase>
      <Phrase Key="Home">Inicio</Phrase>
      <Phrase Key="Quick_Tips_Html"><![CDATA[<div id="sbk_QuickTips">
  <h1>Consejos Rápidos:</h1>
  <ul>
    <li>Búsqueda Binaria
      <p class="tagline"> Utilice <b>+</b> o <i><b>y</b></i>entre los términos para encontrar registros con <b>todos</b> los términos.<br />
      Utilice <b>-</b> o <i><b>o</b></i> entre los términos para encontrar registros con <b>cualquiera</b> de los términos.<br />
      Utilice <b>!</b> o <i><b>y no</b></i>  entre los términos para excluir registros con los términos.<br />
      Si no se indica nada , <i><b>y</b></i> es el predeterminado.<br />
      EJEMPLO: natural y no historia
      </p>
    </li>
    <li>Búsqueda de Frases
      <p class="tagline"> Colocar comillas a una frase buscará la frase exacta.<br />
      EJEMPLO: &quot;historio natural&quot;</p>
    </li>
    <li>Uso de Mayúsculas
      <p class="tagline"> Las búsquedas no distinguen las mayúsculas de las minúsculas.<br />
      EJEMPLO: Buscar <i>NATURAL</i> dará el mismo resultado que buscar <i>natural</i></p>
    </li>
    <li>Tilde Diacrítica
      <p class="tagline"> Para buscar palabras con tilde diacrítica, el símbolo debe ser puesto en el cuadro de búsqueda.<br />
      EJEMPLO: Buscar <i>Précédent</i> es una búsqueda diferente a <i>Precedent</i></p>
    </li>
  </ul>
</div>
<br />]]></Phrase>
    </Section>

    <Section Name="Advanced_Search">
      <Phrase Key="Search_For">Búsqueda de la:</Phrase>
      <Phrase Key="In">en</Phrase>
      <Phrase Key="Search">Buscar</Phrase>
      <Phrase Key="Search_Options">Opciones de Búsqueda</Phrase>
      <Phrase Key="Precision">Precisión</Phrase>
      <Phrase Key="Contains_Exactly">Contiene exactamente los términos de búsqueda</Phrase>
      <Phrase Key="Contains_Any_Form">Contiene todas las formas de los términos de búsqueda</Phrase>
      <Phrase Key="Contains_Meaning">Contiene el término de búsqueda o términos de significado similar</Phrase>
      <Phrase Key="And">y</Phrase>
      <Phrase Key="Or">o</Phrase>
      <Phrase Key="And_Not">y no</Phrase>
    </Section>

    <Section Name="Item_Count">
      <Phrase Key="Resource_Count_In_Collection">Número de recursos en la colección</Phrase>
      <Phrase Key="Description">A continuación se muestra el número de títulos y elementos de todos los elementos de esta colección, incluidos los elementos actualmente en línea, así como los elementos en proceso.</Phrase>
      <Phrase Key="Visibility">VISIBILIDAD</Phrase>
      <Phrase Key="Title_Count">NÚMERO DE TÍTULOS</Phrase>
      <Phrase Key="Item_Count">NÚMERO DE ELEMENTOS</Phrase>
      <Phrase Key="Page_Count">NÚMERO DE PÁGINAS</Phrase>
      <Phrase Key="File_Count">NÚMERO DE ARCHIVOS</Phrase>
    </Section>

    <Section Name="Full_Text_Search">
      <Phrase Key="Search_Full_Text">Buscar en la colección</Phrase>
    </Section>

    <Section Name="DLOC_Search">
      <Phrase Key="Include_Newspapers">¿Incluir periódicos?</Phrase>
    </Section>

    <Section Name="Map_Common">
      <Phrase Key="Google_Maps_Not_Enabled_Html"><![CDATA[<p style="font-weight:bold; text-size:1.1em">ERROR: ¡Google Maps no está habilitado en esta instancia de SobekCM!</p>
<p>Para habilitarlo, cree una clave de API de Google Maps e ingrésela en la configuración general del sistema.</p>
<p>Puede encontrar información sobre este proceso aquí: <a href="http://sobekrepository.org/software/config/googlemaps">http://sobekrepository.org/software/config/googlemaps</a>.</p>]]></Phrase>
    </Section>

    <Section Name="Map_Browse">
      <Phrase Key="Select_Point_Instructions_Html"><![CDATA[Seleccione un punto a continuación para ver los elementos provenientes de ese lugar o relacionados con él.<br />Presione la tecla MAYÚS y luego arrastre un recuadro sobre el mapa para hacer zoom.]]></Phrase>
      <Phrase Key="Faq_Html"><![CDATA[  <h1>Preguntas Frecuentes</h1>
  <ul>
    <li>¿Qué representan los puntos en el mapa?
      <p class="tagline"> Los puntos en el mapa corresponden a material de esta colección. En general, el punto representa el origen del material. Para los periódicos, el punto es el lugar de publicación o la audiencia a la que sirve el título del periódico. Para las fotografías, esto generalmente corresponde al lugar donde se tomó la fotografía, que suele coincidir con el tema.</p>
    </li>
    <li>¿Cómo puedo saber qué títulos están vinculados a cada punto?
      <p class="tagline"> Al seleccionar cualquiera de los puntos del mapa aparecerá una ventana informativa. Esta ventana incluye miniaturas y enlaces a cada elemento. Para más información sobre todos los títulos, puede seleccionar el enlace en la parte inferior de la ventana.</p>
    </li>
    <li>¿Puedo buscar desde este mapa?
      <p class="tagline"> Para realizar una búsqueda, utilice la función BUSCAR EN MAPA que se encuentra en su propia pestaña.</p>
    </li>
    <li>¿Algunos puntos no parecen estar sobre ningún edificio o lugar en particular?
      <p class="tagline"> Muchas veces se utiliza el punto central de una ciudad, pero muchas otras puede etiquetarse un punto de referencia específico. Si el punto no parece estar sobre ningún punto de referencia, probablemente se trate simplemente del centro de la ciudad.</p>
    </li>
  </ul>]]></Phrase>
      <Phrase Key="More_Info_Single_Title">Haga clic aquí para más información sobre este título</Phrase>
      <Phrase Key="More_Info_Multiple_Titles">Haga clic aquí para más información sobre estos {0} títulos</Phrase>
    </Section>

    <Section Name="Map_Search">
      <Phrase Key="Find_Address">Localizar</Phrase>
      <Phrase Key="Address">Dirección</Phrase>
      <Phrase Key="Locate">Localizar</Phrase>
      <Phrase Key="Point_Disabled_Instructions_Html"><![CDATA[<span style="line-height:160%"> &nbsp; &nbsp; 1. Utilice el botón <i>Presione para Seleccionar Área</i> y haga clic para seleccionar las esquinas opuestas y dibujar un recuadro de búsqueda en el mapa &nbsp; &nbsp; <br /> &nbsp; &nbsp; 2. Presione el botón <i>Buscar</i> para ver los resultados &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; ( <a href="#FAQ">más ayuda</a> )</span>]]></Phrase>
      <Phrase Key="Instructions_Html"><![CDATA[<div class="sbkMsav_InstructionsLink" id="MapInstructionsLink" style="display:block" >
  <a href="" onclick="return show_map_instructions();">Haga click aquí para ver las instrucciones para la interfase de esta búsqueda.</a>
</div>
<div class="sbkMsav_Instructions" id="MapInstructions" style="display:none" >
  <table>
    <tr><td colspan="2">1. Utilice uno de los siguientes métodos para definir su búsqueda geográfica:</td></tr>
    <tr><td style="width:50px;">&nbsp;</td><td>a. Escriba una dirección y haga click en el botón <i>Localizar</a> para localizarla, <i>o</i></td></tr>
    <tr><td>&nbsp;</td><td>b. Haga click sobre el botón <i>Presione para Selecionar Area</i> para seleccionar dos esquinas opuestas, <i>o</i></td></tr>
    <tr><td>&nbsp;</td><td>c. Haga click sobre el botón <i>Presione para Seleccionar un Punto</i> para seleccionar un punto individual</td></tr>
    <tr><td colspan="2">2. Presione el botón <i>Buscar</i> para ver los resultados. &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; ( <a href="#FAQ">more help</a> )</td></tr>
  </table>
</div>]]></Phrase>
      <Phrase Key="Faq_Point_Enabled_Html"><![CDATA[  <h1>Preguntas Frecuentes de Búsqueda en Mapa</h1>
  <ul>
    <li>¿Cómo busco?
      <p class="tagline">Para realizar una búsqueda, primero debe definir su área o punto de interés y luego realizar la búsqueda. Existen varias maneras de definir su área de interés. Puede ingresar una dirección para buscar o puede dibujar una región o un punto en el mapa. Una vez que haya definido su búsqueda, haga clic en el botón <i>Buscar</i> para descubrir cualquier coincidencia con esa ubicación.</p>
      <p class="tagline">Para buscar direcciones, escriba una dirección y haga clic en el botón <i>Localizar</i>. También puede usar nombres de puntos de referencia importantes, aunque las direcciones suelen funcionar mejor. Asegúrese de incluir también la ciudad y el estado en su búsqueda. Una vez que la dirección se localice en el mapa, haga clic en <i>Buscar</i> para descubrir vistas aéreas que incluyan esa ubicación. </p>
      <p class="tagline">Para buscar por mapa, haga clic en <i>Presione para Seleccionar Área</i> o <i>Presione para Seleccionar un Punto</i> en el mapa. Al usar Seleccionar Área, haga clic en un punto de inicio en el mapa y luego haga clic en la esquina opuesta para crear un rectángulo. Al hacer clic en <i>Buscar</i> encima del mapa, obtendrá los resultados que coincidan con esa área. Con Seleccionar Punto, elija una ubicación específica y haga clic en Buscar.</p>
    </li>
    <li>Tengo dificultades para seleccionar un área
      <p class="tagline">Seleccionar un área rectangular para buscar es sencillo una vez que se entiende la técnica. Primero, seleccione el botón <i>Presione para Seleccionar Área</i> en el mapa. Luego, muévase a la esquina superior izquierda de la región que desea buscar y haga clic y suelte el botón izquierdo del ratón. Al mover el ratón, notará que se está dibujando un rectángulo que representa su región. Cuando haga clic y suelte el ratón nuevamente, definirá la esquina inferior derecha de la región a buscar. No presione el botón del ratón y arrastre el ratón, ya que esto arrastrará el mapa y no definirá una región para seleccionar. Una vez que su región esté correctamente identificada, presione el botón <i>Buscar</i> para ver los resultados coincidentes.</p>
    </li>
    <li>Tengo dificultades para buscar por dirección
      <p class="tagline">Asegúrese de ingresar la dirección completa, incluyendo el estado y el país. También puede intentar usar el nombre de un punto de referencia importante, pero usar una dirección suele funcionar mejor. Una vez que ingrese la dirección o el nombre del punto de referencia, presione el botón <i>Localizar</i>. Observe el mapa y verifique que la ubicación encontrada coincida con su búsqueda deseada. Luego, presione el botón <i>Buscar</i> para ver los resultados coincidentes.</p>
    </li>
    <li>¿Qué se está buscando?
      <p class="tagline">Los datos buscados dependen del tipo de material. Para los periódicos, se busca el lugar de publicación. Para los mapas, se busca la cobertura geográfica. Y para las fotografías, se busca el lugar donde se tomó la fotografía.</p>
    </li>
    <li>¿Por qué tan pocos resultados?
      <p class="tagline"> Esta interfaz está en fase de pruebas beta, mientras agregamos más información de coordenadas a nuestra base de datos de búsqueda. ¡Vuelva a menudo para ver nuestro progreso!</p>
    </li>
  </ul>]]></Phrase>
      <Phrase Key="Faq_Point_Disabled_Html"><![CDATA[  <h1>Preguntas Frecuentes de Búsqueda en Mapa</h1>
  <ul>
    <li>¿Cómo busco?
      <p class="tagline">Para realizar una búsqueda, primero debe definir su área de interés y luego realizar la búsqueda. Para definir un área, haga clic en <i>Presione para Seleccionar Área</i> en el mapa. Luego haga clic en un punto de inicio en el mapa y luego haga clic en la esquina opuesta para crear un rectángulo. Al hacer clic en <i>Buscar</i> encima del mapa, obtendrá los resultados que coincidan con esa área.</p>
    </li>
    <li>Tengo dificultades para seleccionar un área
      <p class="tagline">Seleccionar un área rectangular para buscar es sencillo una vez que se entiende la técnica. Primero, seleccione el botón <i>Presione para Seleccionar Área</i> en el mapa. Luego, muévase a la esquina superior izquierda de la región que desea buscar y haga clic y suelte el botón izquierdo del ratón. Al mover el ratón, notará que se está dibujando un rectángulo que representa su región. Cuando haga clic y suelte el ratón nuevamente, definirá la esquina inferior derecha de la región a buscar. No presione el botón del ratón y arrastre el ratón, ya que esto arrastrará el mapa y no definirá una región para seleccionar. Una vez que su región esté correctamente identificada, presione el botón <i>Buscar</i> para ver los resultados coincidentes.</p>
    </li>
    <li>¿Por qué no puedo buscar por dirección o por un punto?
      <p class="tagline">Esta colección está compuesta principalmente por puntos, por lo que la búsqueda por área es mucho más efectiva que la búsqueda por punto.</p>
    </li>
    <li>¿Qué se está buscando?
      <p class="tagline">Los datos buscados dependen del tipo de material. Para los periódicos, se busca el lugar de publicación. Para los mapas, se busca la cobertura geográfica. Y para las fotografías, se busca el lugar donde se tomó la fotografía.</p>
    </li>
    <li>¿Por qué tan pocos resultados?
      <p class="tagline"> Esta interfaz está en fase de pruebas beta, mientras agregamos más información de coordenadas a nuestra base de datos de búsqueda. ¡Vuelva a menudo para ver nuestro progreso!</p>
    </li>
  </ul>]]></Phrase>
    </Section>

    <Section Name="Newspaper_Search">
      <Phrase Key="Full_Citation">Cita Completa</Phrase>
      <Phrase Key="Full_Text">Texto Completo</Phrase>
      <Phrase Key="Newspaper_Title">Título del Periódico</Phrase>
      <Phrase Key="Location">Ubicación</Phrase>
    </Section>

    <Section Name="Metadata_Browse">
      <Phrase Key="Browse_By">Explorar por</Phrase>
      <Phrase Key="Browse_By_Colon">EXPLORAR POR:</Phrase>
      <Phrase Key="Public_Browses">Exploraciones Públicas</Phrase>
      <Phrase Key="Browses">Exploraciones</Phrase>
      <Phrase Key="Select_Field_Prompt">Seleccione un campo de metadatos para explorar en la lista de la izquierda</Phrase>
      <Phrase Key="No_Matching_Values">NO HAY VALORES COINCIDENTES</Phrase>
    </Section>

    <Section Name="Tiles_Home">
      <Phrase Key="Varies">( varía )</Phrase>
    </Section>

    <Section Name="Thumbnails_Home">
      <Phrase Key="Collection_Items">Elementos de la colección</Phrase>
      <Phrase Key="Showing_Items_Out_Of">Mostrando 20 elementos de {0}</Phrase>
      <Phrase Key="View_All">Ver todo</Phrase>
    </Section>

    <Section Name="Usage_Statistics">
      <Phrase Key="Title_Collection_Views">Historial de Uso a Nivel de Colección</Phrase>
      <Phrase Key="Title_Item_Views">Historial de Uso de Elementos</Phrase>
      <Phrase Key="Title_Top_Titles">Títulos Más Accedidos</Phrase>
      <Phrase Key="Title_Top_Items">Elementos Más Accedidos</Phrase>
      <Phrase Key="Title_Definitions">Definiciones de Términos Utilizados</Phrase>

      <Phrase Key="Tab_Collection_Views">VISTAS DE COLECCIÓN</Phrase>
      <Phrase Key="Tab_Item_Views">VISTAS DE ELEMENTOS</Phrase>
      <Phrase Key="Tab_Top_Titles">TÍTULOS PRINCIPALES</Phrase>
      <Phrase Key="Tab_Top_Items">ELEMENTOS PRINCIPALES</Phrase>
      <Phrase Key="Tab_Definitions">DEFINICIONES</Phrase>

      <Phrase Key="Month_1">Enero</Phrase>
      <Phrase Key="Month_2">Febrero</Phrase>
      <Phrase Key="Month_3">Marzo</Phrase>
      <Phrase Key="Month_4">Abril</Phrase>
      <Phrase Key="Month_5">Mayo</Phrase>
      <Phrase Key="Month_6">Junio</Phrase>
      <Phrase Key="Month_7">Julio</Phrase>
      <Phrase Key="Month_8">Agosto</Phrase>
      <Phrase Key="Month_9">Septiembre</Phrase>
      <Phrase Key="Month_10">Octubre</Phrase>
      <Phrase Key="Month_11">Noviembre</Phrase>
      <Phrase Key="Month_12">Diciembre</Phrase>

      <Phrase Key="Collection_History_Intro">A continuación se muestra el historial de uso de esta colección. Este historial incluye únicamente las vistas de nivel superior de la colección.</Phrase>
      <Phrase Key="Item_History_Intro">A continuación se muestra el historial de uso de los elementos de esta colección.</Phrase>
      <Phrase Key="Items_By_Collection_Intro">A continuación aparecen los elementos más utilizados de esta colección.</Phrase>
      <Phrase Key="Titles_By_Collection_Intro">A continuación aparecen los títulos más utilizados por colección.</Phrase>
      <Phrase Key="Definitions_Link_Sentence"><![CDATA[La <a href="{0}">página de definiciones</a> ofrece más detalles sobre las estadísticas y los términos utilizados a continuación.]]></Phrase>

      <Phrase Key="Year_Statistics_Suffix"> ESTADÍSTICAS</Phrase>
      <Phrase Key="Total">TOTAL</Phrase>

      <Phrase Key="Date">FECHA</Phrase>
      <Phrase Key="Total_Views_Html"><![CDATA[TOTAL DE<br />VISTAS]]></Phrase>
      <Phrase Key="Visits">VISITAS</Phrase>
      <Phrase Key="Main_Pages_Html"><![CDATA[PÁGINAS<br />PRINCIPALES]]></Phrase>
      <Phrase Key="Browses">EXPLORACIONES</Phrase>
      <Phrase Key="Search_Results_Html"><![CDATA[RESULTADOS<br />DE BÚSQUEDA]]></Phrase>
      <Phrase Key="Title_Views_Html"><![CDATA[VISTAS DE<br />TÍTULOS]]></Phrase>
      <Phrase Key="Item_Views_Html"><![CDATA[VISTAS DE<br />ELEMENTOS]]></Phrase>

      <Phrase Key="Jpeg_Views_Html"><![CDATA[VISTAS<br />JPEG]]></Phrase>
      <Phrase Key="Zoomable_Views_Html"><![CDATA[VISTAS<br />AMPLIABLES]]></Phrase>
      <Phrase Key="Citation_Views_Html"><![CDATA[VISTAS DE<br />CITA]]></Phrase>
      <Phrase Key="Thumbnail_Views_Html"><![CDATA[VISTAS DE<br />MINIATURA]]></Phrase>
      <Phrase Key="Text_Searches_Html"><![CDATA[BÚSQUEDAS<br />DE TEXTO]]></Phrase>
      <Phrase Key="Flash_Views_Html"><![CDATA[VISTAS<br />FLASH]]></Phrase>
      <Phrase Key="Map_Views_Html"><![CDATA[VISTAS DE<br />MAPA]]></Phrase>
      <Phrase Key="Download_Views_Html"><![CDATA[DESCARGAS]]></Phrase>
      <Phrase Key="Static_Views_Html"><![CDATA[VISTAS<br />ESTÁTICAS]]></Phrase>

      <Phrase Key="Bibid">BIBID</Phrase>
      <Phrase Key="Vid">VID</Phrase>
      <Phrase Key="Title">TÍTULO</Phrase>
      <Phrase Key="Views">VISTAS</Phrase>

      <Phrase Key="Definitions_Html"><![CDATA[<p>Los siguientes términos se definen a continuación:</p>

<table width="600px" border="0" align="center">
  <tr>
    <td><a href="#Collection_Hierarchy">Jerarquía de Colecciones</a></td>
    <td><a href="#Collection_Groups">Grupos de Colecciones</a></td>
    <td><a href="#Collections">Colecciones</a></td>
  </tr>
  <tr>
    <td><a href="#SubCollections">Subcolecciones</a></td>
    <td><a href="#Views">Vistas</a></td>
    <td><a href="#Visits">Visitas</a></td>
  </tr>
  <tr>
    <td><a href="#Main_Pages">Páginas Principales</a></td>
    <td><a href="#Browses">Exploraciones</a></td>
    <td><a href="#Titles_Items">Títulos y Elementos</a></td>
  </tr>
  <tr>
    <td><a href="#Title_Views">Vistas de Títulos</a></td>
    <td><a href="#Item_Views">Vistas de Elementos</a></td>
    <td><a href="#Citation_Views">Vistas de Cita</a></td>
  </tr>
  <tr>
    <td><a href="#Text_Searches">Búsquedas de Texto</a></td>
    <td><a href="#Static_Views">Vistas Estáticas</a></td>
    <td>&nbsp;</td>
  </tr>
</table>

<h2>Términos Definidos</h2>

<a name="Collection_Hierarchy" ></a>
<h3>JERARQUÍA DE COLECCIONES</h3>
<p>Las colecciones se organizan por Grupos de Colecciones, que contienen Colecciones, y las Colecciones contienen Subcolecciones. Esta organización jerárquica permite búsquedas y exploraciones generales a nivel del Grupo de Colecciones, así como búsquedas más específicas a nivel de la Colección, para una usabilidad óptima según las diversas necesidades de los usuarios. <br /><br />
Al leer las estadísticas por Colección, las vistas y búsquedas realizadas desde la página principal y las páginas de Grupos de Colecciones no se encuentran dentro de las colecciones y, por lo tanto, no se incluyen en las estadísticas de la Colección.</p>

<a name="Collection_Groups" ></a>
<h3>GRUPOS DE COLECCIONES</h3>
<p>Los grupos de colecciones son agrupaciones de colecciones dentro de esta biblioteca. Los Grupos de Colecciones simplifican la búsqueda en múltiples Colecciones simultáneamente. Los Grupos de Colecciones también conectan materiales menos relacionados entre sí para aumentar la probabilidad de hallazgos fortuitos, donde los usuarios que buscan un tema pueden encontrar fácilmente algo relacionado y de gran utilidad que no habían considerado. Por ello, los Grupos de Colecciones generalmente se construyen por temática. <br /><br />
Como agregado, las vistas a nivel del Grupo de Colecciones no cuentan para ninguna Colección en particular y no se incluyen en las estadísticas basadas en Colecciones.</p>

<a name="Collections" ></a>
<h3>COLECCIONES</h3>
<p>Las colecciones son el principal método para definir y agrupar materiales relacionados, y son las estructuras jerárquicas más familiares para especialistas en la materia, socios y otros usuarios internos. Una sola Colección puede existir en varios Grupos de Colecciones, y una sola Colección puede tener muchas subcolecciones.  <br /><br />
Un elemento puede pertenecer a varias Colecciones, pero siempre se selecciona una Colección como principal, de modo que todas las vistas del elemento se registren dentro de una sola Colección. </p>

<a name="SubCollections" ></a>
<h3>SUBCOLECCIONES</h3>
<p>La unidad agrupada más pequeña es la Subcolección. Un solo elemento puede pertenecer a varias Subcolecciones dentro de la misma colección, o a varias Colecciones y a Subcolecciones dentro de cada Colección. <br /><br />
Dado que todos los elementos de las Subcolecciones tendrán una Colección principal, las estadísticas de uso de las Subcolecciones también se incluyen en las estadísticas de uso de la Colección. </p>

<a name="Views" ></a>
<h3>VISTAS</h3>
<p>Las vistas son los accesos reales a las páginas. Cada vez que una persona visita {0}, se cuenta como una vista. Las estadísticas de {0} se depuran para que se eliminen las vistas provenientes de robots, que los motores de búsqueda utilizan para indexar sitios web. Si no se eliminaran, las vistas en todas las colecciones y elementos serían mucho más altas. Las estadísticas de uso web siempre son algo falibles, y esta es una de las formas de garantizar estadísticas de uso de mejor calidad. <br /><br />
Algunas estadísticas web cuentan las "descargas de elementos de página" como vistas, lo cual es muy inexacto porque cada página tiene múltiples elementos. Por ejemplo, la página principal de la biblioteca digital, {0}, incluye el HTML de la página y todas las imágenes. Si las estadísticas contaran cada "descarga de elemento de página" como un acceso, cada visita a la página principal se contaría como más de 30 "descargas de elementos de página". Para complicar aún más las cosas, algunos repositorios digitales solo ofrecen descargas en PDF para que los usuarios vean los elementos. Esos repositorios digitales registran "descargas de elementos", que son las más equivalentes a nuestras estadísticas de uso por "elemento". </p>

<a name="Visits" ></a>
<h3>VISITAS</h3>
<p>Cada vez que una persona visita esta biblioteca digital, se cuenta como una vista, pero eso significa que un mismo usuario que visita el sitio repetidamente puede registrar un gran número de vistas. Las visitas ofrecen una mejor estadística de cuántos usuarios "únicos" diferentes están utilizando el sitio. Las visitas incluyen todas las vistas provenientes de una misma dirección IP (la dirección web del ordenador del usuario al conectarse) registradas en el archivo de registro web dentro de una hora.  <br /><br />
Esta también es una estadística falible, ya que las direcciones IP de los usuarios se reutilizan con frecuencia en las redes. Conectarse a una red inalámbrica gratuita significa que esa red asigna una dirección IP a su ordenador, y luego, cuando se desconecta, esa dirección IP se asignará al siguiente usuario que la necesite. Para un recurso basado en un campus con tantos usuarios que se conectan a través de la VPN o desde el campus, el margen de error aumenta en las estadísticas basadas en visitas. </p>

<a name="Main_Pages" ></a>
<h3>PÁGINAS PRINCIPALES</h3>
<p>Para cada uno de los elementos de la Jerarquía de Colecciones, las páginas principales son las páginas de inicio o de aterrizaje, las páginas de búsqueda, las páginas de contacto y cualquier otra página complementaria.  <br /><br />
Cuando los usuarios realizan una búsqueda a través de las páginas de la Colección y ven los resultados, esas páginas de resultados de búsqueda también se incluyen en las páginas principales. Una vez que un usuario hace clic en uno de los elementos de los resultados de búsqueda, ese elemento deja de ser una de las páginas principales. Las vistas de resultados de búsqueda en los modos de miniatura, tabla y breve se incluyen todas en las páginas principales de la Colección.</p>

<a name="Browses" ></a>
<h3>EXPLORACIONES</h3>
<p>Las exploraciones incluyen vistas contra exploraciones estándar, como <i>Todos los Elementos</i> y <i>Elementos Nuevos</i> (cuando están disponibles).  También incluyen todas las vistas de exploraciones no estándar.</p>

<a name="Search_Results" ></a>
<h3>RESULTADOS DE BÚSQUEDA</h3>
<p>Las vistas de resultados de búsqueda incluyen cada vista de una sección de resultados de búsqueda, incluyendo las búsquedas que no arrojaron resultados.</p>

<a name="Titles_Items" ></a>
<h3>TÍTULOS Y ELEMENTOS</h3>
<p>Los títulos corresponden a unidades bibliográficas individuales, como un libro o un periódico. Los elementos son los volúmenes dentro de los títulos. Así, un libro puede tener un título y un elemento, mientras que un periódico puede tener un título y miles de elementos.  <br /><br />
Los títulos con un solo elemento (o volumen) resultan funcionalmente equivalentes para los usuarios. Sin embargo, para elementos como los periódicos, un solo título puede corresponder a miles de elementos. <br /><br />
Los lectores de la documentación técnica y los usuarios internos identifican los títulos por su identificador bibliográfico (BIBID) y los elementos dentro de cada título por el BIBID más el identificador de volumen (VID).</p>

<a name="Title_Views" ></a>
<h3>VISTAS DE TÍTULOS</h3>
<p>Las vistas de títulos incluyen todas las vistas a nivel de título.</p>

<a name="Item_Views" ></a>
<h3>VISTAS DE ELEMENTOS</h3>
<p>Las vistas de elementos incluyen únicamente las vistas a nivel de elemento.</p>

<a name="Citation_Views" ></a>
<h3>VISTAS DE CITA</h3>
<p>Para cada elemento, la vista predeterminada se establece en el elemento de página (ampliable o estática, según la selección del usuario y la disponibilidad de cada una de las vistas para ese elemento). Todos los elementos también incluyen una "Vista de Cita" que no se selecciona de forma predeterminada. Las "Vistas de Cita" cuentan el número de veces que un usuario elige la "Vista de Cita" para un elemento.</p>

<a name="Text_Searches" ></a>
<h3>BÚSQUEDAS DE TEXTO</h3>
<p>Las búsquedas de texto son búsquedas a nivel de elemento dentro del texto de un solo documento.  Estas devuelven las páginas en las que aparece el término o los términos buscados.</p>

<a name="Static_Views" ></a>
<h3>VISTAS ESTÁTICAS</h3>
<p>Para cada elemento de esta biblioteca, se genera una página estática para que los motores de búsqueda la indexen.  Cuando un elemento aparece en los resultados de un motor de búsqueda estándar, el enlace redirige al usuario a la página estática.  Cualquier navegación adicional lleva al usuario a las páginas generadas dinámicamente dentro de esta biblioteca.  Se han hecho esfuerzos para eliminar de estas cifras todas las vistas provenientes de la indexación de motores de búsqueda.  Estas cifras representan el número de usuarios que ingresaron a esta biblioteca desde un motor de búsqueda.</p>]]></Phrase>
    </Section>

  </Localization>
</SobekCM_Config>
