<?xml version="1.0" encoding="utf-8" ?>
<SobekCM_Config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://sobekrepository.org/schemas/sobekcm_config"
	xsi:schemaLocation="http://sobekrepository.org/schemas/sobekcm_config
		http://sobekrepository.org/schemas/sobekcm_config.xsd">
  <Localization Language="nl">

    <Section Name="Home">
      <Phrase Key="Welcome_New_User_Format">Welkom bij mijn{0}, {1}</Phrase>
      <Phrase Key="Welcome_Back_Format">Welkom Terug, {0}</Phrase>
      <Phrase Key="Welcome_Intro_Format">Welkom bij {0}. Met deze functie kunt u items aan uw boekenplanken toevoegen, uw boekenplanken organiseren en per e-mail naar vrienden sturen.</Phrase>
      <Phrase Key="What_Would_You_Like">Wat wilt u vandaag doen?</Phrase>
      <Phrase Key="Upload_Existing_Oer">Een bestaande OER uploaden</Phrase>
      <Phrase Key="Create_New_Oer_Online">Nieuwe OER online maken (met Open Publishing)</Phrase>
      <Phrase Key="Upload_New_Item">Een nieuw item uploaden</Phrase>
      <Phrase Key="Add_New_Tei_Item">Een nieuw TEI-item toevoegen</Phrase>
      <Phrase Key="Submittals_Disabled">Online inzendingen zijn tijdelijk uitgeschakeld</Phrase>
      <Phrase Key="View_All_Submitted_Items">Al mijn ingediende items bekijken</Phrase>
      <Phrase Key="View_Usage_For_My_Items">Het gebruik van mijn items bekijken</Phrase>
      <Phrase Key="View_My_Descriptive_Tags">Mijn beschrijvende labels bekijken</Phrase>
      <Phrase Key="View_And_Organize_Bookshelves">Mijn boekenplanken bekijken en organiseren</Phrase>
      <Phrase Key="View_My_Saved_Searches">Mijn opgeslagen zoekopdrachten bekijken</Phrase>
      <Phrase Key="Edit_My_Preferences">Mijn accountvoorkeuren bewerken</Phrase>
      <Phrase Key="Track_Item_Scanning">Scannen/Verwerken van Items Volgen</Phrase>
      <Phrase Key="Return_To_Previous_Page_Format">Terug naar de vorige {0}-pagina</Phrase>
      <Phrase Key="Log_Out">Afmelden</Phrase>
      <Phrase Key="Contact_Us_Link_Text">neem contact met ons op</Phrase>
      <Phrase Key="Comments_Recommendations_Format">Opmerkingen of aanbevelingen? {0}.</Phrase>
      <Phrase Key="Contribute_Materials_Format">Als u materialen wilt bijdragen via het online systeem, kunt u ook {0}.</Phrase>
    </Section>

    <Section Name="Saved_Searches">
      <Phrase Key="Page_Title">Mijn Opgeslagen Zoekopdrachten</Phrase>
      <Phrase Key="Actions_Header">ACTIES</Phrase>
      <Phrase Key="Saved_Search_Header">OPGESLAGEN ZOEKOPDRACHT</Phrase>
      <Phrase Key="Delete_Link_Title">Klik om deze opgeslagen zoekopdracht te verwijderen</Phrase>
      <Phrase Key="Delete_Link_Text">verwijderen</Phrase>
      <Phrase Key="View_Link_Title">Klik om deze zoekopdracht te bekijken</Phrase>
      <Phrase Key="View_Link_Text">bekijken</Phrase>
      <Phrase Key="No_Saved_Searches_Html">U heeft geen opgeslagen zoekopdrachten of bladeracties.&lt;br /&gt;&lt;br /&gt;Om een zoekopdracht of bladeractie toe te voegen, gebruikt u de knop TOEVOEGEN terwijl u de resultaten van uw zoekopdracht of bladeractie bekijkt.</Phrase>
    </Section>

    <Section Name="Logon">
      <Phrase Key="Default_Disabled_Message">Algemene aanmelding bij dit systeem is tijdelijk uitgeschakeld.</Phrase>
      <Phrase Key="Invalid_Credentials">Ongeldige gebruikersnaam/wachtwoord ingevoerd</Phrase>
      <Phrase Key="Page_Title_Format">Aanmelden bij Mijn{0}</Phrase>
      <Phrase Key="Heading_Format">Aanmelden bij {0}</Phrase>
      <Phrase Key="Feature_Requires_Logon">De functie waartoe u probeert toegang te krijgen vereist een geldige aanmelding.</Phrase>
      <Phrase Key="Choose_Logon_Below">Kies hieronder de juiste aanmeldoptie.</Phrase>
      <Phrase Key="Dloc_Valid_Logon_Text">Als u een geldige myDLOC-aanmelding heeft</Phrase>
      <Phrase Key="Dloc_Sign_On_Text">Aanmelden met myDLOC-authenticatie</Phrase>
      <Phrase Key="Shibboleth_Valid_Id_Format">Als u een geldige {0}-ID heeft</Phrase>
      <Phrase Key="Shibboleth_Sign_On_Format">Meld u hier aan met uw {0}</Phrase>
      <Phrase Key="Instance_Valid_Logon_Format">Als u een geldige mijn{0}-aanmelding heeft</Phrase>
      <Phrase Key="Instance_Sign_On_Format">Meld u hier aan met mijn{0}-authenticatie</Phrase>
      <Phrase Key="Federated_Valid_Account_Format">Als u een geldig {0}-account heeft</Phrase>
      <Phrase Key="Federated_Sign_In_Format">Meld u aan met {0}</Phrase>
      <Phrase Key="Not_Registered_Yet">Nog niet geregistreerd?</Phrase>
      <Phrase Key="Register_Now">Nu registreren</Phrase>
      <Phrase Key="Contact_Us">Neem contact met ons op</Phrase>
      <Phrase Key="Popup_Title_Log_In">AANMELDEN</Phrase>
      <Phrase Key="Username_Or_Email_Label">Gebruikersnaam of e-mail:</Phrase>
      <Phrase Key="Password_Label">Wachtwoord:</Phrase>
      <Phrase Key="Remember_Me">Onthoud mij</Phrase>
      <Phrase Key="Close_Button_Title">Sluiten</Phrase>
      <Phrase Key="Cancel_Button_Text">ANNULEREN</Phrase>
      <Phrase Key="Login_Button_Title">Aanmelden</Phrase>
      <Phrase Key="Login_Button_Text">AANMELDEN</Phrase>
      <Phrase Key="Popup_Not_Registered_Format">Nog niet geregistreerd? {0}.</Phrase>
      <Phrase Key="Popup_Forgot_Password_Format">Gebruikersnaam of wachtwoord vergeten? {0}.</Phrase>
      <Phrase Key="Popup_Contact_Us_Link_Text">neem contact met ons op</Phrase>
    </Section>

    <Section Name="OpenNJ_Register">
      <Phrase Key="Account_Info">Accountinformatie</Phrase>
      <Phrase Key="Username_Label">Gebruikersnaam</Phrase>
      <Phrase Key="Personal_Info">Persoonlijke Informatie</Phrase>
      <Phrase Key="Family_Names_Label">Achterna(a)m(en)</Phrase>
      <Phrase Key="Given_Names_Label">Voorna(a)m(en)</Phrase>
      <Phrase Key="Nickname_Label">Bijnaam</Phrase>
      <Phrase Key="Email_Label">E-mail</Phrase>
      <Phrase Key="Email_Stats_Label">Stuur mij maandelijkse gebruiksstatistieken voor mijn items</Phrase>
      <Phrase Key="Affiliation_Info">Huidige Affiliatie-informatie</Phrase>
      <Phrase Key="Organization_Label">Instelling</Phrase>
      <Phrase Key="Password_Label">Wachtwoord</Phrase>
      <Phrase Key="Confirm_Password_Label">Wachtwoord Bevestigen</Phrase>
      <Phrase Key="Username_Required">Gebruikersnaam is een verplicht veld</Phrase>
      <Phrase Key="Username_Min_Length">Gebruikersnaam moet uit ten minste acht tekens bestaan</Phrase>
      <Phrase Key="Select_Confirm_Password">Selecteer en bevestig een wachtwoord</Phrase>
      <Phrase Key="Passwords_Do_Not_Match">Wachtwoorden komen niet overeen</Phrase>
      <Phrase Key="Password_Min_Length">Wachtwoord moet uit ten minste acht tekens bestaan</Phrase>
      <Phrase Key="Select_Instructor_Status">Geef aan of u wel of geen instructeur bent</Phrase>
      <Phrase Key="Instructor_Institution_Required">Als instructeur is instelling een verplicht veld</Phrase>
      <Phrase Key="Ufid_Length">UFID's bestaan altijd uit acht cijfers</Phrase>
      <Phrase Key="Ufid_Numeric">UFID's zijn altijd numeriek</Phrase>
      <Phrase Key="Family_Name_Required">Achternaam is een verplicht veld</Phrase>
      <Phrase Key="Given_Name_Required">Voornaam is een verplicht veld</Phrase>
      <Phrase Key="Valid_Email_Required">Een geldig e-mailadres is vereist</Phrase>
      <Phrase Key="Rights_Truncated">Rechtenverklaring afgekapt tot 1000 tekens.</Phrase>
      <Phrase Key="Email_Already_Exists">Er bestaat al een account voor dat e-mailadres.</Phrase>
      <Phrase Key="Username_Taken">Die gebruikersnaam is al in gebruik. Kies een andere.</Phrase>
      <Phrase Key="Register_Page_Title_Format">Registreren bij Mijn{0}</Phrase>
      <Phrase Key="Edit_Preferences_Page_Title">Uw Accountvoorkeuren Bewerken</Phrase>
      <Phrase Key="Registration_Intro_Format">Registratie bij {0} is gratis en openbaar toegankelijk. Voer hieronder uw gegevens in om direct geregistreerd te worden.</Phrase>
      <Phrase Key="Account_Required_Note">Accountinformatie, naam en e-mail zijn verplicht voor elk nieuw account.</Phrase>
      <Phrase Key="Already_Registered_Format">Al geregistreerd? {0}.</Phrase>
      <Phrase Key="Log_On_Link_Text">Aanmelden</Phrase>
      <Phrase Key="Errors_Detected_Header">De volgende fouten zijn gedetecteerd:</Phrase>
      <Phrase Key="Account_Type_Header">Accounttype</Phrase>
      <Phrase Key="Instructor_Question">Bent u instructeur? Laat het ons hieronder weten voor toegang tot beperkt cursusmateriaal.</Phrase>
      <Phrase Key="I_Am_Instructor">Ik ben instructeur</Phrase>
      <Phrase Key="I_Am_Not_Instructor">Ik ben GEEN instructeur</Phrase>
      <Phrase Key="Submit_Materials_Instructions">Klik hieronder op de optie om materialen in te dienen. Om de online open-publishing-tools in Open-NJ te gebruiken, moet u worden goedgekeurd als instructeur en om materialen in te dienen.</Phrase>
      <Phrase Key="Allow_Submit_Label">Ik zou graag materialen online willen kunnen indienen.</Phrase>
      <Phrase Key="Application_Reviewed_Notice">Zodra uw aanvraag is beoordeeld en goedgekeurd, ontvangt u een e-mailmelding.</Phrase>
      <Phrase Key="Username_Hint">(minimaal acht tekens)</Phrase>
      <Phrase Key="Password_Hint">(minimaal acht tekens, anders dan gebruikersnaam)</Phrase>
      <Phrase Key="Institutional_Email_Hint">(voer uw institutionele e-mailadres in)</Phrase>
      <Phrase Key="Cancel_Button">ANNULEREN</Phrase>
      <Phrase Key="Submit_Button">VERZENDEN</Phrase>
    </Section>

    <Section Name="Preferences">
      <Phrase Key="Account_Info">Accountinformatie</Phrase>
      <Phrase Key="Username_Label">Gebruikersnaam</Phrase>
      <Phrase Key="Personal_Info">Persoonlijke Informatie</Phrase>
      <Phrase Key="Family_Names_Label">Achterna(a)m(en)</Phrase>
      <Phrase Key="Given_Names_Label">Voorna(a)m(en)</Phrase>
      <Phrase Key="Nickname_Label">Bijnaam</Phrase>
      <Phrase Key="Email_Label">E-mail</Phrase>
      <Phrase Key="Email_Stats_Label">Stuur mij maandelijkse gebruiksstatistieken voor mijn items</Phrase>
      <Phrase Key="Affiliation_Info">Huidige Affiliatie-informatie</Phrase>
      <Phrase Key="Organization_Label">Organisatie/Universiteit</Phrase>
      <Phrase Key="College_Label">Faculteit</Phrase>
      <Phrase Key="Department_Label">Afdeling</Phrase>
      <Phrase Key="Unit_Label">Eenheid</Phrase>
      <Phrase Key="Self_Submittal_Pref_Label">Voorkeuren voor Zelf Indienen</Phrase>
      <Phrase Key="Send_Email_Label">Stuur mij een e-mail wanneer ik nieuwe items indien</Phrase>
      <Phrase Key="Template_Label">Sjabloon</Phrase>
      <Phrase Key="Project_Label">Standaardmetadata</Phrase>
      <Phrase Key="Default_Rights_Label">Standaardrechten</Phrase>
      <Phrase Key="Rights_Explanation_Label">(Dit zijn de standaardrechten die u aan andere gebruikers geeft om uw item te delen, opnieuw te gebruiken of te bewerken. U kunt dit instellen bij elk nieuw item dat u indient, maar dit is de standaard die wordt weergegeven.)</Phrase>
      <Phrase Key="Rights_Instruction_Label"><![CDATA[U kunt hieronder ook een <a title="Uitleg van de verschillende Creative Commons-licenties." href="http://creativecommons.org/about/licenses/">Creative Commons-licentie</a> selecteren.]]></Phrase>
      <Phrase Key="Other_Preferences_Label">Overige Voorkeuren</Phrase>
      <Phrase Key="Language_Label">Taal</Phrase>
      <Phrase Key="Password_Label">Wachtwoord</Phrase>
      <Phrase Key="Confirm_Password_Label">Wachtwoord Bevestigen</Phrase>
      <Phrase Key="Username_Required">Gebruikersnaam is een verplicht veld</Phrase>
      <Phrase Key="Username_Min_Length">Gebruikersnaam moet uit ten minste acht tekens bestaan</Phrase>
      <Phrase Key="Select_Confirm_Password">Selecteer en bevestig een wachtwoord</Phrase>
      <Phrase Key="Passwords_Do_Not_Match">Wachtwoorden komen niet overeen</Phrase>
      <Phrase Key="Password_Min_Length">Wachtwoord moet uit ten minste acht tekens bestaan</Phrase>
      <Phrase Key="Ufid_Length">UFID's bestaan altijd uit acht cijfers</Phrase>
      <Phrase Key="Ufid_Numeric">UFID's zijn altijd numeriek</Phrase>
      <Phrase Key="Family_Name_Required">Achternaam is een verplicht veld</Phrase>
      <Phrase Key="Given_Name_Required">Voornaam is een verplicht veld</Phrase>
      <Phrase Key="Valid_Email_Required">Een geldig e-mailadres is vereist</Phrase>
      <Phrase Key="Rights_Truncated">Rechtenverklaring afgekapt tot 1000 tekens.</Phrase>
      <Phrase Key="Email_Already_Exists">Er bestaat al een account voor dat e-mailadres.</Phrase>
      <Phrase Key="Username_Taken">Die gebruikersnaam is al in gebruik. Kies een andere.</Phrase>
      <Phrase Key="Register_Page_Title_Format">Registreren bij Mijn{0}</Phrase>
      <Phrase Key="Edit_Preferences_Page_Title">Uw Accountvoorkeuren Bewerken</Phrase>
      <Phrase Key="Registration_Intro_Format">Registratie bij {0} is gratis en openbaar toegankelijk. Voer hieronder uw gegevens in om direct geregistreerd te worden.</Phrase>
      <Phrase Key="Account_Required_Note">Accountinformatie, naam en e-mail zijn verplicht voor elk nieuw account.</Phrase>
      <Phrase Key="Already_Registered_Format">Al geregistreerd? {0}.</Phrase>
      <Phrase Key="Log_On_Link_Text">Aanmelden</Phrase>
      <Phrase Key="Errors_Detected_Header">De volgende fouten zijn gedetecteerd:</Phrase>
      <Phrase Key="Username_Hint">(minimaal acht tekens)</Phrase>
      <Phrase Key="Password_Hint">(minimaal acht tekens, anders dan gebruikersnaam)</Phrase>
      <Phrase Key="Gatorlink_Hint">(biedt optioneel toegang via Gatorlink)</Phrase>
      <Phrase Key="Allow_Submit_With_Notice_Label">Ik zou graag materialen online willen kunnen indienen. (Zodra uw aanvraag om in te dienen is goedgekeurd, ontvangt u een e-mailmelding)</Phrase>
      <Phrase Key="Cancel_Button">ANNULEREN</Phrase>
      <Phrase Key="Submit_Button">VERZENDEN</Phrase>
    </Section>

    <Section Name="Folder_Mgmt">
      <Phrase Key="Page_Title">Mijn Bibliotheek</Phrase>
      <Phrase Key="Manage_Library_Tooltip">Mijn bibliotheek beheren</Phrase>
      <Phrase Key="Manage_Library_Link_Text">Mijn Bibliotheek (Mijn boekenplanken beheren)</Phrase>
      <Phrase Key="View_Collections_Home_Tooltip">Startpagina van mijn collecties bekijken</Phrase>
      <Phrase Key="My_Collections_Home_Text">Startpagina van Mijn Collecties</Phrase>
      <Phrase Key="View_Saved_Searches_Tooltip">Mijn opgeslagen zoekopdrachten bekijken</Phrase>
      <Phrase Key="My_Saved_Searches_Text">Mijn Opgeslagen Zoekopdrachten</Phrase>
      <Phrase Key="Public_Folder_Tooltip">Openbare boekenplank</Phrase>
      <Phrase Key="Private_Folder_Tooltip">Privé boekenplank</Phrase>
      <Phrase Key="Bookshelf_Empty_Message">Deze boekenplank is momenteel leeg</Phrase>
      <Phrase Key="Manage_Bookshelves_Heading">Mijn Boekenplanken Beheren</Phrase>
      <Phrase Key="Add_New_Bookshelf_Tooltip">Klik om een nieuwe boekenplank toe te voegen</Phrase>
      <Phrase Key="Add_New_Bookshelf_Text">Nieuwe Boekenplank Toevoegen</Phrase>
      <Phrase Key="Refresh_Bookshelf_Tooltip">Lijst met boekenplanken vernieuwen</Phrase>
      <Phrase Key="Refresh_Bookshelves_Text">Boekenplanken Vernieuwen</Phrase>
      <Phrase Key="Actions_Header">ACTIES</Phrase>
      <Phrase Key="Bookshelf_Name_Header">NAAM VAN DE BOEKENPLANK</Phrase>
      <Phrase Key="Delete_Bookshelf_Tooltip">Klik om deze boekenplank te verwijderen</Phrase>
      <Phrase Key="Delete_Link_Text">verwijderen</Phrase>
      <Phrase Key="Cannot_Delete_Last_Alert">U kunt uw laatste boekenplank niet verwijderen</Phrase>
      <Phrase Key="Cannot_Delete_Nested_Alert">U kunt geen boekenplanken verwijderen die andere boekenplanken bevatten</Phrase>
      <Phrase Key="Make_Private_Tooltip">Maak deze boekenplank privé</Phrase>
      <Phrase Key="Make_Private_Text">privé maken</Phrase>
      <Phrase Key="Make_Public_Tooltip">Maak deze boekenplank openbaar</Phrase>
      <Phrase Key="Make_Public_Text">openbaar maken</Phrase>
      <Phrase Key="Manage_Bookshelf_Tooltip">Klik om deze boekenplank te beheren</Phrase>
      <Phrase Key="Manage_Link_Text">beheren</Phrase>
      <Phrase Key="Email_Popup_Title">STUUR DIT ITEM NAAR EEN VRIEND</Phrase>
      <Phrase Key="Email_Popup_Legend">Voer hieronder de e-mailinformatie in &amp;nbsp; </Phrase>
      <Phrase Key="To_Label">Aan:</Phrase>
      <Phrase Key="Comments_Label">Opmerkingen:</Phrase>
      <Phrase Key="Format_Label">Formaat:</Phrase>
      <Phrase Key="Html_Format_Label">HTML</Phrase>
      <Phrase Key="Plain_Text_Format_Label">Platte Tekst</Phrase>
      <Phrase Key="Cancel_Button">ANNULEREN</Phrase>
      <Phrase Key="Send_Button">VERZENDEN</Phrase>
      <Phrase Key="Save_Button">OPSLAAN</Phrase>
      <Phrase Key="Move_Popup_Title_Html"><![CDATA[I<span class="smaller">TEM VERPLAATSEN TUSSEN</span> B<span class="smaller">OEKENPLANKEN</span>]]></Phrase>
      <Phrase Key="Move_Popup_Legend">Selecteer een nieuwe boekenplank voor dit item</Phrase>
      <Phrase Key="Bookshelf_Label">Boekenplank:</Phrase>
      <Phrase Key="Edit_Notes_Popup_Title_Html"><![CDATA[N<span class="smaller">OTITIES VOOR</span> B<span class="smaller">OEKENPLANK</span>-I<span class="smaller">TEM</span> T<span class="smaller">OEVOEGEN/</span>B<span class="smaller">EWERKEN</span>]]></Phrase>
      <Phrase Key="Edit_Notes_Popup_Legend">Voer notities in voor dit item in uw boekenplank &amp;nbsp; </Phrase>
      <Phrase Key="Notes_Label">Notities:</Phrase>
      <Phrase Key="New_Bookshelf_Popup_Title_Html"><![CDATA[N<span class="smaller">IEUWE</span> B<span class="smaller">OEKENPLANK</span>]]></Phrase>
      <Phrase Key="New_Bookshelf_Popup_Legend">Voer de gegevens in voor uw nieuwe boekenplank</Phrase>
      <Phrase Key="Name_Label">Naam:</Phrase>
      <Phrase Key="Parent_Label">Bovenliggende Plank:</Phrase>
      <Phrase Key="No_Parent_Option">(geen)</Phrase>
    </Section>

  </Localization>
</SobekCM_Config>
