<?xml version="1.0" encoding="utf-8" ?>
<SobekCM_Config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://sobekrepository.org/schemas/sobekcm_config"
	xsi:schemaLocation="http://sobekrepository.org/schemas/sobekcm_config
		http://sobekrepository.org/schemas/sobekcm_config.xsd">
  <Localization Language="de">

    <Section Name="HeaderFooter">
      <Phrase Key="Home_Suffix_Format">{0} Startseite</Phrase>
      <Phrase Key="Staff_Login">Mitarbeiteranmeldung</Phrase>
      <Phrase Key="Log_Out">Abmelden</Phrase>
      <Phrase Key="My_Account_Possessive_Format">{1} von {0}</Phrase>
    </Section>

    <Section Name="MainMenus">
      <Phrase Key="Aggregation_Menu_Aria">Sammlungsmenü</Phrase>
      <Phrase Key="Search_Results_Menu_Aria">Suchergebnismenü</Phrase>
      <Phrase Key="User_Menu_Aria">Benutzermenü</Phrase>
      <Phrase Key="Home">STARTSEITE</Phrase>
      <Phrase Key="Collection_Home_Format">{0} STARTSEITE</Phrase>
      <Phrase Key="Sobek_Home_Format">{0} STARTSEITE</Phrase>
      <Phrase Key="My_Sobek_Home_Format"><![CDATA[<span style="text-transform:lowercase">mein</span>{0} Startseite]]></Phrase>
      <Phrase Key="View_Items">ARTIKEL ANZEIGEN</Phrase>
      <Phrase Key="View_All_Items">ALLE ARTIKEL</Phrase>
      <Phrase Key="View_New_Items">NEUE ARTIKEL</Phrase>
      <Phrase Key="My_Collections">MEINE SAMMLUNGEN</Phrase>
      <Phrase Key="Browse_Partners">PARTNER DURCHSUCHEN</Phrase>
      <Phrase Key="Browse_By">DURCHSUCHEN NACH</Phrase>
      <Phrase Key="Map_Browse">Kartenansicht</Phrase>
      <Phrase Key="List_View">Listenansicht</Phrase>
      <Phrase Key="Brief_View">Kurzansicht</Phrase>
      <Phrase Key="Tree_View">Baumansicht</Phrase>
      <Phrase Key="Other_Searches">Suchoptionen</Phrase>
      <Phrase Key="Print_Action">Drucken</Phrase>
      <Phrase Key="Send_Action">Senden</Phrase>
      <Phrase Key="Save_Action">Speichern</Phrase>
      <Phrase Key="Share_Action">Teilen</Phrase>
      <Phrase Key="My_Library">Meine Bibliothek</Phrase>
      <Phrase Key="My_Account">Mein Konto</Phrase>
      <Phrase Key="Internal">Intern</Phrase>
      <Phrase Key="System_Admin">Systemadministrator</Phrase>
      <Phrase Key="Portal_Admin">Portaladministrator</Phrase>
      <Phrase Key="User_Admin">Benutzeradministrator</Phrase>
      <Phrase Key="Advanced_Search">Erweiterte Suche</Phrase>
      <Phrase Key="Collection_List">Sammlungsliste</Phrase>
      <Phrase Key="Collection_Hierarchy">Sammlungshierarchie</Phrase>
      <Phrase Key="New_Items">Neue Artikel</Phrase>
      <Phrase Key="Memory_Management">Speicherverwaltung</Phrase>
      <Phrase Key="Wordmarks">Wortmarken</Phrase>
      <Phrase Key="Build_Failures">Build-Fehler</Phrase>
      <Phrase Key="Start_New_Item">Neuen Artikel beginnen</Phrase>
      <Phrase Key="View_Submitted_Items">Meine eingereichten Artikel anzeigen</Phrase>
      <Phrase Key="View_Item_Usage">Nutzung meiner Artikel anzeigen</Phrase>
      <Phrase Key="View_Descriptive_Tags">Meine beschreibenden Schlagwörter anzeigen</Phrase>
      <Phrase Key="View_Bookshelves">Meine Bücherregale anzeigen</Phrase>
      <Phrase Key="View_Saved_Searches">Meine gespeicherten Suchen anzeigen</Phrase>
      <Phrase Key="Account_Preferences">Kontoeinstellungen</Phrase>
      <Phrase Key="Log_Out">Abmelden</Phrase>
      <Phrase Key="Common_Tasks">Häufige Aufgaben</Phrase>
      <Phrase Key="Add_Collection_Wizard">Assistent zum Hinzufügen einer Sammlung</Phrase>
      <Phrase Key="Edit_Current_Web_Skin">Aktuelles Web-Design bearbeiten</Phrase>
      <Phrase Key="Users_And_Groups">Benutzer und Gruppen</Phrase>
      <Phrase Key="Appearance">Erscheinungsbild</Phrase>
      <Phrase Key="Url_Portals">URL-Portale</Phrase>
      <Phrase Key="Web_Skins">Web-Designs</Phrase>
      <Phrase Key="Collections">Sammlungen</Phrase>
      <Phrase Key="Aggregation_Aliases">Sammlungs-Aliase</Phrase>
      <Phrase Key="Aggregation_Management">Sammlungsverwaltung</Phrase>
      <Phrase Key="Thematic_Headings">Thematische Überschriften</Phrase>
      <Phrase Key="Items">Artikel</Phrase>
      <Phrase Key="Default_Metadata">Standard-Metadaten</Phrase>
      <Phrase Key="Wordmarks_Icons">Wortmarken / Symbole</Phrase>
      <Phrase Key="Builder_Status">Build-Status</Phrase>
      <Phrase Key="Settings">Einstellungen</Phrase>
      <Phrase Key="Ip_Restriction_Ranges">IP-Beschränkungsbereiche</Phrase>
      <Phrase Key="System_Wide_Settings">Systemweite Einstellungen</Phrase>
      <Phrase Key="Reset_Cache">Cache zurücksetzen</Phrase>
      <Phrase Key="Users_And_Permissions">Benutzer &amp; Berechtigungen</Phrase>
      <Phrase Key="User_Permissions_Reports">Berichte zu Benutzerberechtigungen</Phrase>
      <Phrase Key="Users_Requests">Benutzeranfragen</Phrase>
      <Phrase Key="Web_Content_Pages">Webinhaltsseiten</Phrase>
      <Phrase Key="Manage_Web_Content_Pages">Webinhaltsseiten verwalten</Phrase>
      <Phrase Key="Web_Content_Recent_Updates">Letzte Aktualisierungen der Webinhalte</Phrase>
      <Phrase Key="Web_Content_Usage_Reports">Nutzungsberichte für Webinhalte</Phrase>
      <Phrase Key="Extensions">Erweiterungen</Phrase>
      <Phrase Key="Manage_Tei_Plugin">TEI-Plug-in verwalten</Phrase>
    </Section>

  </Localization>
</SobekCM_Config>
