<?xml version="1.0" encoding="utf-8" ?>
<SobekCM_Config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://sobekrepository.org/schemas/sobekcm_config"
	xsi:schemaLocation="http://sobekrepository.org/schemas/sobekcm_config
		http://sobekrepository.org/schemas/sobekcm_config.xsd">
  <Localization Language="en">

    <Section Name="Aggregation_Common">
      <Phrase Key="Go"><![CDATA[Go]]></Phrase>
      <Phrase Key="Search_Collection"><![CDATA[Search Collection]]></Phrase>
      <Phrase Key="Include_Non_Public_Items"><![CDATA[Include non-public items]]></Phrase>
      <Phrase Key="Limit_By_Year"><![CDATA[Limit by Year]]></Phrase>
      <Phrase Key="Show_Only_Media"><![CDATA[Show only records with images or other media]]></Phrase>
      <Phrase Key="Through"><![CDATA[through]]></Phrase>
      <Phrase Key="Include_Full_Text"><![CDATA[Include the document text in search]]></Phrase>
      <Phrase Key="Search_All_Collections"><![CDATA[Search All Collections]]></Phrase>
      <Phrase Key="Home"><![CDATA[Home]]></Phrase>
      <Phrase Key="Quick_Tips_Html"><![CDATA[<div id="sbk_QuickTips">
  <h1>Quick Tips</h1>
  <ul>
    <li>Boolean Searching
      <p class="tagline"> Use <b>+</b> or <i><b>and</b></i> between terms to find records with <b>all</b> the terms.<br />
      Use <b>-</b> or <i><b>or</b></i> between terms to find records with <b>any</b> of the terms.<br />
      Use <b>!</b> or <i><b>and not</b></i> between terms to exclude records with terms.<br />
      If nothing is indicated, <b><i>and</i></b> is the default.<br />
      EXAMPLE: natural and not history
      </p>
    </li>
    <li>Phrase Searching
      <p class="tagline"> Placing quotes around a phrase will search for the exact phrase.<br />
      EXAMPLE: &quot;natural history&quot;</p>
    </li>
    <li>Capitalization
      <p class="tagline"> Searches are not capitalization sensitive.<br />
      EXAMPLE: Searching for <i>NATURAL</i> will return the same results as searching for <i>natural</i></p>
    </li>
    <li>Diacritics
      <p class="tagline"> To search for words with diacritics, the character must be entered into the search box.<br />
      EXAMPLE: Searching <i>Précédent</i> is a different search than <i>Precedent</i></p>
    </li>
  </ul>
</div>
<br />]]></Phrase>
    </Section>

    <Section Name="Advanced_Search">
      <Phrase Key="Search_For"><![CDATA[Search for:]]></Phrase>
      <Phrase Key="In"><![CDATA[in]]></Phrase>
      <Phrase Key="Search"><![CDATA[Search]]></Phrase>
      <Phrase Key="Search_Options"><![CDATA[Search Options]]></Phrase>
      <Phrase Key="Precision"><![CDATA[Precision]]></Phrase>
      <Phrase Key="Contains_Exactly"><![CDATA[Contains exactly the search terms]]></Phrase>
      <Phrase Key="Contains_Any_Form"><![CDATA[Contains any form of the search terms]]></Phrase>
      <Phrase Key="Contains_Meaning"><![CDATA[Contains the search term or terms of similar meaning]]></Phrase>
      <Phrase Key="And"><![CDATA[and]]></Phrase>
      <Phrase Key="Or"><![CDATA[or]]></Phrase>
      <Phrase Key="And_Not"><![CDATA[and not]]></Phrase>
    </Section>

    <Section Name="Item_Count">
      <Phrase Key="Resource_Count_In_Collection"><![CDATA[Resource Count in Collection]]></Phrase>
      <Phrase Key="Description"><![CDATA[Below is the number of titles and items for all items within this aggregation, including currently online items as well as items in process.]]></Phrase>
      <Phrase Key="Visibility"><![CDATA[VISIBILITY]]></Phrase>
      <Phrase Key="Title_Count"><![CDATA[TITLE COUNT]]></Phrase>
      <Phrase Key="Item_Count"><![CDATA[ITEM COUNT]]></Phrase>
      <Phrase Key="Page_Count"><![CDATA[PAGE COUNT]]></Phrase>
      <Phrase Key="File_Count"><![CDATA[FILE COUNT]]></Phrase>
    </Section>

    <Section Name="Full_Text_Search">
      <Phrase Key="Search_Full_Text"><![CDATA[Search full text]]></Phrase>
    </Section>

    <Section Name="DLOC_Search">
      <Phrase Key="Include_Newspapers"><![CDATA[Include newspapers?]]></Phrase>
    </Section>

    <Section Name="Map_Common">
      <Phrase Key="Google_Maps_Not_Enabled_Html"><![CDATA[<p style="font-weight:bold; text-size:1.1em">ERROR: Google Maps are not enabled on this instance of SobekCM!</p>
<p>To enable them, please create a Google Map API key and enter it in the system-wide settings.</p>
<p>Information on this process can be found here: <a href="http://sobekrepository.org/software/config/googlemaps">http://sobekrepository.org/software/config/googlemaps</a>.</p>]]></Phrase>
    </Section>

    <Section Name="Map_Browse">
      <Phrase Key="Select_Point_Instructions_Html"><![CDATA[Select a point below to view the items from or about that location.<br />Press the SHIFT button, and then drag a box on the map to zoom in.]]></Phrase>
      <Phrase Key="Faq_Html"><![CDATA[  <h1>Frequently Asked Questions</h1>
  <ul>
    <li>What are the points on the map?
      <p class="tagline"> The points on the map correspond to material in this collection.  In general, the dot represents the source of the material.  For newspapers, the dot is the place of publication or the audience served by the newspaper title.  For photographs, this usually corresponds to the location the photograph was taken, which is usually the same as the subject matter.</p>
    </li>
    <li>How can I tell which titles are linked to each point?
      <p class="tagline"> An informational window will appear when you select any of the points on the map.  This window includes thumbnails and links to each item.  For more information about all the titles, you can select the link at the bottom of the window.</p>
    </li>
    <li>Can I search from this map?
      <p class="tagline"> To perform a search, use the MAP SEARCH function found under its own tab.</p>
    </li>
    <li>Some points do not appear to be over any particular building or location?
      <p class="tagline"> Many times the center point of a city is used but many times a specific landmark may be tagged.  If the point does not appear to be over any landmark, it is probably just the town center.</p>
    </li>
  </ul>]]></Phrase>
      <Phrase Key="More_Info_Single_Title"><![CDATA[Click here for more information about this title]]></Phrase>
      <Phrase Key="More_Info_Multiple_Titles"><![CDATA[Click here for more information about these {0} titles]]></Phrase>
    </Section>

    <Section Name="Map_Search">
      <Phrase Key="Find_Address"><![CDATA[Find Address]]></Phrase>
      <Phrase Key="Address"><![CDATA[Address]]></Phrase>
      <Phrase Key="Locate"><![CDATA[Locate]]></Phrase>
      <Phrase Key="Point_Disabled_Instructions_Html"><![CDATA[<span style="line-height:160%"> &nbsp; &nbsp; 1. Use the <i>Select Area</i> button and click to select opposite corners to draw a search box on the map &nbsp; &nbsp; <br /> &nbsp; &nbsp; 2. Press the <i>Search</i> button to see results &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; ( <a href="#FAQ">more help</a> )</span>]]></Phrase>
      <Phrase Key="Instructions_Html"><![CDATA[<div class="sbkMsav_InstructionsLink" id="MapInstructionsLink" style="display:block" >
  <a href="" onclick="return show_map_instructions();">Click here to view instructions for this search interface</a>
</div>
<div class="sbkMsav_Instructions" id="MapInstructions" style="display:none" >
  <table>
    <tr><td colspan="2">1. Use one of the methods below to define your geographic search:</td></tr>
    <tr><td style="width:50px;">&nbsp;</td><td>a. Enter an address and press <i>Find Address</i> to locate, <i>or</i></td></tr>
    <tr><td>&nbsp;</td><td>b. Press the <i>Select Area</i> button and click to select two opposite corners, <i>or</i></td></tr>
    <tr><td>&nbsp;</td><td>c. Press the <i>Select Point</i> button and click to select a single point</td></tr>
    <tr><td colspan="2">2. Press the <i>Search</i> button to see results &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; ( <a href="#FAQ">more help</a> )</td></tr>
  </table>
</div>]]></Phrase>
      <Phrase Key="Faq_Point_Enabled_Html"><![CDATA[  <h1>Map Search FAQ</h1>
  <ul>
    <li>How do I search?
      <p class="tagline">To perform a search, you first need to define your area or point of interest and then perform the search.  There are several ways to define your area of interest.  You can either enter an address to search or you can draw either a region or point on the map.  Once you have defined your search, click the <i>Search</i> button to discover any matches to that location.</p>
      <p class="tagline">To search for addresses, type in an address and click on the <i>Find Address</i> button.   You may also use major landmark names, although addresses may work better.  Be sure to include the city and state in your search as well.   Once the address is located on the map, click <i>Search</i> to discover aerials which include that location. </p>
      <p class="tagline">To search by map, click either <i>Press to Select Area</i> or <i>Press to Select Point</i> on the map.  When using Select Area, click on a starting point on the map and then click on the opposite corner to create a rectangle.  By clicking on <i>Search</i> above the map, you will retrieve matches for that area.  With Select Point, choose a specific location and click on Search.</p>
    </li>
    <li>I am having difficulty selecting an area
      <p class="tagline">Selecting a rectangular area to search is simple once you understand the technique.  First, select the <i>Press to Select Area</i> button on the map.  Then, move to the top left corner of the region you wish to search and click and release the left mouse button.  As you move the mouse now you will notice a rectangle is being drawn which represents your region.  When you click and release the mouse again, you define the lower right corner of the region to search.  Do not press the mouse button and drag the mouse, as this will drag the map around, and will not define a region to select.  Once your region is correctly identified, press the <i>Search</i> button to view matching results.</p>
    </li>
    <li>I am having difficulty searching by address
      <p class="tagline">Be sure to enter the complete address, including state and country.  You can also try to use the name of a major landmark, but using an address often works better.  Once you enter the address or major landmark name, press the <i>Find Address</i> button.  Look at the map and verify that the location found on the map matches your desired search.  Then, press the <i>Search</i> button to view matching results.</p>
    </li>
    <li>What is being searched?
      <p class="tagline">The data searched depends upon the material type.  For newspapers, the place of publication is searched.  For maps, the geographic coverage is searched.  And for photographs, the location the photograph was taken is searched.</p>
    </li>
    <li>Why so few hits?
      <p class="tagline"> This interface is in beta testing, as we add more coordinate information to our database to search.  Check back often to see our progress!</p>
    </li>
  </ul>]]></Phrase>
      <Phrase Key="Faq_Point_Disabled_Html"><![CDATA[  <h1>Map Search FAQ</h1>
  <ul>
    <li>How do I search?
      <p class="tagline">To perform a search, you first need to define your area of interest and then perform the search.  To define an area, click <i>Press to Select Area</i> on the map.  Then click on a starting point on the map and then click on the opposite corner to create a rectangle.  By clicking on <i>Search</i> above the map, you will retrieve matches for that area.</p>
    </li>
    <li>I am having difficulty selecting an area
      <p class="tagline">Selecting a rectangular area to search is simple once you understand the technique.  First, select the <i>Press to Select Area</i> button on the map.  Then, move to the top left corner of the region you wish to search and click and release the left mouse button.  As you move the mouse now you will notice a rectangle is being drawn which represents your region.  When you click and release the mouse again, you define the lower right corner of the region to search.  Do not press the mouse button and drag the mouse, as this will drag the map around, and will not define a region to select.  Once your region is correctly identified, press the <i>Search</i> button to view matching results.</p>
    </li>
    <li>Why can't I search by address or by a point?
      <p class="tagline">This collection is composed primarily of points, so area searching is much more effective than point searching.</p>
    </li>
    <li>What is being searched?
      <p class="tagline">The data searched depends upon the material type.  For newspapers, the place of publication is searched.  For maps, the geographic coverage is searched.  And for photographs, the location the photograph was taken is searched.</p>
    </li>
    <li>Why so few hits?
      <p class="tagline"> This interface is in beta testing, as we add more coordinate information to our database to search.  Check back often to see our progress!</p>
    </li>
  </ul>]]></Phrase>
    </Section>

    <Section Name="Newspaper_Search">
      <Phrase Key="Full_Citation"><![CDATA[Full Citation]]></Phrase>
      <Phrase Key="Full_Text"><![CDATA[Full Text]]></Phrase>
      <Phrase Key="Newspaper_Title"><![CDATA[Newspaper Title]]></Phrase>
      <Phrase Key="Location"><![CDATA[Location]]></Phrase>
    </Section>

    <Section Name="Metadata_Browse">
      <Phrase Key="Browse_By"><![CDATA[Browse by]]></Phrase>
      <Phrase Key="Browse_By_Colon"><![CDATA[BROWSE BY:]]></Phrase>
      <Phrase Key="Public_Browses"><![CDATA[Public Browses]]></Phrase>
      <Phrase Key="Browses"><![CDATA[Browses]]></Phrase>
      <Phrase Key="Select_Field_Prompt"><![CDATA[Select a metadata field to browse by from the list on the left]]></Phrase>
      <Phrase Key="No_Matching_Values"><![CDATA[NO MATCHING VALUES]]></Phrase>
    </Section>

    <Section Name="Tiles_Home">
      <Phrase Key="Varies"><![CDATA[( varies )]]></Phrase>
    </Section>

    <Section Name="Thumbnails_Home">
      <Phrase Key="Collection_Items"><![CDATA[Collection Items]]></Phrase>
      <Phrase Key="Showing_Items_Out_Of"><![CDATA[Showing 20 items out of {0}]]></Phrase>
      <Phrase Key="View_All"><![CDATA[View all]]></Phrase>
    </Section>

    <Section Name="Usage_Statistics">
      <Phrase Key="Title_Collection_Views"><![CDATA[History of Collection-Level Usage]]></Phrase>
      <Phrase Key="Title_Item_Views"><![CDATA[History of Item Usage]]></Phrase>
      <Phrase Key="Title_Top_Titles"><![CDATA[Most Accessed Titles]]></Phrase>
      <Phrase Key="Title_Top_Items"><![CDATA[Most Accessed Items]]></Phrase>
      <Phrase Key="Title_Definitions"><![CDATA[Definitions of Terms Used]]></Phrase>

      <Phrase Key="Tab_Collection_Views"><![CDATA[COLLECTION VIEWS]]></Phrase>
      <Phrase Key="Tab_Item_Views"><![CDATA[ITEM VIEWS]]></Phrase>
      <Phrase Key="Tab_Top_Titles"><![CDATA[TOP TITLES]]></Phrase>
      <Phrase Key="Tab_Top_Items"><![CDATA[TOP ITEMS]]></Phrase>
      <Phrase Key="Tab_Definitions"><![CDATA[DEFINITIONS]]></Phrase>

      <Phrase Key="Month_1"><![CDATA[January]]></Phrase>
      <Phrase Key="Month_2"><![CDATA[February]]></Phrase>
      <Phrase Key="Month_3"><![CDATA[March]]></Phrase>
      <Phrase Key="Month_4"><![CDATA[April]]></Phrase>
      <Phrase Key="Month_5"><![CDATA[May]]></Phrase>
      <Phrase Key="Month_6"><![CDATA[June]]></Phrase>
      <Phrase Key="Month_7"><![CDATA[July]]></Phrase>
      <Phrase Key="Month_8"><![CDATA[August]]></Phrase>
      <Phrase Key="Month_9"><![CDATA[September]]></Phrase>
      <Phrase Key="Month_10"><![CDATA[October]]></Phrase>
      <Phrase Key="Month_11"><![CDATA[November]]></Phrase>
      <Phrase Key="Month_12"><![CDATA[December]]></Phrase>

      <Phrase Key="Collection_History_Intro"><![CDATA[Usage history for this collection is displayed below. This history includes just the top-level views of the collection.]]></Phrase>
      <Phrase Key="Item_History_Intro"><![CDATA[Usage history for the items within this collection are displayed below.]]></Phrase>
      <Phrase Key="Items_By_Collection_Intro"><![CDATA[The most commonly utilized items for this collection appear below.]]></Phrase>
      <Phrase Key="Titles_By_Collection_Intro"><![CDATA[The most commonly utilized titles by collection appear below.]]></Phrase>
      <Phrase Key="Definitions_Link_Sentence"><![CDATA[The <a href="{0}">Definitions page</a> provides more details about the statistics and words used below.]]></Phrase>

      <Phrase Key="Year_Statistics_Suffix"><![CDATA[ STATISTICS]]></Phrase>
      <Phrase Key="Total"><![CDATA[TOTAL]]></Phrase>

      <Phrase Key="Date"><![CDATA[DATE]]></Phrase>
      <Phrase Key="Total_Views_Html"><![CDATA[TOTAL<br />VIEWS]]></Phrase>
      <Phrase Key="Visits"><![CDATA[VISITS]]></Phrase>
      <Phrase Key="Main_Pages_Html"><![CDATA[MAIN <br />PAGES]]></Phrase>
      <Phrase Key="Browses"><![CDATA[BROWSES]]></Phrase>
      <Phrase Key="Search_Results_Html"><![CDATA[SEARCH<br />RESULTS]]></Phrase>
      <Phrase Key="Title_Views_Html"><![CDATA[TITLE<br />VIEWS]]></Phrase>
      <Phrase Key="Item_Views_Html"><![CDATA[ITEM<br />VIEWS]]></Phrase>

      <Phrase Key="Jpeg_Views_Html"><![CDATA[JPEG<br />VIEWS]]></Phrase>
      <Phrase Key="Zoomable_Views_Html"><![CDATA[ZOOMABLE<br />VIEWS]]></Phrase>
      <Phrase Key="Citation_Views_Html"><![CDATA[CITATION<br />VIEWS]]></Phrase>
      <Phrase Key="Thumbnail_Views_Html"><![CDATA[THUMBNAIL<br />VIEWS]]></Phrase>
      <Phrase Key="Text_Searches_Html"><![CDATA[TEXT<br />SEARCHES]]></Phrase>
      <Phrase Key="Flash_Views_Html"><![CDATA[FLASH<br />VIEWS]]></Phrase>
      <Phrase Key="Map_Views_Html"><![CDATA[MAP<br />VIEWS]]></Phrase>
      <Phrase Key="Download_Views_Html"><![CDATA[DOWNLOAD<br />VIEWS]]></Phrase>
      <Phrase Key="Static_Views_Html"><![CDATA[STATIC<br />VIEWS]]></Phrase>

      <Phrase Key="Bibid"><![CDATA[BIBID]]></Phrase>
      <Phrase Key="Vid"><![CDATA[VID]]></Phrase>
      <Phrase Key="Title"><![CDATA[TITLE]]></Phrase>
      <Phrase Key="Views"><![CDATA[VIEWS]]></Phrase>

      <Phrase Key="Definitions_Html"><![CDATA[<p>The following terms are defined below:</p>

<table width="600px" border="0" align="center">
  <tr>
    <td><a href="#Collection_Hierarchy">Collection Hierarchy</a></td>
    <td><a href="#Collection_Groups">Collection Groups</a></td>
    <td><a href="#Collections">Collections</a></td>
  </tr>
  <tr>
    <td><a href="#SubCollections">SubCollections</a></td>
    <td><a href="#Views">Views</a></td>
    <td><a href="#Visits">Visits</a></td>
  </tr>
  <tr>
    <td><a href="#Main_Pages">Main Pages</a></td>
    <td><a href="#Browses">Browses</a></td>
    <td><a href="#Titles_Items">Titles and Items</a></td>
  </tr>
  <tr>
    <td><a href="#Title_Views">Title Views</a></td>
    <td><a href="#Item_Views">Item Views</a></td>
    <td><a href="#Citation_Views">Citation Views</a></td>
  </tr>
  <tr>
    <td><a href="#Text_Searches">Text Searches</a></td>
    <td><a href="#Static_Views">Static Views</a></td>
    <td>&nbsp;</td>
  </tr>
</table>

<h2>Defined Terms</h2>

<a name="Collection_Hierarchy" ></a>
<h3>COLLECTION HIERARCHY</h3>
<p>Collections are organized by Collection Groups, which contain Collections and Collections contain Subcollections. This hierarchical organization allows for general searches and browses at the Collection Group level and for granular searches at the Collection level for optimum usability for multiple user needs. <br /><br />
In reading the statistics by Collection, views and searches done from the main page and the Collection Group pages are not within collections and so are not included in the Collection statistics.</p>

<a name="Collection_Groups" ></a>
<h3>COLLECTION GROUPS</h3>
<p>Collection groups are aggregations of collections in this library. The Collection Groups simplify searching across multiple Collections simultaneously. Collection Groups also connect less tightly related materials to increase the likelihood for serendipity, where users may be searching for one topic and may easily stumble across something related and critically useful that they had not considered. Thus, Collection Groups are usually constructed topically. <br /><br />
As an aggregate, views at the Collection Group level do not count toward any particular Collection and are not included in the Collection based statistics.</p>

<a name="Collections" ></a>
<h3>COLLECTIONS</h3>
<p>Collections are the main method for defining and collecting related materials and are the most familiar hierarchical structures for subject specialists, partners, and other internal users. A single Collection can exist in several Collection Groups, and a single Collection can have many subcollections.  <br /><br />
A single item may be in several Collections, but one Collection is always selected as primary so all item views will be within a single Collection. </p>

<a name="SubCollections" ></a>
<h3>SUBCOLLECTIONS</h3>
<p>The smallest collected unit is the Subcollection. A single item can belong to several Subcollections under the same collection, or to multiple Collections and to Subcollections within each Collection. <br /><br />
Because all Subcollection items will have a primary Collection, the usage statistics for Subcollections are also included in the Collection usage statistics. </p>

<a name="Views" ></a>
<h3>VIEWS</h3>
<p>Views are the actual page hits. Each time a person goes to {0} it counts as a view. The {0} statistics are cleaned so that views from robots, which search engines use to index websites, are removed. If they were not removed, the views on all collections and items would be much higher. Web usage statistics are always somewhat fallible, and this is one of the means for ensuring better quality usage statistics. <br /><br />
Some web statistics count &quot;page item downloads&quot; as views, which is highly inaccurate because each page has multiple items on it. For instance, the digital library main page, {0}, includes the page HTML and all of the images. If the statistics counted each "page item download" as a hit, each single view to the main page would be counted as over 30 "page item downloads." To make matters more confusing, some digital repositories only offer PDF downloads for users to view items. Those digital repositories track &quot;item downloads&quot; and those are most equivalent to our statistics for usage by &quot;item.&quot; </p>

<a name="Visits" ></a>
<h3>VISITS</h3>
<p>Each time a person goes to this digital library it counts as a view, but that means a single user going to the site repeatedly can log a large number of views. Visits provide a better statistic for how many different "unique" users are using the site. Visits include all views from a particular IP address (the user's computer web address when connected) as recorded in the web log file within an hour.  <br /><br />
This is also a fallible statistic since users' IP addresses are frequently reused on networks.  Connecting to free wireless means that network gives your computer an IP address, and then when you disconnect that IP address will be given to the next user who needs it. For a campus based resource with so many on campus users connecting through the VPN or from on campus, the margin for error increases for visit-based statistics. </p>

<a name="Main_Pages" ></a>
<h3>MAIN PAGES</h3>
<p>For each of the elements in the Collection Hierarchy, the main pages are the home or landing pages, the search pages, the contact pages, and any other supplemental pages.  <br /><br />
When users conduct a search through the Collection pages and view the results, those search result pages are also included in the main pages. Once a user clicks on one of the items in the search results, that item is not one of the main pages. The views for search results by thumbnail, table, and brief modes are all included in the main pages for the Collection.</p>

<a name="Browses" ></a>
<h3>BROWSES</h3>
<p>Browses include views against standard browses, such as <i>All Items</i> and <i>New Items</i> (when available).  It also includes all views of non-standard browses.</p>

<a name="Search_Results" ></a>
<h3>SEARCH RESULTS</h3>
<p>Search result views includes every view of a section of search results, and includes searches which returned zero results.</p>

<a name="Titles_Items" ></a>
<h3>TITLES & ITEMS</h3>
<p>Titles are for single bibliographic units, like a book or a newspaper. Items are the volumes within titles. Thus, one book may have one title and one item where one newspaper may have one title and thousands of items.  <br /><br />
Titles with only one item (or volume) appear functionally equivalent to users. However for items like newspapers, a single title may correspond to thousands of items. <br /><br />
Readers of the technical documentation and internal users know titles by their bibliographic identifier (BIBID) and items within each title by the BIBID plus the volume identifier (VID).</p>

<a name="Title_Views" ></a>
<h3>TITLE VIEWS</h3>
<p>Title views include all views at the title level.</p>

<a name="Item_Views" ></a>
<h3>ITEM VIEWS</h3>
<p>Item views include views at the item level only.</p>

<a name="Citation_Views" ></a>
<h3>CITATION VIEWS</h3>
<p>For each item, the default view is set to the page item (zoomable or static based on user selection and the availability of each of the views for that item). All items also include a "Citation View" that is not selected by default. The "Citation Views" counts the number of times a user chooses the "Citation View" for an item.</p>

<a name="Text_Searches" ></a>
<h3>TEXT SEARCHES</h3>
<p>Text searches are item-level searches within the text of a single document.  This returns the pages upon which the term or terms appear.</p>

<a name="Static_Views" ></a>
<h3>STATIC VIEWS</h3>
<p>For each item in this library, a static page is generated for search engines to index.  When an item appears in the search results in a standard search engine, the link forwards the user to the static page.  Any additional navigation moves the user into the dynamically generated pages within this library.  Attempts have been made to remove all the search engine indexing views from these numbers.  These numbers represent the number of users that entered this library from a search engine.</p>]]></Phrase>
    </Section>

  </Localization>
</SobekCM_Config>
