<?xml version="1.0" encoding="utf-8" ?>
<SobekCM_Config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://sobekrepository.org/schemas/sobekcm_config"
	xsi:schemaLocation="http://sobekrepository.org/schemas/sobekcm_config
		http://sobekrepository.org/schemas/sobekcm_config.xsd">
  <Localization Language="it">

    <Section Name="Aggregation_Common">
      <Phrase Key="Go">Vai</Phrase>
      <Phrase Key="Search_Collection">Cerca nella raccolta</Phrase>
      <Phrase Key="Include_Non_Public_Items">Includi elementi non pubblici</Phrase>
      <Phrase Key="Limit_By_Year">Limita per anno</Phrase>
      <Phrase Key="Show_Only_Media">Mostra solo record con immagini o altri contenuti multimediali</Phrase>
      <Phrase Key="Through">a</Phrase>
      <Phrase Key="Include_Full_Text">Includi il testo del documento nella ricerca</Phrase>
      <Phrase Key="Search_All_Collections">Cerca in tutte le raccolte</Phrase>
      <Phrase Key="Home">Home</Phrase>
      <Phrase Key="Quick_Tips_Html"><![CDATA[<div id="sbk_QuickTips">
  <h1>Suggerimenti rapidi</h1>
  <ul>
    <li>Ricerca booleana
      <p class="tagline"> Usa <b>+</b> o <i><b>e</b></i> tra i termini per trovare record con <b>tutti</b> i termini.<br />
      Usa <b>-</b> o <i><b>o</b></i> tra i termini per trovare record con <b>uno qualsiasi</b> dei termini.<br />
      Usa <b>!</b> o <i><b>e non</b></i> tra i termini per escludere record con tali termini.<br />
      Se non viene indicato nulla, <b><i>e</i></b> è l'impostazione predefinita.<br />
      ESEMPIO: naturale e non storia
      </p>
    </li>
    <li>Ricerca di Frasi
      <p class="tagline"> Racchiudere una frase tra virgolette effettuerà la ricerca della frase esatta.<br />
      ESEMPIO: &quot;storia naturale&quot;</p>
    </li>
    <li>Maiuscole e Minuscole
      <p class="tagline"> Le ricerche non fanno distinzione tra maiuscole e minuscole.<br />
      ESEMPIO: La ricerca di <i>NATURALE</i> restituirà gli stessi risultati della ricerca di <i>naturale</i></p>
    </li>
    <li>Segni Diacritici
      <p class="tagline"> Per cercare parole con segni diacritici, il carattere deve essere inserito nella casella di ricerca.<br />
      ESEMPIO: La ricerca di <i>Précédent</i> è diversa dalla ricerca di <i>Precedent</i></p>
    </li>
  </ul>
</div>
<br />]]></Phrase>
    </Section>

    <Section Name="Advanced_Search">
      <Phrase Key="Search_For">Cerca:</Phrase>
      <Phrase Key="In">in</Phrase>
      <Phrase Key="Search">Cerca</Phrase>
      <Phrase Key="Search_Options">Opzioni di Ricerca</Phrase>
      <Phrase Key="Precision">Precisione</Phrase>
      <Phrase Key="Contains_Exactly">Contiene esattamente i termini di ricerca</Phrase>
      <Phrase Key="Contains_Any_Form">Contiene qualsiasi forma dei termini di ricerca</Phrase>
      <Phrase Key="Contains_Meaning">Contiene il termine di ricerca o termini di significato simile</Phrase>
      <Phrase Key="And">e</Phrase>
      <Phrase Key="Or">o</Phrase>
      <Phrase Key="And_Not">e non</Phrase>
    </Section>

    <Section Name="Item_Count">
      <Phrase Key="Resource_Count_In_Collection">Numero di risorse nella raccolta</Phrase>
      <Phrase Key="Description">Di seguito è riportato il numero di titoli ed elementi per tutti gli elementi all'interno di questa raccolta, inclusi gli elementi attualmente disponibili online e quelli in fase di elaborazione.</Phrase>
      <Phrase Key="Visibility">VISIBILITÀ</Phrase>
      <Phrase Key="Title_Count">NUMERO DI TITOLI</Phrase>
      <Phrase Key="Item_Count">NUMERO DI ELEMENTI</Phrase>
      <Phrase Key="Page_Count">NUMERO DI PAGINE</Phrase>
      <Phrase Key="File_Count">NUMERO DI FILE</Phrase>
    </Section>

    <Section Name="Full_Text_Search">
      <Phrase Key="Search_Full_Text">Cerca nel testo completo</Phrase>
    </Section>

    <Section Name="DLOC_Search">
      <Phrase Key="Include_Newspapers">Includere i giornali?</Phrase>
    </Section>

    <Section Name="Map_Common">
      <Phrase Key="Google_Maps_Not_Enabled_Html"><![CDATA[<p style="font-weight:bold; text-size:1.1em">ERRORE: Google Maps non è abilitato su questa istanza di SobekCM!</p>
<p>Per abilitarlo, crea una chiave API di Google Maps e inseriscila nelle impostazioni generali del sistema.</p>
<p>Le informazioni su questa procedura sono disponibili qui: <a href="http://sobekrepository.org/software/config/googlemaps">http://sobekrepository.org/software/config/googlemaps</a>.</p>]]></Phrase>
    </Section>

    <Section Name="Map_Browse">
      <Phrase Key="Select_Point_Instructions_Html"><![CDATA[Seleziona un punto qui sotto per visualizzare gli elementi provenienti da quella posizione o relativi ad essa.<br />Tieni premuto il tasto MAIUSC, quindi trascina un rettangolo sulla mappa per ingrandire.]]></Phrase>
      <Phrase Key="Faq_Html"><![CDATA[  <h1>Domande Frequenti</h1>
  <ul>
    <li>Cosa rappresentano i punti sulla mappa?
      <p class="tagline"> I punti sulla mappa corrispondono a materiale presente in questa raccolta. In genere, il punto rappresenta l'origine del materiale. Per i giornali, il punto è il luogo di pubblicazione o il pubblico servito dal titolo del giornale. Per le fotografie, questo generalmente corrisponde al luogo in cui è stata scattata la fotografia, che di solito coincide con il soggetto.</p>
    </li>
    <li>Come posso sapere quali titoli sono collegati a ciascun punto?
      <p class="tagline"> Verrà visualizzata una finestra informativa quando selezioni uno qualsiasi dei punti sulla mappa. Questa finestra include miniature e collegamenti a ciascun elemento. Per ulteriori informazioni su tutti i titoli, puoi selezionare il collegamento nella parte inferiore della finestra.</p>
    </li>
    <li>Posso effettuare una ricerca da questa mappa?
      <p class="tagline"> Per effettuare una ricerca, utilizza la funzione RICERCA SULLA MAPPA disponibile nella sua scheda dedicata.</p>
    </li>
    <li>Alcuni punti non sembrano trovarsi sopra un particolare edificio o luogo?
      <p class="tagline"> Spesso viene utilizzato il punto centrale di una città, ma a volte può essere contrassegnato un punto di riferimento specifico. Se il punto non sembra trovarsi sopra alcun punto di riferimento, probabilmente si tratta semplicemente del centro città.</p>
    </li>
  </ul>]]></Phrase>
      <Phrase Key="More_Info_Single_Title">Clicca qui per maggiori informazioni su questo titolo</Phrase>
      <Phrase Key="More_Info_Multiple_Titles">Clicca qui per maggiori informazioni su questi {0} titoli</Phrase>
    </Section>

    <Section Name="Map_Search">
      <Phrase Key="Find_Address">Trova Indirizzo</Phrase>
      <Phrase Key="Address">Indirizzo</Phrase>
      <Phrase Key="Locate">Individua</Phrase>
      <Phrase Key="Point_Disabled_Instructions_Html"><![CDATA[<span style="line-height:160%"> &nbsp; &nbsp; 1. Usa il pulsante <i>Seleziona Area</i> e clicca per selezionare gli angoli opposti per disegnare un rettangolo di ricerca sulla mappa &nbsp; &nbsp; <br /> &nbsp; &nbsp; 2. Premi il pulsante <i>Cerca</i> per vedere i risultati &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; ( <a href="#FAQ">maggiore assistenza</a> )</span>]]></Phrase>
      <Phrase Key="Instructions_Html"><![CDATA[<div class="sbkMsav_InstructionsLink" id="MapInstructionsLink" style="display:block" >
  <a href="" onclick="return show_map_instructions();">Clicca qui per visualizzare le istruzioni per questa interfaccia di ricerca</a>
</div>
<div class="sbkMsav_Instructions" id="MapInstructions" style="display:none" >
  <table>
    <tr><td colspan="2">1. Usa uno dei metodi seguenti per definire la tua ricerca geografica:</td></tr>
    <tr><td style="width:50px;">&nbsp;</td><td>a. Inserisci un indirizzo e premi <i>Trova Indirizzo</i> per individuarlo, <i>oppure</i></td></tr>
    <tr><td>&nbsp;</td><td>b. Premi il pulsante <i>Seleziona Area</i> e clicca per selezionare due angoli opposti, <i>oppure</i></td></tr>
    <tr><td>&nbsp;</td><td>c. Premi il pulsante <i>Seleziona Punto</i> e clicca per selezionare un singolo punto</td></tr>
    <tr><td colspan="2">2. Premi il pulsante <i>Cerca</i> per vedere i risultati &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; ( <a href="#FAQ">maggiore assistenza</a> )</td></tr>
  </table>
</div>]]></Phrase>
      <Phrase Key="Faq_Point_Enabled_Html"><![CDATA[  <h1>FAQ sulla Ricerca sulla Mappa</h1>
  <ul>
    <li>Come faccio a cercare?
      <p class="tagline">Per effettuare una ricerca, devi prima definire la tua area o punto di interesse e poi eseguire la ricerca. Ci sono diversi modi per definire la tua area di interesse. Puoi inserire un indirizzo da cercare oppure disegnare una regione o un punto sulla mappa. Una volta definita la ricerca, clicca sul pulsante <i>Cerca</i> per scoprire eventuali corrispondenze con quella posizione.</p>
      <p class="tagline">Per cercare indirizzi, digita un indirizzo e clicca sul pulsante <i>Trova Indirizzo</i>. Puoi anche usare nomi di punti di riferimento importanti, anche se gli indirizzi funzionano generalmente meglio. Assicurati di includere anche la città e la provincia/stato nella tua ricerca. Una volta individuato l'indirizzo sulla mappa, clicca su <i>Cerca</i> per scoprire le vedute aeree che includono quella posizione. </p>
      <p class="tagline">Per cercare tramite mappa, clicca su <i>Clicca per Selezionare un'Area</i> oppure <i>Clicca per Selezionare un Punto</i> sulla mappa. Quando utilizzi Seleziona Area, clicca su un punto di partenza sulla mappa e poi clicca sull'angolo opposto per creare un rettangolo. Cliccando su <i>Cerca</i> sopra la mappa, otterrai i risultati corrispondenti a quell'area. Con Seleziona Punto, scegli una posizione specifica e clicca su Cerca.</p>
    </li>
    <li>Ho difficoltà a selezionare un'area
      <p class="tagline">Selezionare un'area rettangolare da cercare è semplice una volta compresa la tecnica. Innanzitutto, seleziona il pulsante <i>Clicca per Selezionare un'Area</i> sulla mappa. Quindi, spostati nell'angolo superiore sinistro della regione che desideri cercare e clicca e rilascia il pulsante sinistro del mouse. Muovendo ora il mouse, noterai che viene disegnato un rettangolo che rappresenta la tua regione. Quando clicchi e rilasci nuovamente il mouse, definisci l'angolo inferiore destro della regione da cercare. Non tenere premuto il pulsante del mouse trascinandolo, poiché ciò sposterà la mappa e non definirà una regione da selezionare. Una volta identificata correttamente la tua regione, premi il pulsante <i>Cerca</i> per visualizzare i risultati corrispondenti.</p>
    </li>
    <li>Ho difficoltà a cercare per indirizzo
      <p class="tagline">Assicurati di inserire l'indirizzo completo, inclusi provincia/stato e paese. Puoi anche provare a usare il nome di un punto di riferimento importante, ma l'utilizzo di un indirizzo spesso funziona meglio. Una volta inserito l'indirizzo o il nome del punto di riferimento importante, premi il pulsante <i>Trova Indirizzo</i>. Osserva la mappa e verifica che la posizione trovata sulla mappa corrisponda alla ricerca desiderata. Quindi, premi il pulsante <i>Cerca</i> per visualizzare i risultati corrispondenti.</p>
    </li>
    <li>Cosa viene cercato?
      <p class="tagline">I dati cercati dipendono dal tipo di materiale. Per i giornali, viene cercato il luogo di pubblicazione. Per le mappe, viene cercata la copertura geografica. E per le fotografie, viene cercato il luogo in cui è stata scattata la fotografia.</p>
    </li>
    <li>Perché così pochi risultati?
      <p class="tagline"> Questa interfaccia è in fase di test beta, mentre aggiungiamo ulteriori informazioni sulle coordinate al nostro database di ricerca. Torna spesso per seguire i nostri progressi!</p>
    </li>
  </ul>]]></Phrase>
      <Phrase Key="Faq_Point_Disabled_Html"><![CDATA[  <h1>FAQ sulla Ricerca sulla Mappa</h1>
  <ul>
    <li>Come faccio a cercare?
      <p class="tagline">Per effettuare una ricerca, devi prima definire la tua area di interesse e poi eseguire la ricerca. Per definire un'area, clicca su <i>Clicca per Selezionare un'Area</i> sulla mappa. Quindi clicca su un punto di partenza sulla mappa e poi clicca sull'angolo opposto per creare un rettangolo. Cliccando su <i>Cerca</i> sopra la mappa, otterrai i risultati corrispondenti a quell'area.</p>
    </li>
    <li>Ho difficoltà a selezionare un'area
      <p class="tagline">Selezionare un'area rettangolare da cercare è semplice una volta compresa la tecnica. Innanzitutto, seleziona il pulsante <i>Clicca per Selezionare un'Area</i> sulla mappa. Quindi, spostati nell'angolo superiore sinistro della regione che desideri cercare e clicca e rilascia il pulsante sinistro del mouse. Muovendo ora il mouse, noterai che viene disegnato un rettangolo che rappresenta la tua regione. Quando clicchi e rilasci nuovamente il mouse, definisci l'angolo inferiore destro della regione da cercare. Non tenere premuto il pulsante del mouse trascinandolo, poiché ciò sposterà la mappa e non definirà una regione da selezionare. Una volta identificata correttamente la tua regione, premi il pulsante <i>Cerca</i> per visualizzare i risultati corrispondenti.</p>
    </li>
    <li>Perché non posso cercare per indirizzo o per punto?
      <p class="tagline">Questa raccolta è composta principalmente da punti, quindi la ricerca per area è molto più efficace della ricerca per punto.</p>
    </li>
    <li>Cosa viene cercato?
      <p class="tagline">I dati cercati dipendono dal tipo di materiale. Per i giornali, viene cercato il luogo di pubblicazione. Per le mappe, viene cercata la copertura geografica. E per le fotografie, viene cercato il luogo in cui è stata scattata la fotografia.</p>
    </li>
    <li>Perché così pochi risultati?
      <p class="tagline"> Questa interfaccia è in fase di test beta, mentre aggiungiamo ulteriori informazioni sulle coordinate al nostro database di ricerca. Torna spesso per seguire i nostri progressi!</p>
    </li>
  </ul>]]></Phrase>
    </Section>

    <Section Name="Newspaper_Search">
      <Phrase Key="Full_Citation">Citazione Completa</Phrase>
      <Phrase Key="Full_Text">Testo Completo</Phrase>
      <Phrase Key="Newspaper_Title">Titolo del Giornale</Phrase>
      <Phrase Key="Location">Ubicazione</Phrase>
    </Section>

    <Section Name="Metadata_Browse">
      <Phrase Key="Browse_By">Sfoglia per</Phrase>
      <Phrase Key="Browse_By_Colon">SFOGLIA PER:</Phrase>
      <Phrase Key="Public_Browses">Sfogliature Pubbliche</Phrase>
      <Phrase Key="Browses">Sfogliature</Phrase>
      <Phrase Key="Select_Field_Prompt">Seleziona un campo di metadati da sfogliare nell'elenco a sinistra</Phrase>
      <Phrase Key="No_Matching_Values">NESSUN VALORE CORRISPONDENTE</Phrase>
    </Section>

    <Section Name="Tiles_Home">
      <Phrase Key="Varies">( varia )</Phrase>
    </Section>

    <Section Name="Thumbnails_Home">
      <Phrase Key="Collection_Items">Elementi della raccolta</Phrase>
      <Phrase Key="Showing_Items_Out_Of">Visualizzazione di 20 elementi su {0}</Phrase>
      <Phrase Key="View_All">Visualizza tutto</Phrase>
    </Section>

    <Section Name="Usage_Statistics">
      <Phrase Key="Title_Collection_Views">Cronologia dell'utilizzo a livello di raccolta</Phrase>
      <Phrase Key="Title_Item_Views">Cronologia dell'utilizzo degli elementi</Phrase>
      <Phrase Key="Title_Top_Titles">Titoli più consultati</Phrase>
      <Phrase Key="Title_Top_Items">Elementi più consultati</Phrase>
      <Phrase Key="Title_Definitions">Definizioni dei termini utilizzati</Phrase>

      <Phrase Key="Tab_Collection_Views">VISUALIZZAZIONI RACCOLTA</Phrase>
      <Phrase Key="Tab_Item_Views">VISUALIZZAZIONI ELEMENTI</Phrase>
      <Phrase Key="Tab_Top_Titles">TITOLI PIÙ VISTI</Phrase>
      <Phrase Key="Tab_Top_Items">ELEMENTI PIÙ VISTI</Phrase>
      <Phrase Key="Tab_Definitions">DEFINIZIONI</Phrase>

      <Phrase Key="Month_1">Gennaio</Phrase>
      <Phrase Key="Month_2">Febbraio</Phrase>
      <Phrase Key="Month_3">Marzo</Phrase>
      <Phrase Key="Month_4">Aprile</Phrase>
      <Phrase Key="Month_5">Maggio</Phrase>
      <Phrase Key="Month_6">Giugno</Phrase>
      <Phrase Key="Month_7">Luglio</Phrase>
      <Phrase Key="Month_8">Agosto</Phrase>
      <Phrase Key="Month_9">Settembre</Phrase>
      <Phrase Key="Month_10">Ottobre</Phrase>
      <Phrase Key="Month_11">Novembre</Phrase>
      <Phrase Key="Month_12">Dicembre</Phrase>

      <Phrase Key="Collection_History_Intro">Di seguito viene visualizzata la cronologia di utilizzo di questa raccolta. Questa cronologia include solo le visualizzazioni di livello superiore della raccolta.</Phrase>
      <Phrase Key="Item_History_Intro">Di seguito viene visualizzata la cronologia di utilizzo degli elementi all'interno di questa raccolta.</Phrase>
      <Phrase Key="Items_By_Collection_Intro">Di seguito sono riportati gli elementi più utilizzati per questa raccolta.</Phrase>
      <Phrase Key="Titles_By_Collection_Intro">Di seguito sono riportati i titoli più utilizzati per raccolta.</Phrase>
      <Phrase Key="Definitions_Link_Sentence"><![CDATA[La <a href="{0}">pagina delle definizioni</a> fornisce maggiori dettagli sulle statistiche e sui termini utilizzati di seguito.]]></Phrase>

      <Phrase Key="Year_Statistics_Suffix"> STATISTICHE</Phrase>
      <Phrase Key="Total">TOTALE</Phrase>

      <Phrase Key="Date">DATA</Phrase>
      <Phrase Key="Total_Views_Html"><![CDATA[VISUALIZZAZIONI<br />TOTALI]]></Phrase>
      <Phrase Key="Visits">VISITE</Phrase>
      <Phrase Key="Main_Pages_Html"><![CDATA[PAGINE<br />PRINCIPALI]]></Phrase>
      <Phrase Key="Browses">SFOGLIATURE</Phrase>
      <Phrase Key="Search_Results_Html"><![CDATA[RISULTATI<br />DI RICERCA]]></Phrase>
      <Phrase Key="Title_Views_Html"><![CDATA[VISUALIZZAZIONI<br />TITOLI]]></Phrase>
      <Phrase Key="Item_Views_Html"><![CDATA[VISUALIZZAZIONI<br />ELEMENTI]]></Phrase>

      <Phrase Key="Jpeg_Views_Html"><![CDATA[VISUALIZZAZIONI<br />JPEG]]></Phrase>
      <Phrase Key="Zoomable_Views_Html"><![CDATA[VISUALIZZAZIONI<br />INGRANDIBILI]]></Phrase>
      <Phrase Key="Citation_Views_Html"><![CDATA[VISUALIZZAZIONI<br />CITAZIONE]]></Phrase>
      <Phrase Key="Thumbnail_Views_Html"><![CDATA[VISUALIZZAZIONI<br />MINIATURE]]></Phrase>
      <Phrase Key="Text_Searches_Html"><![CDATA[RICERCHE<br />DI TESTO]]></Phrase>
      <Phrase Key="Flash_Views_Html"><![CDATA[VISUALIZZAZIONI<br />FLASH]]></Phrase>
      <Phrase Key="Map_Views_Html"><![CDATA[VISUALIZZAZIONI<br />MAPPA]]></Phrase>
      <Phrase Key="Download_Views_Html"><![CDATA[DOWNLOAD]]></Phrase>
      <Phrase Key="Static_Views_Html"><![CDATA[VISUALIZZAZIONI<br />STATICHE]]></Phrase>

      <Phrase Key="Bibid">BIBID</Phrase>
      <Phrase Key="Vid">VID</Phrase>
      <Phrase Key="Title">TITOLO</Phrase>
      <Phrase Key="Views">VISUALIZZAZIONI</Phrase>

      <Phrase Key="Definitions_Html"><![CDATA[<p>I seguenti termini sono definiti di seguito:</p>

<table width="600px" border="0" align="center">
  <tr>
    <td><a href="#Collection_Hierarchy">Gerarchia delle Raccolte</a></td>
    <td><a href="#Collection_Groups">Gruppi di Raccolte</a></td>
    <td><a href="#Collections">Raccolte</a></td>
  </tr>
  <tr>
    <td><a href="#SubCollections">Sottoraccolte</a></td>
    <td><a href="#Views">Visualizzazioni</a></td>
    <td><a href="#Visits">Visite</a></td>
  </tr>
  <tr>
    <td><a href="#Main_Pages">Pagine Principali</a></td>
    <td><a href="#Browses">Sfogliature</a></td>
    <td><a href="#Titles_Items">Titoli ed Elementi</a></td>
  </tr>
  <tr>
    <td><a href="#Title_Views">Visualizzazioni Titoli</a></td>
    <td><a href="#Item_Views">Visualizzazioni Elementi</a></td>
    <td><a href="#Citation_Views">Visualizzazioni Citazione</a></td>
  </tr>
  <tr>
    <td><a href="#Text_Searches">Ricerche di Testo</a></td>
    <td><a href="#Static_Views">Visualizzazioni Statiche</a></td>
    <td>&nbsp;</td>
  </tr>
</table>

<h2>Termini Definiti</h2>

<a name="Collection_Hierarchy" ></a>
<h3>GERARCHIA DELLE RACCOLTE</h3>
<p>Le raccolte sono organizzate per Gruppi di Raccolte, che contengono Raccolte, e le Raccolte contengono Sottoraccolte. Questa organizzazione gerarchica consente ricerche e sfogliature generali a livello di Gruppo di Raccolte e ricerche più dettagliate a livello di Raccolta, per un'usabilità ottimale in base alle diverse esigenze degli utenti. <br /><br />
Nella lettura delle statistiche per Raccolta, le visualizzazioni e le ricerche effettuate dalla pagina principale e dalle pagine dei Gruppi di Raccolte non rientrano nelle raccolte e pertanto non sono incluse nelle statistiche della Raccolta.</p>

<a name="Collection_Groups" ></a>
<h3>GRUPPI DI RACCOLTE</h3>
<p>I gruppi di raccolte sono aggregazioni di raccolte all'interno di questa biblioteca. I Gruppi di Raccolte semplificano la ricerca contemporanea in più Raccolte. I Gruppi di Raccolte collegano anche materiali meno strettamente correlati per aumentare la probabilità di scoperte fortuite, in cui gli utenti che cercano un argomento possono facilmente imbattersi in qualcosa di correlato e di grande utilità che non avevano considerato. Pertanto, i Gruppi di Raccolte sono generalmente costruiti per argomento. <br /><br />
Come aggregato, le visualizzazioni a livello di Gruppo di Raccolte non contano per nessuna Raccolta specifica e non sono incluse nelle statistiche basate sulle Raccolte.</p>

<a name="Collections" ></a>
<h3>RACCOLTE</h3>
<p>Le raccolte sono il metodo principale per definire e riunire materiali correlati e rappresentano le strutture gerarchiche più familiari per specialisti della materia, partner e altri utenti interni. Una singola Raccolta può esistere in più Gruppi di Raccolte e una singola Raccolta può avere molte sottoraccolte.  <br /><br />
Un elemento può trovarsi in più Raccolte, ma viene sempre selezionata una Raccolta come principale, in modo che tutte le visualizzazioni dell'elemento avvengano all'interno di un'unica Raccolta. </p>

<a name="SubCollections" ></a>
<h3>SOTTORACCOLTE</h3>
<p>L'unità raccolta più piccola è la Sottoraccolta. Un singolo elemento può appartenere a più Sottoraccolte all'interno della stessa raccolta, oppure a più Raccolte e a Sottoraccolte all'interno di ciascuna Raccolta. <br /><br />
Poiché tutti gli elementi delle Sottoraccolte hanno una Raccolta principale, le statistiche di utilizzo delle Sottoraccolte sono incluse anche nelle statistiche di utilizzo della Raccolta. </p>

<a name="Views" ></a>
<h3>VISUALIZZAZIONI</h3>
<p>Le visualizzazioni sono gli accessi effettivi alle pagine. Ogni volta che una persona visita {0}, ciò conta come una visualizzazione. Le statistiche di {0} vengono ripulite in modo che le visualizzazioni provenienti da robot, utilizzati dai motori di ricerca per indicizzare i siti web, vengano rimosse. Se non fossero rimosse, le visualizzazioni su tutte le raccolte e gli elementi sarebbero molto più elevate. Le statistiche di utilizzo web sono sempre in qualche misura fallibili, e questo è uno dei modi per garantire statistiche di utilizzo di migliore qualità. <br /><br />
Alcune statistiche web conteggiano i "download di elementi di pagina" come visualizzazioni, il che è molto impreciso poiché ogni pagina ha più elementi. Ad esempio, la pagina principale della biblioteca digitale, {0}, include l'HTML della pagina e tutte le immagini. Se le statistiche conteggiassero ogni "download di un elemento di pagina" come un accesso, ogni singola visualizzazione della pagina principale verrebbe conteggiata come oltre 30 "download di elementi di pagina". Per complicare ulteriormente le cose, alcuni repository digitali offrono solo download in PDF per consentire agli utenti di visualizzare gli elementi. Questi repository digitali tracciano i "download di elementi", che sono i più equivalenti alle nostre statistiche di utilizzo per "elemento". </p>

<a name="Visits" ></a>
<h3>VISITE</h3>
<p>Ogni volta che una persona visita questa biblioteca digitale, ciò conta come una visualizzazione, ma questo significa che un singolo utente che visita ripetutamente il sito può registrare un gran numero di visualizzazioni. Le visite offrono una statistica migliore su quanti utenti "unici" diversi utilizzano il sito. Le visite includono tutte le visualizzazioni provenienti da un determinato indirizzo IP (l'indirizzo web del computer dell'utente al momento della connessione), come registrato nel file di log web entro un'ora.  <br /><br />
Anche questa è una statistica fallibile, poiché gli indirizzi IP degli utenti vengono spesso riutilizzati nelle reti. Connettersi a una rete wireless gratuita significa che quella rete assegna un indirizzo IP al tuo computer, e quando poi ti disconnetti, quell'indirizzo IP verrà assegnato al successivo utente che ne ha bisogno. Per una risorsa basata su un campus con così tanti utenti che si connettono tramite VPN o dal campus, il margine di errore aumenta per le statistiche basate sulle visite. </p>

<a name="Main_Pages" ></a>
<h3>PAGINE PRINCIPALI</h3>
<p>Per ciascuno degli elementi nella Gerarchia delle Raccolte, le pagine principali sono le pagine iniziali o di destinazione, le pagine di ricerca, le pagine di contatto e qualsiasi altra pagina supplementare.  <br /><br />
Quando gli utenti effettuano una ricerca attraverso le pagine della Raccolta e visualizzano i risultati, anche quelle pagine dei risultati di ricerca sono incluse nelle pagine principali. Una volta che un utente clicca su uno degli elementi nei risultati di ricerca, quell'elemento non è più una delle pagine principali. Le visualizzazioni dei risultati di ricerca nelle modalità miniatura, tabella e breve sono tutte incluse nelle pagine principali della Raccolta.</p>

<a name="Browses" ></a>
<h3>SFOGLIATURE</h3>
<p>Le sfogliature includono le visualizzazioni rispetto alle sfogliature standard, come <i>Tutti gli Elementi</i> e <i>Nuovi Elementi</i> (quando disponibili).  Includono anche tutte le visualizzazioni delle sfogliature non standard.</p>

<a name="Search_Results" ></a>
<h3>RISULTATI DI RICERCA</h3>
<p>Le visualizzazioni dei risultati di ricerca includono ogni visualizzazione di una sezione di risultati di ricerca, incluse le ricerche che non hanno prodotto risultati.</p>

<a name="Titles_Items" ></a>
<h3>TITOLI ED ELEMENTI</h3>
<p>I titoli corrispondono a singole unità bibliografiche, come un libro o un giornale. Gli elementi sono i volumi all'interno dei titoli. Pertanto, un libro può avere un titolo e un elemento, mentre un giornale può avere un titolo e migliaia di elementi.  <br /><br />
I titoli con un solo elemento (o volume) risultano funzionalmente equivalenti per gli utenti. Tuttavia, per elementi come i giornali, un singolo titolo può corrispondere a migliaia di elementi. <br /><br />
I lettori della documentazione tecnica e gli utenti interni identificano i titoli tramite il loro identificatore bibliografico (BIBID) e gli elementi all'interno di ciascun titolo tramite il BIBID più l'identificatore di volume (VID).</p>

<a name="Title_Views" ></a>
<h3>VISUALIZZAZIONI TITOLI</h3>
<p>Le visualizzazioni dei titoli includono tutte le visualizzazioni a livello di titolo.</p>

<a name="Item_Views" ></a>
<h3>VISUALIZZAZIONI ELEMENTI</h3>
<p>Le visualizzazioni degli elementi includono solo le visualizzazioni a livello di elemento.</p>

<a name="Citation_Views" ></a>
<h3>VISUALIZZAZIONI CITAZIONE</h3>
<p>Per ciascun elemento, la visualizzazione predefinita è impostata sull'elemento di pagina (ingrandibile o statico, in base alla selezione dell'utente e alla disponibilità di ciascuna visualizzazione per quell'elemento). Tutti gli elementi includono anche una "Visualizzazione Citazione" che non è selezionata per impostazione predefinita. Le "Visualizzazioni Citazione" conteggiano il numero di volte in cui un utente sceglie la "Visualizzazione Citazione" per un elemento.</p>

<a name="Text_Searches" ></a>
<h3>RICERCHE DI TESTO</h3>
<p>Le ricerche di testo sono ricerche a livello di elemento all'interno del testo di un singolo documento.  Restituiscono le pagine in cui compare il termine o i termini cercati.</p>

<a name="Static_Views" ></a>
<h3>VISUALIZZAZIONI STATICHE</h3>
<p>Per ogni elemento di questa biblioteca, viene generata una pagina statica affinché i motori di ricerca possano indicizzarla.  Quando un elemento compare nei risultati di un motore di ricerca standard, il collegamento reindirizza l'utente alla pagina statica.  Qualsiasi navigazione aggiuntiva porta l'utente alle pagine generate dinamicamente all'interno di questa biblioteca.  Sono stati fatti sforzi per rimuovere da questi numeri tutte le visualizzazioni provenienti dall'indicizzazione dei motori di ricerca.  Questi numeri rappresentano il numero di utenti entrati in questa biblioteca da un motore di ricerca.</p>]]></Phrase>
    </Section>

  </Localization>
</SobekCM_Config>
